<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="header">
        <style>
            /* sobrescreve css */
            .ui-selectonemenu .ui-selectonemenu-trigger {
                padding: 3px 3px 0 3px !important;
                width: 25px !important;
            }
            .state-disabled, .ui-widget-content .ui-state-disabled {
                background-color: #009de4;
            }

        </style>

        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#editorTextArea").ckeditor();

            });

            function pegaConteudo() {
                var conteudo = CKEDITOR.instances.editorTextArea.getData();
                $('#inputhidden').val(conteudo);
                salvarNoticia(); //{p:remotecommand}
            }
        </script>

    </ui:define>

    <ui:define name="title">
        Intranet Administração - Adicionar Assunto
    </ui:define>

    <ui:define name="content">
        <fieldset style="margin-top: 25px;">
            <p:tabView id="tab">
                <p:tab title="Adicionar/Alterar/ Remover um Assunto">
                    <p:growl id="growl" life="7000" showDetail="TRUE"/>
                    <h:form id="newAssunto" prependId="false">


                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-4">
                                <p:selectOneMenu id="mercado_id" value="#{humanogramacontroller.mercado}" converter="mercadoGeralConverter" style="width: 100%;">
                                    <f:selectItem itemLabel="Selecione o Mercado.."/>
                                    <f:selectItems value="#{humanogramacontroller.mercados}" var="mercado" 
                                                   itemValue="#{mercado}" itemLabel="#{mercado.descricao}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="col-md-3">
                                <p:commandButton value="Buscar Assuntos" oncomplete="PF('dlgAssuntos').show();" 
                                                 actionListener="#{humanogramacontroller.pesquisarAssuntos}"
                                                 update="tableAssuntos" />
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-4">
                                <p:inputText value="#{humanogramacontroller.value.descricao}" placeholder="Descrição do Assunto.." style="width: 100%;"/>                       
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p:commandLink value="Adicionar" actionListener="#{humanogramacontroller.add()}"  disabled="#{humanogramacontroller.selected != null}"
                                               update=":tab:newAssunto :tab:growl" styleClass="btn btn-info" style="margin-right:15px;"/>
                                <p:commandLink value="Editar" actionListener="#{humanogramacontroller.edit()}" disabled="#{humanogramacontroller.selected == null}"
                                               update=":tab:newAssunto :tab:growl" styleClass="btn btn-warning" style="margin-right:15px;"/>
                                <p:commandLink value="Excluir" actionListener="#{humanogramacontroller.delete()}" disabled="#{humanogramacontroller.selected == null}"
                                               update=":tab:newAssunto :tab:growl" styleClass="btn btn-danger" style="margin-right:15px;"/>
                            </div>
                        </div>

                        <p:dialog widgetVar="dlgAssuntos" id="dlgAssuntos" resizable="false" closeOnEscape="true" draggable="false" header="Lista de Assuntos" modal="true">
                            <p:ajax event="close" listener="#{humanogramacontroller.limparListagens}" update="" />

                            <div class="container">
                                <div class="row">
                                    <p:dataTable id="tableAssuntos" paginator="true" paginatorPosition="bottom" emptyMessage="Não há assuntos para este mercado."
                                                 var="assunto" rowKey="#{assunto.id}" rows="15" value="#{humanogramacontroller.assuntosMercado}" selectionMode="single"
                                                 selection="#{humanogramacontroller.selected}">

                                        <p:ajax event="rowSelect" listener="#{humanogramacontroller.onRowSelect}" update="@(form)" 
                                                onsuccess="PF('dlgAssuntos').hide()"/>

                                        <p:column headerText="ID">
                                            <h:outputText value="#{assunto.id}" />
                                        </p:column>
                                        <p:column headerText="ASSUNTO">
                                            <h:outputText value="#{assunto.descricao}" />                                    
                                        </p:column>    
                                        <p:column headerText="MERCADO">
                                            <h:outputText value="#{assunto.mercadogeral.descricao}" />
                                        </p:column>
                                    </p:dataTable> 
                                </div>
                            </div>                
                        </p:dialog>
                    </h:form>

                    <hr />
                    <h:form id="form_up_assuntos" prependId="false">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Adicionar lista de Assuntos</h2>
                            <h:form id="formUpAssunto" prependId="false">
                                <h:outputLabel value="Importar CSV"/>
                                <p:fileUpload fileUploadListener="#{humanogramacontroller.lerArqAssunto}"
                                              id="anexone"
                                              mode="advanced"
                                              update="formUpAssunto :tab:growl :tab:newAssunto"
                                              sizeLimit="900000000"
                                              label="Selecionar"
                                              allowTypes="/(\.|\/)(csv)$/" 
                                              oncomplete="Salvar()"/>
                            </h:form>
                            <h5>Modelo do Arquivo CSV (separado por " ; ")</h5> 
                            <ol class="breadcrumb">
                                <li>Descrição</li>
                                <li>idMercado</li>
                            </ol>
                        </div>
                    </div>
                    <h:panelGroup id="scriptAlert">
                        <script type="text/javascript">
                            function swetAlert() {
                                var ok = #{funcController.opSucesso};
                                if (ok) {
                                    swal("Bom Trabalho!", "Formulário salvo com sucesso!", "success");
                                } else {
                                    swal("Ooops!", "Erro na validação do formulário favor refazer a operação!", "error");
                                }
                            }

                            function Salvar() {
                                swal({
                                    title: "Você tem Certeza?",
                                    text: "Essa operação salvará dados na base de dados. Deseja continuar?",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Sim, salve isto!",
                                    cancelButtonText: "Não, cancele isto!",
                                    closeOnConfirm: false
                                },
                                function () {
                                    salvarAssuntosUP();
                                });
                            }

                            function mostraAlerta() {
                                var ok = #{humanogramacontroller.opSucess};
                                if (ok) {
                                    swal({
                                        title: "Bom Trabalho!",
                                        text: "Os assuntos foram salvos com sucesso!",
                                        type: "success",
                                        timer: 2000
                                    });
                                } else {
                                    swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                                }
                            }

                        </script>
                    </h:panelGroup>
                    <p:remoteCommand name="salvarAssuntosUP" action="#{humanogramacontroller.salvarAssuntos()}" oncomplete="mostraAlerta()"
                             update=":tab:form_up_assuntos:scriptAlert"/>
                    </h:form>
                </p:tab>


                <!-- ADICIONANDO PRODUUUUUTO-->

                <p:tab title="Adicionar/Alterar/Remover Produto">

                    <h:form id="newProduto" prependId="false">
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-4">
                                <p:selectOneMenu id="assunto_id" value="#{humanogramacontroller.value}" converter="assuntoConverter" style="width: 100%;">
                                    <f:selectItem itemLabel="Selecione o Assunto.."/>
                                    <f:selectItems value="#{humanogramacontroller.listaassuntos}" var="assunto" 
                                                   itemValue="#{assunto}" itemLabel="#{assunto.descricao}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="col-md-3">
                                <p:commandButton value="Buscar Produtos" oncomplete="PF('dlgProduto').show();" 
                                                 actionListener="#{humanogramacontroller.pesquisarProdutos}"
                                                 update="tableProdutos" />
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-4">
                                <p:inputText value="#{humanogramacontroller.produto.descricao}" placeholder="Descrição do Produto.." style="width: 100%;"/>                       
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p:commandLink value="Adicionar" actionListener="#{humanogramacontroller.addProduto()}"  disabled="#{humanogramacontroller.produto.id != null}"
                                               update=":tab:newProduto tableProdutos :tab:growl" styleClass="btn btn-info" style="margin-right:15px;"/>
                                <p:commandLink value="Editar" actionListener="#{humanogramacontroller.editProduto()}" disabled="#{humanogramacontroller.produto.id == null}"
                                               update=":tab:newProduto tableProdutos :tab:growl" styleClass="btn btn-warning" style="margin-right:15px;"/>
                                <p:commandLink value="Excluir" actionListener="#{humanogramacontroller.deleteProduto()}" disabled="#{humanogramacontroller.produto.id == null}"
                                               update=":tab:newProduto tableProdutos :tab:growl" styleClass="btn btn-danger" style="margin-right:15px;"/>
                            </div>
                        </div>

                        <p:dialog widgetVar="dlgProduto" id="dlgProdutos" resizable="false" closeOnEscape="true" draggable="false" header="Lista de Produtos" modal="true">
                            <p:ajax event="close" listener="#{humanogramacontroller.limparListagens}" update="dlgProdutos" />

                            <div class="container">
                                <div class="row">
                                    <p:dataTable id="tableProdutos" paginator="true" paginatorPosition="bottom" emptyMessage="Não há produtos para este mercado."
                                                 var="produto" rowKey="#{produto.id}" rows="15" value="#{humanogramacontroller.produtosAssunto}" selectionMode="single"
                                                 selection="#{humanogramacontroller.produtoSelecionado}">

                                        <p:ajax event="rowSelect" listener="#{humanogramacontroller.onRowProdutoSelect}" update=":tab:newProduto :tab:growl" 
                                                onsuccess="PF('dlgProduto').hide()"/>

                                        <p:column headerText="ID PRODUTO">
                                            <h:outputText value="#{produto.id}" />
                                        </p:column>
                                        <p:column headerText="PRODUTO">
                                            <h:outputText value="#{produto.descricao}" />                                    
                                        </p:column>                                
                                        <p:column headerText="ASSUNTO">
                                            <h:outputText value="#{produto.assunto.descricao}" />
                                        </p:column>

                                    </p:dataTable> 
                                </div>
                            </div>                
                        </p:dialog>
                    </h:form>

                    <hr />
                    <h2>Adicionar lista de Produtos</h2>
                    <h:form id="formUpProduto" prependId="false">
                        <h:outputLabel value="Importar CSV"/>
                        <p:fileUpload fileUploadListener="#{humanogramacontroller.lerArqProduto}"
                                      id="produtoanexo"
                                      mode="advanced"
                                      sizeLimit="900000000"
                                      update=":tab:newProduto:tableProdutos :tab:growl"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(csv)$/" />
                    </h:form>
                    <h5>Modelo do Arquivo CSV (separado por " ; ")</h5> 
                    <ol class="breadcrumb">
                        <li>Descrição</li>
                        <li>idAssunto</li>
                    </ol>

                </p:tab>

                <p:tab title="Adicionar/Alterar/Remover Assunto de Funcionário">
                    <h:form id="form">
                        <div class="row">
                            <div class="col-md-6">
                                <p:outputLabel value="Funcionário" />
                                <p:selectOneMenu id="fun_id" value="#{humanogramacontroller.funcionario}" converter="funcionarioConverter" style="width: 100%;">
                                    <f:selectItem itemLabel="Selecione o Funcionario.."/>
                                    <f:selectItems value="#{humanogramacontroller.funcionariosSuper}" var="funcionario" 
                                                   itemValue="#{funcionario}" itemLabel="#{funcionario.nome}"/>
                                    <p:ajax update=":tab:form:eventsDT :tab:form:btn_add"  event="change" />
                                </p:selectOneMenu>

                                <p:commandLink id="btn_add" value="Adicionar Assuntos" oncomplete="PF('dlgAddAssunto').show()" disabled="#{humanogramacontroller.funcionario == null}"
                                               update=":tab:form:checkboxDT :tab:growl" styleClass="btn btn-info" style="margin-top: 20px;" />
                            </div>

                            <div class="col-md-6">
                                <p:dataTable id="eventsDT" var="assunto" value="#{humanogramacontroller.funcionario.assuntos}" selectionMode="single" 
                                             selection="#{humanogramacontroller.selected}" rowKey="#{assunto.id}" paginator="true" paginatorPosition="bottom"
                                             rows="10">
                                    <f:facet name="header">
                                        Assuntos do Funcionario #{humanogramacontroller.funcionario.nome}
                                    </f:facet>
                                    <p:ajax event="rowSelect" listener="#{humanogramacontroller.onRowAssuntoFunicionarioSelect}" update=":tab:form:eventsDT:botoes" />
                                    <p:column headerText="ID">
                                        <h:outputText value="#{assunto.id}" />
                                    </p:column>
                                    <p:column headerText="DESCRIÇÃO">
                                        <h:outputText value="#{assunto.descricao}" />
                                    </p:column>
                                    <p:column headerText="MERCADO">
                                        <h:outputText value="#{assunto.mercadogeral.descricao}" />
                                    </p:column>
                                    <f:facet name="footer">
                                        <p:commandButton actionListener="#{humanogramacontroller.excluirAssunto}" id="botoes"
                                                         update=":tab:form:eventsDT :tab:growl" icon="fa fa-remove" value="Excluir Assunto" />
                                    </f:facet>
                                </p:dataTable>
                            </div>
                        </div>

                        <p:dialog header="ADICIONAR ASSUNTOS" widgetVar="dlgAddAssunto" id="dlgAddAssunto" height="550" width="800">
                            <p:dataTable id="checkboxDT" var="assunto" value="#{humanogramacontroller.listaassuntos}" selection="#{humanogramacontroller.assuntosSelecionados}" 
                                         rowKey="#{assunto.id}" style="margin-bottom:0" paginator="true" paginatorPosition="bottom" rows="13">
                                <f:facet name="header">
                                    Assuntos
                                </f:facet>
                                <p:column selectionMode="multiple" width="50" style="text-align:center"/>
                                <p:column headerText="ID">
                                    <h:outputText value="#{assunto.id}" />
                                </p:column>
                                <p:column headerText="DESCRIÇÃO" sortBy="#{assunto.descricao}" filterBy="#{assunto.descricao}" filterMatchMode="contains">
                                    <h:outputText value="#{assunto.descricao}" />
                                </p:column>
                                <p:column headerText="MERCADO" sortBy="#{assunto.mercadogeral.descricao}" filterBy="#{assunto.mercadogeral.descricao}" filterMatchMode="contains">
                                    <h:outputText value="#{assunto.mercadogeral.descricao}" />
                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton actionListener="#{humanogramacontroller.addAssuntos}"  oncomplete="PF('dlgAddAssunto').hide()"
                                                     update=":tab:form:eventsDT :tab:form:checkboxDT :tab:growl" icon="fa fa-plus-circle" value="Add Assuntos" />
                                </f:facet>
                            </p:dataTable>   
                        </p:dialog>

                    </h:form>

                    <div class="row">
                        <div class="col-md-6">
                            <h2>Adicionar Assuntos de Funcionário</h2>
                            <h:form id="formUpAssuntoFuncionario" prependId="false">
                                <h:outputLabel value="Importar CSV"/>
                                <p:fileUpload fileUploadListener="#{humanogramacontroller.lerArqFuncs_Assunto}"
                                              id="Funcs_AssuntoAnexo"
                                              mode="advanced" update=":tab:growl"
                                              sizeLimit="900000000"
                                              label="Selecionar"
                                              allowTypes="/(\.|\/)(csv)$/" />
                            </h:form>
                            <h5>Modelo do Arquivo CSV (separado por " ; ")</h5> 
                            <ol class="breadcrumb">
                                <li>idFuncionário</li>
                                <li>idAssunto</li>
                            </ol>
                        </div>
                    </div>
                </p:tab>

                <p:tab title="Exportar Bases de Dados">
                    <h:form id="formExport">           

                        <p:accordionPanel>
                            <p:tab title="Exportar Assuntos">
                                <p:dataTable id="tblAss" var="assunto" value="#{humanogramacontroller.listaassuntos}"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                                             paginator="true" rows="10" paginatorPosition="bottom">

                                    <f:facet name="{Exporters}">
                                        <h:commandLink value="PDF" style="margin-left: 125px;"> 
                                            <p:dataExporter type="pdf" target="tblAss" fileName="assuntos" encoding="ISO-8859-1"/>
                                        </h:commandLink>

                                        <h:commandLink value="CSV" style="margin-left: 25px;">
                                            <p:dataExporter type="csv" target="tblAss" fileName="assuntos" encoding='ISO-8859-1'/>
                                        </h:commandLink>

                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="ID" />
                                        </f:facet>
                                        <h:outputText value="#{assunto.id}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="DESCRIÇÃO"/>
                                        </f:facet>
                                        <h:outputText value="#{assunto.descricao}" />
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Mercado"/>
                                        </f:facet>
                                        <h:outputText value="#{assunto.mercadogeral.descricao}" />
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="ID_Mercado"/>
                                        </f:facet>
                                        <h:outputText value="#{assunto.mercadogeral.id}" />
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="Exportar Produtos">
                                <p:dataTable id="tblP" var="produto" value="#{humanogramacontroller.produtos}"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                                             paginator="true" rows="10" paginatorPosition="bottom">

                                    <f:facet name="{Exporters}">
                                        <h:commandLink value="PDF" style="margin-left: 125px;">
                                            <p:dataExporter type="pdf" target="tblP" fileName="produtos" encoding="ISO-8859-1"/>
                                        </h:commandLink>

                                        <h:commandLink value="CSV" style="margin-left: 25px;">
                                            <p:dataExporter type="csv" target="tblP" fileName="produtos" encoding='ISO-8859-1'/>
                                        </h:commandLink>
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="ID" />
                                        </f:facet>
                                        <h:outputText value="#{produto.id}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="DESCRIÇÃO"/>
                                        </f:facet>
                                        <h:outputText value="#{produto.descricao}" />
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="ID ASSUNTO"/>
                                        </f:facet>
                                        <h:outputText value="#{produto.assunto.id}" />
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="Exportar Assuntos de Funcionários">

                                <p:dataTable id="tblF" var="funcinario" value="#{humanogramacontroller.funcionariosSuper}"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                                             paginator="true" rows="10" paginatorPosition="bottom">

                                    <f:facet name="{Exporters}">
                                        <h:commandLink value="PDF" style="margin-left: 125px;">
                                            <p:dataExporter type="pdf" target="tblF" fileName="funcinario" encoding="ISO-8859-1"/>
                                        </h:commandLink>

                                        <h:commandLink value="CSV" style="margin-left: 25px;">
                                            <p:dataExporter type="csv" target="tblF" fileName="funcinario" encoding='ISO-8859-1'/>
                                        </h:commandLink>
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="ID" />
                                        </f:facet>
                                        <h:outputText value="#{funcinario.fmatricula}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="DESCRIÇÃO"/>
                                        </f:facet>
                                        <h:outputText value="#{funcinario.nome}" />
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="Exportar Funcionários">

                                <p:dataTable id="tblFuncionarios" var="funcinario" value="#{humanogramacontroller.allFuncionarios}"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                                             paginator="true" rows="10" paginatorPosition="bottom">

                                    <f:facet name="{Exporters}">
                                        <h:commandLink value="CSV" style="margin-left: 25px;">
                                            <p:dataExporter type="csv" target="tblFuncionarios" fileName="funcinario" encoding='ISO-8859-1'/>
                                        </h:commandLink>
                                    </f:facet>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Matricula" />
                                        </f:facet>
                                        <h:outputText value="#{funcinario.matriculaNum}" />
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nome"/>
                                        </f:facet>
                                        <h:outputText value="#{funcinario.nome}" />
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </p:accordionPanel>
                    </h:form>
                </p:tab>
            </p:tabView>
        </fieldset>
    </ui:define>
</ui:composition>
