        
@import url("../font-face/fonts.css");

#footer {
    position: relative;
    bottom: 0;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}


h2, h3 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 20px;
    color: #262626;
}

h2 {
    padding: 10px;
    border-left: 2px solid #262626;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

h3, h4 {
    font-size: 1.5em;

}
h4 {
    font-family: "Oswald", sans-serif;
    color: #0782C1;
    margin-bottom: 10px;

}
h5 {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
p.endereco {
    margin-bottom: 5px;
}

p.endereco_super {
    margin-bottom: 10px;
}
p {
    font-family: "Lato", sans-serif;
    line-height: 22px;
    font-size: 0.8em;
    word-spacing: 5px;
}
p.botoes{
    margin-top: 20px;
}
.box-info {
    text-transform: none;
}

.noPading {
    padding: 0;
}
.dadosInst, .dadosInstBold {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}
.dadosInst {
    float: right;
}
.dadosInstBold {
    font-weight: bold;
    float: left;
}

.marginZero {
    margin: 0;
}