<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="title">
        Intranet Administração - Gerenciar Galerias
    </ui:define>
    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/jscrollpane.css" media="screen"/>
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/jquery.fancybox.css"
              media="screen"/>
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/galeria.css" media="screen"/>

        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/mwheelIntent.js"></script>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jscrollpane.min.js"></script>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.fancybox.js"></script>
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
        <script type="text/javascript">
            var albumSelected;

            $(document).ready(function () {
                $("#draggable").draggable();
                $("#droppable").droppable({
                    drop: function (event, ui) {
                        $(this)
                                .addClass("ui-state-highlight")
                                .find("p")
                                .html("Dropped!");
                    }
                });
                $("#buttonAdd").on('click', function () {
                    if ($(this).hasClass('disable'))
                        return false;
                    imgDialog.show();
                });

                $(".preview").delegate('img', 'mouseenter', function () {
                    console.log("mouse enter");
                    if ($(this).hasClass('stackphotos')) {
                        var $parent = $(this).parent();
                        $parent.find('img#photo1').addClass('rotate1');
                        $parent.find('img#photo2').addClass('rotate2');
                        $parent.find('img#photo3').addClass('rotate3');
                    }
                }).delegate('img', 'mouseleave', function () {
                    $('img#photo1').removeClass('rotate1');
                    $('img#photo2').removeClass('rotate2');
                    $('img#photo3').removeClass('rotate3');
                });


                $('.album.load').on('click', function (e) {
                    $('.album').removeClass('selected', 30);
                    var albumid = $(this).attr('id');
                    albumSelected = albumid;

                    $(this).addClass('selected', 30);

                    loadalbum(albumid);
                });

                $(".albumDelete").on('click', function () {
                    deleteAlbum();
                    $('.album_edit').fadeOut(400, function () {
                        $('.boxtitle .texttip').show();
                        $('.boxtitle').css({'margin-left': '0'});
                        imgRow();
                    });
                    $(this).html('Deletar Álbum').attr('title', 'Clique Aqui para Editar o Álbum ').removeClass('editOff').addClass('editOn');
                    $(' .albumImagePreview').hide();
                    $(' .screen-msg').show();


                });

                $('#editAlbum.editOn').on('click', function () {

                    $('.album_edit').fadeIn(400);
                    $('.boxtitle').css({'margin-left': '207px'});
                    $('.boxtitle .texttip').hide();
                    imgRow();
                    update();
                }); 

                $('#editAlbum.editOff').on('click', function () {

                    $('.album_edit').fadeOut(400, function () {
                        $('.boxtitle .texttip').show();
                        $('.boxtitle').css({'margin-left': '0'});
                        imgRow();
                    });
                    $(this).html('Editar Álbum').attr('title', 'Clique aqui para editar o álbum ').removeClass('editOff').addClass('editOn');

                });

                $('#albumsList').jScrollPane({autoReinitialise: true});
                $('.albumpics').jScrollPane({autoReinitialise: true});
                $('.overflow').jScrollPane({autoReinitialise: true});
                $('.todate').jScrollPane({autoReinitialise: true});

                // images hover
                $('.picHolder,.SEdemo').hover(
                        function () {
                            $(this).find('.picTitle').fadeTo(200, 1);
                        }, function () {
                            $(this).find('.picTitle').fadeTo(200, 0);
                        });

                $('.albumImage').dblclick(function () {
                    console.log("clique duplo");
                    $("a[rel=glr]").fancybox({
                        'showCloseButton': true,
                        'overlayOpacity': 0.8,
                        'padding': 0,
                        'autoCenter ': true,
                        'centerOnScroll': true,
                        helpers: {
                            title: {
                                type: 'outside'
                            }
                        }
                    });
                    $(this).find('a').trigger('click');
                    console.log("clique duplo");
                });

                $("#sortable").sortable({
                    opacity: 0.6, revert: true, cursor: "move", zIndex: 9000
                });
                $('.album').droppable({
                    hoverClass: 'over',
                    activeClass: 'dragging',
                    drop: function (event, ui) {

                        if ($(this).hasClass('selected'))
                            return false;
                        loading('Moving');
                        var draggableId = ui.draggable.attr("id");
                        var droppableId = $(this).attr("id");
                        ui.helper.fadeOut(400);
                        setTimeout("unloading()", 1500);
                        console.log(draggableId + "teste" + droppableId);

                        document.getElementById('id').value = draggableId;
                        document.getElementById('iddestino').value = droppableId;

                        moveImage();
                    },
                    tolerance: 'pointer'
                });
            });

            function addImage(id) {
                console.log("ID is : " + id);
                console.log("Album ID is : " + albumSelected);

                document.getElementById('id').value = id;
                document.getElementById('iddestino').value = albumSelected;
                addImagemSelected();
                loadalbum(albumSelected);
            }

            function uploadDeImagens() {
                console.log("Album ID is : " + albumSelected);
                document.getElementById('idalbum2').value = albumSelected;
                uploadAlbumImage();
                loadalbum(albumSelected);
            }
            function caixaAlta(id) {
                var texto = document.getElementById(id).value;
                document.getElementById(id).value = texto.toUpperCase();
            }


            function beforeUpdadeGallery() {
                $("#albumsList").find("#" + albumSelected).addClass('selected', 30);

                $(".preview").delegate('img', 'mouseenter', function () {
                    console.log("mouse enter");
                    if ($(this).hasClass('stackphotos')) {
                        var $parent = $(this).parent();
                        $parent.find('img#photo1').addClass('rotate1');
                        $parent.find('img#photo2').addClass('rotate2');
                        $parent.find('img#photo3').addClass('rotate3');
                    }
                }).delegate('img', 'mouseleave', function () {
                    $('img#photo1').removeClass('rotate1');
                    $('img#photo2').removeClass('rotate2');
                    $('img#photo3').removeClass('rotate3');
                });

                $('.album').droppable({
                    hoverClass: 'over',
                    activeClass: 'dragging',
                    drop: function (event, ui) {

                        if ($(this).hasClass('selected'))
                            return false;
                        loading('Moving');
                        var draggableId = ui.draggable.attr("id");
                        var droppableId = $(this).attr("id");
                        ui.helper.fadeOut(400);
                        setTimeout("unloading()", 1500);
                        console.log(draggableId + "teste" + droppableId);

                        document.getElementById('id').value = draggableId;
                        document.getElementById('iddestino').value = droppableId;

                        moveImage();
                    },
                    tolerance: 'pointer'
                });

                $("#sortable").sortable({
                    opacity: 0.6, revert: true, cursor: "move", zIndex: 9000
                });

                $('.albumImage').dblclick(function () {
                    $("a[rel=glr]").fancybox({
                        'showCloseButton': true,
                        'overlayOpacity': 0.8,
                        'padding': 0,
                        'autoCenter ': true,
                        'centerOnScroll': true,
                        helpers: {
                            title: {
                                type: 'outside'
                            }
                        }
                    });
                    $(this).find('a').trigger('click');
                });
            }

            function teste() {
                $("#sortable").sortable({
                    opacity: 0.6, revert: true, cursor: "move", zIndex: 9000
                });
                $('.albumImage').dblclick(function () {
                    console.log("clique duplo");
                    $("a[rel=glr]").fancybox({
                        'showCloseButton': true,
                        'overlayOpacity': 0.8,
                        'padding': 0,
                        'autoCenter ': true,
                        'centerOnScroll': true,
                        helpers: {
                            title: {
                                type: 'outside'
                            }
                        }
                    });
                    $(this).find('a').trigger('click');
                    console.log("clique duplo");
                });
            }
            function t(id) {
                document.getElementById('teste5').value = id;
                add();
            }

            function sair() {
                $('.album_edit').fadeOut(400, function () {
                    $('.boxtitle .texttip').show();
                    $('.boxtitle').css({'margin-left': '0'});
                    imgRow();
                });
                $('#editAlbum.editOff').html('Editar Álbum').attr('title', 'Clique aqui para editar o álbum ').removeClass('editOff').addClass('editOn');
            }

            function imgRow() {
                var maxrow = $('.albumpics').width();
                if (maxrow) {
                    maxItem = Math.floor(maxrow / 160);
                    maxW = maxItem * 160;
                    mL = (maxrow - maxW) / 2;
                    $('.albumpics ul').css({
                        'width': maxW,
                        'marginLeft': mL
                    });
                }
            }

            function loadalbum(albumid) {
                document.getElementById('idalbum').value = albumid;
                select();
                update();
                loading('Loading');
                $(' .albumImagePreview').show();
                imgRow();
                $(' .albumImagePreview').fadeOut(function () {

                    $('#uploadAlbum').removeClass('disable secure ').addClass('special add ');
                    $('#buttonAdd').removeClass('disable secure ');
                    $('#uploadButtondisable').css({'display': 'none'});
                    $('.screen-msg').hide();
                    setTimeout("unloading()", 500);
                }).delay(400).fadeIn();
            }

            function loading(name, overlay) {
                console.log(name);
            }
            function unloading() {

            }

            function up() {
                $('.picPreview').droppable({
                    hoverClass: 'picPreview-hover',
                    activeClass: 'picPreview-hover',
                    drop: function (event, ui) {
                        $('#image-albumPreview').attr('src', ui.draggable.find('img').attr('src'));
                        var draggableId = ui.draggable.attr("id");
                        document.getElementById('id').value = draggableId;
                        trocarImagemCapa();
                    }
                });
                $('.deletezone').droppable({
                    hoverClass: 'deletezoneover',
                    activeClass: 'deletezonedragging',
                    drop: function (event, ui) {
                        ui.helper.fadeOut(function () {
                            ui.helper.remove();
                            setTimeout("unloading()", 1500);
                            var draggableId = ui.draggable.attr("id");
                            document.getElementById('id').value = draggableId;
                            removerImagem();
                        });
                    },
                    tolerance: 'pointer'
                });
                $('.albumImage').dblclick(function () {
                    console.log("clique duplo");
                    $("a[rel=glr]").fancybox({
                        'showCloseButton': true,
                        'overlayOpacity': 0.8,
                        'padding': 0,
                        'autoCenter ': true,
                        'centerOnScroll': true,
                        helpers: {
                            title: {
                                type: 'outside'
                            }
                        }
                    });
                    $(this).find('a').trigger('click');
                    console.log("clique duplo");
                });
            }
        </script>
    </ui:define>

    <ui:define name="content">
        <h:form id="novoAlbumDialog" prependId="false">
            <p:dialog header="Novo Álbum" modal="true" widgetVar="novoAlbum" position="600, 300" showEffect="fade">
                <h:panelGrid columns="1">
                    <h:outputLabel value="Título"/>
                    <p:inputText value="#{galleryController.value.title}" maxlength="20" id="tituloAlbum"
                                 onkeypress="caixaAlta('tituloAlbum')" onblur="caixaAlta('tituloAlbum')"/>
                    
                    <h:outputLabel value="Data"/>
                    <p:calendar id="dataAlbum" mask="true" pattern="dd/MM/yyyy" value="#{galleryController.value.publicationDate}"/>
                    
                    <h:outputLabel value="Mercado "/>
                    <p:selectOneMenu value="#{galleryController.value.category}"
                                     style="width: 100%;"
                                     converter="mercadoConverter"
                                     requiredMessage="Selecione uma Linha de Crédito">
                        <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                        <f:selectItems value="#{utilController.listCategorias}"
                                       var="mercado"
                                       itemValue="#{mercado}"
                                       itemLabel="#{mercado}"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="Descrição"/>
                    <p:inputTextarea value="#{galleryController.value.description}"
                                     style="width: 100%;height: 100px; margin-top: 10px;"/>
                </h:panelGrid>
                <br/>

                <p>
                    <p:commandButton value="Criar Álbum" action="#{galleryController.add()}"
                                     update=":albumListForm :imagensDoAlbum novoAlbumDialog"
                                     oncomplete="PF('novoAlbum').hide(); beforeUpdadeGallery();"/>
                </p>
            </p:dialog>
        </h:form>

        <h:form enctype="multipart/form-data" id="newImagem" prependId="false">
            <p:dialog header="Upload de imagens" modal="true" widgetVar="upImages" showEffect="fade"
                      resizable="false" position="topo">
                <div id="upload" style="max-height: 500px;overflow: auto;">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <p:messages id="msg"/>
                        <h:outputLabel value="Imagem"/>
                        <p:fileUpload fileUploadListener="#{imageController.fileUploadAll}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      multiple="true"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                        <h:inputHidden id="idalbum2" value="#{galleryController.idAlbumSelecionado}"/>
                        <br/>
                    </h:panelGrid>
                </div>
                <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                <ul class="uibutton-group">
                    <a class="uibutton save_form normal loading" onclick="uploadDeImagens();">Salvar</a>
                    <a class="uibutton normal " onclick="PF('upImages').hide();">Cancelar</a>
                </ul>
                <p:remoteCommand name="uploadAlbumImage" actionListener="#{galleryController.uploadForGallery()}"
                                 update="newImagem"/>

            </p:dialog>
        </h:form>


        <div class="onecolumn">
            <div class="header">
                <h:form id="topMenu">
                    <span><span class="ico gray pictures_folder"></span>GALERIAS</span>

                    <div id="buttom_top">
                        <ul class="uibutton-group">
                            <li><a class="uibutton icon add pop_box" onclick="PF('novoAlbum').show();">Novo Álbum</a>
                            </li>
                            <li>
                                <div id="uploadButtondisable"></div>
                                <a class="uibutton disable icon secure pop_box" id="uploadAlbum"
                                   onclick="PF('upImages').show();">Upload de Imagens</a>
                            </li>
                        </ul>
                    </div>
                </h:form>
            </div>
            <!-- End header -->
            <div class="clear"></div>
            <div class="content">

                <div id="albumsList">
                    <div style="padding:0">
                        <h:form prependId="false" id="albumListForm">
                            <ui:repeat var="album" value="#{galleryController.galerias}">
                                <div class="album load" id="#{album.id}">
                                    <div class="preview">
                                        <ui:repeat var="imagem" value="#{galleryController.imagensLista(album.id)}"
                                                   varStatus="status"
                                                   rendered="#{galleryController.imagensLista(album.id) != null}">
                                            <img width="130" id="photo#{(3 - status.index)}" class="stackphotos"
                                                 src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(imagem.image.archive.url)}"
                                                 alt="Thumbnail#{imagem.id}"/>
                                        </ui:repeat>

                                        <div style="clear:both"></div>
                                    </div>
                                    <div class="title">#{album.title}</div>
                                    <div class="stats">Descrição: #{album.description}</div>
                                    <div class="stats">Images: <span
                                            class="picCount">#{galleryController.contarImagens(album)}</span></div>
                                    <div class="clear"></div>
                                </div>
                            </ui:repeat>
                        </h:form>
                    </div>
                </div>


                <div class="screen-msg"><span class="icon"><img
                        src="#{facesContext.externalContext.requestContextPath}/resources/images/dialog.png"
                        alt="dialog"/></span>Click album to more any images.
                </div>

                <div class="albumImagePreview">
                    <div class="album_edit" style="display:none">
                        <h:form prependId="false" id="albumEditForm">
                            <br/>

                            <h1>Editar Album</h1>
                            
                            <h:outputLabel value="Capa"/>
                            <div class="picPreview"><img id="image-albumPreview" title="Arraste sua imagem de capa" src="#{galleryController.capa}" alt="Arraste a sua imagem de Capa"/></div>
                            <div class="hr"></div>

                            <input type="hidden" name="id_edit" id="id_edit" value="1"/>
                            <input type="hidden" name="thumbPreview" id="thumbPreview"/>

                            <h:outputLabel value="Título"/> <br/>
                            <h:inputText value="#{galleryController.selected.title}" maxlength="20" style="width:146px" id="name" onkeypress="caixaAlta('name')" onblur="caixaAlta('name')"/>
                            <br/>
                            <h:outputLabel value="Descrição"/> <br/>
                            <h:inputTextarea value="#{galleryController.selected.description}" style="width:146px; height: 40px;" id="n"/>
                            
                            
                            
                            <div class="hr"></div>
                            <ul class="uibutton-group">
                                <a class="uibutton save_form normal loading" onclick="salvarAlbum();">Salvar</a>
                                <a class="uibutton normal" onclick="sair();">Cancelar</a>
                                <a class="uibutton normal" onclick="#{album != null ? 'deletarAlb();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou uma galeria!\',2000)'}" >Excluir</a>
                            </ul>
                            <div class="hr"></div>
                            <div class="deletezone small"> Deletar a imagem</div>
                            <div class="hr"></div>

                            <div class="clear"></div>
                            <p:remoteCommand id="salvarEdit" name="salvarAlbum" oncomplete="sair()"
                                             actionListener="#{galleryController.edit()}"
                                             update=":albumListForm :imagensDoAlbum"/>
                            
                            <p:remoteCommand id="deletar" name="deletarAlb" oncomplete="sair()"
                                             actionListener="#{galleryController.delete()}"
                                             update=":albumListForm :imagensDoAlbum"/>
                        </h:form>
                    </div>

                    <div class="boxtitle">
                        <span class="texttip">Dê um duplo clique para aumentar as imagens // </span>
                        <span class="tip"><a id="editAlbum" class="editOn">Editar</a></span>
                    </div> 


                    <h:panelGroup layout="block" id="imagensDoAlbum">
                        <div class="albumpics">

                            <ul id="sortable">
                                <ui:repeat var="imagemm" value="#{galleryController.imagensDaGaleria}">
                                    <li class="albumImage" id="#{imagemm.id}">
                                        <div class="picHolder">
                                            <span class="image_highlight"></span>
                                            <a href="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(imagemm.image.archive.url)}"
                                               rel='glr'></a>
                                            <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(imagemm.image.archive.url)}"
                                                 title="Drag This Photo" width="125"/>

                                            <div class="picTitle">#{imagemm.image.title} - #{imagemm.id}</div>
                                            <ul class="dataImg"><!--// This data images with your call to php or SQL -->
                                                <li>10</li>
                                                <!--// This id images-->
                                                <li>DSC00249.jpg</li>
                                                <!--// This name images-->
                                            </ul>
                                        </div>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </div>
                    </h:panelGroup>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <h:form prependId="false" id="nform">
            <p:dialog widgetVar="imgDialog" header="Selecionar Imagem" dynamic="true">
                <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                               mode="native">
                    <h:panelGroup layout="block" id="imagens" style="width: 450px; ">
                        <ul>
                            <li style="list-style: none outside none;">
                                <h2>Imagens</h2>
                            </li>
                            <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                <li id="item_img" style="display: list-item;
                                    text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                    #DDD;
                                    padding-left: 15px;
                                    overflow: auto;
                                    " ondblclick="addImage('#{imagem.id}');">

                                    <div id="image_switch" style="
                                         float: left;
                                         width: 300px;
                                         font-size: 1.15em;">

                                        <div id="img_thumb" style="
                                             float: left;
                                             position: relative;
                                             margin-right: 15px;">
                                            <h:graphicImage value="#{imagem.archive.url}" width="120" height="100"/>
                                        </div>
                                        <div id="img_titulo" style="width: 30.900em;">
                                            <p> Titulo: Teste<br/>
                                                Descrição:<br/>

                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ui:repeat>

                            <div style="width: 440px;
                                 overflow: hidden;
                                 margin: 0 auto;
                                 text-align: center;"
                                    >
                                <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                <p:commandButton value="Anterior"
                                                 disabled="#{!imageController.pagImages.hasPreviousPage}" ajax="true"
                                                 actionListener="#{imageController.pagImages.previousPage()}"
                                                 update="imagens"/>
                                <h:outputText value="#{imagemController.pagFotos.page}" id="page"/>
                                <p:commandButton value="Próxima" disabled="#{!imageController.pagImages.hasNextPage}"
                                                 ajax="true" actionListener="#{imageController.pagImages.nextPage()}"
                                                 update="imagens"/>
                            </div>
                        </ul>
                    </h:panelGroup>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

        <h:form id="sweetAltertForm">
            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                    function verificaOperacao(msg, dlg) {
                        var ok = #{newsController.opSucesso};
                        if (ok) {
                            mostraSucesso("Sucesso", msg, 3000);
                            PF(dlg).hide();
                        } else {
                            mostraError("Ooops!", msg, 3000);
                        }
                    }
                </script>
            </h:panelGroup>
        </h:form>

        <h:form id="albumForm" prependId="false">

            <p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"/>
            <h:inputHidden id="idalbum" value="#{galleryController.idAlbumSelecionado}"/>
            <h:inputHidden id="id" value="#{galleryController.idImagem}"/>
            <h:inputHidden id="iddestino" value="#{galleryController.idAlbumDestino}"/>
            <p:remoteCommand actionListener="#{galleryController.addImagemSelected()}" name="addImagemSelected"
                             update=":imagensDoAlbum" oncomplete="teste();"/>
            <p:remoteCommand actionListener="#{galleryController.selectAlbum()}" name="select" update=":imagensDoAlbum"
                             oncomplete="teste();"/>
            <p:remoteCommand actionListener="#{galleryController.moverImagem()}" name="moveImage"
                             oncomplete="teste();"/>
            <p:remoteCommand actionListener="#{galleryController.removerImagem()}" name="removerImagem"/>
            <p:remoteCommand actionListener="#{galleryController.trocarImagemDaCapa()}" name="trocarImagemCapa"
                             update=":albumListForm"/>
            <p:remoteCommand oncomplete="FF('confirmDel').show()" update=":albumListForm :imagensDoAlbum"
                             name="deleteAlbum"/>
            <p:remoteCommand name="update" oncomplete="up();" update=":albumEditForm"/>
            <p:confirmDialog id="cDelete" message="Deseja realmente deletar o álbum ?"
                             header="Comfirmar" severity="alert" widgetVar="confirmDel" style="font-size: 12px;"
                             closeOnEscape="true">

                <p:commandButton id="conf" value="Sim" oncomplete="PF('confirmDel').hide()"
                                 actionListener="#{galleryController.delete()}"
                                 update=":albumListForm :imagensDoAlbum"/>
                <p:commandButton id="decl" value="Não" onclick="PF('confirmDel').hide()" type="button"/>

            </p:confirmDialog>
        </h:form>
        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
        <!--############ Importação JavaScript ############-->
    </ui:define>

</ui:composition>