<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="title">
        Intranet Administração - Imagens
    </ui:define>

    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Gerenciar imagens</h2></legend>

            <h:form enctype="multipart/form-data" id="newImagem" prependId="false">
                <p:dialog header="Upload de imagens" modal="true" widgetVar="upImages" showEffect="fade">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <h:outputLabel value="Imagem"/>
                        <p:fileUpload fileUploadListener="#{imageController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="tit"
                                      multiple="true"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                        <h:outputLabel value="Título"/>
                        <p:inputText id="tit" value="#{imageController.value.title}" size="20"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea value="#{imageController.value.description}" autoResize="false"
                                         style="font-size: 12px;"/>
                        <h:outputText value="Visível"/>
                        <p:selectBooleanCheckbox value="#{imageController.value.visible}"/>

                        <h:outputText value="Setor"/>
                        <p:selectOneMenu value="#{imageController.value.category}">
                            <f:selectItems value="#{utilController.categorias}" var="g"
                                           itemValue="#{g}" itemLabel="#{g.asString()}"/>
                        </p:selectOneMenu>
                        <br/>
                    </h:panelGrid>
                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                    <p:commandButton value="Salvar" actionListener="#{imageController.add}"
                                     update="newImagem :form:images" style="font-size: 12px;"/>
                    <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                     onclick="PF('upImages').hide();"/>
                </p:dialog>
            </h:form>

            <p:dialog id="editar" widgetVar="dlg" header="Editar imagem"
                      resizable="false" showEffect="clip" hideEffect="clip" dynamic="true">
                <h:form id="formEdit" prependId="false" style="font-size: 11px;">
                    <h:panelGrid columns="1">
                        <h:outputLabel value="Título"/>
                        <p:inputText value="#{imageController.selected.title}" size="50"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea value="#{imageController.selected.description}" autoResize="false"
                                         style="font-size: 12px;" cols="50" rows="10"/>
                        <h:outputText value="Setor"/>
                        <p:selectOneMenu value="#{imageController.selected.category}">
                            <f:selectItems value="#{utilController.categoryValues}" var="g"
                                           itemValue="#{g}" itemLabel="#{g.asString()}"/>

                        </p:selectOneMenu>
                        <h:outputText value="Visível"/>
                        <p:selectBooleanCheckbox value="#{imageController.selected.visible}"/>
                        <br/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221);"/>
                        <p:commandButton value="Salvar" actionListener="#{imageController.edit()}"
                                         update=":form:images :editar"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <h:form id="form" prependId="false" style="font-size: 11px;">
                <p:messages id="msg"/>
                <p:contextMenu for="images">
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="PF('confirmation').show();"/>
                    <p:menuitem value="Editar" id="teste" icon="ui-icon-pencil" style="font-size: 11px;"
                                onclick="PF('dlg').show();"/>
                </p:contextMenu>

                <p:menubar id="menus" style="height: 30px; width: 99%;box-sizing: content-box;">
                    <p:menuitem value="Adicionar" icon="ui-icon-disk" style="font-size: 11px;"
                                onclick="PF('upImages').show()"/>
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="PF('confirmation').show();" rendered="#{imageController.menu}"/>
                    <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                rendered="#{imageController.menu}" onclick="PF('dlg').show();"/>
                </p:menubar>
                <br/>
                <p:dataTable id="images" var="image" value="#{imageController.imagens}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%;"
                             selectionMode="single" selection="#{imageController.selected}"
                             rowKey="#{image.id}" paginator="true" rows="10"
                             filteredValue="#{imageController.imagensFiltradas}"
                             resizableColumns="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">

                    <p:ajax event="rowSelect" update=":form:menus :form:confirmDialog :editar"/>


                    <p:column headerText="Título" filterBy="#{image.title}" filterMatchMode="contains">
                        #{image.title}
                    </p:column>

                    <p:column headerText="Descrição" filterBy="#{image.description}" filterMatchMode="contains">
                        #{image.description}
                    </p:column>

                    <p:column headerText="Data publicação">
                        #{image.archive.uploadDate}
                    </p:column>

                    <p:column headerText="Autor publicação" sortBy="#{image.archive.userUploaded.nome}">
                        #{image.archive.userUploaded.nome}
                    </p:column>

                    <p:column headerText="Bloqueado">
                        #{image.visible}
                    </p:column>


                    <p:column headerText="Imagem">
                        <p:lightBox styleClass="imagebox" width="50" height="50">
                            <h:outputLink value="#">
                                <h:graphicImage
                                        value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(image.archive.url)}"
                                        width="50" height="40"/>
                            </h:outputLink>

                            <f:facet name="inline">
                                <h:graphicImage
                                        value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(image.archive.url)}"
                                        width="500" height="400" title="#{image.title}"/>
                            </f:facet>
                        </p:lightBox>
                    </p:column>
                </p:dataTable>

                <p:confirmDialog id="confirmDialog"
                                 message="Realmente deseja excluir a imagem: #{imageController.selected.title} ?"
                                 header="Comfirmar exclusão" severity="alert" widgetVar="confirmation">

                    <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                     actionListener="#{imageController.delete()}" update="images :form:msg"/>
                    <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                </p:confirmDialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
