<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        >

    <h2 style="padding-left: 20px">Menu de opções</h2>
    <ul>
        <li><a href="#{facesContext.externalContext.requestContextPath}/admin/galeria/imagens">Imagens</a></li>
        <li><a href="#{facesContext.externalContext.requestContextPath}/admin/galeria">Gerenciar galerias</a></li>
    </ul>


</ui:fragment>