/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/*body
{
	 Font 
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: 12px;

	 Text color 
	color: #333;

	 Remove the background color to make it transparent 
	background-color: #fff;

	margin: 20px;
}*/

#conteudoCKEditor .cke_editable
{
	font-size: 13px;
	line-height: 1.6;
}

#conteudoCKEditor blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

#conteudoCKEditor .cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

#conteudoCKEditor .cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

#conteudoCKEditor a
{
	color: #0782C1;
}

#conteudoCKEditor ol, #conteudoCKEditor ul, #conteudoCKEditor dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

#conteudoCKEditor h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

#conteudoCKEditor hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

#conteudoCKEditor img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

#conteudoCKEditor img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

#conteudoCKEditor pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	tab-size: 4;
}

#conteudoCKEditor .marker
{
	background-color: Yellow;
}

#conteudoCKEditor span[lang]
{
	font-style: italic;
}

#conteudoCKEditor figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

#conteudoCKEditor figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

#conteudoCKEditor a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}
