

@import url("font-face/fonts.css");
body {
    background: url(../images/imagens/backgrounds/batthern.png) #f3f3f3;
}
h2 {
    margin: 0;
    color: #262626;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    border-left: 2px solid #262626;


    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
#container {background: transparent;}
#prev {
    position: absolute;
    left: 0;
    width: 50px;
}
#next {
    position: absolute;
    right: 0;
    width: 50px;
}
.setas {
    background: #0782C1;
    height: 100px;
    top: 50%;
}

/*.carousel-inner {
    width: 80%;
}*/

.marginBottom {
    margin-bottom: 25px;
}

#listAlbuns {
    margin-top: 5%;
}

#slides {
    position: relative;
    width: 100%;
}

.carousel-inner > .item {

}

.album {
    padding: 1px;
    display: inline-block;
    margin: 25px;
    box-shadow: 0px 0px 5px #CCC;
    border: 5px solid #FFF;
    background: none repeat scroll 0% 0% #FFF;
    position: relative;

}
.album img {
    cursor: pointer;
}
.album .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}
.album .overlay:hover {
    transition: background-color 0.2s ease-in-out 0s;    
    opacity: 1;
    background: url(../images/icones/png/ver.png) no-repeat;
    background-color: rgba(138,32,0, 0.5);
    background-position: center;
}

.album .overlay-galeria {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}
.album .overlay-galeria:hover {
    transition: background-color 0.2s ease-in-out 0s;

    opacity: 1;
    background: url(../images/icones/png/images.png) no-repeat;
    background-color: rgba(138,32,0, 0.5);
    background-position: center;
}
.album img:hover {
    opacity: 0.7;
    transition: all 0.4s ease-out;
}
.desc-album, .linkFotos {
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}
.descricaoAlbum {
    margin-top: 2px;
    padding: 10px 5px 5px 5px;
    text-align: left;
}
p.text-album {
    color: #666;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}
.linkFotos {
    float: right;
}

/* ============================= */

li.portfolio_item {
    padding: 1px;
    display: inline-block;
    margin: 25px;
    box-shadow: 0px 0px 5px #CCC;
    border: 5px solid #FFF;
    background: none repeat scroll 0% 0% #FFF;
    position: relative;

}

.portfolio_item img {
    cursor: pointer;
}
.portfolio_item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}
.portfolio_item .overlay:hover {
    transition: background-color 0.3ms ease-in-out 0s;    
    opacity: 1;
    background: url(../images/icones/png/ver.png) no-repeat;
    background-color: rgba(138,32,0, 0.5);
    background-position: center;
}

.portfolio_item .overlay-galeria {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}
.portfolio_item .overlay-galeria:hover {
    transition: background-color 0.3s ease-in-out 0s;

    opacity: 1;
    background: url(../images/icones/png/images.png) no-repeat;
    background-color: rgba(138,32,0, 0.5);
    background-position: center;
}
.portfolio_item img:hover {
    opacity: 0.7;
    transition: all 0.4s ease-out;
}