.topcolumn {
    width: 100%;
    min-width: 688px;
}
.onecolumn {
    width: 100%;
    border: 1px solid #cdcdcd;
    margin: 0px 0 20px 0;/*	min-width: 688px;*/
}
.onecolumn.noborder {
    border : none;
}
.onecolumn .header.border {
    border:1px solid #cdcdcd;
    border-bottom:none;
}
.onecolumn .colla {
    width:50px;
    height:5px;
    background-image:url('../images/colla.png');
    background-repeat:repeat-x;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -3px;
    margin-left: -25px;
    opacity:0.5;
    filter:alpha(opacity=50);
    padding: 0 20px;
}
.onecolumn .colla:hover {
    opacity:1;
    filter:alpha(opacity=100);
    cursor:pointer;
}
.onecolumn .header {
    margin: 0;
    padding: 0;
    float: left;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 19%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 19%, #ededed 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 19%, #ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );/*  IE6-9 */
    width: 100%;
    height: 40px;
    border-bottom: 0px solid #cccccc;
    position: relative;
}
.onecolumn .header span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 0 0 15px;
    float: left;
}
.onecolumn .header span img {
    margin-right:5px;
}
.onecolumn .content {
    background: #ffffff url("../images/inner-shadow.png") repeat-x;
    border-top: 1px solid #cecece;
    padding: 15px 25px;
    min-height: 50px;
    /*max-height: 525px;*/
    height: 525px;
}
#buttom_top {
    height: 20px;
    width: 50%;
    text-align: right;
    float: right;
    min-width:350px;
    padding: 7px 7px 0 0;
}
#buttom_top img {
    margin-bottom: -3px;
    padding-right: 0px;
}

#albumsList {
    margin-top:10px;
    max-height:470px;
    min-height:470px;
    border-right: 1px #eeeeee solid;
    float: left;
    margin-bottom: 20px;
    /*overflow: auto;*/
}

.album_edit {
    float: left;
    border-right: 1px #eeeeee solid;
    margin-right: 20px;
    padding-right: 23px;
}
.album_edit h1 {
	color:#666;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 13px;
	line-height: 35px;
}
.album_edit h1 img {
	margin-bottom: -1px;
	margin-right: 5px;
}
.albumpics {
    max-height:450px;
    min-height: 450px;
    border-right: 1px #eeeeee solid;
    border: 1px #eeeeee solid;
    /*	padding-left: 10px;*/
    padding-top: 10px;
    width:103%;
    overflow: auto;
}
.albumpics li {

}
.albumpics li img {
    opacity:0.7;
    filter:alpha(opacity=70);
}
.albumImage {
    float: left;/*	margin: 0 10px 10px 2px;*/
    list-style: none;
}
#imagearea {
    padding:0px;
    margin:40px;
    border:1px solid #ccc;
}
.imageContainer {
    margin: 3px;
    -webkit-user-select: none;
    position: relative;
    float: left;
    padding: 0px;
}
.imageContainer a {
    margin: 0px;
    padding: 0px;
}
.imageContainer div:hover {
    -webkit-box-shadow: #d90 0px 0px 6px 2px;
    -moz-box-shadow: #d90 0px 0px 6px 2px;
    box-shadow: #d90 0px 0px 6px 2px;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    -moz-transition: -moz-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}
.picHolder {
    /*	border: 1px #aaaaaa solid;*/
    position:relative;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.picHolder:hover {
    -moz-transform: scale(1.1) rotate(0deg);
    -webkit-transform: scale(1.1) rotate(0deg);
    -o-transform: scale(1.1) rotate(0deg);
    -ms-transform: scale(1.1) rotate(0deg);
    transform: scale(1.1) rotate(0deg);
    -moz-box-shadow:0px 0px 10px #000000;
    -webkit-box-shadow:0px 0px 10px #000000;
    box-shadow:0px 0px 10px #000000;
    z-index:11;
}
.picHolder:hover img {
    opacity:1;
    filter:alpha(opacity=100);
}
.image_highlight {
    z-index:10;
    display:block;
    width:160px;
    height:120px;
    background:url("../images/pic_highlight.png") no-repeat top left;
    position: absolute;
}

.picPreview {
    position:relative;
    text-align: left;
    margin: auto;
    border:1px solid #dddddd;
    -moz-box-shadow:1px 1px 2px #f5f5f5;
    -webkit-box-shadow:1px 1px 2px #f5f5f5;
    box-shadow:1px 1px 2px #f5f5f5;
}
.picPreview-hover {
    border:1px dashed #aaaaaa;
    -moz-box-shadow:1px 1px 2px #eeeeee;
    -webkit-box-shadow:1px 1px 2px #eeeeee;
    box-shadow:1px 1px 2px #eeeeee;
}
.picPreviewLabel {
    text-align: center;
    margin: 10px 0 0px 0;
    color: #F00;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    text-shadow:none;
}
.albumImagePreview {
    margin-top: 8px;
    height: 420px;
    /*	min-width: 720px;*/
    margin-left: 208px;
    margin-right: 18px;
    display: none;
}
.albumPanel {
    text-align: center;
    position: absolute;
    margin-left: 8%;
    margin-top: 390px;
}
.hr {
    background-color:#FFF;
    border-bottom:1px solid #ffffff;
    height:1px;
    margin:5px 0;
    overflow:hidden;
}
.title, .stats {
    padding:2px;
    max-width: 146px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    padding: 4px 0px 2px 2px;
}
.stats {
    color:#777777;
    padding-top:0px;
    text-transform:uppercase;
    font-size: 10px;
    padding-bottom: 0px;
}
div.album {
    border-width:1px;
    cursor:pointer;
    font-family:Myriad Pro, Arial, Helvetica, sans-serif;
    padding:14px 28px 10px 19px;
}
div.album.float {
    float:left;
}
div.album:nth-child(odd) {
    border-color:#383838 #383838 black;
}
div.album:last-child:nth-child(odd) {
    border-bottom-color:#383838;
}
div.album:last-child {
    border-bottom-color:#444444;
}
div.album.dragging {
    border-left: 4px #dddddd solid;
    padding-left: 15px;
}
div.album.selected {
    background-color:#f9f9f9;
    border-left: 4px #4D90F0 solid;
    /*padding-left: 15px;*/
}
div#animate {
    border: 4px solid #4D90F0;
    border-top: none;
    border-right: none;
    border-bottom: none;
    position: absolute;
    z-index: 10000;
}
.album.over {
    background-color:#f4f4f4;
}
.preview {
    min-height: 106px;
    width: 138px;
    display:block;
    clear:both;
}
img.stackphotos {
    border: none;
    text-decoration: none;
    position: absolute;
    margin-left:0px;
    width: 130px;
    position: absolute;
    border: 1px solid #BBB;
    z-index: 20;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    padding: 2px;
    background-color: #FFF;
}
.preview #p1:hover {
    -moz-transform: scale(1.1) rotate(0deg);
    -webkit-transform: scale(1.1) rotate(0deg);
    -o-transform: scale(1.1) rotate(0deg);
    -ms-transform: scale(1.1) rotate(0deg);
    transform: scale(1.1) rotate(0deg);
}
.preview #photo1, .preview #p1 {/* position of middle photo in the stack */
    margin-left:6px;
    margin-top:4px;
}
.preview #photo2 {/* position of middle photo in the stack */
    margin-left:3px;
    margin-top:2px;
}
.preview #photo3 {/* position of first photo at the top in the stack */
}
.preview .rotate1 {/* rotate last image 15 degrees to the right */
    -webkit-transform: rotate(15deg); /* safari and chrome */
    -moz-transform: rotate(15deg);/*firefox browsers */
    transform: rotate(15deg);/*other */
    -ms-transform:rotate(15deg); /* Internet Explorer 9 */
    -o-transform:rotate(15deg); /* Opera */
}
.preview .rotate2 {/* css not used*/
    -webkit-transform: rotate(0deg); /* safari and chrome */
    -moz-transform: rotate(0deg);/*firefox browsers */
    transform: rotate(0deg);/*other */
    -ms-transform:rotate(0deg); /* Internet Explorer 9 */
    -o-transform:rotate(0deg); /* Opera */
}
.preview .rotate3 {/*rotate first image 15 degrees to the left*/
    -webkit-transform: rotate(-15deg); /* safari and chrome */
    -moz-transform: rotate(-15deg); /*firefox browsers */
    transform: rotate(-15deg);/*other */
    -ms-transform:rotate(-15deg); /* Internet Explorer 9 */
    -o-transform:rotate(-15deg); /* Opera */
    cursor: pointer;
}
.picTitle {
    background-color:#3C3C3C;
    color:#DDDDDD;
    font-size:0.825em;
    margin:10px auto 0;
    overflow:hidden;
    padding:4px 6px;
    text-align:center;
    text-shadow:0 0 1px black;
    white-space:nowrap;
    position: absolute;
    display: none;
    margin-top: -20px;
    z-index: 11;
    width: auto;
    max-width: 148px;
    cursor: pointer;
}
.screen-msg {
    color:#AAAAAA;
    font-size:10px;
    letter-spacing:1px;
    text-align:center;
    text-transform:uppercase;
    line-height:470px;
}
.screen-msg span {
    margin-right: 7px;
    margin-bottom: -5px;
}
.screen-msg span img {
    margin-bottom: -7px;
}

.jspPane{
    padding-bottom: 10px;
}

.jspPane ul{
    -webkit-padding-start: 10px;
}

/* BUTTON */

.uibutton {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 5px 12px 6px 12px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 1px solid #69a44d;
    text-shadow:0 1px 0 #000000;
    color: #ffffff;
    background-position:0 -1px;
    background-color:#9bc652;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s ease-out;
    -moz-transition:all.2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all.2s ease-out;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
    margin-top: -1px;
}
.uibutton:hover, .uibutton:focus, .uibutton:active {
    background-image: url("../images/ui-lgreen.jpg");
    background-position:0 59px;
    color: #ffffff;
    text-shadow:0 1px 0 #000000;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
.uibutton:active {
    /*	border-color: #5b7217;
            background: #b4cf1f;*/
    color: #ffffff;
    filter: none;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
    cursor:pointer;
}

/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/*Icons */

.uibutton.icon:before {
    content: "";
    position: relative;
    top: 2px;
    float:left;
    width: 14px;
    height: 12px;
    margin: 0 5px 0 0;
    background: url("../images/fb-icons.png") 99px 99px no-repeat;
}
.uibutton.edit:before {
    background-position: 0 -1px;
}
.uibutton.normal {
    color: #333;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f4f4f4));
    background-image: -moz-linear-gradient(#f4f4f4, #f4f4f4);
    background-image: -o-linear-gradient(#f4f4f4, #f4f4f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#f4f4f4'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
    text-shadow:none;
    border: 1px solid #aaaaaa;
    border-bottom-color: #aaaaaa;
    margin: 0;
}
.uibutton.normal:hover {
    color: #666;
    background-color: #999;
    -webkit-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
    -moz-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
    text-shadow:none;
}
.uibutton.normal:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
}
.uibutton.add:before {
    background-position: -14px -1px;
}
.uibutton.secure:before {
    background-position: -28px 0px;
    top: 0px;
}
.uibutton.prev:before {
    background-position: -38px -1px;
}
.uibutton.next:before {
    float:right;
    margin: -1px -0.25em 0 0.5em;
    background-position: -50px 0;
}
.uibutton.forward:before {
    background-position: -61px 0;
    margin-top: -1px;
}
.uibutton.answer:before {
    background-position: -78px 0;
    margin-top: -2px;
}
/* BUTTON EXTENSIONS */

/* Large */

.uibutton.large {
    font-size: 13px;
    text-transform: uppercase;
    padding-left:25px;
    padding-right:25px;
}
/* Submit, etc */

.uibutton.confirm {
    border-color: #73b4ce ;
    background-color: #c2e3f0;
    text-shadow:0 1px 0 #ffffff;
    color: #666666;

    background-image:none;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}
.uibutton.confirm:hover ,.uibutton.confirm:focus, .uibutton.confirm:active{
    border-color: #73b4ce;
    color: #333333;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
    background-color: #a9daed;

}
.uibutton.confirm:active {
    border-color: #73b4ce;
    color: #666666;
    background-color: #a9daed;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de;
}

/*  Special */

.uibutton.special {
    border-color: #69A44D;
    text-shadow:0 1px 0 #000000;
    color: #fff;
    background-color:#9BC652;
}
.uibutton.special:hover, .uibutton.special:active {
    background-image: url("../images/ui-red.jpg");
    background-position:0 59px;
    color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
.uibutton.special:active {
    background-image: url("../images/ui-red.jpg");
    background-position:0 59px;
    filter: none;
    color:#efefef;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
}
/*Disable */

.uibutton.disable {
    z-index: 0;
    border-color: #c8c8c8;
    color: #b8b8b8;
    background: #f2f2f2;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow:none;
}
.uibutton.disable:hover {
    border-color: #c8c8c8;
    background:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow:none;
    color:#b8b8b8;
}
.uibutton.disable.icon:before, .uibutton.disable.icon:after {
    opacity: 0.5;
}
/* BUTTON GROUPS */

.uibutton-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}
.uibutton + .uibutton, .uibutton + .uibutton-group, .uibutton-group + .uibutton, .uibutton-group + .uibutton-group {
    margin-left: 3px;
}
.uibutton-group li {
    float: left;
    padding: 0;
    margin: 0;
}
.uibutton-group li.end {
    margin-left:0px;
}
.uibutton-group .uibutton {
    float: left;
    margin-left: -1px;
}
.uibutton-group .uibutton:hover, .uibutton-group .uibutton:focus, .uibutton-group .uibutton:active {
    /*z-index:2;*/
}
.uibutton-group > .uibutton:first-child, .uibutton-group li:first-child .uibutton {
    margin-left: 0;
}
/*  BUTTON CONTAINER */
/* For mixing buttons and button groups, e.g., in a navigation bar */

.uibutton-toolbar {
    padding: 6px;
    border-top: 1px solid #ccc;
    background: #f2f2f2;
}
.uibutton-toolbar .uibutton, .uibutton-toolbar .uibutton-group {
    vertical-align: bottom;
}
.data, .dataSet, .dataImg {
    display:none;
}
#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

.deletezone {
    width: 100%;
    border:1px dashed #EEE;
    min-height: 250px;
    margin-top:20px;
    text-align: center;
    text-transform: uppercase;
    color: #AAA;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 250px;
    background-image: url("../images/bin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.deletezone img {
    margin-bottom: -4px;
}
.deletezoneover {
    border:1px dashed #000;
}
.deletezonedragging {
    border:1px dashed red;
    color: #F00;
}
.deletezone.small {
    min-height: 200px;
    line-height: 200px;
    font-size: 10px;
    text-transform: capitalize;
    margin: 0;
}

.boxtitle {
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 15px;
	color: #AAA;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	font-size: 10px;
}
.boxtitle img {
	margin-right: 3px;
	margin-bottom: -2px;
}
.boxtitle.min {
	margin-bottom: 5px;
	height: 25px;
	line-height: 25px;
}
