
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/12/2014, 11:27:22
    Author     : Filipe & Vinícius
*/

#cotacao_financeira .col_cotacao{
    margin-left: 1%;
    letter-spacing: 2px;
    text-shadow: 0px 1px 2px gray;
}
#cotacao_financeira{
    /*height: 10%;
    margin-top: 10px;
    padding-bottom: 5px;*/

    background: none repeat scroll 0% 0% rgb(241, 241, 241);
    padding: 30px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(225, 225, 225);
}
#div_row1{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
}
#icones-acessoRapido{
    height:137x;
    weight:33px;    
}

.panel-primary{
    /*    border-color: rgb(139, 139, 139);*/
    border-color: rgba(236, 231, 231, 1);
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.47);
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.47);
}
.panel-primary > .panel-heading{
    background-color: #262626;
    border-color: rgb(139, 139, 139);
}

a, a:hover {
    text-decoration: none;
}

.painel-col{
    background-color: rgba(75,75,75,1);
    color: white;
    border-radius: 5px;
    padding: 1%;
    height: 150px;
    margin-top: 15px;
}
.painel-col div{
    padding: 0;
    font-size: 13px;
}
.painel-title{
    font-weight: bold;
    font-size: 1.1em;
}
.painel-numcentro{
    font-family: Arial !important;
    font-weight: bold;
    text-shadow: 0px 1px 1px;
    font-size: 1.6em;
    margin-top: 40%;
    margin-bottom: 40%;
}
.painel-circle{
    margin-top: 45%;
    width: 60px;
    height: 60px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    padding: 10px 0 0 0;
}
.painel-percent{
    position: relative;
    font-weight: bold;
    margin-top: 17%;
}
h4.painel-percent{
    font-size: 14px;
}
.painel-bars{
    text-align: right;
    font-size: 1.3em;
}
.painel-bars svg{
    height: 16px;
}

.painel_link_relatorio{

}

.panel-heading h1 {
    font-family: "HelveticaNeue", sans-serif !important;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 4px;
}

/*======= CAIXAS DE INFORMAÇÕES PAINEL ONLINE ====*/
.box-info {
    width: 90%;
    height: 200%;
    color: #555;
    margin-bottom: 30px;
    padding: 0px;
    background: none repeat scroll 0% 0% #F5F5F5;
    border: 1px solid #E1E8ED;    
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}


.box-info:hover {
    background:#ddcf04;
    color: #f9f9f9;
}

.box-info:active, .box-info:visited {
    text-decoration: none;
}

.centro-box{
    width: 60%;
    display: inline-block;
}
.box-info .titulo-box, .valor{
    display: block;
}
.valor {
    font-family: "Lato", sans-serif !important;
    font-size: 32px;

}
.fone{
    font-size: 12px;
    display: inline-block;
}
.icone-footer svg{
    height: 16px;
}
.titulo-box {
    font-size: 11px;
}
.titulo-box, .valor {
    margin-bottom: 35px;
}

.box-info .numero {
    vertical-align: 2px;
}

.direita-box {
    float: right;
    font-size: 12px;
}

#painel-icone-relatorio svg{
    height: 60px;
    width: 100%;
    margin-top: 30px;
}
/*======= FIM ====*/

#div_destaques{
    height: 495px;
}

#div_destaques a{
    outline: none;
}
ul#OnlinePanel {
    padding: 0;
    text-align: center;
    list-style-type:none;
}

.tab-content{

    /* border-left: 1px solid #ECE7E7; */
    

    /* border-right: 1px solid #ECE7E7; */
    

    border-bottom: 1px solid #ECE7E7;
    padding-top: 5px;
    height: 100%;

    box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.3);
}

.nav-tabs{
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgb(139, 139, 139);
}
.bg-cinza{
    background-color: #262626;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-left-color: #ECE7E7;
    border-top-color: #ECE7E7;
}          

.nav-tabs > li > a:hover i svg path, .nav-tabs > li > a:focus i svg path{
    fill: black;
}             

.nav-tabs > li > a{
    color: white;
    border-radius: 0;
}

.nav-tabs li.active .tab-icons svg path{
    fill: black;
}

.tab-icons svg path{
    fill: white;
} 
.numDestaques{
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 2px 2px red;
    margin-left: 23px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    background: #e03509;
    border-radius: 20px;
    font-size: 12px;
    padding-top: 2px;
}
.carousel-control.right, .carousel-control.left{
    background-image: none;
    color: #262626;
}
/*                        
                    --------------------- Efeito de transição fade nos carousels do bootstrap ------------------------------
                
#carousel-noticias .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    -ms-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;                
}
#carousel-noticias .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
#carousel-noticias .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
#carousel-noticias .next {
    left:0;
    opacity:1;
    z-index:1;
}
------------------------------------------------------------------------------------------------------*/

.utilidades-icon{
    font-size: 2.3em;
/*    width: 130px;*/
    transition: text-shadow 0.5s;
    -o-transition: text-shadow 0.5s;
    -moz-transition: text-shadow 0.5s;
    -webkit-transition: text-shadow 0.5s;
}
.utilidades-icon h1{
    font-size: 0.4em;
}
.utilidades-icon:hover a{
    color: #337AB7;
    text-decoration: none;
}
.utilidades-icon:hover{
    cursor: pointer;
    text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);

    transition: text-shadow 0.5s;
    -o-transition: text-shadow 0.5s;
    -moz-transition: text-shadow 0.5s;
    -webkit-transition: text-shadow 0.5s;
}

.bg-niver{
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.niver-amarelo{
    background-image: url('../images/imagens/svg/niveramarelo.svg');
}
.niver-azul{
    background-image: url('../images/imagens/svg/niverazul.svg');
}

@media screen and (max-width: 768px ) {
    #body_acesso_rapido{
        height: 380px;
    }
}

@media screen and (min-width: 769px) {
    #body_acesso_rapido{
        height: 120px;
    }
}