.jspContainer {
	/* [disabled]overflow: inherit; */
	position: relative;
	z-index: 0;
}
.jspPane { position: absolute; }
.jspVerticalBar {
	background: transparent;
	width: 8px;
	right: 0px;
	position: absolute;
	top: 0;
	height: 100%;
}
.jspHorizontalBar {background: transparent; width: 8px; bottom: 2px; position: absolute; left: 0; width: 100%;}
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspCap { display: none; }
.jspHorizontalBar .jspCap { float: left; }
.jspTrack {
	background: transparent;
	position: relative;
	background-color: #f9f9f9;
	border-right: 1px #eeeeee solid;
}
.jspDrag {
		background: #aaaaaa;
	/*		-moz-border-radius: 4px;
		border-radius: 4px;*/
		position: relative;
	top: 0;
	left: 0;
	cursor: pointer;

}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }
.jspArrow.jspDisabled { cursor: default; background: #80808d; }
.jspVerticalBar .jspArrow { height: 16px; }
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspCorner {
		background: #eeeeee;
		float: left;
		height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
