        
@import url("../font-face/fonts.css");
@import url("../..//bootstrap3/css/bootstrap.min.css");

* {
    box-sizing: border-box;
}

h1, h2 {
    color: #000;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
h1 {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 10em;
    margin-top: 0;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    margin: 0 0px 20px;
}

body {
    margin: 0;
    padding: 0;
    background: #1b6cb3 url(../..//images/imagens/backgrounds/batthern.png) repeat ;
}

#menu-topo {
    width: 100%;
    background: #171616;
        height: 55px;
}

#menu-topo .logo{
    float: left;
    width: 48px;
    margin: 3px;
}

#menu-topo .foto{
    float: right;
    margin: 3px;
}

nav {
    float: right;
    margin-right: 50px;
       
}

nav.nav-menu {
    height: 55px;

}

ul {
 margin: 0;
}

ul li {
    display: inline-block;
    height: 55px;
    width: 55px;
}
ul li.nome {
    width: auto;
}
ul li a {
    color: #f9f9f9;
    text-decoration: none;
}