@font-face {
	font-family: 'iconFonts-superto';
	src:url('fonts/iconFonts-superto.eot?lbs8dd');
	src:url('fonts/iconFonts-superto.eot?#iefixlbs8dd') format('embedded-opentype'),
		url('fonts/iconFonts-superto.woff?lbs8dd') format('woff'),
		url('fonts/iconFonts-superto.ttf?lbs8dd') format('truetype'),
		url('fonts/iconFonts-superto.svg?lbs8dd#iconFonts-superto') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconFonts-superto';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-intranet:before {
	content: "\eb2a";
}
.icon-plataforma2:before {
	content: "\eb2b";
}
.icon-adm:before {
	content: "\e600";
}
.icon-agro:before {
	content: "\e601";
}
.icon-boloaniversario:before {
	content: "\e602";
}
.icon-calculadora:before {
	content: "\e603";
}
.icon-calendario:before {
	content: "\e604";
}
.icon-cifrao:before {
	content: "\e605";
}
.icon-ds:before {
	content: "\e606";
}
.icon-gov:before {
	content: "\e607";
}
.icon-IN:before {
	content: "\e608";
}
.icon-local-super:before {
	content: "\e609";
}
.icon-mail-super:before {
	content: "\e60a";
}
.icon-offices:before {
	content: "\e60b";
}
.icon-pf:before {
	content: "\e60c";
}
.icon-pj:before {
	content: "\e60d";
}
.icon-plataforma:before {
	content: "\e60e";
}
.icon-simuladores:before {
	content: "\e60f";
}
.icon-telefone-super:before {
	content: "\e610";
}
.icon-glass:before {
	content: "\f000";
}
.icon-music:before {
	content: "\f001";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-search-plus:before {
	content: "\f00e";
}
.icon-search-minus:before {
	content: "\f010";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-signal:before {
	content: "\f012";
}
.icon-cog:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-road:before {
	content: "\f018";
}
.icon-download:before {
	content: "\f019";
}
.icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.icon-inbox:before {
	content: "\f01c";
}
.icon-play-circle-o:before {
	content: "\f01d";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock:before {
	content: "\f023";
}
.icon-flag:before {
	content: "\f024";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-book:before {
	content: "\f02d";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-print:before {
	content: "\f02f";
}
.icon-camera:before {
	content: "\f030";
}
.icon-font:before {
	content: "\f031";
}
.icon-bold:before {
	content: "\f032";
}
.icon-italic:before {
	content: "\f033";
}
.icon-text-height:before {
	content: "\f034";
}
.icon-text-width:before {
	content: "\f035";
}
.icon-align-left:before {
	content: "\f036";
}
.icon-align-center:before {
	content: "\f037";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-list:before {
	content: "\f03a";
}
.icon-dedent:before {
	content: "\f03b";
}
.icon-indent:before {
	content: "\f03c";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-image:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-tint:before {
	content: "\f043";
}
.icon-edit:before {
	content: "\f044";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-arrows:before {
	content: "\f047";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-eject:before {
	content: "\f052";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-crosshairs:before {
	content: "\f05b";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-expand:before {
	content: "\f065";
}
.icon-compress:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-gift:before {
	content: "\f06b";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-fire:before {
	content: "\f06d";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-eye-slash:before {
	content: "\f070";
}
.icon-exclamation-triangle:before {
	content: "\f071";
}
.icon-plane:before {
	content: "\f072";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-random:before {
	content: "\f074";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-arrows-v:before {
	content: "\f07d";
}
.icon-arrows-h:before {
	content: "\f07e";
}
.icon-bar-chart:before {
	content: "\f080";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-camera-retro:before {
	content: "\f083";
}
.icon-key:before {
	content: "\f084";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-star-half:before {
	content: "\f089";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-sign-out:before {
	content: "\f08b";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-sign-in:before {
	content: "\f090";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-upload:before {
	content: "\f093";
}
.icon-lemon-o:before {
	content: "\f094";
}
.icon-phone:before {
	content: "\f095";
}
.icon-square-o:before {
	content: "\f096";
}
.icon-bookmark-o:before {
	content: "\f097";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-unlock:before {
	content: "\f09c";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-hdd-o:before {
	content: "\f0a0";
}
.icon-bullhorn:before {
	content: "\f0a1";
}
.icon-bell-o:before {
	content: "\f0a2";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-hand-o-right:before {
	content: "\f0a4";
}
.icon-hand-o-left:before {
	content: "\f0a5";
}
.icon-hand-o-up:before {
	content: "\f0a6";
}
.icon-hand-o-down:before {
	content: "\f0a7";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-tasks:before {
	content: "\f0ae";
}
.icon-filter:before {
	content: "\f0b0";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-flask:before {
	content: "\f0c3";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-copy:before {
	content: "\f0c5";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-floppy-o:before {
	content: "\f0c7";
}
.icon-square:before {
	content: "\f0c8";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-columns:before {
	content: "\f0db";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-sort-desc:before {
	content: "\f0dd";
}
.icon-sort-asc:before {
	content: "\f0de";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
.icon-gavel:before {
	content: "\f0e3";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-bolt:before {
	content: "\f0e7";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-clipboard:before {
	content: "\f0ea";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-exchange:before {
	content: "\f0ec";
}
.icon-cloud-download:before {
	content: "\f0ed";
}
.icon-cloud-upload:before {
	content: "\f0ee";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-bell:before {
	content: "\f0f3";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-cutlery:before {
	content: "\f0f5";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-hospital-o:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-beer:before {
	content: "\f0fc";
}
.icon-h-square:before {
	content: "\f0fd";
}
.icon-plus-square:before {
	content: "\f0fe";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-meh-o:before {
	content: "\f11a";
}
.icon-gamepad:before {
	content: "\f11b";
}
.icon-keyboard-o:before {
	content: "\f11c";
}
.icon-flag-o:before {
	content: "\f11d";
}
.icon-flag-checkered:before {
	content: "\f11e";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-mail-reply-all:before {
	content: "\f122";
}
.icon-star-half-empty:before {
	content: "\f123";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-crop:before {
	content: "\f125";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-chain-broken:before {
	content: "\f127";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-exclamation:before {
	content: "\f12a";
}
.icon-superscript:before {
	content: "\f12b";
}
.icon-subscript:before {
	content: "\f12c";
}
.icon-eraser:before {
	content: "\f12d";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-microphone-slash:before {
	content: "\f131";
}
.icon-shield:before {
	content: "\f132";
}
.icon-calendar-o:before {
	content: "\f133";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-maxcdn:before {
	content: "\f136";
}
.icon-chevron-circle-left:before {
	content: "\f137";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-chevron-circle-up:before {
	content: "\f139";
}
.icon-chevron-circle-down:before {
	content: "\f13a";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-bullseye:before {
	content: "\f140";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
.icon-ellipsis-v:before {
	content: "\f142";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-play-circle:before {
	content: "\f144";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-minus-square:before {
	content: "\f146";
}
.icon-minus-square-o:before {
	content: "\f147";
}
.icon-level-up:before {
	content: "\f148";
}
.icon-level-down:before {
	content: "\f149";
}
.icon-check-square:before {
	content: "\f14a";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-external-link-square:before {
	content: "\f14c";
}
.icon-share-square:before {
	content: "\f14d";
}
.icon-compass:before {
	content: "\f14e";
}
.icon-caret-square-o-down:before {
	content: "\f150";
}
.icon-caret-square-o-up:before {
	content: "\f151";
}
.icon-caret-square-o-right:before {
	content: "\f152";
}
.icon-eur:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-inr:before {
	content: "\f156";
}
.icon-cny:before {
	content: "\f157";
}
.icon-rouble:before {
	content: "\f158";
}
.icon-krw:before {
	content: "\f159";
}
.icon-bitcoin:before {
	content: "\f15a";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-sort-alpha-asc:before {
	content: "\f15d";
}
.icon-sort-alpha-desc:before {
	content: "\f15e";
}
.icon-sort-amount-asc:before {
	content: "\f160";
}
.icon-sort-amount-desc:before {
	content: "\f161";
}
.icon-sort-numeric-asc:before {
	content: "\f162";
}
.icon-sort-numeric-desc:before {
	content: "\f163";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-xing:before {
	content: "\f168";
}
.icon-xing-square:before {
	content: "\f169";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-stack-overflow:before {
	content: "\f16c";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-flickr:before {
	content: "\f16e";
}
.icon-adn:before {
	content: "\f170";
}
.icon-bitbucket:before {
	content: "\f171";
}
.icon-bitbucket-square:before {
	content: "\f172";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-long-arrow-down:before {
	content: "\f175";
}
.icon-long-arrow-up:before {
	content: "\f176";
}
.icon-long-arrow-left:before {
	content: "\f177";
}
.icon-long-arrow-right:before {
	content: "\f178";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-gittip:before {
	content: "\f184";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-archive:before {
	content: "\f187";
}
.icon-bug:before {
	content: "\f188";
}
.icon-vk:before {
	content: "\f189";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-renren:before {
	content: "\f18b";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-stack-exchange:before {
	content: "\f18d";
}
.icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-caret-square-o-left:before {
	content: "\f191";
}
.icon-dot-circle-o:before {
	content: "\f192";
}
.icon-wheelchair:before {
	content: "\f193";
}
.icon-vimeo-square:before {
	content: "\f194";
}
.icon-try:before {
	content: "\f195";
}
.icon-plus-square-o:before {
	content: "\f196";
}
.icon-space-shuttle:before {
	content: "\f197";
}
.icon-slack:before {
	content: "\f198";
}
.icon-envelope-square:before {
	content: "\f199";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-openid:before {
	content: "\f19b";
}
.icon-bank:before {
	content: "\f19c";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-yahoo:before {
	content: "\f19e";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-reddit-square:before {
	content: "\f1a2";
}
.icon-stumbleupon-circle:before {
	content: "\f1a3";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-pied-piper:before {
	content: "\f1a7";
}
.icon-pied-piper-alt:before {
	content: "\f1a8";
}
.icon-drupal:before {
	content: "\f1a9";
}
.icon-joomla:before {
	content: "\f1aa";
}
.icon-language:before {
	content: "\f1ab";
}
.icon-fax:before {
	content: "\f1ac";
}
.icon-building:before {
	content: "\f1ad";
}
.icon-child:before {
	content: "\f1ae";
}
.icon-paw:before {
	content: "\f1b0";
}
.icon-spoon:before {
	content: "\f1b1";
}
.icon-cube:before {
	content: "\f1b2";
}
.icon-cubes:before {
	content: "\f1b3";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-behance-square:before {
	content: "\f1b5";
}
.icon-steam:before {
	content: "\f1b6";
}
.icon-steam-square:before {
	content: "\f1b7";
}
.icon-recycle:before {
	content: "\f1b8";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-cab:before {
	content: "\f1ba";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-deviantart:before {
	content: "\f1bd";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-database:before {
	content: "\f1c0";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-vine:before {
	content: "\f1ca";
}
.icon-codepen:before {
	content: "\f1cb";
}
.icon-jsfiddle:before {
	content: "\f1cc";
}
.icon-life-bouy:before {
	content: "\f1cd";
}
.icon-circle-o-notch:before {
	content: "\f1ce";
}
.icon-ra:before {
	content: "\f1d0";
}
.icon-empire:before {
	content: "\f1d1";
}
.icon-git-square:before {
	content: "\f1d2";
}
.icon-git:before {
	content: "\f1d3";
}
.icon-hacker-news:before {
	content: "\f1d4";
}
.icon-tencent-weibo:before {
	content: "\f1d5";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-wechat:before {
	content: "\f1d7";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-paper-plane-o:before {
	content: "\f1d9";
}
.icon-history:before {
	content: "\f1da";
}
.icon-circle-thin:before {
	content: "\f1db";
}
.icon-header:before {
	content: "\f1dc";
}
.icon-paragraph:before {
	content: "\f1dd";
}
.icon-sliders:before {
	content: "\f1de";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-share-alt-square:before {
	content: "\f1e1";
}
.icon-bomb:before {
	content: "\f1e2";
}
.icon-futbol-o:before {
	content: "\f1e3";
}
.icon-tty:before {
	content: "\f1e4";
}
.icon-binoculars:before {
	content: "\f1e5";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-slideshare:before {
	content: "\f1e7";
}
.icon-twitch:before {
	content: "\f1e8";
}
.icon-yelp:before {
	content: "\f1e9";
}
.icon-newspaper-o:before {
	content: "\f1ea";
}
.icon-wifi:before {
	content: "\f1eb";
}
.icon-calculator:before {
	content: "\f1ec";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-google-wallet:before {
	content: "\f1ee";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-cc-stripe:before {
	content: "\f1f5";
}
.icon-bell-slash:before {
	content: "\f1f6";
}
.icon-bell-slash-o:before {
	content: "\f1f7";
}
.icon-trash:before {
	content: "\f1f8";
}
.icon-copyright:before {
	content: "\f1f9";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-eyedropper:before {
	content: "\f1fb";
}
.icon-paint-brush:before {
	content: "\f1fc";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-lastfm:before {
	content: "\f202";
}
.icon-lastfm-square:before {
	content: "\f203";
}
.icon-toggle-off:before {
	content: "\f204";
}
.icon-toggle-on:before {
	content: "\f205";
}
.icon-bicycle:before {
	content: "\f206";
}
.icon-bus:before {
	content: "\f207";
}
.icon-ioxhost:before {
	content: "\f208";
}
.icon-angellist:before {
	content: "\f209";
}
.icon-cc:before {
	content: "\f20a";
}
.icon-ils:before {
	content: "\f20b";
}
.icon-meanpath:before {
	content: "\f20c";
}
.icon-chat:before {
	content: "\e611";
}
.icon-chat-alt-stroke:before {
	content: "\e612";
}
.icon-chat-alt-fill:before {
	content: "\e613";
}
.icon-comment-alt1-stroke:before {
	content: "\e614";
}
.icon-comment2:before {
	content: "\e615";
}
.icon-comment-stroke:before {
	content: "\e616";
}
.icon-comment-fill:before {
	content: "\e617";
}
.icon-comment-alt2-stroke:before {
	content: "\e618";
}
.icon-comment-alt2-fill:before {
	content: "\e619";
}
.icon-checkmark:before {
	content: "\e61a";
}
.icon-check-alt:before {
	content: "\e61b";
}
.icon-x:before {
	content: "\e61c";
}
.icon-x-altx-alt:before {
	content: "\e61d";
}
.icon-denied:before {
	content: "\e61e";
}
.icon-cursor:before {
	content: "\e61f";
}
.icon-rss2:before {
	content: "\e620";
}
.icon-rss-alt:before {
	content: "\e621";
}
.icon-wrench2:before {
	content: "\e622";
}
.icon-dial:before {
	content: "\e623";
}
.icon-cog2:before {
	content: "\e624";
}
.icon-calendar2:before {
	content: "\e625";
}
.icon-calendar-alt-stroke:before {
	content: "\e626";
}
.icon-calendar-alt-fill:before {
	content: "\e627";
}
.icon-share:before {
	content: "\e628";
}
.icon-mail:before {
	content: "\e629";
}
.icon-heart-stroke:before {
	content: "\e62a";
}
.icon-heart-fill:before {
	content: "\e62b";
}
.icon-movie:before {
	content: "\e62c";
}
.icon-document-alt-stroke:before {
	content: "\e62d";
}
.icon-document-alt-fill:before {
	content: "\e62e";
}
.icon-document-stroke:before {
	content: "\e62f";
}
.icon-document-fill:before {
	content: "\e630";
}
.icon-plus2:before {
	content: "\e631";
}
.icon-plus-alt:before {
	content: "\e632";
}
.icon-minus2:before {
	content: "\e633";
}
.icon-minus-alt:before {
	content: "\e634";
}
.icon-pin:before {
	content: "\e635";
}
.icon-link:before {
	content: "\e636";
}
.icon-bolt2:before {
	content: "\e637";
}
.icon-move:before {
	content: "\e638";
}
.icon-move-alt1:before {
	content: "\e639";
}
.icon-move-alt2:before {
	content: "\e63a";
}
.icon-equalizer:before {
	content: "\e63b";
}
.icon-award-fill:before {
	content: "\e63c";
}
.icon-award-stroke:before {
	content: "\e63d";
}
.icon-magnifying-glass:before {
	content: "\e63e";
}
.icon-trash-stroke:before {
	content: "\e63f";
}
.icon-trash-fill:before {
	content: "\e640";
}
.icon-beaker-alt:before {
	content: "\e641";
}
.icon-beaker:before {
	content: "\e642";
}
.icon-key-stroke:before {
	content: "\e643";
}
.icon-key-fill:before {
	content: "\e644";
}
.icon-new-window:before {
	content: "\e645";
}
.icon-lightbulb:before {
	content: "\e646";
}
.icon-spin-alt:before {
	content: "\e647";
}
.icon-spin:before {
	content: "\e648";
}
.icon-curved-arrow:before {
	content: "\e649";
}
.icon-undo:before {
	content: "\e64a";
}
.icon-reload:before {
	content: "\e64b";
}
.icon-reload-alt:before {
	content: "\e64c";
}
.icon-loop:before {
	content: "\e64d";
}
.icon-loop-alt1:before {
	content: "\e64e";
}
.icon-loop-alt2:before {
	content: "\e64f";
}
.icon-loop-alt3:before {
	content: "\e650";
}
.icon-loop-alt4:before {
	content: "\e651";
}
.icon-transfer:before {
	content: "\e652";
}
.icon-move-vertical:before {
	content: "\e653";
}
.icon-move-vertical-alt1:before {
	content: "\e654";
}
.icon-move-vertical-alt2:before {
	content: "\e655";
}
.icon-move-horizontal:before {
	content: "\e656";
}
.icon-move-horizontal-alt1:before {
	content: "\e657";
}
.icon-move-horizontal-alt2:before {
	content: "\e658";
}
.icon-arrow-left2:before {
	content: "\e659";
}
.icon-arrow-left-alt1:before {
	content: "\e65a";
}
.icon-arrow-left-alt2:before {
	content: "\e65b";
}
.icon-arrow-right2:before {
	content: "\e65c";
}
.icon-arrow-right-alt1:before {
	content: "\e65d";
}
.icon-arrow-right-alt2:before {
	content: "\e65e";
}
.icon-arrow-up2:before {
	content: "\e65f";
}
.icon-arrow-up-alt1:before {
	content: "\e660";
}
.icon-arrow-up-alt2:before {
	content: "\e661";
}
.icon-arrow-down2:before {
	content: "\e662";
}
.icon-arrow-down-alt1:before {
	content: "\e663";
}
.icon-arrow-down-alt2:before {
	content: "\e664";
}
.icon-cd:before {
	content: "\e665";
}
.icon-steering-wheel:before {
	content: "\e666";
}
.icon-microphone2:before {
	content: "\e667";
}
.icon-headphones2:before {
	content: "\e668";
}
.icon-volume:before {
	content: "\e669";
}
.icon-volume-mute:before {
	content: "\e66a";
}
.icon-play2:before {
	content: "\e66b";
}
.icon-pause2:before {
	content: "\e66c";
}
.icon-stop2:before {
	content: "\e66d";
}
.icon-eject2:before {
	content: "\e66e";
}
.icon-first:before {
	content: "\e66f";
}
.icon-last:before {
	content: "\e670";
}
.icon-play-alt:before {
	content: "\e671";
}
.icon-fullscreen-exit:before {
	content: "\e672";
}
.icon-fullscreen-exit-alt:before {
	content: "\e673";
}
.icon-fullscreen:before {
	content: "\e674";
}
.icon-fullscreen-alt:before {
	content: "\e675";
}
.icon-iphone:before {
	content: "\e676";
}
.icon-battery-empty:before {
	content: "\e677";
}
.icon-battery-half:before {
	content: "\e678";
}
.icon-battery-full:before {
	content: "\e679";
}
.icon-battery-charging:before {
	content: "\e67a";
}
.icon-compass2:before {
	content: "\e67b";
}
.icon-box:before {
	content: "\e67c";
}
.icon-folder-stroke:before {
	content: "\e67d";
}
.icon-folder-fill:before {
	content: "\e67e";
}
.icon-at2:before {
	content: "\e67f";
}
.icon-ampersand:before {
	content: "\e680";
}
.icon-info2:before {
	content: "\e681";
}
.icon-question-mark:before {
	content: "\e682";
}
.icon-pilcrow:before {
	content: "\e683";
}
.icon-hash:before {
	content: "\e684";
}
.icon-left-quote:before {
	content: "\e685";
}
.icon-right-quote:before {
	content: "\e686";
}
.icon-left-quote-alt:before {
	content: "\e687";
}
.icon-right-quote-alt:before {
	content: "\e688";
}
.icon-article:before {
	content: "\e689";
}
.icon-read-more:before {
	content: "\e68a";
}
.icon-list2:before {
	content: "\e68b";
}
.icon-list-nested:before {
	content: "\e68c";
}
.icon-book2:before {
	content: "\e68d";
}
.icon-book-alt:before {
	content: "\e68e";
}
.icon-book-alt2:before {
	content: "\e68f";
}
.icon-pen:before {
	content: "\e690";
}
.icon-pen-alt-stroke:before {
	content: "\e691";
}
.icon-pen-alt-fill:before {
	content: "\e692";
}
.icon-pen-alt2:before {
	content: "\e693";
}
.icon-brush:before {
	content: "\e694";
}
.icon-brush-alt:before {
	content: "\e695";
}
.icon-eyedropper2:before {
	content: "\e696";
}
.icon-layers-alt:before {
	content: "\e697";
}
.icon-layers:before {
	content: "\e698";
}
.icon-image2:before {
	content: "\e699";
}
.icon-camera2:before {
	content: "\e69a";
}
.icon-aperture:before {
	content: "\e69b";
}
.icon-aperture-alt:before {
	content: "\e69c";
}
.icon-chart:before {
	content: "\e69d";
}
.icon-chart-alt:before {
	content: "\e69e";
}
.icon-bars2:before {
	content: "\e69f";
}
.icon-bars-alt:before {
	content: "\e6a0";
}
.icon-eye2:before {
	content: "\e6a1";
}
.icon-user2:before {
	content: "\e6a2";
}
.icon-home2:before {
	content: "\e6a3";
}
.icon-clock:before {
	content: "\e6a4";
}
.icon-lock-stroke:before {
	content: "\e6a5";
}
.icon-lock-fill:before {
	content: "\e6a6";
}
.icon-unlock-stroke:before {
	content: "\e6a7";
}
.icon-unlock-fill:before {
	content: "\e6a8";
}
.icon-tag-stroke:before {
	content: "\e6a9";
}
.icon-tag-fill:before {
	content: "\e6aa";
}
.icon-sun-stroke:before {
	content: "\e6ab";
}
.icon-sun-fill:before {
	content: "\e6ac";
}
.icon-moon-stroke:before {
	content: "\e6ad";
}
.icon-moon-fill:before {
	content: "\e6ae";
}
.icon-cloud2:before {
	content: "\e6af";
}
.icon-rain:before {
	content: "\e6b0";
}
.icon-umbrella2:before {
	content: "\e6b1";
}
.icon-star2:before {
	content: "\e6b2";
}
.icon-map-pin-stroke:before {
	content: "\e6b3";
}
.icon-map-pin-fill:before {
	content: "\e6b4";
}
.icon-map-pin-alt:before {
	content: "\e6b5";
}
.icon-target:before {
	content: "\e6b6";
}
.icon-download2:before {
	content: "\e6b7";
}
.icon-upload2:before {
	content: "\e6b8";
}
.icon-cloud-download2:before {
	content: "\e6b9";
}
.icon-cloud-upload2:before {
	content: "\e6ba";
}
.icon-fork:before {
	content: "\e6bb";
}
.icon-paperclip2:before {
	content: "\e6bc";
}
.icon-home3:before {
	content: "\e6bd";
}
.icon-home4:before {
	content: "\e6be";
}
.icon-home5:before {
	content: "\e6bf";
}
.icon-office:before {
	content: "\e6c0";
}
.icon-newspaper:before {
	content: "\e6c1";
}
.icon-pencil2:before {
	content: "\e6c2";
}
.icon-pencil3:before {
	content: "\e6c3";
}
.icon-quill:before {
	content: "\e6c4";
}
.icon-pen2:before {
	content: "\e6c5";
}
.icon-blog:before {
	content: "\e6c6";
}
.icon-droplet:before {
	content: "\e6c7";
}
.icon-paint-format:before {
	content: "\e6c8";
}
.icon-image3:before {
	content: "\e6c9";
}
.icon-image4:before {
	content: "\e6ca";
}
.icon-images:before {
	content: "\e6cb";
}
.icon-camera3:before {
	content: "\e6cc";
}
.icon-music2:before {
	content: "\e6cd";
}
.icon-headphones3:before {
	content: "\e6ce";
}
.icon-play3:before {
	content: "\e6cf";
}
.icon-film2:before {
	content: "\e6d0";
}
.icon-camera4:before {
	content: "\e6d1";
}
.icon-dice:before {
	content: "\e6d2";
}
.icon-pacman:before {
	content: "\e6d3";
}
.icon-spades:before {
	content: "\e6d4";
}
.icon-clubs:before {
	content: "\e6d5";
}
.icon-diamonds:before {
	content: "\e6d6";
}
.icon-pawn:before {
	content: "\e6d7";
}
.icon-bullhorn2:before {
	content: "\e6d8";
}
.icon-connection:before {
	content: "\e6d9";
}
.icon-podcast:before {
	content: "\e6da";
}
.icon-feed:before {
	content: "\e6db";
}
.icon-book3:before {
	content: "\e6dc";
}
.icon-books:before {
	content: "\e6dd";
}
.icon-library:before {
	content: "\e6de";
}
.icon-file2:before {
	content: "\e6df";
}
.icon-profile:before {
	content: "\e6e0";
}
.icon-file3:before {
	content: "\e6e1";
}
.icon-file4:before {
	content: "\e6e2";
}
.icon-file5:before {
	content: "\e6e3";
}
.icon-copy2:before {
	content: "\e6e4";
}
.icon-copy3:before {
	content: "\e6e5";
}
.icon-copy4:before {
	content: "\e6e6";
}
.icon-paste:before {
	content: "\e6e7";
}
.icon-paste2:before {
	content: "\e6e8";
}
.icon-paste3:before {
	content: "\e6e9";
}
.icon-stack:before {
	content: "\e6ea";
}
.icon-folder2:before {
	content: "\e6eb";
}
.icon-folder-open2:before {
	content: "\e6ec";
}
.icon-tag2:before {
	content: "\e6ed";
}
.icon-tags2:before {
	content: "\e6ee";
}
.icon-barcode2:before {
	content: "\e6ef";
}
.icon-qrcode2:before {
	content: "\e6f0";
}
.icon-ticket2:before {
	content: "\e6f1";
}
.icon-cart:before {
	content: "\e6f2";
}
.icon-cart2:before {
	content: "\e6f3";
}
.icon-cart3:before {
	content: "\e6f4";
}
.icon-coin:before {
	content: "\e6f5";
}
.icon-credit:before {
	content: "\e6f6";
}
.icon-calculate:before {
	content: "\e6f7";
}
.icon-support:before {
	content: "\e6f8";
}
.icon-phone2:before {
	content: "\e6f9";
}
.icon-phone-hang-up:before {
	content: "\e6fa";
}
.icon-address-book:before {
	content: "\e6fb";
}
.icon-notebook:before {
	content: "\e6fc";
}
.icon-envelope2:before {
	content: "\e6fd";
}
.icon-pushpin:before {
	content: "\e6fe";
}
.icon-location:before {
	content: "\e6ff";
}
.icon-location2:before {
	content: "\e700";
}
.icon-compass3:before {
	content: "\e701";
}
.icon-map:before {
	content: "\e702";
}
.icon-map2:before {
	content: "\e703";
}
.icon-history2:before {
	content: "\e704";
}
.icon-clock2:before {
	content: "\e705";
}
.icon-clock3:before {
	content: "\e706";
}
.icon-alarm:before {
	content: "\e707";
}
.icon-alarm2:before {
	content: "\e708";
}
.icon-bell2:before {
	content: "\e709";
}
.icon-stopwatch:before {
	content: "\e70a";
}
.icon-calendar3:before {
	content: "\e70b";
}
.icon-calendar4:before {
	content: "\e70c";
}
.icon-print2:before {
	content: "\e70d";
}
.icon-keyboard:before {
	content: "\e70e";
}
.icon-screen:before {
	content: "\e70f";
}
.icon-laptop2:before {
	content: "\e710";
}
.icon-mobile2:before {
	content: "\e711";
}
.icon-mobile3:before {
	content: "\e712";
}
.icon-tablet2:before {
	content: "\e713";
}
.icon-tv:before {
	content: "\e714";
}
.icon-cabinet:before {
	content: "\e715";
}
.icon-drawer:before {
	content: "\e716";
}
.icon-drawer2:before {
	content: "\e717";
}
.icon-drawer3:before {
	content: "\e718";
}
.icon-box-add:before {
	content: "\e719";
}
.icon-box-remove:before {
	content: "\e71a";
}
.icon-download3:before {
	content: "\e71b";
}
.icon-upload3:before {
	content: "\e71c";
}
.icon-disk:before {
	content: "\e71d";
}
.icon-storage:before {
	content: "\e71e";
}
.icon-undo2:before {
	content: "\e71f";
}
.icon-redo:before {
	content: "\e720";
}
.icon-flip:before {
	content: "\e721";
}
.icon-flip2:before {
	content: "\e722";
}
.icon-undo3:before {
	content: "\e723";
}
.icon-redo2:before {
	content: "\e724";
}
.icon-forward2:before {
	content: "\e725";
}
.icon-reply:before {
	content: "\e726";
}
.icon-bubble:before {
	content: "\e727";
}
.icon-bubbles:before {
	content: "\e728";
}
.icon-bubbles2:before {
	content: "\e729";
}
.icon-bubble2:before {
	content: "\e72a";
}
.icon-bubbles3:before {
	content: "\e72b";
}
.icon-bubbles4:before {
	content: "\e72c";
}
.icon-user3:before {
	content: "\e72d";
}
.icon-users:before {
	content: "\e72e";
}
.icon-user4:before {
	content: "\e72f";
}
.icon-users2:before {
	content: "\e730";
}
.icon-user5:before {
	content: "\e731";
}
.icon-user6:before {
	content: "\e732";
}
.icon-quotes-left:before {
	content: "\e733";
}
.icon-busy:before {
	content: "\e734";
}
.icon-spinner2:before {
	content: "\e735";
}
.icon-spinner3:before {
	content: "\e736";
}
.icon-spinner4:before {
	content: "\e737";
}
.icon-spinner5:before {
	content: "\e738";
}
.icon-spinner6:before {
	content: "\e739";
}
.icon-spinner7:before {
	content: "\e73a";
}
.icon-binoculars2:before {
	content: "\e73b";
}
.icon-search2:before {
	content: "\e73c";
}
.icon-zoomin:before {
	content: "\e73d";
}
.icon-zoomout:before {
	content: "\e73e";
}
.icon-expand2:before {
	content: "\e73f";
}
.icon-contract:before {
	content: "\e740";
}
.icon-expand3:before {
	content: "\e741";
}
.icon-contract2:before {
	content: "\e742";
}
.icon-key2:before {
	content: "\e743";
}
.icon-key3:before {
	content: "\e744";
}
.icon-lock2:before {
	content: "\e745";
}
.icon-lock3:before {
	content: "\e746";
}
.icon-unlocked:before {
	content: "\e747";
}
.icon-wrench3:before {
	content: "\e748";
}
.icon-settings:before {
	content: "\e749";
}
.icon-equalizer2:before {
	content: "\e74a";
}
.icon-cog3:before {
	content: "\e74b";
}
.icon-cogs2:before {
	content: "\e74c";
}
.icon-cog4:before {
	content: "\e74d";
}
.icon-hammer:before {
	content: "\e74e";
}
.icon-wand:before {
	content: "\e74f";
}
.icon-aid:before {
	content: "\e750";
}
.icon-bug2:before {
	content: "\e751";
}
.icon-pie:before {
	content: "\e752";
}
.icon-stats:before {
	content: "\e753";
}
.icon-bars3:before {
	content: "\e754";
}
.icon-bars4:before {
	content: "\e755";
}
.icon-gift2:before {
	content: "\e756";
}
.icon-trophy2:before {
	content: "\e757";
}
.icon-glass2:before {
	content: "\e758";
}
.icon-mug:before {
	content: "\e759";
}
.icon-food:before {
	content: "\e75a";
}
.icon-leaf2:before {
	content: "\e75b";
}
.icon-rocket2:before {
	content: "\e75c";
}
.icon-meter:before {
	content: "\e75d";
}
.icon-meter2:before {
	content: "\e75e";
}
.icon-dashboard2:before {
	content: "\e75f";
}
.icon-hammer2:before {
	content: "\e760";
}
.icon-fire2:before {
	content: "\e761";
}
.icon-lab:before {
	content: "\e762";
}
.icon-magnet2:before {
	content: "\e763";
}
.icon-remove:before {
	content: "\e764";
}
.icon-remove2:before {
	content: "\e765";
}
.icon-briefcase2:before {
	content: "\e766";
}
.icon-airplane:before {
	content: "\e767";
}
.icon-truck2:before {
	content: "\e768";
}
.icon-road2:before {
	content: "\e769";
}
.icon-accessibility:before {
	content: "\e76a";
}
.icon-target2:before {
	content: "\e76b";
}
.icon-shield2:before {
	content: "\e76c";
}
.icon-lightning:before {
	content: "\e76d";
}
.icon-switch:before {
	content: "\e76e";
}
.icon-powercord:before {
	content: "\e76f";
}
.icon-signup:before {
	content: "\e770";
}
.icon-list3:before {
	content: "\e771";
}
.icon-list4:before {
	content: "\e772";
}
.icon-numbered-list:before {
	content: "\e773";
}
.icon-menu:before {
	content: "\e774";
}
.icon-menu2:before {
	content: "\e775";
}
.icon-tree2:before {
	content: "\e776";
}
.icon-cloud3:before {
	content: "\e777";
}
.icon-cloud-download3:before {
	content: "\e778";
}
.icon-cloud-upload3:before {
	content: "\e779";
}
.icon-download4:before {
	content: "\e77a";
}
.icon-upload4:before {
	content: "\e77b";
}
.icon-download5:before {
	content: "\e77c";
}
.icon-upload5:before {
	content: "\e77d";
}
.icon-globe2:before {
	content: "\e77e";
}
.icon-earth:before {
	content: "\e77f";
}
.icon-link2:before {
	content: "\e780";
}
.icon-flag2:before {
	content: "\e781";
}
.icon-attachment:before {
	content: "\e782";
}
.icon-eye3:before {
	content: "\e783";
}
.icon-eye-blocked:before {
	content: "\e784";
}
.icon-eye4:before {
	content: "\e785";
}
.icon-bookmark2:before {
	content: "\e786";
}
.icon-bookmarks:before {
	content: "\e787";
}
.icon-brightness-medium:before {
	content: "\e788";
}
.icon-brightness-contrast:before {
	content: "\e789";
}
.icon-contrast:before {
	content: "\e78a";
}
.icon-star3:before {
	content: "\e78b";
}
.icon-star4:before {
	content: "\e78c";
}
.icon-star5:before {
	content: "\e78d";
}
.icon-heart2:before {
	content: "\e78e";
}
.icon-heart3:before {
	content: "\e78f";
}
.icon-heart-broken:before {
	content: "\e790";
}
.icon-thumbs-up2:before {
	content: "\e791";
}
.icon-thumbs-up3:before {
	content: "\e792";
}
.icon-happy:before {
	content: "\e793";
}
.icon-happy2:before {
	content: "\e794";
}
.icon-smiley:before {
	content: "\e795";
}
.icon-smiley2:before {
	content: "\e796";
}
.icon-tongue:before {
	content: "\e797";
}
.icon-tongue2:before {
	content: "\e798";
}
.icon-sad:before {
	content: "\e799";
}
.icon-sad2:before {
	content: "\e79a";
}
.icon-wink:before {
	content: "\e79b";
}
.icon-wink2:before {
	content: "\e79c";
}
.icon-grin:before {
	content: "\e79d";
}
.icon-grin2:before {
	content: "\e79e";
}
.icon-cool:before {
	content: "\e79f";
}
.icon-cool2:before {
	content: "\e7a0";
}
.icon-angry:before {
	content: "\e7a1";
}
.icon-angry2:before {
	content: "\e7a2";
}
.icon-evil:before {
	content: "\e7a3";
}
.icon-evil2:before {
	content: "\e7a4";
}
.icon-shocked:before {
	content: "\e7a5";
}
.icon-shocked2:before {
	content: "\e7a6";
}
.icon-confused:before {
	content: "\e7a7";
}
.icon-confused2:before {
	content: "\e7a8";
}
.icon-neutral:before {
	content: "\e7a9";
}
.icon-neutral2:before {
	content: "\e7aa";
}
.icon-wondering:before {
	content: "\e7ab";
}
.icon-wondering2:before {
	content: "\e7ac";
}
.icon-point-up:before {
	content: "\e7ad";
}
.icon-point-right:before {
	content: "\e7ae";
}
.icon-point-down:before {
	content: "\e7af";
}
.icon-point-left:before {
	content: "\e7b0";
}
.icon-warning:before {
	content: "\e7b1";
}
.icon-notification:before {
	content: "\e7b2";
}
.icon-question2:before {
	content: "\e7b3";
}
.icon-info3:before {
	content: "\e7b4";
}
.icon-info4:before {
	content: "\e7b5";
}
.icon-blocked:before {
	content: "\e7b6";
}
.icon-cancel-circle:before {
	content: "\e7b7";
}
.icon-checkmark-circle:before {
	content: "\e7b8";
}
.icon-spam:before {
	content: "\e7b9";
}
.icon-close2:before {
	content: "\e7ba";
}
.icon-checkmark2:before {
	content: "\e7bb";
}
.icon-checkmark3:before {
	content: "\e7bc";
}
.icon-spell-check:before {
	content: "\e7bd";
}
.icon-minus3:before {
	content: "\e7be";
}
.icon-plus3:before {
	content: "\e7bf";
}
.icon-enter:before {
	content: "\e7c0";
}
.icon-exit:before {
	content: "\e7c1";
}
.icon-play4:before {
	content: "\e7c2";
}
.icon-pause3:before {
	content: "\e7c3";
}
.icon-stop3:before {
	content: "\e7c4";
}
.icon-backward2:before {
	content: "\e7c5";
}
.icon-forward3:before {
	content: "\e7c6";
}
.icon-play5:before {
	content: "\e7c7";
}
.icon-pause4:before {
	content: "\e7c8";
}
.icon-stop4:before {
	content: "\e7c9";
}
.icon-backward3:before {
	content: "\e7ca";
}
.icon-forward4:before {
	content: "\e7cb";
}
.icon-first2:before {
	content: "\e7cc";
}
.icon-last2:before {
	content: "\e7cd";
}
.icon-previous:before {
	content: "\e7ce";
}
.icon-next:before {
	content: "\e7cf";
}
.icon-eject3:before {
	content: "\e7d0";
}
.icon-volume-high:before {
	content: "\e7d1";
}
.icon-volume-medium:before {
	content: "\e7d2";
}
.icon-volume-low:before {
	content: "\e7d3";
}
.icon-volume-mute2:before {
	content: "\e7d4";
}
.icon-volume-mute3:before {
	content: "\e7d5";
}
.icon-volume-increase:before {
	content: "\e7d6";
}
.icon-volume-decrease:before {
	content: "\e7d7";
}
.icon-loop2:before {
	content: "\e7d8";
}
.icon-loop3:before {
	content: "\e7d9";
}
.icon-loop4:before {
	content: "\e7da";
}
.icon-shuffle:before {
	content: "\e7db";
}
.icon-arrow-up-left:before {
	content: "\e7dc";
}
.icon-arrow-up3:before {
	content: "\e7dd";
}
.icon-arrow-up-right:before {
	content: "\e7de";
}
.icon-arrow-right3:before {
	content: "\e7df";
}
.icon-arrow-down-right:before {
	content: "\e7e0";
}
.icon-arrow-down3:before {
	content: "\e7e1";
}
.icon-arrow-down-left:before {
	content: "\e7e2";
}
.icon-arrow-left3:before {
	content: "\e7e3";
}
.icon-arrow-up-left2:before {
	content: "\e7e4";
}
.icon-arrow-up4:before {
	content: "\e7e5";
}
.icon-arrow-up-right2:before {
	content: "\e7e6";
}
.icon-arrow-right4:before {
	content: "\e7e7";
}
.icon-arrow-down-right2:before {
	content: "\e7e8";
}
.icon-arrow-down4:before {
	content: "\e7e9";
}
.icon-arrow-down-left2:before {
	content: "\e7ea";
}
.icon-arrow-left4:before {
	content: "\e7eb";
}
.icon-arrow-up-left3:before {
	content: "\e7ec";
}
.icon-arrow-up5:before {
	content: "\e7ed";
}
.icon-arrow-up-right3:before {
	content: "\e7ee";
}
.icon-arrow-right5:before {
	content: "\e7ef";
}
.icon-arrow-down-right3:before {
	content: "\e7f0";
}
.icon-arrow-down5:before {
	content: "\e7f1";
}
.icon-arrow-down-left3:before {
	content: "\e7f2";
}
.icon-arrow-left5:before {
	content: "\e7f3";
}
.icon-tab:before {
	content: "\e7f4";
}
.icon-checkbox-checked:before {
	content: "\e7f5";
}
.icon-checkbox-unchecked:before {
	content: "\e7f6";
}
.icon-checkbox-partial:before {
	content: "\e7f7";
}
.icon-radio-checked:before {
	content: "\e7f8";
}
.icon-radio-unchecked:before {
	content: "\e7f9";
}
.icon-crop2:before {
	content: "\e7fa";
}
.icon-scissors:before {
	content: "\e7fb";
}
.icon-filter2:before {
	content: "\e7fc";
}
.icon-filter3:before {
	content: "\e7fd";
}
.icon-font2:before {
	content: "\e7fe";
}
.icon-text-height2:before {
	content: "\e7ff";
}
.icon-text-width2:before {
	content: "\e800";
}
.icon-bold2:before {
	content: "\e801";
}
.icon-underline2:before {
	content: "\e802";
}
.icon-italic2:before {
	content: "\e803";
}
.icon-strikethrough2:before {
	content: "\e804";
}
.icon-omega:before {
	content: "\e805";
}
.icon-sigma:before {
	content: "\e806";
}
.icon-table2:before {
	content: "\e807";
}
.icon-table3:before {
	content: "\e808";
}
.icon-insert-template:before {
	content: "\e809";
}
.icon-pilcrow2:before {
	content: "\e80a";
}
.icon-lefttoright:before {
	content: "\e80b";
}
.icon-righttoleft:before {
	content: "\e80c";
}
.icon-paragraph-left:before {
	content: "\e80d";
}
.icon-paragraph-center:before {
	content: "\e80e";
}
.icon-paragraph-right:before {
	content: "\e80f";
}
.icon-paragraph-justify:before {
	content: "\e810";
}
.icon-paragraph-left2:before {
	content: "\e811";
}
.icon-paragraph-center2:before {
	content: "\e812";
}
.icon-paragraph-right2:before {
	content: "\e813";
}
.icon-paragraph-justify2:before {
	content: "\e814";
}
.icon-indent-increase:before {
	content: "\e815";
}
.icon-indent-decrease:before {
	content: "\e816";
}
.icon-newtab:before {
	content: "\e817";
}
.icon-embed:before {
	content: "\e818";
}
.icon-code2:before {
	content: "\e819";
}
.icon-console:before {
	content: "\e81a";
}
.icon-share2:before {
	content: "\e81b";
}
.icon-mail2:before {
	content: "\e81c";
}
.icon-mail3:before {
	content: "\e81d";
}
.icon-mail4:before {
	content: "\e81e";
}
.icon-mail5:before {
	content: "\e81f";
}
.icon-google2:before {
	content: "\e820";
}
.icon-googleplus:before {
	content: "\e821";
}
.icon-googleplus2:before {
	content: "\e822";
}
.icon-googleplus3:before {
	content: "\e823";
}
.icon-googleplus4:before {
	content: "\e824";
}
.icon-google-drive:before {
	content: "\e825";
}
.icon-facebook2:before {
	content: "\e826";
}
.icon-facebook3:before {
	content: "\e827";
}
.icon-facebook4:before {
	content: "\e828";
}
.icon-instagram2:before {
	content: "\e829";
}
.icon-twitter2:before {
	content: "\e82a";
}
.icon-twitter3:before {
	content: "\e82b";
}
.icon-twitter4:before {
	content: "\e82c";
}
.icon-feed2:before {
	content: "\e82d";
}
.icon-feed3:before {
	content: "\e82e";
}
.icon-feed4:before {
	content: "\e82f";
}
.icon-youtube2:before {
	content: "\e830";
}
.icon-youtube3:before {
	content: "\e831";
}
.icon-vimeo:before {
	content: "\e832";
}
.icon-vimeo2:before {
	content: "\e833";
}
.icon-vimeo3:before {
	content: "\e834";
}
.icon-lanyrd:before {
	content: "\e835";
}
.icon-flickr2:before {
	content: "\e836";
}
.icon-flickr3:before {
	content: "\e837";
}
.icon-flickr4:before {
	content: "\e838";
}
.icon-flickr5:before {
	content: "\e839";
}
.icon-picassa:before {
	content: "\e83a";
}
.icon-picassa2:before {
	content: "\e83b";
}
.icon-dribbble2:before {
	content: "\e83c";
}
.icon-dribbble3:before {
	content: "\e83d";
}
.icon-dribbble4:before {
	content: "\e83e";
}
.icon-forrst:before {
	content: "\e83f";
}
.icon-forrst2:before {
	content: "\e840";
}
.icon-deviantart2:before {
	content: "\e841";
}
.icon-deviantart3:before {
	content: "\e842";
}
.icon-steam2:before {
	content: "\e843";
}
.icon-steam3:before {
	content: "\e844";
}
.icon-github2:before {
	content: "\e845";
}
.icon-github3:before {
	content: "\e846";
}
.icon-github4:before {
	content: "\e847";
}
.icon-github5:before {
	content: "\e848";
}
.icon-github6:before {
	content: "\e849";
}
.icon-wordpress2:before {
	content: "\e84a";
}
.icon-wordpress3:before {
	content: "\e84b";
}
.icon-joomla2:before {
	content: "\e84c";
}
.icon-blogger:before {
	content: "\e84d";
}
.icon-blogger2:before {
	content: "\e84e";
}
.icon-tumblr2:before {
	content: "\e84f";
}
.icon-tumblr3:before {
	content: "\e850";
}
.icon-yahoo2:before {
	content: "\e851";
}
.icon-tux:before {
	content: "\e852";
}
.icon-apple2:before {
	content: "\e853";
}
.icon-finder:before {
	content: "\e854";
}
.icon-android2:before {
	content: "\e855";
}
.icon-windows2:before {
	content: "\e856";
}
.icon-windows8:before {
	content: "\e857";
}
.icon-soundcloud2:before {
	content: "\e858";
}
.icon-soundcloud3:before {
	content: "\e859";
}
.icon-skype2:before {
	content: "\e85a";
}
.icon-reddit2:before {
	content: "\e85b";
}
.icon-linkedin2:before {
	content: "\e85c";
}
.icon-lastfm2:before {
	content: "\e85d";
}
.icon-lastfm3:before {
	content: "\e85e";
}
.icon-delicious2:before {
	content: "\e85f";
}
.icon-stumbleupon2:before {
	content: "\e860";
}
.icon-stumbleupon3:before {
	content: "\e861";
}
.icon-stackoverflow:before {
	content: "\e862";
}
.icon-pinterest2:before {
	content: "\e863";
}
.icon-pinterest3:before {
	content: "\e864";
}
.icon-xing2:before {
	content: "\e865";
}
.icon-xing3:before {
	content: "\e866";
}
.icon-flattr:before {
	content: "\e867";
}
.icon-foursquare2:before {
	content: "\e868";
}
.icon-foursquare3:before {
	content: "\e869";
}
.icon-paypal2:before {
	content: "\e86a";
}
.icon-paypal3:before {
	content: "\e86b";
}
.icon-paypal4:before {
	content: "\e86c";
}
.icon-yelp2:before {
	content: "\e86d";
}
.icon-libreoffice:before {
	content: "\e86e";
}
.icon-file-pdf:before {
	content: "\e86f";
}
.icon-file-openoffice:before {
	content: "\e870";
}
.icon-file-word:before {
	content: "\e871";
}
.icon-file-excel:before {
	content: "\e872";
}
.icon-file-zip:before {
	content: "\e873";
}
.icon-file-powerpoint:before {
	content: "\e874";
}
.icon-file-xml:before {
	content: "\e875";
}
.icon-file-css:before {
	content: "\e876";
}
.icon-html52:before {
	content: "\e877";
}
.icon-html53:before {
	content: "\e878";
}
.icon-css32:before {
	content: "\e879";
}
.icon-chrome:before {
	content: "\e87a";
}
.icon-firefox:before {
	content: "\e87b";
}
.icon-IE:before {
	content: "\e87c";
}
.icon-opera:before {
	content: "\e87d";
}
.icon-safari:before {
	content: "\e87e";
}
.icon-IcoMoon:before {
	content: "\e87f";
}
.icon-phone3:before {
	content: "\e880";
}
.icon-mobile4:before {
	content: "\e881";
}
.icon-mouse:before {
	content: "\e882";
}
.icon-directions:before {
	content: "\e883";
}
.icon-mail6:before {
	content: "\e884";
}
.icon-paperplane:before {
	content: "\e885";
}
.icon-pencil4:before {
	content: "\e886";
}
.icon-feather:before {
	content: "\e887";
}
.icon-paperclip3:before {
	content: "\e888";
}
.icon-drawer4:before {
	content: "\e889";
}
.icon-reply2:before {
	content: "\e88a";
}
.icon-reply-all:before {
	content: "\e88b";
}
.icon-forward5:before {
	content: "\e88c";
}
.icon-user7:before {
	content: "\e88d";
}
.icon-users3:before {
	content: "\e88e";
}
.icon-user-add:before {
	content: "\e88f";
}
.icon-vcard:before {
	content: "\e890";
}
.icon-export:before {
	content: "\e891";
}
.icon-location3:before {
	content: "\e892";
}
.icon-map3:before {
	content: "\e893";
}
.icon-compass4:before {
	content: "\e894";
}
.icon-location4:before {
	content: "\e895";
}
.icon-target3:before {
	content: "\e896";
}
.icon-share3:before {
	content: "\e897";
}
.icon-sharable:before {
	content: "\e898";
}
.icon-heart4:before {
	content: "\e899";
}
.icon-heart5:before {
	content: "\e89a";
}
.icon-star6:before {
	content: "\e89b";
}
.icon-star7:before {
	content: "\e89c";
}
.icon-thumbsup:before {
	content: "\e89d";
}
.icon-thumbsdown:before {
	content: "\e89e";
}
.icon-chat2:before {
	content: "\e89f";
}
.icon-comment3:before {
	content: "\e8a0";
}
.icon-quote:before {
	content: "\e8a1";
}
.icon-house:before {
	content: "\e8a2";
}
.icon-popup:before {
	content: "\e8a3";
}
.icon-search3:before {
	content: "\e8a4";
}
.icon-flashlight:before {
	content: "\e8a5";
}
.icon-printer:before {
	content: "\e8a6";
}
.icon-bell3:before {
	content: "\e8a7";
}
.icon-link3:before {
	content: "\e8a8";
}
.icon-flag3:before {
	content: "\e8a9";
}
.icon-cog5:before {
	content: "\e8aa";
}
.icon-tools:before {
	content: "\e8ab";
}
.icon-trophy3:before {
	content: "\e8ac";
}
.icon-tag3:before {
	content: "\e8ad";
}
.icon-camera5:before {
	content: "\e8ae";
}
.icon-megaphone:before {
	content: "\e8af";
}
.icon-moon:before {
	content: "\e8b0";
}
.icon-palette:before {
	content: "\e8b1";
}
.icon-leaf3:before {
	content: "\e8b2";
}
.icon-music3:before {
	content: "\e8b3";
}
.icon-music4:before {
	content: "\e8b4";
}
.icon-new:before {
	content: "\e8b5";
}
.icon-graduation:before {
	content: "\e8b6";
}
.icon-book4:before {
	content: "\e8b7";
}
.icon-newspaper2:before {
	content: "\e8b8";
}
.icon-bag:before {
	content: "\e8b9";
}
.icon-airplane2:before {
	content: "\e8ba";
}
.icon-lifebuoy:before {
	content: "\e8bb";
}
.icon-eye5:before {
	content: "\e8bc";
}
.icon-clock4:before {
	content: "\e8bd";
}
.icon-microphone3:before {
	content: "\e8be";
}
.icon-calendar5:before {
	content: "\e8bf";
}
.icon-bolt3:before {
	content: "\e8c0";
}
.icon-thunder:before {
	content: "\e8c1";
}
.icon-droplet2:before {
	content: "\e8c2";
}
.icon-cd2:before {
	content: "\e8c3";
}
.icon-briefcase3:before {
	content: "\e8c4";
}
.icon-air:before {
	content: "\e8c5";
}
.icon-hourglass:before {
	content: "\e8c6";
}
.icon-gauge:before {
	content: "\e8c7";
}
.icon-language2:before {
	content: "\e8c8";
}
.icon-network:before {
	content: "\e8c9";
}
.icon-key4:before {
	content: "\e8ca";
}
.icon-battery:before {
	content: "\e8cb";
}
.icon-bucket:before {
	content: "\e8cc";
}
.icon-magnet3:before {
	content: "\e8cd";
}
.icon-drive:before {
	content: "\e8ce";
}
.icon-cup:before {
	content: "\e8cf";
}
.icon-rocket3:before {
	content: "\e8d0";
}
.icon-brush2:before {
	content: "\e8d1";
}
.icon-suitcase2:before {
	content: "\e8d2";
}
.icon-cone:before {
	content: "\e8d3";
}
.icon-earth2:before {
	content: "\e8d4";
}
.icon-keyboard2:before {
	content: "\e8d5";
}
.icon-browser:before {
	content: "\e8d6";
}
.icon-publish:before {
	content: "\e8d7";
}
.icon-progress-3:before {
	content: "\e8d8";
}
.icon-progress-2:before {
	content: "\e8d9";
}
.icon-brogress-1:before {
	content: "\e8da";
}
.icon-progress-0:before {
	content: "\e8db";
}
.icon-sun:before {
	content: "\e8dc";
}
.icon-sun2:before {
	content: "\e8dd";
}
.icon-adjust2:before {
	content: "\e8de";
}
.icon-code3:before {
	content: "\e8df";
}
.icon-screen2:before {
	content: "\e8e0";
}
.icon-infinity:before {
	content: "\e8e1";
}
.icon-light-bulb:before {
	content: "\e8e2";
}
.icon-creditcard:before {
	content: "\e8e3";
}
.icon-database2:before {
	content: "\e8e4";
}
.icon-voicemail:before {
	content: "\e8e5";
}
.icon-clipboard2:before {
	content: "\e8e6";
}
.icon-cart4:before {
	content: "\e8e7";
}
.icon-box2:before {
	content: "\e8e8";
}
.icon-ticket3:before {
	content: "\e8e9";
}
.icon-rss3:before {
	content: "\e8ea";
}
.icon-signal2:before {
	content: "\e8eb";
}
.icon-thermometer:before {
	content: "\e8ec";
}
.icon-droplets:before {
	content: "\e8ed";
}
.icon-uniE8EE:before {
	content: "\e8ee";
}
.icon-statistics:before {
	content: "\e8ef";
}
.icon-pie2:before {
	content: "\e8f0";
}
.icon-bars5:before {
	content: "\e8f1";
}
.icon-graph:before {
	content: "\e8f2";
}
.icon-lock4:before {
	content: "\e8f3";
}
.icon-lock-open:before {
	content: "\e8f4";
}
.icon-logout:before {
	content: "\e8f5";
}
.icon-login:before {
	content: "\e8f6";
}
.icon-checkmark4:before {
	content: "\e8f7";
}
.icon-cross:before {
	content: "\e8f8";
}
.icon-minus4:before {
	content: "\e8f9";
}
.icon-plus4:before {
	content: "\e8fa";
}
.icon-cross2:before {
	content: "\e8fb";
}
.icon-minus5:before {
	content: "\e8fc";
}
.icon-plus5:before {
	content: "\e8fd";
}
.icon-cross3:before {
	content: "\e8fe";
}
.icon-minus6:before {
	content: "\e8ff";
}
.icon-plus6:before {
	content: "\e900";
}
.icon-erase:before {
	content: "\e901";
}
.icon-blocked2:before {
	content: "\e902";
}
.icon-info5:before {
	content: "\e903";
}
.icon-info6:before {
	content: "\e904";
}
.icon-question3:before {
	content: "\e905";
}
.icon-help:before {
	content: "\e906";
}
.icon-warning2:before {
	content: "\e907";
}
.icon-cycle:before {
	content: "\e908";
}
.icon-cw:before {
	content: "\e909";
}
.icon-ccw:before {
	content: "\e90a";
}
.icon-shuffle2:before {
	content: "\e90b";
}
.icon-arrow:before {
	content: "\e90c";
}
.icon-arrow2:before {
	content: "\e90d";
}
.icon-retweet2:before {
	content: "\e90e";
}
.icon-loop5:before {
	content: "\e90f";
}
.icon-history3:before {
	content: "\e910";
}
.icon-back:before {
	content: "\e911";
}
.icon-switch2:before {
	content: "\e912";
}
.icon-list5:before {
	content: "\e913";
}
.icon-add-to-list:before {
	content: "\e914";
}
.icon-layout:before {
	content: "\e915";
}
.icon-list6:before {
	content: "\e916";
}
.icon-text:before {
	content: "\e917";
}
.icon-text2:before {
	content: "\e918";
}
.icon-document:before {
	content: "\e919";
}
.icon-docs:before {
	content: "\e91a";
}
.icon-landscape:before {
	content: "\e91b";
}
.icon-pictures:before {
	content: "\e91c";
}
.icon-video:before {
	content: "\e91d";
}
.icon-music5:before {
	content: "\e91e";
}
.icon-folder3:before {
	content: "\e91f";
}
.icon-archive2:before {
	content: "\e920";
}
.icon-trash2:before {
	content: "\e921";
}
.icon-upload6:before {
	content: "\e922";
}
.icon-download6:before {
	content: "\e923";
}
.icon-disk2:before {
	content: "\e924";
}
.icon-install:before {
	content: "\e925";
}
.icon-cloud4:before {
	content: "\e926";
}
.icon-upload7:before {
	content: "\e927";
}
.icon-bookmark3:before {
	content: "\e928";
}
.icon-bookmarks2:before {
	content: "\e929";
}
.icon-book5:before {
	content: "\e92a";
}
.icon-play6:before {
	content: "\e92b";
}
.icon-pause5:before {
	content: "\e92c";
}
.icon-record:before {
	content: "\e92d";
}
.icon-stop5:before {
	content: "\e92e";
}
.icon-next2:before {
	content: "\e92f";
}
.icon-previous2:before {
	content: "\e930";
}
.icon-first3:before {
	content: "\e931";
}
.icon-last3:before {
	content: "\e932";
}
.icon-resize-enlarge:before {
	content: "\e933";
}
.icon-resize-shrink:before {
	content: "\e934";
}
.icon-volume2:before {
	content: "\e935";
}
.icon-sound:before {
	content: "\e936";
}
.icon-mute:before {
	content: "\e937";
}
.icon-flow-cascade:before {
	content: "\e938";
}
.icon-flow-branch:before {
	content: "\e939";
}
.icon-flow-tree:before {
	content: "\e93a";
}
.icon-flow-line:before {
	content: "\e93b";
}
.icon-flow-parallel:before {
	content: "\e93c";
}
.icon-arrow-left6:before {
	content: "\e93d";
}
.icon-arrow-down6:before {
	content: "\e93e";
}
.icon-arrow-up-upload:before {
	content: "\e93f";
}
.icon-arrow-right6:before {
	content: "\e940";
}
.icon-arrow-left7:before {
	content: "\e941";
}
.icon-arrow-down7:before {
	content: "\e942";
}
.icon-arrow-up6:before {
	content: "\e943";
}
.icon-arrow-right7:before {
	content: "\e944";
}
.icon-arrow-left8:before {
	content: "\e945";
}
.icon-arrow-down8:before {
	content: "\e946";
}
.icon-arrow-up7:before {
	content: "\e947";
}
.icon-arrow-right8:before {
	content: "\e948";
}
.icon-arrow-left9:before {
	content: "\e949";
}
.icon-arrow-down9:before {
	content: "\e94a";
}
.icon-arrow-up8:before {
	content: "\e94b";
}
.icon-arrow-right9:before {
	content: "\e94c";
}
.icon-arrow-left10:before {
	content: "\e94d";
}
.icon-arrow-down10:before {
	content: "\e94e";
}
.icon-arrow-up9:before {
	content: "\e94f";
}
.icon-arrow-right10:before {
	content: "\e950";
}
.icon-arrow-left11:before {
	content: "\e951";
}
.icon-arrow-down11:before {
	content: "\e952";
}
.icon-arrow-up10:before {
	content: "\e953";
}
.icon-arrow-right11:before {
	content: "\e954";
}
.icon-arrow-left12:before {
	content: "\e955";
}
.icon-arrow-down12:before {
	content: "\e956";
}
.icon-arrow-up11:before {
	content: "\e957";
}
.icon-uniE958:before {
	content: "\e958";
}
.icon-arrow-left13:before {
	content: "\e959";
}
.icon-arrow-down13:before {
	content: "\e95a";
}
.icon-arrow-up12:before {
	content: "\e95b";
}
.icon-arrow-right12:before {
	content: "\e95c";
}
.icon-menu3:before {
	content: "\e95d";
}
.icon-ellipsis:before {
	content: "\e95e";
}
.icon-dots:before {
	content: "\e95f";
}
.icon-dot:before {
	content: "\e960";
}
.icon-cc2:before {
	content: "\e961";
}
.icon-cc-by:before {
	content: "\e962";
}
.icon-cc-nc:before {
	content: "\e963";
}
.icon-cc-nc-eu:before {
	content: "\e964";
}
.icon-cc-nc-jp:before {
	content: "\e965";
}
.icon-cc-sa:before {
	content: "\e966";
}
.icon-cc-nd:before {
	content: "\e967";
}
.icon-cc-pd:before {
	content: "\e968";
}
.icon-cc-zero:before {
	content: "\e969";
}
.icon-cc-share:before {
	content: "\e96a";
}
.icon-cc-share2:before {
	content: "\e96b";
}
.icon-danielbruce:before {
	content: "\e96c";
}
.icon-danielbruce2:before {
	content: "\e96d";
}
.icon-github7:before {
	content: "\e96e";
}
.icon-github8:before {
	content: "\e96f";
}
.icon-flickr6:before {
	content: "\e970";
}
.icon-flickr7:before {
	content: "\e971";
}
.icon-vimeo4:before {
	content: "\e972";
}
.icon-vimeo5:before {
	content: "\e973";
}
.icon-twitter5:before {
	content: "\e974";
}
.icon-twitter6:before {
	content: "\e975";
}
.icon-facebook5:before {
	content: "\e976";
}
.icon-facebook6:before {
	content: "\e977";
}
.icon-facebook7:before {
	content: "\e978";
}
.icon-googleplus5:before {
	content: "\e979";
}
.icon-googleplus6:before {
	content: "\e97a";
}
.icon-pinterest4:before {
	content: "\e97b";
}
.icon-pinterest5:before {
	content: "\e97c";
}
.icon-tumblr4:before {
	content: "\e97d";
}
.icon-tumblr5:before {
	content: "\e97e";
}
.icon-linkedin3:before {
	content: "\e97f";
}
.icon-linkedin4:before {
	content: "\e980";
}
.icon-dribbble5:before {
	content: "\e981";
}
.icon-dribbble6:before {
	content: "\e982";
}
.icon-stumbleupon4:before {
	content: "\e983";
}
.icon-stumbleupon5:before {
	content: "\e984";
}
.icon-lastfm4:before {
	content: "\e985";
}
.icon-lastfm5:before {
	content: "\e986";
}
.icon-rdio:before {
	content: "\e987";
}
.icon-rdio2:before {
	content: "\e988";
}
.icon-spotify2:before {
	content: "\e989";
}
.icon-spotify3:before {
	content: "\e98a";
}
.icon-qq2:before {
	content: "\e98b";
}
.icon-instagram3:before {
	content: "\e98c";
}
.icon-dropbox2:before {
	content: "\e98d";
}
.icon-evernote:before {
	content: "\e98e";
}
.icon-flattr2:before {
	content: "\e98f";
}
.icon-skype3:before {
	content: "\e990";
}
.icon-skype4:before {
	content: "\e991";
}
.icon-renren2:before {
	content: "\e992";
}
.icon-sina-weibo:before {
	content: "\e993";
}
.icon-paypal5:before {
	content: "\e994";
}
.icon-picasa:before {
	content: "\e995";
}
.icon-soundcloud4:before {
	content: "\e996";
}
.icon-mixi:before {
	content: "\e997";
}
.icon-behance2:before {
	content: "\e998";
}
.icon-circles:before {
	content: "\e999";
}
.icon-vk2:before {
	content: "\e99a";
}
.icon-smashing:before {
	content: "\e99b";
}
.icon-heart6:before {
	content: "\e99c";
}
.icon-cloud5:before {
	content: "\e99d";
}
.icon-star8:before {
	content: "\e99e";
}
.icon-tv2:before {
	content: "\e99f";
}
.icon-sound2:before {
	content: "\e9a0";
}
.icon-video2:before {
	content: "\e9a1";
}
.icon-trash3:before {
	content: "\e9a2";
}
.icon-user8:before {
	content: "\e9a3";
}
.icon-key5:before {
	content: "\e9a4";
}
.icon-search4:before {
	content: "\e9a5";
}
.icon-settings2:before {
	content: "\e9a6";
}
.icon-camera6:before {
	content: "\e9a7";
}
.icon-tag4:before {
	content: "\e9a8";
}
.icon-lock5:before {
	content: "\e9a9";
}
.icon-bulb:before {
	content: "\e9aa";
}
.icon-pen3:before {
	content: "\e9ab";
}
.icon-diamond:before {
	content: "\e9ac";
}
.icon-display:before {
	content: "\e9ad";
}
.icon-location5:before {
	content: "\e9ae";
}
.icon-eye6:before {
	content: "\e9af";
}
.icon-bubble3:before {
	content: "\e9b0";
}
.icon-stack2:before {
	content: "\e9b1";
}
.icon-cup2:before {
	content: "\e9b2";
}
.icon-phone4:before {
	content: "\e9b3";
}
.icon-news:before {
	content: "\e9b4";
}
.icon-mail7:before {
	content: "\e9b5";
}
.icon-like:before {
	content: "\e9b6";
}
.icon-photo:before {
	content: "\e9b7";
}
.icon-note:before {
	content: "\e9b8";
}
.icon-clock5:before {
	content: "\e9b9";
}
.icon-paperplane2:before {
	content: "\e9ba";
}
.icon-params:before {
	content: "\e9bb";
}
.icon-banknote:before {
	content: "\e9bc";
}
.icon-data:before {
	content: "\e9bd";
}
.icon-music6:before {
	content: "\e9be";
}
.icon-megaphone2:before {
	content: "\e9bf";
}
.icon-study:before {
	content: "\e9c0";
}
.icon-lab2:before {
	content: "\e9c1";
}
.icon-food2:before {
	content: "\e9c2";
}
.icon-t-shirt:before {
	content: "\e9c3";
}
.icon-fire3:before {
	content: "\e9c4";
}
.icon-clip:before {
	content: "\e9c5";
}
.icon-shop:before {
	content: "\e9c6";
}
.icon-calendar6:before {
	content: "\e9c7";
}
.icon-wallet:before {
	content: "\e9c8";
}
.icon-vynil:before {
	content: "\e9c9";
}
.icon-truck3:before {
	content: "\e9ca";
}
.icon-world:before {
	content: "\e9cb";
}
.icon-number:before {
	content: "\e9cc";
}
.icon-number2:before {
	content: "\e9cd";
}
.icon-number3:before {
	content: "\e9ce";
}
.icon-number4:before {
	content: "\e9cf";
}
.icon-number5:before {
	content: "\e9d0";
}
.icon-number6:before {
	content: "\e9d1";
}
.icon-number7:before {
	content: "\e9d2";
}
.icon-number8:before {
	content: "\e9d3";
}
.icon-number9:before {
	content: "\e9d4";
}
.icon-number10:before {
	content: "\e9d5";
}
.icon-number11:before {
	content: "\e9d6";
}
.icon-number12:before {
	content: "\e9d7";
}
.icon-number13:before {
	content: "\e9d8";
}
.icon-number14:before {
	content: "\e9d9";
}
.icon-number15:before {
	content: "\e9da";
}
.icon-number16:before {
	content: "\e9db";
}
.icon-number17:before {
	content: "\e9dc";
}
.icon-number18:before {
	content: "\e9dd";
}
.icon-number19:before {
	content: "\e9de";
}
.icon-number20:before {
	content: "\e9df";
}
.icon-quote2:before {
	content: "\e9e0";
}
.icon-quote3:before {
	content: "\e9e1";
}
.icon-tag5:before {
	content: "\e9e2";
}
.icon-tag6:before {
	content: "\e9e3";
}
.icon-link4:before {
	content: "\e9e4";
}
.icon-link5:before {
	content: "\e9e5";
}
.icon-cabinet2:before {
	content: "\e9e6";
}
.icon-cabinet3:before {
	content: "\e9e7";
}
.icon-calendar7:before {
	content: "\e9e8";
}
.icon-calendar8:before {
	content: "\e9e9";
}
.icon-calendar9:before {
	content: "\e9ea";
}
.icon-file6:before {
	content: "\e9eb";
}
.icon-file7:before {
	content: "\e9ec";
}
.icon-file8:before {
	content: "\e9ed";
}
.icon-files:before {
	content: "\e9ee";
}
.icon-phone5:before {
	content: "\e9ef";
}
.icon-tablet3:before {
	content: "\e9f0";
}
.icon-window:before {
	content: "\e9f1";
}
.icon-monitor:before {
	content: "\e9f2";
}
.icon-ipod:before {
	content: "\e9f3";
}
.icon-tv3:before {
	content: "\e9f4";
}
.icon-camera7:before {
	content: "\e9f5";
}
.icon-camera8:before {
	content: "\e9f6";
}
.icon-camera9:before {
	content: "\e9f7";
}
.icon-film3:before {
	content: "\e9f8";
}
.icon-film4:before {
	content: "\e9f9";
}
.icon-film5:before {
	content: "\e9fa";
}
.icon-microphone4:before {
	content: "\e9fb";
}
.icon-microphone5:before {
	content: "\e9fc";
}
.icon-microphone6:before {
	content: "\e9fd";
}
.icon-drink:before {
	content: "\e9fe";
}
.icon-drink2:before {
	content: "\e9ff";
}
.icon-drink3:before {
	content: "\ea00";
}
.icon-drink4:before {
	content: "\ea01";
}
.icon-coffee2:before {
	content: "\ea02";
}
.icon-mug2:before {
	content: "\ea03";
}
.icon-icecream:before {
	content: "\ea04";
}
.icon-cake:before {
	content: "\ea05";
}
.icon-inbox2:before {
	content: "\ea06";
}
.icon-download7:before {
	content: "\ea07";
}
.icon-upload8:before {
	content: "\ea08";
}
.icon-inbox3:before {
	content: "\ea09";
}
.icon-checkmark5:before {
	content: "\ea0a";
}
.icon-checkmark6:before {
	content: "\ea0b";
}
.icon-cancel:before {
	content: "\ea0c";
}
.icon-cancel2:before {
	content: "\ea0d";
}
.icon-plus7:before {
	content: "\ea0e";
}
.icon-plus8:before {
	content: "\ea0f";
}
.icon-minus7:before {
	content: "\ea10";
}
.icon-minus8:before {
	content: "\ea11";
}
.icon-notice:before {
	content: "\ea12";
}
.icon-notice2:before {
	content: "\ea13";
}
.icon-cog6:before {
	content: "\ea14";
}
.icon-cogs3:before {
	content: "\ea15";
}
.icon-cog7:before {
	content: "\ea16";
}
.icon-warning3:before {
	content: "\ea17";
}
.icon-health:before {
	content: "\ea18";
}
.icon-suitcase3:before {
	content: "\ea19";
}
.icon-suitcase4:before {
	content: "\ea1a";
}
.icon-suitcase5:before {
	content: "\ea1b";
}
.icon-picture:before {
	content: "\ea1c";
}
.icon-pictures2:before {
	content: "\ea1d";
}
.icon-pictures3:before {
	content: "\ea1e";
}
.icon-android3:before {
	content: "\ea1f";
}
.icon-marvin:before {
	content: "\ea20";
}
.icon-pacman2:before {
	content: "\ea21";
}
.icon-cassette:before {
	content: "\ea22";
}
.icon-watch:before {
	content: "\ea23";
}
.icon-chronometer:before {
	content: "\ea24";
}
.icon-watch2:before {
	content: "\ea25";
}
.icon-alarmclock:before {
	content: "\ea26";
}
.icon-time:before {
	content: "\ea27";
}
.icon-time2:before {
	content: "\ea28";
}
.icon-headphones4:before {
	content: "\ea29";
}
.icon-wallet2:before {
	content: "\ea2a";
}
.icon-checkmark7:before {
	content: "\ea2b";
}
.icon-cancel3:before {
	content: "\ea2c";
}
.icon-eye7:before {
	content: "\ea2d";
}
.icon-position:before {
	content: "\ea2e";
}
.icon-sitemap2:before {
	content: "\ea2f";
}
.icon-sitemap3:before {
	content: "\ea30";
}
.icon-cloud6:before {
	content: "\ea31";
}
.icon-upload9:before {
	content: "\ea32";
}
.icon-chart2:before {
	content: "\ea33";
}
.icon-chart3:before {
	content: "\ea34";
}
.icon-chart4:before {
	content: "\ea35";
}
.icon-chart5:before {
	content: "\ea36";
}
.icon-chart6:before {
	content: "\ea37";
}
.icon-chart7:before {
	content: "\ea38";
}
.icon-location6:before {
	content: "\ea39";
}
.icon-download8:before {
	content: "\ea3a";
}
.icon-basket:before {
	content: "\ea3b";
}
.icon-folder4:before {
	content: "\ea3c";
}
.icon-gamepad2:before {
	content: "\ea3d";
}
.icon-alarm3:before {
	content: "\ea3e";
}
.icon-alarm-cancel:before {
	content: "\ea3f";
}
.icon-phone6:before {
	content: "\ea40";
}
.icon-phone7:before {
	content: "\ea41";
}
.icon-image5:before {
	content: "\ea42";
}
.icon-open:before {
	content: "\ea43";
}
.icon-sale:before {
	content: "\ea44";
}
.icon-direction:before {
	content: "\ea45";
}
.icon-map4:before {
	content: "\ea46";
}
.icon-trashcan:before {
	content: "\ea47";
}
.icon-vote:before {
	content: "\ea48";
}
.icon-graduate:before {
	content: "\ea49";
}
.icon-lab3:before {
	content: "\ea4a";
}
.icon-tie:before {
	content: "\ea4b";
}
.icon-football:before {
	content: "\ea4c";
}
.icon-eightball:before {
	content: "\ea4d";
}
.icon-bowling:before {
	content: "\ea4e";
}
.icon-bowlingpin:before {
	content: "\ea4f";
}
.icon-baseball:before {
	content: "\ea50";
}
.icon-soccer:before {
	content: "\ea51";
}
.icon-3dglasses:before {
	content: "\ea52";
}
.icon-microwave:before {
	content: "\ea53";
}
.icon-refrigerator:before {
	content: "\ea54";
}
.icon-oven:before {
	content: "\ea55";
}
.icon-washingmachine:before {
	content: "\ea56";
}
.icon-mouse2:before {
	content: "\ea57";
}
.icon-smiley3:before {
	content: "\ea58";
}
.icon-sad3:before {
	content: "\ea59";
}
.icon-mute2:before {
	content: "\ea5a";
}
.icon-hand:before {
	content: "\ea5b";
}
.icon-radio:before {
	content: "\ea5c";
}
.icon-satellite:before {
	content: "\ea5d";
}
.icon-medal:before {
	content: "\ea5e";
}
.icon-medal2:before {
	content: "\ea5f";
}
.icon-switch3:before {
	content: "\ea60";
}
.icon-key6:before {
	content: "\ea61";
}
.icon-cord:before {
	content: "\ea62";
}
.icon-locked:before {
	content: "\ea63";
}
.icon-unlocked2:before {
	content: "\ea64";
}
.icon-locked2:before {
	content: "\ea65";
}
.icon-unlocked3:before {
	content: "\ea66";
}
.icon-magnifier:before {
	content: "\ea67";
}
.icon-zoomin2:before {
	content: "\ea68";
}
.icon-zoomout2:before {
	content: "\ea69";
}
.icon-stack3:before {
	content: "\ea6a";
}
.icon-stack4:before {
	content: "\ea6b";
}
.icon-stack5:before {
	content: "\ea6c";
}
.icon-davidstar:before {
	content: "\ea6d";
}
.icon-cross4:before {
	content: "\ea6e";
}
.icon-moonandstar:before {
	content: "\ea6f";
}
.icon-transformers:before {
	content: "\ea70";
}
.icon-batman:before {
	content: "\ea71";
}
.icon-spaceinvaders:before {
	content: "\ea72";
}
.icon-skeletor:before {
	content: "\ea73";
}
.icon-lamp:before {
	content: "\ea74";
}
.icon-lamp2:before {
	content: "\ea75";
}
.icon-umbrella3:before {
	content: "\ea76";
}
.icon-streetlight:before {
	content: "\ea77";
}
.icon-bomb2:before {
	content: "\ea78";
}
.icon-archive3:before {
	content: "\ea79";
}
.icon-battery2:before {
	content: "\ea7a";
}
.icon-battery3:before {
	content: "\ea7b";
}
.icon-battery4:before {
	content: "\ea7c";
}
.icon-battery5:before {
	content: "\ea7d";
}
.icon-battery6:before {
	content: "\ea7e";
}
.icon-megaphone3:before {
	content: "\ea7f";
}
.icon-megaphone4:before {
	content: "\ea80";
}
.icon-patch:before {
	content: "\ea81";
}
.icon-pil:before {
	content: "\ea82";
}
.icon-injection:before {
	content: "\ea83";
}
.icon-thermometer2:before {
	content: "\ea84";
}
.icon-lamp3:before {
	content: "\ea85";
}
.icon-lamp4:before {
	content: "\ea86";
}
.icon-lamp5:before {
	content: "\ea87";
}
.icon-cube2:before {
	content: "\ea88";
}
.icon-box3:before {
	content: "\ea89";
}
.icon-box4:before {
	content: "\ea8a";
}
.icon-diamond2:before {
	content: "\ea8b";
}
.icon-bag2:before {
	content: "\ea8c";
}
.icon-moneybag:before {
	content: "\ea8d";
}
.icon-grid:before {
	content: "\ea8e";
}
.icon-grid2:before {
	content: "\ea8f";
}
.icon-list7:before {
	content: "\ea90";
}
.icon-list8:before {
	content: "\ea91";
}
.icon-ruler:before {
	content: "\ea92";
}
.icon-ruler2:before {
	content: "\ea93";
}
.icon-layout2:before {
	content: "\ea94";
}
.icon-layout3:before {
	content: "\ea95";
}
.icon-layout4:before {
	content: "\ea96";
}
.icon-layout5:before {
	content: "\ea97";
}
.icon-layout6:before {
	content: "\ea98";
}
.icon-layout7:before {
	content: "\ea99";
}
.icon-layout8:before {
	content: "\ea9a";
}
.icon-layout9:before {
	content: "\ea9b";
}
.icon-layout10:before {
	content: "\ea9c";
}
.icon-layout11:before {
	content: "\ea9d";
}
.icon-layout12:before {
	content: "\ea9e";
}
.icon-layout13:before {
	content: "\ea9f";
}
.icon-layout14:before {
	content: "\eaa0";
}
.icon-layout15:before {
	content: "\eaa1";
}
.icon-tools2:before {
	content: "\eaa2";
}
.icon-screwdriver:before {
	content: "\eaa3";
}
.icon-paint:before {
	content: "\eaa4";
}
.icon-hammer3:before {
	content: "\eaa5";
}
.icon-brush3:before {
	content: "\eaa6";
}
.icon-pen4:before {
	content: "\eaa7";
}
.icon-chat3:before {
	content: "\eaa8";
}
.icon-comments2:before {
	content: "\eaa9";
}
.icon-chat4:before {
	content: "\eaaa";
}
.icon-chat5:before {
	content: "\eaab";
}
.icon-volume3:before {
	content: "\eaac";
}
.icon-volume4:before {
	content: "\eaad";
}
.icon-volume5:before {
	content: "\eaae";
}
.icon-equalizer3:before {
	content: "\eaaf";
}
.icon-resize:before {
	content: "\eab0";
}
.icon-resize2:before {
	content: "\eab1";
}
.icon-stretch:before {
	content: "\eab2";
}
.icon-narrow:before {
	content: "\eab3";
}
.icon-resize3:before {
	content: "\eab4";
}
.icon-download9:before {
	content: "\eab5";
}
.icon-calculator2:before {
	content: "\eab6";
}
.icon-library2:before {
	content: "\eab7";
}
.icon-auction:before {
	content: "\eab8";
}
.icon-justice:before {
	content: "\eab9";
}
.icon-stats2:before {
	content: "\eaba";
}
.icon-stats3:before {
	content: "\eabb";
}
.icon-attachment2:before {
	content: "\eabc";
}
.icon-hourglass2:before {
	content: "\eabd";
}
.icon-abacus:before {
	content: "\eabe";
}
.icon-pencil5:before {
	content: "\eabf";
}
.icon-pen5:before {
	content: "\eac0";
}
.icon-pin2:before {
	content: "\eac1";
}
.icon-pin3:before {
	content: "\eac2";
}
.icon-discout:before {
	content: "\eac3";
}
.icon-edit2:before {
	content: "\eac4";
}
.icon-scissors2:before {
	content: "\eac5";
}
.icon-profile2:before {
	content: "\eac6";
}
.icon-profile3:before {
	content: "\eac7";
}
.icon-profile4:before {
	content: "\eac8";
}
.icon-rotate:before {
	content: "\eac9";
}
.icon-rotate2:before {
	content: "\eaca";
}
.icon-reply3:before {
	content: "\eacb";
}
.icon-forward6:before {
	content: "\eacc";
}
.icon-retweet3:before {
	content: "\eacd";
}
.icon-shuffle3:before {
	content: "\eace";
}
.icon-loop6:before {
	content: "\eacf";
}
.icon-crop3:before {
	content: "\ead0";
}
.icon-square2:before {
	content: "\ead1";
}
.icon-square3:before {
	content: "\ead2";
}
.icon-circle2:before {
	content: "\ead3";
}
.icon-dollar2:before {
	content: "\ead4";
}
.icon-dollar3:before {
	content: "\ead5";
}
.icon-coins:before {
	content: "\ead6";
}
.icon-pig:before {
	content: "\ead7";
}
.icon-bookmark4:before {
	content: "\ead8";
}
.icon-bookmark5:before {
	content: "\ead9";
}
.icon-addressbook:before {
	content: "\eada";
}
.icon-addressbook2:before {
	content: "\eadb";
}
.icon-safe:before {
	content: "\eadc";
}
.icon-envelope3:before {
	content: "\eadd";
}
.icon-envelope4:before {
	content: "\eade";
}
.icon-radioactive:before {
	content: "\eadf";
}
.icon-music7:before {
	content: "\eae0";
}
.icon-presentation:before {
	content: "\eae1";
}
.icon-male2:before {
	content: "\eae2";
}
.icon-female2:before {
	content: "\eae3";
}
.icon-aids:before {
	content: "\eae4";
}
.icon-heart7:before {
	content: "\eae5";
}
.icon-info7:before {
	content: "\eae6";
}
.icon-info8:before {
	content: "\eae7";
}
.icon-piano:before {
	content: "\eae8";
}
.icon-rain2:before {
	content: "\eae9";
}
.icon-snow:before {
	content: "\eaea";
}
.icon-lightning2:before {
	content: "\eaeb";
}
.icon-sun3:before {
	content: "\eaec";
}
.icon-moon2:before {
	content: "\eaed";
}
.icon-cloudy:before {
	content: "\eaee";
}
.icon-cloudy2:before {
	content: "\eaef";
}
.icon-car:before {
	content: "\eaf0";
}
.icon-bike:before {
	content: "\eaf1";
}
.icon-truck4:before {
	content: "\eaf2";
}
.icon-bus2:before {
	content: "\eaf3";
}
.icon-bike2:before {
	content: "\eaf4";
}
.icon-plane2:before {
	content: "\eaf5";
}
.icon-paperplane3:before {
	content: "\eaf6";
}
.icon-rocket4:before {
	content: "\eaf7";
}
.icon-book6:before {
	content: "\eaf8";
}
.icon-book7:before {
	content: "\eaf9";
}
.icon-barcode3:before {
	content: "\eafa";
}
.icon-barcode4:before {
	content: "\eafb";
}
.icon-expand4:before {
	content: "\eafc";
}
.icon-collapse:before {
	content: "\eafd";
}
.icon-popout:before {
	content: "\eafe";
}
.icon-popin:before {
	content: "\eaff";
}
.icon-target4:before {
	content: "\eb00";
}
.icon-badge:before {
	content: "\eb01";
}
.icon-badge2:before {
	content: "\eb02";
}
.icon-ticket4:before {
	content: "\eb03";
}
.icon-ticket5:before {
	content: "\eb04";
}
.icon-ticket6:before {
	content: "\eb05";
}
.icon-microphone7:before {
	content: "\eb06";
}
.icon-cone2:before {
	content: "\eb07";
}
.icon-blocked3:before {
	content: "\eb08";
}
.icon-stop6:before {
	content: "\eb09";
}
.icon-keyboard3:before {
	content: "\eb0a";
}
.icon-keyboard4:before {
	content: "\eb0b";
}
.icon-radio2:before {
	content: "\eb0c";
}
.icon-printer2:before {
	content: "\eb0d";
}
.icon-checked:before {
	content: "\eb0e";
}
.icon-error:before {
	content: "\eb0f";
}
.icon-add:before {
	content: "\eb10";
}
.icon-minus9:before {
	content: "\eb11";
}
.icon-alert:before {
	content: "\eb12";
}
.icon-pictures4:before {
	content: "\eb13";
}
.icon-atom:before {
	content: "\eb14";
}
.icon-eyedropper3:before {
	content: "\eb15";
}
.icon-globe3:before {
	content: "\eb16";
}
.icon-globe4:before {
	content: "\eb17";
}
.icon-shipping:before {
	content: "\eb18";
}
.icon-yingyang:before {
	content: "\eb19";
}
.icon-compass5:before {
	content: "\eb1a";
}
.icon-zip:before {
	content: "\eb1b";
}
.icon-zip2:before {
	content: "\eb1c";
}
.icon-anchor2:before {
	content: "\eb1d";
}
.icon-lockedheart:before {
	content: "\eb1e";
}
.icon-magnet4:before {
	content: "\eb1f";
}
.icon-navigation:before {
	content: "\eb20";
}
.icon-tags3:before {
	content: "\eb21";
}
.icon-heart8:before {
	content: "\eb22";
}
.icon-heart9:before {
	content: "\eb23";
}
.icon-usb:before {
	content: "\eb24";
}
.icon-clipboard3:before {
	content: "\eb25";
}
.icon-clipboard4:before {
	content: "\eb26";
}
.icon-clipboard5:before {
	content: "\eb27";
}
.icon-switch4:before {
	content: "\eb28";
}
.icon-ruler3:before {
	content: "\eb29";
}
