<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../resources/templates/admTemplate_bootStrap.xhtml"                    
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Intranet - Administração
    </ui:define>

    <ui:define name="header">
        <!--jQuery Version 2.0.3 usado para funcionar o jquery-->
        <!-- ######DANGER ZONE (!!!NÃO USAR EM PÁGINAS COM COMPONENTES PRIMEFACES!!!!)######### -->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery/jquery.min.js"></script>
    </ui:define>

    <ui:define name="content">
        <br/>
        <h3>Seja bem-vindo, <span>#{loginController.funcionario.nome}</span> a área administrativa da intranet!</h3> 
    </ui:define>

</ui:composition>
