<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Intranet Administração - Simulador de Fundos
    </ui:define>
    <ui:define name="content">
        <fieldset>
            <legend><h2>Simulador de Fundos</h2></legend>
            <h:form id="form" prependId="false">
                <p:growl id="growl" />               
                <h:panelGroup id="menus2" >
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation">
                            <p:commandLink value="Atualizar Base" onclick="PF('updatedlg').show();" />                            
                        </li>
                    </ul>
                </h:panelGroup>
                <p:dataTable id="Table" widgetVar="TableFundos" var="fundo" value="#{fundosController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="margin-top: 20px;"
                             selection="#{fundosController.selected}" selectionMode="single"
                             filteredValue="#{fundosController.listaDeFundosFilter}" filterDelay="1000"
                             lazy="true" paginatorPosition="bottom"
                             rowKey="#{fundo.id}" paginator="true" rows="20"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport} {Exporters}"
                             resizableColumns="true">
                    <p:ajax event="rowSelect" update=":form:Table "/>
                    <f:facet name="header">
                        <h3>Lista de Fundos</h3>
                        <p:commandButton id="toggler" type="button" value="Personalizar Colunas" style="float:right; margin-top: -2.5%;" icon="ui-icon-calculator" />
                        <p:columnToggler datasource="Table" trigger="toggler" />
                    </f:facet>
                    <f:facet name="{Exporters}">   
                        <h:commandLink value="PDF" styleClass="btn btn-success" style="float: right; margin-left: 0.2em; background-color: #0596F3; border-color: #0596F3;"> 
                            <p:dataExporter type="pdf" target="Table" fileName="Fundos" encoding="UTF-8"/>
                        </h:commandLink>
                        <h:commandLink value="CSV" styleClass="btn btn-success" style="float: right; background-color: #FFAA00; border-color: #0596F3;">
                            <p:dataExporter type="csv" target="Table" fileName="Fundos" encoding='UTF-8'/>
                        </h:commandLink>
                    </f:facet>
                    <p:column headerText="Id" filterBy="#{fundo.id}"
                              filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.id}"/>
                    </p:column>
                    <p:column headerText="Fundo" filterBy="#{fundo.nomefundo}" filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.nomefundo}"/>
                    </p:column>
                    <p:column headerText="Família" filterBy="#{fundo.familia}" filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.familia}"/>
                    </p:column>
                    <p:column headerText="Segmento" filterBy="#{fundo.segmento}" filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.segmento}"/>
                    </p:column>
                    <p:column headerText="Taxa Administração" filterBy="#{fundo.taxaadm}" filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.taxaadm}">
                            <f:convertNumber type="currency" maxFractionDigits="2"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Aplicação Inicial" filterBy="#{fundo.aplicacaoinicial}" filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.aplicacaoinicial}">
                            <f:convertNumber type="currency" maxFractionDigits="0"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Aplicação Subsequente" filterBy="#{fundo.aplicacaosubs}" filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.aplicacaosubs}">
                            <f:convertNumber type="currency" maxFractionDigits="0"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Crédito de Resgate" filterBy="#{fundo.creditoResgate}" filterMatchMode="contains" styleClass="text-center">
                        <h:outputText value="#{fundo.creditoResgate}"/>
                    </p:column>
                    <p:column headerText="Aplicação Automática" styleClass="text-center" filterBy="#{fundo.movautoaplicavao}" filterMatchMode="contains">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('TableFundos').filter()" style="width: 80%">
                                <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                <f:selectItem itemLabel="Não" itemValue="#{false}" />
                            </p:selectOneMenu>
                        </f:facet> 
                        <h:outputText value="#{fundo.movautoaplicavao == 'true'? 'Sim' : 'Não'}"/>
                    </p:column>
                    <p:column headerText="Resgate Automático" styleClass="text-center" sortBy="#{fundo.movautoresgate}" filterBy="#{fundo.movautoresgate}" filterMatchMode="contains">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('TableFundos').filter()" style="width: 80%">
                                <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                <f:selectItem itemLabel="Não" itemValue="#{false}" />
                            </p:selectOneMenu>
                        </f:facet> 
                        <h:outputText value="#{fundo.movautoresgate == 'true'? 'Sim' : 'Não'}"/>
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:dialog header="Atualizar Fundos (CSV)" widgetVar="updatedlg" resizable="false"
                      modal="true" width="600">
                <h:form id="formUpload" prependId="false">
                    <h3>Subir Fundos Disponíveis</h3>
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <p:fileUpload fileUploadListener="#{fundosController.fileUploadListener}"
                                      mode="advanced"
                                      update=":form:Table :form:growl"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(csv|txt)$/"
                                      />
                    </h:panelGrid>
                    <p:commandButton value="atualizar" actionListener="#{fundosController.subirFundos()}"                                     
                                     update=":form:Table" oncomplete="PF('Concluido').show();"
                                     /> 
                    <h3>Subir Detalhes de Fundos</h3>
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <p:fileUpload fileUploadListener="#{fundosController.fileUploadListener}"
                                      mode="advanced"
                                      update=":form:Table :form:growl"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(csv|txt)$/"
                                      />
                    </h:panelGrid>
                    <br/>
                    <p:commandButton value="atualizar" actionListener="#{fundosController.subirDetalhes()}"                                     
                                     update=":form:Table" oncomplete="PF('Concluido').show();"
                                     /> 
                    <p:commandButton value="cancelar" type="button" onclick="PF('updatedlg').hide();"/>
                </h:form>
            </p:dialog> 
            <p:dialog widgetVar="Concluido" resizable="false"
                      modal="true" width="600" style="text-align: center;">
                <h:form prependId="false">
                    <h1>CONCLUÍDO</h1>
                    <br/>
                    <p:commandButton value="OK" type="button" onclick="PF('Concluido').hide(); PF('updatedlg').hide();" style="width: 568px; height: 60px;"/>
                </h:form>
            </p:dialog>
        </fieldset>
    </ui:define>
</ui:composition>
