<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions-6.0.0.jar"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">


    <ui:define name="header">
        <style>
            .title-header{
                top: -10px;
                position: relative;
            }
            .logo-header *{
                display: inline-block;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Averbação
    </ui:define>

    <ui:define name="content">
        <p:tabView id="tabView">
            <p:tab title="Tabela de Averbações">

                <div>
                    <h2 class="col-xs-10">Lista de Pedidos de Averbação</h2>
                    <h4 class="col-xs-1">PRIORIZAR</h4>
                    <h4 class="col-xs-1" style="border:solid ; border-width:1px ;border-color: #949090;background-color:#ffd800; height: 20px;"> </h4>

                </div>
                <br/> <br/> <br/> <br/> 
                <h:form id="formDividas" prependId="false">

                    <div class="row">

                        <p:dataTable id="tblaverbacao" widgetVar="tblaverbacao" var="pedido"
                                     value="#{averbacaoController.lazyData}" lazy="true"
                                     selectionMode="single" selection="#{averbacaoController.selected}"
                                     emptyMessage="Nenhum Pedido de Averbação Existente!" rowKey="#{pedido.id}"
                                     filteredValue="#{averbacaoController.listaDePedidosFilter}" filterDelay="1000"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                     {RowsPerPageDropdown} {Exporters}"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     style="margin-bottom:20px" paginator="true" rows="10" paginatorPosition="bottom">
                            <p:ajax event="rowSelect" oncomplete="PF('dlgModificarAverbacao').show();" update=":formEditar:dlgModificarAverbacao" listener="#{averbacaoController.limpaObs}"/>
                            <p:ajax event="rowUnselect" update=":formEditar:dlgModificarAverbacao :tabView:formDividas:tblaverbacao"/>

                            <f:facet name="{Exporters}">
                                <h:commandLink styleClass="icon-file-excel"
                                               style="position: absolute; right: 50px;font-size: 20.8px;margin-top: 5px;">
                                    <p:dataExporter type="csv" target="tblaverbacao" fileName="pedidoaverbacao" encoding="utf-8"
                                                    pageOnly="false"/>
                                </h:commandLink>
                            </f:facet>

                            <f:facet name="header">
                            </f:facet>

                            <p:column  headerText="ID" filterMatchMode="contains"
                                       style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <h:outputText value="#{pedido.id}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};"/>
                            </p:column>
                            
                            <p:column  headerText="Prioridade" filterMatchMode="contains"
                                       style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)} " rendered="false">
                                <f:facet name="filter">
                                </f:facet>
                                <h:outputText value="#{pedido.prioridade}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};"/>
                            </p:column>

                            <p:column filterBy="#{pedido.prefixo}" headerText="Prefixo" filterMatchMode="contains"
                                      style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <h:outputText value="#{pedido.prefixo}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};"/>
                            </p:column>

                            <p:column filterBy="#{pedido.mciCliente}" headerText="MCI" filterMatchMode="contains"
                                      style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <h:outputText value="#{pedido.mciCliente}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};"/>
                            </p:column>

                            <p:column filterBy="#{pedido.numOperacao}" headerText="Operação" filterMatchMode="contains"
                                      style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <h:outputText value="#{pedido.numOperacao}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};"/>
                            </p:column>
                            
                            <p:column filterBy="#{pedido.valorTotal}" headerText="Total" filterMatchMode="contains"
                                      style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                              <h:outputText value="#{pedido.valorTotal}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};">
                                  <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                     type="currency"/>
                              </h:outputText>                                     
                            </p:column>
                         
                            <p:column filterBy="#{pedido}" headerText="Troco" filterMatchMode="contains"
                                      style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <h:outputText value="#{pedido.troco}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};">
                                    <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                     type="currency"/>
                                </h:outputText>
                            </p:column>           
                                                                                              
                            <p:column filterBy="#{pedido.idConvenio.nome}" headerText="Convenio" filterMatchMode="exact" style="width: 21%;background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tblaverbacao').filter()" >
                                        <f:selectItem itemLabel="Selecione" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems value="#{averbacaoController.brands}" /> 
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{pedido.idConvenio.nome}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};"/>
                            </p:column>
                                                        
                            <p:column headerText="Status" filterBy="#{pedido.statusAverbacao}" filterMatchMode="contains"
                                      style="text-align: center;background-color: #{averbacaoController.verificarBackGroundColor(pedido.statusAverbacao)};">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tblaverbacao').filter()">
                                        <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                        <f:selectItems value="#{averbacaoController.averbacaoStatus}"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{pedido.statusAverbacao}"
                                              style="color: #{averbacaoController.verificarTextColor(pedido.statusAverbacao)};"/>
                            </p:column>
                            <p:column filterBy="#{pedido.responsavel}" headerText="Responsável" filterMatchMode="equals" style="text-align: center;background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <f:facet name="filter">
                                    <p:selectOneMenu label="Escolha" onchange="PF('tblaverbacao').filter()" value="#{averbacaoController.responsavel}">
                                        <f:selectItem itemLabel="Todos"/>
                                        <f:selectItems value="#{averbacaoController.responsaveisNovo}"/>
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{pedido.responsavel}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};"/>
                            </p:column>

                            <p:column style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                <f:facet name="header">
                                    <h:outputText value="Última Modificação"/>
                                </f:facet>
                                <h:outputText value="#{averbacaoController.getUtltimaOperacao(pedido).dataOperacao}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)};" rendered="#{averbacaoController.renderizaTempo(pedido) == false}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-3"/>
                                </h:outputText>
                                <h:outputText value="#{averbacaoController.getTempo(pedido)}" style="color: #{averbacaoController.corDoTexto(pedido.ordemprioridade)}; font-weight: #{averbacaoController.fontWeight(pedido)}" rendered="#{averbacaoController.renderizaTempo(pedido)}"/>
                            </p:column>
                        </p:dataTable>
                        <p:blockUI block="tblaverbacao" trigger="tblaverbacao">
                            <p:graphicImage value="#{resource['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                        </p:blockUI>
                    </div>
                </h:form>
                <h:form id="formPrioridades">
                    <p:dialog id="priori" widgetVar="priori" closeOnEscape="true" header="LISTA DE PRIORIDADES" modal="true"
                              showEffect="drop">
                                  <p:dataTable id="tblaverbacao2" widgetVar="tblaverbacao2" var="pedido"
                                    value="#{averbacaoController.prioridades}" lazy="true"
                                     selectionMode="single" selection="#{averbacaoController.selected}"
                                     emptyMessage="Nenhum Pedido de Averbação Existente!" rowKey="#{pedido.id}"
                                     filteredValue="#{averbacaoController.listaDePedidosFilter}" filterDelay="1000"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                     {RowsPerPageDropdown} {Exporters}"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     style="margin-bottom:20px" paginator="true" rows="10" paginatorPosition="bottom">
                                        <p:ajax event="rowSelect" oncomplete="PF('dlgModificarAverbacao').show();" update=":formEditar:dlgModificarAverbacao" listener="#{averbacaoController.limpaObs}"/>
                                        <p:ajax event="rowUnselect" update=":formEditar:dlgModificarAverbacao :tabView:formDividas:tblaverbacao"/>

                                        <f:facet name="{Exporters}">
                                            <h:commandLink styleClass="icon-file-excel"
                                                           style="position: absolute; right: 50px;font-size: 20.8px;margin-top: 5px;">
                                                <p:dataExporter type="csv" target="tblaverbacao" fileName="pedidoaverbacao" encoding="utf-8"
                                                                pageOnly="false"/>
                                            </h:commandLink>
                                        </f:facet>

                                        <f:facet name="header">
                                        </f:facet>

                                        <p:column  headerText="ID" filterMatchMode="contains"
                                                   style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <h:outputText value="#{pedido.id}"/>
                                        </p:column>

                                        <p:column  headerText="Prioridade" filterMatchMode="contains"
                                                   style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)} " rendered="false">
                                            <f:facet name="filter">
                                            </f:facet>
                                            <h:outputText value="#{pedido.prioridade}"/>
                                        </p:column>

                                        <p:column filterBy="#{pedido.prefixo}" headerText="Prefixo" filterMatchMode="contains"
                                                  style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <h:outputText value="#{pedido.prefixo}"/>
                                        </p:column>

                                        <p:column filterBy="#{pedido.mciCliente}" headerText="MCI" filterMatchMode="contains"
                                                  style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <h:outputText value="#{pedido.mciCliente}"/>
                                        </p:column>

                                        <p:column filterBy="#{pedido.numOperacao}" headerText="Operação" filterMatchMode="contains"
                                                  style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <h:outputText value="#{pedido.numOperacao}"/>
                                        </p:column>

                                        <p:column filterBy="#{pedido.valorTotal}" headerText="Total" filterMatchMode="contains"
                                                  style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                          <h:outputText value="#{pedido.valorTotal}">
                                              <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                                 type="currency"/>
                                          </h:outputText>                                     
                                        </p:column>
                                        <p:column filterBy="#{pedido}" headerText="Troco" filterMatchMode="contains"
                                                  style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <h:outputText value="#{pedido.troco}">
                                                <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                                 type="currency"/>
                                            </h:outputText>
                                        </p:column>  
         

                                        <p:column filterBy="#{pedido.idConvenio.nome}" headerText="Convenio" filterMatchMode="exact" style="width: 21%;background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <f:facet name="filter">
                                                <p:selectOneMenu onchange="PF('tblaverbacao').filter()" >
                                                    <f:selectItem itemLabel="Selecione" itemValue="#{null}" noSelectionOption="true" />
                                                    <f:selectItems value="#{averbacaoController.brands}" />
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <h:outputText value="#{pedido.idConvenio.nome}" />
                                        </p:column>


                                        <p:column headerText="Status" filterBy="#{pedido.statusAverbacao}" filterMatchMode="contains"
                                                  style="text-align: center;background-color: #{averbacaoController.verificarBackGroundColor(pedido.statusAverbacao)};">
                                            <f:facet name="filter">
                                                <p:selectOneMenu onchange="PF('tblaverbacao').filter()">
                                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                                    <f:selectItems value="#{averbacaoController.averbacaoStatus}"/>
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <h:outputText value="#{pedido.statusAverbacao}"
                                                          style="color: #{averbacaoController.verificarTextColor(pedido.statusAverbacao)};"/>
                                        </p:column>
                                        <p:column filterBy="#{pedido.responsavel}" headerText="Responsável" filterMatchMode="equals" style="text-align: center;background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <f:facet name="filter">
                                                <p:selectOneMenu label="Escolha" onchange="PF('tblaverbacao').filter()" value="#{averbacaoController.responsavel}">
                                                    <f:selectItem itemLabel="Todos"/>
                                                    <f:selectItems value="#{averbacaoController.responsaveisNovo}"/>
                                                </p:selectOneMenu>
                                            </f:facet>
                                            <h:outputText value="#{pedido.responsavel}" />
                                        </p:column>

                                        <p:column style="text-align: center; background-color: #{averbacaoController.bgColorPrioridade(pedido.ordemprioridade)}">
                                            <f:facet name="header">
                                                <h:outputText value="Última Modificação"/>
                                            </f:facet>
                                            <h:outputText value="#{averbacaoController.getUtltimaOperacao(pedido).dataOperacao}">
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-3"/>
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                    </p:dialog>
                </h:form>
            </p:tab>

            <p:tab title="Gerenciar Convenios/Linha de Crédito">
                <h:form id="frm3" prependId="false">
                    <p:accordionPanel>
                        <p:tab title="Adicionar Convênio/Linha de Crédito">
                            <p:growl id="growl" showDetail="true" sticky="false"/>
                            <h:panelGroup id="painelGroup">
                                <h2>Adicionar Convênio/Linha de Credito</h2>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Número do Convênio: "/>
                                                <p:inputText value="#{averbacaoController.numConvenio}"
                                                             styleClass="form-control">
                                                    <p:keyFilter regEx="/[\d\-\.]/"/>
                                                </p:inputText>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Nome do novo Convênio: "/>
                                                <p:inputText value="#{averbacaoController.convenio}"
                                                             styleClass="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <h:outputText value="Responsável: "/>
                                                <p:inputText value="#{averbacaoController.responsavel}"
                                                             styleClass="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <br/>
                                            <p:commandButton icon="ui-icon-disk" title="Salvar"
                                                             update="@form :script:scriptAlert"
                                                             oncomplete="verificaOperacao('Convênio Adcionado com Sucesso!','Convênio não foi adicionado!');"
                                                             action="#{averbacaoController.addConvenio()}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Número da Linha de Crédito: "/>
                                                <p:inputText value="#{averbacaoController.numeroLinhaDeCredito}"
                                                             styleClass="form-control">
                                                    <p:keyFilter regEx="/[\d\-\.]/"/>
                                                </p:inputText>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Nome da Linha de Crédito: "/>
                                                <p:inputText value="#{averbacaoController.nomeLinhaDeCredito}"
                                                             styleClass="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <br/>
                                            <p:commandButton icon="ui-icon-disk" title="Salvar"
                                                             update="@form :script:scriptAlert"
                                                             oncomplete="verificaOperacao('Nova Linha de Crédito Adcionada com Sucesso!','Linha de Crédito não adcionada!');"
                                                             action="#{averbacaoController.addLinhaDeCredito()}"/>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:tab>

                        <p:tab title="Desativar/Ativar">
                            <h:panelGroup id="formDes">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h2>Linhas de Créditos</h2>
                                                <h:selectOneMenu value="#{averbacaoController.id_linha}"
                                                                 styleClass="form-control">
                                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                                    <f:selectItems value="#{linhaDeCreditoController.allLinhaDeCredito}"
                                                                   var="linha"
                                                                   itemValue="#{linha.ID}"
                                                                   itemLabel="#{linha.label} - #{linha.ativo}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="margin-top: 62px;">
                                            <p:commandButton icon="ui-icon-circle-plus"
                                                             title="Ativar" style="margin-right: 20px;" update="@form"
                                                             oncomplete="verificaOperacao('Linha de Crédito Ativado com Sucesso!','Linha de Crédito não foi ativida!');"
                                                             action="#{averbacaoController.ativarLinhas}"/>
                                            <p:commandButton icon="ui-icon-circle-close"
                                                             title="Desativar" update="@form"
                                                             oncomplete="verificaOperacao('Linha de Crédito Desativada com Sucesso!','Linha de Crédito não desativada!');"
                                                             action="#{averbacaoController.desativarLinhas}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h2>Convenios</h2>
                                                <h:selectOneMenu value="#{averbacaoController.id_convenio}"
                                                                 styleClass="form-control">
                                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                                    <f:selectItems value="#{convenioController.allConvenio}"
                                                                   var="convenio"
                                                                   itemValue="#{convenio.ID}"
                                                                   itemLabel="#{convenio.label} - #{convenio.ativo}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="margin-top: 62px;">
                                            <p:commandButton icon="ui-icon-circle-plus"
                                                             title="Ativar" style="margin-right: 20px;" update="@form"
                                                             oncomplete="verificaOperacao('Convênio ativado com Sucesso!','Convênio não foi ativado!');"
                                                             action="#{averbacaoController.ativarConvenios()}"/>
                                            <p:commandButton icon="ui-icon-circle-close"
                                                             title="Desativar"
                                                             update="@form"
                                                             oncomplete="verificaOperacao('Convênio Destativado com Sucesso!','Convênio não foi Desativado!');"
                                                             action="#{averbacaoController.desativarConvenios()}"/>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:tab>
                    </p:accordionPanel>
                </h:form>
            </p:tab>

            <p:tab title="Atualizar Base">
                <h:form id="frm1" prependId="false">
                    <h:outputLabel value="Importar CSV"/>
                    <p> Limite: 95 MB </p>
                    <p:fileUpload fileUploadListener="#{averbacaoController.lerArq}"
                                  id="anexone"
                                  mode="advanced"
                                  update="@form :script:scriptAlert :tabView"
                                  sizeLimit="100000000" 
                                  label="Selecionar"
                                  oncomplete="verificaOperacao('Importação feita com sucesso!','Ocorreu um erro ao importar arquivo!');"
                                  allowTypes="/(\.|\/)(csv)$/"
                                  style="width: 50%"/>
                    <br/><br/><!-- 95 MB limite-->
                </h:form>
            </p:tab>
        </p:tabView>

        <h:form id="script">
            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                    function verificaOperacao(msgSucess, msgError) {
                        var ok = #{averbacaoController.opSucess};
                        if (ok) {
                            mostraSucesso("Sucesso", msgSucess, 5000);
                        } else {
                            mostraError("Ooops!", msgError, 5000);
                        }
                    }
                </script>
            </h:panelGroup>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog id="dlgModificarAverbacao" widgetVar="dlgModificarAverbacao" width="77%" closeOnEscape="true" position="center"
                      modal="true" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <div class="logo-header">
                        <ui:include src="/resources/images/imagens/svg/logoheader.svg"/>
                        <h3 class="title-header">Mais Informações MCI #{averbacaoController.selected.mciCliente}</h3>
                    </div>
                </f:facet>
                <p:tabView>
                    <p:tab title="Informações">
                        <h:panelGroup id="panelDetalhes">
                            <p:dataTable id="dividas" var="divida" value="#{averbacaoController.selected}">
                                <p:column headerText="N. Operacao" style="text-align: center;">
                                    <h:outputText value="#{divida.numOperacao}"/>
                                </p:column>
                                <p:column headerText="MCI" style="text-align: center;">
                                    <h:outputText value="#{divida.mciCliente}"/>
                                </p:column>
                                <p:column headerText="Total" style="text-align: center;">
                                    <h:outputText value="#{divida.valorTotal}">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                         type="currency"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Troco" style="text-align: center;">
                                    <h:outputText value="#{divida.troco}">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                         type="currency"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Convenio" style="text-align: center;">
                                    <h:outputText value="#{divida.idConvenio.nome}"/>
                                </p:column>
                                <p:column headerText="Status" style="text-align: center;">
                                    <h:outputText value="#{divida.statusAverbacao}"/>
                                </p:column>
                                <p:column headerText="Cód. Solicitação" style="text-align: center;">
                                    <h:outputText value="#{divida.codigoSoliticatacao}"/>
                                </p:column>
                                
                            </p:dataTable>
                            
                            <H4>MOTIVOS DE DEVOLUÇÃO:</H4>
                            <h5 style="color: #CF2222;">
                                #{averbacaoController.selected.observacaoLiberacao}
                            </h5>
                            <p:panel widgetVar="pgMotivos">
                                <h:panelGrid style="margin-bottom:10px; margin-left: 10%; background-color: #DDD; border-radius: 12px;" rendered="#{averbacaoController.ehDevolvida}">
                                    <h:panelGrid columns="12" style="margin-bottom:10px; margin-left:10px" cellpadding="5">
                                        
                                        <p:selectBooleanButton id="numOp" value="#{averbacaoController.selected.numop}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Número de Operação Inválido" />
                                        
                                        <p:selectBooleanButton id="valpar" value="#{averbacaoController.selected.valpar}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 61px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Valor da Parcela Inválido " />
                                        
                                        <p:selectBooleanButton id="prazocar" value="#{averbacaoController.selected.prazocar}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 40px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Prazo de Carência Incorreto " />
                                        
                                        <p:selectBooleanButton id="contpendval" value="#{averbacaoController.selected.contPendVal}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 128px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Contrato Pendente de Validação" />
                                        
                                    </h:panelGrid>
                                    <h:panelGrid columns="8" style="margin-bottom:10px; margin-left:10px" cellpadding="5">
                                        
                                        <p:selectBooleanButton id="cliesanc" value="#{averbacaoController.selected.cliesanc}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Problemas na ANC / Limite de Crédito " />
                                        
                                        <p:selectBooleanButton id="convenioinc" value="#{averbacaoController.selected.convenioinc}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 10px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Convênio Incorreto " />
                                        
                                        <p:selectBooleanButton id="outro" value="#{averbacaoController.selected.outro}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 76px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Outro (Justificar)" />
                                        
                                        <p:selectBooleanButton id="naoconcursado" value="#{averbacaoController.selected.naoConcursado}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 201px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Temporário/Não Concursado" />
                                    
                                    </h:panelGrid>
                                    <h:panelGrid columns="8" style="margin-bottom:10px; margin-left:10px" cellpadding="5">
                                        
                                        <p:selectBooleanButton id="opexcluida" value="#{averbacaoController.selected.opexcluida}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Operação Excluída " />
                                        
                                        <p:selectBooleanButton id="mescomp" value="#{averbacaoController.selected.mescomp}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 128px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Mês de Competência Inválido " />
                                        
                                        <p:selectBooleanButton id="compaverb" value="#{averbacaoController.selected.compaverb}" onLabel="" offLabel="" onIcon="ui-icon-check" offIcon="ui-icon-blank" style="width:30px; height: 20px; margin-left: 10px;">
                                            <p:ajax update="@widgetVar(CampoDeObs)" event="change"/>
                                        </p:selectBooleanButton>
                                        <h:outputText value="Ausência do Comprovante de Averbação / Comprovante Ilegível " />
                                        
                                    </h:panelGrid>
                                </h:panelGrid>    
                            </p:panel>                           
                            <p:panel widgetVar="CampoDeObs">
                                <h2>Observações</h2>
                                <h:inputTextarea id="observacoesAverbacao" rows="5" cols="170" value="#{averbacaoController.selected.observacoes}"
                                             validatorMessage="Observações devem ter no mínimo 10 caracteres">
                                    <f:validateLength minimum="#{averbacaoController.getTamanhoObs(averbacaoController.selected)}"/>
                                </h:inputTextarea>
                                <h:message style="color: #CF2222;" for="observacoesAverbacao"/>
                            </p:panel>
                                
                            <br/>
                            <div class="row">
                                <div class="form-group">
                                    <h3>Mudar status da Averbação</h3>
                                    <p:selectOneButton id="statusAverb"
                                                       value="#{averbacaoController.selected.statusAverbacao}" styleClass="botoes">
                                        <f:selectItems value="#{averbacaoController.averbacaoStatus}" var="status"
                                                       itemLabel="#{status.label}" itemValue="#{status}"/>
                                        <p:ajax update="@widgetVar(pgMotivos)" event="change"/>
                                    </p:selectOneButton>
                                   
                                    <p:commandButton id="priori" 
                                                     value="Priorizar" 
                                                     style="background-color:#{averbacaoController.selectedBox(averbacaoController.selected.prioridade)};  border-color:#{averbacaoController.selectedBox(averbacaoController.selected.prioridade)}; color:black; background-image:none"
                                                     action="#{averbacaoController.editPrioridade()}" 
                                                     update=":tabView :script:scriptAlert"
                                                     oncomplete="verificaOperacao('Prioridade alterada!','Falha no pedido de alteração de prioridade!');"
                                                     onclick="PF('dlgModificarAverbacao').hide()"
                                    ></p:commandButton>
                                </div>
                                <div style="float: right;">
                                    <p:commandButton id="comandConfirm" value="Alterar" action="#{averbacaoController.edit}"
                                                     update=":tabView :script:scriptAlert"
                                                     oncomplete="verificaOperacao('Pedido de Averbação Alterado com Sucesso!','Pedido de Averbação não foi Alterado!')"
                                                     onclick="PF('dlgModificarAverbacao').hide();">
                                        <p:confirm header="Confirmar Alteração"
                                                   message="Você tem certeza que deseja alterar o status da averbação?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandButton>
                                </div>
                            </div>
                            <p:remoteCommand name="editAverb" action="#{averbacaoController.edit}"/>
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400"
                                             height="150">
                                <p:commandButton value="Confirmar" type="button"
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no"
                                                 icon="ui-icon-close"/>
                            </p:confirmDialog>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Arquivos Anexados">
                        <p:dataTable id="anexos" var="anexo" value="#{averbacaoController.selected.anexos}"
                                     paginator="true" paginatorPosition="bottom"
                                     rows="5">
                            <p:column headerText="Arquivo" style="text-align: center;">
                                <h:outputText value="#{anexo.name}"/>
                            </p:column>
                            <p:column headerText="Data/Hora" style="text-align: center;">
                                <h:outputText value="#{anexo.uploadDateFormat} - #{anexo.uploadHour}"/>
                            </p:column>
                            <p:column style="width:10%;text-align: center">
                                <p:commandButton icon="ui-icon-disk" title="Download" ajax="false">
                                    <p:fileDownload value="#{averbacaoController.realizarDownload(anexo)}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="Histórico Averbação">
                        <p:dataTable id="tableHistoricoAverbacao" widgetVar="tableHistoricoAverbacao"
                                     value="#{averbacaoController.selected.operacaoModificacao}" var="operacao"
                                     paginatorPosition="bottom"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     paginator="true" rows="5">

                            <p:column filterBy="#{averbacaoController.dividaFromJson(operacao).numOperacao}" headerText="N. Operacao" style="text-align: center;">
                                <h:outputText value="#{averbacaoController.dividaFromJson(operacao).numOperacao}"/>
                            </p:column>

                            <p:column filterBy="#{averbacaoController.dividaFromJson(operacao).mciCliente}" headerText="MCI" style="text-align: center;">
                                <h:outputText value="#{averbacaoController.dividaFromJson(operacao).mciCliente}"/>
                            </p:column>

                            <p:column filterBy="#{averbacaoController.dividaFromJson(operacao).valorTotal}" headerText="Total" style="text-align: center;">
                                <h:outputText value="#{averbacaoController.dividaFromJson(operacao).valorTotal}">
                                    <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                     type="currency"/>
                                </h:outputText>
                            </p:column>

                            <p:column filterBy="#{averbacaoController.dividaFromJson(operacao).troco}" headerText="Troco" style="text-align: center;">
                                <h:outputText value="#{averbacaoController.dividaFromJson(operacao).troco}">
                                    <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                     type="currency"/>
                                </h:outputText>
                            </p:column>

                            <p:column filterBy="#{averbacaoController.dividaFromJson(operacao).convenio}" headerText="Convenio" style="text-align: center;">
                                <h:outputText value="#{averbacaoController.dividaFromJson(operacao).convenio}"/>
                            </p:column>

                            <p:column filterBy="#{averbacaoController.dividaFromJson(operacao).statusAverbacao}" headerText="Status"
                                      filterOptions="contains"
                                      style="text-align: center;background-color: #{averbacaoController.verificarBackGroundColor(averbacaoController.dividaFromJson(operacao).statusAverbacao)};">
                                <f:facet name="filter">
                                    <h:selectOneMenu onchange="PF('tableHistoricoAverbacao').filter()">
                                        <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                        <f:selectItems value="#{averbacaoController.averbacaoStatus}"/>
                                    </h:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{averbacaoController.dividaFromJson(operacao).statusAverbacao}"
                                              style="color: #{averbacaoController.verificarTextColor(averbacaoController.dividaFromJson(operacao).statusAverbacao)};"/>
                            </p:column>

                            <p:column filterBy="#{operacao.autor.fmatricula}" headerText="Matrícula" style="text-align: center;">
                                <h:outputText value="#{operacao.autor.fmatricula}"/>
                            </p:column>

                            <p:column filterBy="#{operacao.dataOperacao}" sortBy="#{operacao.dataOperacao}"
                                      headerText="Data/Hora" style="text-align: center;">
                                <h:outputText value="#{operacao.dataOperacao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-3"/>
                                </h:outputText>
                            </p:column>
                            
                            <p:column style="width:35px">
                                <p:rowToggler/>
                            </p:column>
                            <p:rowExpansion>
                                <h:outputText value="OBSERVAÇÂO:" style="font-weight: bold;"/><br /><br />
                                <h:outputText value="#{averbacaoController.dividaFromJson(operacao).observacoes}" />
                            </p:rowExpansion>                        
                        </p:dataTable>
                        <p:blockUI block="tableHistoricoAverbacao" trigger="tableHistoricoAverbacao">
                            <p:graphicImage value="#{resource['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                        </p:blockUI>
                    </p:tab>
                </p:tabView>
            </p:dialog>
        </h:form>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script>
                                        function criarCKEditor() {
                                            var conteudo = $('#inputhidden').val();
                                            $("#editorTextArea").ckeditor();
                                            CKEDITOR.instances.editorTextArea.setData(conteudo);
                                        }
        </script>
        <style>
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
            } 
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(2), .ui-widget-header .botoes .ui-state-active:nth-child(2) {
                background-color: #0596F3;
            }
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(4), .ui-widget-header .botoes .ui-state-active:nth-child(4) {
                background-color: #F2776E;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(3), .ui-widget-header .botoes .ui-state-active:nth-child(3) {
                background-color: #0EB96A;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(5), .ui-widget-header .botoes .ui-state-active:nth-child(5) {
                background-color: #A7A023;
            }           .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(6), .ui-widget-header .botoes .ui-state-active:nth-child(6) {
                background-color: #CF2222;
                color: #000;
            } 
        </style>
    </ui:define>
</ui:composition>

