<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
        >

    <ui:define name="title">
        Intranet Administração - Atualizar Resolves
    </ui:define>

    <ui:define name="menu_lateral">
        <ui:include src="plataformaContatoMenuOpcoes.xhtml"/>
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <p:dialog header="" widgetVar="addlg" resizable="false" position="topo" modal="true" width="300">
                <h:form id="formAddCoban" prependId="false">
                    <h:panelGrid columns="2" style="font-size: 12px;" cellspacing="5" cellpadding="20">
                        <h:outputText value="Prefixo:   "/>

                        <p:inputText value="#{carteiraController.agencia}" style="width: 175px;"/>
                        <h:outputText value="Nr Carteira:   "/>
                        <p:inputText value="#{carteiraController.value.nrCarteira}" style="width: 175px;"/>


                    </h:panelGrid>
                    <br/>

                    <div align="right" style="padding-right: 20px;">
                        <p:commandButton value="Adicionar" actionListener="#{carteiraController.add()}"
                                         oncomplete="PF('addlg').hide()" update=":form:resolvesTable"/>
                        <p:commandButton value="cancelar" type="button" onclick="PF('addlg').hide()"/>
                    </div>
                </h:form>
            </p:dialog>
            <legend><h2>Atualizar Carteiras</h2></legend>
            <h:form id="form" prependId="false">
                <h:outputText value="IFORME A META DIÁRIA:"/>
                <p:inputText value="#{carteiraController.metaDiaria}"/>
                <p:commandButton value="atualizar" actionListener="#{carteiraController.atualizarMeta()}"
                                 onclick="pbAjax.start();" oncomplete=" PF('updatedlg').hide(); pbAjax.cancel();"
                                 update=":form:resolvesTable"/>
                <br/>
                <br/>
                <p:menubar id="menus" style="height: 30px; width: 99%; border-radius: 0px;box-sizing: content-box;">
                    <p:menuitem value="Atualizar Base" icon="ui-icon-disk" style="font-size: 11px;"
                                onclick="updatedlg.show();"/>
                    <p:menuitem value="Adicionar Carteira" icon="ui-icon-disk" style="font-size: 11px;"
                                onclick="addlg.show();"/>
                </p:menubar>
                <br/>

                <p:dataTable id="resolvesTable" var="carteiraTemp" value="#{carteiraController.resolves}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%; "
                             filteredValue="#{carteiraController.resolvesFiltrados}" filterDelay="1000"
                             rowKey="#{carteiraTemp.ID}" paginator="true" rows="30"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             resizableColumns="true">


                    <p:column headerText="NrCarteira" filterStyle="width: 95%" filterBy="#{carteiraTemp.nrCarteira}"
                              filterMatchMode="contains" width="50"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{carteiraTemp.nrCarteira}
                    </p:column>
                    <p:column headerText="Prefixo" filterStyle="width: 95%" filterBy="#{carteiraTemp.prefixo}"
                              filterMatchMode="contains" width="50"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{carteiraTemp.prefixo}
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:dialog header="Atualizar Carteiras (CSV ou TXT)" widgetVar="updatedlg" resizable="false" position="topo"
                      modal="true" width="600">
                <h:form id="formUpload" prependId="false">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <p:fileUpload fileUploadListener="#{carteiraController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="tit"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(csv|txt)$/"/>

                        <h:outputText value="Nome do arquivo selecionado : #{carteiraController.fileName}" id="tit"/>

                    </h:panelGrid>
                    <br/>
                    <p:commandButton value="atualizar" actionListener="#{carteiraController.updateCarteiras()}"
                                     onclick="pbAjax.start();" oncomplete=" PF('updatedlg').hide(); pbAjax.cancel();"
                                     update=":form:resolvesTable"/>
                    <p:commandButton value="cancelar" type="button" onclick="PF('updatedlg').hide()"/>
                </h:form>
            </p:dialog>
        </fieldset>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#link-contatodiario').addClass('active');
            });
        </script>
    </ui:define>
</ui:composition>
