<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
        >

    <ui:define name="title">
        Central de Negócios - Contatos Diários
    </ui:define>

    <ui:define name="menu_lateral">
        <ui:include src="plataformaContatoMenuOpcoes.xhtml"/>
    </ui:define>

    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Gerenciar Contatos</h2></legend>
            <h:form id="platCad" style="font-size:11px;" prependId="false">
                <p:outputLabel value="Para baixar relatório"/>
                <p:inputMask id="cpf"
                             value="#{contatoController.data}"
                             mask="99/99/9999" requiredMessage="Campo obrigatório não preenchido"/>
                <p:commandButton id="downloadLink" value="Download" ajax="false"
                                 onclick="PrimeFaces.monitorDownload(start, stop)">
                    <p:fileDownload value="#{contatoController.download()}"/>
                </p:commandButton>
                <p:dataTable id="resolvesTable" var="contato" value="#{contatoController.todosContatos}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%; "
                             selection="#{contatoController.selected}" selectionMode="single"
                             filteredValue="#{contatoController.contatosFiltrados}" filterDelay="1000"
                             rowKey="#{contato.ID}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             resizableColumns="true">

                    <!-- <p:ajax event="rowDblselect"  oncomplete="mostrarResolves.show()" update=":form:resolvesTable :mostrar :form:menus " /> -->

                    <p:column headerText="Prefixo" filterStyle="width: 95%" filterBy="#{contato.prefixo}" width="50"
                              filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.prefixo}
                    </p:column>

                    <p:column headerText="NR da Carteira" filterStyle="width:95%"
                              filterBy="#{contato.carteira.nrCarteira}" width="50" filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.carteira.nrCarteira}
                    </p:column>

                    <p:column headerText="Funcionário" filterStyle="width:95%" filterBy="#{contato.fmatricula}"
                              width="60" filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.fmatricula}
                    </p:column>
                    <p:column headerText="MCI" filterStyle="width:95%" filterBy="#{contato.mci}" width="60"
                              filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.mci}
                    </p:column>
                    <p:column headerText="Produtos" filterStyle="width:95%" width="120"
                              filterBy="#{contato.todosOsProdutos}" filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px;">
                        #{contato.todosOsProdutos}
                    </p:column>

                    <p:column rendered="#{contato.dataFormatada!=null}" headerText="Data" filterStyle="width:95%"
                              filterMatchMode="contains" width="60" filterBy="#{contato.dataFormatada}"
                              style="font-family: courier new; font-size: 12px;">
                        #{contato.dataFormatada}
                    </p:column>
                    <p:column rendered="#{contato.dataFormatada==null}" headerText="Data" filterStyle="width:95%"
                              filterMatchMode="contains" width="60" filterBy="#{contato.dataContado}"
                              style="font-family: courier new; font-size: 12px;">
                        #{contato.dataContado}
                    </p:column>

                    <p:column headerText="Status" filterBy="#{contato.status}" width="100" filterMatchMode="contains"
                              filterStyle="width:95%"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.status}
                    </p:column>

                </p:dataTable>

                <p:blockUI block="resolvesTable" trigger="resolvesTable">
                    <p:graphicImage value="./../../resources/images/loading.gif"/>
                </p:blockUI>
            </h:form>
        </fieldset>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#link-atualizar').addClass('active');
            });
        </script>
    </ui:define>
</ui:composition>
