<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Intranet Administração - BroadCast
    </ui:define>

    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $("#side-menu a").removeClass("active");
                $("#side-menu li").removeClass("active");
                $("#li_menu_comunicacao").addClass("active");
                $("#a_menu_comunicacao").addClass("active");
                $("#a_menu_comunicacao span").removeClass("icon-dot");
                $("#a_menu_comunicacao span").addClass("icon-arrow-down7");
                $("#menu_painelonline").addClass("active");

                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $('.nav-pills li').removeClass("menu_btn_active");
                    $(this).addClass("active");
                    $(this).addClass("menu_btn_active");
                });
            });
        </script>
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>BroadCasts</h2></legend>

            <h:form id="formDados">

                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 7px;">
                        <li role="presentation" class="active menu_btn_active"><a href="#"
                                                                                  onclick="PF('addDialog').show()"><i
                                class="icon-plus"></i> Adicionar</a></li>
                        <li role="presentation" class="#{broadCastController.selected != null ? '':'disabled'}"><a
                                href="#"
                                onclick="#{broadCastController.selected != null ? 'PF(\'editarDialog\').show();':'mostraAtencao(\'Oops!\',\'Você não selecionou um broadcast!\',2000)'}"><i
                                class="icon-edit2"></i> Editar</a></li>
                        <li role="presentation" class="#{broadCastController.selected != null ? '':'disabled'}"><a
                                href="#"
                                onclick="#{broadCastController.selected != null ? 'deletarRegistro()':'mostraAtencao(\'Oops!\',\'Você não selecionou um broadcast!\',2000)'}"><i
                                class="icon-trash3"></i> Excluir</a></li>
                    </ul>
                </h:panelGroup>

                <br/>

                <p:dataTable id="broadcastTable" var="broadcast" value="#{broadCastController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado"
                             selectionMode="single" selection="#{broadCastController.selected}"
                             rowKey="#{broadcast.id}" paginator="true" rows="10"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"
                             lazy="true" resizableColumns="true">

                    <p:ajax event="rowSelect" update=":formEditar:editDialog :formDados:menus" immediate="true"/>
                    <p:ajax event="rowUnselect" update=":formEditar:editDialog :formDados:menus" immediate="true"/>

                    <p:column headerText="Id" filterBy="#{broadcast.id}" filterMatchMode="contains" width="100"
                              filterMaxLength="4" filterStyle="width: 90%;" style="font-size: 12px;">
                        #{broadcast.id}
                    </p:column>

                    <p:column headerText="Título" filterBy="#{broadcast.descricao}" filterMatchMode="contains"
                              filterStyle="width: 90%;" style="font-size: 12px;">
                        #{broadcast.descricao}
                    </p:column>

                    <p:column headerText="Data publicação" filterStyle="width: 90%;" width="150"
                              style="font-size: 12px;">
                        <h:outputText value="#{broadcast.operacaoCriacao.dataOperacao}">
                            <f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Visivel" width="100" style="font-size: 1em;text-align: center;">
                        <h:outputText value="" styleClass="icon-check-alt" style="color: green;"
                                      rendered="#{broadcast.visivel}"/>
                        <h:outputText value="" styleClass="icon-x-altx-alt" style="color: red;"
                                      rendered="#{!broadcast.visivel}"/>
                    </p:column>

                </p:dataTable>

                <h:panelGroup id="alertas">
                    <script type="text/javascript">
                        function verificaAdd() {
                            var ok = #{broadCastController.opeSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso!", "Painel salvo com sucesso!", 2000);
                                PF('addDialog').hide();
                            } else {
                                mostraError("Oops!", "Ocorreu um erro ao salvar o painel\nVerique os dados informados!");
                            }
                        }

                        function verificaEdit() {
                            var ok = #{broadCastController.opeSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso!", "Broadcast editado com sucesso!", 2000);
                                PF('editarDialog').hide();
                            } else {
                                mostraError("Oops!", "Ocorreu um erro ao editar o broadcast\nVerique os dados informados!");
                            }
                        }

                        function deletarRegistro() {
                            swal({
                                        title: "Atenção",
                                        text: "Isto não poderá ser DESFEITO!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Delete!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarBroadCast();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{broadCastController.opeSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso!", "Broadcast foi excluído com sucesso!", 2500);
                            } else {
                                mostraError("Oops!", "Ocorreu um erro ao excluir o Broadcast!");
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarBroadCast" action="#{broadCastController.delete}"
                                 oncomplete="mostraAlerta()" update=":formDados:alertas :formDados:broadcastTable"/>
            </h:form>

            <h:form id="formAdd" prependId="false">
                <p:dialog id="adicionarDialog" widgetVar="addDialog" header="Adicionar Broadcast" showEffect="fade"
                          hideEffect="fade" modal="true" resizable="false" draggable="false" width="50%">
                    <div class="container-fluid text-center">

                        <div class="row">
                            <div class="col-xs-7 form-group">
                                <h:outputLabel for="add_descri" value="Informação"/>
                            </div>
                            <div class="col-xs-5 form-group">
                                <h:outputLabel for="add_visivel" value="Visível"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-7 form-group">
                                <p:inputTextarea id="add_descri" value="#{broadCastController.value.descricao}"
                                                 required="true" requiredMessage="Descricão não pode ser nulo"
                                                 class="form-control"/>
                            </div>
                            <div class="col-xs-5 form-group">
                                <p:selectBooleanCheckbox id="add_visivel" value="#{broadCastController.value.visivel}"/>
                            </div>
                        </div>

                        <p:messages autoUpdate="true"/>

                        <p:separator/>

                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-3">
                                <p:commandLink value="Salvar" action="#{broadCastController.add()}"
                                               oncomplete="verificaAdd();"
                                               update=":formAdd:adicionarDialog :formDados:alertas :formDados:broadcastTable"
                                               styleClass="btn btn-info" style="width: 100%;"/>
                            </div>
                            <div class="col-xs-3">
                                <p:commandLink value="Cancelar" type="button" onclick="PF('addDialog').hide()"
                                               action="#{broadCastController.clearValue()}"
                                               styleClass="btn btn-warning" style="width: 100%;"/>
                            </div>
                        </div>
                    </div>
                </p:dialog>
            </h:form>

            <h:form id="formEditar" prependId="false">
                <p:dialog id="editDialog" widgetVar="editarDialog"
                          header="Editar Broadcast - #{broadCastController.selected.descricao}" showEffect="fade"
                          hideEffect="fade" modal="true" resizable="false" draggable="false" width="50%">
                    <div class="container-fluid text-center">

                        <div class="row">
                            <div class="col-xs-7 form-group">
                                <h:outputLabel for="edit_descri" value="Informação"/>
                            </div>
                            <div class="col-xs-5 form-group">
                                <h:outputLabel for="edit_visivel" value="Visível"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-7 form-group">
                                <p:inputTextarea id="edit_descri" value="#{broadCastController.selected.descricao}"
                                                 required="true" requiredMessage="Descrição não pode ser nulo"
                                                 class="form-control"/>
                            </div>
                            <div class="col-xs-5 form-group">
                                <p:selectBooleanCheckbox id="edit_visivel"
                                                         value="#{broadCastController.selected.visivel}"/>
                            </div>
                        </div>

                        <p:messages autoUpdate="true"/>

                        <p:separator/>

                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-3">
                                <p:commandLink value="Salvar" action="#{broadCastController.edit}"
                                               update=":formDados:alertas :formDados:broadcastTable"
                                               styleClass="btn btn-info" style="width: 100%;"/>
                            </div>
                            <div class="col-xs-3">
                                <p:commandLink value="Cancelar" type="button" onclick="PF('editarDialog').hide()"
                                               action="#{broadCastController.clearValue()}"
                                               styleClass="btn btn-warning" style="width: 100%;"/>
                            </div>
                        </div>
                    </div>
                </p:dialog>
            </h:form>

        </fieldset>
    </ui:define>
</ui:composition>

