<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="header">
        <style type="text/css">
            .row {
                width: 100%;
                margin-bottom: 2%;
            }

            .div_dotted {
                border: 1px dotted #2B579A;
                box-shadow: 0px 0px 5px 2px #2B579A;
            }

            .label {
                font-size: 20px;
                color: black;
                font-weight: bolder;
                font-family: Verdana, sans-serif;
                margin: 2px;
            }

            .colums {
                text-align: center;
            }

            #div_capa {
                position: relative;
                width: 50%;
                height: 150px;
                margin-left: 30%;
            }

            #div_titles {
                width: 50%;
                height: 30%;
                padding: 1%;
            }
        </style>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Gerenciar Curiosidades
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Curiosidades</h2></legend>
                        <p:dataTable id="curiosidades" var="curiosidade"  paginatorPosition="bottom" paginator="true" value="#{curiosidadesController.all}" 
                         widgetVar="tbCuriosidades" selectionMode="single" selection="#{curiosidadesController.selected}"
                         emptyMessage="Sem curiosidades cadastradas." rows="20" rowKey="#{curiosidade.id}" filterDelay="1250" resizableColumns="true">  
                            <p:ajax event="rowSelect" oncomplete="PF('curious').show();" update=":frmCuriosidade:curious"/>
                                <f:facet name="header">
                                    <h3>Lista de Curiosidades</h3>
                                </f:facet>
                                <p:column headerText="ID" sortBy="#{curiosidade.id}" rendered="#{curiosidade.title != null}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{curiosidade.id}">
                                    <h:outputText value="#{curiosidade.id}"/>
                                </p:column>
                                <p:column headerText="Título" sortBy="#{curiosidade.title}" rendered="#{curiosidade.title != null}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{curiosidade.title}">
                                    <h:outputText value="#{curiosidade.title}"/>
                                </p:column>
                                <p:column headerText="Visível" sortBy="#{curiosidade.visible}" rendered="#{curiosidade.title != null}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{curiosidade.visible}">
                                    <h:outputText value="#{curiosidade.visible == 'true' ? 'Visível' : 'Não Visível'}"/>
                                </p:column>
                            </p:dataTable>
            
            <h:form id="newNoticia" style="font-size:11px;" prependId="false">
                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function swetAlert() {
                            var ok = #{curiosidadesController.opSucesso};

                            if (ok) {
                                swal("Bom Trabalho!", "Sua curiosidade foi salva com sucesso!", "success");
                                $("#editorTextArea").val("");
                                $('input').val("");
                                $('textarea').val("");
                            } else {
                                swal("Ooops!", "Houve um erro ao salvar sua curiosidade! Tente novamente!", "error");
                            }
                        }
                    </script>
                </h:panelGroup>
            </h:form>
            <h:form id="frmCuriosidade">
                         <p:dialog id="curious" widgetVar="curious" closeOnEscape="true" header="Editar Curiosidade" modal="true"
                                   showEffect="drop">
                        <div class="container" style="width: 670px;">
                            <div class="col-md-10">                   
                                <div class="row col-md-12" style="margin-bottom: 15px;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p:outputLabel value="Nome: #{curiosidadesController.selected.id}"  style="display: block;"/>
                                        </div>
                                        <div class="col-md-8">
                                            <p:outputLabel value="MCI: #{curiosidadesController.selected.text}"  style="display: block;"/>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                    </p:dialog> 
                </h:form>
            <h:form prependId="false" id="nform2">
                <p:dialog widgetVar="imgDialog2" header="Selecionar Imagem" dynamic="true">
                    <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                                   mode="native">
                        <h:panelGroup layout="block" id="imagens2" style="width: 450px; ">
                            <ul>
                                <li style="list-style: none outside none;">
                                    <h2>Imagens</h2>
                                </li>
                                <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                    <li id="item_img" style="display: list-item;
                                        text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                        #DDD;
                                        padding-left: 15px;
                                        overflow: auto;
                                        ">
                                        <div id="image_switch" style="
                                             float: left;
                                             width: 300px;
                                             font-size: 1.15em;">

                                            <div id="img_thumb" style="
                                                 float: left;
                                                 position: relative;
                                                 margin-right: 15px;">
                                                <h:graphicImage
                                                    value="/ws/file/img/#{servidorImagensController.getFileName(imagem.archive.url)}"
                                                    width="120" height="100"/>
                                            </div>
                                            <div id="img_titulo" style="width: 30.900em;">
                                                <p></p>
                                                <p:commandButton value="Selecionar"
                                                                 actionListener="#{curiosidadesController.adicionarCapa(imagem)}"
                                                                 update=":newNoticia:imgNoticia"
                                                                 style="font-size: 11px;"
                                                                 onclick="PF('imgDialog2').hide()"/>
                                            </div>
                                        </div>
                                    </li>
                                </ui:repeat>

                                <div style="width: 440px;
                                     overflow: hidden;
                                     margin: 0 auto;
                                     text-align: center;"
                                     >
                                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                    <p:commandButton value="Anterior"
                                                     disabled="#{!imageController.pagImages.hasPreviousPage}"
                                                     ajax="true"
                                                     actionListener="#{imageController.pagImages.previousPage()}"/>
                                    <h:outputText value="#{imagemController.pagFotos.page}" id="page2"/>
                                    <p:commandButton value="Próxima"
                                                     disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                                     actionListener="#{imageController.pagImages.nextPage()}"/>
                                </div>
                            </ul>
                        </h:panelGroup>
                    </p:scrollPanel>
                </p:dialog>
            </h:form>

            <h:form prependId="false" id="nform">
                <p:dialog widgetVar="imgDialog" header="Selecionar Imagem" dynamic="true">
                    <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                                   mode="native">
                        <h:panelGroup layout="block" id="imagens" style="width: 450px; ">
                            <ul>
                                <li style="list-style: none outside none;">
                                    <h2>Imagens</h2>
                                </li>
                                <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                    <li id="item_img" style="display: list-item;
                                        text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                        #DDD;
                                        padding-left: 15px;
                                        overflow: auto;
                                        " ondblclick="addImage('#{imagem.archive.url}');">

                                        <div id="image_switch" style="
                                             float: left;
                                             width: 300px;
                                             font-size: 1.15em;">

                                            <div id="img_thumb" style="
                                                 float: left;
                                                 position: relative;
                                                 margin-right: 15px;">
                                                <h:graphicImage
                                                    value="/ws/file/img/#{servidorImagensController.getFileName(imagem.archive.url)}"
                                                    width="120" height="100"/>
                                            </div>
                                            <div id="img_titulo" style="width: 30.900em;">
                                                <p> Titulo: Teste<br/>
                                                    Descrição:<br/>

                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ui:repeat>

                                <div style="width: 440px;
                                     overflow: hidden;
                                     margin: 0 auto;
                                     text-align: center;"
                                     >
                                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                    <p:commandButton value="Anterior"
                                                     disabled="#{!imageController.pagImages.hasPreviousPage}"
                                                     ajax="true"
                                                     actionListener="#{imageController.pagImages.previousPage()}"
                                                     update=":nform:imagens"/>
                                    <h:outputText value="#{imagemController.pagFotos.page}" id="page"/>
                                    <p:commandButton value="Próxima"
                                                     disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                                     actionListener="#{imageController.pagImages.nextPage()}"
                                                     update=":nform:imagens"/>
                                </div>
                            </ul>
                        </h:panelGroup>
                    </p:scrollPanel>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
