<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $('.nav-pills li').removeClass("menu_btn_active");
                    $(this).addClass("active");
                    $(this).addClass("menu_btn_active");
                });
            });

            function pegaConteudo() {
                editNoticia(); //{p:remotecommand}
            }
        </script>
        <style>
            .menu_btn_active a {
                background-color: gray !important;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Gerenciar Curiosidades
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Curiosidades</h2></legend>

            <h:form id="form" prependId="false" style="font-size: 11px;">

                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation" class="#{curiosidadesController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":form:scriptAlert"
                                           onclick="#{curiosidadesController.selected != null ? 'deletar();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou uma Curiosidade!\',2000)'}">
                                <i class="icon-trash"></i>
                                Excluir
                            </p:commandLink>
                        </li>

                    </ul>
                </h:panelGroup>

                <p:contextMenu for="noticias" id="menuContext">
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="deletar()"/>
                </p:contextMenu>
                <br/>
                <p:dataTable id="noticias" var="curiosidade" value="#{curiosidadesController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado"
                             selectionMode="single" selection="#{curiosidadesController.selected}"
                             rowKey="#{curiosidade.id}" paginator="true" rows="12"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5, 10, 30" lazy="true" resizableColumns="true"
                             paginatorPosition="bottom">

                    <f:facet name="header">
                        <h:outputText value="Curiosidades"/>
                    </f:facet>

                    <p:ajax event="rowSelect"
                            update=":form:menus :formEditar:editNews"/>
                    <p:ajax event="rowUnselect"
                            update=":form:menus :formEditar:editNews"/>

                    <p:column headerText="Id" filterBy="#{curiosidade.id}" filterMatchMode="contains" width="40"
                              filterMaxLength="4" filterStyle="width: 30px;"
                              style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{curiosidade.id}"/>
                    </p:column>

                    <p:column headerText="Título" filterBy="#{curiosidade.title}" filterMatchMode="contains" width="200"
                              filterStyle="width: 150px;" style="font-size: 12px;text-align: center;" >
                        <h:outputText value="#{curiosidade.title}"/>
                    </p:column>

                    <p:column headerText="Autor Publicação"
                              width="90" filterStyle="width: 80px;"
                              style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{curiosidade.operacaoCriacao.autor.nome}"/>
                    </p:column>

                    <p:column headerText="Visivel" filterBy="#{curiosidade.visible}" filterMatchMode="contains" width="60"
                              filterStyle="width: 40px;" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{curiosidade.visible == 'true' ? 'Sim' : 'Não'}"/>
                    </p:column>
                    <p:column headerText="Opções" width="80" style="font-size: 12px;text-align: center;">
                        <p:commandButton value="Visualizar" immediate="true" update=":form:view_news"
                                         oncomplete="PF('viewnews').show()">
                            <f:setPropertyActionListener value="#{curiosidade}" target="#{curiosidadesController.selected}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:dialog widgetVar="viewnews" id="view_news" closable="true" width="70%" height="450"
                          header="#{curiosidadesController.selected.title}"
                          modal="true" draggable="false" resizable="false" style="text-align: center;overflow: auto;">
                    <div style="background-color: white;overflow: auto;">
                        <h:outputLabel>
                            <h:outputText value="id: #{curiosidadesController.selected.id}" escape="false"/>
                            <br/>
                            <h:outputText value="Autor: #{curiosidadesController.selected.operacaoCriacao.autor.nome}" escape="false"/>
                            <br/>
                            <br/>
                            <hr/>
                            <h:outputText value="#{curiosidadesController.selected.text}" escape="false"/>
                        </h:outputLabel>
                    </div>
                </p:dialog>

                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msg, dlg) {
                            var ok = #{curiosidadesController.opSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso", msg, 3000);
                                PF(dlg).hide();
                            } else {
                                mostraError("Ooops!", msg, 3000);
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarNews();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{curiosidadesController.opSucesso};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "A Curiosidade foi excluída com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarNews" action="#{curiosidadesController.delete()}" oncomplete="mostraAlerta();"
                                 update=":form:scriptAlert :form:noticias"/>
            </h:form>

            <h:form id="formAdd"></h:form>

            <h:form id="formEditar" prependId="false">

                <p:dialog id="editNews" widgetVar="editNews" header="Editar Curiosidade:  #{curiosidadesController.selected.title}"
                          modal="true" resizable="false" draggable="false" width="855">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <h4>Editar Título</h4>
                                            <h:inputText value="#{curiosidadesController.selected.title}"
                                                         styleClass="form-control" maxlength="75"/>
                                            <h4 style="margin-top: 30px;">Visível</h4>
                                            <p:inputSwitch value="#{curiosidadesController.selected.visible}"
                                                           onLabel="Sim" offLabel="Não" widgetVar="visible"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <h4 class="text-center">Editar Texto</h4>
                                            <p:inputTextarea value="#{curiosidadesController.selected.text}" widgetVar="text"
                                                             cols="10" style="width: 100%; height: 125px;" maxlength="140"/>
                                        </div>
                                    </div>
                                    <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{curiosidadesController.editSel(curiosidadesController.selected)}"
                                                   onsuccess="PF('editNews').hide();" style="margin-right: 15px;"/> 
                                </div>
                            </div>
                </p:dialog>
            </h:form>

            <h:form prependId="false" id="formSelecionarImagem">
                <p:dialog widgetVar="dlgSelecionarImagem" header="Selecionar Imagem" dynamic="true">
                    <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                                   mode="native">
                        <h:panelGroup layout="block" id="imagens" style="width: 450px; ">
                            <ul>
                                <li style="list-style: none outside none;">
                                    <h2>Imagens</h2>
                                </li>
                                <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                    <li id="item_img" style="display: list-item;
                                        text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                        #DDD;
                                        padding-left: 15px;
                                        overflow: auto;" ondblclick="addImage('#{imagem.archive.url}');">

                                        <div id="image_switch" style="
                                             float: left;
                                             width: 300px;
                                             font-size: 1.15em;">

                                            <div id="img_thumb" style="
                                                 float: left;
                                                 position: relative;
                                                 margin-right: 15px;">
                                                <h:graphicImage
                                                        value="/ws/file/img/#{servidorImagensController.getFileName(imagem.archive.url)}"
                                                        width="120" height="100"/>
                                            </div>
                                            <div id="img_titulo" style="width: 30.900em;">
                                                <p> Titulo: Teste<br/>
                                                    Descrição:<br/>
                                                </p>
                                                <p:commandButton value="Selecionar"
                                                                 action="#{newsController.mudarCapa(imagem)}"
                                                                 update=":formEditar:capaNoticia"
                                                                 style="font-size: 11px;"
                                                                 oncomplete="PF('dlgSelecionarImagem').hide()"/>
                                            </div>
                                        </div>
                                    </li>
                                </ui:repeat>

                                <div style="width: 440px;
                                     overflow: hidden;
                                     margin: 0 auto;
                                     text-align: center;">
                                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                    <p:commandButton value="Anterior"
                                                     disabled="#{!imageController.pagImages.hasPreviousPage}"
                                                     ajax="true"
                                                     actionListener="#{imageController.pagImages.previousPage()}"
                                                     update=":formSelecionarImagem:imagens"/>
                                    <h:outputText value="#{imagemController.pagFotos.page}" id="page"/>
                                    <p:commandButton value="Próxima"
                                                     disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                                     actionListener="#{imageController.pagImages.nextPage()}"
                                                     update=":formSelecionarImagem:imagens"/>
                                </div>
                            </ul>
                        </h:panelGroup>
                    </p:scrollPanel>
                </p:dialog>
            </h:form>

        </fieldset>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
                type=""></script>
        <script type="text/javascript">
            function criarCKEditor() {
                var conteudo = $('#inputhidden').val();
                $("#editorTextArea").ckeditor();
                CKEDITOR.instances.editorTextArea.setData(conteudo);
            }
        </script>
        <ui:define name="jQueryBootstrap"></ui:define>
    </ui:define>
</ui:composition>
