<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<body>

<ui:composition template="./../../../resources/templates/template.xhtml">
    <ui:define name="header">
        <link href="#{facesContext.externalContext.requestContextPath}/resources/video_player/video-js.css"
              rel="stylesheet" type="text/css"/>
        <!-- video.js must be in the <head> for older IEs to work. -->
        <script src="#{facesContext.externalContext.requestContextPath}/resources/video_player/video.js"></script>

        <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
        <script>
            videojs.options.flash.swf = "#{facesContext.externalContext.requestContextPath}/resources/video_player/video-js.swf";
        </script>
    </ui:define>

    <ui:define name="msg-topo">
    </ui:define>
    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">

        <div class="row">
            <div class="sixteen columns clearfix">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#" class="last_bc"><span>Videos</span></a>
                </div>

                <div class="page_heading"><h1>Videos</h1></div>
            </div>
        </div>
        <h:form id="videosForm" prependId="false">
            <ui:repeat var="video" value="#{videoController.videosPaginacao.pageDataModel}">
                <div class="row" id="videos_#{video.id}">

                    <div class="sixteen columns media_item">

                        <div class="pic ten columns alpha">
                            <video id="example_video_1" class="video-js vjs-default-skin" controls="controls"
                                   preload="none" width="480" height="240" data-setup="{}">
                                <source src="#{facesContext.externalContext.requestContextPath}/resources/#{servidorImagensController.getFileName(videoController.videoUrl(video))}"
                                        type='#{video.video.mimeType}'/>
                            </video>
                        </div>

                        <div class="five columns portfolio_description omega">
                            <div style="margin-top: -15px;">
                                <p class="galeria_date">Adicionado em <h:outputText value="#{video.video.uploadDate}">
                                    <f:convertDateTime parent="dd MMMM yyyy"/>
                                </h:outputText></p>
                            </div>
                            <p>#{video.description}</p>
                            <br/>
                        </div>
                    </div>
                </div>
            </ui:repeat>
        </h:form>
        <center>
            <div class="pagination clearfix">
                <div class="links">
                    <p:commandLink value="Pagina Anterior" update=":videosForm"
                                   disabled="#{!videoController.videosPaginacao.hasPreviousPage}"
                                   actionListener="#{videoController.videosPaginacao.previousPage()}"/>
                    <b>#{videoController.videosPaginacao.page + 1}</b>
                    <p:commandLink value="Proxima Pagina" update=":videosForm"
                                   disabled="#{!videoController.videosPaginacao.hasNextPage}"
                                   actionListener="#{videoController.videosPaginacao.nextPage()}"/>
                </div>
            </div>
        </center>
    </ui:define>

</ui:composition>

</body>
</html>
