<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>

        <style>
            body{
                margin-top: 100px;
            }
            input{
                height: 34px;
                width: 100%;
            }
            .ui-growl {
                top: 100px;
            }
            .title-header{
                top: -10px;
                position: relative;
            }
            .logo-header *{
                display: inline-block;
            }
            .ui-selectmanycheckbox label, .ui-selectoneradio label {
                margin-left: 7px;
            }
            .ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
                width: 100px;
            }
            .labelCheck {
                margin-left: 7px;
                margin-bottom: 5px;
                vertical-align: 2px;
            }
        </style>
    </ui:define>

    <ui:define name="conteudo">
        <div id="corpo" class="container" style="margin-top: 80px;">
            <div role="tabpanel" style="height: 700px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tableinadimplencia" aria-controls="tableinadimplencia" role="tab" data-toggle="tab">
                            Tabela de Inadimplentes
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#clienteematraso" aria-controls="clienteematraso" role="tab" data-toggle="tab">
                            Clientes em atraso
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#clienteemtempoderegularizacao" aria-controls="clienteemtempoderegularizacao" role="tab" data-toggle="tab">
                            Clientes em tempo de regularização
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#historicoinadimplencia" aria-controls="historicoinadimplencia" role="tab" data-toggle="tab">
                            Busca pelo MCI
                        </a>
                    </li>
                    <h:panelGroup rendered="#{loginController.funcionario.prefixo == 8517}">
                        <li role="presentation" title="Atualizar Base de Dados">
                            <a href="#importarbase" aria-controls="importarbase" role="tab" data-toggle="tab">
                                Atualizar Base de Dados
                            </a>
                        </li>
                    </h:panelGroup>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tableinadimplencia">
                        <h:form id="formTableSuper" prependId="false">
                            <p:growl id="growl" showDetail="true"/>
                            <h2>Tabela de Inadimplentes</h2>
                            <p:dataTable id="tableInadimplenteSuper" widgetVar="tableInadimplenteSuper" value="#{inadimplenteController.lazyData}" lazy="true" var="inadimplente"
                                         rendered="#{loginController.funcionario.prefixo == 8517}" selection="#{inadimplenteController.selected}" selectionMode="single" rowKey="#{inadimplente.id}"
                                         filteredValue="#{inadimplenteController.listaDeInadFilter}" paginatorPosition="bottom" paginator="true" rows="15"
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="10,20,30,40,50"
                                         emptyMessage="Nenhum inadimplente no momento pressione F5 para atualizar a lista">

                                <p:ajax event="rowSelect" update=":formDialog :formDialog:dialogComentar :formDialog:tableMsg"
                                        oncomplete="PF('dialogComentar').show();"/>
                                <p:ajax event="rowUnselect" update=":formDialog :formDialog:dialogComentar :formDialog:tableMsg"/>

                                <p:column headerText="Prefixo" filterBy="#{inadimplente.prefixo}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.prefixo}"></h:outputText>
                                </p:column>

                                <p:column headerText="MCI" filterBy="#{inadimplente.clienteInadimplente.mci}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.clienteInadimplente.mci}"></h:outputText>
                                </p:column>

                                <p:column headerText="Gerente" filterBy="#{inadimplente.nomeGerenteRelacionamento}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.nomeGerenteRelacionamento}"></h:outputText>
                                </p:column>

                                <p:column headerText="Tipo" filterBy="#{inadimplente.mercado}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.mercado}"></h:outputText>
                                </p:column>

                                <p:column headerText="Atraso" filterBy="#{inadimplente.atraso}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.atraso}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Arrasto" filterBy="#{inadimplente.arrasto}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.arrasto}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column filterBy="#{inadimplente.statusInadimplencia}"
                                          headerText="Status"
                                          style="text-align: center;background-color: #{inadimplenteController.verificarBackGroundColor(inadimplente.statusInadimplencia)};"
                                          filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <h:selectOneMenu onchange="PF('tableInadimplenteSuper').filter()">
                                            <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                            <f:selectItems value="#{inadimplenteController.inadimplenciaStatus}"/>
                                        </h:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{inadimplente.statusInadimplencia}"
                                                  style="color: #000000;margin-left: 10px;"/>
                                </p:column>                  
                            </p:dataTable>
                            <p:blockUI block="tableInadimplenteSuper" trigger="tableInadimplenteSuper">
                                <p:graphicImage value="#{resource['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                            </p:blockUI>
                        </h:form>

                        <h:form id="formTableAgencia">
                            <p:dataTable id="tableInadimplenteAgencia" widgetVar="tableInadimplenteAgencia"
                                         value="#{inadimplenteController.listInadAg}" var="inadimplente" rendered="#{loginController.funcionario.prefixo != 8517}" 
                                         selection="#{inadimplenteController.selected}" selectionMode="single" rowKey="#{inadimplente.id}"
                                         filteredValue="#{inadimplenteController.listaDeInadFilter}"
                                         rows="10" paginator="true" paginatorPosition="bottom" emptyMessage="Nenhum inadimplente no momento pressione F5 para atualizar a lista"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="10,20,30,40,50">

                                <p:ajax event="rowSelect" update=":formDialog :formDialog:dialogComentar :formDialog:tableMsg"
                                        oncomplete="PF('dialogComentar').show();"/>
                                <p:ajax event="rowUnselect" update=":formDialog :formDialog:dialogComentar :formDialog:tableMsg"/>

                                <p:column headerText="Prefixo" filterBy="#{inadimplente.prefixo}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.prefixo}"></h:outputText>
                                </p:column>

                                <p:column headerText="MCI" filterBy="#{inadimplente.clienteInadimplente.mci}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.clienteInadimplente.mci}"/>
                                </p:column>

                                <p:column headerText="Gerente" filterBy="#{inadimplente.nomeGerenteRelacionamento}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.nomeGerenteRelacionamento}"/>
                                </p:column>

                                <p:column headerText="Tipo" filterBy="#{inadimplente.mercado}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.mercado}"/>
                                </p:column>

                                <p:column headerText="Atraso" filterBy="#{inadimplente.atraso}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.atraso}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Arrasto" filterBy="#{inadimplente.arrasto}" style="text-align: center;">
                                    <h:outputText value="#{inadimplente.arrasto}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column filterBy="#{inadimplente.statusInadimplencia}"
                                          headerText="Status"
                                          style="text-align: center;background-color: #{inadimplenteController.verificarBackGroundColor(inadimplente.statusInadimplencia)};"
                                          filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <h:selectOneMenu onchange="PF('tableInadimplenteAgencia').filter()">
                                            <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                            <f:selectItems value="#{inadimplenteController.inadimplenciaStatus}"/>
                                        </h:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{inadimplente.statusInadimplencia}"
                                                  style="color: #000000;margin-left: 10px;"/>
                                </p:column>                  
                            </p:dataTable>

                            <p:blockUI block="tableInadimplenteAgencia" trigger="tableInadimplenteAgencia">
                                <p:graphicImage value="#{resource['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                            </p:blockUI>
                        </h:form>
                    </div>

<!--                    <div id="clienteematraso2" role="tabpanel" class="tab-pane">
                        <h:form id="formEmAtraso2">
                            <h2>Clientes em Atraso</h2>
                            <p:dataTable id="tableAtrasadosClientesPF2" widgetVar="tableAtrasadosClientesPF" rowKey="#{inadimplente.id}"
                                         value="#{inadimplenteController.listInadEmAtraso}" 
                                         var="inadimplente" emptyMessage="Não existe nenhum cliente a serem cobrados para esse prefixo"
                                        paginator="true" paginatorPosition="bottom" rows="10">


                                <p:column headerText="Prefixo" style="text-align: center;"
                                          filterBy="#{inadimplente.prefixo}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.prefixo}"/>
                                </p:column>


                                <p:column headerText="MCI" style="text-align: center;"
                                          filterBy="#{inadimplente.clienteInadimplente.mci}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.clienteInadimplente.mci}"/>
                                </p:column>

                                <p:column headerText="Tipo" style="text-align: center;"
                                          filterBy="#{inadimplente.mercado}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.mercado}"/>
                                </p:column>

                                <p:column headerText="Atraso" style="text-align: center;"
                                          filterBy="#{inadimplente.atraso}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.atraso}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Arrasto" style="text-align: center;"
                                          filterBy="#{inadimplente.arrasto}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.arrasto}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Previsão" style="text-align: center;"
                                          filterBy="#{inadimplente.previsaoRegularizacao}" filterMatchMode="equals">
                                    <h:outputText value="#{inadimplente.previsaoRegularizacao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Matricula" style="text-align: center;"
                                          filterBy="#{inadimplente.matriculaGerente}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.matriculaGerente}"/>
                                </p:column>

                                <p:column headerText="Gerente" style="text-align: center;"
                                          filterBy="#{inadimplente.nomeGerenteRelacionamento}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.nomeGerenteRelacionamento}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>-->
                    
                    <div id="clienteematraso" role="tabpanel" class="tab-pane">
                        <h:form id="formEmAtraso">
                            <h2>Clientes em Tempo de Regularização</h2>
                            <p:dataTable value="#{inadimplenteController.listInadEmAtraso}"
                                         id="tableAtrasadosClientesPF" widgetVar="tableAtrasadosClientesPF" var="inadimplente"
                                         emptyMessage="Não existe nenhum cliente a serem cobrados para esse prefixo" resizableColumns="true"
                                         paginator="true" paginatorPosition="bottom" rows="10"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="10,20,30,40,50">

                                <p:column headerText="Prefixo" style="text-align: center;"
                                          filterBy="#{inadimplente.prefixo}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.prefixo}"/>
                                </p:column>

                                <p:column headerText="MCI" style="text-align: center;"
                                          filterBy="#{inadimplente.clienteInadimplente.mci}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.clienteInadimplente.mci}"/>
                                </p:column>

                                <p:column headerText="Tipo" style="text-align: center;"
                                          filterBy="#{inadimplente.mercado}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.mercado}"/>
                                </p:column>

                                <p:column headerText="Atraso" style="text-align: center;"
                                          filterBy="#{inadimplente.atraso}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.atraso}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Arrasto" style="text-align: center;"
                                          filterBy="#{inadimplente.arrasto}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.arrasto}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Previsão" style="text-align: center;"
                                          filterBy="#{inadimplente.previsaoRegularizacao}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.previsaoRegularizacao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Matricula" style="text-align: center;"
                                          filterBy="#{inadimplente.matriculaGerente}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.matriculaGerente}"/>
                                </p:column>

                                <p:column headerText="Gerente" style="text-align: center;"
                                          filterBy="#{inadimplente.nomeGerenteRelacionamento}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.nomeGerenteRelacionamento}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>


                    <div id="clienteemtempoderegularizacao" role="tabpanel" class="tab-pane">
                        <h:form id="formEmTempoRegular">
                            <h2>Clientes em Tempo de Regularização</h2>
                            <p:dataTable value="#{inadimplenteController.listInadEmTempoRegular}"
                                         id="tableEmTempoRegularizacaoPF" widgetVar="tableEmTempoRegularizacaoPF" var="inadimplente"
                                         emptyMessage="Não existe nenhum cliente a serem cobrados para esse prefixo" resizableColumns="true"
                                         paginator="true" paginatorPosition="bottom" rows="10"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="10,20,30,40,50">

                                <p:column headerText="Prefixo" style="text-align: center;"
                                          filterBy="#{inadimplente.prefixo}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.prefixo}"/>
                                </p:column>

                                <p:column headerText="MCI" style="text-align: center;"
                                          filterBy="#{inadimplente.clienteInadimplente.mci}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.clienteInadimplente.mci}"/>
                                </p:column>

                                <p:column headerText="Tipo" style="text-align: center;"
                                          filterBy="#{inadimplente.mercado}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.mercado}"/>
                                </p:column>

                                <p:column headerText="Atraso" style="text-align: center;"
                                          filterBy="#{inadimplente.atraso}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.atraso}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Arrasto" style="text-align: center;"
                                          filterBy="#{inadimplente.arrasto}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.arrasto}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" groupingUsed="true"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Previsão" style="text-align: center;"
                                          filterBy="#{inadimplente.previsaoRegularizacao}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.previsaoRegularizacao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Matricula" style="text-align: center;"
                                          filterBy="#{inadimplente.matriculaGerente}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.matriculaGerente}"/>
                                </p:column>

                                <p:column headerText="Gerente" style="text-align: center;"
                                          filterBy="#{inadimplente.nomeGerenteRelacionamento}" filterMatchMode="contains">
                                    <h:outputText value="#{inadimplente.nomeGerenteRelacionamento}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>

                    <div id="historicoinadimplencia" role="tabpanel" class="tab-pane">
                        <h:form id="formHistoricoCliente" prependId="false">
                            <div class="container">
                                <div class="row">
                                    <h2>Procurar pelo MCI do Cliente</h2>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8" style="padding-left: 0px;">
                                        <p:inputText title="MCI CLiente" styleClass="form-control" maxlength="9"
                                                     value="#{inadimplenteController.mciClienteBuscado}">
                                        </p:inputText>
                                    </div>
                                    <div class="col-xs-1">
                                        <p:commandLink value="Buscar" title="Buscar por MCI"
                                                       update=":formHistoricoCliente"                                                         
                                                       styleClass="btn-info form-control" style="float: right;">
                                        </p:commandLink>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <h3>Ciclo de Inadimplencia do Cliente #{inadimplenteController.mciClienteBuscado}</h3>
                                    <p:dataTable id="tablePesquisaCiclo" value="#{inadimplenteController.cicloInadimplenciaByCliente}" var="ciclo"
                                                 selection="#{inadimplenteController.cicloInadimplenciaSelected}" selectionMode="single" rowKey="#{ciclo.id}"
                                                 emptyMessage="Nenhum Cliente Buscado" rows="10" paginator="true" paginatorPosition="bottom"
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="10,20,30,40,50">

                                        <p:ajax event="rowSelect" update=":formDialog:dialogMaisInformacoes" oncomplete="PF('dialogMaisInformacoes').show();"/>
                                        <p:ajax event="rowUnselect" />

                                        <p:column headerText="MCI" filterBy="#{ciclo.cliente.mci}" style="text-align: center;">
                                            <h:outputText value="#{ciclo.cliente.mci}"/>
                                        </p:column>
                                        <p:column headerText="Prefixo" filterBy="#{ciclo.prefixo}" style="text-align: center;">
                                            <h:outputText value="#{ciclo.prefixo}"/>
                                        </p:column>
                                        <p:column headerText="Arrasto" filterBy="#{ciclo.arrasto}" style="text-align: center;">
                                            <h:outputText value="#{ciclo.arrasto}"/>
                                        </p:column>
                                        <p:column headerText="Atraso" filterBy="#{ciclo.atraso}" style="text-align: center;">
                                            <h:outputText value="#{ciclo.atraso}"/>
                                        </p:column>
                                        <p:column headerText="Gerente de Relacionamento" filterBy="#{ciclo.nomeGerenteRelacionamento}" style="text-align: center;">
                                            <h:outputText value="#{ciclo.nomeGerenteRelacionamento}"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </h:form>
                    </div>

                    <div id="importarbase" role="tabpanel" class="tab-pane">
                        <h:form>
                            <h3>Importar base de dados</h3>
                            <p:fileUpload fileUploadListener="#{inadimplenteController.fileUploadListener}"
                                          id="csvInadPF" mode="advanced" sizeLimit="100000000"
                                          multiple="false" label="Abrir" style="width: 70%;"
                                          update=":formTableSuper:growl :formTableSuper:tableInadimplenteSuper :formTableAgencia:tableInadimplenteAgencia"
                                          allowTypes="/(\.|\/)(csv)$/"/>
                        </h:form>
                    </div>
                </div>
            </div>


            <h:form id="formDialog" prependId="false">
                <p:dialog id="dialogComentar" widgetVar="dialogComentar"
                          modal="true" resizable="false" draggable="true" width="50%"
                          showEffect="fade" hideEffect="fade" closeOnEscape="true">
                    <f:facet name="header">
                        <div class="logo-header">
                            <ui:include src="/resources/images/imagens/svg/logoheader.svg"/>
                            <h3 class="title-header">Comentar Inadimplencia MCI #{inadimplenteController.selected.clienteInadimplente.mci}</h3>
                        </div>
                    </f:facet>
                    <h4>Situação da Inadimplencia</h4>
                    <br/>
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-xs-4">
                            <h:panelGrid columns="2">
                                <p:selectBooleanCheckbox value="#{inadimplenteController.selected.previsaoDeRegularizacao}">
                                    <p:ajax update="data1"/>
                                </p:selectBooleanCheckbox>
                                <h:outputLabel value="Previsão de Regularização em:" styleClass="labelCheck"/>
                            </h:panelGrid>
                            <br/>
                            <p:calendar  id="data1" disabled="#{!inadimplenteController.selected.previsaoDeRegularizacao}"
                                         value="#{inadimplenteController.selected.previsaoRegularizacao}" pattern="dd/MM/yyyy" navigator="true"
                                         placeholder="__/__/___"/>
                        </div>
                        <div class="col-xs-4">
                            <h:panelGrid columns="2">
                                <p:selectBooleanCheckbox value="#{inadimplenteController.selected.propostaDaGecor}">
                                    <p:ajax update="data2"/>
                                </p:selectBooleanCheckbox>
                                <h:outputLabel value="Proposta da Gecor enviado em:" styleClass="labelCheck"/>
                            </h:panelGrid>
                            <br/>
                            <p:calendar id="data2" value="#{inadimplenteController.selected.propostaGecor}" pattern="dd/MM/yyyy" navigator="true"
                                        placeholder="__/__/___" disabled="#{!inadimplenteController.selected.propostaDaGecor}"/>
                        </div>
                        <div class="col-xs-4">
                            <h:panelGroup id="checkOpcoes">
                                <h:panelGrid columns="2">
                                    <p:selectBooleanCheckbox value="#{inadimplenteController.selected.semPerspectiva}"
                                                             disabled="#{inadimplenteController.selected.nenhumaDasOpcoes}"/>
                                    <h:outputLabel value="Sem perspectiva (notificar mutuário e coobrigado)" styleClass="labelCheck"/>
                                </h:panelGrid>
                                <h:panelGrid columns="2">
                                    <p:selectBooleanCheckbox value="#{inadimplenteController.selected.emNegociacaoComCliente}"
                                                             disabled="#{inadimplenteController.selected.nenhumaDasOpcoes}"/>
                                    <h:outputLabel value="Em negociação com o cliente" styleClass="labelCheck"/>
                                </h:panelGrid>
                            </h:panelGroup>
                            <h:panelGrid columns="2">
                                <p:selectBooleanCheckbox value="#{inadimplenteController.selected.nenhumaDasOpcoes}">
                                    <p:ajax update="checkOpcoes"/>
                                </p:selectBooleanCheckbox>
                                <h:outputLabel value="Nenhuma das opções acima (fazer comentário no campo de observação)" styleClass="labelCheck"/>
                            </h:panelGrid>
                            <br/>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-4">
                            <h:panelGrid columns="2">
                                <p:selectBooleanCheckbox value="#{inadimplenteController.selected.notificadomutuarioEcoobrigados}">
                                    <p:ajax update="data3"/>
                                </p:selectBooleanCheckbox>
                                <h:outputLabel value="Notificado mutuário e coobrigados em:" styleClass="labelCheck"/>
                            </h:panelGrid>
                            <br/>
                            <p:calendar id="data3" value="#{inadimplenteController.selected.notificadoMutuarioCobrigado}" pattern="dd/MM/yyyy" navigator="true"
                                        placeholder="__/__/___" disabled="#{!inadimplenteController.selected.notificadomutuarioEcoobrigados}"/>

                        </div>
                        <div class="col-xs-4">
                            <h:panelGrid columns="2">
                                <p:selectBooleanCheckbox value="#{inadimplenteController.selected.renegociacaoemFormalizacaoContabilizacao}">
                                    <p:ajax update="data4"/>
                                </p:selectBooleanCheckbox>
                                <h:outputLabel value="Renegociação em formalização/contabilização com conclusão em:" styleClass="labelCheck"/>
                            </h:panelGrid>
                            <p:calendar id="data4" value="#{inadimplenteController.selected.renegociacaoFormalizacaoContabilizacao}" pattern="dd/MM/yyyy" navigator="true"
                                        placeholder="__/__/___" disabled="#{!inadimplenteController.selected.renegociacaoemFormalizacaoContabilizacao}"/>
                        </div>
                        <div class="col-xs-4">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 style="margin-top: 0px;">Observações</h3>
                            <p:inputTextarea value="#{inadimplenteController.mensagemSuper}"
                                             rendered="#{loginController.funcionario.prefixo == 8517}" rows="10" style="width: 100%;"/>
                            <p:inputTextarea value="#{inadimplenteController.mensagemAgencia}" rows="10" style="width: 100%;"
                                             rendered="#{loginController.funcionario.prefixo != 8517}"/>
                        </div>
                    </div>
                    <div class="row">
                        <p:commandButton value="Salvar" action="#{inadimplenteController.fazerComentario}" style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;float: right;"
                                         oncomplete="PF('dialogComentar').hide();" update=":formTableSuper:growl :formTableSuper:tableInadimplenteSuper :formTableAgencia:tableInadimplenteAgencia :formEmAtraso
                                         :formEmAtraso:tableAtrasadosClientesPF :formEmTempoRegular"/>
                    </div>
                    <div class="row">
                        <p:dataTable id="tableMsg" value="#{inadimplenteController.lisMsgAdimplente}" var="msg"
                                     paginator="true" rows="2" paginatorPosition="bottom"
                                     emptyMessage="Não existe nenhum comunicado para o inadimplente de MCI #{inadimplenteController.selected.clienteInadimplente.mci}">
                            <p:column headerText="Super">
                                <h:outputText value="#{msg.comentarioSuper}" escape="false"></h:outputText>
                            </p:column>
                            <p:column headerText="Agencia">
                                <h:outputText value="#{msg.comentarioAgencia}" escape="false"></h:outputText>
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:dialog>

                <p:dialog id="dialogMaisInformacoes" widgetVar="dialogMaisInformacoes"
                          modal="true" resizable="false" draggable="false" width="900" 
                          showEffect="fade" hideEffect="fade">
                    <f:facet name="header">
                        <div class="logo-header">
                            <ui:include src="/resources/images/imagens/svg/logoheader.svg"/>
                            <h3 class="title-header">Mais Informações</h3>
                        </div>
                    </f:facet>
                    <p:dataTable id="tableMaisInformacoes" value="#{inadimplenteController.cicloInadimplenciaSelected}" var="cicloSelecionado">
                        <p:column headerText="MCI">
                            <h:outputText value="#{cicloSelecionado.cliente.mci}"/>
                        </p:column>
                        <p:column headerText="Prefixo">
                            <h:outputText value="#{cicloSelecionado.prefixo}"/>
                        </p:column>
                        <p:column headerText="Atraso">
                            <h:outputText value="#{cicloSelecionado.atraso}"/>
                        </p:column>
                        <p:column headerText="Arrasto">
                            <h:outputText value="#{cicloSelecionado.arrasto}"/>
                        </p:column>
                        <p:column headerText="Gerente">
                            <h:outputText value="#{cicloSelecionado.nomeGerenteRelacionamento}"/>
                        </p:column>
                        <p:column headerText="Mercado">
                            <h:outputText value="#{cicloSelecionado.mercado}"/>
                        </p:column>
                        <p:column headerText="Entrada">
                            <h:outputText value="#{cicloSelecionado.dataEntrada.dataOperacao}"/>
                        </p:column>
                        <p:column headerText="Saida">
                            <h:outputText value="#{cicloSelecionado.dataSaida.dataOperacao}"/>
                        </p:column>
                    </p:dataTable>
                </p:dialog>
            </h:form>
        </div>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
    </ui:define>
</ui:composition>
