<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:saot="http://shiro.apache.org/tags"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>

    <ui:define name="conteudo">
        <h:form id="form">
            <div class="container" style="margin-top: 80px;">
                <div class="row" style="margin-top: 50px">
                    <div class="col-md-8" id="coluna1">
                        <div class="row temMargem" id="linha1">
                            <h3>Espaço ECOA</h3>

                            <ui:insert name="slider" >
                                <div id="carousel-topo" class="galeria carousel slide" style="margin-top: 25px;">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoECOA)}" varStatus="cont">
                                            <li data-target="#carousel-topo" data-slide-to="#{cont.index}" class="#{cont.index eq '0'? 'active':''}"></li>
                                        </ui:repeat>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoECOA)}" varStatus="aux">
                                            <div class="item #{aux.index eq '0'? 'active':''}">
                                                <a href="#{destaqueController.enderecoUrl(des)}" target="_blank"
                                                   title="Clique aqui para saber mais.">
                                                    <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(des.imagem.archive.url)}" style="min-height: 350px;"/>
                                                </a>
                                            </div>
                                        </ui:repeat>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-topo" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-topo" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </ui:insert>
                        </div>
                        <div class="row" id="lihna2">
                            <div class="col-md-12 noPading temMargem">
                                <p:dataScroller value="#{newsController.getListaNoticias(utilController.mercadoECOA)}" var="new" chunkSize="4" style="border: none;">
                                    <div class="col-md-6 temMargem noPadingLeft">
                                        <h:panelGrid columns="2" style="width:100%;">
                                            <article class="noticia" >
                                                <div class="img-noticia">
                                                    <a href="/noticia/#{new.id}">
                                                        <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(new.capa.archive.url)}" height="100px" width="100px"/>
                                                    </a>
                                                </div>
                                                <div class="noticia-texto" style="height: 185px; overflow: hidden;">
                                                    <a href="/noticia/#{new.id}">
                                                        <h4 class="titulo-noticia">#{new.title}</h4>
                                                    </a>
                                                    <p>#{new.subtitle}</p>
                                                </div>
                                            </article>
                                        </h:panelGrid>
                                    </div>
                                </p:dataScroller>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" id="coluna2" >
                        <div id="ferramentas" class="ferramentas" style="margin-bottom: 25px;">
                            <h4>Links Úteis</h4>

                            <div class="col-md-5 col-sm-3">
                                <div class="imagens-thumbnail ">
                                    <a href="http://dipes.bb.com.br" target="_blank" class="itemAcesso">
                                        <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/ecoa/quebracabeca2.png"
                                             alt="img06" title="PORTAL DIPES" style="width: 90px; height: 90px;"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5  col-sm-3">
                                <div class="imagens-thumbnail">
                                    <a href="http://www.unibb.com.br" target="_blank" class="itemAcesso">
                                        <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/ecoa/livro.png" width="85px"
                                             alt="img08" title="PORTAL UNIBB"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-3" style="padding-top: 3px;">
                                <div class="imagens-thumbnail">
                                    <a href="http://gepessp.bb.com.br" target="_blank" class="itemAcesso">
                                        <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/ecoa/gepes.png" width="85px"
                                             alt="img01" title="GEPES SP" style="width: 85px; height: 85px;"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5  col-sm-3" style="padding-top: 3px;">
                                <div class="imagens-thumbnail">
                                    <a href="http://wiki.bb.com.br" target="_blank" class="itemAcesso">
                                        <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/ecoa/wiki_1.svg"
                                             alt="img06" title="WIKI GEPES PALMAS BB" style="width: 85px; height: 85px;"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div id="sidebar" class="row col-md-4" style="padding-top: 5px;">
                            <h4>Lins</h4>
                            <ul class="menu-sidebar">
                                <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/adm">ADM</a></li>
                                <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/agro">AGRO</a></li>
                                <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/pj">PJ</a></li>
                                <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/ds">DS</a></li>
                                <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/gov">GOV</a></li>
                                <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/pf">PF</a></li>
                            </ul>
                        </div>-->
                        <div id="sidebar" class="row col-md-4">
                            <h4>Arquivos</h4>
                            <ul class="menu-sidebar">
                                <li>
                                    <p:commandLink title="Downloads" onclick="PF('downloads').show();" value="Arquivos"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <p:dialog id="downloads" widgetVar="downloads" closable="true" modal="true" header="ARQUIVOS PARA DOWNLOAD">
                <div class="container">
                    <div class="row">
                        <ul class="menu-sidebar">
                            <ui:repeat value="#{reportController.arquivosECOA}" var="down">
                                <div class="col-md-4 menu-sidebar">
                                    <li class="#{down.report.mimeType eq 'application/pdf' ? 'pdf' : down.report.mimeType eq 'text/csv' ? 'csv' : 'col'}" style="font-size: 15px !important;">
                                        <p:commandLink value="#{down.title}" ajax="false" style="color: #f9f9f9">
                                            <p:fileDownload value="#{reportController.download(down.report)}"/>
                                        </p:commandLink>.<p:outputLabel value="#{down.report.mimeType eq 'application/pdf' ? 'pdf' : down.report.mimeType eq 'text/csv' ? 'csv' : ''}"></p:outputLabel>                           
                                    </li>
                                </div>
                            </ui:repeat>
                        </ul>
                    </div>
                </div>
            </p:dialog> 
        </h:form>

        <link rel="stylesheet"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/mercados/mercados.css"/>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>

        <script>
                                        $(document).ready(function () {
                                            $('img#logobb_menu').css('display', 'block');
                                        });
        </script>
        <style>
            #footer {
                position: relative;
                bottom: 0;
            }
            .ui-datascroller .ui-datascroller-content {
                margin: 0;
                padding: 0 !important;
                border: none !important;
            }
            .cbp-tm-menu {
                background-color: #f9dd16;
                background-image: url("/resources/images/imagens/png/ecoa.png");
                background-repeat: no-repeat;
                background-position: 7%;
                height: 100px;
            }
            .pdf {
                background-color: #c7254e !important; 
                color: #f9f9f9 !important;
            }

            .csv {
                background-color: #0EB96A !important;
                color: #f9f9f9 !important;
              }
        </style>
    </ui:define>
    <ui:define name="chamadaJquery" />
</ui:composition>
