
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background: #f9f9f9;
}

#fundo {
    height: 100%;
    overflow: hidden;
}


.title-header{
    position: absolute;
    margin-top: 7px;
    margin-left: 5px;
}

@media screen and (max-height: 745px) {
    body {
        height: 745px;
        width: 1600px;
        overflow: auto;
    }
}

.coluna1-produtos {
    position: absolute;  
    left: 460px;
}
.coluna1-produtos svg{
    margin: 0 3px;   
}
.row-produtos2 {
    margin-left: 15px;
}

/*caixas exe*/ 
.caixas-coluna1 {
    position: relative;
    left: 410px;
    width: 110px;
    height: 98px;
}
/*caixas exe*/ 
.caixas-coluna2 {
    position: relative;
    left: -161px;
    width: 110px;
    height: 98px;
}

/* pf*/
#prod-pf{
    top: 55px;
}
#prod-pf svg{
    margin: 0 1px;
}
#prod-pf .row-produtos1{
    margin-top: 35px;
}
#prod-pf .row-produtos2{
    margin-top: -35px;
}

/*exe pf*/
#exe-pf {
    top: -90px; 
}

#qtd-pf {
    position: relative;
    top: -45px;
    width: 116px;
    text-align: center;
}


/*produto auto*/
#prod-autu{
    top: 230px;
}

#prod-autu .row-produtos2{
    margin-top: -25px;
}

/*exe auto*/
#exe-auto {
    top: -90px; 
}

#qtd-auto{
    position: relative;
    top: -45px;
    width: 116px;
    text-align: center;
}


/*produto cap*/
#prod-cap{
    top: 360px;
}

#prod-cap .row-produtos2{
    margin-top: -25px;
}


/*PRODUTO RURAL*/
#prod-rural{
    top: 490px;
}

#prod-rural .row-produtos2{
    margin-top: -35px;
}

#prod-rural svg{
    margin: 0 1px;   
}

/*exe rural*/
#exe-rural {
    top: -100px; 
}

#qtd-rural{
    position: relative;
    top: -45px;
    width: 106px;
    text-align: center;
}


/* coluna 2 */
.coluna2-produtos {
    position:absolute;
    left: 1200px;
    width: 380px;
    height: 130px;
}

/*prod previdencia*/
#prod-previdencia{
    top: 50px;
}
#prod-previdencia svg{
    margin: 0 3px;

}
#prod-previdencia .row-produtos1{
    margin-top: 35px;
}
#prod-previdencia .row-produtos2{
    margin-top: -35px;
}

/*exe previdencia*/
#exe-previdencia {
    top: -93px; 
}

#qtd-previdencia{
    position: relative;
    top: -45px;
    width: 116px;
    text-align: center;
}


/*prod-prestamista*/
#prod-prestamista{
    top: 215px;
}

#prod-prestamista svg{
    margin: 0 4px;
}

#prod-prestamista .row-produtos2{
    margin-top: -35px;
}
/*exe prestamista*/
#exe-prestamista {
    top: -97px; 
}

#qtd-prestamista{
    position: relative;
    top: -45px;
    width: 116px;
    text-align: center;
}

/*PROD VIDA*/
#prod-vida{
    top: 350px;
}

#prod-vida .row-produtos2{
    margin-top: -38px;
}

#prod-vida svg {
    margin: 0 3px;
}
/*exe vida*/
#exe-vida {
    top: -97px; 
}

#qtd-vida{
    position: relative;
    top: -45px;
    width: 116px;
    text-align: center;
}


/*PRODUTO RURAL*/
#prod-patrimonio{
    top: 500px;
}

#prod-patrimonio .row-produtos2{
    margin-top: -25px;
}

#prod-patrimonio svg{
    margin: 0 2px;  
}
/*exe patrimonio*/
#exe-patrimonio {
    top: -83px; 
}

#qtd-patrimonio{
    position: relative;
    top: -45px;
    width: 116px;
    text-align: center;
}

#mesa {
    height: 402px;
    width: 378px;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.trofeus-coluna1{
    left: 157px;
    position: absolute;
    top: 25px;
    cursor: pointer;
}

.trofeus-coluna2{
    margin-left: 115px;
    cursor: pointer;
    position: absolute;
    top: 0px;
}

#trofeu-auto, #trofeu-cap, #trofeu-patrimonio {
    top: -15px;
}

#trofeu-rural {
    top: -10px;
}
#trofeu-prev{
    top: 30px;
}

/* voltar a home */
#destaques{
    position: absolute;
    top: 110px;
    left: 0px;
    /* width: 66px;
     height: 66px;
    */
}
#destaque svg {
    z-index: 1000;
}

#destaque{
    position: absolute;
    top: 0px;
    /* width: 170px; */
    padding: 22px 22px 0 22px;
    background-color: rgba(66, 91, 117, 1);
    transition: transform 0.3s ease 0s;
    left: 0px;
    transform: translateY(0) translateX(-100%);   
/*    font-family: 'Josefin Sans', sans-serif;*/
    height: 63px;
}

#destaques a{
    color: #FFF;
    white-space: nowrap;
    text-decoration: none;

}
#destaques:hover div{
    -webkit-transform: translateY(0) translateX(63px); 
    transform: translateY(0) translateX(63px);
}

#voltarhome{
    position: absolute;
    top: 20px;
    left: 0px;
    /* width: 66px;
     height: 66px;
    */
}
#voltarhome svg, #outrolink svg, #outrolink2 svg {
    z-index: 1000;
}
#voltar, #link, #link2{
    position: absolute;
    top: 0px;
    /* width: 170px; */
    padding: 22px 22px 0 22px;
    background-color: rgba(66, 91, 117, 1);
    transition: transform 0.3s ease 0s;
    left: 0px;
    transform: translateY(0) translateX(-100%);   
    /*font-family: 'Josefin Sans', sans-serif;*/
    height: 63px;
}
#voltarhome a{
    color: #FFF;
    white-space: nowrap;
    text-decoration: none;

}
#voltarhome:hover div{
    -webkit-transform: translateY(0) translateX(63px); 
    transform: translateY(0) translateX(63px);
}

#outrolink{
    position: absolute;
    top: 83px;
    left: 0px;
}

#outrolink:hover div{
	-webkit-transform: translateY(0) translateX(63px); 
	transform: translateY(0) translateX(63px);
}

#outrolink2{
    position: absolute;
    top: 146px;
    left: 0px;
}
#outrolink2:hover div{
	-webkit-transform: translateY(0) translateX(63px); 
	transform: translateY(0) translateX(63px);
}
