<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="header">
        <style type="text/css">
            .row {
                width: 100%;
                margin-bottom: 2%;
            }

            .div_dotted {
                border: 1px dotted #2B579A;
                box-shadow: 0px 0px 5px 2px #2B579A;
            }

            .label {
                font-size: 20px;
                color: black;
                font-weight: bolder;
                font-family: Verdana, sans-serif;
                margin: 2px;
            }

            .colums {
                text-align: center;
            }

            #div_capa {
                position: relative;
                width: 50%;
                height: 150px;
                margin-left: 30%;
            }

            #div_titles {
                width: 50%;
                height: 30%;
                padding: 1%;
            }
        </style>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#editorTextArea").ckeditor();

            });

            function pegaConteudo() {
                var conteudo = CKEDITOR.instances.editorTextArea.getData();
                $('#inputhidden').val(conteudo);
                salvarNoticia(); //{p:remotecommand}
            }
        </script>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Adicionar Notícias
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Adicionar uma notícia</h2></legend>

            <h:form id="newNoticia" style="font-size:11px;" prependId="false">

                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation">
                            <p:commandLink onclick="pegaConteudo();">
                                Publicar
                            </p:commandLink>
                        </li>
                    </ul>
                </h:panelGroup>

                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <h4>Setor</h4>
                                    <h:selectOneMenu value="#{newsController.value.mercado}"
                                                     styleClass="form-control">
                                        <f:selectItems value="#{utilController.listCategorias}" var="mercado"
                                                       itemValue="#{mercado}" itemLabel="#{mercado}"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <h4>Visível</h4>
                                    <p:inputSwitch value="#{newsController.value.visible}"
                                                   style="margin-top: 10px;"
                                                   onLabel="Sim" offLabel="Não"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <h4>Capa</h4>
                                    <p:commandLink value="Fazer upload" type="button" onclick="PF('upImages').show()"
                                                   styleClass="btn btn-info" style="width: 100%;"/>
                                </div>
                            </div>
                            <div class="col-xs-6" style="margin-top: 40px;">
                                <p:commandLink onclick="PF('imgDialog2').show()" value="Banco de Imagens"
                                               type="button" styleClass="btn btn-info" style="width: 100%;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Título</h4>
                                <h:inputText value="#{newsController.value.title}" size="20" required="true" maxlength="75"
                                             styleClass="form-control"
                                             style="width: 100%;"
                                             requiredMessage="Favor preencher o campo de título!"/>
                            </div>
                            <div class="col-xs-6">
                                <h4>Resumo</h4>
                                <p:inputTextarea value="#{newsController.value.subtitle}" cols="10" maxlength="140" 
                                                 placeholder="Breve descrição da notícia! Máx: 140 caracteres!"
                                                 style="width: 100%; height: 125px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div id="image-news" class="text-center" style="width: 500px;">
                                    <h4>Imagem da Notícia</h4>
                                    <h:panelGroup id="imgNoticia">
                                        <p:graphicImage rendered="#{newsController.value.capa != null}" height="339"
                                                        width="500"
                                                        value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(newsController.value.capa.archive.url)}"/>
                                        <p:graphicImage rendered="#{newsController.value.capa == null}" height="338"
                                                        width="500"
                                                        value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Texto da Notícia</h3>
                            <textarea id="editorTextArea" style="width: 80%;height: 400px;"></textarea>
                        </div>
                    </div>
                </div>

                <h:inputHidden id="inputhidden" value="#{newsController.value.text}"/>
                <p:remoteCommand name="salvarNoticia" action="#{newsController.add}" update="scriptAlert"
                                 oncomplete="swetAlert();"/>

                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function swetAlert() {
                            var ok = #{newsController.opSucesso};

                            if (ok) {
                                swal("Bom Trabalho!", "Sua notícia foi salva com sucesso!", "success");
                                $("#editorTextArea").val("");
                                $('input').val("");
                                $('textarea').val("");
                            } else {
                                swal("Ooops!", "Houve um erro ao salvar sua notícia! Tente novamente!", "error");
                            }
                        }
                    </script>
                </h:panelGroup>
            </h:form>

            <h:form enctype="multipart/form-data" id="newImagem" prependId="false">
                <p:dialog header="Upload de imagens" modal="true" widgetVar="upImages" showEffect="fade">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <h:outputLabel value="Imagem"/>
                        <p:fileUpload fileUploadListener="#{imageController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="tit"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                        <h:outputLabel value="Título"/>
                        <p:inputText id="tit" value="#{imageController.value.title}" size="20"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea value="#{imageController.value.description}" autoResize="false"
                                         style="font-size: 12px;"/>
                        <h:outputText value="Visível"/>
                        <p:selectBooleanCheckbox value="#{imageController.value.visible}"/>
                    </h:panelGrid>
                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                    <p:commandButton value="Salvar" actionListener="#{newsController.uploadCapa()}"
                                     update=":newNoticia:imgNoticia" style="font-size: 12px;"
                                     onclick="PF('upImages').hide();"/>
                    <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                     onclick="PF('upImages').hide();"/>
                </p:dialog>
            </h:form>

            <h:form prependId="false" id="nform2">
                <p:dialog widgetVar="imgDialog2" header="Selecionar Imagem" dynamic="true">
                    <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                                   mode="native">
                        <h:panelGroup layout="block" id="imagens2" style="width: 450px; ">
                            <ul>
                                <li style="list-style: none outside none;">
                                    <h2>Imagens</h2>
                                </li>
                                <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                    <li id="item_img" style="display: list-item;
                                        text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                        #DDD;
                                        padding-left: 15px;
                                        overflow: auto;
                                        ">
                                        <div id="image_switch" style="
                                             float: left;
                                             width: 300px;
                                             font-size: 1.15em;">

                                            <div id="img_thumb" style="
                                                 float: left;
                                                 position: relative;
                                                 margin-right: 15px;">
                                                <h:graphicImage
                                                    value="/ws/file/img/#{servidorImagensController.getFileName(imagem.archive.url)}"
                                                    width="120" height="100"/>
                                            </div>
                                            <div id="img_titulo" style="width: 30.900em;">
                                                <p> Titulo: Teste<br/>
                                                    Descrição:<br/>
                                                </p>
                                                <p:commandButton value="Selecionar"
                                                                 actionListener="#{newsController.adicionarCapa(imagem)}"
                                                                 update=":newNoticia:imgNoticia"
                                                                 style="font-size: 11px;"
                                                                 onclick="PF('imgDialog2').hide()"/>
                                            </div>
                                        </div>
                                    </li>
                                </ui:repeat>

                                <div style="width: 440px;
                                     overflow: hidden;
                                     margin: 0 auto;
                                     text-align: center;"
                                     >
                                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                    <p:commandButton value="Anterior"
                                                     disabled="#{!imageController.pagImages.hasPreviousPage}"
                                                     ajax="true"
                                                     actionListener="#{imageController.pagImages.previousPage()}"/>
                                    <h:outputText value="#{imagemController.pagFotos.page}" id="page2"/>
                                    <p:commandButton value="Próxima"
                                                     disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                                     actionListener="#{imageController.pagImages.nextPage()}"/>
                                </div>
                            </ul>
                        </h:panelGroup>
                    </p:scrollPanel>
                </p:dialog>
            </h:form>

            <h:form prependId="false" id="nform">
                <p:dialog widgetVar="imgDialog" header="Selecionar Imagem" dynamic="true">
                    <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                                   mode="native">
                        <h:panelGroup layout="block" id="imagens" style="width: 450px; ">
                            <ul>
                                <li style="list-style: none outside none;">
                                    <h2>Imagens</h2>
                                </li>
                                <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                    <li id="item_img" style="display: list-item;
                                        text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                        #DDD;
                                        padding-left: 15px;
                                        overflow: auto;
                                        " ondblclick="addImage('#{imagem.archive.url}');">

                                        <div id="image_switch" style="
                                             float: left;
                                             width: 300px;
                                             font-size: 1.15em;">

                                            <div id="img_thumb" style="
                                                 float: left;
                                                 position: relative;
                                                 margin-right: 15px;">
                                                <h:graphicImage
                                                    value="/ws/file/img/#{servidorImagensController.getFileName(imagem.archive.url)}"
                                                    width="120" height="100"/>
                                            </div>
                                            <div id="img_titulo" style="width: 30.900em;">
                                                <p> Titulo: Teste<br/>
                                                    Descrição:<br/>

                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ui:repeat>

                                <div style="width: 440px;
                                     overflow: hidden;
                                     margin: 0 auto;
                                     text-align: center;"
                                     >
                                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                    <p:commandButton value="Anterior"
                                                     disabled="#{!imageController.pagImages.hasPreviousPage}"
                                                     ajax="true"
                                                     actionListener="#{imageController.pagImages.previousPage()}"
                                                     update=":nform:imagens"/>
                                    <h:outputText value="#{imagemController.pagFotos.page}" id="page"/>
                                    <p:commandButton value="Próxima"
                                                     disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                                     actionListener="#{imageController.pagImages.nextPage()}"
                                                     update=":nform:imagens"/>
                                </div>
                            </ul>
                        </h:panelGroup>
                    </p:scrollPanel>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
