<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $('.nav-pills li').removeClass("menu_btn_active");
                    $(this).addClass("active");
                    $(this).addClass("menu_btn_active");
                });
            });

            function pegaConteudo() {
                var conteudo = CKEDITOR.instances.editorTextArea.getData();
                $('#inputhidden').val(conteudo);
                editNoticia(); //{p:remotecommand}
            }
        </script>
        <style>
            .menu_btn_active a {
                background-color: gray !important;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Gerenciar Notícias
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar notícias</h2></legend>

            <h:form id="form" prependId="false" style="font-size: 11px;">

                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation">
                            <a href="/admin/news/add">
                                <i class="icon-plus"></i>
                                Adicionar
                            </a>
                        </li>

                        <li role="presentation" class="#{newsController.selected != null ? 'dropdown':'disabled'}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-expanded="false">
                                Editar <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <p:commandLink
                                            oncomplete="#{newsController.selected != null ? 'PF(\'editNews\').show();criarCKEditor();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou uma notícia!\',2000)'}"
                                            update=":formEditar:inputhidden">
                                        <i class="icon-edit2"></i>
                                        Editar Noticia
                                    </p:commandLink>
                                </li>
                                <li>
                                    <p:commandLink
                                            oncomplete="#{newsController.selected != null ? 'PF(\'editCapa\').show();': 'mostraAtencao(\'Oops!\',\'Você não selecionou uma notícia!\',2000)'}">
                                        <i class="icon-edit2"></i>
                                        Editar Capa
                                    </p:commandLink>
                                </li>
                            </ul>
                        </li>

                        <li role="presentation" class="#{newsController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":form:scriptAlert"
                                           onclick="#{newsController.selected != null ? 'deletar();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou uma notícia!\',2000)'}">
                                <i class="icon-trash"></i>
                                Excluir
                            </p:commandLink>
                        </li>

                    </ul>
                </h:panelGroup>

                <p:contextMenu for="noticias" id="menuContext">
                    <p:menuitem value="Editar Noticia" icon="ui-icon-pencil" update=":formEditar:inputhidden"
                                oncomplete="PF('editNews').show();criarCKEditor();" style="font-size: 11px;"/>
                    <p:menuitem value="Editar Capa" icon="ui-icon-pencil" style="font-size: 11px;"
                                onclick="PF('editCapa').show()"/>
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="deletar()"/>
                </p:contextMenu>
                <br/>
                <p:dataTable id="noticias" var="noticia" value="#{newsController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado"
                             selectionMode="single" selection="#{newsController.selected}"
                             rowKey="#{noticia.id}" paginator="true" rows="12"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5, 10, 30" lazy="true" resizableColumns="true"
                             paginatorPosition="bottom">

                    <f:facet name="header">
                        <h:outputText value="Noticias"/>
                    </f:facet>

                    <p:ajax event="rowSelect"
                            update=":form:menus :formEditar:editNews :formEditar:painelEditCapa :formEditar:capaNoticia"/>
                    <p:ajax event="rowUnselect"
                            update=":form:menus :formEditar:editNews :formEditar:painelEditCapa :formEditar:capaNoticia"/>

                    <p:column headerText="Id" filterBy="#{noticia.id}" filterMatchMode="contains" width="40"
                              filterMaxLength="4" filterStyle="width: 30px;"
                              style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{noticia.id}"/>
                    </p:column>
                    
                     <p:column headerText="Visualizações" filterMatchMode="contains" width="40"
                              filterMaxLength="4" filterStyle="width: 30px;"
                              style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{noticia.qtVisualizacoes}"/>
                    </p:column>

                    <p:column headerText="Título" filterBy="#{noticia.title}" filterMatchMode="contains" width="200"
                              filterStyle="width: 150px;" style="font-size: 12px;text-align: center;" >
                        <h:outputText value="#{noticia.title}"/>
                    </p:column>


                    <p:column headerText="Data publicação" width="90" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{noticia.operacaoCriacao.dataOperacao}">
                            <f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Autor publicação"
                              width="90" filterStyle="width: 80px;"
                              style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{noticia.operacaoCriacao.autor.nome}"/>
                    </p:column>

                    <p:column headerText="Última edição" width="90" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{newsController.getUltimaDataOperacao(noticia)}">
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Visivel" filterBy="#{noticia.visible}" filterMatchMode="contains" width="60"
                              filterStyle="width: 40px;" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{noticia.visible}"/>
                    </p:column>

                    <p:column headerText="Setor" filterBy="#{noticia.mercado}" filterMatchMode="contains" width="60"
                              filterStyle="width: 50px;" style="font-size: 12px;text-align: center;">
                        <h:outputText value=" #{noticia.mercado.label}"/>
                    </p:column>
                    <p:column headerText="Opções" width="80" style="font-size: 12px;text-align: center;">
                        <p:commandButton value="Visualizar" immediate="true" update=":form:view_news"
                                         oncomplete="PF('viewnews').show()">
                            <f:setPropertyActionListener value="#{noticia}" target="#{newsController.selected}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:dialog widgetVar="viewnews" id="view_news" closable="true" width="70%" height="450"
                          header="#{newsController.selected.title}"
                          modal="true" draggable="false" resizable="false" style="text-align: center;overflow: auto;">
                    <div style="background-color: white;overflow: auto;">
                        <h:outputText value="#{newsController.selected.text}" escape="false"/>
                    </div>
                </p:dialog>

                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msg, dlg) {
                            var ok = #{newsController.opSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso", msg, 3000);
                                PF(dlg).hide();
                            } else {
                                mostraError("Ooops!", msg, 3000);
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarNews();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{newsController.opSucesso};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O destaque foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarNews" action="#{newsController.delete()}" oncomplete="mostraAlerta();"
                                 update=":form:scriptAlert :form:noticias"/>
            </h:form>

            <h:form id="formAdd"></h:form>

            <h:form id="formEditar" prependId="false">

                <p:dialog id="editNews" widgetVar="editNews" header="Editar Noticia:  #{newsController.selected.title}"
                          modal="true" resizable="false" draggable="false" width="855">
                    <p:tabView>
                        <p:tab title="Editar Corpo da Notícia">
                            <div class="container-fluid">
                                <div class="col-xs-12">
                                    <h4>Editar Notícia</h4>
                                    <textarea id="editorTextArea" style="width: 80%;height: 400px;"></textarea>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab title="Editar Título da Notícia">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <h4>Editar Título</h4>
                                            <h:inputText value="#{newsController.selected.title}"
                                                         styleClass="form-control" maxlength="75"/>
                                            <h4 style="margin-top: 30px;">Visível</h4>
                                            <p:inputSwitch value="#{newsController.selected.visible}"
                                                           onLabel="Sim" offLabel="Não"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <h4 class="text-center">Editar Subtítulo</h4>
                                            <p:inputTextarea value="#{newsController.selected.subtitle}"
                                                             cols="10" style="width: 100%; height: 125px;" maxlength="140"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p:tab>
                    </p:tabView>
                    <p:remoteCommand name="editNoticia" action="#{newsController.edit()}" update=":form:scriptAlert"/>
                    <p:commandButton value="Salvar" onclick="pegaConteudo();"
                                     oncomplete="verificaOperacao('!','editNews');"
                                     update=":form:noticias "/>
                </p:dialog>

                <p:dialog header="Editar Capa da Notícia #{newsController.selected.title}" modal="true"
                          resizable="false"
                          width="750"
                          draggable="false" widgetVar="editCapa" showEffect="fade">

                    <h:panelGroup id="painelEditCapa">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>Capa da Notícia</h4>
                                <h:panelGroup id="capaNoticia">
                                    <p:graphicImage rendered="#{newsController.selected.capa != null}" height="200"
                                                    width="300"
                                                    value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(newsController.selected.capa.archive.url)}"/>
                                    <p:graphicImage rendered="#{newsController.selected.capa == null}" height="200"
                                                    width="300"
                                                    value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top: 10px;">
                            <p:commandLink onclick="PF('dlgSelecionarImagem').show()" value="Escolher uma imagem"
                                           type="button" styleClass="btn btn-info"/>
                        </div>
                        <div class="row">
                            <h4>Fazer Upload da Capa</h4>
                            <p:fileUpload fileUploadListener="#{imageController.fileUploadListener}"
                                          mode="advanced"
                                          oncomplete="mudarCapa();"
                                          sizeLimit="100000000"
                                          label="Selecionar"
                                          allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                        </div>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                        <p:remoteCommand name="mudarCapa" action="#{newsController.uploadNovaCapa}"
                                         update="capaNoticia"/>
                        <p:commandButton value="Salvar" actionListener="#{newsController.edit()}"
                                         style="font-size: 12px;" update=":form:scriptAlert"
                                         onclick="PF('editCapa').hide();"
                                         oncomplete="verificaOperacao('Edição da Capa Feita com Sucesso!','editNews');"/>
                        <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                         onclick="PF('editCapa').hide();"/>
                    </h:panelGroup>
                </p:dialog>

                <h:inputHidden id="inputhidden" value="#{newsController.selected.text}"/>
            </h:form>

            <h:form prependId="false" id="formSelecionarImagem">
                <p:dialog widgetVar="dlgSelecionarImagem" header="Selecionar Imagem" dynamic="true">
                    <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                                   mode="native">
                        <h:panelGroup layout="block" id="imagens" style="width: 450px; ">
                            <ul>
                                <li style="list-style: none outside none;">
                                    <h2>Imagens</h2>
                                </li>
                                <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                    <li id="item_img" style="display: list-item;
                                        text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                        #DDD;
                                        padding-left: 15px;
                                        overflow: auto;" ondblclick="addImage('#{imagem.archive.url}');">

                                        <div id="image_switch" style="
                                             float: left;
                                             width: 300px;
                                             font-size: 1.15em;">

                                            <div id="img_thumb" style="
                                                 float: left;
                                                 position: relative;
                                                 margin-right: 15px;">
                                                <h:graphicImage
                                                        value="/ws/file/img/#{servidorImagensController.getFileName(imagem.archive.url)}"
                                                        width="120" height="100"/>
                                            </div>
                                            <div id="img_titulo" style="width: 30.900em;">
                                                <p> Titulo: Teste<br/>
                                                    Descrição:<br/>
                                                </p>
                                                <p:commandButton value="Selecionar"
                                                                 action="#{newsController.mudarCapa(imagem)}"
                                                                 update=":formEditar:capaNoticia"
                                                                 style="font-size: 11px;"
                                                                 oncomplete="PF('dlgSelecionarImagem').hide()"/>
                                            </div>
                                        </div>
                                    </li>
                                </ui:repeat>

                                <div style="width: 440px;
                                     overflow: hidden;
                                     margin: 0 auto;
                                     text-align: center;">
                                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                    <p:commandButton value="Anterior"
                                                     disabled="#{!imageController.pagImages.hasPreviousPage}"
                                                     ajax="true"
                                                     actionListener="#{imageController.pagImages.previousPage()}"
                                                     update=":formSelecionarImagem:imagens"/>
                                    <h:outputText value="#{imagemController.pagFotos.page}" id="page"/>
                                    <p:commandButton value="Próxima"
                                                     disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                                     actionListener="#{imageController.pagImages.nextPage()}"
                                                     update=":formSelecionarImagem:imagens"/>
                                </div>
                            </ul>
                        </h:panelGroup>
                    </p:scrollPanel>
                </p:dialog>
            </h:form>

        </fieldset>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
                type=""></script>
        <script type="text/javascript">
            function criarCKEditor() {
                var conteudo = $('#inputhidden').val();
                $("#editorTextArea").ckeditor();
                CKEDITOR.instances.editorTextArea.setData(conteudo);
            }
        </script>
        <ui:define name="jQueryBootstrap"></ui:define>
    </ui:define>
</ui:composition>
