<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions-6.0.0.jar">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <style>
            .tab-pane, .tab-pane .carousel{
                height: 100%;
            }
            .ui-selectmanycheckbox label, .ui-selectoneradio label {
                margin: 0px 10px 0 4px !important;

            }
        </style>
    </ui:define>

    <ui:define name="conteudo">
        <div id="corpo" class="container" style="margin-top: 80px;">
            <h:form id="frm1" prependId="false">
                <div class="row">
                    <h2>Portal das Ausências</h2>
                    <f:event type="preRenderView"
                             listener="#{ausenciaController.value.setSolicitanteNome(loginController.funcionario.nome)}"/>
                    <f:event type="preRenderView"
                             listener="#{ausenciaController.value.setSolicitanteMatricula(loginController.funcionario.fmatricula)}"/>
                    <f:event type="preRenderView"
                             listener="#{ausenciaController.value.setPrefixoSolicitante(loginController.funcionario.prefixo)}"/>
                    <p:separator style="margin-bottom:10px"/>
                    <p:messages id="messages" closable="true" style="text-align: center;"/>
                </div>
                <div class="row">
                    <h:panelGroup id="form">
                        
                        <div class="col-md-12">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Solicitante" for="solicitanteMatricula"/>
                                        <p:inputText id="solicitanteMatricula" maxlength="8"
                                                     value="#{loginController.funcionario.fmatricula}"
                                                     styleClass="form-control" disabled="true">
                                        </p:inputText>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Nome Solicitante" for="solicitanteNome"/>
                                        <p:inputText id="solicitanteNome" 
                                                     value="#{loginController.funcionario.nome}"
                                                     styleClass="form-control" disabled="true">
                                        </p:inputText>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Solicitante Prefixo" for="prefixoSolicitante"/>
                                        <p:inputText id="prefixoSolicitante" maxlength="4"
                                                     value="#{loginController.funcionario.prefixo}"
                                                     disabled="true"
                                                     styleClass="form-control" placeholder="Nº Operação">
                                            <p:keyFilter regEx="/[\d\-\.]/" />
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Lateral" for="chaveLateral"/>
                                        <p:inputText id="chaveLateral" maxlength="8"
                                                     value="#{ausenciaController.value.chaveLateral}"
                                                     styleClass="form-control" placeholder="Indique a matrícula do lateral">
                                        </p:inputText>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Nome Lateral" for="nomeLateral"/>
                                        <p:inputText id="nomeLateral" 
                                                     value="#{ausenciaController.value.nomeLateral}"
                                                     styleClass="form-control" placeholder="Nome">
                                        </p:inputText>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Lateral Prefixo" for="lateralPrefixo"/>
                                        <p:inputText id="lateralPrefixo" maxlength="4"
                                                     value="#{ausenciaController.value.prefixoLateral}"
                                                     styleClass="form-control" placeholder="Prefixo">
                                            <p:keyFilter regEx="/[\d\-\.]/" />
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Motivo"/>
                                        <h:selectOneMenu value="#{ausenciaController.value.motivo}"
                                                         styleClass="form-control" 
                                                         required="true" requiredMessage="Selecione um motivo">
                                            
                                            <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                            <f:selectItems value="#{ausenciaController.brands}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Lateral Contato" styleClass="title"/> <br/>
                                        <p:inputText id="lateralContato" maxlength="11"  
                                                     value="#{ausenciaController.value.telefoneLateral}"
                                                     styleClass="form-control" placeholder="(XX) XXXXX-XXXX">
                                            <p:keyFilter regEx="/[\d\-\.]/" />
                                        </p:inputText>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Justificativa" styleClass="title"/> <br/>
                                        <p:inputText id="justificativa" 
                                                     value="#{ausenciaController.value.justificativa}"
                                                     styleClass="form-control" placeholder="Justificativa">
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Data Inicial" styleClass="title"/> <br/>
                                        <p:calendar id="dataInicial" value="#{ausenciaController.value.inicio}" 
                                                    pattern="dd/MM/yyyy" pages="2"/>
                                    </div>   
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <h:outputLabel value="Data Final" styleClass="title"/> <br/>
                                        <p:calendar id="dataFinal" value="#{ausenciaController.value.fim}" pattern="dd/MM/yyyy" pages="2" />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group"> <br/>
                                        <p:commandButton value="Solicitar Liberação"  actionListener="#{ausenciaController.add()}"
                                                update="messages form tabListAusencias :formAlert :scriptAlert"
                                                oncomplete="verificaOperacao('Pedido de Averbação feita com Sucesso!','Pedido de Averbação não realizado');">
                                        <p:confirm header="Termo de Contrato"
                                                message="Declaro que as operações contratadas fora dos canais de autoatendimento, incluindo operações contratas pelo Correspondente Bancário, estão devidamente assinadas e serão arquivadas no dossiê do cliente."
                                                icon="ui-icon-alert"/>
                                        </p:commandButton>
                                        <h:form id="formAlert" prependId="false">
                                            <h:panelGroup id="scriptAlert">
                                                <script type="text/javascript">
                                                    function verificaOperacao(msgSucess, msgError) {
                                                    var ok = #{ausenciaController.opSucess};
                                                    if (ok) {
                                                        mostraSucesso("Sucesso", msgSucess, 5000);
                                                    } else {
                                                        mostraError("Ooops!", msgError, 5000);
                                                        }
                                                    }
                                                </script>
                                            </h:panelGroup>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>
            </h:form>
            
            <p:separator style="margin-bottom:10px"/>
            <div class="col-md-12">
                        <h:panelGroup id="tabListAusencias">
                            <h2 align="center">Solicitações de Ausências do Prefixo</h2>
                            <p:dataTable id="ausenciasPrefixo"
                                         var="ausenciaPrefixo"
                                         emptyMessage="Nenhum pedido de ausência para esse prefixo"
                                         rows="10"
                                         value="#{ausenciaController.ausenciasPrefixo}"
                                         rowKey="#{ausenciaPrefixo.id}"
                                         paginator="true"
                                         filterDelay="1000"
                                         selectionMode="single"
                                         selection="#{ausenciaController.selected}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                        {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="5, 10,20,30,40,50"
                                         paginatorPosition="bottom">
                                <f:facet name="header">
                                    Lista de Ausências
                                </f:facet>
                                <p:ajax event="rowSelect" oncomplete="PF('dialog2').show();" />
                                <p:tooltip/>
                                <p:column headerText="ID" filterBy="#{ausenciaPrefixo.id}"
                                          style="text-align: center;">
                                    <h:outputText value="#{ausenciaPrefixo.id}"/>
                                </p:column>
                                <p:column headerText="Motivo" filterBy="#{ausenciaPrefixo.motivo}"
                                          style="text-align: center;">
                                    <h:outputText value="#{ausenciaPrefixo.motivo}"/>
                                </p:column>
                                <p:column headerText="Data Inicial" style="text-align: center;">
                                    <h:outputText value="#{ausenciaPrefixo.inicio}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Data Final" style="text-align: center;">
                                    <h:outputText value="#{ausenciaPrefixo.fim}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Solicitante" filterBy="#{ausenciaPrefixo.solicitanteMatricula}"
                                          style="text-align: center;">
                                    <h:outputText value="#{ausenciaPrefixo.solicitanteMatricula}"/>
                                </p:column>
                                <p:column headerText="Lateral" filterBy="#{ausenciaPrefixo.chaveLateral}"
                                          style="text-align: center;">
                                    <h:outputText value="#{ausenciaPrefixo.chaveLateral}"/>
                                </p:column>
                                <p:column headerText="Status" filterBy="#{ausenciaPrefixo.statusAusencia}"
                                          filterMatchMode="contains"
                                          style="text-align: center;background-color: #{ausenciaController.verificarBackGroundColor(ausenciaPrefixo.statusAusencia)};">
                                    <h:outputText value="#{ausenciaPrefixo.statusAusencia}" style="color: #{ausenciaController.verificarTextColor(ausenciaPrefixo.statusAusencia)};"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
        </div> 
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>

        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/slide_acesso_rapido/jquery.catslider.js"></script>
        <script>
                        $(document).ready(function () {
                            $('#mi-slider').catslider();
                            $("#carousel-destaques, #carousel-aniversario, #carousel-noticias").carousel({
                                pause: '',
                                interval: 4500
                            });

                            $("#carousel-topo").carousel({
                                pause: '',
                                interval: 6000
                            });
                            $('img#logobb_menu').css('display', 'none');
                        });

                        var menu = new cbpTooltipMenu(document.getElementById('cbp-tm-menu'));

                        $(window).scroll(function () {
                            if (window.scrollY > 10) {
                                $('#div_logo_bb').fadeOut(500);
                                $('img#logobb_menu').fadeIn(500);
                            } else {
                                $('#div_logo_bb').fadeIn(500);
                                $('img#logobb_menu').fadeOut(500);
                            }
                        });

                        function someNotificacao() {
                            $("ul.nav.nav-tabs li.active a span").hide(1000);
                        }
        </script>
    </ui:define>
</ui:composition>
