* {
    box-sizing: border-box;
}

h1, h2 {
    color: #000;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
h1 {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 10em;
    margin-top: 0;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    margin: 0 0px 20px;
}

img {
    float: left;
    height: 300px;
    width: 213px;
    //margin-left: 120px;

}
body {
    margin: 0;
    padding: 0;
    background: #1b6cb3 url(/resources/images/imagens/backgrounds/batthern.png) repeat ;
}
.container {
    background-color: rgba(220,223,223, 0.3);
    border-radius: 10px;
    margin-top: 10%;
    padding: 5%;
     box-shadow: 0px 1px 5px rgba(105, 105, 105, 1);
border: 5px solid rgba(162, 187, 231, 1);
}
/*.container {

    padding: 30px;
    width: 60%;
    margin: 50px auto;
    overflow: hidden;
}*/

.btn {
  background: #fffb00;
  background-image: -webkit-linear-gradient(top, #fffb00, #d9d134);
  background-image: -moz-linear-gradient(top, #fffb00, #d9d134);
  background-image: -ms-linear-gradient(top, #fffb00, #d9d134);
  background-image: -o-linear-gradient(top, #fffb00, #d9d134);
  background-image: linear-gradient(to bottom, #fffb00, #d9d134);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 1px 2px #dedede;
  -webkit-box-shadow: 0px 1px 5px #999999;
  -moz-box-shadow: 0px 1px 5px #999999;
  box-shadow: 0px 1px 5px #999999;
  font-family: Arial;
  color: #2b2905;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}