<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>

    <ui:define name="conteudo">
        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="col-md-8" id="coluna1">
                    <div class="row temMargem" id="linha1">
                        <h4>Bem Vindo à página da ""</h4>

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="../../resources/owl-carousel/fullimage3.jpg" alt=""/>

                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="../../resources/owl-carousel/fullimage2.jpg" alt=""/>

                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>

                    <div class="row" id="lihna2">
                        <div class="col-md-12 noPading temMargem">
                            <div class="col-md-6 temMargem noPadingLeft">
                                <article class="noticia">
                                    <div class="img-noticia">
                                        <img src="../../resources/images/imagens/mercados/thumb150.jpg" height="100px"/>
                                    </div>
                                    <div class="noticia-texto">
                                        <h1 class="titulo-noticia">Titulo 1</h1>

                                        <p>You can download and extend the built-in library of components with community stencils. Or create your own custom components for later reuse.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 temMargem noPadingRight">
                                <article class="noticia">
                                    <div class="img-noticia">
                                        <img src="../../resources/images/imagens/mercados/thumb150.jpg" height="100px"/>
                                    </div>
                                    <div class="noticia-texto">
                                        <h1 class="titulo-noticia">Titulo 1</h1>

                                        <p>You can download and extend the built-in library of components with community stencils. Or create your own custom components for later reuse.</p>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="col-md-12 noPading">
                            <div class="col-md-6 temMargem noPadingLeft">
                                <article class="noticia">
                                    <div class="img-noticia">
                                        <img src="../../resources/images/imagens/mercados/thumb150.jpg" height="100px"/>
                                    </div>
                                    <div class="noticia-texto">
                                        <h1 class="titulo-noticia">Titulo 1</h1>

                                        <p>You can download and extend the built-in library of components with community stencils. Or create your own custom components for later reuse.</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 temMargem noPadingRight">
                                <article class="noticia">
                                    <div class="img-noticia">
                                        <img src="../../resources/images/imagens/mercados/thumb150.jpg" height="100px"/>
                                    </div>
                                    <div class="noticia-texto">
                                        <h1 class="titulo-noticia">Titulo 1</h1>

                                        <p>You can download and extend the built-in library of components with community stencils. Or create your own custom components for later reuse.</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-md-4" id="coluna2">
                    <div id="ferramentas" class="ferramentas">
                        <h4>Ferramentas</h4>

                        <div class="col-md-5 col-sm-3">
                            <div class="imagens-thumbnail ">
                                <img src="../../resources/images/imagens/mercados/thumb150.jpg" width="100"
                                     class="temMargem"/>
                            </div>
                        </div>
                        <div class="col-md-5  col-sm-3">
                            <div class="imagens-thumbnail">
                                <img src="../../resources/images/imagens/mercados/thumb150.jpg" width="100"
                                     class="temMargem"/>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-3">
                            <div class="imagens-thumbnail">
                                <img src="../../resources/images/imagens/mercados/thumb150.jpg" width="100"
                                     class="temMargem"/>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-3">
                            <div class="imagens-thumbnail">
                                <img src="../../resources/images/imagens/mercados/thumb150.jpg" width="100"
                                     class="temMargem"/>
                            </div>
                        </div>
                    </div>

                    <div id="sidebar" class="row col-md-4">
                        <h4>Mercados</h4>
                        <ul class="menu-sidebar">
                            <li><a href="#">PJ</a></li>
                            <li><a href="#">PF</a></li>
                            <li><a href="#">GOV</a></li>
                            <li><a href="#">AGRO</a></li>
                            <li><a href="#">DS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <link rel="stylesheet"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/mercados/mercados.css"/>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>
        <!--<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/owl-carousel/owl.theme.css" />
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/owl-carousel/owl.carousel.js"></script>-->


        <style>
            #footer {
                position: relative;
                bottom: 0;
            }
        </style>
    </ui:define>
</ui:composition>
