<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="conteudo">

        <h:form id="form">
            <div class="container" style="margin-top: 80px; min-height: 100%;">
                <div class="col-md-9">
                    <h2>Notícias</h2>
                    <div class="row rowMarginBottom">
                        <!-- inicio banner destaque -->
                        <div class="col-md-6 noPading">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/1.jpg" alt="" />
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/2.jpg" alt="" />
                                        <div class="carousel-caption">

                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>

                        <!-- inicio miniaturas noticias -->
                        <div class="col-md-3 noPadingRight">
                            <div class="holder">
                                <div class="capa">
                                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/5.jpg" alt="" height="100px" width="100%"/>
                                </div>
                                <div class="description">
                                    <div class="text">
                                        <div class="post-mercado">PF</div>
                                        <div class="post-titulo">
                                            <h3 class="pf">Lançamento - BB Giro Empresa - BB Giro Empresa</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 noPadingRight">
                            <div class="holder">
                                <div class="capa">
                                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/2.jpg" alt="" height="100px" width="100%"/>
                                </div>
                                <div class="description">
                                    <div class="text">
                                        <div class="post-mercado">PJ</div>
                                        <div class="post-titulo">
                                            <h3 class="pj">SOME SONGS HAVE SIMILAR TTRUE</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rowMarginBottom">
                        <!-- segunda linha de noticias -->
                        <div class="col-md-3 noPading">
                            <div class="holder">
                                <div class="capa">
                                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/3.jpg" alt="" height="100px" width="100%"/>
                                </div>
                                <div class="description">
                                    <div class="text">
                                        <div class="post-mercado">ADM</div>
                                        <div class="post-titulo">
                                            <h3 class="adm">Ferramenta Risco de Queda MC</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 noPadingRight">
                            <div class="holder">
                                <div class="capa">
                                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/1.jpg" alt="" height="100px" width="100%"/>
                                </div>
                                <div class="description">
                                    <div class="text">
                                        <div class="post-mercado">PF</div>
                                        <div class="post-titulo">
                                            <h3 class="pf">Regionalização de Taxas</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 noPadingRight">
                            <div class="holder">
                                <div class="capa">
                                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/5.jpg" alt="" height="100px" width="100%"/>
                                </div>
                                <div class="description">
                                    <div class="text">
                                        <div class="post-mercado">AGRO</div>
                                        <div class="post-titulo">
                                            <h3 class="agro">SOME SONGS HAVE SIMILAR TTRUE HAVE SIMILAR TTRUE</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 noPadingRight">
                            <div class="holder">
                                <div class="capa">
                                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/mercados/images/4.jpg" alt="" height="100px" width="100%"/>
                                </div>
                                <div class="description">
                                    <div class="text">
                                        <div class="post-mercado">PJ</div>
                                        <div class="post-titulo">
                                            <h3 class="pj">SOME SONGS HAVE SIMILAR TTRUE</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 noPading">
                            <div id="categorias" class="categorias">
                                <div id="sidebar">
                                    <h5 style="margin-bottom: 23px;">Notícias por Mercado</h5>
                                    <ul class="menu-sidebar">
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/superto/noticias-mercado">ADM</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/agro">AGRO</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/ds">DS</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/gov">GOV</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/pj">PF</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/pj">PJ</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"/>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#{facesContext.externalContext.requestContextPath}/superto/all-noticias-mercados" class="btn btn-success">Todas as Notícias</a>
                    </div>
                </div>
            </div>
        </h:form>
        <link href="#{facesContext.externalContext.requestContextPath}/resources/css/mercados/noticias-mercado/noticias-mercados.css" rel="stylesheet" type="text/css"/>
    </ui:define>
    <ui:define name="chamadaJquery" />

</ui:composition>