<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Intranet Administração - Gerenciar Documentos
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Documentos</h2></legend>
            <h:form id="form" prependId="false" style="font-size: 11px;">
                <p:contextMenu for="relatorios">
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"/>
                    <p:menuitem value="Editar" id="teste" icon="ui-icon-pencil" style="font-size: 11px;"
                                onclick="PF('dlgEdit').show();"/>
                </p:contextMenu>

                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation">
                            <p:commandLink onclick="PF('dlgAdd').show();">
                                <i class="icon-add"></i>
                                Adicionar
                            </p:commandLink>
                        </li>

                        <li role="presentation" class="#{reportController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":formScript:scriptAlert"
                                           onclick="#{reportController.selected != null ? 'PF(\'dlgEdit\').show();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou nenhum documento!\',2000)'}">
                                <i class="icon-trash"></i>
                                Editar
                            </p:commandLink>
                        </li>

                        <li role="presentation" class="#{reportController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":formScript:scriptAlert"
                                           onclick="#{reportController.selected != null ? 'deletar();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou nenhum documento!\',2000)'}">
                                <i class="icon-trash"></i>
                                Excluir
                            </p:commandLink>
                        </li>
                    </ul>
                </h:panelGroup>
                <br/>
                <p:dataTable id="relatorios" var="relatorio" value="#{reportController.relatorios}"
                             emptyMessage="Não foi encontrado nenhum resultado"
                             rowKey="#{relatorio.id}" paginator="true" rows="10"
                             selectionMode="single" selection="#{reportController.selected}"
                             filteredValue="#{reportController.relatoriosFiltrados}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             resizableColumns="true" style="font-size: 12px;">

                    <p:ajax event="rowSelect" update=":form:menus :formEdit :formAdd"/>
                    <p:ajax event="rowUnselect" update=":form:menus :formEdit :formAdd"/>

                    <p:column headerText="Titulo" filterBy="#{relatorio.title}" filterMatchMode="contains"
                              style="font-size: 12px;">
                        <h:outputText value="#{relatorio.title}"/>
                    </p:column>
                    <p:column headerText="Descrição" filterBy="#{relatorio.description}" filterMatchMode="contains"
                              style="font-size: 12px;">
                        <h:outputText value="#{relatorio.description}"/>
                    </p:column>
                    <p:column headerText="Autor Publicação" filterBy="#{relatorio.report.userUploaded.nomeGuerra}"
                              filterMatchMode="contains" style="font-size: 12px;">
                        <h:outputText value="#{relatorio.report.userUploaded.nomeGuerra}"/>
                    </p:column>
                    <p:column headerText="Visível" style="text-align: center; font-size: 12px;">
                        <h:outputText value="#{relatorio.visible ? 'Sim' : 'Não'}" />
                    </p:column>
                    <p:column headerText="Mercado" filterBy="#{relatorio.mercado}" filterMatchMode="contains" style="text-align: center; font-size: 12px;">
                        <h:outputText value="#{relatorio.mercado}" />
                    </p:column>
                    <p:column headerText="Data Publicação" filterBy="#{relatorio.report.uploadDate}"
                              filterMatchMode="contains" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{relatorio.report.uploadDate}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:form>

            <h:form id="formAdd" prependId="false">
                <p:dialog id="dlgAdd" widgetVar="dlgAdd"
                          header="Adcionar um novo Documento"
                          modal="true" draggable="false" resizable="false">
                    <h:panelGrid columns="1" style="font-size: 12px;" id="relatorioid">
                        <p:fileUpload fileUploadListener="#{reportController.fileUploadListener}" style="margin-bottom: 10px;"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      label="Selecionar"
                                      update="titleAdd"
                                      multiple="true"
                                      allowTypes="/(\.|\/)(rar|odt|odp|otp|zip|txt|pdf|xls|xlsx|doc|docx|ppt|pptx|potx|csv|odt|ods|odp)$/"/>
                        <h:outputLabel value="Título"/>
                        <p:inputText id="titleAdd" value="#{reportController.value.title}" size="50" style="margin-bottom: 10px;"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea rows="5" cols="50" value="#{reportController.value.description}" style="margin-bottom: 10px;"/>
                        <h:outputText value="Visível"/>
                        <p:selectBooleanCheckbox value="#{reportController.value.visible}" style="margin-bottom: 10px;"/>
                        <h:outputText value="Setor" />
                        <p:selectOneMenu value="#{reportController.value.mercado}" style="width: 100%; margin-bottom: 10px;">
                            <f:selectItems value="#{utilController.listCategorias}" var="g"
                                           itemValue="#{mercado}" itemLabel="#{mercado}"/>
                            <p:ajax listener="#{utilController.categorizar(reportController.value.mercado)}"
                                    update="selectSubAdd"/>
                        </p:selectOneMenu>
                        <h:outputText value="Categoria" />
                        <p:selectOneMenu id="selectSubAdd" value="#{reportController.value.subCategoria}" style="width: 100%; margin-bottom: 10px;">
                            <f:selectItems value="#{utilController.subCategorias}" var="sub"
                                           itemValue="#{sub}" itemLabel="#{sub.asString()}"/>

                        </p:selectOneMenu>
                    </h:panelGrid>
                    <p:commandButton value="Salvar" action="#{reportController.add}"
                                     update=":formScript:scriptAlert :form:relatorios"
                                     oncomplete="verificaOperacao('Arquivo Salvo com Sucesso!', 'Arquivo não foi Salvo com Sucesso!', 'dlgAdd')"/>
                </p:dialog>
            </h:form>

            <h:form id="formEdit" prependId="false">
                <p:dialog id="dlgEdit" widgetVar="dlgEdit" header="Editar Documento" width="550"
                          modal="true" resizable="false" showEffect="clip" hideEffect="clip" dynamic="true">
                    <h:panelGrid columns="1">
                        <h:outputLabel value="Titulo"/>
                        <p:inputText value="#{reportController.selected.title}" size="50" style="margin-bottom: 10px;"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea value="#{reportController.selected.description}" maxlength="30" rows="3"
                                         cols="20" style="width: 100%; margin-bottom: 10px;"/>

                        <h:outputText value="Setor"/>
                        <p:selectOneMenu value="#{reportController.selected.mercado}" style="width: 100%; margin-bottom: 10px;">
                            <f:selectItems value="#{utilController.listCategorias}" var="mercado" 
                                           itemValue="#{mercado}" itemLabel="#{mercado}"/>

                            <p:ajax listener="#{utilController.categorizar(reportController.selected.mercado)}"
                                    update="selectSubEdit"/>
                        </p:selectOneMenu>

                        <h:outputText value="Categoria"/>
                        <p:selectOneMenu id="selectSubEdit" value="#{reportController.selected.subCategoria}" style="width: 100%; margin-bottom: 10px;">
                            <f:selectItems value="#{utilController.subCategorias}" var="sub"
                                           itemValue="#{sub}" itemLabel="#{sub.asString()}"/>

                        </p:selectOneMenu>
                        <h:outputText value="Visível"/>
                        <p:selectBooleanCheckbox value="#{reportController.selected.visible}" style="margin-bottom: 10px;"/>

                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221);"/>
                        <p:commandButton value="Salvar" actionListener="#{reportController.edit()}"
                                         update=":formScript:scriptAlert :form:relatorios"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>

            <h:form id="formScript">
                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                                function verificaOperacao(msgSucess, msgFail, dialogName) {
                                    var ok = #{reportController.opSucess};
                                    if (ok) {
                                        mostraSucesso("Sucesso", msgSucess, 3000);
                                        PF(dialogName).hide();
                                    } else {
                                        mostraError("Ooops!", msgFail, 3000);
                                    }
                                }

                                function deletar() {
                                    swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarDocumento();
                                    });
                                }

                                function mostraAlerta() {
                                    var ok = #{reportController.opSucess};
                                    if (ok) {
                                        swal({
                                            title: "Bom Trabalho!",
                                            text: "O documento foi excluído com sucesso!",
                                            type: "success",
                                            timer: 2000
                                        });
                                    } else {
                                        swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                                    }
                                }
                    </script>
                    <p:remoteCommand name="deletarDocumento" action="#{reportController.delete()}"
                                     oncomplete="mostraAlerta();" update=":formScript:scriptAlert :form:relatorios"/>
                </h:panelGroup>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>

