<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        Intranet Administração - Acessos
    </ui:define>

    <ui:define name="header">
        <style>
            input, #dataInicio_input, #dataFim_input {
                width: 100% !important;
            }
            label {
                margin-right: 25px;
                margin-left: 7px;
            }
            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;
                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }
        </style>
    </ui:define>



    <ui:define name="content">
        <h:form id="form" >
            <p:growl id="growl" showDetail="true"/>
            <h2>Acessos</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p:selectOneRadio id="tipo" value="#{userhistory.tipoPesquisa}" >
                                    <f:selectItem itemLabel="Funcionário" itemValue="0"/>
                                    <f:selectItem itemLabel="Prefixo" itemValue="1" />
                                    <p:ajax event="change" update=":form:filtro :form:input" listener="#{userhistory.mudarFiltro(event)}"/>
                                </p:selectOneRadio>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p:outputLabel value="#{userhistory.filtro}" id="filtro" style="margin-left: 0;"/>
                        <p:inputText value="#{userhistory.pesquisa}" id="input" style="width: 100%; margin-bottom: 15px;"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p:outputLabel value="Data Início" for="dataInicio" style="margin-left: 0;"/>
                        <p:calendar id="dataInicio" value="#{userhistory.dataInicio}" pattern="dd/MM/yyyy HH:mm" placeholder="dd/mm/yyyy HH:mm" mask="true" maxlength="10" />
                    </div>

                    <div class="col-md-3">
                        <p:outputLabel value="Data Fim" for="dataFim" style="margin-left: 0;"/>
                        <p:calendar id="dataFim" value="#{userhistory.dataFim}" pattern="dd/MM/yyyy HH:mm" mask="true" placeholder="dd/mm/yyyy HH:mm" maxlength="10"/>
                    </div>
                </div>

                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-6">
                        <p:commandButton id="botao" value="Efetuar Pesquisa" styleClass="btn btn-info" style="margin-right: 20px;" update=":form:dataTable :form:h2 :form:growl" actionListener="#{userhistory.pesquisarAcessos}" onsuccess="PF('dlg').show()"/>
                        <p:commandButton value="Acessos do Dia" styleClass="btn btn-success" update=":form:dlg :form:dataTable" actionListener="#{userhistory.dia}" oncomplete="PF('dlg').show()"/>   
                        <p:button id="AcessarCharts" value="Gráficos de Acessos" styleClass="btn btn-success" style="margin-left: 20px;" href="/admin/acessos/ChartsAcessos.jsf"/>
                    </div>
                </div>
            </div>

            <p:dialog modal="true" position="top"
                      widgetVar="dlg" id="dlg" closeOnEscape="true" draggable="true" >
                <f:facet name="header">
                    <p:outputLabel id="h2">Lista de Acessos - Quantidade de Acessos: #{userhistory.lista.size()}</p:outputLabel>
                </f:facet>
                <p:ajax event="close" listener="#{userhistory.limpar}" update=":form" />
                <div class="container">
                    <p:dataTable var="acesso" id="dataTable" paginatorPosition="bottom" value="#{userhistory.lista}"
                                 paginator="true" rows="15" emptyMessage="Nenhum acesso encontrado!">

                        <f:facet name="header">
                            <p:outputLabel value="#{userhistory.filtro} - #{userhistory.pesquisa}" rendered="#{userhistory.tipoPesquisa == 0 || userhistory.tipoPesquisa == 1}" />
                        </f:facet>

                        <p:column headerText="Prefixo" style="text-align: center;" sortBy="#{acesso.user.prefixo}">
                            <h:outputText value="#{acesso.user.prefixo}" />
                        </p:column>

                        <p:column headerText="Matrícula" style="text-align: center;">
                            <h:outputText value="#{acesso.user.fmatricula}" />
                        </p:column>

                        <p:column headerText="Nome" sortBy="#{acesso.user.nome}">
                            <h:outputText value="#{acesso.user.nome}"/>
                        </p:column>

                        <p:column headerText="Data Acesso" style="text-align: center;" sortBy="#{acesso.loginDate}">
                            <h:outputText value="#{acesso.loginDate}">
                                <f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </div>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>