<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        Intranet Administração - Gráficos de Acessos
    </ui:define>

    <ui:define name="header">
        <style>
            input, #dataInicio_input, #dataFim_input {
                width: 100% !important;
            }
            label {
                margin-right: 25px;
                margin-left: 7px;
            }
            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;
                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }
        </style>
    </ui:define>



    <ui:define name="content">
        <h:form id="form" >
            <p:growl id="growl" showDetail="true"/>
            <h2>Gráficos de Acessos</h2>
           
            
            <div class="row">
                <div class="col-md-6">
                     <h:selectOneMenu value="#{userhistory.chartYear}" styleClass="form-control">
                        <f:selectItem itemLabel="Escolha o Ano..." itemValue="" noSelectionOption="true"/> 
                        <f:selectItems value="#{userhistory.listaAnos}" var="anos" itemValue="#{anos}" itemLabel="#{anos}"/>
                        <p:ajax update=":form:bar" event="change" />
                        <p:ajax update=":form:barFuncs" event="change" />
                    </h:selectOneMenu>
                </div>
                 <div class="col-md-6">
                    <h:selectOneMenu value="#{userhistory.chartMonth}" styleClass="form-control">
                        <f:selectItem itemLabel="Escolha o Mês..." itemValue="" /> 
                        <f:selectItems value="#{utilController.listaMeses}" var="meses" itemValue="#{meses}" itemLabel="#{meses}"/>
                        <p:ajax update=":form:bar" event="change" />
                        <p:ajax update=":form:barFuncs" event="change" />
                    </h:selectOneMenu>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"> 
                    <p:chart type="bar" id="bar" model="#{userhistory.barModel}" style="height:300px"/>
                </div>
            </div>  
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <p:chart type="bar" id="barFuncs" model="#{userhistory.barModelByFuncionarios}" style="height:300px"/>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class ="col-md-12">
                    <h:selectOneMenu value="#{userhistory.chartYear}" styleClass="form-control">
                        <f:selectItem itemLabel="Escolha o Ano..." itemValue="" noSelectionOption="true"/> 
                        <f:selectItems value="#{userhistory.listaAnos}" var="anos" itemValue="#{anos}" itemLabel="#{anos}"/>
                        <p:ajax update=":form:barDouble" event="change" />
                    </h:selectOneMenu>
                    <p:chart type="bar" id="barDouble" model="#{userhistory.barModelByAcessoAcessoVSFuncionarioAno}" style="height:300px"/>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                     <h:selectOneMenu value="#{userhistory.chartYear}" styleClass="form-control">
                        <f:selectItem itemLabel="Escolha o Ano..." itemValue="" noSelectionOption="true"/> 
                        <f:selectItems value="#{userhistory.listaAnos}" var="anos" itemValue="#{anos}" itemLabel="#{anos}"/>
                        <p:ajax update=":form:barAcessoAno" event="change" />
                    </h:selectOneMenu>
                    <p:chart type="bar" id="barAcessoAno" model="#{userhistory.barModelByAcessoAno}" style="height:300px"/>
                </div>      
                <div class="col-md-6">
                    <h:selectOneMenu value="#{userhistory.chartYear}" styleClass="form-control">
                        <f:selectItem itemLabel="Escolha o Ano..." itemValue="" noSelectionOption="true"/> 
                        <f:selectItems value="#{userhistory.listaAnos}" var="anos" itemValue="#{anos}" itemLabel="#{anos}"/>
                        <p:ajax update=":form:barFuncsAno" event="change" />
                    </h:selectOneMenu>
                    <p:chart type="bar" id="barFuncsAno" model="#{userhistory.barModelByFuncionariosAno}" style="height:300px"/>
            </div>          
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                     <h:selectOneMenu value="#{userhistory.chartYear}" styleClass="form-control">
                        <f:selectItem itemLabel="Escolha o Ano..." itemValue="" noSelectionOption="true"/> 
                        <f:selectItems value="#{userhistory.listaAnos}" var="anos" itemValue="#{anos}" itemLabel="#{anos}"/>
                        <p:ajax update=":form:barpref" event="change" />
                    </h:selectOneMenu>
                    <p:chart type="bar" id="barpref" model="#{userhistory.modelByPrefixo}" style="height:300px"/>
                </div>
            </div>  
        </h:form>
    </ui:define>
</ui:composition>