<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $("#side-menu a").removeClass("active");
                $("#side-menu li").removeClass("active");
                $("#li_menu_comunicacao").addClass("active");
                $("#a_menu_comunicacao").addClass("active");
                $("#a_menu_comunicacao span").removeClass("icon-dot");
                $("#a_menu_comunicacao span").addClass("icon-arrow-down7");
                $("#menu_destaquesbb").addClass("active");

                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $('.nav-pills li').removeClass("menu_btn_active");
                    $(this).addClass("active");
                    $(this).addClass("menu_btn_active");
                });
            });
        </script>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - BroadCast
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Destaque BB</h2></legend>
            <h:form id="formDados" prependId="false">
                <p:growl id="growl" showDetail="true"/>
                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation" class="active">
                            <a href="#" onclick="PF('addDestaqueBB').show()">
                                <i class="icon-plus"></i>
                                Adicionar
                            </a>
                        </li>

                        <li role="presentation" class="#{destaqueBBController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":formEditar:editarDialog"
                                           oncomplete="#{destaqueBBController.selected != null ? 'PF(\'editDialog\').show();': 'mostraAtencao(\'Oops!\',\'Você não selecionou um destaque!\',2000)'}">
                                <i class="icon-edit2"></i>
                                Editar
                            </p:commandLink>
                        </li>

                        <li role="presentation" class="#{destaqueBBController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":formDados:scriptAlert"
                                           onclick="#{destaqueBBController.selected != null ? 'deletar()':'mostraAtencao(\'Oops!\',\'Você não selecionou um destaque!\',2000)'}">
                                <i class="icon-trash"></i>
                                Excluir
                            </p:commandLink>
                        </li>
                    </ul>
                </h:panelGroup>

                <div id="div-tables" style="margin-top: 10px;">
                    <p:dataTable id="destaquesTable" var="destaqueBB" value="#{destaqueBBController.lazyData}"
                                 emptyMessage="Não foi encontrado nenhum resultado"
                                 selectionMode="single" selection="#{destaqueBBController.selected}"
                                 rowKey="#{destaqueBB.id}" paginator="true" rows="15"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 lazy="true" resizableColumns="true" paginatorPosition="bottom">

                        <f:facet name="header">
                            <h:outputText value="Destaques BB"/>
                        </f:facet>

                        <p:ajax event="rowSelect" update=":formDados:menus" immediate="true"/>
                        <p:ajax event="rowUnselect" update=":formDados:menus :formEditar:editarDialog"
                                immediate="true"/>

                        <p:column headerText="Id" filterBy="#{destaqueBB.id}" width="130" filterMatchMode="contains"
                                  filterMaxLength="4" style="font-size: 12px;text-align: center;">
                            <h:outputText value="#{destaqueBB.id}"/>
                        </p:column>

                        <p:column headerText="Texto" filterBy="#{destaqueBB.titulo}" filterMatchMode="contains"
                                  style="font-size: 12px;text-align: center;">
                            <h:outputText value="#{destaqueBB.titulo}"/>
                        </p:column>

                        <p:column headerText="Texto" filterBy="#{destaqueBB.texto}" filterMatchMode="contains"
                                  style="font-size: 12px;text-align: center;">
                            <h:outputText value="#{destaqueBB.texto}"/>
                        </p:column>

                        <p:column headerText="Imagem" style="text-align: center;">
                            <img style="width: 60%;height: 50px;"
                                 src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(destaqueBB.fotoDestaque.url)}"/>
                        </p:column>

                        <p:column headerText="Vísivel" width="130" style="font-size: 1em;text-align: center;">
                            <h:outputText value="" styleClass="icon-check-alt" style="color: green;"
                                          rendered="#{destaqueBB.visivel}"/>
                            <h:outputText value="" styleClass="icon-x-altx-alt" style="color: red;"
                                          rendered="#{!destaqueBB.visivel}"/>
                        </p:column>
                    </p:dataTable>
                </div>

                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaAdd() {
                            var ok = #{destaqueBBController.formSucess};
                            if (ok) {
                                mostraSucesso("Bom Trabalho!", "Formulário salvo com sucesso!", 2000);
                                PF('addDestaqueBB').hide();
                            } else {
                                mostraError("Ooops!", "Erro ao incluir o destaque\nFavor refazer a operação!");
                            }
                        }

                        function verificaEdit() {
                            var ok = #{destaqueBBController.formSucess};
                            if (ok) {
                                mostraSucesso("Sucesso!", "Painel editado com sucesso!", 2000);
                                PF('editDialog').hide();
                            } else {
                                mostraError("Oops!", "Erro ao editar o painel\nVerique os dados informados!");
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarNews();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{destaqueBBController.formSucess};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O destaque foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                            }
                        }

                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarNews" action="#{destaqueBBController.delete()}"
                                 oncomplete="mostraAlerta()" update=":formDados:scriptAlert"/>
            </h:form>

            <h:form id="formAdd" prependId="false">
                <p:dialog id="addDestaqueBB" header="Adicionar Destaque BB" widgetVar="addDestaqueBB" modal="true"
                          draggable="false" resizable="false" showEffect="clip" hideEffect="clip" width="70%">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h:outputLabel value="Título"></h:outputLabel>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p:inputText value="#{destaqueBBController.value.titulo}" style="width: 100%"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" style="margin-top: 10px;">
                                        <h:outputLabel value="Texto"></h:outputLabel>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p:inputText value="#{destaqueBBController.value.texto}" style="width: 100%"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h:outputLabel value="Visível" style="margin-top: 10px;"></h:outputLabel>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p:selectBooleanCheckbox value="#{destaqueBBController.value.visivel}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" style="margin-top: 10px;">
                                        <h:outputLabel value="Upload Imagem"></h:outputLabel>
                                        <p:fileUpload style="width: 100%;"
                                                      fileUploadListener="#{destaqueBBController.fileUploadListener}"
                                                      oncomplete="mudaCapaValue();"/>
                                        <p:remoteCommand name="mudaCapaValue"
                                                         action="#{destaqueBBController.mudaCapaValue()}"
                                                         update="groupImagens"/>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-4" style="height: 100%;">
                                <h:panelGroup id="groupImagens">
                                    <h:panelGroup rendered="#{destaqueBBController.value.fotoDestaque != null}">
                                        <img style="width: 300px;height: 300px;border: 1px dashed blue;"
                                             src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(destaqueBBController.value.fotoDestaque.url)}"/>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{destaqueBBController.value.fotoDestaque == null}">
                                        <img style="width: 300px;height: 300px;border: 1px dashed blue;"
                                             src="#{resource['/images/imagens/backgrounds/blank-image.png']}"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </div>
                        </div>
                        <p:messages autoUpdate="true"/>
                        <p:separator/>

                        <div class="row">
                            <div class="col-xs-7">
                                <div class="col-xs-6 text-center">
                                    <p:commandLink value="Salvar" action="#{destaqueBBController.add}"
                                                   update=":formDados:scriptAlert" class="btn btn-info"/>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <p:commandLink value="Cancelar" action="#{destaqueBBController.clearValue()}"
                                                   update="addDestaqueBB" oncomplete="PF('addDestaqueBB').hide();"
                                                   class="btn btn-warning"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </p:dialog>
            </h:form>

            <h:form id="formEditar" prependId="false">
                <p:dialog id="editarDialog" widgetVar="editDialog"
                          header="Editar Destaque - #{destaqueBBController.selected.titulo}"
                          draggable="false" resizable="true" modal="true" width="60%">
                    <h:panelGroup id="painelEditar" rendered="#{destaqueBBController.selected != null}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h:outputLabel value="Título"></h:outputLabel>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p:inputText value="#{destaqueBBController.selected.titulo}"
                                                         style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-top: 10px;">
                                            <h:outputLabel value="Texto"></h:outputLabel>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p:inputText value="#{destaqueBBController.selected.texto}"
                                                         style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h:outputLabel value="Visível" style="margin-top: 10px;"></h:outputLabel>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p:selectBooleanCheckbox value="#{destaqueBBController.selected.visivel}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-top: 10px;">
                                            <h:outputLabel value="Upload Imagem"></h:outputLabel>
                                            <p:fileUpload style="width: 100%;"
                                                          fileUploadListener="#{destaqueBBController.fileUploadListener}"
                                                          oncomplete="mudaCapaSelected()"/>
                                            <p:remoteCommand name="mudaCapaSelected"
                                                             action="#{destaqueBBController.mudaCapaSelected}"
                                                             update="imagens"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-md-4" style="height: 100%;">
                                    <h:panelGroup id="imagens">
                                        <h:panelGroup id="imagemEdit"
                                                      rendered="#{destaqueBBController.selected.fotoDestaque != null}">
                                            <img style="width: 300px;height: 300px;border: 1px dashed blue;"
                                                 src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(destaqueBBController.selected.fotoDestaque.url)}"/>
                                        </h:panelGroup>
                                        <h:panelGroup rendered="#{destaqueBBController.selected.fotoDestaque == null}">
                                            <img style="width: 300px;height: 300px;border: 1px dashed blue;"
                                                 src="#{resource['/images/imagens/backgrounds/blank-image.png']}"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </div>
                            </div>
                            <p:messages autoUpdate="true"/>
                            <p:separator/>

                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="col-xs-6 text-center">
                                        <p:commandLink value="Salvar" action="#{destaqueBBController.edit}"
                                                       update=":formDados:scriptAlert" class="btn btn-info"/>
                                    </div>
                                    <div class="col-xs-6 text-center">
                                        <p:commandLink value="Cancelar" onclick="PF('editDialog').hide();"
                                                       class="btn btn-warning"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>

