<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração - Segurança
    </ui:define>
    <ui:define name="header">
        <style>
            .ui-picklist .ui-picklist-list {
                width: 400px;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Adicionar Grupo</h2></legend>
            <h:form id="form">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h4>Nome do Grupo</h4>
                                <h:inputText id="tit" value="#{groupsController.value.groupName}" size="20"
                                             styleClass="form-control"
                                             required="true"
                                             requiredMessage="Campo nome do Grupo não pode estar vazio!"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h4>Regras do Grupo</h4>
                                <p:selectCheckboxMenu value="#{groupsController.rolesSelecionados}" label="Regras"
                                                      style="width: 100%;"
                                                      converter="baseEntityConverter" id="rplored">
                                    <f:selectItems var="role" value="#{groupsController.roles}"
                                                   itemLabel="#{role.roleName}"
                                                   itemValue="#{role}"/>
                                </p:selectCheckboxMenu>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="form-group">
                                <h4>Permissões</h4>
                                <p:commandButton value="Adcionar Regra"
                                                 onclick="PF('addGroupDlg').show();"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <p:pickList value="#{groupsController.listaDeFuncionario}" var="player"
                                            style="width: 100%;"
                                            itemValue="#{player}" itemLabel="#{player.nome}"
                                            converter="baseEntityConverter"
                                            showSourceControls="true" showTargetControls="true" showSourceFilter="true"
                                            showTargetFilter="true">

                                    <f:facet name="sourceCaption">Funcionário</f:facet>
                                    <f:facet name="targetCaption">Selecionados</f:facet>

                                    <p:column style="width:20%; font-size: 10px;">
                                        <h:outputText value="#{player.fmatricula}"/>
                                    </p:column>

                                    <p:column style="width:5%; font-size: 10px;">
                                        <h:outputText value=" - "/>
                                    </p:column>

                                    <p:column style="width:75%; font-size: 10px;">
                                        <h:outputText value="#{player.nome}"/>
                                    </p:column>
                                </p:pickList>
                            </div>
                        </div>
                    </div>
                    <p:commandButton value="Salvar" action="#{groupsController.add}"
                                     update=":form:scriptAlert"
                                     oncomplete="verificaOperacao('Operacao feita com Sucesso!','Operacao não foi feita com Sucesso!');"/>
                </div>

                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msgSucess, msgFail) {
                            var ok = #{groupsController.opSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso", msgSucess, 3000);
                            } else {
                                mostraError("Ooops!", msgFail, 3000);
                            }
                        }
                    </script>
                </h:panelGroup>
            </h:form>

            <h:form id="formAddGroup" prependId="false">
                <p:dialog id="addGroupDlg" widgetVar="addGroupDlg"
                          header="Adcionar Regras" width="700" modal="true" draggable="false"
                          resizable="false" showEffect="clip" hideEffect="clip">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <h4>Nome da regra</h4>
                                    <h:inputText value="#{rolesController.value.roleName}" styleClass="form-control"/>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <h4>Descrição</h4>
                                    <h:inputText value="#{rolesController.value.description}"
                                                 styleClass="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Permissões</h4>
                            <ui:repeat var="modulo" value="#{rolesController.modulos}" varStatus="cont">
                                <div class="row">
                                    <p:selectCheckboxMenu value="#{modulo.permissoes}" label="#{modulo.modulo}"
                                                          style="width: 100%;margin-top: 10px;">
                                        <f:selectItems var="action" value="#{utilController.actionsValues}"
                                                       itemLabel="#{action.label}"
                                                       itemValue="#{modulo.modulo}:#{action.action}"/>
                                    </p:selectCheckboxMenu>
                                </div>
                            </ui:repeat>
                        </div>
                    </div>
                    <p:commandButton value="Adicionar" update=":form:rplored :form:scriptAlert"
                                     actionListener="#{rolesController.add()}"
                                     oncomplete="verificaOperacao('Regras Adcionadas com Sucesso!','Regras não foram Adcionadas com Sucesso!');PF('addGroupDlg').hide();"/>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
