<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
        >
    <ui:define name="title">
        Intranet Administração - Agências
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Agências</h2></legend>

            <p:growl autoUpdate="true"/>

            <h:form id="update">
                <p:dialog id="updialog" widgetVar="upDlg" header="Atualizar Agências" width="400" showEffect="clip"
                          hideEffect="clip"
                          resizable="false" modal="true">
                    <h:panelGrid columns="1">
                        <p:fileUpload fileUploadListener="#{agenciasController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="tit"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(txt|pdf|xls|doc|docx|ppt|pptx|csv)$/"/>

                        <h:outputText value="Nome do arquivo selecionado : #{agenciasController.fileName}" id="tit"/>
                        <p:commandButton value="add" actionListener="#{agenciasController.atualizar()}"
                                         oncomplete="PF('upDlg').hide()"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>


            <h:form id="add">
                <p:dialog id="adicionar" widgetVar="adicionarDlg" header="Adicionar Agência" width="250"
                          showEffect="clip" hideEffect="clip"
                          resizable="false" modal="true">
                    <h:panelGrid columns="1">
                        <h:outputText value="Prefixo"/>
                        <p:inputText value="#{agenciasController.value.prefixo}"/>
                        <h:outputText value="Nome Agência"/>
                        <p:inputText value="#{agenciasController.value.nomeAgencia}"/>
                        <h:outputText value="Rede Agência"/>
                        <p:inputText value="#{agenciasController.value.rede}"/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                        <p:commandButton value="Adicionar" update=":form:roles adicionar"
                                         actionListener="#{agenciasController.add()}"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>
            <h:form id="editar">
                <p:dialog id="dlgEditar" widgetVar="editarDlg" header="Editar Agência" width="250" showEffect="clip"
                          hideEffect="clip"
                          resizable="false" modal="true">
                    <h:panelGrid columns="1">
                        <h:outputText value="Nome Agência"/>
                        <p:inputText value="#{agenciasController.selected.nomeAgencia}"/>
                        <h:outputText value="Rede Agência"/>
                        <p:inputText value="#{agenciasController.selected.rede}"/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                        <p:commandButton value="Editar" update=":form:roles dlgEditar"
                                         actionListener="#{agenciasController.edit()}"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>

            <h:form id="form">
                <p:contextMenu for="roles" id="menuContext">
                    <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                onclick="PF('editarDlg').show();"/>

                </p:contextMenu>

                <p:menubar id="menus" style="height: 30px; width: 293px; border-radius: 0px;box-sizing: content-box;">
                    <p:menuitem value="Adicionar" icon="ui-icon-disk" style="font-size: 11px;"
                                onclick="PF('adicionarDlg').show();"/>
                    <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                onclick="PF('editarDlg').show();" rendered="#{agenciasController.selected != null}"/>
                    <p:menuitem value="Atualizar" style="font-size: 11px;" onclick="PF('upDlg').show();"/>
                </p:menubar>

                <br/>

                <p:dataTable id="roles" var="agencia" value="#{agenciasController.agencias}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 700px; "
                             selection="#{agenciasController.selected}" selectionMode="single"
                             rowKey="#{agencia.id}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5, 10, 30" resizableColumns="true">

                    <p:ajax event="rowSelect" update=":form:roles :form:menus :editar:dlgEditar"/>
                    <p:column headerText="Prefixo" style="width: 10%">
                        #{agencia.prefixo}
                    </p:column>

                    <p:column headerText="Rede" style="width: 20%">
                        #{agencia.rede}
                    </p:column>

                    <p:column headerText="Nome da agência" style="width: 20%">
                        #{agencia.nomeAgencia}
                    </p:column>
                </p:dataTable>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
