<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:shiro="http://shiro.apache.org/tags">
    <ui:define name="title">
        Intranet Administração - Segurança
    </ui:define>
    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Gerenciar Modulos</h2></legend>

            <h:form id="add">
                <p:dialog id="adicionar" widgetVar="adicionarDlg" header="Adicionar Modulo" width="250"
                          showEffect="clip" hideEffect="clip"
                          resizable="false" modal="true">
                    <h:panelGrid columns="1">
                        <h:outputText value="Nome do Modulo"/>
                        <p:inputText value="#{appModulesController.value.name}"/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                        <p:commandButton value="Adicionar" update=":moduloForm:modulos :moduloForm:msg adicionar"
                                         actionListener="#{appModulesController.add()}"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>
            <h:form id="editar">
                <p:dialog id="dlgEditar" widgetVar="editarDlg" header="Editar Modulo" width="250" showEffect="clip"
                          hideEffect="clip"
                          resizable="false" modal="true" dynamic="true">
                    <h:panelGrid columns="1">
                        <h:outputText value="Nome do Modulo"/>
                        <p:inputText value="#{appModulesController.selected.name}"/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                        <p:commandButton value="Editar" update=":moduloForm:modulos :moduloForm:msg dlgEditar"
                                         actionListener="#{appModulesController.edit()}"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>

            <h:form id="moduloForm">
                <p:messages id="msg"/>
                <p:contextMenu for="modulos" id="menuContext">
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                    onclick="PF('confirmation').show();"/>
                    </shiro:hasPermission>

                    <shiro:hasPermission name="security">
                        <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                    onclick="PF('editarDlg').show();"/>
                    </shiro:hasPermission>

                </p:contextMenu>

                <p:menubar id="menus" style="height: 30px; width: 293px; border-radius: 0px;box-sizing: content-box;">
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Adicionar" icon="ui-icon-disk" style="font-size: 11px;"
                                    onclick="PF('adicionarDlg').show();"/>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                    rendered="#{appModulesController.selected != null}"
                                    onclick="PF('confirmation').show();"/>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                    onclick="PF('editarDlg').show();"
                                    rendered="#{appModulesController.selected != null}"/>
                    </shiro:hasPermission>

                </p:menubar>

                <br/>

                <p:dataTable id="modulos" var="modulo" value="#{appModulesController.listaDeModulos}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 300px;"
                             selection="#{appModulesController.selected}" selectionMode="single"
                             rowKey="#{modulo.id}" rows="50">
                    <p:ajax event="rowSelect"
                            update=":moduloForm:modulos :moduloForm:msg :moduloForm:menus :moduloForm:confirmDialog"/>
                    <p:column headerText="id" style="width: 10%">
                        #{modulo.id}
                    </p:column>

                    <p:column headerText="Nome da aplicação" style="width: 20%">
                        #{modulo.name}
                    </p:column>
                </p:dataTable>

                <!-- Deletar noticia -->
                <p:confirmDialog id="confirmDialog"
                                 message="Deseja realmente apagar este modulo: #{appModulesController.selected.name} ?"
                                 header="Comfirmar exclusão" severity="alert" widgetVar="confirmation">

                    <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                     actionListener="#{appModulesController.delete()}"
                                     update=":moduloForm:modulos :moduloForm:msg"/>
                    <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                </p:confirmDialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
