<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:shiro="http://shiro.apache.org/tags">
    <ui:define name="title">
        Intranet Administração - Segurança
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Grupos</h2></legend>

            <h:form id="form">

                <p:contextMenu for="tableGrupo" id="menuContext">
                    <shiro:hasPermission name="security:groups:delete">
                        <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                    onclick="PF('confirmation').show();"/>
                    </shiro:hasPermission>

                    <shiro:hasPermission name="security:groups:editar">
                        <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                    onclick="PF('edit').show();">
                        </p:menuitem>
                    </shiro:hasPermission>
                </p:contextMenu>


                <h:panelGroup id="menus">
                    <div id="menuGroups">
                        <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                            <shiro:hasPermission name="security:groups:adicionar">
                                <li role="presentation">
                                    <a href="/admin/prermissoes/addgroups">
                                        <i class="icon-plus"></i>
                                        Adicionar
                                    </a>
                                </li>
                            </shiro:hasPermission>

                            <shiro:hasPermission name="security:groups:editar">
                                <li role="presentation" class="#{groupsController.selected != null ? '':'disabled'}">
                                    <p:commandLink update=":form:scriptAlert" onclick="PF('edit').show();">
                                        <i class="icon-trash"></i>
                                        Editar
                                    </p:commandLink>
                                </li>
                            </shiro:hasPermission>

                            <shiro:hasPermission name="security:groups:delete">
                                <li role="presentation" class="#{groupsController.selected != null ? '':'disabled'}">
                                    <p:commandLink update=":form:scriptAlert"
                                                   onclick="#{groupsController.selected != null ? 'deletar();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou uma notícia!\',2000)'}">
                                        <i class="icon-trash"></i>
                                        Excluir
                                    </p:commandLink>
                                </li>
                            </shiro:hasPermission>
                        </ul>
                    </div>
                </h:panelGroup>

                <div id="table" style="margin-top: 10px;">
                    <p:dataTable id="tableGrupo" var="grupo" value="#{groupsController.lazyData}"
                                 emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%;"
                                 selectionMode="single" selection="#{groupsController.selected}"
                                 rowKey="#{grupo.id}" paginator="true" rows="10" lazy="true">

                        <p:ajax event="rowSelect" update=":form:menus :formEditar:editGroup"/>
                        <p:column headerText="Id" style="width: 10%">
                            #{grupo.id}
                        </p:column>
                        <p:column headerText="Nome" style="width: 20%">
                            #{grupo.groupName}
                        </p:column>
                        <p:column headerText="Roles" style="width: 20%">
                            <ui:repeat var="roles" value="#{grupo.groupRoles}" varStatus="status">
                                #{roles.role.roleName}
                                <h:outputText value="," rendered="#{!status.last}"/>
                            </ui:repeat>
                        </p:column>
                    </p:dataTable>
                </div>


                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msg) {
                            var ok = #{groupsController.opSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso", msg, 3000);
                                PF('edit').hide();
                            } else {
                                mostraError("Ooops!", msg, 3000);
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarGrupo();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{groupsController.opSucesso};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O destaque foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarGrupo" action="#{groupsController.delete()}"
                                 oncomplete="verificaOperacao('Grupo excluido com Sucesso!');"
                                 update=":form:scriptAlert :form:tableGrupo"/>
            </h:form>

            <h:form id="formEditar" prependId="false">
                <p:dialog id="editGroup" widgetVar="edit"
                          header="Editar Grupo Selecionado"
                          modal="true" resizable="false" draggable="false">

                    <h:panelGrid columns="1" style="font-size: 12px; padding-left: 28px;">
                        <h:outputLabel value="Nome do Grupo"/>
                        <p:inputText id="tit" value="#{groupsController.selected.groupName}" size="20"/>
                        <br/>
                        <h:outputLabel value="Roles"/>
                        <p:selectCheckboxMenu value="#{groupsController.rolesSelecionados}" label="Roles"
                                              converter="baseEntityConverter">
                            <f:selectItems var="role" value="#{groupsController.listDeRoles}"
                                           itemLabel="#{role.roleName}"
                                           itemValue="#{role}"/>
                        </p:selectCheckboxMenu>
                        <br/>
                    </h:panelGrid>
                    <p:pickList value="#{groupsController.listaDeFuncionario}" var="player"
                                itemValue="#{player}" itemLabel="#{player.nome}" converter="baseEntityConverter"
                                showSourceControls="true" showTargetControls="true" showSourceFilter="true"
                                showTargetFilter="true">

                        <f:facet name="sourceCaption">Funcionário</f:facet>
                        <f:facet name="targetCaption">Selecionados</f:facet>

                        <p:column style="width:20%; font-size: 10px;">
                            #{player.fmatricula}
                        </p:column>

                        <p:column style="width:5%; font-size: 10px;">
                            <h:outputText value=" - "/>
                        </p:column>

                        <p:column style="width:75%; font-size: 10px;">
                            #{player.nome}
                        </p:column>
                    </p:pickList>
                    <br/>
                    <p:commandButton value="add" actionListener="#{groupsController.edit}" update=":form"/>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
