<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:shiro="http://shiro.apache.org/tags">
    <ui:define name="title">
        Intranet Administração - Segurança
    </ui:define>

    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Gerenciar Permissões</h2></legend>
            <h:form id="add">
                <p:dialog id="adicionar" widgetVar="adicionarDlg" header="Adicionar Role" width="250" showEffect="clip"
                          hideEffect="clip"
                          resizable="false" modal="true">
                    <h:panelGrid columns="1">
                        <h:outputText value="Role"/>
                        <p:inputText value="#{rolesController.value.roleName}"/>
                        <h:outputText value="Descrição"/>
                        <p:inputText value="#{rolesController.value.description}"/>
                        <h:outputText value="Permissões"/>
                        <ui:repeat var="modulo" value="#{rolesController.modulos}">
                            <p:selectCheckboxMenu value="#{modulo.permissoes}" label="#{modulo.modulo}"
                                                  style="width: 150px;">
                                <f:selectItems var="action" value="#{utilController.actionsValues}"
                                               itemLabel="#{action.label}"
                                               itemValue="#{modulo.modulo}:#{action.action}"/>
                            </p:selectCheckboxMenu>
                            <br/>
                        </ui:repeat>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                        <p:commandButton value="Adicionar" update=":form:roles :form:msg adicionar"
                                         actionListener="#{rolesController.add()}"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>
            <h:form id="editar">
                <p:dialog id="dlgEditar" widgetVar="editarDlg" header="Editar Modulo" width="750" showEffect="clip"
                          hideEffect="clip" modal="true" draggable="false" resizable="false">
                    <h:panelGrid columns="2">
                        <h:panelGroup>
                            <h:outputText value="Role"/>
                            <p:inputText value="#{rolesController.selected.roleName}" style="margin-left: 10px;"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <h:outputText value="Descrição" style="margin-left: 10px;"/>
                            <p:inputText value="#{rolesController.selected.description}" style="margin-left: 10px;"/>
                        </h:panelGroup>
                    </h:panelGrid>
                    <h:outputText value="Permissões"/>
                    <h:panelGrid columns="4">
                        <ui:repeat var="modulo" value="#{rolesController.modulosSelect}">
                            <p:selectCheckboxMenu value="#{modulo.permissoes}" label="#{modulo.modulo}"
                                                  style="width: 150px;">
                                <f:selectItems var="action" value="#{utilController.actionsValues}"
                                               itemLabel="#{action.label}"
                                               itemValue="#{modulo.modulo}:#{action.action}"/>
                            </p:selectCheckboxMenu>
                            <p:spacer style="margin-left: 10px;"/>
                        </ui:repeat>
                    </h:panelGrid>
                    <p:commandButton value="Adicionar" update=":form:roles :form:msg dlgEditar"
                                     actionListener="#{rolesController.edit()}" style="margin-top: 10px;"/>
                </p:dialog>
            </h:form>

            <h:form id="form">
                <div style="width: 300px;">
                    <p:messages id="msg"/>
                </div>
                <p:contextMenu for="roles" id="menuContext">
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                    onclick="PF('confirmation').show();"/>
                    </shiro:hasPermission>

                    <shiro:hasPermission name="security">
                        <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                    onclick="PF('editarDlg').show();"/>
                    </shiro:hasPermission>

                </p:contextMenu>

                <p:menubar id="menus" style="height: 30px; width: 293px; border-radius: 0px;box-sizing: content-box;">
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Adicionar" icon="ui-icon-disk" style="font-size: 11px;"
                                    onclick="PF('adicionarDlg').show();"/>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                    rendered="#{rolesController.selected != null}"
                                    onclick="PF('confirmation').show();"/>
                    </shiro:hasPermission>
                    <shiro:hasPermission name="security">
                        <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                    onclick="PF('editarDlg').show();" rendered="#{rolesController.selected != null}"/>
                    </shiro:hasPermission>


                </p:menubar>

                <br/>

                <p:dataTable id="roles" var="role" value="#{rolesController.listDeRoles}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 300px;"
                             selection="#{rolesController.selected}" selectionMode="single"
                             rowKey="#{role.id}" rows="50">
                    <p:ajax event="rowSelect"
                            update=":form:roles :form:msg :form:menus :form:confirmDialog :editar:dlgEditar"/>
                    <p:column headerText="Id" style="width: 10%">
                        #{role.id}
                    </p:column>

                    <p:column headerText="Role" style="width: 20%">
                        #{role.roleName}
                    </p:column>

                    <p:column headerText="Descrição" style="width: 20%">
                        #{role.description}
                    </p:column>
                </p:dataTable>

                <!-- Deletar noticia -->
                <p:confirmDialog id="confirmDialog"
                                 message="Deseja realmente apagar o role: #{rolesController.selected.roleName} ?"
                                 header="Comfirmar exclusão" severity="alert" widgetVar="confirmation">

                    <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                     actionListener="#{rolesController.delete()}" update=":form:roles :form:msg"/>
                    <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                </p:confirmDialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
