<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
        >

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Funcionarios
    </ui:define>

    <ui:define name="content">
        <p:growl autoUpdate="true" life="20000"/>
        <h:form id="form" prependId="false">
            <p:menubar id="menus" style="height: 30px; width: 400px; border-radius: 0px;box-sizing: content-box;">
                <p:menuitem value="Adicionar chave" icon="ui-icon-disk" style="font-size: 11px;"
                            onclick="PF('addlg').show();"/>
                <p:menuitem value="Editar chave" style="font-size: 11px;" onclick="PF('editdlg').show();"
                            rendered="#{funcController.menu}"/>
                <p:menuitem value="Deletar chave" style="font-size: 11px;" onclick="PF('confirmation').show();"
                            rendered="#{funcController.menu}"/>
                <p:menuitem value="Atualizar" style="font-size: 11px;" onclick="PF('updatedlg').show();"/>
            </p:menubar>
            <br/>
            <p:dataTable id="funcsTable" var="func" value="#{funcController.lazyData}"
                         emptyMessage="Não foi encontrado nenhum resultado" style="width: 800px; "
                         selection="#{funcController.selected}" selectionMode="single"
                         rowKey="#{func.id}" paginator="true" rows="20"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         resizableColumns="true" lazy="true">

                <p:ajax event="rowSelect" update=":form:funcsTable :form:menus :form:confirmDialog :editDialog"/>
                <p:column headerText="Prefixo" filterBy="#{func.prefixo}" style="width: 10%; font-size: 12px;">
                    #{func.prefixo}
                </p:column>

                <p:column headerText="Fmatricula" filterBy="#{func.fmatricula}" style="width: 10%; font-size: 12px;">
                    #{func.fmatricula}
                </p:column>

                <p:column headerText="Nome" filterBy="#{func.nome}" style="width: 30%; font-size: 12px;">
                    #{func.nome}
                </p:column>

                <p:column headerText="Nome guerra" filterBy="#{func.nomeGuerra}" style="width: 20%; font-size: 12px;">
                    #{func.nomeGuerra}
                </p:column>

                <p:column headerText="Função" filterBy="#{func.funcao}" style="width: 20%; font-size: 12px;">
                    #{func.funcao}
                </p:column>
            </p:dataTable>
            <p:confirmDialog id="confirmDialog"
                             message="Deseja realmente apagar : #{funcController.selected.fmatricula} ?"
                             header="Comfirmar exclusão" severity="alert" widgetVar="confirmation" closeOnEscape="true">

                <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                 actionListener="#{funcController.delete()}" update=":form:funcsTable :form:menus"/>
                <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

            </p:confirmDialog>

            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                    function verificaOperacao(msg, dlg) {
                        var ok = #{newsController.opSucesso};
                        if (ok) {
                            mostraSucesso("Sucesso", msg, 3000);
                            PF(dlg).hide();
                        } else {
                            mostraError("Ooops!", msg, 3000);
                        }
                    }
                </script>
            </h:panelGroup>
        </h:form>
        <p:dialog header="Atualizar Funcionarios" widgetVar="updatedlg" resizable="false" position="topo" modal="true"
                  width="600">
            <h:form id="formUpload" prependId="false">
                <h:panelGrid columns="1" style="font-size: 12px;">
                    <p:fileUpload fileUploadListener="#{funcController.fileUploadListener}"
                                  mode="advanced"
                                  sizeLimit="100000000"
                                  update="tit"
                                  label="Selecionar"
                                  allowTypes="/(\.|\/)(txt|pdf|xls|doc|docx|ppt|pptx|csv)$/"/>

                    <h:outputText value="Nome do arquivo selecionado : #{funcController.fileName}" id="tit"/>
                    <p:progressBar id="progress" widgetVar="pbAjax" ajax="true"
                                   value="#{progressBarController.progress}" labelTemplate="{value}%"
                                   styleClass="animated">
                        <p:ajax event="complete" oncomplete="pbAjax.cancel();"/>
                    </p:progressBar>
                </h:panelGrid>
                <br/>
                <p:commandButton value="atualizar" actionListener="#{funcController.updateFuncionarios()}"
                                 onclick="pbAjax.start();"
                                 oncomplete="verificaOperacao('Importação CSV feita com Sucesso!','updatedlg');"
                                 update=":form:scriptAlert :form:funcsTable"/>
                <p:commandButton value="cancelar" type="button" onclick="PF('updatedlg').hide()"/>
            </h:form>
        </p:dialog>

        <p:dialog header="Adicionar chave" widgetVar="addlg" resizable="false" position="topo" modal="true" width="300">
            <h:form id="formAddCoban" prependId="false">
                <h:panelGrid columns="2" style="font-size: 12px;" cellspacing="5" cellpadding="20">
                    <h:outputText value="Prefixo:   "/>
                    <p:inputMask value="#{funcController.value.prefixo}" mask="9999" style="width: 175px;"/>
                    <h:outputText value="Chave:   "/>
                    <p:inputText value="#{funcController.value.fmatricula}" style="width: 175px;"/>
                    <h:outputText value="Nome:   "/>
                    <p:inputText value="#{funcController.value.nome}" style="width: 175px;"/>
                    <h:outputText value="Nome guerra:   "/>
                    <p:inputText value="#{funcController.value.nomeGuerra}" style="width: 175px;"/>

                </h:panelGrid>
                <br/>

                <div align="right" style="padding-right: 20px;">
                    <p:commandButton value="Adicionar" actionListener="#{funcController.add()}"
                                     oncomplete="PF('addlg').hide()" update=":form:funcsTable"/>
                    <p:commandButton value="cancelar" type="button" onclick="PF('addlg').hide()"/>
                </div>
            </h:form>
        </p:dialog>
        <p:dialog header="Editar chave '#{funcController.selected.fmatricula}'" widgetVar="editdlg" resizable="false"
                  position="topo" modal="true" width="300" id="editDialog">
            <h:form id="formEdit" prependId="false">
                <h:panelGrid columns="2" style="font-size: 12px;" cellspacing="5" cellpadding="20">
                    <h:outputText value="Prefixo:   "/>
                    <p:inputMask value="#{funcController.selected.prefixo}" mask="9999" style="width: 175px;"/>
                    <h:outputText value="Nome:   "/>
                    <p:inputText value="#{funcController.selected.nome}" style="width: 175px;"/>
                    <h:outputText value="Nome guerra:   "/>
                    <p:inputText value="#{funcController.selected.nomeGuerra}" style="width: 175px;"/>

                </h:panelGrid>
                <br/>

                <div align="right" style="padding-right: 20px;">
                    <p:commandButton value="Editar" actionListener="#{funcController.edit()}"
                                     oncomplete="PF('editdlg').hide()" update=":form:funcsTable"/>
                    <p:commandButton value="cancelar" type="button" onclick="PF('editdlg').hide()"/>
                </div>
            </h:form>
        </p:dialog>

        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
                type=""></script>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
        <script>
            jQuery(function ($) {
                $.mask.definitions['~'] = '[ATCatc]';
                $("#inputTextMask").mask("~9999999");
            });
        </script>

    </ui:define>
</ui:composition>
