<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://java.sun.com/jsf/core"
        >

    <h:form id="form" prependId="false" style="font-size: 11px;">
        <p:messages id="msg"/>
        <p:dialog closable="true" header="Permissões" widgetVar="perm" modal="true">
            <h:panelGrid columns="1">
                <h:outputText value="Modulos"/>
                <p:selectCheckboxMenu label="Permissões">
                    <f:selectItem itemLabel="Editar" itemValue="1"/>
                    <f:selectItem itemLabel="Editar" itemValue="2"/>
                    <f:selectItem itemLabel="Editar" itemValue="3"/>
                    <f:selectItem itemLabel="Editar" itemValue="4"/>
                </p:selectCheckboxMenu>
            </h:panelGrid>
        </p:dialog>
    </h:form>

</ui:fragment>
