<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
        >

    <ui:define name="title">
        Intranet Administração - Segurança
    </ui:define>

    <ui:define name="content">
        <div class="breadCrumbHolder module">
            <div id="breadCrumb0" class="breadCrumb module">
                <ul>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/admin">Inicio</a></li>
                    <li>Funcionários e permissões</li>
                </ul>
            </div>
        </div>
        <br/>

        <h1>Funcionários e permissões</h1>

        <div class="pad20">
            <p>Bem vindo ao painel de gerenciamento de funcionários e permissões!</p>

        </div>
        <hr/>
        <div class="pad20">
            <div style="float: left;">
                <h1>Notificações</h1>

                <p>
                    Sem notificações no momento!
                </p>
            </div>
            <div style="float: left;  margin: auto auto auto 300px;">
                <h1>Colocar alguma informação aqui</h1>
            </div>
        </div>
    </ui:define>
</ui:composition>
