<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="title">

    </ui:define>
    <ui:define name="header">
        <style>
            /* sobrescreve css */
            .ui-selectonemenu .ui-selectonemenu-trigger {
                padding: 3px 3px 0 3px !important;
                width: 25px !important;
            }
        </style>

        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#editorTextArea").ckeditor();

            });

            function pegaConteudo() {
                var conteudo = CKEDITOR.instances.editorTextArea.getData();
                $('#inputhidden').val(conteudo);
                salvarNoticia(); //{p:remotecommand}
            }
        </script>
    </ui:define>
    <ui:define name="conteudo">
        <fieldset style="margin-top: 25px;">

            <div class="container" style="margin-top: 100px;">
                <div class="row">
                    <div class="col-md-12">
                        <h2>SUPER-TO</h2>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-6">
                        <hr style="margin-top: 0px;"/>
                        <p style="text-align: justify;">
                            O Banco do Brasil é a principal instituição financeira do Tocantins.
                            Presente em 136 dos 139 municípios, através das suas 54 agências
                            e 141 unidades do Banco Postal, o BB cumpre fidedignamente com sua missão de ser um banco competitivo e rentável,
                            atuando com espírito público em cada uma de suas ações junto a toda a sociedade.
                        </p>

                        <p>
                            A essência e o espírito público dos funcionários do Banco do Brasil do Tocantins marca nossa identidade que nos
                            diferencia e orienta o nosso jeito de pensar e de agir.
                        </p>

                        <p>
                            Nossas Crenças, valores e decisões estratégicas nos inspiram e dão sentido ao nosso trabalho.
                        </p>
                        <hr/>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="box-info row">
                            <div class="col-sm-2 col-md-6">
                                <h5>Funcionários BB:</h5>

                                <p class="endereco_super">750</p>
                            </div>
                            <div class="col-sm-2 col-md-6">
                                <h5>Agêcias/PAA:</h5>

                                <p class="endereco_super">54</p>
                            </div>
                            <div class="col-sm-2 col-md-6">
                                <h5>Endereço:</h5>

                                <p class="endereco_super">QD 104 SUL, RUA SE 5 N° 22</p>
                            </div>
                            <div class="col-sm-2 col-md-6">
                                <h5>Telefone:</h5>

                                <p class="endereco_super">(63) 3226-3400</p>
                            </div>
                            <div class="col-sm-2 col-md-6">
                                <h5>Fax:</h5>

                                <p class="endereco_super">(63) 3226-3400</p>
                            </div>
                            <div class="col-sm-2 col-md-6">
                                <h5>E-mail:</h5>

                                <p class="endereco_super">superto@bb.com.br</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="separador"/>

                <div class="row">
                    <div class="col-md-6">
                        <h:form prependId="false" id="form">
                            <p:growl id="growl" life="7000" showDetail="true" />
                            <div class="col-md-12">
                                <p:autoComplete id="assunto_id" value="#{humanogramacontroller.value}" completeMethod="#{humanogramacontroller.completeAssuntos}" converter="assuntoConverter" 
                                                style="width: 100%; margin-bottom: 10px;" var="assunto" itemValue="#{assunto}" itemLabel="#{assunto.descricao}" dropdown="true" forceSelection="true">                                    
                                </p:autoComplete> 
                                <p:commandLink styleClass="btn btn-success" value="Filtrar por Assuntos" oncomplete="PF('dlgAssuntos').show()" 
                                               update="dlgAssuntos" actionListener="#{humanogramacontroller.buscarFuncionariosAssunto}"/>
                            </div>


                            <p:dialog widgetVar="dlgAssuntos" id="dlgAssuntos" closeOnEscape="true" draggable="true" header="Lista de Funcionários" 
                                      modal="true" position="top" style="margin-top: 85px;" height="500">
                                <p:ajax event="close" listener="#{humanogramacontroller.limparFuncionarios}" update="dlgAssuntos" />
                                <div class="container">

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <!-- gerente -->
                                            <p:panel>
                                                <f:facet name="header">
                                                    #{humanogramacontroller.gerente.funcao}
                                                </f:facet>
                                                <h3>#{humanogramacontroller.gerente.nome.toUpperCase()}</h3>
                                                <p:graphicImage rendered="#{humanogramacontroller.gerente.avatar.imagem != null}" value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(humanogramacontroller.gerente.avatar.imagem.url)}" height="175"/> 
                                                <p:graphicImage rendered="#{humanogramacontroller.gerente.avatar.imagem == null}" height="175" width="220"
                                                                value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                                                <hr />
                                                <h:panelGrid columns="2">
                                                    <h:outputText value="Matrícula:" styleClass="dadosInstBold" />
                                                    <h:outputText value="#{humanogramacontroller.gerente.fmatricula}" styleClass="dadosInst" />
                                                    <h:outputText value="Aniversário:" styleClass="dadosInstBold"/>
                                                    <h:outputText value="#{humanogramacontroller.gerente.dataNascimento}" styleClass="dadosInst">
                                                        <f:convertDateTime pattern="dd/MM" />
                                                    </h:outputText>
                                                    <h:outputText value="Telefone:" styleClass="dadosInstBold"/>
                                                    <h:outputText value="#{humanogramacontroller.gerente.foneTrabalho}" styleClass="dadosInst"/>
                                                    <h:outputText value="E-mail:" styleClass="dadosInstBold"/>
                                                    <h:outputText value="#{humanogramacontroller.gerente.emailPessoal}" styleClass="dadosInst"/>
                                                </h:panelGrid>                                  
                                            </p:panel>
                                        </div>
                                    </div>
                                    <div id="separador"/>
                                    <div class="row">
                                        <ui:repeat value="#{humanogramacontroller.listaFuncionarios}" var="funcionario" varStatus="cont" id="funcionariosAssunto">
                                            <div class="col-md-3" style="margin-bottom: 20px;">
                                                <!-- assessores -->
                                                <p:panel>
                                                    <f:facet name="header">
                                                        #{funcionario.funcao}
                                                    </f:facet>
                                                    <h3>#{funcionario.nome.toUpperCase()}</h3>
                                                    <p:graphicImage rendered="#{funcionario.avatar.imagem != null}" value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(funcionario.avatar.imagem.url)}" height="175"/> 
                                                    <p:graphicImage rendered="#{funcionario.avatar.imagem == null}" height="175" width="220"
                                                                    value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                                                    <hr />
                                                    <h:panelGrid columns="2">
                                                        <h:outputText value="Matrícula:" styleClass="dadosInstBold" />
                                                        <h:outputText value="#{funcionario.fmatricula}" styleClass="dadosInst" />
                                                        <h:outputText value="Aniversário:" styleClass="dadosInstBold"/>
                                                        <h:outputText value="#{funcionario.dataNascimento}" styleClass="dadosInst">
                                                            <f:convertDateTime pattern="dd/MM" />
                                                        </h:outputText>
                                                        <h:outputText value="Telefone:" styleClass="dadosInstBold"/>
                                                        <h:outputText value="#{funcionario.foneTrabalho}" styleClass="dadosInst"/>
                                                        <h:outputText value="E-mail:" styleClass="dadosInstBold"/>
                                                        <h:outputText value="#{funcionario.emailPessoal}" styleClass="dadosInst"/>
                                                    </h:panelGrid>                                  
                                                </p:panel>
                                            </div>
                                        </ui:repeat>
                                    </div>
                                </div>                
                            </p:dialog>
                        </h:form>
                    </div>

                    <div class="col-md-6">
                        <h:form prependId="false" id="formP">
                            <div class="col-md-12">
                                <p:autoComplete id="produto_id" value="#{humanogramacontroller.produto}" completeMethod="#{humanogramacontroller.completeProdutos}" converter="produtoGeralConverter"
                                                style="width: 100%; margin-bottom: 10px;" var="produto" itemValue="#{produto}" itemLabel="#{produto.descricao}" dropdown="true" forceSelection="true">                                    
                                </p:autoComplete> 

                                <p:commandLink styleClass="btn btn-success" value="Filtrar por Produto" oncomplete="PF('dlgProdutos').show()" 
                                               update="dlgProdutos" actionListener="#{humanogramacontroller.buscarFuncionariosProduto}"/>
                            </div>

                            <p:dialog widgetVar="dlgProdutos" id="dlgProdutos" closeOnEscape="true" draggable="true" header="Lista de Funcionários" 
                                      modal="true" position="top" style="margin-top: 85px;" height="500">
                                <p:ajax event="close" listener="#{humanogramacontroller.limparFuncionarios}" update="dlgProdutos" />

                                <div class="container">

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <!-- gerente -->
                                            <p:panel>
                                                <f:facet name="header">
                                                    #{humanogramacontroller.gerente.funcao}
                                                </f:facet>
                                                <h3>#{humanogramacontroller.gerente.nome.toUpperCase()}</h3>
                                                <p:graphicImage rendered="#{humanogramacontroller.gerente.avatar.imagem != null}" value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(humanogramacontroller.gerente.avatar.imagem.url)}" height="175"/> 
                                                <p:graphicImage rendered="#{humanogramacontroller.gerente.avatar.imagem == null}" height="175" width="220"
                                                                value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                                                <hr />
                                                <h:panelGrid columns="2">
                                                    <h:outputText value="Matrícula:" styleClass="dadosInstBold" />
                                                    <h:outputText value="#{humanogramacontroller.gerente.fmatricula}" styleClass="dadosInst" />
                                                    <h:outputText value="Aniversário:" styleClass="dadosInstBold"/>
                                                    <h:outputText value="#{humanogramacontroller.gerente.dataNascimento}" styleClass="dadosInst">
                                                        <f:convertDateTime pattern="dd/MM" />
                                                    </h:outputText>
                                                    <h:outputText value="Telefone:" styleClass="dadosInstBold"/>
                                                    <h:outputText value="#{humanogramacontroller.gerente.foneTrabalho}" styleClass="dadosInst"/>
                                                    <h:outputText value="E-mail:" styleClass="dadosInstBold"/>
                                                    <h:outputText value="#{humanogramacontroller.gerente.emailPessoal}" styleClass="dadosInst"/>
                                                </h:panelGrid>                                  
                                            </p:panel>
                                        </div>
                                    </div>
                                    <div id="separador"/>
                                    <div class="row">
                                            <ui:repeat  value="#{humanogramacontroller.listaFuncionarios}" var="funcionario" varStatus="cont" id="funcionariosProduto">
                                                <div class="col-md-3">
                                                    <!-- assessores -->
                                                    <p:panel>
                                                        <f:facet name="header">
                                                            #{funcionario.funcao}
                                                        </f:facet>
                                                        <h3>#{funcionario.nome.toUpperCase()}</h3>
                                                        <p:graphicImage rendered="#{funcionario.avatar.imagem != null}" value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(funcionario.avatar.imagem.url)}" height="175"/> 
                                                        <p:graphicImage rendered="#{funcionario.avatar.imagem == null}" height="175" width="220"
                                                                        value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                                                        <hr />
                                                        <h:panelGrid columns="2">
                                                            <h:outputText value="Matrícula:" styleClass="dadosInstBold" />
                                                            <h:outputText value="#{funcionario.fmatricula}" styleClass="dadosInst" />
                                                            <h:outputText value="Aniversário:" styleClass="dadosInstBold"/>
                                                            <h:outputText value="#{funcionario.dataNascimento}" styleClass="dadosInst">
                                                                <f:convertDateTime pattern="dd/MM" />
                                                            </h:outputText>
                                                            <h:outputText value="Telefone:" styleClass="dadosInstBold"/>
                                                            <h:outputText value="#{funcionario.foneTrabalho}" styleClass="dadosInst"/>
                                                            <h:outputText value="E-mail:" styleClass="dadosInstBold"/>
                                                            <h:outputText value="#{funcionario.emailPessoal}" styleClass="dadosInst"/>
                                                        </h:panelGrid>                                  
                                                    </p:panel>
                                                </div>
                                            </ui:repeat>
                                    </div>
                                </div>                
                            </p:dialog>

                        </h:form>
                    </div>
                </div>

                <div id="separador"/>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>HUMANOGRAMA</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">
                                            Superintendente Estadual
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="col-xs-6 col-md-2">
                                            <div class="thumbnail">
                                                <img src="../../resources/images/imagens/institucional/KRUGER.jpg"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-10">
                                            <h4>MARCOS ANTÔNIO KRÜGER</h4>
                                            <p>
                                            Krüger, como é conhecido, é catarinense de Joinville, tem 58 anos de idade e 34 anos de Banco do Brasil. <br/> 
                                            Graduado em Agronomia e Ciências Contábeis, especialista em Contabilidade e Finanças, com especialização MBA Executivo em Negócios Financeiros,<br/>
                                            MBA Executivo em Administração de Negócios, e Mestrado em Engenharia da Produção, já exerceu o cargo de Superintendente Regional do Atacado no Paraná.
                                            </p>
                                              
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                                            Superintendente Regional
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseZero" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="col-xs-6 col-md-2">
                                            <div class="thumbnail">
                                                <img src="../../resources/images/imagens/institucional/superReg.jpeg"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-10">
                                            <h4>CÉLIO CHAGAS CINTRA</h4>

                                            <p>
                                                Célio Chagas Cintra tem 47 anos, é natural de Santa Rita do Sapucaí – MG. Graduado em Administração de Empresas, com especialização em Gerenciamento de Micro e Pequena Empresa, com MBA formação Geral para Altos Executivos. Iniciou sua carreira profissional no BB em 1982, na agência Santa Rita do Sapucaí em Minas Gerais.
                                                Em Minas Gerais trabalhou nas agências Nepomuceno, Monte Santo de Minas, Eloi Mendes, São Sebastião do Paraíso e Caratinga. Em Goiás trabalhou na agência Jataí e Rio Verde. Sua última dependência foi a Regional Santa Rosa - RS.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Gerentes
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="col-sm-4 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../resources/images/imagens/institucional/fabio.jpg"/>

                                                <div class="caption">
                                                    <h3>FABIO FELICIANO BERNARDES</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F3159827</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInstBold">
                                                                GER NEGOCIOS UT AGRO/DS
                                                            </span>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Celular:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">63 992291401</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">fabiofb@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../resources/images/imagens/institucional/rafaelvansan.jpg"/>

                                                <div class="caption">
                                                    <h3>RAFAEL VANSAN DE OLIVEIRA</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F8369573</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInstBold">
                                                                GER NEGOCIOS UT PF
                                                            </span>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Celular:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">63 92824632</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">rafaelvansan@bb.com.br </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../resources/images/imagens/institucional/Marcelo.jpg"/>

                                                <div class="caption">
                                                    <h3>MARCELO HENRIQUE CASTILHO DE SOUZA</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F6768969</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInstBold">
                                                                GER NEGOCIOS UT PJ/GOV
                                                            </span>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Celular:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">63 92030638</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">rique@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../resources/images/imagens/institucional/valmir.jpg"/>
                                        
                                                <div class="caption">
                                                    <h3>VALMIR SCHNORR</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F9446599</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInstBold">
                                                                GER ADMINIST UT
                                                            </span>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Celular:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">63 992115782</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">valmirsc@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Assessores
                                        </a>
                                    </h4>

                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">


                                        <div class="row text-center">
                                            <h4>ADM</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-2 col-md-offset-1">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/elmar.jpg"/>

                                                    <h3>ELMAR DO CARMO MACIEL</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F2849405</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">08/06</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">elmar.maciel@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        <!--    <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/Luciana.jpg"/>

                                                    <h3>LUCIANA DE JESUS LIBANIO</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F6323907</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">09/06</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">lulibanio@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            -->
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/fabiana.png"/>

                                                    <h3>FABIANA ALMEIDA NEPOMUCENO</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F3152425</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">24/08</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">fabiananepomuceno <br/>@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/isbella.png"/>

                                                    <h3>ISBELLA SANTA CRUZ MELO</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F4438699</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">16/09</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">isbella@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/marta.jpeg"/>

                                                    <h3>MARTA SAKAI DA SILVA</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F7006667</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">24/12</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">martasakai@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/roberta.png"/>

                                                    <h3>ROBERTA V. DA SILVA</h3>

                                                    <div class="row text-left">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F8629002</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">21/03</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">robertaviana@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="separador"/>

                                        <div class="row text-center">
                                            <h4>AGRO/DS</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-2 col-md-offset-3">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/marcilio.png"/>

                                                    <h3>MARCILIO RODRIGUES DE ALMEIDA</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F6775909</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">11/04</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">marciliorodrigues <br/> @bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/rafael.png"/>

                                                    <h3>RAFAEL DIAS <br/>LAMPERT</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F8366534</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">24/07</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">rafaellampert@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/thaise.png"/>

                                                    <h3>THAISE OLIVEIRA MENEZES</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F9307848</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">16/03</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">thaise@bb.com.br</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div id="separador"/>

                                        <div class="row text-center">
                                            <h4>PF</h4>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-sm-4 col-md-2 col-md-offset-3">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/perfil.jpg"
                                                         alt=""/>

                                                    <h3>EDSON FERREIRA DOS SANTOS</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F2701719</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">29/11</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">edfersan@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/eula.jpg"/>

                                                    <h3>EULA KELLEN DE FREITAS</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F3068988</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">23/02</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">eula@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/cleuby.jpeg"/>

                                                    <h3>CLEUBY SOUSA LIMA</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F2123369</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">22/01</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">cleuby@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="separador"/>

                                        <div class="row text-center">
                                            <h4>PJ/GOV</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-2 col-md-offset-1">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/elza.jpeg"/>

                                                    <h3>ELZA MARIA FRANCISCA SILVA</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F2886357</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">05/07</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">mariachica@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/khadja.jpeg"/>

                                                    <h3>KHADJA MAGALHAES WANDERLEY</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F6078359</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">19/10</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">khadja@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/rafael.jpeg"/>

                                                    <h3>RAFAEL FONSECA AYRES</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F8367227</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">08/09</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">rafaelayres@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-4 col-md-2"> <!--COLUNA INICIO-->
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/silvio.png"/>

                                                    <h3>SILVIO CESAR DA <br/>SILVA</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F9164095</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">05/08</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">silviopalmas@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="col-sm-4 col-md-2">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/marco.jpeg"/>

                                                    <h3>MARCO ANTONIO DE ARAUJO PASSOS</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F6795019</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">27/06</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">marcopassos@bb.com.br</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="separador"/>

                                        <div class="row text-center">
                                            <h4>REGIONAL</h4>
                                        </div>
                                        <div class="row">  <!--LINHA INICIO-->
                                            <div class="col-sm-4 col-md-2 col-md-offset-5">
                                                <div class="thumbnail">
                                                    <img src="../../resources/images/imagens/institucional/ANDREIA.png"/>

                                                    <h3>ANDREIA BITTENCOURT</h3>

                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Matrícula:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">F0742934</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInstBold">Aniversário:</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 noPading">
                                                            <span class="dadosInst">11/03</span>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 noPading">
                                                            <span class="dadosInst">andreiabvb@bb.com.b</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <!--COLUNA FIM-->

                                        </div>
                                        <!--LINHA FIM-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <link rel="stylesheet"
                  href="#{facesContext.externalContext.requestContextPath}/resources/css/instituicao/instituicao.css"/>
        </fieldset>
    </ui:define>
</ui:composition>