<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<body>

<ui:composition template="./../../resources/templates/template.xhtml">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">
        <div class="row">
            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#{facesContext.externalContext.requestContextPath}/perfil"><span>Perfil</span></a>
                    <a href="#" class="last_bc"><span>Alterar foto</span></a>
                </div>

                <div class="h40"></div>
            </div>
        </div>


        <div class="row">

            <!-- Side Column -->
            <ui:include src="menu.xhtml"/>

            <!-- Side Column::END -->
            <h:form id="capturarFoto" prependId="false">
                <p:dialog header="Upload de imagens" modal="true" widgetVar="camDialog" showEffect="fade">
                    <p:photoCam widgetVar="pc" listener="#{avatarController.oncapture}"/>
                    <p:commandButton value="Capturar" onclick="pc.capture();" oncomplete="PF('camDialog').hide()"/>
                </p:dialog>
            </h:form>

            <h:form enctype="multipart/form-data" id="newImagem" prependId="false">
                <p:dialog header="Upload de imagens" modal="true" widgetVar="upImages" showEffect="fade" width="500">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <h:outputLabel value="Imagem"/>
                        <p:fileUpload fileUploadListener="#{avatarController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"
                                      invalidFileMessage="Formato não suportado"
                                      invalidSizeMessage="Imagem muito pesada, diminua o tamanho"
                                      cancelLabel="cancelar upload"
                                      uploadLabel="Enviar a foto"
                                      style="width: 480px;"/>
                    </h:panelGrid>
                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                    <p:commandButton value="Salvar" actionListener="#{avatarController.enviarFoto()}"
                                     style="font-size: 12px;" onclick="PF('upImages').hide();"/>
                    <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                     onclick="PF('upImages').hide();"/>
                </p:dialog>
            </h:form>

            <div id="esquerda" style="width: 30%; max-height: 200px; height: 500px; position: relative; float: left;">
                <p:graphicImage
                        value="#{facesContext.externalContext.requestContextPath}/resources/images/comment_avatar.png"/>
                <h:outputText value="#{loginController.funcionario.fmatricula}"/>
            </div>
            <div id="direita" style="clear: both;">

            </div>
        </div>
    </ui:define>

</ui:composition>

</body>
</html>
