<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:saot="http://shiro.apache.org/tags"
      xmlns:p="http://primefaces.org/ui">

<body>

<ui:composition template="./../../resources/templates/template.xhtml">
    <ui:define name="slider"/>

    <ui:define name="mercados"/>

    <ui:define name="conteudo">
        <div class="row">
            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#{facesContext.externalContext.requestContextPath}/perfil"><span>Perfil</span></a>
                    <a href="#" class="last_bc"><span>Alteração de informações pessoais</span></a>
                </div>
                <div class="h40"></div>
            </div>
        </div>
        <div class="row">
            <saot:hasRole name="funcionario">
                <ui:include src="menu.xhtml"/>

                <h2>Alterar infomações pessoais</h2>
                <h:panelGroup layout="block" id="infoEdit">
                    <h:form>
                        <h:panelGrid columns="1" style="">
                            <p:messages autoUpdate="true"/>
                            <h:outputText value="Nome "/>
                            <h:inputText value="#{loginController.funcionario.nome}"/>

                            <h:outputText value="Nome guerra"/>
                            <h:inputText value="#{loginController.funcionario.nomeGuerra}"/>

                            <h:outputText value="Telefone "/>
                            <h:inputText value="#{loginController.funcionario.foneFax}"/>

                            <h:outputText value="Email "/>
                            <h:inputText value="#{loginController.funcionario.endereco}"/>
                            <h:commandButton type="button" value="salvar" onclick="salvar();"/>
                            <p:remoteCommand name="salvar" actionListener="#{funcController.alterInfos()}"
                                             update=":infoEdit"/>
                        </h:panelGrid>
                    </h:form>
                </h:panelGroup>
            </saot:hasRole>
        </div>
    </ui:define>

</ui:composition>

</body>
</html>
