<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<body>

<ui:composition template="./../../resources/templates/template.xhtml">

    <ui:define name="header">
        <style>
            .table td span.mark {
                color: #999;
                font-size: 11px;
                display: block;
                padding-left: 50px;
            }

            .table td div.mark2 {
                color: #999;
                font-size: 11px;
                display: block;
                width: 2px;
                height: 5px;
            }

            .table td.information-p {
                border-left: 3px solid #009AD7;
                width: 110px;
            }

            .table td.warning-p {
                border-left: 3px solid #C22439;
            }

            .table td.attention-p {
                border-left: 3px solid #FFAA31;
            }

            .table td.success-p {
                border-left: 3px solid #68AF27;
            }

            .table.tickets td {
                padding: 5px 10px;
            }

            .table.tickets tr td:first-child {
                padding-top: 7px;
            }

            .table.table-hover tbody tr:hover td, .table.table tbody tr.active td {
                background: #ffffcb;
            }

            .label {
                font-size: 12px;
                color: #FFF;
                font-weight: normal;
                height: 20px;
                -webkit-border-radius: 5px;
                text-align: center;
            }

            .label, .dblue {
                background: #005683 !important;
            }

            .label-information, .badge-info, .blue {
                background: #009AD7 !important;
            }

            .label-attention, .badge-warning, .yellow {
                background: #FFAA31 !important;
            }

            .label-success, .badge-success, .green {
                background: #68AF27 !important;
            }

            .label-warning, .red {
                background: #C22439 !important;
            }

            .cinformation {
                color: #009AD7 !important;
                max-width: 500px;
                padding-left: 50px;
            }

            .cattention {
                color: #FFAA31 !important;
                max-width: 500px;
                padding-left: 50px;
            }

            .csuccess {
                color: #68AF27 !important;
                max-width: 500px;
                padding-left: 50px;
            }

            .cwarning {
                color: #C22439 !important;
                max-width: 500px;
                padding-left: 50px;
            }

            .ctext {
                max-width: 500px;
                padding-left: 50px;
            }


        </style>
    </ui:define>

    <ui:define name="msg-topo">
    </ui:define>
    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">

        <div class="row">
            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#{facesContext.externalContext.requestContextPath}/perfil"><span>Perfil</span></a>
                    <a href="#" class="last_bc"><span>Mensagens</span></a>
                </div>
                <div class="h40"></div>
            </div>
        </div>

        <div class="row">

            <ui:include src="menu.xhtml"/>

            <div class="twelve columns">
                <div id="tabs" class="htabs">
                    <a href="#tab-1" class="selected">Lista de mensagens</a>
                </div>
                <h:form prependId="false" id="formMensagensList">
                    <h:panelGroup id="tab-1" layout="block" styleClass="tab-content">
                        <h:panelGroup
                                rendered="#{empty mensagensController.pagMensagens.pageDataModel and not empty mensagensController.querySearch}"
                                style="font-size: 12px; float: left;" layout="block">
                            Não foi encontrado nenhum resultado para a pesquisa
                            <p:commandLink value=" limpar pesquisa" style="text-decoration: underline;"
                                           action="#{mensagensController.pesquisar()}" update=":formMensagensList">
                                <f:setPropertyActionListener target="#{mensagensController.querySearch}" value=""/>
                            </p:commandLink>
                        </h:panelGroup>

                        <div class="header_search">
                            <h:commandButton type="button" class="button_search" onclick="pesquisar()"/>
                            <h:inputText id="s" value="#{mensagensController.querySearch}" onclick="this.value = '';"/>
                            <p:remoteCommand name="pesquisar" actionListener="#{mensagensController.pesquisar()}"
                                             update=":formMensagensList"/>
                        </div>
                        <p:ajaxStatus style="width:16px;height:16px;" id="ajaxStatusPanel">
                            <f:facet name="start">
                                <h:graphicImage value="/superto/funcionario/ajax.gif"/>
                            </f:facet>

                            <f:facet name="complete">
                                <h:outputText value=""/>
                            </f:facet>
                        </p:ajaxStatus>
                        <br/>
                        <hr/>
                        <table width="100%" class="table tickets">
                            <tbody>

                            <ui:repeat var="msg" value="#{mensagensController.pagMensagens.pageDataModel}">
                                <tr>
                                    <td class="#{msg.tipo.value}-p">
                                        <div class="label label-#{msg.tipo.value}">#{msg.tipo.label}</div>
                                    </td>
                                    <td>
                                        <div class="mark2">20/02/2013</div>
                                    </td>
                                    <td>
                                        <div class="ctext">#{msg.mensagem}</div>
                                        <span class="mark">Enviado(a) por <a
                                                href="#{facesContext.externalContext.requestContextPath}/funcionario/#{msg.remetente.fmatricula}">#{msg.remetente.nome}</a></span>
                                    </td>
                                </tr>
                            </ui:repeat>

                            </tbody>
                        </table>
                        <hr/>
                        <div class="pagination clearfix">
                            <center>
                                <div class="links">
                                    <p:commandLink value="Pagina Anterior" update=":formMensagensList"
                                                   disabled="#{!mensagensController.pagMensagens.hasPreviousPage}"
                                                   actionListener="#{mensagensController.pagMensagens.previousPage()}"/>
                                    <b>#{mensagensController.pagMensagens.page + 1}</b>
                                    <p:commandLink value="Proxima Pagina" update=":formMensagensList"
                                                   disabled="#{!mensagensController.pagMensagens.hasNextPage}"
                                                   actionListener="#{mensagensController.pagMensagens.nextPage()}"/>
                                </div>
                            </center>
                        </div>
                    </h:panelGroup>
                </h:form>
                <script type="text/javascript">
                    $('#tabs a').tabs();
                </script>
            </div>

        </div>
    </ui:define>

</ui:composition>

</body>
</html>
