<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        >

    <div class="four columns sidebar">
        <h4 class="title"><span>Menu</span></h4>
        <ul class="side_bar_menu">
            <li><a href="#{facesContext.externalContext.requestContextPath}/perfil/foto"><span
                    class="hover_span"></span><span class="link_span">Alterar foto</span></a></li>
            <li><a href="#{facesContext.externalContext.requestContextPath}/perfil/alterar"><span
                    class="hover_span"></span><span class="link_span">Alterar informações</span></a></li>
            <li><a href="#{facesContext.externalContext.requestContextPath}/perfil/relatos"><span
                    class="hover_span"></span><span class="link_span">Adicionar relato</span></a></li>
            <li><a href="#{facesContext.externalContext.requestContextPath}/perfil/mensagens"><span
                    class="hover_span"></span><span class="link_span">Mensagens</span></a></li>
        </ul>
    </div>


</ui:fragment>