<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:saot="http://shiro.apache.org/tags">

<body>

<ui:composition template="./../../resources/templates/template.xhtml">


    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">
        <div class="row">
            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#" class="last_bc"><span>Perfil</span></a>
                </div>

                <div class="h40"></div>
            </div>
        </div>


        <div class="row">
            <saot:hasRole name="funcionario">
                <!-- Side Column -->
                <ui:include src="menu.xhtml"/>
                <!-- Side Column::END -->


                <!-- Wide Column -->
                <div class="twelve columns">
                    <div class="four columns">
                        <h2><span>Foto</span></h2>

                        <div class="footer_pic">
                            <h:graphicImage
                                    value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(funcController.selected.avatar.avatar.url)}"
                                    rendered="#{funcController.selected.avatar != null}"/>
                            <h:graphicImage value="/superto/funcionario/empty.jpg"
                                            rendered="#{funcController.selected.avatar == null}"/>
                        </div>
                    </div>
                    <div class="twelve columns">
                        <h2><span>Informações</span></h2>
                        <h:panelGrid columns="2" columnClasses="at">
                            <h:outputLabel value="Nome"/>
                            <h:outputText value="#{funcController.selected.nome}"/>
                            <h:outputLabel value="Sexo"/>
                            <h:outputText value="#{funcController.selected.sexo.type}"/>
                            <h:outputLabel value="Cargo"/>
                            <h:outputText value="#{funcController.selected.funcao}"/>
                            <h:outputLabel value="Dependência"/>
                            <h:outputText value="#{funcController.selected.prefixo}"/>
                            <h:outputLabel value="Telefone"/>
                            <h:outputText value="#{funcController.selected.foneFax}"/>
                            <h:outputLabel value="Email"/>
                            <h:outputText value="#{funcController.selected.endereco}"/>
                        </h:panelGrid>
                        <br/>
                        <a href="javascript:history.back()" class="button">Voltar</a>
                    </div>


                </div>
                <!-- Wide Column::END -->
            </saot:hasRole>

        </div>
        <br/>
        <br/>
    </ui:define>

</ui:composition>

</body>
</html>
