<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:saot="http://shiro.apache.org/tags"
      xmlns:f="http://java.sun.com/jsf/core">

<body>

<ui:composition template="./../../resources/templates/template.xhtml">

    <ui:define name="header">
        <style>
            #easyTooltip {
                padding: 5px;
                border: 3px solid #f0f0f0;
                background: #fff;
                font-size: 11px;
                color: #333;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
            }
        </style>

    </ui:define>

    <ui:define name="msg-topo">
    </ui:define>
    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">

        <div class="row">
            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#" class="last_bc"><span>Perfil #{funcController.selected.nomeGuerra}</span></a>
                </div>
                <div class="h40"></div>
            </div>
        </div>


        <div class="row">
            <saot:hasRole name="funcionario">
                <ui:include src="menu.xhtml"/>

                <div class="twelve columns" style="margin-top: -20px; ">

                    <h:form>
                        <p:dialog widgetVar="enviarRelato" header="Enviar relato" style="font-size: 12px;">
                            <h:panelGroup layout="block" id="infoEdit">
                                <h:panelGrid columns="1" style="">
                                    <h:outputText value="Texto "/>
                                    <h:inputTextarea value="#{relatoController.newRelato.relato}"
                                                     style="width: 300px;"/>
                                    <h:commandButton type="button" style="font-size: 12px;" value="enviar"
                                                     onclick="salvar();"/>
                                    <p:remoteCommand name="salvar" actionListener="#{relatoController.add()}"
                                                     update="infoEdit :tab-1"/>
                                </h:panelGrid>

                            </h:panelGroup>
                        </p:dialog>
                    </h:form>

                    <h:form id="editarForm">
                        <p:dialog widgetVar="editarRelato" header="Editar relato" style="font-size: 12px;">
                            <h:panelGroup layout="block" id="infoEdit">
                                <h:panelGrid columns="1" style="">
                                    <h:outputText value="Texto "/>
                                    <h:inputTextarea value="#{relatoController.selected.relato}"
                                                     onkeydown="limitTextArea(this, 200)"
                                                     onkeyup="limitTextArea(this, 200)" style="width: 300px;"/>
                                    <h:commandButton type="button" style="font-size: 12px;" value="salvar"
                                                     onclick="editar();"/>
                                    <p:remoteCommand name="editar" actionListener="#{relatoController.edit()}"
                                                     update="infoEdit :tab-1"/>
                                </h:panelGrid>

                            </h:panelGroup>
                        </p:dialog>

                    </h:form>
                    <script>
                        function limitTextArea(element, limit) {

                            if (element.value.length > limit) {
                                element.value = element.value.substring(0, limit);
                            }

                        }
                    </script>
                    <div id="tabs" class="htabs">
                        <a href="#tab-1" class="selected">Meus relatos</a>
                    </div>

                    <h:panelGroup id="tab-1" layout="block" styleClass="tab-content">
                        <div style="font-size: 12px;">
                            <p:messages autoUpdate="true"/>
                        </div>
                        <h:commandButton type="button" value="enviar relato" style="font-size: 12px;"
                                         onclick="PF('enviarRelato').show()"/>
                        <h:form>
                            <p:confirmDialog id="cDelete" message="Deletar relato?"
                                             header="Comfirmar" severity="alert" widgetVar="confirmDel"
                                             style="font-size: 12px;" closeOnEscape="true">

                                <p:commandButton id="conf" value="Sim" oncomplete="PF('confirmDel').hide()"
                                                 actionListener="#{relatoController.delete()}" update="relatos"/>
                                <p:commandButton id="decl" value="Não" onclick="PF('confirmDel').hide()" type="button"/>

                            </p:confirmDialog>
                            <p:dataTable id="relatos" var="relato" value="#{relatoController.relatos}"
                                         emptyMessage="Não foi encontrado nenhum resultado"
                                         rowKey="#{relato.id}" paginator="true" rows="10"
                                         filteredValue="#{relatoController.relatosFiltrados}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         resizableColumns="true" style="font-size: 12px;">


                                <p:column headerText="Status" filterBy="aprovado" filterMatchMode="contains"
                                          style="font-size: 12px; width: 13%;">
                                    <h:outputText value="aprovado" rendered="#{relato.aprovado}"/>
                                    <h:outputText value="em analise" rendered="#{!relato.aprovado}"/>
                                </p:column>

                                <p:column headerText="Relato" filterBy="relato" filterMatchMode="contains"
                                          style="font-size: 12px;">
                                    #{relato.relato}
                                </p:column>

                                <p:column headerText="Data" filterBy="dataEnvio" style="font-size: 12px;width: 15%;">
                                    #{relato.dataEnvio}
                                </p:column>

                                <p:column headerText="Opções" style="font-size: 12px;width: 10%;">

                                    <p:commandLink styleClass="editar_comentarios tooltip" title="Editar relato"
                                                   oncomplete="PF('editarRelato').show()" update=":editarForm">
                                        <f:setPropertyActionListener target="#{relatoController.selected}"
                                                                     value="#{relato}"/>
                                    </p:commandLink>
                                    <p:commandLink id="rest" styleClass="excluir_comentarios tooltip"
                                                   title="Exluir relato" oncomplete="PF('confirmDel').show();">
                                        <f:setPropertyActionListener target="#{relatoController.selected}"
                                                                     value="#{relato}"/>
                                    </p:commandLink>

                                </p:column>


                            </p:dataTable>
                        </h:form>
                    </h:panelGroup>
                    <script type="text/javascript">
                        $('#tabs a').tabs();
                        $("#rest").tipsy({fade: true, gravity: 's'})
                        $(function () {
                            $(".tooltip").easyTooltip();
                        });
                    </script>
                </div>
            </saot:hasRole>
        </div>
    </ui:define>

</ui:composition>

</body>
</html>
