<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:saot="http://shiro.apache.org/tags"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>


    <ui:define name="conteudo">
        <h:form id="form">
            <div class="container" style="margin-top: 80px; min-height: 100%;">
                <div class="row" style="height: 100%;">
                    <div class="col-sm-9 col-md-9 col-lg-9" id="coluna1">
                        <div class="row temMargem" id="linha1">
                            <h2>Bem-vindo ao Mercado Pessoa Jurídica</h2>

                            <ui:insert name="slider" >
                                <div id="carousel-topo" class="galeria carousel slide" style="margin-top: 25px;">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoPJ)}" varStatus="cont">
                                            <li data-target="#carousel-topo" data-slide-to="#{cont.index}" class="#{cont.index eq '0'? 'active':''}"></li>
                                        </ui:repeat>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoPJ)}" varStatus="aux">
                                            <div class="item #{aux.index eq '0'? 'active':''}">
                                                <a href="#{destaqueController.enderecoUrl(des)}"
                                                   title="Clique aqui para saber mais.">
                                                    <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(des.imagem.archive.url)}" style="min-height: 350px;"/>
                                                </a>
                                            </div>
                                        </ui:repeat>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-topo" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-topo" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </ui:insert>
                        </div>
                       <div class="row" id="lihna2">
                            <div class="metro mercadoPJ">
                                <a href="http://dired.bb.com.br/distribuicao/orientacao-19962.html" class="double first grayscale" 
                                   target="_blank"><h5>Mobilizador</h5><h3 style="font-size: 0.5em;">Desembolso PJ Giro + Recebíveis + AF</h3></a>
                                
                                <a href="http://dired.bb.com.br/distribuicao/orientacao-19960.html" class="single grayscale" 
                                   target="_blank"><h5>Mobilizador</h5><h3 style="font-size: 0.5em;">Seguros PM</h3></a>
                                
                                <a href="http://dired.bb.com.br/distribuicao/orientacao-19961.html" class="single grayscale" 
                                   target="_blank"><h5>Mobilizador</h5><h3>Consórcio Faturamento</h3></a>
                                
                                <a href="https://disap.bb.com.br/paineis/gerenciais/pj" target="_blank" 
                                   class="single last gray" style="background-color: rgba(231,230,230,1)"><h3>NOVO! <br/> Painel PJ Carteiras</h3></a>  
                                   
                                <a href="http://dired.bb.com.br/portal/pj/pagina-20" class="double first gray" 
                                   style="background-color: rgba(175,171,171,1)"><h4>Painel </h4><h3>Crédito PJ</h3></a>
                                   
                                <a href="http://dired.bb.com.br/portal/pj/pagina-55" class="single gray" target="_blank" 
                                   style="background-color: rgba(208,206,206,1)"><h5>&nbsp;</h5><h3>Taxas PJ</h3></a>
                                   
                                <a href="http://gecen.bb.com.br/central" class="single gray" target="_blank" style="background-color: rgba(208,206,206,1)">
                                    <h5>&nbsp;</h5><h3 style="font-size: 1.0em;">Material de Apoio Gecen</h3></a>
                                    
                                <a href="http://dired.bb.com.br/portal/pj/pagina-53" class="single last gray" 
                                   target="_blank" style="background-color: rgba(231,230,230,1)"><h3 style="margin-top: 32px; font-size: 1.4em;">Material de Apoio Dired</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" id="coluna2" style="left: 70%;">
                        <div id="ferramentas" class="ferramentas"  style="margin-top: 27px;">
                            <div id="sidebar" class="row col-md-4" style="width: 85%;">
                                <h4 style="margin-bottom: 23px;">Mercados</h4>
                                <ul class="menu-sidebar">
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/adm">ADM</a></li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/agro">AGRO</a></li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/gov">GOV</a></li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/pf">PF</a></li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/ds">DS</a></li>
                                </ul>
                            </div>
                            <div id="sidebar" class="row col-md-4">
                                <h4>Arquivos</h4>
                                <ul class="menu-sidebar">
                                    <li>
                                        <p:commandLink title="Downloads" onclick="PF('downloads').show();" value="Arquivos"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <p:dialog id="downloads" widgetVar="downloads" closable="true" modal="true" header="CARTILHAS">
                    <div class="container">
                        <div class="row">
                            <ul class="menu-sidebar">
                                <ui:repeat value="#{reportController.arquivosPJ}" var="down" id="cartilhas">
                                    <div class="col-md-4 menu-sidebar">
                                        <li class="#{down.report.mimeType eq 'application/pdf' ? 'pdf' : down.report.mimeType eq 'text/csv' ? 'csv' : down.report.mimeType eq 'text/xlsx' ? 'csv' : 'doc'}"
                                            style="font-size: 15px !important;">
                                            <p:commandLink value="#{down.title}" ajax="false" style="color: #f9f9f9">
                                                <p:fileDownload value="#{reportController.download(down.report)}"/>
                                            </p:commandLink>.<p:outputLabel value="#{down.report.mimeType eq 'application/pdf' ? 'pdf' : down.report.mimeType eq 'text/csv' ? 'csv' : down.report.mimeType eq 'text/xlsx' ? 'xls' : 'doc'}"></p:outputLabel>                       
                                        </li>
                                    </div>
                                </ui:repeat>
                            </ul>
                        </div>
                    </div>
                </p:dialog> 
            </div>
        </h:form>
        <link rel="stylesheet"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/mercados/mercados.css"/>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>

        <script>
                                            $(document).ready(function () {
                                                $('img#logobb_menu').css('display', 'block');
                                            });
        </script>
        <style>

            #footer {
                position: relative;
                bottom: 0;
            }
            .ui-datascroller .ui-datascroller-content {
                margin: 0;
                padding: 0 !important;
                border: none !important;
            }
            .cbp-tm-menu {
                background-color: #AAA;
            }
            .pdf {
                background-color: #c7254e !important; 
                color: #f9f9f9 !important;
            }

            .csv {
                background-color: #0EB96A !important;
                color: #f9f9f9 !important;
            }
            .doc {
                background-color: #02639d !important;
                color: #f9f9f9 !important;
            }
            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;
                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }

        </style>
    </ui:define>
    <ui:define name="chamadaJquery" />
</ui:composition>
