<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>

    <ui:define name="conteudo">
        <div class="container" style="margin-top: 80px;">
            <div class="row">
               <h2>#{galleryController.selected.title}</h2> 
            </div>
        </div>
        <div class="container-fluid">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner container text-center" role="listbox">
                    <div class="item active">
                        <!--<div class="album">-->
                        <ui:repeat value="#{galleryController.imagensDaGaleria}" var="fotos">
                            <p:outputPanel styleClass="album" deferred="true" deferredMode="visible">
                                    <a href="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(fotos.image.archive.url)}"
                                       class="swipebox" title="#{fotos.image.title}">
                                        <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(fotos.image.archive.url)}" alt="image" width="300"/>
                                        <div class="overlay"></div>
                                    </a>
                            </p:outputPanel>
                        </ui:repeat>

                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>

        </div>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/slides.jquery.js"></script>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/slides.min.jquery"></script>
        <script type="text/javascript" src="../../../resources/swipebox-master/src/js/jquery.swipebox.js"></script>
        <link rel="stylesheet" href="../../../resources/swipebox-master/src/css/swipebox.css"/>
        <link rel="stylesheet"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/galeria_index.css"/>

        <style>
            #footer {
                position: relative;
                bottom: 0;
            }
        </style>
        <!--        <script>
                    $(function () {
                        // Set starting slide to 1
                        var startSlide = 1;
                        // Get slide number if it exists
                        if (window.location.hash) {
                            startSlide = window.location.hash.replace('#', '');
                        }
                        // Initialize Slides
                        $('#slides').slides({
                            preload: true,
                            preloadImage: 'img/loading.gif',
                            generatePagination: false,
                            play: 5000,
                            pause: 100000,
                            hoverPause: true,
                            // Get the starting slide
                            start: startSlide,
                            animationComplete: function (current) {
                                // Set the slide number as a hash
                                window.location.hash = '#' + current;
                            }
                        });
                    });
                </script>-->

        <script type="text/javascript">
            (function ($) {
                $('.swipebox').swipebox();
            })(jQuery);
        </script>

    </ui:define>
</ui:composition>
