<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<body>

<ui:composition template="./../../../resources/templates/template.xhtml">
    <ui:define name="msg-topo">

    </ui:define>
    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <h2>Álbuns</h2>
            </div>
        </div>

        <!-- Portfolio -->
        <script type="text/javascript">
            $(document).ready(function () {

                var $filterType = $('#portfolio_filter div.current').attr('data-value');
                var $holder = $('#portfolio_items');
                var $data = $holder.clone();
                var $preferences = {
                    duration: 600,
                    easing: 'easeInOutQuad'
                };

                $('#portfolio_filter > div').click(function (e) {

                    $('#portfolio_filter > div').removeClass('current');
                    var $filterType = $(this).attr('data-value');

                    $(this).addClass('current');

                    if ($filterType == 'all') {
                        var $filteredData = $data.find('li');
                    }
                    else {
                        var $filteredData = $data.find('li[data-type~=' + $filterType + ']');
                    }

                    $holder.quicksand($filteredData, $preferences);

                });

            });
        </script>

        <div class="container-fluid">
            <div class="row text-center">
                <div class="portfolio">
                    <div class="carousel-inner container text-center" role="listbox">
                        <div class="item active">
                            <h:form prependId="false" id="galleryImages">
                                <ul id="portfolio_items" class="clearfix">
                                    <ui:repeat var="galeria"
                                               value="#{galleryController.galeriaPaginacao.pageDataModel}">
                                        <li data-id="id1" class="portfolio_item">
                                            <a href="#{facesContext.externalContext.requestContextPath}/media/galeria/#{galeria.id}"
                                               rel="prettyPhoto" title="Custom Design">
                                                <h:panelGroup layout="block"
                                                              rendered="#{galleryController.capa2(galeria.id) != null}">
                                                    <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(galleryController.capa2(galeria.id).image.archive.url)}"
                                                         width="300"/>

                                                    <div class="overlay-galeria"></div>
                                                </h:panelGroup>
                                                <!--                                                <h:panelGroup layout="block" rendered="#{galleryController.capa2(galeria.id) == null}">
                                                                                                    <img src="#{facesContext.externalContext.requestContextPath}/superto/funcionario/empty.jpg"/>
                                                                                                    <div class="overlay-galeria"></div>
                                                                                                </h:panelGroup>-->
                                            </a>

                                            <div class="descricaoAlbum">
                                                <p class="text-album">#{galeria.title}</p>
                                                <h:outputText class="desc-album" value="#{galeria.publicationDate}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>                                                    
                                                </h:outputText>
                                                
                                            </div>
                                        </li>
                                    </ui:repeat>
                                </ul>
                            </h:form>
                        </div>
                    </div>
                </div>

                <center>
                    <div class="pagination clearfix">
                        <div class="links">
                            <p:commandLink value="Pagina Anterior . " update=":galleryImages" actionListener="#{galleryController.galeriaPaginacao.previousPage()}"/>
                            <p:commandLink value=" . Proxima Pagina" update=":galleryImages" actionListener="#{galleryController.galeriaPaginacao.nextPage()}"/>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <!-- Portfolio::END -->

        <link rel="stylesheet"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/galeria_index.css"/>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>
    </ui:define>

</ui:composition>

</body>
</html>
