<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
        >


    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>

    <ui:define name="conteudo">
        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <h2>Álbuns</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner container text-center" role="listbox">
                    <div class="item active">
                        <div class="album">
                            <a href="#{facesContext.externalContext.requestContextPath}/media/fotos">
                                <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                                <div class="overlay-galeria"></div>
                            </a>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <a href="#{facesContext.externalContext.requestContextPath}/media/fotos">
                                <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                                <div class="overlay-galeria"></div>
                            </a>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <a href="#{facesContext.externalContext.requestContextPath}/media/fotos">
                                <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                                <div class="overlay-galeria"></div>
                            </a>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <a href="#{facesContext.externalContext.requestContextPath}/media/fotos">
                                <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                                <div class="overlay-galeria"></div>
                            </a>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <a href="#{facesContext.externalContext.requestContextPath}/media/fotos">
                                <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                                <div class="overlay-galeria"></div>
                            </a>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <a href="#{facesContext.externalContext.requestContextPath}/media/fotos">
                                <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                                <div class="overlay-galeria"></div>
                            </a>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </div>


                    <div class="item">
                        <div class="album">
                            <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>
                        <div class="album">
                            <img src="../../../resources/images/imagens/mercados/3.jpg" alt=""/>

                            <div class="descricaoAlbum">
                                <p class="text-album">Álbum Festa BB</p>
                                <span class="desc-album">21/05/2014</span>
                                <span class="linkFotos">Fotos: 48</span>
                            </div>
                        </div>

                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/slides.jquery.js"></script>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/slides.min.jquery"></script>
        <link rel="stylesheet"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/galeria_index.css"/>
        <style>
            #footer {
                position: relative;
                bottom: 0;
            }
        </style>
        <script>
            $(function () {
                // Set starting slide to 1
                var startSlide = 1;
                // Get slide number if it exists
                if (window.location.hash) {
                    startSlide = window.location.hash.replace('#', '');
                }
                // Initialize Slides
                $('#slides').slides({
                    preload: true,
                    preloadImage: 'img/loading.gif',
                    generatePagination: false,
                    play: 5000,
                    pause: 100000,
                    hoverPause: true,
                    // Get the starting slide
                    start: startSlide,
                    animationComplete: function (current) {
                        // Set the slide number as a hash
                        window.location.hash = '#' + current;
                    }
                });
            });
        </script>
        <!--        <script>
                    $(function () {
                        $("#slides").slides();
                    });
                </script>   -->

    </ui:define>
</ui:composition>
