<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração - Painel Online
    </ui:define>
    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $("#side-menu a").removeClass("active");
                $("#side-menu li").removeClass("active");
                $("#li_painel_online").addClass("active");
                $("#a_painel_online").addClass("active");
                $("#a_painel_online span").removeClass("icon-dot");
                $("#a_painel_online span").addClass("icon-arrow-down7");
                $("#menu_painel_gerenciar").addClass("active");

                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $(this).addClass("active");

                });
            });
        </script>
    </ui:define>

    <ui:define name="content">
        <!--<p:growl autoUpdate="true" sticky="true" showDetail="true"/>-->
        <fieldset>
            <legend><h2>Painel Online</h2></legend>
            <h:form id="formDados" prependId="false">
                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 7px;">
                        <li role="presentation" class="active menu_btn_active">
                            <a href="#" onclick="PF('addDialog').show()">
                                <i class="icon-plus"></i> Ativar Painel
                            </a>
                        </li>
                        <li id="menu_editar" role="presentation"
                            class="#{painelOnlineController.produtoSelecionado != null ? '':'disabled'}">
                            <p:commandLink
                                    onclick="#{painelOnlineController.produtoSelecionado != null ? 'desativarPainel()':'mostraAtencao(\'Oops!\',\'Você não selecionou um destaque!\',2000)'}">
                                <i class="icon-trash"></i>
                                Desativar Painel
                            </p:commandLink>
                        </li>
                    </ul>
                </h:panelGroup>
                <br/>
                <p:dataTable id="painelTable" var="painel" value="#{painelOnlineController.listaPaineisVisiveis}"
                             emptyMessage="Sem Paineis Visíveis no momento!"
                             selectionMode="single" selection="#{painelOnlineController.produtoSelecionado}"
                             rowKey="#{painel.id}" resizableColumns="true" editable="true">

                    <p:ajax event="rowSelect" update=":formDados:menus :formDados:alertas" immediate="true"/>
                    <p:ajax event="rowUnselect" update=":formDados:menus" immediate="true"/>

                    <p:column headerText="Produto" filterBy="#{painel.descricao}" width="160" filterMatchMode="contains"
                              filterStyle="width: 90%;" style="font-size: 12px;">
                        <h:outputText value="#{painel.descricao}"/>
                    </p:column>
                    <p:column headerText="Visível" width="100" style="font-size: 1em;" styleClass="text-center">
                        <h:outputText value="" styleClass="icon-check-alt" style="color: green;"/>
                    </p:column>

                </p:dataTable>

                <h:panelGroup id="alertas">
                    <script type="text/javascript">
                        function verificaAdd() {
                            var ok = #{painelOnlineController.opeSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso!", "Painel salvo com sucesso!", 2000);
                                PF('addDialog').hide();
                            } else {
                                mostraError("Oops!", "Ocorreu um erro ao salvar o painel\nVerique os dados informados!");
                            }
                        }

                        function desativarPainel() {
                            swal({
                                        title: "Atenção",
                                        text: "O Painel será desativado!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Desativar!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        desabilitarPainel();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{painelOnlineController.opeSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso!", "Painel foi excluído com sucesso!", 2500);
                            } else {
                                mostraError("Oops!", "Ocorreu um erro ao excluir o painel!");
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="desabilitarPainel" action="#{painelOnlineController.edit()}"
                                 oncomplete="mostraAlerta()" update="@all"/>
            </h:form>

            <h:form id="formAdd" prependId="false">
                <p:dialog id="addDialog" widgetVar="addDialog" header="Adicionar Painel" showEffect="fade"
                          hideEffect="fade" modal="true" resizable="false" draggable="false">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <h4>Produto</h4>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <h4>Visível</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <p:autoComplete id="autoComplete_produto" required="true" maxResults="8" dropdown="true"
                                                value="#{painelOnlineController.produtoSelecionado}"
                                                completeMethod="#{painelOnlineController.completeProdutos}"
                                                converter="produtoConverter" var="produto"
                                                itemLabel="#{produto.descricao}" itemValue="#{produto}"
                                                forceSelection="true" requiredMessage="Produto é obrigatório!"/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <h:outputText value="" styleClass="icon-check-alt" style="color: green;"/>
                            </div>
                        </div>
                        <f:facet name="footer">
                            <div class="row text-left">
                                <div class="col-xs-5">
                                    <p:commandLink id="btn-add-painel" action="#{painelOnlineController.add}"
                                                   styleClass="btn btn-success"
                                                   value="Salvar Painel" update=":formDados:painelTable"/>
                                    <p:commandLink onclick="PF('addDialog').hide()" styleClass="btn btn-warning"
                                                   value="Cancelar" style="margin-left: 10px;"></p:commandLink>
                                </div>
                                <div class="col-xs-7">
                                    <p:messages autoUpdate="true"/>
                                </div>
                            </div>
                        </f:facet>
                    </div>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>