<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração - Painel Online
    </ui:define>
    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $("#side-menu a").removeClass("active");
                $("#side-menu li").removeClass("active");
                $("#li_painel_online").addClass("active");
                $("#a_painel_online").addClass("active");
                $("#a_painel_online span").removeClass("icon-dot");
                $("#a_painel_online span").addClass("icon-arrow-down7");
                $("#menu_painel_importar").addClass("active");

                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $(this).addClass("active");

                });
            });
        </script>
    </ui:define>

    <ui:define name="content">
        <p:growl autoUpdate="true" sticky="true" showDetail="true"/>
        <fieldset>
            <legend><h2>Painel Oline da Super Tocantins</h2></legend>
            <h:form id="formDados" prependId="false">
                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 7px;">
                        <li role="presentation" class="active menu_btn_active">
                            <a href="#" onclick="PF('importarDialog').show()"><i class="icon-plus"></i> Importar</a>
                        </li>
                    </ul>
                </h:panelGroup>
                <h:panelGroup id="alertas">
                    <script type="text/javascript">
                        function verificaAdd() {
                            var ok = #{painelImportarController.opeSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso!", "Painel salvo com sucesso!", 2000);
                                PF('importarDialog').hide();
                            } else {
                                mostraError("Oops!", "Ocorreu um erro ao salvar o painel\nVerique os dados informados!");
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarPainel" action="#{painelOnlineController.delete()}"
                                 oncomplete="mostraAlerta()" update=":formDados:alertas"/>
            </h:form>

            <h:form id="formAdd" prependId="false">
                <p:dialog id="importarDialog" widgetVar="importarDialog" header="Importar Dados" showEffect="fade"
                          hideEffect="fade" modal="true" resizable="false" draggable="false">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <h4>Produto</h4>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <h4>Upload de Dados</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div class="col-xs-10">
                                    <style>
                                        #autoComplete_produto_input {
                                            width: 100%;
                                        }
                                    </style>
                                    <p:autoComplete id="autoComplete_produto" required="true" maxResults="8"
                                                    dropdown="true"
                                                    value="#{painelImportarController.produto}"
                                                    completeMethod="#{painelImportarController.completeProdutos}"
                                                    converter="produtoConverter" var="produto"
                                                    itemLabel="#{produto.descricao}" itemValue="#{produto}"
                                                    forceSelection="true" style="width: 100%;"
                                                    requiredMessage="Produto é obrigatório!"/>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <p:commandLink styleClass="btn btn-info" value="+" style="margin-left: 5px;"
                                                   onclick="PF('addProdutoDialog').show();" immediate="true"
                                                   ajax="true"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <p:fileUpload mode="advanced"
                                              fileUploadListener="#{painelImportarController.fileUploadListener}"
                                              cancelLabel="Cancelar" uploadLabel="Ler Arquivo" label="Buscar"
                                              required="true" requiredMessage="Upload do arquivo é obrigatório!"/>
                            </div>
                        </div>
                        <f:facet name="footer">
                            <div class="row text-left">
                                <div class="col-xs-5">
                                    <p:commandLink id="btn-salvar-painel" action="#{painelImportarController.lerArq()}"
                                                   styleClass="btn btn-success"
                                                   value="Salvar Painel" ajax="true"
                                                   disabled="#{painelImportarController.uploadedFile == null}"
                                                   update="@all">
                                    </p:commandLink>
                                    <p:commandLink onclick="PF('importarDialog').hide()" immediate="true"
                                                   styleClass="btn btn-warning" value="Cancelar"
                                                   style="margin-left: 10px;"></p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </div>
                </p:dialog>
            </h:form>
            <h:form id="formAddProduto" prependId="false">
                <p:dialog id="addProdutoDialog" widgetVar="addProdutoDialog" header="Adicionar Produto"
                          showEffect="fade"
                          hideEffect="fade" modal="true" resizable="false" draggable="false">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <h3>Descricão do Produto</h3>
                                    <h:inputText id="inputProduto" class="form-control"
                                                 value="#{painelImportarController.newProduto}" required="true"
                                                 requiredMessage="Descrição é obrigatória!"/>
                                </div>
                            </div>
                        </div>
                        <f:facet name="footer">
                            <div class="row">
                                <div class="col-xs-12 text-left">
                                    <p:commandLink actionListener="#{painelImportarController.addProduto}"
                                                   styleClass="btn btn-success" value="Salvar Produto"
                                                   update=":formAdd:autoComplete_produto"/>
                                    <p:commandLink onclick="PF('addProdutoDialog').hide()" immediate="true"
                                                   styleClass="btn btn-warning" value="Cancelar"
                                                   style="margin-left: 10px;"/>
                                </div>
                            </div>
                        </f:facet>
                    </div>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>

