<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">


    <ui:define name="header">
        <style>
            .title-header{
                top: -10px;
                position: relative;
            }
            .logo-header *{
                display: inline-block;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Demandas
    </ui:define>

    <ui:define name="content">
        <p:tabView id="tabView">
            <p:tab title="Tabela de Demandas">
                <div>
                    <h2 class="col-xs-10">Lista de Demandas</h2>
                </div>
                <br/> <br/> <br/> <br/> <!-- Quebras de linha para bom funcionamento em versões antigas do firefox -->
                <h:form id="formDividas" prependId="false">

                    <div class="row">
                        <p:dataTable id="tblDemandas" widgetVar="tblDemandas" var="pedido"
                                     value="#{demandasController.lazyData}" lazy="true"
                                     selectionMode="single" selection="#{demandasController.selected}"
                                     emptyMessage="Nenhuma Demanda Existente!" rowKey="#{pedido.id}"
                                     filteredValue="#{demandasController.listaDePedidosFilter}" filterDelay="1000"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                     {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     style="margin-bottom:20px" paginator="true" rows="10" paginatorPosition="bottom">
                            <p:ajax event="rowSelect" oncomplete="PF('dlgModificar').show();" update=":formEditar:dlgModificar"/>
                            <p:ajax event="rowUnselect" update=":formEditar:dlgModificar :tabView:formDividas:tblDemandas"/>

                            <p:column  headerText="ID" filterMatchMode="contains"
                                       style="text-align: center;">
                                <h:outputText value="#{pedido.id}"/>
                            </p:column>
                            
                            <p:column filterBy="#{pedido.title}" headerText="Titulo" filterMatchMode="contains"
                                      style="text-align: center;">
                                <h:outputText value="#{pedido.title}"/>
                            </p:column>

                            <p:column filterBy="#{pedido.cliente}" headerText="Cliente" filterMatchMode="contains"
                                      style="text-align: center;">
                                <h:outputText value="#{pedido.cliente}"/>
                            </p:column>
                            
                            <p:column filterBy="#{demandasController.status}" headerText="Status" filterMatchMode="contains"
                                      style="text-align: center;">
                                <h:outputText value="#{demandasController.pegarStatus(pedido)}"/>
                            </p:column>

<!--                            <p:column filterBy="#{pedido.dataCadastro}" headerText="Data Cadastrada" filterMatchMode="contains"
                                      style="text-align: center;">
                                <h:outputText value="#{pedido.dataCadastro}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3"/>
                                </h:outputText>
                            </p:column>
                            
                            <p:column filterBy="#{pedido.dataFinalizado}" headerText="Data Finalizada" filterMatchMode="contains"
                                      style="text-align: center;">
                                <h:outputText value="#{pedido.dataFinalizado}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3"/>
                                </h:outputText>
                            </p:column>-->
                        </p:dataTable>
                    </div>
                </h:form>
            </p:tab>

            <p:tab title="Adicionar Demanda">
                <h:form id="frm3" prependId="false">
                    <p:accordionPanel>
                        <p:tab title="Adicionar Demanda">
                            <p:growl id="growl" showDetail="true" sticky="false"/>
                            <h:panelGroup id="painelGroup">
                                <h:panelGroup id="panelDetalhes">                           
                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-md-2">
                                            <h:outputText value="Título: "/>
                                        </div>
                                        <div class="col-md-2">
                                            <p:inputText value="#{demandasController.title}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-md-2">
                                            <h:outputText value="Cliente: "/>
                                        </div>
                                        <div class="col-md-2">
                                            <p:inputText value="#{demandasController.clie}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <h:outputText value="Descrição: "/>
                                        </div>
                                        <div class="col-md-8">
                                            <p:inputTextarea value="#{demandasController.desc}" style="width: 100%; overflow-y: scroll; max-height: 250px;"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="margin-left: 40%;">
                                        <p:commandButton id="comandConfirm" value="CADASTRAR" action="#{demandasController.add}"
                                                         update=":tabView :script:scriptAlert"
                                                         onclick="PF('dlgModificar').hide();">
                                            <p:confirm header="Confirmar Alteração"
                                                       message="Você tem certeza que deseja cadastrar a Demanda?"
                                                       icon="ui-icon-alert"/>
                                        </p:commandButton>
                                    </div>
                                </div>
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400"
                                                 height="150">
                                    <p:commandButton value="Confirmar" type="button"
                                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no"
                                                     icon="ui-icon-close"/>
                                </p:confirmDialog>
                            </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                    </p:accordionPanel>
                </h:form>
            </p:tab>
        </p:tabView>

        <h:form id="script">
            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                    function verificaOperacao(msgSucess, msgError) {
                        var ok = #{averbacaoController.opSucess};
                        if (ok) {
                            mostraSucesso("Sucesso", msgSucess, 5000);
                        } else {
                            mostraError("Ooops!", msgError, 5000);
                        }
                    }
                </script>
            </h:panelGroup>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog id="dlgModificar" widgetVar="dlgModificar" width="40%" closeOnEscape="true" position="center"
                      modal="true" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <div class="logo-header">
                        <ui:include src="/resources/images/imagens/svg/logoheader.svg"/>
                        <h3 class="title-header">Mais Informações</h3>
                    </div>
                </f:facet>
                        <h:panelGroup id="panelDetalhes">                           
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <h:outputText value="ID: "/>
                                    </div>
                                    <div class="col-md-2">
                                        <h:outputText value="#{demandasController.selected.id}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <h:outputText value="Título: "/>
                                    </div>
                                    <div class="col-md-2">
                                        <p:inputText value="#{demandasController.selected.title}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <h:outputText value="Cliente: "/>
                                    </div>
                                    <div class="col-md-2">
                                        <p:inputText value="#{demandasController.selected.cliente}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <h:outputText value="Data de Cadastro: "/>
                                    </div>
                                    <div class="col-md-2">
                                        <p:calendar id="dataCada" mask="true" pattern="dd/MM/yyyy" value="#{demandasController.selected.dataCadastro}" style="width: 1em;"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <h:outputText value="Data de Inicio: "/>
                                    </div>
                                    <div class="col-md-2">
                                        <p:calendar id="dataIni" mask="true" pattern="dd/MM/yyyy" value="#{demandasController.selected.dataInicio}" style="width: 1em;" disabled="#{demandasController.iniciada == false}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <h:outputText value="Data da Finalização: "/>
                                    </div>
                                    <div class="col-md-2">
                                        <p:calendar id="dataFinal" mask="true" pattern="dd/MM/yyyy" value="#{demandasController.selected.dataFinalizado}" style="width: 1em;" disabled="#{demandasController.finalizado == false}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <h:outputText value="Descrição: "/>
                                    </div>
                                    <div class="col-md-8">
                                        <p:inputTextarea value="#{demandasController.selected.text}" style="width: 100%; overflow-y: scroll; max-height: 250px;"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div style="margin-left: 35%;">
                                    <p:commandButton id="comandConfirm" value="Alterar" action="#{demandasController.edit}"
                                                     update=":tabView :script:scriptAlert"
                                                     onclick="PF('dlgModificar').hide();">
                                        <p:confirm header="Confirmar"
                                                   message="Você tem certeza que deseja alterar a Demanda?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandButton>
                                    <p:commandButton id="iniciar" value="iniciar" action="#{demandasController.setIniciada(true)}"
                                                     update=":tabView :script:scriptAlert"
                                                     onclick="PF('dlgModificar').hide();" >
                                        <p:confirm header="Confirmar"
                                                   message="Você tem certeza que deseja iniciar trabalhos na Demanda?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandButton>
                                    <p:commandButton id="finalizar" value="Finalizar" action="#{demandasController.setFinalizado(true)}"
                                                     update=":tabView :script:scriptAlert"
                                                     onclick="PF('dlgModificar').hide();">
                                        <p:confirm header="Confirmar"
                                                   message="Você tem certeza que deseja dar a Demanda por finalizada?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandButton>
                                </div>
                            </div>
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400"
                                             height="150">
                                <p:commandButton value="Confirmar" type="button"
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no"
                                                 icon="ui-icon-close"/>
                            </p:confirmDialog>
                        </h:panelGroup>
            </p:dialog>
        </h:form>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script>
                                        function criarCKEditor() {
                                            var conteudo = $('#inputhidden').val();
                                            $("#editorTextArea").ckeditor();
                                            CKEDITOR.instances.editorTextArea.setData(conteudo);
                                        }
        </script>
        <style>
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
            } 
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(2), .ui-widget-header .botoes .ui-state-active:nth-child(2) {
                background-color: #0596F3;
            }
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(4), .ui-widget-header .botoes .ui-state-active:nth-child(4) {
                background-color: #F2776E;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(3), .ui-widget-header .botoes .ui-state-active:nth-child(3) {
                background-color: #0EB96A;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(5), .ui-widget-header .botoes .ui-state-active:nth-child(5) {
                background-color: #A7A023;
            }           .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(6), .ui-widget-header .botoes .ui-state-active:nth-child(6) {
                background-color: #CF2222;
                color: #000;
            } 
        </style>
    </ui:define>
</ui:composition>

