/*
    FOLHA DE ESTILOS DO TEMPLATE DA SUPERTO

    Created on : 17/11/2014, 11:24:57
    Author     : Filipe & Vinicius
*/
@import url("/resources/css/font-face/fonts.css");

p.mercados{
    margin: 25px 0;
    line-height: 1.61;
}

#separador {
    margin: 25px auto;
    width: 98%;
    height: 9px;
    background: url("../..//images/imagens/backgrounds/separatorBG.png") repeat-x;
}

/* -----------------   CSS DEFAULT   -------------------- */
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
        font: inherit;
    vertical-align: baseline; 
    font-family: sans-serif;
}*/

html, body, #wrapper{
    font-family: sans-serif;
}

/* #Links  */
a, a:visited { 
    color: #444; 
    outline: 0; 
    text-decoration: none;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a:hover, a:focus { color: #045491; }
p a, p a:visited { line-height: inherit; }


/* --------------    FIM DO CSS DEFAULT    ------------------- */

/* -------------- INICIO MEDIA QUERIES     ------------------- */

@media all and (min-width: 1579px){
    .mercados_links div{
        font-size: 4em;
    }
}

@media all and (min-width: 900px) and (max-width: 1578px){
    .mercados_links div{
        font-size: 2em;
    }
}

@media all and (min-width: 280px) and (max-width: 1250px) {
    .container-fluid {  
        margin-top: 35px;
    }
}

/*@media all and (min-height: 859px){
    html, body, #wrapper{
        min-height: 100%;
    }
}*/

/* -------------- FIM MEDIA QUERIES        ------------------- */


body {
    font-family: sans-serif !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

#container{
    background: white;
}

#menu_logobb a img{
    width: 36px;
    opacity: 0.7;
}

#menu_logobb{
    width: 100%;
    height: 100%;
}

#div_menus #menu_logobb{
    position: relative;
    width: 36px;
    height: 51px;
    float: left;
    text-align: center;
    padding-top: 4px;
    margin-left: 20px;
    display: none;
}

#div_menus #menu_opcoes a div svg{
    height: 20px;
    margin: 20px auto;
}
#div_menus #menu_opcoes a div svg path{
    fill: white;
}
#div_menus #menu_opcoes a:hover div svg path{
    opacity: 0.5;
    fill: gray
}

#menu_logobb img:hover {

    opacity: 1;

    transition: opacity 0.2s linear 0s;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

#div_menus #menu_opcoes{
    position: relative;
    //width: 70%;
    float: right;
}

#div_menus{
    position: fixed;
    width: 100%;
    top: 0px; 
    right: 0px;
    height: 40px;
    z-index: 16;

    transition: all 0.2s ease-in;
}
.sombra-menu {
    background-color: rgba(38,38,38,1);
    height: 65px;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.47);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.47);
}


#menu_user {
    padding: 30px 0 0 0;
    margin: 0 20px 0 20px;
    font-size: 0.8em;
}
#div_menus #menu_opcoes div{
    float: left;
}

#div_menus #menu_opcoes .item-menu {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 1.2em;
}

#div_menus #menu_opcoes .item-menu-fundo{
    background: #201f1d;
}
#div_menus #menu_opcoes .item-menu-fundo:hover{
    background: #171616;
}

#div_menus #menu_opcoes .item-menu-border{
    border-left: 1px solid rgba(23, 22, 22, 1);

}
#div_menus #menu_opcoes .item-menu-border{
    border-right: 1px solid rgba(23, 22, 22, 1);
}

.img-usuario {
    right: -10px;
    position: relative;
}
.popover-link:hover{
    text-shadow: 0px 1px 2px gray;
    text-decoration: none;
    outline: none;
}

.popover-link svg{
    height: 20px;
}
.popover-link svg path{
    fill: white;
}

#carousel-topo{
    margin-top: 65px;
}

.galeria{
    height: auto;
    max-height: 490px;
    overflow: hidden;
}

.galeria .item img{
    width: 100%;
}
.carousel-inner{
    height: 100%;
}
.galeria img{
    width: auto;
}

#div_logo_bb{
    position: absolute;
    top: 25px;
    margin-top: 7.5%;
    left: 3%;
}

#logo_bb{
    opacity: 0.3;
    width: 50%;
    height: auto;
}

#logo_bb:hover{
    opacity: 0.8;
}

.mpic{
    opacity: 0.6;
}

.mpic svg{
    width: 100%;
    height: 50px;
}

#div_mercados{
    height: 100px;
}

h4.title_mercados {
    font-family: sans-serif;
}

#div_mercados div{
    position: relative;
    height: 100%;
    width: 12.5%;
    float: left;
    text-align: center;
}

#div_mercados div:hover{

}

#div_mercados div div{
    width: 100%;
    padding-top: 15px;
    font-size: 3.5em;
}

#div_mercados div a{
    color: rgb(75,75,75);
    height: 100%;
    width: 100%;
}

.title_mercados{
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.mercados_links:hover {
    text-shadow: 1px 1px;
}

#div_broadcast{
    position: relative; 
    width: 100%; 
    height: 40px; 
    margin: 25px 0px 0px;
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    color: gray;
    font-weight: bold;
    font-size: 1.5em; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
}

#div_broadcast marquee{
    /*margin-top: 12px;*/
    padding: 5px;
}

#footer {
    width: 100%;
    padding: 30px 30px 15px 30px;
    margin-top: 20px;
    background: url("../..//images/imagens/backgrounds/bot-text-background.png") no-repeat top center transparent;
    clear: both;
    font-size: 10px;

}

#logo_tocantins{
    border-right: 1px solid #B9B9B9;
    padding-right: 15px;
}

#logo_tocantins span {
    vertical-align: 7px;
    font-size: 12px;
}

#logo_tocantins svg {
    height: 30px;
    margin-right: 5px 
}

#links_footer div{
    display: inline-block;
    margin: 0px;
}

#links_footer .icones-footer{
    margin: 0 0 0 15px;
}

#links_footer div a:hover{
    text-decoration: none;
}

#mapa-bb{
    font-size: 2em;
}

#mapa-bb svg path{
    fill: gray;
}

#telefone-bb{
    font-size: 2em;
}
#telefone-bb svg path{
    fill: gray;
}

#email-bb{
    font-size: 2em;
}
#email-bb svg path{
    fill: gray;
}


/* Float Shadow */
.float-shadow {
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.float-shadow:hover, .float-shadow:focus, .float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.float-shadow:hover:before, .float-shadow:focus:before, .float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.caixaDestaque {
    padding: 10px;
    background-color: rgba(95,95,97,0.5);
    border-radius: 5px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border: 1px solid rgba(225,225,225, 0.3);
}

h1.tituloDestaque {
    font-size: 18px;
    margin: 0 0 10px 0;
    font-family: 'Oswald', 'HelveticaNeue', sans-serif;
}
h3.subTituloDestaque {
    font-size: 13px;
    margin: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 7px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
    width:23px !important;
}


/* sobrescreve css */
.ui-selectonemenu .ui-selectonemenu-trigger {
    padding: 3px 3px 0 3px;
    width: 25px !important;
}

.carousel-indicators li { 
    border: 1px solid rgb(176, 176, 176) !important;
}
.carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.3) !important;
}