.tooltip {
    display: inline;
    position: relative;
    z-index: 999;
    opacity: 1;
}

/* Gap filler */
.tooltip::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 100%;
    right: 100%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip:hover::before {
    /*pointer-events: auto;*/
}

/* Tooltip */

.tooltip-content {
    position: relative;
    z-index: 9999;
    top: 5px;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
    cursor: default;
    font-weight: 400;
    color: white;
    background: #262626;
    //right: -15px;
    //opacity: 0;
    //right: 20%;
    /*margin: 0 0 20px -150px;*/
    /*	pointer-events: auto;*/

    //-webkit-font-smoothing: antialiased;
    //-webkit-transition: opacity 0.3s 0.3s;
    //transition: opacity 0.3s 0.3s;
}

.tooltip:hover .tooltip-content {
    opacity: 1;
    /*	pointer-events: auto;*/
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.tooltip-content span {
    display: block;
    width: 260px;
}

.tooltip-text {
    //border-top: 10px solid #fffaf0;
    overflow: hidden;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}

.tooltip:hover .tooltip-text {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.tooltip-inner {
    //background: rgba(75,75,75,0.95);
    background: #262626;
    padding: 25px 15px 15px 15px;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    text-align: left;
    max-width: 260px;

    border-right: 1px solid #171616;
    border-left: 1px solid #171616;
    border-bottom: 1px solid #171616;


    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    margin: 0;
}

.tooltip-inner a {
    color: white !important;
}

.tooltip:hover .tooltip-inner {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Arrow 

.tooltip-content::after {
        content: '';
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        top: 18px;
        right: -60px;
        pointer-events: auto;
        border-color: transparent;
        border-bottom-color: #262626;
        border-width: 10px;
}
*/

.link-tooltip{
    width: 100%;
    display: block;
    vertical-align: middle;
    height: 30px;
    margin: 5px 0;
    border-bottom: 1px solid #303030;
}

.svg {
    margin-top: 4px;
    display: inline-block;
    float: left;
}

.logout{
    position:absolute;
    top: 30px;
    left: 40px;
}