<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
        >

<body>

<ui:composition template="./../../resources/templates/template.xhtml">

    <ui:define name="msg-topo">
    </ui:define>
    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">
        <div class="row">
            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Página Inicial</span></a>
                    <a href="#" class="last_bc"><span>Compra de Dividas</span></a>
                </div>
            </div>
        </div>
        <h1>Gráficos</h1>
        <p:separator style="margin-bottom:10px"/>

        <h2>Prefixo #{loginController.funcionario.prefixo}</h2>

        <h:panelGrid columns="2">
            <p:lineChart value="#{chartBean.linearModel}" legendPosition="e" zoom="false" animate="true"
                         title="Linear Chart" minY="0" maxY="10" style="width:400px;" widgetVar="chart"/>

            <p:barChart id="basic" value="#{chartBean.categoryModel}" legendPosition="ne"
                        title="Basic Bar Chart" min="0" max="200" style="width:400px" animate="true"/>

        </h:panelGrid>
        <p:pieChart id="sample" value="#{chartBean.pieModel}" legendPosition="w"
                    title="Sample Pie Chart" style="width:400px;height:300px"/>

        <p:pieChart id="custom" value="#{chartBean.pieModel}" legendPosition="e" fill="false" showDataLabels="true"
                    title="Custom Options" style="width:400px;height:300px" sliceMargin="5" diameter="150"/>
    </ui:define>
</ui:composition>

</body>
</html>
