<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
        >

    <ui:define name="title">
        Intranet Administração - Videos
    </ui:define>

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/player/skin/minimalist.css"/>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/player/flowplayer.min.js"></script>
    </ui:define>

    <ui:define name="content">
        <div class="flowplayer"
             data-swf="#{facesContext.externalContext.requestContextPath}/resources/player/flowplayer.swf"
             data-ratio="0.417">
            <video>
                <source type="video/mp4" src="/intranet/archives/7738609_sakura_animes_psycho-pass_-_07_punch.mp4"/>
            </video>
        </div>
    </ui:define>
</ui:composition>
