<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Intranet Administração - Adicionar Videos
    </ui:define>
    <ui:define name="content">
        <fieldset>
            <legend><h2>Adicionar Vídeo</h2></legend>
            <h:form enctype="multipart/form-data" id="newVideo">
                <h:panelGrid columns="1" style="font-size: 12px;">
                    <p:messages id="msg"/>
                    <h:outputLabel value="Vídeo"/>
                    <p:fileUpload fileUploadListener="#{videoController.fileUploadListener}"
                                  mode="advanced"
                                  sizeLimit="1000000000"
                                  update="tit"
                                  label="Selecionar"
                                  allowTypes="/(\.|\/)(mp4)$/"/>
                    <h:outputLabel value="Título"/>
                    <p:inputText id="tit" value="#{videoController.value.title}" size="50"/>
                    <h:outputLabel value="Descrição"/>
                    <p:inputTextarea value="#{videoController.value.description}" autoResize="false"
                                     style="font-size: 12px;" cols="50" rows="10"/>
                    <h:outputText value="Visível"/>
                    <p:selectBooleanCheckbox value="#{videoController.value.visible}"/>

                    <h:outputText value="Setor"/>
                    <p:selectOneMenu value="#{videoController.value.category}">
                        <f:selectItems value="#{utilController.categoryValues}" var="g"
                                       itemValue="#{g.asString()}" itemLabel="#{g.asString()}"/>

                    </p:selectOneMenu>
                    <br/>
                </h:panelGrid>
                <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                <p:commandButton value="Salvar" actionListener="#{videoController.add()}" update="newVideo"
                                 style="font-size: 12px;"/>
                <p:button href="javascript:history.back()" value="Voltar" style="font-size: 12px;"/>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
