<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="title">
        Intranet Administração - Gerenciar Vídeos
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Relatórios</h2></legend>

            <h:form id="form" prependId="false" style="font-size: 11px;">

                <p:contextMenu for="videos">
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="PF('confirmation').show();"/>
                    <p:menuitem value="Editar" id="teste" icon="ui-icon-pencil" style="font-size: 11px;"
                                onclick="PF('dlg').show();"/>
                    <p:menuitem value="Gerenciar comentários" ajax="false" style="font-size: 11px;"
                                action="pretty:vcomentarios">

                    </p:menuitem>

                </p:contextMenu>


                <p:menubar id="menus" style="height: 30px; width: 590px;box-sizing: content-box;">
                    <p:menuitem value="Adicionar" icon="ui-icon-disk" style="font-size: 11px;" url="/admin/videos/add"/>
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="PF('confirmation').show();" rendered="#{videoController.selected != null}"/>
                    <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                rendered="#{videoController.selected != null}" onclick="PF('dlg').show();"/>
                </p:menubar>
                <br/>

                <p:dialog id="editar" widgetVar="dlg" header="Editar vídeo" width="425"
                          resizable="false" showEffect="clip" hideEffect="clip" dynamic="true">
                    <h:panelGrid columns="1">
                        <h:outputLabel value="Título"/>
                        <p:inputText id="tit" value="#{videoController.selected.title}" size="50"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea value="#{videoController.selected.description}" autoResize="false"
                                         style="font-size: 12px;" cols="50" rows="10"/>
                        <h:outputText value="Visível"/>
                        <p:selectBooleanCheckbox value="#{videoController.selected.visible}"/>
                        <br/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221);"/>
                        <p:commandButton value="Salvar" actionListener="#{videoController.edit()}"
                                         update=":form:videos :form:editar"/>
                    </h:panelGrid>
                </p:dialog>

                <p:dialog id="v" widgetVar="vdlg" header="#{videoController.selected.title}" width="500" height="260"
                          resizable="false" showEffect="clip" hideEffect="clip" dynamic="true">
                </p:dialog>


                <p:dataTable id="videos" var="video" value="#{videoController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 600px;"
                             selectionMode="single" selection="#{videoController.selected}"
                             rowKey="#{video.id}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" lazy="true">

                    <p:ajax event="rowSelect" update=":form:menus :form:confirmDialog :form:editar :form:v"/>
                    <p:ajax event="rowUnselect" update=":form:menus :form:confirmDialog :form:editar :form:v"/>

                    <p:column headerText="Título" filterBy="#{video.title}" filterMatchMode="contains"
                              style="font-size: 12px;">
                        #{video.title}
                    </p:column>

                    <p:column headerText="Autor publicação" style="font-size: 12px;">
                        #{video.video.userUploaded.nome}
                    </p:column>

                    <p:column headerText="Bloqueado" style="font-size: 12px;">
                        #{video.visible}
                    </p:column>
                    <p:column headerText="Descrição" style="font-size: 12px;">
                        #{video.description}
                    </p:column>

                </p:dataTable>

                <p:confirmDialog id="confirmDialog"
                                 message="Realmente deseja excluir o vídeo: #{videoController.selected.title} ?"
                                 header="Comfirmar exclusão" severity="alert" widgetVar="confirmation">

                    <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                     actionListener="#{videoController.delete()}" update=":form:videos"/>
                    <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                </p:confirmDialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
