<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

        <!--
        *******************************************************************************
                                                                BB
            Superintendencia do BB - Tocantins               BBBBBBBB               BBB
                                                           BBBBBBBBBBBB           BBBBB
                                                         BBBBBBBBBBBBBBBB       BBBBBBB
                                                       BBBBBBBBB   BBBBBBBB   BBBBBBBBB
                                                     BBBBBBBBB       BBBBBBBB   BBBBBB
                                                    BBBBBBBBB           BBBBBBBB  BBB
                                                 BBBBBBBBB               BBBBBBBB
                                               BBBBBBBBB             BBB   BBBBBBBB
                                             BBBBBBBBBBBBBB        BBBBBBB   BBBBBBBB
                                           BBBBBBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                             BBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                               BBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
        *******************************************************************************
        -->

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content="Filipe Damasceno - Vinicius Aires - Rodrigo - Jhonatan - Jhemeson - Leonardo"/>

        <title>
            <ui:insert name="title"/>
        </title>

        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/iconfonts/style.css"/>

        <!-- Bootstrap Core CSS -->
        <link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/bootstrap3/css/bootstrap.min.css"/>

        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/template_administracao/sb-admin-2.css"/>

        <!--Css do SweetAlert-->
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>

        <ui:insert name="header"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/resources/images/icones/ico/favicon.ico"/>
    </h:head>

    <h:body>

        <div id="wrapper">
            <nav id="navbars" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin" style="padding: 4px 4px 4px 10px;"><img class="img-responsive" src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/icon_bbhorizontal.svg" style="height: 100%;"/></a>
                </div>
                <ul class="nav navbar-top-links navbar-right" style="margin-right: 0px;">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa icon-user5"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <h:form>
                                    <h:commandLink  class="icon-logout" action="#{loginController.logout()}" value=" Logout" >
                                    </h:commandLink>
                                </h:form>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" style="height: 39px;" placeholder="Search..."/>
                                    <span class="input-group-btn">
                                        <button class="btn icon-search2" type="button" style="height: 40px;">
                                        </button>
                                    </span>
                                </div>
                            </li>
                            <ui:insert name="menu_lateral">
                                <li>
                                    <a class="active" href="/"><i class="icon-home3"></i> Intranet</a>
                                </li>
                                <li id="li_menu_comunicacao">
                                    <a id="a_menu_comunicacao" href="#" class="btnMenu"><i class="icon-bullhorn"></i> Comunicação <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                    <ul class="nav nav-second-level">                                        
                                        <li>
                                            <a href="#" class="btnMenu"><i class="icon-newspaper"></i> Notícias <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                            <ul class="nav nav-second-level">
                                                <li>
                                                    <a href="/admin/news/add"><i class="icon-publish"/> Publicar</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/gerenciar/news"><i class="icon-cog"/> Gerenciar Notícias</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/destaques"><i class="icon-star3"/> Destaques de Mercados</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-feed"></i> Curiosidades</a>
                                            <ul class="nav nav-second-level">
                                                <li>
                                                    <a href="/admin/comunicacao/addcuriosidades"><i class="icon-publish"/> Publicar Curiosidades</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/comunicacao/gerenciarcuriosidades"><i class="icon-cog"/> Gerenciar Curiosidades</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/admin/comunicacao/broadcast"><i class="icon-feed"></i> Broadcast</a>
                                        </li>
                                        <li>
                                            <a id="menu_destaquesbb" href="/admin/comunicacao/destaquebb"><i class="icon-feed"></i> Golaço</a>
                                        </li>                             
                                        <li>
                                            <a id="menu_dicadodia" href="/admin/comunicacao/dicas"><i class="icon-feed"></i> Dica do Dia BB</a>
                                        </li>
                                        <li>
                                            <a href="/admin/galeria"><i class="icon-pictures"></i> Fotos</a>
                                        </li>
                                    <!--    <li id="li_painel_online">
                                            <a id="menu_painel_gerenciar" href="/admin/painelonline/gerenciar"><i class="icon-tools"></i> Painel Online</a>
                                        </li>-->        
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="btnMenu"><i class="icon-tools"></i> Ferramentas<span style="position: absolute;right: 5px;" class="icon-dot" ></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="/admin/resolve/add">Resolve</a>
                                        </li>
                                        <li>
                                            <a href="/admin/averbacaoAdm">Portal Averbação</a>
                                        </li>
                                        <li>
                                            <a href="/admin/ausenciaAdm">Portal de Ausências</a>
                                        </li>
                                        <li>
                                            <a href="/admin/seguridadAdm/">Agenda da Seguridade</a>
                                        </li>
                                        <li>
                                            <a href="/admin/simuladorFundos">Simulador de Fundos</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="btnMenu"><i class="icon-file3"></i> Documentos <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="/admin/management/reports"><i class="icon-cog"></i> Gerenciar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="btnMenu"><i class="icon-office"></i> Institucional <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="/admin/institucional/funcionarios"><i class="icon-users3"></i> Funcionários</a>
                                        </li>
                                        <li>
                                            <a href="/admin/institucional/equipes"><i class="icon-users3"></i> Equipe</a>
                                        </li>                                        
                                        <li>
                                            <a href="/admin/institucional/clientes"><i class="icon-users3"></i> Clientes</a>
                                        </li>                                        
                                        <li>
                                            <a href="/admin/institucional/gerenciar-agencias"><i class="icon-library"></i> Gerenciar Agências</a>
                                        </li>
                                        <li>
                                            <a href="/admin/institucional/gerenciar-produtos"><i class="icon-library"></i> Gerenciar Produtos</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="li_humanograma">
                                    <a id="a_humanograma" href="#" class="btnMenu"><i class="icon-th"></i> Humanograma 
                                        <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                    <ul class="nav nav-second-level">                                        
                                        <li>
                                            <a id="humanograma_addAssunto" href="/admin/Humanograma/addassunto"><i 
                                                    class="icon-tools"></i> Gerenciar Atribuições</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="li_ti">
                                    <a id="a_ti" href="#" class="btnMenu"><i class="icon-th"></i> T.I.
                                        <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                    <ul class="nav nav-second-level">                                        
                                        <li>
                                            <a id="ti_demandas" href="/admin/ti/demandas"><i 
                                                    class="icon-tools"></i> Gerenciar Demandas</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="btnMenu"><i class="icon-cog"></i> Opções <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="/admin/security/roles"><i class="icon-key"></i> Permissões</a>
                                        </li>
                                        <li>
                                            <a href="/admin/security/groups"><i class="icon-key"></i> Gerenciar Grupos</a>
                                        </li>
                                        <li>
                                            <a href="/admin/security/modulos"><i class="icon-key"></i> Gerenciar Módulos</a>
                                        </li>
                                        <li>
                                            <a href="/admin/acessos/acessos"><i class="icon-key"></i> Histórico de Acessos</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btnMenu"><i class="icon-key"></i> Documentação do Sistema <span style="position: absolute;right: 5px;" class="icon-dot"></span></a>
                                            <ul class="nav nav-second-level">                                        
                                                <li>
                                                    <a href="/resources/Documentação/MANUALDOESTAGIÁRIO.pdf"><i class="icon-key"></i>Manual do Estagiário</a>
                                                </li>
                                                <li>
                                                    <a href="/resources/Documentação/DiagramaTelas.pdf"><i class="icon-key"></i>Diagrama de Navegação</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ui:insert>
                        </ul>
                    </div>
                </div>


            </nav>

            <div id="page-conteudo">
                <ui:insert name="content"/>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.btnMenu').click(function () {
                    if ($(this).children('span').attr('class') === "icon-arrow-down7") {
                        $(this).children('span').removeClass("icon-arrow-down7").addClass("icon-dot");
                    } else {
                        $('.btnMenu').children('span').removeClass("icon-arrow-down7").addClass("icon-dot");
                        $(this).children('span').toggleClass("icon-dot");
                        $(this).children('span').toggleClass("icon-arrow-down7");
                    }
                });
            });
        </script>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/gif/loading.gif"/>
        </p:dialog>


        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/bootstrap3/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/metisMenu/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/sb-admin-2.js"></script>

        <!--SweetAlert-->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>

        <!--Internacionalização das mensagens do SweetAlert-->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>

    </h:body>
</html>
