<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" >
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/resources/images/shortcut.png" type="image/x-icon" />
            <title>
                <ui:insert name="title" />
            </title>
            <link href="#{facesContext.externalContext.requestContextPath}/resources/css/admin-css.css" rel="stylesheet" type="text/css" />
            <script src="#{facesContext.externalContext.requestContextPath}/resources/js/admin.js" type="text/javascript" language="JavaScript" />
            <style>

                #item_img:hover{
                    background-color: #DDD;
                }
            </style>
            <ui:insert name="header" />
        </h:head>
        <h:body>
            <div id="container">
                <div id="header">
                    <ui:include src="../../admin/top.xhtml" />
                </div>

                <div id="bgwrap">
                    <div id="content">
                        <div id="main">
                            <ui:insert name="content" />
                        </div>
                    </div>

                    <div id="sidebar">
                        <ui:insert name="leftmenu" />
                        <h2 style="padding-left: 20px">Calendário</h2>
                        <div style="margin-left: 35px">
                            <p:calendar pattern="dd/MM/yyyy" locale="pt_BR" mode="inline" showButtonPanel="true" />
                        </div>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div id="footer">
                    <!--<ui:insert name="footer">-->
                        <ui:include src="../../admin/footer.xhtml" />
                    <!--</ui:insert>-->
                </div>
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function()
                {
                    jQuery("#breadCrumb0").jBreadCrumb();
                })
            </script>
        </h:body>
    </f:view>
</html>

