<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:saot="http://shiro.apache.org/tags">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Intranet Super TO</title>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/stylesheets/skeleton.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/stylesheets/style.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/stylesheets/flexslider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/stylesheets/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/stylesheets/carousel.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/jscrollpane/jscrollpane.css" media="screen" />

        <ui:insert name="header" />
        <link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/resources/images/shortcut.png"/>
        <style>
            .at{
                width: 100px;
            }            

            .testeColumn{
                padding: 10px;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".header_mail").hover(function () {
                    $('#dropdown-2').show();
                    $('#dropdown-2').focus();
                });

                $("#dropdown-2").on('mouseleave', function () {
                    $(this).hide('slow');
                });
            });
        </script>
    </h:head>
    <h:body>
        <div id="wrapper">
            <div class="container" style="margin: 0; padding: 0; width: 100%;">
                <p:dialog >

                </p:dialog>
                <div class="header clearfix row">
                    <div class="eight columns header_left" style="height: ">
                        <a href="#{facesContext.externalContext.requestContextPath}/"><img src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/images/logotipo.png"/></a>
                    </div>
                    <div class="eight columns">
                        <div class="header_right">
                            <div class="header_contacts clearfix">
                                <a href="#" class="header_mail" data-dropdown="#dropdown-2" >
                                    <h:outputText  id="user_panel" value="#{loginController.funcionario.nome}" />
                                    <!--                                    <ui:remove>
                                    
                                                                            <p:overlayPanel id="userPanel" for="user_panel" showEffect="blind" hideEffect="fade" style="background-color: white;"
                                                                                            showEvent="mouseover" hideEvent="mousedown" dismissable="false">
                                                                                <div style=" width: 100px; ">
                                    
                                                                                </div>
                                                                            </p:overlayPanel>
                                                                        </ui:remove>-->
                                </a>
                                <h:form style="clear: both; margin-left: 310px;" prependId="false">
                                    <div id="dropdown-2" class="dropdown dropdown-tip has-icons">
                                        <ul class="dropdown-menu" >
                                            <saot:hasRole name="funcionario" >
                                                <li class="painel">
                                                    <a href="#{facesContext.externalContext.requestContextPath}/perfil" >Painel</a>
                                                </li>
                                            </saot:hasRole>
                                            <saot:hasRole name="administrador" >
                                                <li class="admin">
                                                    <a href="#{facesContext.externalContext.requestContextPath}/admin" >Administração</a>
                                                </li>
                                            </saot:hasRole>
                                            <li class="dropdown-divider"></li>

                                            <li class="logout">
                                                <h:commandLink action="#{loginController.logout()}" value="Sair" />
                                            </li>                
                                        </ul>
                                    </div>
                                </h:form>
                            </div>
                            <div class="header_soc_search clearfix">
                                <div class="header_search">
                                    <!--     <form class="search" action="#" method="get">
                                            <button class="button_search"></button>
                                            <input name="s" id="s" type="text" value="Pesquisar ..." onclick="this.value = '';"/>
                                        </form>-->
                                </div>


                            </div> 
                        </div>
                    </div>
                </div>
                <ui:insert name="conteudo" />
            </div>

            <!-- Footer -->
            <div id="footer" class="container">
                <div class="row footer_inside">
                    <div class="four columns">
                        <h3>O Site</h3>
                        <p>Bem vindo ao novo site da Super TO. Estamos melhorando esta ferramenta de comunicação para facilitar ainda mais o acesso das agências aos serviços e informações que disponibilizamos.</p>
                    </div>
                    <div class="four columns">
                        <h3 class="margined_left">Navegação</h3>
                        <ul class="margined_left">
                            <li><a href="#{facesContext.externalContext.requestContextPath}/">Página Inicial</a></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/noticias">Notícias</a></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/media/galerias">Álbuns</a></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/media/videos">Vídeos</a></li>                            
                            <li><a href="#{facesContext.externalContext.requestContextPath}/organograma">Organograma</a></li>
                        </ul>
                    </div>

                    <div class="four columns">
                        <h3>Contato</h3>
                        <div class='icon_phone' title='Phone'>(63) 3226-3400</div>
                        <a href="mailto:superto@bb.com.br"><div class='icon_mail' title='Email'>superto@bb.com.br</div></a>
                        <a href="https://www.google.com.br/maps/dir/-10.1872724,-48.3272427//@-10.1872363,-48.326569,567m/data=!3m1!1e3?hl=pt-BR" target="_blank"><div class='icon_loc' title='Location'>Quadra 104 sul rua SE-5 nº 22, 2º andar</div></a>

                        <div class='clear'></div>
                        <div class='h10'></div>

                    </div>
                </div>
                <div class="clear"></div>
                <div class="footer_btm">

                </div>
            </div>
        </div>
        <div id="dropdown-1" class="dropdown dropdown-tip dropdown-anchor-right">
            <ul class="dropdown-menu" >
                <li style="border: none;"><span style="padding-left: 12px; color: #383838">5 novas atualizações</span></li>                
                <ui:remove>
                    <ui:repeat var="notification" value="#{notificacaoControle.notificacoes(10)}">
                        <li>
                            <a href="#{notification.notificao.URL}">
                                <h:outputText value="#{notification.notificao.descricao}" />
                                <br/>
                                <span class="time">
                                    há 23 minutos
                                </span>
                            </a>
                        </li>
                    </ui:repeat>


                    <li>
                        <a href="#2">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#3">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#3">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li class="new">
                        <a href="#3">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#3">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#3">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#3">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#3">
                            <h:outputText value="João nova mensagem" />
                            <br/>
                            <span class="time">
                                há 23 minutos
                            </span>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="#4" >Veja todas as notificações
                            <div style="display: inline-block; margin-top: 5px;" >
                                <span class="ui-icon ui-icon-arrowthick-1-e" />
                            </div>
                        </a>
                    </li>
                </ui:remove>
            </ul>
            <script>
                $(document).on('keydown', function (e) {
                    if (e.keyCode === 27) {
                    }
                });

                $(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() != 0) {
                            $('#toTop').fadeIn();
                            console.log("rfefsdf");
                        } else {
                            $('#toTop').fadeOut();
                        }
                    });

                    $('#toTop').click(function () {
                        $('body,html').animate({scrollTop: 0}, 800);
                    });
                });

            </script>            
        </div>
        <a href="#" id="toTop" class="entypo up-open" style="display: inline;">
            <i></i></a>

        <!--Chamada do JavaScrip-->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/jscrollpane/jscrollpane.min.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/common.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/sequence.jquery-min.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/jquery.quicksand.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/templates/resources/js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/easyTooltip.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.dropdown.js"></script>
        <!--Chamada do JavaScrip-->
    </h:body>

</html>
