<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:saot="http://shiro.apache.org/tags"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Intranet Super TO</title>

        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/bootstrap3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/template_superto/tooltip-line.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/template_superto/style_template_superto.css"/>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>

        <!-- CSS DO MENU -->
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/css/component.css"/>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/js/cbpTooltipMenu.min.js" />
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/Gruntfile.js" />
        <link rel="shortcut icon" href="/resources/images/icones/ico/favicon.ico"/>


        <ui:insert name="chamadaJquery">
            <script src="/resources/js/jquery/jquery.min.js" />
        </ui:insert>


        <script type="text/javascript">
            $(document).ready(function () {
                $('.navbar-header .nav-toggle').click(function () {
                    $('ul#cbp-tm-menuzz').slideToggle();
                });
                var menu = new cbpTooltipMenu(document.getElementById('cbp-tm-menu'));
            });

            $(window).resize(function () {
                if ($(window).width() > 700) {
                    $('#cbp-tm-menu').css('display', 'block');
                }
            });

        </script>
        <style>
            .cbp-tm-menu svg path{
                fill: #FFFFFF; 
            }
            
            .cbp-tm-menu svg:hover path {
                fill: #02639d;
            }
            
            #RESOLVE svg path{
                fill: #FFAA00;
            }
           
            #RESOLVE svg:hover path {
                fill: #02639d;
            }
            
            #AVERB svg path{
                fill: #55BB88;
            }
           
            #AVERB svg:hover path {
                fill: #02639d;
            }

        </style>


        <ui:insert name="header" />
    </h:head>
    <h:body>
        <div id="container">
            <ui:insert name="slider">
                <div id="carousel-topo" class="galeria carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoSuper)}" varStatus="cont">
                            <li data-target="#carousel-topo" data-slide-to="#{cont.index}" class="#{cont.index eq '0'? 'active':''}"></li>
                        </ui:repeat>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoSuper)}" varStatus="aux">
                            <div class="item #{aux.index eq '0'? 'active':''}">
                                <a href="#{destaqueController.enderecoUrl(des)}" target="_blank"
                                   title="Clique aqui para saber mais.">
                                    <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(des.imagem.archive.url)}" style="min-height: 350px;"/>
                                </a>
                            </div>
                        </ui:repeat>
                    </div>
                </div>
                <div id="div_logo_bb">
                    <a id="link_menu_bb" href="#{facesContext.externalContext.requestContextPath}/" style="outline: none;">
                        <img id="logo_bb" src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/logo_superGrey.svg"/>
                    </a>
                </div>
            </ui:insert>

            <ui:insert name="header_menu">

                <h:form id="formMenu">
                    <div class="navbar-header">
                        <a href="#{facesContext.externalContext.requestContextPath}/">
                            <img id="logobb_menu" src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/logo_superGrey.svg" style="height: 50px"/>
                        </a>
<!--                        <div class="nav-toggle" id="nav-header-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>-->

                        <ul id="cbp-tm-menu" class="cbp-tm-menu">
                            <li>
                                <a href="/" id="toolHome" title="HOME">
                                    <ui:include  src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/home3.svg"/>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/resolve" title="RESOLVE" id="RESOLVE">                         
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/lightbulb-o.svg"/>
                                </a>
                            </li>

                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/portalAverbacao" title="PORTAL AVERBAÇÃO" id="AVERB">                         
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/icon-portal-averbacao.svg" />
                                </a>
                            </li>
                            
                            <li>
                                <a href="https://correioweb.bb.com.br/" target="_blank" title="EMAIL">                         
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/mail.svg" />
                                </a>
                            </li>
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/media/galerias" title="ÁLBUM DE FOTOS">                         
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/camera.svg" />
                                </a>
                            </li>
                            <!--Link para a Gamelojinha-->
<!--                            <li>
                                <a href="#//{facesContext.externalContext.requestContextPath}/gamelojinha" title="GAMELOJINHA" target="_blank">                         
                                    <ui:include src="#//{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/gamelojinha.svg" />
                                </a>
                            </li>-->
                            

                            <li>
                                <a href="http://intranet.bb.com.br" target="_blank" title="INTRANET">                          
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/intranet.svg" /> 
                                </a>

                            </li>
                            <li>
                                <a href="https://intranet1.bb.com.br/inc/home.ctr" target="_blank" id="in" title="INSTRUÇÔES NORMATIVAS"> 
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/in.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="https://plataforma.atendimento.bb.com.br:49286/gaw/APPS/index.bb" target="_blank"  id="plataforma" title="PLATAFORMA">                           
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/plataforma2.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="https://www2.bancobrasil.com.br/aapf/login.jsp" target="_blank" title="SUA CONTA">                           
                                    <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/dollar.svg" />
                                </a>
                            </li>
                            <li>
                                <a href="#">#{loginController.funcionario.nomeGuerra}</a>
                                <ul class="cbp-tm-submenu">                           
                                    <saot:hasRole name="administrador">
                                        <li><a href="/admin" class="cbp-tm-icon-cog">Administração</a></li>
                                    </saot:hasRole>
                                    <li>           
                                        <h:commandLink action="#{loginController.logout()}" class="icon-icon-logout1">
                                            <h:outputText value="Logout" id="logout"/>
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </h:form>
            </ui:insert>

            <ui:insert name="mercados">
                <div id="div_mercados">
                    <div class="float-shadow" style="width: 12.5%">
                        <a href="#{facesContext.externalContext.requestContextPath}/institucional/institucional">
                            <div class="mpic">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/offices.svg"></ui:include>                                
                                <h4 class="title_mercados" >SUPER</h4>
                            </div>
                        </a>
                    </div>
                    <div class="float-shadow" style="width: 12.5%">
                        <!--<a href="#//{facesContext.externalContext.requestContextPath}/mercado/template-mercado">-->
                        <a href="#{facesContext.externalContext.requestContextPath}/mercado/adm">
                            <div class="mpic">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/adm.svg"></ui:include>                                
                                <h4 class="title_mercados" >ADM</h4>
                            </div>
                        </a>
                    </div>
                    <div class="float-shadow" style="width: 12.5%">
                        <a href="#{facesContext.externalContext.requestContextPath}/mercado/pj">

                            <div class="mpic">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/pj.svg"></ui:include>                                
                                <h4 class="title_mercados" >PJ</h4>
                            </div>
                        </a>
                    </div>
                    <div class="float-shadow" style="width: 12.5%">
                        <a href="#{facesContext.externalContext.requestContextPath}/mercado/pf">

                            <div class="mpic">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/pf.svg"></ui:include>                                
                                <h4 class="title_mercados" >PF</h4>
                            </div>
                        </a>
                    </div>
                    <div class="float-shadow" style="width: 12.5%">
                        <a href="#{facesContext.externalContext.requestContextPath}/mercado/gov">

                            <div class="mpic">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/gov.svg"></ui:include>                                
                                <h4 class="title_mercados" >GOV</h4>
                            </div>
                        </a>
                    </div>
                    <div class="float-shadow" style="width: 12.5%">
                        <a href="#{facesContext.externalContext.requestContextPath}/mercado/ds">

                            <div class="mpic">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/ds.svg"></ui:include>                                
                                <h4 class="title_mercados" >DS</h4>
                            </div>
                        </a>
                    </div>
                    <div class="float-shadow" style="width: 12.5%">
                        <a href="#{facesContext.externalContext.requestContextPath}/mercado/agro">

                            <div class="mpic">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/agro.svg"></ui:include>                                
                                <h4 class="title_mercados" >AGRO</h4>
                            </div>
                        </a>
                    </div>
                    <div class="float-shadow" style="width: 12.5%">
                        <a href="#{facesContext.externalContext.requestContextPath}/superto/noticias-mercados">

                            <div class="mpic">
                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/png/iconNEws.png" width="60" />                          
                                <h4 class="title_mercados" >NOTÍCIAS</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </ui:insert>
            <ui:insert name="broadcast">
                <script>
                    $(document).ready(function () {
                        $("marquee").hover(function () {
                            $(this).attr("scrollamount", "2");
                        });
                        $("marquee").mouseleave(function () {
                            $(this).attr("scrollamount", "10");
                        });
                    });
                </script>
                <div id="div_broadcast">
                    <marquee scrollamount="10">
                        <ui:repeat value="#{broadCastController.broadcasts}" rendered="#{broadCastController.broadcasts.size()>0}" var="broadcast" varStatus="cont">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/icon_grafemaBB.svg" style="width: 20px;height: 100%;"/>
                            <h:outputText value="#{broadcast.descricao}" style="position: relative; font-size: 0.9em; top: -1px; #{(broadCastController.broadcasts.size()-1) == cont.index ? '':'margin-right: 600px;'} margin-left: 10px; font-family: 'Book Antiqua' !important;" />
                        </ui:repeat>
                        <h:panelGroup rendered="#{broadCastController.broadcasts.size()==0}">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/icon_grafemaBB.svg" style="width: 20px;height: 100%;"/>
                            <h:outputText value="Sem Broadcast no momento!" style="position: relative;font-size: 0.9em; top: -1px; margin-right: 600px; margin-left: 10px;" />
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/icon_grafemaBB.svg" style="width: 20px;height: 100%;"/>
                            <h:outputText value="Sem Broadcast no momento!" style="position: relative;font-size: 0.9em; top: -1px; margin-right: 600px; margin-left: 10px;" />
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/icon_grafemaBB.svg" style="width: 20px;height: 100%;"/>
                            <h:outputText value="Sem Broadcast no momento!" style="position: relative;font-size: 0.9em; top: -1px; margin-left: 10px;" />
                        </h:panelGroup>
                    </marquee>
                </div>
            </ui:insert>
            <ui:insert name="conteudo" />
        </div> 
        <!-- Footer -->
        <div id="footer">

            <center>
                <div id="links_footer">
                    <div id="logo_tocantins">
                        <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/icon_flagTocantins.svg"></ui:include>
                        <span>SuperTO</span>
                    </div>
                    <div id="mapa-bb" class="icones-footer">
                        <a href="#" title="QD. 104 Sul, Rua SE 5 Nº 22 ">
                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/map-marker.svg"></ui:include>
                        </a>
                    </div>
                    <div id="telefone-bb" class="icones-footer">
                        <a href="#" title="(63) 3226-3400">
                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/phone-square.svg"></ui:include>
                        </a>
                    </div>
                    <div id="email-bb" class="icones-footer">
                        <a href="#">
                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/envelope-square.svg"></ui:include>
                        </a>
                    </div>
                </div>
            </center>
        </div>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/gif/loading.gif"/>
        </p:dialog>

        <!--SweetAlert-->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/bootstrap3/js/bootstrap.min.js"></script>

        <!-- PARA O MENU-TOPO -->
        <script src="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/js/modernizr.custom.js" />
    </h:body>


</html>
