<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions-6.0.0.jar"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">


    <ui:define name="header">
        <style>
            .title-header{
                top: -10px;
                position: relative;
            }
            .logo-header *{
                display: inline-block;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Ausências
    </ui:define>

    <ui:define name="content">
        <p:tabView id="tabView">
            <p:tab title="Tabela de Ausências">

                <div>
                    <h2 class="col-xs-10">Pedidos de Ausência</h2>
                </div>
                <br/> <br/> <br/> <br/> 
                <h:form id="formAusencias" prependId="false">

                    <div class="row">
                        <!-- TABELA de pedidos para alterações de status-->
                    </div>
                </h:form>
            </p:tab>

            <p:tab title="Linha do Tempo">
                <h:form id="frm3" prependId="false">
                    <p:accordionPanel>
                        <p:tab title="Linha do Tempo">
                            <p:growl id="growl" showDetail="true" sticky="false"/>
                            <h:panelGroup id="painelGroup">
                                <h2>Linha do Tempo</h2>
                                    <!-- TimeLine-->
                            </h:panelGroup>
                        </p:tab>

                       
                    </p:accordionPanel>
                </h:form>
            </p:tab>

            <p:tab title="Laterais por Dia">
                <!-- TABELA com dados de laterais dentro do período de datas-->
            </p:tab>
            
            <p:tab title="Adicionar Registro Direto">
                <!-- Área de inclusão direta (Status Autorizado) 0800-729-0001 -->
            </p:tab>
        </p:tabView>

        <h:form id="script">
            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                    function verificaOperacao(msgSucess, msgError) {
                        var ok = #{averbacaoController.opSucess};
                        if (ok) {
                            mostraSucesso("Sucesso", msgSucess, 5000);
                        } else {
                            mostraError("Ooops!", msgError, 5000);
                        }
                    }
                </script>
            </h:panelGroup>
        </h:form>

        <h:form id="formEditar" prependId="false">
           
        </h:form>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script>
                                        function criarCKEditor() {
                                            var conteudo = $('#inputhidden').val();
                                            $("#editorTextArea").ckeditor();
                                            CKEDITOR.instances.editorTextArea.setData(conteudo);
                                        }
        </script>
        <style>
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
            } 
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(2), .ui-widget-header .botoes .ui-state-active:nth-child(2) {
                background-color: #0596F3;
            }
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(4), .ui-widget-header .botoes .ui-state-active:nth-child(4) {
                background-color: #F2776E;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(3), .ui-widget-header .botoes .ui-state-active:nth-child(3) {
                background-color: #0EB96A;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(5), .ui-widget-header .botoes .ui-state-active:nth-child(5) {
                background-color: #A7A023;
            }           .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(6), .ui-widget-header .botoes .ui-state-active:nth-child(6) {
                background-color: #CF2222;
                color: #000;
            } 
        </style>
    </ui:define>
</ui:composition>

