<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core">
                

    <ui:define name="title">
        Intranet Administração - Funcionarios
    </ui:define>

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
    </ui:define>

    <ui:define name="content">

        <h:form id="form">
            <p:growl id="growl" />
            <div id="table" style="margin-top: 20px;">
                <p:dataTable var="cli" value="#{clienteController.listaSemfinfo}" id="cliTable" widgetVar="cli" rows="20" rowsPerPageTemplate="20, 50, 80"
                                             paginator="true" paginatorPosition="bottom" selectionMode="single" emptyMessage="Sem cliente cadastrados" rowKey="#{cli.id}" filterDelay="1250"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}">
                                        <f:facet name="header">
                                            <h3>Gerenciamento de Clientes</h3>
                                        </f:facet>
                                        <f:facet name="{Exporters}">   
                                            <h:commandLink value="PDF" styleClass="btn btn-success" style="float: right; margin-left: 0.2em; background-color: #0596F3; border-color: #0596F3;"> 
                                            <p:dataExporter type="pdf" target="cliTable" fileName="Clientes Sem Info" encoding="UTF-8"/>
                                            </h:commandLink>
                                            <h:commandLink value="CSV" styleClass="btn btn-success" style="float: right; background-color: #FFAA00; border-color: #0596F3;">
                                                <p:dataExporter type="csv" target="cliTable" fileName="Clientes Sem Info" encoding='UTF-8'/>
                                            </h:commandLink>
                                        </f:facet>
                                        <p:column headerText="MCI" sortBy="#{cli.id}" filterOptions="contains" filterBy="#{cli.id}">
                                            <h:outputText value="#{cli.id}" />
                                        </p:column>
                                        <p:column headerText="Nome" sortBy="#{cli.nomeCliente}" filterOptions="contains" filterBy="#{cli.nomeCliente}">
                                            <h:outputText value="#{cli.nomeCliente}" />
                                        </p:column>
                                        <p:column headerText="Telefone" sortBy="#{cli.telefone}" filterOptions="contains" filterBy="#{cli.telefone}">
                                            <h:outputText value="#{cli.telefone}" />
                                        </p:column>
                                        <p:column headerText="Num. Carteira" sortBy="#{cli.numCarteira}" filterOptions="contains" filterBy="#{cli.numCarteira}">
                                            <h:outputText value="#{cli.numCarteira}" />
                                        </p:column>
                                        <p:column headerText="Prefixo" sortBy="#{cli.prefixo}" filterOptions="contains" filterBy="#{cli.prefixo}">
                                            <h:outputText value="#{cli.prefixo}" />
                                        </p:column>  
                                    </p:dataTable>
            </div>

            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                            function swetAlert() {
                                var ok = #{funcController.opSucesso};                                
                                if (ok) {
                                    swal("Bom Trabalho!", "Formulário salvo com sucesso!", "success");
                                } else {
                                    swal("Ooops!", "Erro na validação do formulário favor refazer a operação!", "error");
                                }
                            }

                            function deletar() {
                                swal({
                                    title: "Você tem Certeza?",
                                    text: "Isto não poderá ser desfeito!",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Sim, delete isto!",
                                    closeOnConfirm: false
                                },
                                function () {
                                    deletarFuncionario();
                                });
                            }

                            function mostraAlerta() {
                                var ok = #{funcController.opSucesso};
                                if (ok) {
                                    swal({
                                        title: "Bom Trabalho!",
                                        text: "O destaque foi excluído com sucesso!",
                                        type: "success",
                                        timer: 2000
                                    });
                                } else {
                                    swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                                }
                            }

                </script>
            </h:panelGroup>
            <p:remoteCommand name="deletarFuncionario" action="#{funcController.delete()}" oncomplete="mostraAlerta()"
                             update=":form:scriptAlert :form:cliTable"/>
        </h:form>

        <h:form id="formUpload" prependId="false">
            <p:dialog header="Atualizar Funcionarios" widgetVar="updatedlg"
                      resizable="false" position="topo" modal="true" width="600">

                <h:panelGrid columns="1" style="font-size: 12px;">
                    <p:fileUpload fileUploadListener="#{funcController.updateFuncionarios}"
                                  id="funcionariosAnexo"
                                  mode="advanced"
                                  sizeLimit="100000000"
                                  label="Selecionar"
                                  allowTypes="/(\.|\/)(csv)$/"/>                    
                </h:panelGrid>
                <br/>
                <p:commandButton value="Atualizar" actionListener="#{funcController.atualizarFuncionarios()}"
                                 onclick="pbAjax.start();" oncomplete=" PF('updatedlg').hide(); pbAjax.cancel();"
                                 update=":form:cliTable"/>
                <p:commandButton value="Cancelar" type="button" onclick="PF('updatedlg').hide()"/>
            </p:dialog>
        </h:form>

        <h:form id="formAddCoban" prependId="false">
            <p:dialog header="Adicionar chave" widgetVar="addlg" resizable="false"
                      draggable="false" modal="true">
                <div class="container-fluid">
                    <div class="row">
                        <p:fileUpload fileUploadListener="#{funcController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="img"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                    </div>
                    <div class="row">
                        <p:outputPanel id="img" style="margin: 20px auto; width: 150px;">
                            <p:graphicImage rendered="#{funcController.arquivo != null}" 
                                            width="150"
                                            value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(funcController.arquivo.url)}"/>
                            <p:graphicImage rendered="#{funcController.arquivo == null}" 
                                            width="150"
                                            value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                        </p:outputPanel>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Prefixo:   "/>
                                <h:inputText value="#{funcController.value.prefixo}" maxlength="4" styleClass="form-control">
                                    <pe:keyFilter regEx="/[\d\-\.]/"/>
                                </h:inputText>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Chave:   "/>
                                <h:inputText value="#{funcController.value.fmatricula}" styleClass="form-control" maxlength="8"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome:   "/>
                                <h:inputText value="#{funcController.value.nome}" styleClass="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome guerra:   "/>
                                <h:inputText value="#{funcController.value.nomeGuerra}" styleClass="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="right" style="padding-right: 20px;">
                    <p:commandButton value="Adicionar" actionListener="#{funcController.add()}"
                                     oncomplete="PF('addlg').hide();swetAlert();"
                                     update=":form:cliTable :formAddCoban :formUpload :formEdit :form:scriptAlert :form:growl"/>
                    <p:commandButton value="cancelar" type="button" onclick="PF('addlg').hide()"/>
                </div>
            </p:dialog>
        </h:form>

        <h:form id="formEdit" prependId="false">
            <p:dialog id="editDialog" header="Editar chave '#{funcController.selected.fmatricula}'" widgetVar="editdlg"
                      resizable="false"
                      modal="true" draggable="false">
                <div class="container-fluid">
                    <div class="row">
                        <p:fileUpload fileUploadListener="#{funcController.fileUploadListenerEdit}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="imgEdit"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                    </div>
                    <div class="row">
                        <p:outputPanel id="imgEdit" style="margin: 20px auto; width: 150px;">

                            <p:graphicImage rendered="#{funcController.selected.avatar != null}" 
                                            width="150"
                                            value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(funcController.selected.avatar.imagem.url)}"/>
                            <p:graphicImage rendered="#{funcController.selected.avatar == null}" 
                                            width="150"
                                            value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                        </p:outputPanel>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Prefixo:   "/>
                                <h:inputText value="#{funcController.selected.prefixo}" maxlength="4"
                                             styleClass="form-control">
                                    <pe:keyFilter regEx="/[\d\-\.]/"/>
                                </h:inputText>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome: "/>
                                <h:inputText value="#{funcController.selected.nome}" styleClass="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome guerra:   "/>
                                <h:inputText value="#{funcController.selected.nomeGuerra}" styleClass="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <p:commandButton value="Editar" actionListener="#{funcController.edit()}"
                                 oncomplete="PF('editdlg').hide();swetAlert();"
                                 update=":form:cliTable :formAddCoban :formUpload :formEdit :form:scriptAlert"/>
                <p:commandButton value="cancelar" type="button" onclick="PF('editdlg').hide()"/>
            </p:dialog>
        </h:form>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
    </ui:define>
</ui:composition>