<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração - Equipes
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Equipes</h2></legend>

            <h:form id="form" style="font-size: 12px;" prependId="false">
                <div style="padding-left: 28px; width: 300px;">
                    <p:messages id="msg"/>
                </div>

                <h:panelGrid columns="1" style="font-size: 12px; padding-left: 28px;">
                    <h:outputLabel value="Selecione o Mercado"/>
                    <p:selectOneMenu value="#{equipeController.categoria}">
                        <f:selectItems value="#{utilController.categorias}" var="g"
                                       itemValue="#{g}" itemLabel="#{g.asString()}">
                        </f:selectItems>
                        <p:ajax listener="#{equipeController.categorizar(g)}" update=":form:listaEquipe"/>
                    </p:selectOneMenu>
                    <br/>
                    <br/>

                </h:panelGrid>

                <p:pickList id="listaEquipe" value="#{equipeController.listaDeFuncionario}" var="player"
                            itemValue="#{player}" itemLabel="#{player.nome}" converter="baseEntityConverter"
                            showSourceControls="true" showTargetControls="true" showSourceFilter="true"
                            showTargetFilter="true">

                    <f:facet name="sourceCaption">Funcionário</f:facet>
                    <f:facet name="targetCaption">Selecionados</f:facet>

                    <p:column style="width:20%; font-size: 10px;">
                        #{player.fmatricula}
                    </p:column>

                    <p:column style="width:5%; font-size: 10px;">
                        <h:outputText value=" - "/>
                    </p:column>

                    <p:column style="width:75%; font-size: 10px;">
                        #{player.nome}
                    </p:column>
                </p:pickList>
                <br/>
                <p:commandButton value="Salvar Alterações" actionListener="#{equipeController.edit}" update=":form"/>
                <br/>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
