<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core">
                

    <ui:define name="title">
        Intranet Administração - Funcionarios
    </ui:define>

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
    </ui:define>

    <ui:define name="content">
        <legend><h2>Gerenciar Funcionários</h2></legend>

        <h:form id="form">
            <p:growl id="growl" />
            <h:panelGroup id="menus">
                <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                    <li role="presentation">
                        <a href="#" onclick="PF('addlg').show()">
                            <i class="icon-plus"></i>
                            Adicionar
                        </a>
                    </li>

                    <li role="presentation">
                        <p:commandLink update=":form:funcsTable :form:scriptAlert" onclick="PF('updatedlg').show();">
                            <i class="icon-plus"></i>
                            Atualizar Base
                        </p:commandLink>
                    </li>

                    <li role="presentation" class="#{funcController.selected != null ? '':'disabled'}">
                        <p:commandLink update=":form:funcsTable"
                                       oncomplete="#{funcController.selected != null ? 'PF(\'editdlg\').show();': 'mostraAtencao(\'Oops!\',\'Você não selecionou um funcionário!\',2000)'}">
                            <i class="icon-edit2"></i>
                            Editar
                        </p:commandLink>
                    </li>

                    <li role="presentation" class="#{funcController.selected != null ? '':'disabled'}">
                        <p:commandLink update=":form:funcsTable :form:scriptAlert"
                                       onclick="#{funcController.selected != null ? 'deletar()':'mostraAtencao(\'Oops!\',\'Você não selecionou um funcionário!\',2000)'}">
                            <i class="icon-trash"></i>
                            Excluir
                        </p:commandLink>
                    </li>
                </ul>
            </h:panelGroup>

            <div id="table" style="margin-top: 20px;">
                <p:dataTable id="funcsTable" var="func" value="#{funcController.funcionarios}" 
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%; "
                             selection="#{funcController.selected}" selectionMode="single"
                             rowKey="#{func.matriculaNum}" paginator="true" rows="20"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
                             resizableColumns="true">

                    <p:ajax event="rowSelect" listener="#{funcController.onRowSelect}" update=":form:menus :formEdit"/>
                   <p:ajax event="rowUnselect" update=":form:menus :formEdit :form"/>

                    <p:column headerText="Prefixo" filterBy="#{func.prefixo}" filterStyle="width: 90%"
                              style="width: 10%; font-size: 12px;">
                        <h:outputText value="#{func.prefixo}"></h:outputText>
                    </p:column>

                    <p:column headerText="Fmatricula" filterBy="#{func.fmatricula}" filterStyle="width: 90%"
                              style="width: 10%; font-size: 12px;">
                        <h:outputText value="#{func.fmatricula}"></h:outputText>
                    </p:column>

                    <p:column headerText="Nome" filterBy="#{func.nome}" filterStyle="width: 90%"
                              style="width: 30%; font-size: 12px;">
                        <h:outputText value="#{func.nome}"></h:outputText>
                    </p:column>

                    <p:column headerText="Nome guerra" filterBy="#{func.nomeGuerra}" filterStyle="width: 90%"
                              style="width: 20%; font-size: 12px;">
                        <h:outputText value="#{func.nomeGuerra}"></h:outputText>
                    </p:column>

                    <p:column headerText="Função" filterBy="#{func.funcao}" filterStyle="width: 90%"
                              style="width: 20%; font-size: 12px;">
                        <h:outputText value="#{func.funcao}"></h:outputText>
                    </p:column>

                    <f:facet name="{Exporters}">
                        <h:commandLink value="CSV" style="margin-left: 25px;">
                            <p:dataExporter type="csv" target="funcsTable" fileName="funcinario" encoding='ISO-8859-1'/>
                        </h:commandLink>
                    </f:facet>

                </p:dataTable>
            </div>

            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                            function swetAlert() {
                                var ok = #{funcController.opSucesso};                                
                                if (ok) {
                                    swal("Bom Trabalho!", "Formulário salvo com sucesso!", "success");
                                } else {
                                    swal("Ooops!", "Erro na validação do formulário favor refazer a operação!", "error");
                                }
                            }

                            function deletar() {
                                swal({
                                    title: "Você tem Certeza?",
                                    text: "Isto não poderá ser desfeito!",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Sim, delete isto!",
                                    closeOnConfirm: false
                                },
                                function () {
                                    deletarFuncionario();
                                });
                            }

                            function mostraAlerta() {
                                var ok = #{funcController.opSucesso};
                                if (ok) {
                                    swal({
                                        title: "Bom Trabalho!",
                                        text: "O destaque foi excluído com sucesso!",
                                        type: "success",
                                        timer: 2000
                                    });
                                } else {
                                    swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                                }
                            }

                </script>
            </h:panelGroup>
            <p:remoteCommand name="deletarFuncionario" action="#{funcController.delete()}" oncomplete="mostraAlerta()"
                             update=":form:scriptAlert :form:funcsTable"/>
        </h:form>

        <h:form id="formUpload" prependId="false">
            <p:dialog header="Atualizar Funcionarios" widgetVar="updatedlg"
                      resizable="false" position="topo" modal="true" width="600">

                <h:panelGrid columns="1" style="font-size: 12px;">
                    <p:fileUpload fileUploadListener="#{funcController.updateFuncionarios}"
                                  id="funcionariosAnexo"
                                  mode="advanced"
                                  sizeLimit="100000000"
                                  label="Selecionar"
                                  allowTypes="/(\.|\/)(csv)$/"/>                    
                </h:panelGrid>
                <br/>
                <h5>Formato: </h5>
                <p>prefixo;fmatricula;nomeCompleto;nomeGuerra;Funcao;Status</p>
                <p:commandButton value="Atualizar" actionListener="#{funcController.atualizarFuncionarios()}"
                                 onclick="pbAjax.start();" oncomplete=" PF('updatedlg').hide(); pbAjax.cancel();"
                                 update=":form:funcsTable"/>
                <p:commandButton value="Cancelar" type="button" onclick="PF('updatedlg').hide()"/>
            </p:dialog>
        </h:form>

        <h:form id="formAddCoban" prependId="false">
            <p:dialog header="Adicionar chave" widgetVar="addlg" resizable="false"
                      draggable="false" modal="true">
                <div class="container-fluid">
                    <div class="row">
                        <p:fileUpload fileUploadListener="#{funcController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="img"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                    </div>
                    <div class="row">
                        <p:outputPanel id="img" style="margin: 20px auto; width: 150px;">
                            <p:graphicImage rendered="#{funcController.arquivo != null}" 
                                            width="150"
                                            value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(funcController.arquivo.url)}"/>
                            <p:graphicImage rendered="#{funcController.arquivo == null}" 
                                            width="150"
                                            value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                        </p:outputPanel>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Prefixo:   "/>
                                <h:inputText value="#{funcController.value.prefixo}" maxlength="4" styleClass="form-control">
                                    <p:keyFilter regEx="/[\d\-\.]/"/>
                                </h:inputText>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Chave:   "/>
                                <h:inputText value="#{funcController.value.fmatricula}" styleClass="form-control" maxlength="8"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome:   "/>
                                <h:inputText value="#{funcController.value.nome}" styleClass="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome guerra:   "/>
                                <h:inputText value="#{funcController.value.nomeGuerra}" styleClass="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="right" style="padding-right: 20px;">
                    <p:commandButton value="Adicionar" actionListener="#{funcController.add()}"
                                     oncomplete="PF('addlg').hide();swetAlert();"
                                     update=":form:funcsTable :formAddCoban :formUpload :formEdit :form:scriptAlert :form:growl"/>
                    <p:commandButton value="cancelar" type="button" onclick="PF('addlg').hide()"/>
                </div>
            </p:dialog>
        </h:form>

        <h:form id="formEdit" prependId="false">
            <p:dialog id="editDialog" header="Editar chave '#{funcController.selected.fmatricula}'" widgetVar="editdlg"
                      resizable="false"
                      modal="true" draggable="false">
                <div class="container-fluid">
                    <div class="row">
                        <p:fileUpload fileUploadListener="#{funcController.fileUploadListenerEdit}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="imgEdit"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                    </div>
                    <div class="row">
                        <p:outputPanel id="imgEdit" style="margin: 20px auto; width: 150px;">

                            <p:graphicImage rendered="#{funcController.selected.avatar != null}" 
                                            width="150"
                                            value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(funcController.selected.avatar.imagem.url)}"/>
                            <p:graphicImage rendered="#{funcController.selected.avatar == null}" 
                                            width="150"
                                            value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                        </p:outputPanel>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Prefixo:   "/>
                                <h:inputText value="#{funcController.selected.prefixo}" maxlength="4"
                                             styleClass="form-control">
                                    <p:keyFilter regEx="/[\d\-\.]/"/>
                                </h:inputText>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome: "/>
                                <h:inputText value="#{funcController.selected.nome}" styleClass="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <h:outputText value="Nome guerra:   "/>
                                <h:inputText value="#{funcController.selected.nomeGuerra}" styleClass="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <p:commandButton value="Editar" actionListener="#{funcController.edit()}"
                                 oncomplete="PF('editdlg').hide();swetAlert();"
                                 update=":form:funcsTable :formAddCoban :formUpload :formEdit :form:scriptAlert"/>
                <p:commandButton value="cancelar" type="button" onclick="PF('editdlg').hide()"/>
            </p:dialog>
        </h:form>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
    </ui:define>
</ui:composition>