<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração - Gerenciar Produtos
    </ui:define>
    <ui:define name="header">

    </ui:define>

    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Gerenciar Produtos</h2></legend>
            <h:form id="formDados" prependId="false">
                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 7px;">
                        <li role="presentation" class="active menu_btn_active">
                            <a href="#" onclick="PF('addDialog').show()">
                                <i class="icon-plus"></i> Atualizar Base
                            </a>
                        </li>
                        
                        <li role="presentation" class="#{produtoController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":formEditar:editDialog" oncomplete="#{produtoController.selected != null ? 'PF(\'editDialog\').show();': 'mostraAtencao(\'Oops!\',\'Você não selecionou um produto!\',2000)'}">
                                <i class="icon-edit2"></i>
                                Editar
                            </p:commandLink>
                        </li>
                    </ul>
                </h:panelGroup>
                <br/>
                <p:dataTable id="tableProduto" var="produto" value="#{produtoController.listProdutos}"
                             emptyMessage="Sem produtos cadastrados!" lazy="true" 
                             selectionMode="single" selection="#{produtoController.selected}"
                             paginator="true" rows="15" rowsPerPageTemplate="5, 10, 30" paginatorPosition="bottom"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                             rowKey="#{produto.id}" resizableColumns="true" editable="true">

                    <p:ajax event="rowSelect" update=":formDados:menus :formDados:alertas" immediate="true"/>
                    <p:ajax event="rowUnselect" update=":formDados:menus" immediate="true"/>

                    <p:column headerText="Id" filterBy="#{produto.id}"
                              filterMatchMode="contains" style="text-align: center;">
                        <h:outputText value="#{produto.id}"/>
                    </p:column>

                    <p:column headerText="Descrição" filterBy="#{produto.descricao}" filterMatchMode="contains" style="text-align: center;">
                        <h:outputText value="#{produto.descricao}"/>
                    </p:column>

                    <p:column headerText="Apelido" filterBy="#{produto.apelido}" filterMatchMode="contains" style="text-align: center;">
                        <h:outputText value="#{produto.apelido}"/>
                    </p:column>

                    <f:facet name="{Exporters}">
                        <h:commandLink styleClass="icon-file-excel"
                                       style="position: absolute; right: 50px;font-size: 20.8px;margin-top: 5px;">
                            <p:dataExporter type="csv" target="tableProduto" fileName="produtos" pageOnly="false"/>
                        </h:commandLink>
                    </f:facet>
                </p:dataTable>

                <h:panelGroup id="alertas">
                    <script type="text/javascript">
                        function mostraAlerta(dialog,msg) {
                            var ok = #{produtoController.opSucesso};
                            if (ok) {
                                PF(dialog).hide();
                                mostraSucesso("Sucesso!", msg, 2500);
                            } else {
                                mostraError("Oops!", "Ocorreu um erro ao importar a base de dados!");
                            }
                        }
                    </script>
                </h:panelGroup>
            </h:form>

            <h:form id="formAdd" prependId="false">
                <p:dialog id="addDialog"  widgetVar="addDialog" header="Atualizar Base" showEffect="fade" width="600" 
                          hideEffect="fade" modal="true" resizable="false" draggable="false" >
                    <p:fileUpload fileUploadListener="#{produtoController.fileUploadListner}"
                                  mode="advanced"                                  
                                  sizeLimit="100000000"
                                  label="Selecionar"
                                  allowTypes="/(\.|\/)(csv)$/"/>
                </p:dialog>
            </h:form>

            <h:form id="formEditar" prependId="false">
                <p:dialog id="editDialog"  widgetVar="editDialog" header="Editar Produto" showEffect="fade" width="600" 
                          hideEffect="fade" modal="true" resizable="false" draggable="false">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <h4>Id</h4>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <h4>Descrição</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <h:inputText styleClass="form-control" value="#{produtoController.selected.id}"/>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <h:inputText styleClass="form-control" value="#{produtoController.selected.descricao}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h4>Apelido</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h:inputText styleClass="form-control" value="#{produtoController.selected.apelido}"/>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p:messages autoUpdate="true"/>
                            </div>
                        </div>
                    </div>
                    <f:facet name="footer">
                        <p:commandButton value="Editar" action="#{produtoController.edit()}" update=":formDados:tableProduto"/>
                        <p:commandButton value="cancelar" type="button" onclick="PF('editDialog').hide()" immediate="true"/>
                    </f:facet>
                </p:dialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>                          
