<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração - Equipes
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Categorias</h2></legend>
            <h:form id="form" style="font-size: 12px;" prependId="false">
                <div style="padding-left: 28px; width: 300px;">
                    <p:messages id="msg"/>
                </div>
                <h:panelGrid columns="1" style="font-size: 12px; padding-left: 28px;">
                    <h:outputLabel value="Selecione o Mercado"/>
                    <p:selectOneMenu value="#{utilController.mercado}">
                        <f:selectItems value="#{utilController.categorias}" var="g"
                                       itemValue="#{g}" itemLabel="#{g.asString()}">
                        </f:selectItems>
                        <p:ajax update=":form:selecioneUm :form:selectFunc"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="Selecione a Subcategoria"/>
                    <p:selectOneMenu id="selecioneUm" value="#{responsavelController.value.subcategoria}">
                        <f:selectItems value="#{utilController.subCategorias}" var="sub"
                                       itemValue="#{sub}" itemLabel="#{sub.asString()}">
                        </f:selectItems>
                        <p:ajax update=":form:selecioneUm :form:selectFunc"/>
                    </p:selectOneMenu>
                    <br/>
                    <br/>
                </h:panelGrid>
                <h:panelGrid id="selectFunc" columns="1">
                    <h:outputText value="Funcionario" style="font-size: 11px;"/>
                    <p:selectOneMenu value="#{responsavelController.value.funcionarioResponsavel}" filter="true" var="p"
                                     converter="baseEntityConverter">
                        <f:selectItem itemLabel="Select One" itemValue=""/>
                        <f:selectItems value="#{funcController.funcs}" var="player"
                                       itemLabel="#{player.nome}" itemValue="#{player}"/>
                        <p:column style="font-size: 11px;">
                            #{p.fmatricula}
                        </p:column>
                        <p:column style="font-size: 11px;">
                            #{p.nome}
                        </p:column>
                    </p:selectOneMenu>
                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                </h:panelGrid>
                <br/>
                <p:commandButton value="Salvar Alterações" actionListener="#{responsavelController.edit}"
                                 update=":form"/>
                <br/>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
