<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $('.nav-pills li').removeClass("menu_btn_active");
                    $(this).addClass("active");
                    $(this).addClass("menu_btn_active");
                });
            });
        </script>
        <style>
            .menu_btn_active a {
                background-color: gray !important;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Gerenciar Agências
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Gerenciar Agências</h2></legend>

            <h:form id="form" prependId="false" style="font-size: 11px;">

                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation">
                            <p:commandLink update=":form:scriptAlert" onclick="PF('dlgUpdate').show();">
                                <i class="icon-plus"></i>
                                Atualizar Base de Dados
                            </p:commandLink>
                        </li>

                        <!--                        <li role="presentation" class="#{agenciasController.selected != null ? 'dropdown':'disabled'}">
                                                    <p:commandLink update=":form:scriptAlert" onclick="#{agenciasController.selected != null ? 'PF(\'editAgencia\').show();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou uma Agência!\',2000)'}">
                                                        <i class="icon-edit2"></i>
                                                        Editar
                                                    </p:commandLink>
                                                </li>-->

                        <li role="presentation" class="#{agenciasController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":form:scriptAlert"
                                           onclick="#{agenciasController.selected != null ? 'deletar();' : 'mostraAtencao(\'Oops!\',\'Você não selecionou uma Agência!\',2000)'}">
                                <i class="icon-trash"></i>
                                Excluir
                            </p:commandLink>
                        </li>
                        <li role="presentation">
                            <p:commandLink update=":form:scriptAlert" onclick="PF('adicionarDlg').show();">
                                <i class="icon-disk"></i>
                                Adicionar Agência
                            </p:commandLink>
                        </li>
                    </ul>
                </h:panelGroup>

                <p:contextMenu for="tableAgencias" id="menuContext">
                    <p:menuitem value="Editar Agência" icon="ui-icon-pencil"
                                oncomplete="PF('editAgencia').show();" style="font-size: 11px;"/>
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="deletar()"/>
                </p:contextMenu>
                <br/>
                <p:dataTable id="tableAgencias" widgetVar="tableAgencias" var="agencia" value="#{agenciasController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado"
                             selectionMode="single" selection="#{agenciasController.selected}"
                             rowKey="#{agencia.prefixo}" paginator="true" rows="12"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5, 10, 30" lazy="true" resizableColumns="true"
                             paginatorPosition="bottom">

                    <f:facet name="header">
                        <h:outputText value="Agências do Estado do Tocantins"/>
                    </f:facet>

                    <p:ajax event="rowSelect" update=":form:menus :formEditar:editAgencia"/>
                    <p:ajax event="rowUnselect" update=":form:menus :formEditar:editAgencia"/>

                    <p:column headerText="Prefixo" filterBy="#{agencia.prefixo}" filterMatchMode="contains" width="25%"
                              filterMaxLength="4" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{agencia.prefixo}"/>
                    </p:column>
                    <p:column headerText="Rede" filterBy="#{agencia.rede}" filterMatchMode="contains" width="25%"
                              filterMaxLength="4" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{agencia.rede}"/>
                    </p:column>
                    <p:column headerText="Agencia" filterBy="#{agencia.nomeAgencia}" filterMatchMode="contains"
                              width="25%" filterMaxLength="4" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{agencia.nomeAgencia}"/>
                    </p:column>
                    <p:column headerText="Gerente" filterBy="#{agencia.gerenteAgencia.nome}" filterMatchMode="contains"
                              width="25%" filterMaxLength="4" style="font-size: 12px;text-align: center;">
                        <h:outputText value="#{agencia.gerenteAgencia.nome}"/>
                    </p:column>
                </p:dataTable>

                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msgSucesso, msgFail) {
                            var ok = #{agenciasController.opSucesso};
                            if (ok) {
                                mostraSucesso("Sucesso", msgSucesso, 3000);
                            } else {
                                mostraError("Ooops!", msgFail, 3000);
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarAgencia();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{agenciasController.opSucesso};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O destaque foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarAgencia" action="#{agenciasController.delete()}"
                                 oncomplete="mostraAlerta();" update=":form:scriptAlert :form:tableAgencias"/>
            </h:form>

            <h:form id="formAdd">
                <p:dialog id="adicionar" widgetVar="adicionarDlg" header="Adicionar Agência" width="250"
                          showEffect="clip" hideEffect="clip"
                          resizable="false" modal="true">
                    <h:panelGrid columns="1">
                        <h:outputText value="Prefixo"/>
                        <p:inputText value="#{agenciasController.value.prefixo}"/>
                        <h:outputText value="Nome Agência"/>
                        <p:inputText value="#{agenciasController.value.nomeAgencia}"/>
                        <h:outputText value="Rede Agência"/>
                        <p:inputText value="#{agenciasController.value.rede}"/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                        <p:commandButton value="Adicionar" update=":form:tableAgencias"
                                         actionListener="#{agenciasController.add()}" oncomplete="PF('adicionarDlg').hide();"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>

            <h:form id="formEditar" prependId="false">

                <p:dialog id="editAgencia" widgetVar="editAgencia"
                          header="Editar Agência:  #{agenciasController.selected.prefixo}"
                          modal="true" resizable="false" draggable="false" width="855">

                    <div class="container-fluid">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="form-group">
                                    <h4>Prefixo</h4>
                                    <h:inputText styleClass="form-control"
                                                 value="#{agenciasController.selected.prefixo}"></h:inputText>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <h4>Nome da Rede</h4>
                                    <h:inputText styleClass="form-control"
                                                 value="#{agenciasController.selected.rede}"></h:inputText>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="form-group">
                                    <h4>Nome Agência</h4>
                                    <h:inputText styleClass="form-control"
                                                 value="#{agenciasController.selected.nomeAgencia}"></h:inputText>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p:commandButton value="Salvar" onclick="#{agenciasController.edit}"
                                     oncomplete="verificaOperacao('Edição feita com Sucesso!');"
                                     update=":form:tableAgencias "/>
                </p:dialog>
            </h:form>

            <h:form id="formUpload" prependId="false">
                <p:dialog header="Atualizar Agencias" widgetVar="dlgUpdate"
                          resizable="false" position="topo" modal="true" width="600">
                    <p:fileUpload fileUploadListener="#{agenciasController.fileUploadListener}"
                                  mode="advanced"
                                  sizeLimit="100000000"
                                  style="width: 100%;"
                                  label="Selecionar"
                                  allowTypes="/(\.|\/)(txt|pdf|xls|doc|docx|ppt|pptx|csv)$/"/>
                    <br/>
                    <p:commandButton value="Atualizar" actionListener="#{agenciasController.atualizar()}"
                                     update=":form:tableAgencias :form:scriptAlert"
                                     oncomplete="PF('dlgUpdate').hide();verificaOperacao('Operação de Importação concluida com Sucesso!','Erro ao importar Arquivo!','dlgUpdate');"/>
                    <p:commandButton value="Cancelar" type="button" onclick="PF('dlgUpdate').hide()"/>
                </p:dialog>
            </h:form>

        </fieldset>
        <ui:define name="jQueryBootstrap"></ui:define>
    </ui:define>
</ui:composition>
