<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        Intranet Administração - Dicas do Dia
    </ui:define>
    <ui:define name="header">
        <script>
            $(document).ready(function () {
                $("#side-menu a").removeClass("active");
                $("#side-menu li").removeClass("active");
                $("#li_menu_comunicacao").addClass("active");
                $("#a_menu_comunicacao").addClass("active");
                $("#a_menu_comunicacao span").removeClass("icon-dot");
                $("#a_menu_comunicacao span").addClass("icon-arrow-down7");
                $("#menu_dicadodia").addClass("active");

                $('.nav-pills li').click(function () {
                    $('.nav-pills li').removeClass("active");
                    $('.nav-pills li').removeClass("menu_btn_active");
                    $(this).addClass("active");
                    $(this).addClass("menu_btn_active");
                });
            });
        </script>
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Dicas do Dia</h2></legend>
            <h:form id="formDados" prependId="false">
                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 7px;">
                        <li role="presentation" class="active menu_btn_active"><a href="#"
                                                                                  onclick="PF('addDialog').show()"><i
                                    class="icon-plus"></i> Adicionar</a></li>
                        <li role="presentation" class="#{dicaDoDiaController.selected != null ? '':'disabled'}"><a
                                href="#"
                                onclick="#{dicaDoDiaController.selected != null ? 'PF(\'editarDialog\').show();setaConteudoSelected();':'mostraAtencao(\'Oops!\',\'Você não selecionou uma dica!\',2000)'}"><i
                                    class="icon-edit2"></i> Editar</a></li>
                        <li role="presentation" class="#{dicaDoDiaController.selected != null ? '':'disabled'}"><a
                                href="#"
                                onclick="#{dicaDoDiaController.selected != null ? 'deletarRegistro()':'mostraAtencao(\'Oops!\',\'Você não selecionou uma dica!\',2000)'}"><i
                                    class="icon-trash3"></i> Excluir</a></li>
                    </ul>
                </h:panelGroup>
                <br/>
                <p:dataTable id="dicasTable" var="dicadodia" value="#{dicaDoDiaController.lazyData}"
                             emptyMessage="Sem registros no momento!"
                             selectionMode="single" selection="#{dicaDoDiaController.selected}"
                             rowKey="#{dicadodia.id}" paginator="true" rows="5"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"
                             lazy="true" resizableColumns="true" editable="true">

                    <p:ajax event="rowSelect" update=":formDados:menus :formEditar:editDialog" immediate="true"/>
                    <p:ajax event="rowUnselect" update=":formDados:menus" immediate="true"/>

                    <p:column headerText="Id" filterBy="#{dicadodia.id}" filterMatchMode="contains" filterMaxLength="4">
                        <h:outputText value="#{dicadodia.id}"/>
                    </p:column>

                    <p:column headerText="Imagem" style="text-align: center;">
                        <img style="width: 60%;height: 50px;"
                             src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(dicadodia.imagem.url)}"/>
                    </p:column>

                    <p:column headerText="Data de Expiração" style="text-align: center;">
                        <h:outputText value="#{dicadodia.dataExpiracao}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Visível" style="font-size: 1em;" styleClass="text-center">
                        <h:form prependId="false">
                            <h:outputText value="" styleClass="icon-check-alt" style="color: green;" rendered="#{dicadodia.visivel and dicadodia.dataExpiracao.after(utilController.dataCorrente())}"
                                          title="Visível na Index"/>
                            <h:outputText value="" styleClass="icon-x-altx-alt" 
                                          style="color: red;" title="#{!dicadodia.visivel ? 'Dica não visível ':''}#{dicadodia.dataExpiracao.equals(utilController.dataCorrente()) or dicadodia.dataExpiracao.before(utilController.dataCorrente()) ? ' - Dica expirada':''}"
                                          rendered="#{!dicadodia.visivel or (dicadodia.dataExpiracao.equals(utilController.dataCorrente()) or dicadodia.dataExpiracao.before(utilController.dataCorrente()))}"/>
                        </h:form>
                    </p:column>
                </p:dataTable>

                <h:panelGroup id="alertas">
                    <script type="text/javascript">
                                                                                      function verificaAdd() {
                                                                                          var ok = #{dicaDoDiaController.opeSucesso};
                                                                                          if (ok) {
                                                                                              mostraSucesso("Sucesso!", "Dica salva com sucesso!", 2000);
                                                                                              PF('addDialog').hide();
                                                                                          } else {
                                                                                              mostraError("Oops!", "Ocorreu um erro ao salvar a dica.\nVerique os dados informados!");
                                                                                          }
                                                                                      }

                                                                                      function verificaEdit() {
                                                                                          var ok = #{dicaDoDiaController.opeSucesso};
                                                                                          if (ok) {
                                                                                              mostraSucesso("Sucesso!", "Dica editado com sucesso!", 2000);
                                                                                              PF('editarDialog').hide();
                                                                                          } else {
                                                                                              mostraError("Oops!", "Ocorreu um erro ao editar a dica.\nVerique os dados informados!");
                                                                                          }
                                                                                      }

                                                                                      function deletarRegistro() {
                                                                                          swal({
                                                                                              title: "Atenção",
                                                                                              text: "Isto não poderá ser DESFEITO!",
                                                                                              type: "warning",
                                                                                              showCancelButton: true,
                                                                                              confirmButtonColor: "#DD6B55",
                                                                                              confirmButtonText: "Delete!",
                                                                                              closeOnConfirm: false
                                                                                          },
                                                                                          function () {
                                                                                              deletarDica();
                                                                                          });
                                                                                      }

                                                                                      function mostraAlerta() {
                                                                                          var ok = #{dicaDoDiaController.opeSucesso};
                                                                                          if (ok) {
                                                                                              mostraSucesso("Sucesso!", "A Dica foi excluída com sucesso!", 2500);
                                                                                          } else {
                                                                                              mostraError("Oops!", "Ocorreu um erro ao excluir a dica!");
                                                                                          }
                                                                                      }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarDica" action="#{dicaDoDiaController.delete()}" oncomplete="mostraAlerta()"
                                 update=":formDados:alertas :formDados:dicasTable"/>
            </h:form>
        </fieldset>

        <h:form id="formAdd" prependId="false">
            <p:dialog id="addDialog" widgetVar="addDialog" header="Adicionar Dica" showEffect="fade" hideEffect="fade"
                      modal="true"
                      resizable="false" draggable="false" width="80%" height="600">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <div class="row">
                                <h4>Visível</h4>
                                <p:inputSwitch value="#{dicaDoDiaController.value.visivel}"

                                               onLabel="Sim" offLabel="Não"/>
                                <style>
                                    .ui-inputswitch-off span, .ui-inputswitch-on span {
                                        margin-top: -2.5px;
                                    }
                                </style>

                            </div>
                            <br/>

                            <div class="row">
                                <h4>Data de Expiração</h4>
                                <p:calendar value="#{dicaDoDiaController.value.dataExpiracao}" required="true"
                                            requiredMessage="Duração da dica deve ser informada!"/>
                            </div>
                            <div class="row">
                                <div style="width: 100%; margin-bottom: 15px; margin-top: 15px;">
                                    <h:outputLabel value="Inserir Link Externo: " style="display: block;"/>
                                    <p:inputText value="#{dicaDoDiaController.value.url}" id="url" 
                                                 placeholder="http://www.superto.bb.com.br"
                                                 style="width: 100%; margin-bottom: 10px;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 text-center">
                            <h4>Imagem da Dica</h4>
                            <h:panelGroup id="imagemAddDica">
                                <p:graphicImage rendered="#{dicaDoDiaController.value.imagem != null}" height="300"
                                                width="70%"
                                                value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(dicaDoDiaController.value.imagem.url)}"/>
                                <p:graphicImage rendered="#{dicaDoDiaController.value.imagem == null}" height="300"
                                                width="70%"
                                                value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                            </h:panelGroup>
                            <br/>
                            <p:commandLink value="Escolher uma imagem" type="button" styleClass="btn btn-info"
                                           onclick="PF('dlgSelecionarImagem').show()" immediate="true"
                                           style="margin-top: 10px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Fazer Upload da Imagem</h4>
                        <p:fileUpload fileUploadListener="#{dicaDoDiaController.fileUploadListener}"
                                      mode="advanced"
                                      oncomplete="mudaImagem();"
                                      sizeLimit="1048576"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp|svg)$/"/>
                    </div>
                    <p:messages autoUpdate="true"/>
                    <p:separator/>
                    <p:commandButton value="Salvar" action="#{dicaDoDiaController.add()}" style="font-size: 12px;"
                                     update=":formDados:alertas"/>
                    <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                     onclick="PF('addDialog').hide();"/>
                </div>
            </p:dialog>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog id="editDialog" widgetVar="editarDialog" header="Editar Dica - #{dicaDoDiaController.selected.id}"
                      showEffect="fade" hideEffect="fade" modal="true" resizable="false" draggable="false" width="80%"
                      height="600">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <div class="row">
                                <h4>Visível</h4>
                                <p:inputSwitch value="#{dicaDoDiaController.selected.visivel}"
                                               onLabel="Sim" offLabel="Não"/>
                                <style>
                                    .ui-inputswitch-off span, .ui-inputswitch-on span {
                                        margin-top: -2.5px;
                                    }
                                </style>
                            </div>
                            <br/>

                            <div class="row">
                                <h4>Data de Expiração</h4>
                                <p:calendar value="#{dicaDoDiaController.selected.dataExpiracao}" required="true"
                                            requiredMessage="Duração da dica deve ser informada!"/>
                            </div>
                            <div class="row">
                                <div style="width: 100%; margin-bottom: 15px; margin-top: 15px;">
                                    <h:outputLabel value="Inserir Link Externo: " style="display: block;"/>
                                    <p:inputText value="#{dicaDoDiaController.selected.url}" id="urledit" 
                                                 placeholder="http://www.superto.bb.com.br"
                                                 style="width: 100%; margin-bottom: 10px;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 text-center">
                            <h4>Imagem da Dica</h4>
                            <h:panelGroup id="imagemEditDica">
                                <p:graphicImage rendered="#{dicaDoDiaController.selected.imagem != null}" height="300"
                                                width="70%"
                                                value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(dicaDoDiaController.selected.imagem.url)}"/>
                                <p:graphicImage rendered="#{dicaDoDiaController.selected.imagem == null}" height="300"
                                                width="70%"
                                                value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/backgrounds/blank-image.png"/>
                            </h:panelGroup>
                            <br/>
                            <p:commandLink value="Escolher uma imagem" type="button" styleClass="btn btn-info"
                                           onclick="PF('dlgSelecionarImagem').show()" immediate="true"
                                           style="margin-top: 10px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Fazer Upload da Imagem</h4>
                        <p:fileUpload fileUploadListener="#{dicaDoDiaController.fileUploadListener}"
                                      mode="advanced"
                                      oncomplete="mudaImagem();"
                                      sizeLimit="100000"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp|svg)$/"/>
                    </div>
                    <p:messages autoUpdate="true"/>
                    <p:separator/>
                    <p:commandButton value="Salvar" action="#{dicaDoDiaController.edit()}" style="font-size: 12px;"
                                     update=":formDados:alertas" oncomplete="verificaEdit();"/>
                    <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                     onclick="PF('editarDialog').hide();"/>
                </div>
            </p:dialog>
        </h:form>

        <h:form prependId="false" id="formSelecionarImagem">
            <p:dialog widgetVar="dlgSelecionarImagem" header="Selecionar Imagem" dynamic="true" width="30%"
                      height="350">
                <p:scrollPanel style="border: none; font-size: 11px; height: 70%;" mode="native">
                    <h:panelGroup layout="block" id="imagens" style="width: 450px; ">
                        <ul>
                            <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                <li id="item_img" style="display: list-item;
                                    text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                    #DDD;
                                    padding-left: 15px;
                                    overflow: auto;" ondblclick="addImage('#{imagem.archive.url}');">

                                    <div id="image_switch" style="
                                         float: left;
                                         width: 300px;
                                         font-size: 1.15em;">

                                        <div id="img_thumb" style="
                                             float: left;
                                             position: relative;
                                             margin-right: 15px;">
                                            <h:graphicImage
                                                value="/ws/file/img/#{servidorImagensController.getFileName(imagem.archive.url)}"
                                                width="120" height="100"/>
                                        </div>
                                        <div id="img_titulo" style="width: 30.900em;">
                                            <p> Titulo: Teste<br/>
                                                Descrição:<br/>
                                            </p>
                                            <p:commandButton value="Selecionar"
                                                             action="#{dicaDoDiaController.setImagem(imagem.archive)}"
                                                             oncomplete="mudaImagem();
                                                             PF('dlgSelecionarImagem').hide();"
                                                             style="font-size: 11px;" immediate="true"/>
                                        </div>
                                    </div>
                                </li>
                            </ui:repeat>
                        </ul>
                    </h:panelGroup>
                </p:scrollPanel>

                <div style="width: 440px;
                     overflow: hidden;
                     margin: 0 auto;
                     text-align: center;">
                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                    <p:commandButton value="Anterior" disabled="#{!imageController.pagImages.hasPreviousPage}"
                                     ajax="true" actionListener="#{imageController.pagImages.previousPage()}"
                                     update=":formSelecionarImagem:imagens"/>
                    <h:outputText value="#{imagemController.pagFotos.page}" id="page"/>
                    <p:commandButton value="Próxima" disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                     actionListener="#{imageController.pagImages.nextPage()}"
                                     update=":formSelecionarImagem:imagens"/>
                </div>
            </p:dialog>
        </h:form>

        <h:form id="formMudarImagem" prependId="false">
            <p:remoteCommand name="mudaImagem" immediate="true" action="#{dicaDoDiaController.mudaImagem()}"
                             update=":formAdd:imagemAddDica :formEditar:imagemEditDica"/>
        </h:form>
    </ui:define>
</ui:composition>

