<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    
    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <style>
            /* sobrescreve css */

            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;
                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }

            .ui-growl-item {
                margin-top: 80px;
            }
            .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
                margin-top: 0px !important;
            }
            
            .fc-event, .fc-event-inner{
                background-color: #f9dd16;
                border-color: #004a93;
                color: #000;
                font-size: 14px;
                height: 29px;
            }
            .fc-header, .fc-header-inner{
                background-color: #ffeeaa;
                border-color: #004a93;
                color: #fff;
                font-size: 14px;
                height: 18px;
            }
            .fc-button-next, .fc-button-prev
            {
                width: 20%;
                height: 60%;
                margin-top: 9%;
                opacity: 0.5;
            }
            .fc-button-today
            {
                color: #000;
                width: 20%;
                margin-left: -10em;
                margin-top: 4em;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Margem Disponível Governo do Estado
    </ui:define>

    <ui:define name="conteudo">
        <!--
        *******************************************************************************
                                                                BB
            Superintendencia do BB - Tocantins               BBBBBBBB               BBB
            Departamento de Tecnologia da Informacao       BBBBBBBBBBBB           BBBBB
            Desenvolvedor da ferramenta:                 BBBBBBBBBBBBBBBB       BBBBBBB
                Jhemeson Silva Mota                    BBBBBBBBB   BBBBBBBB   BBBBBBBBB
                                                     BBBBBBBBB       BBBBBBBB   BBBBBBB
                                                   BBBBBBBBB           BBBBBBBB   BB
                                                 BBBBBBBBB               BBBBBBBB
                                               BBBBBBBBB             BBB   BBBBBBBB
                                             BBBBBBBBBBBBBB        BBBBBBB   BBBBBBBB
                                           BBBBBBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                             BBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                               BBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
        *******************************************************************************
        -->
        <h:form id="form">
            <p:growl id="growl" showDetail="true" life="55555"/>
            <div class="container-fluid" style="margin-top: 80px;">
                    <h2 style="color: #0EB96A;">Margem Disponível Governo do Estado</h2>
                    <div class="col-md-12" style="margin-top: 20px;">
                    </div>
                            <div class="row" >  
                                                <div class="panel-body ">
                                                    <div class="panel-heading row text-center" style="background-color: #333; color: #0EB96A;">
                                                        <h3 class="col-md-8" style="margin-left: 15%;">Clientes</h3>
                                                        <p:commandLink styleClass="btn btn-info well-lg" rendered="#{loginController.funcionario.prefixo == 8517}" onclick="PF('addDialog').show();"
                                                                        style="width: 10%; font-size: 7pt; float: right;">
                                                             <i class="glyphicon glyphicon-open"></i> &nbsp;&nbsp;<span>Atualizar Base de Dados</span>
                                                         </p:commandLink>
                                                        <p:commandLink styleClass="btn btn-info well-lg" rendered="#{loginController.funcionario.prefixo == 8517}" onclick="PF('infoAg').show();"
                                                                        style="width: 10%; font-size: 7pt; float: right; margin: 1em; margin-top: -3.3%;">
                                                             <i class="glyphicon glyphicon-record"></i> &nbsp;&nbsp;<span>Relação das Agências</span>
                                                         </p:commandLink>
                                                        <p:commandButton id="toggler" type="button" value="Personalizar Colunas" style="float:left; margin-top: -3%;" icon="ui-icon-calculator" />
                                                        <p:columnToggler datasource="tbCl" trigger="toggler" />
                                                    </div>
                                                    <p:dataTable var="cliente" id="tbCl" widgetVar="tbCl" value="#{clienteController.listaComCMD}"
                                                                 paginator="true" paginatorPosition="bottom" selectionMode="single" selection="#{clienteController.selected}" filteredValue="#{clienteController.listaFilter}"
                                                                 emptyMessage="Sem Clientes Cadastrados Quem Supram Todas as Informações Desejáveis!" rows="20" rowKey="#{cliente.mci}"
                                                                 filterDelay="1000" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                                                 {RowsPerPageDropdown} {Exporters}"
                                                                 rowsPerPageTemplate="10,20,30,40,50">
                                                        <p:ajax event="rowSelect" oncomplete="PF('infoCl').show()" update=":formAdd:infoCl"/>
                                                        <f:facet name="{Exporters}">
                                                            <h:commandLink value="PDF" styleClass="btn btn-success" style="float: right; margin-left: 0.2em; background-color: #333; border-color: #0596F3; color: #0EB96A;"> 
                                                                <p:dataExporter type="pdf" target="tbCl" fileName="MargemDisponivelClientes" encoding="utf-8"/>
                                                            </h:commandLink>
                                                            <h:commandLink value="CSV" styleClass="btn btn-success" style="float: right; background-color: #333; border-color: #0596F3; color: #0EB96A;">
                                                                <p:dataExporter type="csv" target="tbCl" fileName="MargemDisponivelClientes" encoding='utf-8'/>
                                                            </h:commandLink>
                                                        </f:facet>
                                                        <p:column headerText="Prefixo" style="text-align: center;" sortBy="#{cliente.prefixo}" filterBy="#{cliente.prefixo}" filterMatchMode="contains">
                                                            <h:outputText value="#{cliente.prefixo}"/>
                                                        </p:column>
                                                        <p:column headerText="Num. Carteira" style="text-align: center;" sortBy="#{cliente.numCarteira}" filterBy="#{cliente.numCarteira}" filterMatchMode="contains">
                                                            <h:outputText value="#{cliente.numCarteira}" />
                                                        </p:column>
                                                        <p:column headerText="MCI" style="text-align: center;" sortBy="#{cliente.mci}" filterBy="#{cliente.mci}" filterMatchMode="contains">
                                                            <h:outputText value="#{cliente.mci}" />
                                                        </p:column>
                                                        <p:column headerText="Nome" style="text-align: center;" sortBy="#{cliente.nomeCliente}" filterBy="#{cliente.nomeCliente}" filterMatchMode="contains">
                                                            <h:outputText value="#{cliente.nomeCliente}" />
                                                        </p:column>
                                                        <p:column headerText="Telefone" style="text-align: center;" sortBy="#{cliente.telefone}" filterBy="#{cliente.telefone}" filterMatchMode="contains">
                                                            <h:outputText value="#{cliente.telefone}" />
                                                        </p:column>
                                                        <p:column headerText="Orgão" style="text-align: center;" sortBy="#{clienteMdController.pegarClientePorMci(cliente.mci).orgao}" filterBy="#{clienteMdController.pegarClientePorMci(cliente.mci).orgao}" filterMatchMode="contains">
                                                            <h:outputText value="#{clienteMdController.pegarClientePorMci(cliente.mci).orgao}" />
                                                        </p:column>
                                                        <p:column headerText="Margem Disponível *" style="text-align: center;" sortBy="#{clienteMdController.pegarClientePorMci(cliente.mci).margem}" filterBy="#{clienteMdController.pegarClientePorMci(cliente.mci).margem}" filterMatchMode="contains">
                                                            <h:outputText value="#{clienteMdController.pegarClientePorMci(cliente.mci).margem}">
                                                                <f:convertNumber type="currency" minFractionDigits="2"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Consig Disponível" style="text-align: center;" sortBy="#{clienteMdController.pegarClientePorMci(cliente.mci).consig}" filterBy="#{clienteMdController.pegarClientePorMci(cliente.mci).consig}" filterMatchMode="contains">
                                                            <h:outputText value="#{clienteMdController.pegarClientePorMci(cliente.mci).consig}">
                                                                <f:convertNumber type="currency" minFractionDigits="2"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Troco Max Disponível" style="text-align: center;" sortBy="#{clienteMdController.pegarClientePorMci(cliente.mci).trocomax}" filterBy="#{clienteMdController.pegarClientePorMci(cliente.mci).trocomax}" filterMatchMode="contains">
                                                            <h:outputText value="#{clienteMdController.pegarClientePorMci(cliente.mci).trocomax}">
                                                                <f:convertNumber type="currency" minFractionDigits="2"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Salario Disponível" style="text-align: center;" sortBy="#{clienteMdController.pegarClientePorMci(cliente.mci).salario}" filterBy="#{clienteMdController.pegarClientePorMci(cliente.mci).salario}" filterMatchMode="contains">
                                                            <h:outputText value="#{clienteMdController.pegarClientePorMci(cliente.mci).salario}">
                                                                <f:convertNumber type="currency" minFractionDigits="2"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Foco Salario" style="text-align: center;" sortBy="#{clienteMdController.pegarClientePorMci(cliente.mci).focosalario}" filterBy="#{clienteMdController.pegarClientePorMci(cliente.mci).focosalario}" filterMatchMode="contains">
                                                            <f:facet name="filter">
                                                                <p:selectOneMenu onchange="PF('tbCl').filter()" style="width: 80%">
                                                                    <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                                                    <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                                                    <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                                                </p:selectOneMenu>
                                                            </f:facet>
                                                            <h:outputText value="#{clienteMdController.pegarClientePorMci(cliente.mci).focosalario == 'true'? 'Sim': 'Não'}" />
                                                        </p:column>
                                                        <p:column headerText="Contatado" style="text-align: center;" sortBy="#{clienteMdController.pegarClientePorMci(cliente.mci).contatado}" filterBy="#{clienteMdController.pegarClientePorMci(cliente.mci).contatado}" filterMatchMode="contains">
                                                            <f:facet name="filter">
                                                                <p:selectOneMenu onchange="PF('tbCl').filter()" style="width: 80%">
                                                                    <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                                                    <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                                                    <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                                                </p:selectOneMenu>
                                                            </f:facet> 
                                                            <h:outputText value="#{clienteMdController.pegarClientePorMci(cliente.mci).contatado == 'true'? 'Sim': 'Não'}" />
                                                        </p:column>
                                                        <p:column headerText="Portabilidade" style="text-align: center;" sortBy="#{clienteMdController.possuiThing(clienteMdController.pegarClientePorMci(cliente.mci).cpf)}" filterBy="#{clienteMdController.possuiThing(clienteMdController.pegarClientePorMci(cliente.mci).cpf)}" filterMatchMode="contains">
                                                            <f:facet name="filter">
                                                                <p:selectOneMenu onchange="PF('tbCl').filter()" style="width: 80%">
                                                                    <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                                                    <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                                                    <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                                                </p:selectOneMenu>
                                                            </f:facet> 
                                                            <h:outputText value="#{clienteMdController.possuiThing(clienteMdController.pegarClientePorMci(cliente.mci).cpf) == 'true'? 'Sim': 'Não'}" />
                                                        </p:column>
                                                    </p:dataTable>
                                                    <hr/>
                                                    <h:outputText value="* : Margem consignável disponível com o Governo do Estado"/>
                                                </div>
                            </div>
            </div>  
            <h:panelGroup id="alertas">
                <script type="text/javascript">
                    function mostraAlerta(dialog) 
                    {
                        PF(dialog).hide();
                        mostraAtencao("Atenção!", "Importação de dados Finalizada!", 0);
                    }
                </script>
            </h:panelGroup> 
        </h:form>
        <h:form id="formAdd" prependId="false">
            <p:dialog id="infoCl" widgetVar="infoCl" closeOnEscape="true" header="Formulário de Contato - Margem Disponível" modal="true"
                      showEffect="drop">
                <div class="container" style="width: 600px;">
                    <div class="col-md-12">                   
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="MCI: #{clienteController.selected.mci}" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Número da Carteira: #{clienteController.selected.numCarteira}" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Prefixo: #{clienteController.selected.prefixo}"/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Orgão: #{clienteMdController.pegarClientePorMci(clienteController.selected.mci).orgao}"/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-12">
                                <p:outputLabel value="Margem Disponível com o Governo do Estado: " />
                                <p:outputLabel value="#{clienteMdController.pegarClientePorMci(clienteController.selected.mci).margem}">
                                    <f:convertNumber type="currency" minFractionDigits="2"/>
                                </p:outputLabel>
                                <br/>
                                <p:outputLabel value="Consignado Disponível: " />
                                <p:outputLabel value="#{clienteMdController.pegarClientePorMci(clienteController.selected.mci).consig}">
                                    <f:convertNumber type="currency" minFractionDigits="2"/>
                                </p:outputLabel>
                                <br/>
                                <p:outputLabel value="Troco Máximo Disponível: " />
                                <p:outputLabel value="#{clienteMdController.pegarClientePorMci(clienteController.selected.mci).trocomax}">
                                    <f:convertNumber type="currency" minFractionDigits="2"/>
                                </p:outputLabel>
                                <br/>
                                <p:outputLabel value="Salário Disponível: " />
                                <p:outputLabel value="#{clienteMdController.pegarClientePorMci(clienteController.selected.mci).salario}">
                                    <f:convertNumber type="currency" minFractionDigits="2"/>
                                </p:outputLabel>
                                <br/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-12">
                                <p:outputLabel value="Consignações do Servidor" />
                                <p:dataTable var="coisa" id="tbDetalhes" widgetVar="tbDetalhes" value="#{clienteMdController.pegarCoisasPorCliente(clienteController.selected.mci)}"
                                             emptyMessage="Sem Cadastros para Esse CPF">
                                    
                                    <p:column headerText="CPF" style="text-align: center;">
                                        <h:outputText value="#{coisa.cpf}"/>
                                    </p:column>
                                    <p:column headerText="Banco" style="text-align: center;">
                                        <h:outputText value="#{coisa.banco}" />
                                    </p:column>
                                    <p:column headerText="Parcela" style="text-align: center;">
                                        <h:outputText value="R$ #{coisa.parcela}" />
                                    </p:column>
                                    <p:column headerText="Prazo" style="text-align: center;">
                                        <h:outputText value="#{coisa.prazo}" />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-12" style="padding-left: 37%;">
                                <p:outputLabel value="#{clienteMdController.pegarClientePorMci(clienteController.selected.mci).contatado == 'true'? 'Já Contatado' : 'Ainda Não Contatado'}" style="padding-right: 1em;"/>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <p:commandLink styleClass="btn btn-success" value="CONTATAR" actionListener="#{clienteMdController.contatar(clienteController.selected.mci, !(clienteMdController.pegarClientePorMci(clienteController.selected.mci).contatado))}" update=":form:tbCl"
                                           onsuccess="PF('infoCl').hide();" style="margin-left: 20%; width: 60%;" rendered="#{clienteMdController.pegarClientePorMci(clienteController.selected.mci).contatado == 'false'}"/>
                            <p:commandLink styleClass="btn btn-success" value="CANCELAR CONTATO" actionListener="#{clienteMdController.contatar(clienteController.selected.mci, !(clienteMdController.pegarClientePorMci(clienteController.selected.mci).contatado))}" update=":form:tbCl"
                                           onsuccess="PF('infoCl').hide();" style="margin-left: 20%; width: 60%;" rendered="#{clienteMdController.pegarClientePorMci(clienteController.selected.mci).contatado == 'true'}"/>
                            <br/>
                            <hr/>
                            <p:commandLink styleClass="btn btn-warning" value="OK" style="margin-left: 20%; width: 60%;" onsuccess="PF('infoCl').hide();" />
                        </div>
                    </div>
                </div>
            </p:dialog> 
            <p:dialog id="loading" widgetVar="loading" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                                <p:graphicImage value="#{resources['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                            </p:dialog>
            
            <p:dialog id="addDialog" widgetVar="addDialog" header="Atualizar Base" showEffect="fade" width="850"
                      hideEffect="fade" modal="true" resizable="false" draggable="false">
                <h3>Subir Tabela de Margem Disponível</h3>
                <h:outputLabel value="MCI;Orgão;MargemDisponivel;ConsigDisponivel;TrocoMaxDisponivel;SalarioDisponivel;FocoSalario;cpf" style="margin-left: 8px; padding: 4px 3px;background-color: #0596F3; border-radius: 2px; color: #fff;"/>
                <p:fileUpload fileUploadListener="#{clienteMdController.lerArq}"
                        mode="advanced"
                        sizeLimit="100000000"
                        oncomplete="PF('DialogCompleto').show()"
                        update=":form:tbCl"
                        label="Selecionar"
                        allowTypes="/(\.|\/)(csv)$/"
                        onstart=""
                    />
                <h3>Excluir Lista de Clientes</h3>
                <h:outputLabel value="MCI;Orgão;MargemDisponivel;ConsigDisponivel;TrocoMaxDisponivel;SalarioDisponivel;FocoSalario" style="margin-left: 8px; padding: 4px 3px;background-color: #0596F3; border-radius: 2px; color: #fff;"/>
                <p:fileUpload fileUploadListener="#{clienteMdController.lerArqDelete}"
                        mode="advanced"
                        sizeLimit="100000000"
                        oncomplete="PF('DialogCompleto').show()"
                        update=":form:tbCl"
                        label="Selecionar"
                        allowTypes="/(\.|\/)(csv)$/"
                        onstart=""
                    />
                <h3>Subir Detalhamento</h3>
                <h:outputLabel value="Tabela de Saída da Macro" style="margin-left: 8px; padding: 4px 3px;background-color: #0596F3; border-radius: 2px; color: #fff;"/>
                <p:fileUpload fileUploadListener="#{clienteMdController.gera}"
                        mode="advanced"
                        sizeLimit="100000000"
                        oncomplete="PF('DialogCompleto').show()"
                        update=":form:tbCl"
                        label="Selecionar"
                        allowTypes="/(\.|\/)(csv)$/"
                        onstart=""
                    />
                <p:commandLink styleClass="btn btn-warning" value="LIMPAR CONTATOS" style="margin-left: 20%; width: 60%;" actionListener="#{clienteMdController.limpaContatos()}"/>
            </p:dialog>
            
            <p:dialog id="infoAg" widgetVar="infoAg" header="Informações da Agências" showEffect="fade" width="850"
                      hideEffect="fade" modal="true" resizable="false" draggable="false">
                <div class="panel-heading row text-center" style="background-color: #333; color: white;">
                    <h3 style="color: #0EB96A;">Relação das Agências</h3>
                </div>
                <p:dataTable var="agencia" id="tbAgen" widgetVar="tbAgen" value="#{agenciasController.agencias}" paginatorPosition="bottom" rows="20"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                    {RowsPerPageDropdown}" filterDelay="1000"
                    rowsPerPageTemplate="10,20,30,40,50" paginator="true">
                    <p:column headerText="Prefixo" style="text-align: center;" sortBy="#{agenciasController.formataPrefixo(agencia.prefixo)}" filterBy="#{agenciasController.formataPrefixo(agencia.prefixo)}" filterMatchMode="contains">
                        <h:outputText value="#{agenciasController.formataPrefixo(agencia.prefixo)}"/>
                    </p:column>
                    <p:column headerText="Quantidade de Contatos" style="text-align: center;" sortBy="#{clienteMdController.getFeitosMD(agencia.prefixo)}" filterBy="#{clienteMdController.getFeitosMD(agencia.prefixo)}" filterMatchMode="contains">
                        <h:outputText value="#{clienteMdController.getFeitosMD(agencia.prefixo)}" />
                    </p:column>
                    <p:column headerText="Público Total" style="text-align: center;" sortBy="#{clienteMdController.getTotalMD(agencia.prefixo)}" filterBy="#{clienteMdController.getTotalMD(agencia.prefixo)}" filterMatchMode="contains">
                        <h:outputText value="#{clienteMdController.getTotalMD(agencia.prefixo)}" />
                    </p:column>
                </p:dataTable>
            </p:dialog>
            
            <p:dialog id="WarnDialog" widgetVar="WarnDialog" showEffect="fade" width="550"
                      hideEffect="fade" modal="true" resizable="false" draggable="false" visible="true" style="background-color: tomato;" showHeader="false">
                <div style="background-color: #fff; color: #000; text-align: center;">
                    <h1>ATENÇÃO!!!</h1>
                </div>
                <div style="text-align: center">
                    <h4>Informação para uso interno do Banco!</h4>
                    <h4>A informação não deve ser repassada a terceiros!</h4>
                    <h3>#{loginController.funcionario.prefixo}</h3>
                    <h3>#{clienteMdController.getFeitosMD(loginController.funcionario.prefixo)} contatos feitos de um total de #{clienteMdController.getTotalMD(loginController.funcionario.prefixo)}</h3>
                </div>
                            <h:panelGroup id="menus">
                                <ul class="nav nav-pills" style="padding: 7px;">
                                    <li role="presentation" class="active menu_btn_active" style="width: 80%; height: 40px; margin-left: 10%; border-radius: 20px; color: #fff">
                                        <a href="#" onclick="PF('WarnDialog').hide()" style="text-align: center; background-color: #333;">
                                            <i class="icon-plus"></i> OK
                                        </a>
                                    </li>
                                </ul>
                            </h:panelGroup>
            </p:dialog>
            
            <p:dialog id="DialogCompleto" widgetVar="DialogCompleto" header="COMPLETO" showEffect="fade" width="850"
                hideEffect="fade" modal="true" resizable="false" draggable="false">
                <h:button title="OK" value="OK" style="width: 80%; height: 40px; margin-left: 10%; background-color: #0EB96A; border-radius: 20px;"/>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>
