/* Iconfont made with icomoon.com */
@font-face {
    font-family: 'cbp-tmicons';
    src:url('../fonts/tmicons/cbp-tmicons.eot');
    src:url('../fonts/tmicons/cbp-tmicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tmicons/cbp-tmicons.woff') format('woff'),
        url('../fonts/tmicons/cbp-tmicons.ttf') format('truetype'),
        url('../fonts/tmicons/cbp-tmicons.svg#cbp-tmicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/fonts/icomoon.eot?-xf3r0x');
	src:url('../fonts/fonts/icomoon.eot?#iefix-xf3r0x') format('embedded-opentype'),
		url('../fonts/fonts/icomoon.woff?-xf3r0x') format('woff'),
		url('../fonts/fonts/icomoon.ttf?-xf3r0x') format('truetype'),
		url('../fonts/fonts/icomoon.svg?-xf3r0x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	 Better Font Rendering =========== 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}*/

.icon-icon-logout1:before {
	content: "\e600";
}

.icon-icon-logout2:before {
	content: "\ea14";
}

/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
    list-style: none;

}

/** rodrigo **/
.navbar-header{
    background: #262626;
    min-height: 65px;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 2000;

    top: 0;
    position: fixed;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.47);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.47);

}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
    display: block; 
    position: relative;
    z-index: 1000;
    width: 100%;
    /*	background: #47a3da;*/
    background: #262626; 
    text-align: right;
    padding: 0 2em;
    margin: 0;
    text-transform: capitalize;
}

/* first level menu items */
.cbp-tm-menu > li {
    display: inline-block;
    position: relative;
    /*margin: 0 2.6em;*/
    margin: 0 1em;
}

.cbp-tm-menu > li > a svg {
    height: 20px;
}
.cbp-tm-menu > li > a#in svg, .cbp-tm-menu > li > a#plataforma svg {
    width: 16px;
}
img#logobb_menu {
    position: absolute;
    left: 20px;
    top: 8px;
    z-index: 20000;
    opacity: 0.1;
    display: block;
}
img#logobb_menu:hover {

    opacity: 1;

    transition: opacity 0.2s linear 0s;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.cbp-tm-menu svg path {
    fill: #f9f9f9; 
}

.cbp-tm-menu svg:hover path {
    fill: #02639d;
}

.cbp-tm-menu > li > a {
    line-height: 4em;
    padding: 0 0.3em;
    font-size: 1.2em;
    display: block;
    color: #fff;
}

.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
    color: #02639d;
}

/* sumbenu with transitions */
.cbp-tm-submenu {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    text-align: left;
    pointer-events: none;
    -webkit-transition: visibility 0s, opacity 0s;
    -moz-transition: visibility 0s, opacity 0s;
    transition: visibility 0s, opacity 0s;
}

.cbp-tm-show .cbp-tm-submenu {
    width: 16em;
    left: 50%;
    margin: 0 0 0 -8em;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: visibility 0s, opacity 0.3s;
    -moz-transition: visibility 0s, opacity 0.3s;
    transition: visibility 0s, opacity 0.3s;
}

.cbp-tm-show-above .cbp-tm-submenu {
    bottom: 100%;
    padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
    top: 100%;
    padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
    right: 0;
    left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
    left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
    right: 0;
}

/* 	
arrow: depending on where the menu will be shown, we set 
the right position for the arrow
*/

.cbp-tm-submenu:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
    top: 100%;
    margin-top: -10px;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
    bottom: 100%;
    margin-bottom: -10px;
}

.cbp-tm-submenu:after {
    border-color: transparent;
    border-width: 16px;
    margin-left: -16px;
    left: 50%;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
    border-top-color: #fff;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
    border-bottom-color: #fff;
}

.cbp-tm-submenu > li {
    display: block;
    background: #fff;
    /*background: #171616;*/
}

.cbp-tm-submenu > li > a {
    padding: 5px 2.3em 5px 0.6em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
    display: block;
    font-size: 1.2em;
    position: relative;
    /*color: #47a3da;*/
    color: #181818;
    border: 4px solid #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
   color: #fff;
   background: #262626; 
    /*background: #47a3da;*/
}

/* the icons (main level menu icon and sublevel icons) */
.cbp-tm-submenu li a:before,
.cbp-tm-menu > li > a:before {
    font-family: 'cbp-tmicons', 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    margin-right: 0.6em;
    -webkit-font-smoothing: antialiased;
}

.cbp-tm-submenu li a:before {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.5em;
}

.cbp-tm-menu > li > a:not(:only-child):before {
/*    content: "\f0c9";*/
    font-size: 60%;
    opacity: 0.3;
}

.cbp-tm-icon-archive:before {
    content: "\e002";
}

.cbp-tm-icon-cog:before {
    content: "\e003";
}

.cbp-tm-icon-users:before {
    content: "\e004";
}

.cbp-tm-icon-earth:before {
    content: "\e005";
}

.cbp-tm-icon-location:before {
    content: "\e006";
}

.cbp-tm-icon-mobile:before {
    content: "\e007";
}

.cbp-tm-icon-screen:before {
    content: "\e008";
}

.cbp-tm-icon-mail:before {
    content: "\e009";
}

.cbp-tm-icon-contract:before {
    content: "\e00a";
}

.cbp-tm-icon-pencil:before {
    content: "\e00b";
}

.cbp-tm-icon-article:before {
    content: "\e00c";
}

.cbp-tm-icon-clock:before {
    content: "\e00d";
}

.cbp-tm-icon-videos:before {
    content: "\e00e";
}

.cbp-tm-icon-pictures:before {
    content: "\e00f";
}

.cbp-tm-icon-link:before {
    content: "\e010";
}

.cbp-tm-icon-refresh:before {
    content: "\e011";
}

.cbp-tm-icon-help:before {
    content: "\e012";
}

/* Media Queries */
@media screen and (max-width: 55.6875em) {
    .cbp-tm-menu {
        font-size: 80%;
        display: none;
    }
    #cbp-tm-menu {
        font-size: 80%;
        display: none;
    }

    @media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

        .nav-toggle {
            padding: 16px;
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
        }
        .icon-bar {
            background-color: #FFF; 
            border-radius: 1px;
            display: block;
            height: 2px;
            margin: 3px 0px;
            width: 18px;
        }

        .cbp-tm-menu {
            font-size: 100%;
            position: relative;
            text-align: center;
            padding: 0;
            display: none;
            top: 60px;
        }
        
        #cbp-tm-menu {
            font-size: 100%;
            position: relative;
            text-align: center;
            padding: 0;
            display: none;
            top: 60px;
        }

        .cbp-tm-menu > li {
            display: block;
            margin: 0;
            width: 100%;
            border-bottom: 4px solid #181818;
        }
        #cbp-tm-menu > li {
            display: block;
            margin: 0;
            width: 100%;
            border-bottom: 4px solid #181818;
        }

        .cbp-tm-menu > li:first-child {
            /*border-top: 4px solid #3793ca;*/
            border-bottom: 4px solid #181818;
        }
        #cbp-tm-menu > li:first-child {
            /*border-top: 4px solid #3793ca;*/
            border-bottom: 4px solid #181818;
        }

        li.cbp-tm-show > a,
        .no-touch .cbp-tm-menu > li > a:hover,
            .no-touch .cbp-tm-menu > li > a:active {
            color: #fff;
            /*background: #02639d;*/
            background: #1a1919;
        }

        .cbp-tm-submenu {
            position: relative;
            display: none;
            width: 100%;
        }

        .cbp-tm-submenu > li {
            padding: 0;
        }

        .cbp-tm-submenu > li > a {
            padding: 0.6em 2.3em 0.6em 0.6em;
            border: none;
            border-bottom: 2px solid #222;
            /*        border-bottom: 2px solid #6fbbe9;*/
        }

        .cbp-tm-submenu:after {
            display: none;
        }

        .cbp-tm-menu .cbp-tm-show .cbp-tm-submenu {
            display: block;
            width: 100%;
            left: 0;
            margin: 0;
            padding: 0;
        }

    }
}
