        
@import url("../font-face/fonts.css");

body {
}

h4 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}
.comercial {
    width: 100%;
    background-color: #f9f9f9;
    height: 100%;
    padding: 25px;
}
.comercial p{
    font-family: 'lato', sans-serif;
    line-height: 18px;
}
.noPading {
    padding: 0;
}
.noPadingLeft {
    padding-left: 0;
}
.noPadingRight{
    padding-right: 0;
}
.noMargin {
    padding-left: 0 !important;
}

.temMargem {
    margin-bottom: 20px;
}

article.noticia {
    width: 100%;
}
.noticia-texto {
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    margin-left: 103px; 
    padding: 18px;

    -webkit-border-radius: 7px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 7px;
    -moz-border-radius-topleft: 0;
    border-radius: 7px;
    border-top-left-radius: 0;

}

.noticia-texto p {
    font-family: 'Lato', sans-serif;
    color: #666;
    line-height: 18px;
}

* {
    margin: 0;
    padding: 0;
}

.img-noticia {
    float: left;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 3px 0px 3px 3px;
    background: #f9f9f9;

    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.img-noticia img {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

h1.titulo-noticia {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 15px 0;
}

#sidebar {
    width: 90%;
}


ul.menu-sidebar {
    list-style: outside none none;
}

.menu-sidebar > li {
    font-size: 12px;
    position: relative;
    padding: 14px 18px;
    background: #f5f5ff;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.menu-sidebar > li > a {
    text-decoration: none;
}

.menu-sidebar li a {
    color: #666;
}

.menu-sidebar li:hover {
}

.menu-sidebar li a:hover {
    color: #045491;
    padding-left: 8px;
}

#coluna2 {
    left: 73%;
    height: 100%;
    position: fixed;
}

#ferramentas {
    overflow: hidden;
}

#ferramentas .imagens-thumbnail{
    display: inline;

}
#ferramentas .imagens-thumbnail img{
    margin-right: 14px;
    padding: 3px;
    width: 100px; 
}

@media screen and (min-width: 1128px) {
    #ferramentas {
        width: 60%;
    }

    #sidebar {
        width: 85%;
    }
}

@media screen and (max-width: 1024px) {
    #ferramentas .imagens-thumbnail img{
        width: 85%; 
    }
}


/* ADM ADM ADM ADM */
.links_externos {
    margin: 0;
}

.links_externos a {
    display: block;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 16px 20px;
    border: solid 5px #fff;
    height: 76px;
    line-height: 1em;
    text-decoration: none;
}

.mercadoADM a {
    background-color: #004a93;
    color: white;
}
.mercadoAGRO a {
    background-color: #2b542c;
    color: white;
}

.mercadoPF a {
    background-color: #47a3da;
    color: white;
}
.mercadoGOV a {
    background-color: #47a3da;
    color: white;
}

.mercadoDS a {
    background-color: #2b542c;
    color: white;
}


.links_externos a:hover {
-webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.links_externos a.first {
    border-left: none;
}
.links_externos a.last {
    border-right: none;
}

/****** metro css ****/
.metro a:hover {
-webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.metro .first {
    border-left: none;
}

.metro a.single {
    border-left: none;
    width: 20%;
}
.metro a.double {
    border-left: none;
    width: 40%;
}
.metro .last {
    border-right: none;
}
.metro .gray {
    color: #262626;
}

.metro a.double h3 {
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
}
.metro .grayscale, .gray h3 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.metro .grayscale {
    background-color: rgba(59,56,56,1);
    color: white;
}

.metro a {
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 16px 20px;
    border: solid 5px #fff;
    height: 160px;
    line-height: 1em;
    text-decoration: none;
}

.mercadoPJ a {
    background-color: #47a3da;
    color: white;
}