<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        Intranet Administração - Agenda da Seguridade
    </ui:define>
    <ui:define name="header">

    </ui:define>

    <ui:define name="content">
        <!--
        *******************************************************************************
                                                                BB
            Superintendencia do BB - Tocantins               BBBBBBBB               BBB
            Departamento de Tecnologia da Informacao       BBBBBBBBBBBB           BBBBB
            Desenvolvedor da ferramenta:                 BBBBBBBBBBBBBBBB       BBBBBBB
                Jhemeson Silva Mota                    BBBBBBBBB   BBBBBBBB   BBBBBBBBB
                                                     BBBBBBBBB       BBBBBBBB   BBBBBBB
                                                   BBBBBBBBB           BBBBBBBB   BB
                                                 BBBBBBBBB               BBBBBBBB
                                               BBBBBBBBB             BBB   BBBBBBBB
                                             BBBBBBBBBBBBBB        BBBBBBB   BBBBBBBB
                                           BBBBBBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                             BBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                               BBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
        *******************************************************************************
        -->
        <fieldset>
            <br/>
            <legend><h2>Agenda da Seguridade</h2></legend>

            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#atbase" aria-controls="atbase" role="tab" data-toggle="tab">Atualizar Base</a></li>
                    <li role="presentation"><a href="#cadastroMetas" aria-controls="cadastroMetas" role="tab" data-toggle="tab">Cadastrar Metas</a></li>
                    <li role="presentation"><a href="#cadastroBlocos" aria-controls="cadastroBlocos" role="tab" data-toggle="tab">Cadastrar/Visualizar Blocos</a></li>
                    <li role="presentation"><a href="#cadastroProdutos" aria-controls="cadastroProdutos" role="tab" data-toggle="tab">Cadastrar/Visualizar Produtos</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="atbase">
                        <h:form id="formDados" prependId="false">
                            <h:panelGroup id="menus">
                                <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;">
                                    <li role="presentation" class="active menu_btn_active">
                                        <a href="#" onclick="PF('addDialog').show()">
                                            <i class="icon-plus"></i> Atualizar Base
                                        </a>
                                    </li>
                                </ul>
                            </h:panelGroup>

                            <p:dataTable id="clientes" var="cliente"  paginatorPosition="bottom" paginator="true" value="#{clienteController.listSeguridade}" 
                             widgetVar="tabelaClientes" selectionMode="single" selection="#{clienteController.selected}"
                             emptyMessage="Sem Clientes cadastrados." rows="20" rowKey="#{cliente.mci}" filterDelay="1250"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}">  
                                <p:ajax event="rowSelect" oncomplete="PF('blocos').show();" update="" />
                                <f:facet name="header">
                                    <h3>Lista de Clientes</h3>
                                    <p:commandButton id="toggler" type="button" value="Personalizar Colunas" style="float:right; margin-top: -5%;" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="clientes" trigger="toggler" />
                                </f:facet>
                                <f:facet name="{Exporters}">   
                                    <h:commandLink value="PDF" styleClass="btn btn-success" style="float: right; margin-left: 0.2em; background-color: #0596F3; border-color: #0596F3;"> 
                                        <p:dataExporter type="pdf" target="clientes" fileName="clientes" encoding="ISO-8859-1"/>
                                        </h:commandLink>
                                        <h:commandLink value="CSV" styleClass="btn btn-success" style="float: right; background-color: #FFAA00; border-color: #0596F3;">
                                            <p:dataExporter type="csv" target="clientes" fileName="clientes" encoding='ISO-8859-1'/>
                                        </h:commandLink>
                                </f:facet>
<!--                                <p:column headerText="NOME" sortBy="#{cliente.nomeCliente}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.nomeCliente}">
                                    <h:outputText value="#{cliente.nomeCliente}"/>
                                </p:column>-->
                                <p:column headerText="MCI" sortBy="#{cliente.mci}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.mci}">
                                    <h:outputText value="#{cliente.mci}"/>
                                </p:column>
                                <p:column headerText="Num. Carteira" sortBy="#{cliente.numCarteira}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.numCarteira}">
                                    <h:outputText value="#{cliente.numCarteira}"/>
                                </p:column>
                                <p:column headerText="Prefixo" sortBy="#{cliente.prefixo}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.prefixo}">
                                    <h:outputText value="#{agenciasController.formataPrefixo(cliente.prefixo)}"/>
                                </p:column>
<!--                                <p:column headerText="Telefone" sortBy="#{cliente.telefone}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.telefone}">
                                    <h:outputText value="#{cliente.telefone}"/>
                                </p:column>-->
                                <p:column headerText="Possui Produtos Cancelados" sortBy="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não" itemValue="Não" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Possui Produtos Vencidos" sortBy="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não" itemValue="Não" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Possui Produtos Vincendos" sortBy="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="true" />
                                            <f:selectItem itemLabel="Não" itemValue="false" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiVincendos(cliente.mci) == 'true' ? 'Sim' : 'Não'}"/>
                                </p:column>
                                <p:column headerText="Produtos Não Contatados" sortBy="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não" itemValue="Não" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Quantidade Não Contatada" sortBy="#{ClienteProdutoController.getQtNaoContatados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.getQtNaoContatados(cliente.mci)}">
                                    <h:outputText value="#{ClienteProdutoController.getQtNaoContatados(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Prêmio Total" sortBy="#{ClienteProdutoController.getPremNaoContatados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.getPremNaoContatados(cliente.mci)}">
                                    <h:outputText value="#{ClienteProdutoController.getPremNaoContatados(cliente.mci)}">
                                        <f:convertNumber type="currency" maxFractionDigits="0"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Blocos" sortBy="#{clienteController.pegaBlocosPorPessoa(cliente.mci)}" style="text-align: center; font-size: 10pt;" filterOptions="contains" filterBy="#{clienteController.pegaBlocosPorPessoa(cliente.mci)}" exportable="false">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()">
                                            <f:selectItem itemLabel="Todos" noSelectionOption="true"/>
                                            <f:selectItems value="#{blocoController.nomeBlocos}"/>
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{clienteController.pegaBlocosPorPessoa(cliente.mci)}">
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                            <h:panelGroup id="alertas">
                                <script type="text/javascript">
                                    function mostraAlerta(dialog) 
                                    {
                                            PF(dialog).hide();
                                            mostraAtencao("Atenção!", "Importação de dados Finalizada!", 0);
                                    }
                                </script>
                            </h:panelGroup> 
                        </h:form>
                    </div>
                    
                    <div role="cadastroMetas" class="tab-pane" id="cadastroMetas">
                        <h:form id="form2">
                            <p:commandLink styleClass="btn" value="Limpar Registros" style="margin-right: 15px; background-color: #666; color: white;" actionListener="#{agenciasController.limpaMetas()}" update=":form2:tbAgencias"/>
                            <p:dataTable id="tbAgencias" var="agencia"  paginatorPosition="bottom" paginator="true" value="#{agenciasController.agencias}" 
                                         widgetVar="tbAgencias" selectionMode="single" selection="#{agenciasController.selected}"
                             emptyMessage="Sem Agencias Cadastradas." rows="15" rowKey="#{agencia.prefixo}"
                             >  
                                
                                <p:ajax event="rowSelect" oncomplete="PF('infoAgencia').show();" update=""/>
                                <f:facet name="header">
                                    <h3>Cadastro de Metas Por Agência</h3>
                                </f:facet>
                                <p:column headerText="Prefixo" sortBy="#{agencia.prefixo}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agencia.prefixo}">
                                    <h:outputText value="#{agenciasController.formataPrefixo(agencia.prefixo)}"/>
                                </p:column>
                                <p:column headerText="Quantidade Contatada" sortBy="#{agencia.feitoseguridade}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agencia.feitoseguridade}">
                                    <h:outputText value="#{agencia.feitoseguridade}"/>
                                </p:column>
                                <p:column headerText="Meta" sortBy="#{agencia.metaseguridade}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agencia.metaseguridade}">
                                    <h:outputText value="#{agencia.metaseguridade}"/>
                                </p:column>
                                <p:column headerText="Porcentagem" sortBy="#{agenciasController.calculaPct(agencia)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agenciasController.calculaPct(agencia)}">
                                    <h:outputText value="#{agenciasController.calculaPct(agencia)} %"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                    <div role="cadastroBlocos" class="tab-pane" id="cadastroBlocos">
                        <h:form id="frmBloco">
                                <p:commandLink styleClass="btn btn-success" value="Add Bloco"  onsuccess="PF('addBloco').show();" style="margin-right: 15px;"/>
                                <p:dataTable var="blk" id="blk" value="#{blocoController.blocos}" widgetVar="blk">
                                    <p:column headerText="ID">
                                        <h:outputText value="#{blk.id}" />
                                    </p:column>
                                    <p:column headerText="Nome do Bloco:">
                                        <h:outputText value="#{blk.nome}" />
                                    </p:column>
                                </p:dataTable>
                        </h:form>
                    </div>
                    <div role="cadastroProdutos" class="tab-pane" id="cadastroProdutos">
                            <h:form id="frmProd">
                                <p:commandLink styleClass="btn btn-success" value="Add Produto"  onsuccess="PF('teste').show();" style="margin-right: 15px;"/>
                                    <p:dataTable var="prod" value="#{produtoSeguridadeController.produtos}" id="prod" widgetVar="prod">
                                        <p:column headerText="ID">
                                            <h:outputText value="#{prod.id}" />
                                        </p:column>
                                        <p:column headerText="Nome do Produto:">
                                            <h:outputText value="#{prod.nomeProduto}" />
                                        </p:column>
                                        <p:column headerText="Bloco:">
                                            <h:outputText value="#{prod.bloco}" />
                                        </p:column>
                                    </p:dataTable>
                            </h:form> 
                    </div>
                </div>
            </div>
        </fieldset>
    </ui:define>
</ui:composition>


