<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{facesContext.externalContext.requestContextPath}/resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        Intranet Administração - Agenda da Seguridade
    </ui:define>
    <ui:define name="header">

    </ui:define>

    <ui:define name="content">
        <!--
        *******************************************************************************
                                                                BB
            Superintendencia do BB - Tocantins               BBBBBBBB               BBB
            Departamento de Tecnologia da Informacao       BBBBBBBBBBBB           BBBBB
            Desenvolvedor da ferramenta:                 BBBBBBBBBBBBBBBB       BBBBBBB
                Jhemeson Silva Mota                    BBBBBBBBB   BBBBBBBB   BBBBBBBBB
                                                     BBBBBBBBB       BBBBBBBB   BBBBBBB
                                                   BBBBBBBBB           BBBBBBBB   BB
                                                 BBBBBBBBB               BBBBBBBB
                                               BBBBBBBBB             BBB   BBBBBBBB
                                             BBBBBBBBBBBBBB        BBBBBBB   BBBBBBBB
                                           BBBBBBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                             BBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                               BBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
        *******************************************************************************
        -->
        <fieldset>
            <br/>
            <legend><h2>Agenda da Seguridade</h2></legend>

            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#atbase" aria-controls="atbase" role="tab" data-toggle="tab">Atualizar Base</a></li>
                    <li role="presentation"><a href="#cadastroMetas" aria-controls="cadastroMetas" role="tab" data-toggle="tab">Cadastrar Metas</a></li>
                    <li role="presentation"><a href="#cadastroBlocos" aria-controls="cadastroBlocos" role="tab" data-toggle="tab">Cadastrar/Visualizar Blocos</a></li>
                    <li role="presentation"><a href="#cadastroProdutos" aria-controls="cadastroProdutos" role="tab" data-toggle="tab">Cadastrar/Visualizar Produtos</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="atbase">
                        <h:form id="formDados" prependId="false">
                            <h:panelGroup id="menus">
                                <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;">
                                    <li role="presentation" class="active menu_btn_active">
                                        <a href="#" onclick="PF('addDialog').show()">
                                            <i class="icon-plus"></i> Atualizar Base
                                        </a>
                                    </li>
                                </ul>
                            </h:panelGroup>

                            <p:dataTable id="clientes" var="cliente"  paginatorPosition="bottom" paginator="true" value="#{clienteController.listSeguridade}" 
                             widgetVar="tabelaClientes" selectionMode="single" selection="#{clienteController.selected}"
                             emptyMessage="Sem Clientes cadastrados." rows="20" rowKey="#{cliente.mci}" filterDelay="1250"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                             filteredValue="#{clienteController.listaFiltrada}">  
                                <p:ajax event="rowSelect" oncomplete="PF('blocos').show();" update=":frmBlocos:blocos" />
                                <f:facet name="header">
                                    <h3>Lista de Clientes</h3>
                                    <p:commandButton id="toggler" type="button" value="Personalizar Colunas" style="float:right; margin-top: -5%;" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="clientes" trigger="toggler" />
                                </f:facet>
                                <f:facet name="{Exporters}">   
                                    <h:commandLink value="PDF" styleClass="btn btn-success" style="float: right; margin-left: 0.2em; background-color: #0596F3; border-color: #0596F3;"> 
                                        <p:dataExporter type="pdf" target="clientes" fileName="clientes" encoding="ISO-8859-1"/>
                                        </h:commandLink>
                                        <h:commandLink value="CSV" styleClass="btn btn-success" style="float: right; background-color: #FFAA00; border-color: #0596F3;">
                                            <p:dataExporter type="csv" target="clientes" fileName="clientes" encoding='ISO-8859-1'/>
                                        </h:commandLink>
                                </f:facet>
<!--                                <p:column headerText="NOME" sortBy="#{cliente.nomeCliente}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.nomeCliente}">
                                    <h:outputText value="#{cliente.nomeCliente}"/>
                                </p:column>-->
                                <p:column headerText="MCI" sortBy="#{cliente.mci}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{cliente.mci}">
                                    <h:outputText value="#{cliente.mci}"/>
                                </p:column>
                                <p:column headerText="Num. Carteira" sortBy="#{cliente.numCarteira}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{cliente.numCarteira}">
                                    <h:outputText value="#{cliente.numCarteira}"/>
                                </p:column>
                                <p:column headerText="Prefixo" sortBy="#{cliente.prefixo}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{cliente.prefixo}">
                                    <h:outputText value="#{agenciasController.formataPrefixo(cliente.prefixo)}"/>
                                </p:column>
<!--                                <p:column headerText="Telefone" sortBy="#{cliente.telefone}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.telefone}">
                                    <h:outputText value="#{cliente.telefone}"/>
                                </p:column>-->
                                <p:column headerText="Possui Produtos Cancelados" sortBy="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                            <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiCancelados(cliente.mci) == 'true' ? 'Sim' : 'Não'}"/>
                                </p:column>
                                <p:column headerText="Possui Produtos Vencidos" sortBy="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                            <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiVencidos(cliente.mci) == 'true' ? 'Sim' : 'Não'}"/>
                                </p:column>
                                <p:column headerText="Possui Produtos Vincendos" sortBy="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                            <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiVincendos(cliente.mci) == 'true' ? 'Sim' : 'Não'}"/>
                                </p:column>
                                <p:column headerText="Produtos Não Contatados" sortBy="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não" itemValue="Não" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Quantidade Não Contatada" sortBy="#{ClienteProdutoController.getQtNaoContatados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{ClienteProdutoController.getQtNaoContatados(cliente.mci)}">
                                    <h:outputText value="#{ClienteProdutoController.getQtNaoContatados(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Prêmio Total" sortBy="#{ClienteProdutoController.getPremNaoContatados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterMatchMode="contains" filterBy="#{ClienteProdutoController.getPremNaoContatados(cliente.mci)}">
                                    <h:outputText value="#{ClienteProdutoController.getPremNaoContatados(cliente.mci)}">
                                        <f:convertNumber type="currency" maxFractionDigits="0"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Blocos" sortBy="#{clienteController.pegaBlocosPorPessoa(cliente.mci)}" style="text-align: center; font-size: 10pt;" filterMatchMode="contains" filterBy="#{clienteController.pegaBlocosPorPessoa(cliente.mci)}" exportable="false">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter">
                                            <f:selectItem itemLabel="Todos" noSelectionOption="true"/>
                                            <f:selectItems value="#{blocoController.nomeBlocos}"/>
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{clienteController.pegaBlocosPorPessoa(cliente.mci)}">
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                            <h:panelGroup id="alertas">
                                <script type="text/javascript">
                                    function mostraAlerta(dialog) 
                                    {
                                            PF(dialog).hide();
                                            mostraAtencao("Atenção!", "Importação de dados Finalizada!", 0);
                                    }
                                </script>
                            </h:panelGroup> 
                        </h:form>
                        <h:form id="script">
                            <h:panelGroup id="scriptAlert">
                                <script type="text/javascript">
                                    function verificaOperacao(msgSucess, msgError) {
                                        var ok = #{averbacaoController.opSucess};
                                        if (ok) {
                                            mostraSucesso("Sucesso", msgSucess, 5000);
                                        } else {
                                            mostraError("Ooops!", msgError, 5000);
                                        }
                                    }
                                </script>
                            </h:panelGroup>
                        </h:form>
                        <h:form id="formAdd" prependId="false">
                            <p:dialog id="loading" widgetVar="loading" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                                <p:graphicImage value="#{resources['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                            </p:dialog>
                            <p:dialog id="addDialog" widgetVar="addDialog" header="Atualizar Base" showEffect="fade" width="850"
                                      hideEffect="fade" modal="true" resizable="false" draggable="false">
                                <h3>Subir Tabela de Vencidos/Vincendos</h3>
                                    <h:outputLabel value="Prefixo;NumeroCarteira;Bloco;Produto;Proposta;MCI;DataInicioVigencia;DataFimVigencia;Premio" style="margin-left: 8px; padding: 4px 3px;background-color: #0596F3; border-radius: 2px;"/>
                                    
                                    <p:fileUpload fileUploadListener="#{ClienteProdutoController.lerArq}"
                                              mode="advanced"
                                              sizeLimit="100000000"
                                              oncomplete="mostraAlerta('addDialog');"
                                              update=":formDados:clientes :frmBloco:blk :frmProd:prod "
                                              label="Selecionar"
                                              allowTypes="/(\.|\/)(csv)$/"
                                              onstart="PF('loading').show"
                                              />
                                    
<!--                                     <p:blockUI block="tblaverbacao" trigger="tblaverbacao">
                            <p:graphicImage value="#{resource['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                        </p:blockUI>-->
                                <h3>Subir Tabela de Cancelados e/ou Recusados</h3>
                                <h:outputLabel value="prefixo;dependencia;prefixo;agencia;carteira;dataCancelamento;mci;proposta;descricao;codigo;produto;premio;nivel" style="margin-left: 8px; padding: 4px 3px;background-color: #0596F3; border-radius: 2px;"/>
                                      <p:fileUpload fileUploadListener="#{ClienteProdutoController.lerArqCanc}"
                                              mode="advanced"
                                              sizeLimit="100000000"
                                              oncomplete="mostraAlerta('addDialog');"
                                              update=":formDados:clientes :formDados:alertas"
                                              label="Selecionar"
                                              allowTypes="/(\.|\/)(csv)$/"/>
                                <h3>Subir Tabela de Clientes</h3>
                                <h:outputLabel value="mci;nomeCliente;telefone;carteira;prefixo" style="margin-left: 8px; padding: 4px 3px;background-color: #0596F3; border-radius: 2px;"/>
                                <p:fileUpload fileUploadListener="#{clienteController.lerArq}"
                                              mode="advanced"
                                              sizeLimit="100000000"
                                              oncomplete="mostraAlerta('addDialog');"
                                              update=":formDados:clientes :formDados:alertas"
                                              label="Selecionar"
                                              allowTypes="/(\.|\/)(csv)$/"/>
                            </p:dialog>
<!--                             <p:dialog id="addProd" widgetVar="addProd" header="Adicionar Produto" showEffect="fade" width="750"
                                      hideEffect="fade" modal="true" resizable="false" draggable="false">
                                <h3>Adicione Produtos</h3>
                                <h3>Subir Tabela de Vencidos/Vincendos</h3><h3>Subir Tabela de Vencidos/Vincendos</h3>
                            </p:dialog>-->
                        <p:dialog id="addProd" widgetVar="addProd" closeOnEscape="true" header="Agenda da Seguridade - Adicionar Produto" modal="true"
                          showEffect="drop">

                        </p:dialog>
                        </h:form>
                    </div>
                    
                    <div role="cadastroMetas" class="tab-pane" id="cadastroMetas">
                        <h:form id="form2">
                            <p:commandLink styleClass="btn" value="Limpar Registros" style="margin-right: 15px; background-color: #666; color: white;" actionListener="#{agenciasController.limpaMetas()}" update=":form2:tbAgencias"/>
                            <p:dataTable id="tbAgencias" var="agencia"  paginatorPosition="bottom" paginator="true" value="#{agenciasController.agencias}" 
                                         widgetVar="tbAgencias" selectionMode="single" selection="#{agenciasController.selected}"
                             emptyMessage="Sem Agencias Cadastradas." rows="15" rowKey="#{agencia.prefixo}"
                             >  
                                
                                <p:ajax event="rowSelect" oncomplete="PF('infoAgencia').show();" update=":frmMetas:infoAgencia"/>
                                <f:facet name="header">
                                    <h3>Cadastro de Metas Por Agência</h3>
                                </f:facet>
                                <p:column headerText="Prefixo" sortBy="#{agencia.prefixo}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agencia.prefixo}">
                                    <h:outputText value="#{agenciasController.formataPrefixo(agencia.prefixo)}"/>
                                </p:column>
                                <p:column headerText="Quantidade Contatada" sortBy="#{agencia.feitoseguridade}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agencia.feitoseguridade}">
                                    <h:outputText value="#{agencia.feitoseguridade}"/>
                                </p:column>
                                <p:column headerText="Meta" sortBy="#{agencia.metaseguridade}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agencia.metaseguridade}">
                                    <h:outputText value="#{agencia.metaseguridade}"/>
                                </p:column>
                                <p:column headerText="Porcentagem" sortBy="#{agenciasController.calculaPct(agencia)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agenciasController.calculaPct(agencia)}">
                                    <h:outputText value="#{agenciasController.calculaPct(agencia)} %"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                    <div role="cadastroBlocos" class="tab-pane" id="cadastroBlocos">
                        <h:form id="frmBloco">
                                <p:commandLink styleClass="btn btn-success" value="Add Bloco"  onsuccess="PF('addBloco').show();" style="margin-right: 15px;"/>
                                <p:dataTable var="blk" id="blk" value="#{blocoController.blocos}" widgetVar="blk">
                                    <p:column headerText="ID">
                                        <h:outputText value="#{blk.id}" />
                                    </p:column>
                                    <p:column headerText="Nome do Bloco:">
                                        <h:outputText value="#{blk.nome}" />
                                    </p:column>
                                </p:dataTable>
                        </h:form>
                    </div>
                    <div role="cadastroProdutos" class="tab-pane" id="cadastroProdutos">
                            <h:form id="frmProd">
                                <p:commandLink styleClass="btn btn-success" value="Add Produto"  onsuccess="PF('teste').show();" style="margin-right: 15px;"/>
                                    <p:dataTable var="prod" value="#{produtoSeguridadeController.produtos}" id="prod" widgetVar="prod">
                                        <p:column headerText="ID">
                                            <h:outputText value="#{prod.id}" />
                                        </p:column>
                                        <p:column headerText="Nome do Produto">
                                            <h:outputText value="#{prod.nomeProduto}" />
                                        </p:column>
                                        <p:column headerText="Bloco">
                                            <h:outputText value="#{prod.bloco}" />
                                        </p:column>
                                    </p:dataTable>
                            </h:form> 
                    </div>
                    
                    <h:form id="form1">
                    <p:dialog id="formulario" widgetVar="formulario" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                      showEffect="drop">
                    <div class="container" style="width: 980px;">
                        <p:outputPanel id="formLob" style="width: 970px;">
                            <div class="row">
                                <div class="col-md-8">
                                    <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="Prefixo: #{agenciasController.formataPrefixo(clienteController.selected.prefixo)}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                </div>
                            </div>
                            <hr />
                            <div class="row" style="margin-bottom: 10px;">                          
                                <p:dataTable id="tabelaProdutos" var="c" paginatorPosition="bottom" paginator="true" widgetVar="tabelaProdutos"
                                             value="#{ClienteProdutoController.getItensFiltradosMci(clienteController.selected.mci)}" selectionMode="single" selection="#{ClienteProdutoController.selected}"
                                             emptyMessage="Sem Produtos cadastrados." rows="20" rowKey="#{c.id}" style="width: 100%;"> 
                                      <p:ajax event="rowSelect" oncomplete="PF('infoProduto').show();" update=":form1:infoProduto"/>
                                        <f:facet name="header">
                                        <h3>Lista de Produtos</h3>
                                    </f:facet>
                                    <p:column headerText="Código" sortBy="#{c.codproduto}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.codproduto}">
                                        <h:outputText value="#{c.codproduto}"/>
                                    </p:column>
                                      <p:column headerText="Proposta" sortBy="#{c.proposta}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.proposta}">
                                        <h:outputText value="#{c.proposta}"/>
                                    </p:column>
                                    <p:column headerText="Nome" sortBy="#{produtoSeguridadeController.getProdutosByCod(c.codproduto)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{produtoSeguridadeController.getProdutosByCod(c.codproduto)}">
                                        <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(c.codproduto)}"/>
                                    </p:column>
                                    <p:column headerText="Bloco" sortBy="#{produtoSeguridadeController.getBlocoProdutoByCod(c.codproduto)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="##{produtoSeguridadeController.getBlocoProdutoByCod(c.codproduto)}">
                                        <h:outputText value="#{produtoSeguridadeController.getBlocoProdutoByCod(c.codproduto)}"/>
                                    </p:column>
                                    <p:column headerText="Contatado" sortBy="#{c.contatado}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.contatado}">
                                        <h:outputText value="#{c.contatado == 'true' ? 'SIM' : 'NÃO'}"/>
                                    </p:column>
                                    <p:column headerText="Contratado" sortBy="#{c.contratado}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.contratado}">
                                        <h:outputText value="#{c.contratado == 'true' ? 'SIM' : 'NÃO'}"/>
                                    </p:column>
                                    <p:column headerText="Cancelado" sortBy="#{c.cancelado}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.cancelado}">
                                        <h:outputText value="#{c.cancelado == 'true' ? 'SIM' : 'NÃO'}"/>
                                    </p:column>
                                    <p:column headerText="Prêmio" sortBy="#{c.premio}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.premio}">
                                        <h:outputText value="#{c.premio}"/>
                                    </p:column>
                                </p:dataTable>                            
                                <hr/>
                                <footer style="text-align: center;">Agenda da Seguridade</footer>
                            </div>
                    </p:outputPanel>
                </div>
            </p:dialog> 
            <p:dialog id="infoProduto" widgetVar="infoProduto" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                      showEffect="drop">
                <div class="container" style="width: 670px;">
                    <div class="col-md-10">                   
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <p:outputLabel value="Visto Por Último: #{ClienteProdutoController.selected.vistoporultimo}" style="margin-left: 30%;" />
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="ID: #{ClienteProdutoController.selected.id}" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="MCI do Cliente: #{ClienteProdutoController.selected.mci}"/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Estado: #{ClienteProdutoController.selected.cancelado == 'true' ? 'CANCELADO' : 'VENCIDO' }" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Premio:  "/>
                                <h:inputText value="#{ClienteProdutoController.selected.premio}">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$ "
                                                         type="currency"/>
                                </h:inputText>
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Código do Produto: #{ClienteProdutoController.selected.codproduto}" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Prefixo: #{agenciasController.formataPrefixo(ClienteProdutoController.selected.prefixo)}" />
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Data Inicio Vigencia:" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                                <p:outputLabel value="#{ClienteProdutoController.selected.setVistoporultimo(ClienteProdutoController.horaAtual)}"/>
                                <p:calendar id="dataVig" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.selected.datainiciovigencia}" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                            </div>
                            <div class="col-md-6">
                                <p:calendar id="dataAtual" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.horaAtual}" rendered="false"/>
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Data Vencimento:" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                                <p:calendar id="dataVenc" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.selected.datavencimento}" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-4">
                                <p:outputLabel value="Contatado?" style="display: block;"/>
                                <p:selectBooleanButton id="cont" value="#{ClienteProdutoController.selected.contatado}" onLabel="SIM" offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close">
                                    <p:ajax update=":form1:formulario" event="change" />
                                </p:selectBooleanButton>
                            </div>
                            <div class="col-md-4">
                                <p:outputLabel value="Data Contato:"/>
                                <p:calendar id="dataContat" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.selected.datacontatado}"/>
                            </div>
                            <div class="col-md-4">
                                <p:outputLabel value="Gerou Novo Negócio?" style="display: block;"/>
                                <p:selectBooleanButton id="contr" value="#{ClienteProdutoController.selected.contratado}" onLabel="SIM" offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close">
                                    <p:ajax update=":form1:formulario" event="change" />
                                </p:selectBooleanButton>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                       
                        </div>
                         <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Data Cancelamento:" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                                <p:calendar id="dataCanc" mask="true" pattern="dd/MM/yyyy" style="width: 100%" value="#{ClienteProdutoController.selected.datacancelamento}" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                            </div>
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-12">
                                    <p:outputLabel value="Descrição do Cancelamento:" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                                    <p:outputLabel value="#{ClienteProdutoController.selected.descricaocancelamento}" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.edit()}" update=":form1:tabelaProdutos"
                                               onsuccess="PF('infoProduto').hide();" style="margin-right: 15px;"/>
                            <p:commandLink styleClass="btn btn-warning" value="Cancelar" onsuccess="PF('infoProduto').hide();" />
                        </div>
                    </div>
                </div>
            </p:dialog>  
            </h:form>
                    <h:form id="frmTeste">
                         <p:dialog id="teste" widgetVar="teste" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                          showEffect="drop">
                    <div class="container" style="width: 670px;">
                        <div class="col-md-10">                   
                            <div class="row col-md-12" style="margin-bottom: 15px;">
                                <h3>Adicionar Produto</h3>
                                    <hr/>
                                <div class="container" style="width: 670px;">
                                    
                                     <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Nome Produto"/>
                                                <p:inputText value="#{produtoSeguridadeController.nomeProduto}"
                                                             styleClass="form-control">
                                                </p:inputText>
                                                <h:outputText value="Bloco"/>
                                                <h:selectOneMenu value="#{produtoSeguridadeController.bloco}"
                                                                 required="true"
                                                                 requiredMessage="Selecione um Bloco"
                                                                 styleClass="form-control">
                                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                                    <f:selectItems value="#{blocoController.blocos}"
                                                                   var="blk"
                                                                   itemValue="#{blk.nome}"
                                                                   itemLabel="#{blk.nome}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-12">
                                            <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{produtoSeguridadeController.addProduto()}" update=":frmTeste:teste :frmProd:prod"
                                                           onsuccess="PF('teste').hide();" style="margin-right: 15px;"/>

                                            <p:commandLink styleClass="btn btn-warning" value="Cancelar" onsuccess="PF('teste').hide();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p:dialog> 
                    </h:form>
                    <h:form id="frmAddBloco">
                         <p:dialog id="addBloco" widgetVar="addBloco" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                   showEffect="drop">
                        <div class="container" style="width: 670px;">
                            <div class="col-md-10">                   
                                <div class="row col-md-12" style="margin-bottom: 15px;">
                                    <h3>Adicionar Bloco</h3>
                                    <hr/>
                                    <div class="container" style="width: 670px;">
                                        <br/>
                                         <div class="col-xs-4">
                                                <div class="form-group">
                                                    <h:outputText value="Nome do Bloco"/>
                                                        <p:inputText value="#{blocoController.nomeBloco}"
                                                                 styleClass="form-control">
                                                    </p:inputText>
                                                </div>
                                            </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-md-12">
                                                <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{blocoController.addBloco()}" update=":frmAddBloco:addBloco :frmBloco:blk"
                                                               onsuccess="PF('addBloco').hide();" style="margin-right: 15px;"/>

                                                <p:commandLink styleClass="btn btn-warning" value="Cancelar" onsuccess="PF('addBloco').hide();" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:dialog> 
                </h:form>
                    <h:form id="frmBlocos">
                         <p:dialog id="blocos" widgetVar="blocos" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                   showEffect="drop">
                        <div class="container" style="width: 570px;">
                            <div class="col-md-10">                   
                                <div class="row col-md-12" style="margin-bottom: 15px;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                        </div>
                                        <div class="col-md-8">
                                            <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                        </div>
                                        <div class="col-md-8">
                                            <p:outputLabel value="Prefixo: #{agenciasController.formataPrefixo(clienteController.selected.prefixo)}"  style="display: block;"/>
                                        </div>
                                        <div class="col-md-12">
                                            <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                                        </div>
                                        <div class="col-md-8">
                                            <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="container" style="width: 470px;">
                                        <br/>
                                        <p:dataTable var="b" id="tabelaB" value="#{blocoController.blocos}" widgetVar="tabelaB" selectionMode="single" selection="#{blocoController.selected}" emptyMessage="Sem Blocos cadastrados." rows="10" rowKey="#{b.id}">
                                            <p:ajax event="rowSelect" oncomplete="PF('produtos').show();" update=":frmProdutos:produtos" />
                                            <f:facet name="header">
                                                <h3>Produtos</h3>
                                            </f:facet>    
                                            <p:column headerText="ID" rendered="false">
                                                    <h:outputText value="#{b.id}" />
                                                </p:column>
                                                <p:column headerText="Nome do Bloco" style="text-align: center;">
                                                    <h:outputText value="#{b.nome}" />
                                                </p:column>
                                                <p:column headerText="Qtd. Produtos" style="text-align: center;">
                                                    <h:outputText value="#{blocoController.totalProdutos(clienteController.selected, b)}" />
                                                </p:column>
                                                <p:column headerText="Prêmio Total" style="text-align: center;">
                                                    <h:outputText value="#{blocoController.totalValores(clienteController.selected, b)}">
                                                        <f:convertNumber type="currency" maxFractionDigits="0"/>
                                                    </h:outputText>
                                                </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:dialog> 
                </h:form>
                    <h:form id="frmProdutos">
                         <p:dialog id="produtos" widgetVar="produtos" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                   showEffect="drop">
                        <div class="container" style="width: 770px;">
                            <div class="col-md-10">                   
                                <div class="row col-md-12" style="margin-bottom: 15px;">
                                    <div class="row">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Prefixo: #{agenciasController.formataPrefixo(clienteController.selected.prefixo)}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                                </div>
                                            </div>
                                    </div>
                                    <hr/>
                                    <div class="container" style="width: 700px;">
                                        <br/>
                                        <p:dataTable var="p" id="tabelaP" value="#{ClienteProdutoController.refinaLista(clienteController.selected.mci, blocoController.selected.nome)}" 
                                                     widgetVar="tabelaP" selection="#{ClienteProdutoController.selectedRows}" emptyMessage="Sem Produtos cadastrados." 
                                                     rows="5" rowKey="#{p.id}" paginatorPosition="bottom" paginator="true">
                                            <f:facet name="header">
                                                <h3>Produtos do Bloco <u>#{blocoController.selected.nome}</u></h3>
                                            </f:facet>   
                                                <p:column selectionMode="multiple" style="width:46px;text-align:center" />
                                                <p:column headerText="Nome" style="text-align: center;">
                                                    <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(p.codproduto)}" />
                                                </p:column>
                                                <p:column headerText="Quantidade Total" style="text-align: center;">
                                                    <h:outputText value="#{ClienteProdutoController.getTotalItensByMciAndBloco(blocoController.selected, p)}" />
                                                </p:column>
                                                <p:column headerText="Não Contatados" style="text-align: center;">
                                                    <h:outputText value="#{ClienteProdutoController.getQtItensByMciAndBloco(blocoController.selected, p)}" />
                                                </p:column>
                                                <p:column headerText="Prêmio Total" style="text-align: center;">
                                                    <h:outputText value="#{ClienteProdutoController.getValorItensByMciAndBloco(blocoController.selected, p)}">
                                                        <f:convertNumber type="currency" maxFractionDigits="0"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Data Fim" style="text-align: center;">
                                                    <h:outputText value="#{ClienteProdutoController.pegaDataFim(p)}"/>
                                                </p:column>
                                                <p:column headerText="Estado" style="text-align: center;">
                                                    <h:outputText value="#{ClienteProdutoController.pegaEstado(p)}"/>
                                                </p:column>
                                                <f:facet name="footer">
                                                    <p:commandButton process="tabelaP" update=":frmMultiSelect:MultiSelect @widgetVar(varSalvar)" icon="ui-icon-search" value="Visualizar" oncomplete="PF('MultiSelect').show()" actionListener="#{ClienteProdutoController.setRenderizado(false)}"/>
                                                </f:facet>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:dialog> 
                </h:form>
                    <h:form id="frmCompleto">
                        <p:dialog id="completed" widgetVar="completed" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                  showEffect="drop">
                            <h:outputText value="TABELA IMPORTADA COM SUCESSO"/>
                        </p:dialog>
                    </h:form>
                    <h:form id="frmNovo">
                        
                        <p:dialog id="novoNegocio" widgetVar="novoNegocio" closeOnEscape="true" header="Agenda da Seguridade - Novo Negócio" modal="true"
                                  showEffect="drop" closable="false">
                            <div class="col-md-10" style="background-color: rgba(224, 224, 235, 0.5); border-radius: 25px; padding: 1em; margin-left: 2em; width: 1200px; margin-bottom: 1em;">
                                <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <h:outputText value="Nome Produto"/>
                                                <h:selectOneMenu value="#{ClienteProdutoController.codProduto}"
                                                                 required="true"
                                                                 requiredMessage="Selecione um Produto"
                                                                 styleClass="form-control">
                                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                                    <f:selectItems value="#{produtoSeguridadeController.produtos}"
                                                                   var="pd"
                                                                   itemValue="#{pd.codProduto}"
                                                                   itemLabel="#{pd.nomeProduto}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <h:outputText value="Num. Proposta: "/>
                                                <br/>
                                                <p:inputText value="#{ClienteProdutoController.numProposta}" maxlength="12"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h:outputText value="Data Inicio Vigencia: "/>
                                            <p:calendar id="dataContatas" mask="true" pattern="dd/MM/yyyy" style="width: 100%" value="#{ClienteProdutoController.dataInicioVigencia}"/>
                                        </div>
                                        <div class="col-md-2">
                                            <h:outputText value="Prêmio: "/>
                                            <p:inputText value="#{ClienteProdutoController.premio}">
                                                <f:convertNumber type="currency" minFractionDigits="2"/>
                                            </p:inputText>
                                        </div>
                                    <div class="col-md-2">
                                        <p:commandLink styleClass="btn btn-success" value="Adicionar Novo Produto" actionListener="#{ClienteProdutoController.addInside(clienteController.selected.mci, clienteController.selected.prefixo)}" update=":frmNovo:produt"
                                                               onsuccess="" style="margin-right: 15px;"/>
                                    </div>
                            </div>
                                
                                <p:dataTable var="produt" value="#{ClienteProdutoController.listaAdicionada}" id="produt" widgetVar="produt" emptyMessage="Sem Novos Produtos Adicionados" rendered="#{produt.mci == ClienteProdutoController.selected.mci}">
                                    <p:column headerText="Nome do Produto" style="text-align: center;">
                                        <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(produt.codproduto)}" />
                                    </p:column>
                                    <p:column headerText="Inicio Vigencia" style="text-align: center;">
                                        <h:outputText value="#{produt.dataInicioVigenciaFormatada}"/>
                                    </p:column>
                                    <p:column headerText="Proposta" style="text-align: center;">
                                        <h:outputText value="#{produt.proposta}"/>
                                    </p:column>
                                    <p:column headerText="Prêmio" style="text-align: center;">
                                        <h:outputText value="#{produt.premio}">
                                            <f:convertNumber type="currency" minFractionDigits="2"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Opções" style="text-align: center;">
                                        <p:commandButton value="Excluir" immediate="true" update=":frmNovo:produt"
                                                         onclick="deletar()">
                                            <f:setPropertyActionListener value="#{produt}" target="#{ClienteProdutoController.selected}"/>
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <p:commandLink styleClass="btn btn-success" value="Concluido" onsuccess="" 
                                                       update=":frmProdutos:tabelaP :frmBlocos:tabelaB @form :frmNovo:produt" 
                                                       oncomplete="PF('novoNegocio').hide();" 
                                                       style="margin-left: 40%;"
                                                       id="btnConcluido"/>
                                        <p:commandLink styleClass="btn btn-success" value="Cancelar" style="margin-left: 1em; background-color: #F27474;" onsuccess="PF('novoNegocio').hide(); #{ClienteProdutoController.limpaLista()}" ajax="true"/>
                                    </div>
                            </div>
                        </p:dialog>
                        
                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msg, dlg) {
                            var ok = #{ClienteProdutoController.opSucess};
                            if (ok) {
                                mostraSucesso("Sucesso", msg, 3000);
                                PF(dlg).hide();
                            } else {
                                mostraError("Ooops!", msg, 3000);
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarCP();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{ClienteProdutoController.opSucess};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O produto foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O produto foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarCP" action="#{ClienteProdutoController.delete()}" oncomplete="mostraAlerta();"
                                 update=":frmNovo:produt"/>
                    </h:form>
                    <h:form id="frmMultiSelect">
                        <p:dialog id="MultiSelect" widgetVar="MultiSelect" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                  showEffect="drop">
                            <div class="row" style="width: 570px;">
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Prefixo: #{clienteController.selected.prefixo}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-12">
                                                    <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Bloco: #{blocoController.selected.nome}"  style="display: block;"/>
                                                </div>
                            </div>
                            <ui:repeat value="#{ClienteProdutoController.selectedRows}" var="cpc" size="1">
                                    
                                    <div class="col-md-10" style="background-color: rgba(224, 224, 235, 0.5); border-radius: 25px; padding: 2%; margin-left: 2%; width: 95%; margin-bottom: 2%;">
                                        <div class="row" style="margin-bottom: 15px;">
                                            <div class="col-md-4">
                                                <p:panel widgetVar="varContatado" style="width: 15em">
                                                    <p:outputLabel value="Contatado?" style="display: block;"/>
                                                    <p:selectOneButton id="statusCont" value="#{cpc.contatado}" styleClass="botoes">
                                                        <f:selectItem itemLabel="Sim" itemValue="true"/>
                                                        <f:selectItem itemLabel="Não" itemValue="false" />
                                                        <p:ajax update="@widgetVar(varSim)" event="change"/>
                                                        <p:ajax update="@widgetVar(varSim2)" event="change"/>
                                                    </p:selectOneButton>
                                                </p:panel>
                                            </div>
                                                <div class="col-md-4">
                                                    <p:panel widgetVar="varSim" style="width: 15em">
                                                        <p:outputLabel value="Data Contato:"/>
                                                        <p:calendar id="dataContata" mask="true" pattern="dd/MM/yyyy" value="#{cpc.datacontatado}" disabled="#{cpc.contatado == false}" style="width: 1em;"/>
                                                    </p:panel>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:panel widgetVar="varSim2" style="width: 15em; background-color: inherit; border-color: rgba(224, 224, 235, 0.5);">
                                                        <p:commandLink styleClass="btn" value="Gerou Novo Negocio?" style="background-color: #888; color: #FFF;" ajax="true" onsuccess="PF('novoNegocio').show();" disabled="#{cpc.contatado == false}"/>
                                                    </p:panel>
                                                </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="col-md-12">
                                                <p:outputLabel value="Data Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                <p:outputLabel value="#{cpc.datacancelamento}" rendered="#{cpc.cancelado}"/>
                                            </div>
                                            <div class="row" style="margin-bottom: 15px;">
                                                <div class="col-md-12">
                                                    <p:outputLabel value="Descrição do Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                    <p:outputLabel value="#{cpc.descricaocancelamento}" rendered="#{cpc.cancelado}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <p:panel widgetVar="varSalvar">
                                                    <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.editFromMultipleDialog2(ClienteProdutoController.selectedRows, cpc)}" update=":frmProdutos:tabelaP :frmBlocos:tabelaB :frmNovo:produt"
                                                               style="width: 70%; margin-left: 14%;" ajax="true" onsuccess="PF('MultiSelect').hide(); PF('produtos').hide(); PF('blocos').hide(); #{ClienteProdutoController.limpaLista()}"/>
<!--                                                    <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.editFromMultipleDialog2(ClienteProdutoController.selectedRows, cpc)}" update=":frmProdutos:tabelaP :frmBlocos:tabelaB :frmNovo:produt"
                                                                style="width: 70%; margin-left: 14%;" onsuccess="PF('novoNegocio').show(); #{ClienteProdutoController.limpaLista()}" rendered="#{ClienteProdutoController.renderizado == true}" ajax="true"/>-->
                                                 <p:commandLink styleClass="btn btn-success" value="Cancelar" style="width: 70%; margin-left: 14%; background-color: #F27474;" onsuccess="PF('MultiSelect').hide(); #{ClienteProdutoController.limpaLista()}" ajax="true"/>
                                            </p:panel>      
                                        </div>
                                    </div>
                            </ui:repeat>
                        </p:dialog>
                    </h:form>
                    <h:form id="frmMetas">
                        <p:dialog id="infoAgencia" widgetVar="infoAgencia" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                          showEffect="drop">
                            <h3>Cadastro de Metas</h3>
                            <hr/>
                            <div class="container" style="width: 670px;">
                                <p:outputLabel value="Nome da Agência: #{agenciasController.selected.nomeAgencia}" style="margin-left: 30%;" />
                                <p:outputLabel value="Prefixo: #{agenciasController.selected.prefixo}" style="margin-left: 30%;" />
                                <p:outputLabel value="Quantidade de Itens Feitos: #{agenciasController.selected.feitoseguridade}" style="margin-left: 30%;" />
                                <br/>
                                <div class="col-md-12">
                                    <p:outputLabel value="Meta:" />
                                    <br/>
                                    <p:inputTextarea value="#{agenciasController.selected.metaseguridade}" style="width: 10%; max-height: 25px; height: 25px;"/>
                                </div>  
                                <br/>
                                <br/>
                                <br/>                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{agenciasController.edit()}" update=":frmMetas:infoAgencia :form2:tbAgencias"
                                                       onsuccess="PF('infoAgencia').hide();" style="margin-right: 15px;"/>

                                        <p:commandLink styleClass="btn btn-warning" value="Cancelar" onsuccess="PF('infoAgencia').hide();" />
                                    </div>
                                </div>
                            </div>
                        </p:dialog>
                    </h:form>
                </div>
            </div>
        </fieldset>
    </ui:define>
</ui:composition>


