<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core">


    <!-- Side Column -->
    <div class="four columns sidebar">
        <h4 class="title"><span>Menu</span></h4>
        <ul class="side_bar_menu">
            <li><a href="#{facesContext.externalContext.requestContextPath}/seguridade"><span class="hover_span"></span><span
                    class="link_span">Inicial</span></a></li>
            <li><a href="#{facesContext.externalContext.requestContextPath}/seguridade/download/relatorios"><span
                    class="hover_span"></span><span class="link_span">Relátorios arquivos</span></a></li>
            <!-- <li><a href="#"><span class="hover_span"></span><span class="link_span">Exemplo menu</span></a></li> -->
            <!-- <li><a href="#"><span class="hover_span"></span><span class="link_span">Exemplo menu</span></a></li> -->
            <!-- <li><a href="#"><span class="hover_span"></span><span class="link_span">Exemplo menu</span></a></li> -->
        </ul>

        <h4 class="title"><span>Destaques</span></h4>
        <!-- Testimonials -->
        <div class="testimonials">
            <div class='carousel_arrows_bgr'></div>
            <ul id="testimonials_carousel">
                <li class="four columns alpha">
                    <div class="testimonial_quote">
                        <div class="quote_content">

                            <ui:repeat var="des" value="#{desController.destaques(0, 10)}">
                                <p> #{des.titulo}</p>

                                <p> #{des.descricao}</p>
                                <span class="quote_arrow"></span>
                            </ui:repeat>
                        </div>
                    </div>
                </li>
                <!-- <li class="four columns alpha">
                     <div class="testimonial_quote">
                         <div class="quote_content">
                             <p>#{destaqueController.destaques.get(0)}</p>
                             <span class="quote_arrow"></span>
                         </div>
                     </div>
                 </li>
                 <li class="four columns alpha">
                     <div class="testimonial_quote">
                         <div class="quote_content">
                             <p>#{destaqueController.destaques.get(0)} </p>
                             <span class="quote_arrow"></span>
                         </div>
                     </div>
                 </li>-->
            </ul>
        </div>

        <h4 class="title"><span>Últimas notícias agro</span></h4>
        <ui:repeat var="noticia" value="#{newsController.ultimasNoticias(0, 10, utilController.segurCat) }">
            <div class="latest_post_sidebar clearfix">
                <h:panelGroup layout="block" class="footer_pic" rendered="#{noticia.capa != null}">
                    <a href="#"><img src="#{facesContext.externalContext.requestContextPath}#{noticia.capa.archive.url}"
                                     height="100"/></a>
                </h:panelGroup>

                <p class="latest_post_sidebar_title"><a
                        href="#{facesContext.externalContext.requestContextPath}/noticia/#{noticia.id}">#{noticia.title}</a>
                </p>

                <p class="date"><h:outputText value="#{noticia.datePublication}">
                    <f:convertDateTime parent="dd MMMM yyyy"/>
                </h:outputText></p>
            </div>
        </ui:repeat>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#testimonials_carousel').jcarousel({
                    auto: 4,
                    scroll: 1,
                    wrap: 'last',
                    easing: 'easeInOutExpo',
                    animation: 600
                });
            });
        </script>
        <!-- Testimonials::END -->
    </div>
    <!-- Side Column::END -->
</ui:fragment>