<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    
    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <style>
            /* sobrescreve css */

            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;
                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }

            .ui-growl-item {
                margin-top: 80px;
            }
            .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
                margin-top: 0px !important;
            }
            
            .fc-event, .fc-event-inner{
                background-color: #f9dd16;
                border-color: #004a93;
                color: #000;
                font-size: 14px;
                height: 29px;
            }
            .fc-header, .fc-header-inner{
                background-color: #ffeeaa;
                border-color: #004a93;
                color: #fff;
                font-size: 14px;
                height: 18px;
            }
            .fc-button-next, .fc-button-prev
            {
                width: 2em;
                height: 6em;
                margin-top: 9%;
                opacity: 0.5;
            }
            .fc-button-today
            {
                color: #000;
                width: 40%;
                margin-left: -14em;
                margin-top: 4em;
            }
            .amarelo .fc-event-skin{
                background-color: #f9dd16;
            }
            .azul .fc-event-skin{
                background-color: #009de4;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Agenda da Seguridade
    </ui:define>

    <ui:define name="conteudo">
        <!--
        *******************************************************************************
                                                                BB
            Superintendencia do BB - Tocantins               BBBBBBBB               BBB
            Departamento de Tecnologia da Informacao       BBBBBBBBBBBB           BBBBB
            Desenvolvedor da ferramenta:                 BBBBBBBBBBBBBBBB       BBBBBBB
                Jhemeson Silva Mota                    BBBBBBBBB   BBBBBBBB   BBBBBBBBB
                                                     BBBBBBBBB       BBBBBBBB   BBBBBBB
                                                   BBBBBBBBB           BBBBBBBB   BB
                                                 BBBBBBBBB               BBBBBBBB
                                               BBBBBBBBB             BBB   BBBBBBBB
                                             BBBBBBBBBBBBBB        BBBBBBB   BBBBBBBB
                                           BBBBBBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                             BBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                               BBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
        *******************************************************************************
        -->
        <h:form id="form">
            <p:growl id="growl" showDetail="true" life="55555"/>
            <div class="container-fluid" style="margin-top: 80px;">
                            <h:panelGroup id="menus">
                                <ul class="nav nav-pills" style="padding: 7px; float: right;">
                                    <li role="presentation" class="active menu_btn_active">
                                        <a href="seguridadeVincendos">
                                            <i class="icon-plus"></i> Vincendos
                                        </a>
                                    </li>
                                    <li role="presentation" class="active menu_btn_active">
                                        <a href="seguridadeVencidos">
                                            <i class="icon-plus"></i> Vencidos e Cancelados
                                        </a>
                                    </li>
                                </ul>
                            </h:panelGroup>
                    <h2 style="color: rgb(230, 115, 0);">Agenda da Seguridade</h2>
                                <div class="row col-md-6" style="margin-top: 1%;">
                                    <p:schedule id="schedule" value="#{calendarioView.lazyEventModel}" widgetVar="myschedule" timeZone="GMT+2" locale="tr" draggable="false" centerHeaderTemplate="title, today" rightHeaderTemplate="next" leftHeaderTemplate="prev" timeFormat="">
                                        <p:ajax event="dateSelect" listener="#{calendarioView.onDateSelect}" update=":frmData:wgdata" oncomplete="PF('wgdata').show();" />
                                        <p:ajax event="eventSelect" listener="#{calendarioView.onEventSelect}" update=":frmData:wgdata" oncomplete="PF('wgdata').show();" />
                                        <!--<p:ajax event="eventResize" listener="#{calendarioView.onEventResize}"/>-->
                                    </p:schedule>
                                </div>
                        <h:panelGrid class="col-md-6" cellpadding="10" style="float: right; position: relative; top: 1em;">
                            <div class="row" >  
                                <p:tabView>
                                    <p:tab title="Desafio Por Agencia">
                                                <div class="panel-body ">
                                                    <div class="panel-heading row text-center" style="background-color: #333; color: white;">
                                                        <h3>Ranking de Desempenho</h3>
                                                    </div>
                                                    <p:dataTable var="agencia" id="tbAgen" widgetVar="tbAgen" value="#{agenciasController.agencias}">
                                                        <p:column headerText="Prefixo" style="text-align: center;">
                                                            <h:outputText value="#{agenciasController.formataPrefixo(agencia.prefixo)}"/>
                                                        </p:column>
                                                        <p:column headerText="Quantidade de Contatos" style="text-align: center;">
                                                            <h:outputText value="#{agencia.feitoseguridade}" />
                                                        </p:column>
                                                        <p:column headerText="Público Total" style="text-align: center;">
                                                            <h:outputText value="#{agencia.metaseguridade}" />
                                                        </p:column>
                                                        <p:column headerText="Porcentagem" style="text-align: center;">
                                                            <h:outputText value="#{agenciasController.calculaPct(agencia)}%" />
                                                        </p:column>
                                                        <p:column headerText="Desempenho" style="text-align: center;">
                                                            <p:rating value="#{agenciasController.calculaQualis(agencia)}" readonly="true" style="margin-left: 25%; margin-bottom: 4%;"/> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                    </p:tab>
                                    <p:tab title="Desafio Por Rede">
                                                <div class="panel-body ">
                                                    <div class="row text-center panel-heading" style="background-color: #333; color: white;">                                    
                                                            <h3>Ranking de Desempenho</h3>
                                                    </div>
                                                    <p:dataTable var="r" id="tbRede" widgetVar="tbRede" value="#{agenciasController.redes}">
                                                        <p:column headerText="Rede">
                                                            <h:outputText value="#{r}" />
                                                        </p:column>
                                                        
                                                        <p:column headerText="Porcentagem" style="text-align: center;">
                                                            <h:outputText value="#{agenciasController.pctRede(r)}%"/>
                                                        </p:column>
                                                        
                                                        <p:column headerText="Classificação">
                                                            <p:rating value="#{agenciasController.qualisRede(r)}" readonly="true" style="margin-left: 30%; margin-bottom: 4%;"/> 
                                                        </p:column>
                                                        
                                                    </p:dataTable>
                                                </div>
                                    </p:tab>
                                </p:tabView>
                            </div>
                        </h:panelGrid> 
            </div>  
        </h:form>
        <h:form id="frmData">
            <p:dialog id="wgdata" widgetVar="wgdata" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                      showEffect="drop">
                      <h:panelGrid id="eventDetails">
                                        <p:dataTable var="p" id="tabela" value="#{calendarioView.itensListaDoDia}" widgetVar="tabela" selectionMode="single" selection="#{ClienteProdutoController.selected}" emptyMessage="Sem Produtos Vencidos, Vincendos ou Cancelados nesta data!!!" 
                                                     rows="10" rowKey="#{p.id}" lazy="true" paginator="true" paginatorPosition="bottom">
                                            <p:ajax event="rowSelect" oncomplete="PF('dlgContato').show();" update=":formularioContato:dlgContato" />
                                            <f:facet name="header">
                                                <h3>Produtos Vencidos/Vincendos/Cancelados</h3>
                                                <h5 style="display: inline">Do dia: </h5>
                                                <p:calendar id="dataClick" mask="true" pattern="dd/MM/yyyy" style="width: 100%" value="#{calendarioView.event.startDate}" disabled="true"/>
                                            </f:facet>    
                                            <p:column headerText="Prefixo" style="text-align: center; font-size: 10pt;" sortBy="#{p.prefixo}" filterOptions="contains" filterBy="#{p.prefixo}">
                                                <h:outputText value="#{p.prefixo}"/>
                                            </p:column>
                                            <p:column headerText="MCI" style="text-align: center; font-size: 10pt;" sortBy="#{p.mci}" filterOptions="contains" filterBy="#{p.mci}">
                                                <h:outputText value="#{p.mci}"/>
                                            </p:column>
                                            <p:column headerText="Produto" style="text-align: center; font-size: 10pt;" sortBy="#{produtoSeguridadeController.getProdutosByCod(p.codproduto)}" filterOptions="contains" filterBy="#{produtoSeguridadeController.getProdutosByCod(p.codproduto)}">
                                                <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(p.codproduto)}"/>
                                            </p:column>
                                            <p:column headerText="Bloco" style="text-align: center; font-size: 10pt;" sortBy="#{produtoSeguridadeController.getBlocoProdutoByCod(p.codproduto)}" filterOptions="contains" filterBy="#{produtoSeguridadeController.getBlocoProdutoByCod(p.codproduto)}">
                                                <h:outputText value="#{produtoSeguridadeController.getBlocoProdutoByCod(p.codproduto)}"/>
                                            </p:column>
                                            <p:column headerText="Prêmio" style="text-align: center; font-size: 10pt;" sortBy="#{p.premio}" filterOptions="contains" filterBy="#{p.premio}">
                                                <h:outputText value="#{p.premio}">
                                                    <f:convertNumber type="currency" maxFractionDigits="0"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Estado" style="text-align: center; font-size: 10pt;" sortBy="#{ClienteProdutoController.pegaEstado(p)}" filterOptions="contains" filterBy="#{ClienteProdutoController.pegaEstado(p)}">
                                                <h:outputText value="#{ClienteProdutoController.pegaEstado(p)}" />
                                            </p:column>
                                            <p:column headerText="Contatado" style="text-align: center; font-size: 10pt;" sortBy="#{p.contatado}" filterOptions="contains" filterBy="#{p.contatado}">
                                                <f:facet name="filter">
                                                    <p:selectOneMenu onchange="PF('tabela').filter()" style="width: 80%">
                                                        <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                                        <f:selectItem itemLabel="Sim" itemValue="true" />
                                                        <f:selectItem itemLabel="Não" itemValue="false" />
                                                    </p:selectOneMenu>
                                                </f:facet> 
                                                <h:outputText value="#{p.contatado == 'true' ? 'Sim' : 'Não'}" />
                                            </p:column> 
                                        </p:dataTable>
                      </h:panelGrid>
             </p:dialog>
        </h:form>
        <h:form id="formularioContato">
            <p:dialog id="dlgContato" widgetVar="dlgContato" closeOnEscape="true" header="Agenda da Seguridade" modal="true" showEffect="drop">
                            <div class="row" style="width: 690px;">
                                <div class="col-md-8">
                                    <p:outputLabel value="Nome: #{clienteController.findByMci(ClienteProdutoController.selected.mci).nomeCliente}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="MCI: #{ClienteProdutoController.selected.mci}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="Prefixo: #{ClienteProdutoController.selected.prefixo}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="Telefone: #{clienteController.findByMci(ClienteProdutoController.selected.mci).telefone}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="Número Carteira: #{clienteController.findByMci(ClienteProdutoController.selected.mci).numCarteira}"  style="display: block;"/>
                                </div>
                                <div class="col-md-8">
                                    <p:outputLabel value="Bloco: #{produtoSeguridadeController.getBlocoProdutoByCod(ClienteProdutoController.selected.codproduto)}"  style="display: block;"/>
                                </div>
                            </div>
                <ui:repeat value="#{ClienteProdutoController.selected}" var="cpc" size="1">
                                    
                                <div class="col-md-10" style="background-color: rgba(224, 224, 235, 0.5); border-radius: 25px; padding: 1em; width: 680px; margin-bottom: 1em;">
                                        <div class="row" style="margin-bottom: 15px;">
                                            <div class="col-md-4">
                                                <p:panel widgetVar="varContatado" style="width: 15em">
                                                    <p:outputLabel value="Contatado?" style="display: block;"/>
                                                    <p:selectOneButton id="statusConta" value="#{cpc.contatado}" styleClass="botoes">
                                                        <f:selectItem itemLabel="Sim" itemValue="true"/>
                                                        <f:selectItem itemLabel="Não" itemValue="false" />
                                                        <p:ajax update="@widgetVar(varSim)" event="change"/>
                                                        <p:ajax update="@widgetVar(varSim2)" event="change"/>
                                                    </p:selectOneButton>
                                                </p:panel>
                                            </div>
                                            <div class="col-md-4">
                                                <p:panel widgetVar="varSim" style="width: 15em">
                                                    <p:outputLabel value="Data Contato:"/>
                                                    <p:calendar id="dataContatad" mask="true" pattern="dd/MM/yyyy" style="width: 100%" value="#{cpc.datacontatado}" disabled="#{cpc.contatado == false}"/>
                                                </p:panel>
                                            </div>
                                            <div class="col-md-4">
                                                    <p:panel widgetVar="varSim2" style="width: 15em; background-color: inherit; border-color: rgba(224, 224, 235, 0.5);">
                                                        <p:commandLink styleClass="btn" value="Gerou Novo Negocio?" style="background-color: #888; color: #FFF;" ajax="true" onsuccess="PF('novoNegocio').show();" disabled="#{cpc.contatado == false}"/>
                                                    </p:panel>
                                                </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="col-md-12">
                                                <p:outputLabel value="Data Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                <p:calendar id="dataCancela" disabled="true" mask="true" pattern="dd/MM/yyyy" value="#{cpc.datacancelamento}" rendered="#{cpc.cancelado}"/>
                                            </div>
                                            <div class="row" style="margin-bottom: 15px;">
                                                <div class="col-md-12">
                                                    <p:outputLabel value="Descrição do Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                    <p:outputLabel value="#{cpc.descricaocancelamento}" rendered="#{cpc.cancelado}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <p:panel widgetVar="varSalva">
                                                <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.edit}" update=":frmData:tabela"
                                                               style="width: 70%; margin-left: 14%;" ajax="true" onsuccess="PF('dlgContato').hide(); #{ClienteProdutoController.limpaLista()}"/>
                                                 <p:commandLink styleClass="btn btn-success" value="Cancelar" style="width: 70%; margin-left: 14%; background-color: #F27474;" onsuccess="PF('dlgContato').hide(); #{ClienteProdutoController.limpaLista()}" ajax="true"/>
                                            </p:panel>      
                                        </div>
                                    </div>
                            </ui:repeat>
            </p:dialog>
        </h:form>
                    <h:form id="frmMultiSelect">
                        <p:dialog id="MultiSelect" widgetVar="MultiSelect" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                  showEffect="drop">
                            <div class="row">
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Prefixo: #{clienteController.selected.prefixo}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Bloco: #{blocoController.selected.nome}"  style="display: block;"/>
                                                </div>
                            </div>
                            <ui:repeat value="#{ClienteProdutoController.selectedRows}" var="cpc" size="1">
                                    
                                    <div class="col-md-10" style="background-color: rgba(224, 224, 235, 0.5); border-radius: 25px; padding: 1em; margin-left: 2em; width: 1200px; margin-bottom: 1em;">
                                        <div class="row" style="margin-bottom: 15px;">
                                            <div class="col-md-4">
                                                <p:outputLabel value="Contatado?" style="display: block;"/>
                                                <p:selectOneButton id="statusCont" value="#{cpc.contatado}" styleClass="botoes">
                                                    <f:selectItem itemLabel="Sim" itemValue="true"/>
                                                    <f:selectItem itemLabel="Não" itemValue="false" />
                                                 </p:selectOneButton>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel value="Data Contato:"/>
                                                <p:calendar id="dataContata" mask="true" pattern="dd/MM/yyyy" style="width: 100%" value="#{cpc.datacontatado}"/>
                                            </div>
                                            <div class="col-md-4">
                                                <p:outputLabel value="Gerou Novo Negocio?" style="display: block;"/>
                                                <p:selectOneButton id="statusContra" value="#{ClienteProdutoController.renderizado}" styleClass="botoes">
                                                    <f:selectItem itemLabel="Sim" itemValue="true"/>
                                                    <f:selectItem itemLabel="Não" itemValue="false" />
                                                    <p:ajax update="@widgetVar(varSalvar)" event="change"/>
                                                 </p:selectOneButton>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="col-md-12">
                                                <p:outputLabel value="Data Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                <p:outputLabel value="#{cpc.datacancelamento}" rendered="#{cpc.cancelado}"/>
                                            </div>
                                            <div class="row" style="margin-bottom: 15px;">
                                                <div class="col-md-12">
                                                    <p:outputLabel value="Descrição do Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                    <p:outputLabel value="#{cpc.descricaocancelamento}" rendered="#{cpc.cancelado}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <p:panel widgetVar="varSalvar">
                                                <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.editFromMultipleDialog2(ClienteProdutoController.selectedRows, cpc)}" update=":frmProdutos:tabelaP :frmBlocos:tabelaB :frmNovo:produt"
                                                               style="width: 70%; margin-left: 14%;" rendered="#{ClienteProdutoController.renderizado == false}" ajax="true" onsuccess="PF('MultiSelect').hide(); PF('produtos').hide(); PF('blocos').hide(); #{ClienteProdutoController.limpaLista()}"/>
                                                 <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.editFromMultipleDialog2(ClienteProdutoController.selectedRows, cpc)}" update=":frmProdutos:tabelaP :frmBlocos:tabelaB :frmNovo:produt"
                                                                style="width: 70%; margin-left: 14%;" onsuccess="PF('novoNegocio').show(); #{ClienteProdutoController.limpaLista()}" rendered="#{ClienteProdutoController.renderizado == true}" ajax="true"/>
                                            </p:panel>      
                                        </div>
                                    </div>
                            </ui:repeat>
                        </p:dialog>
                    </h:form>
                    <h:form id="frmNovo">
                        <p:dialog id="novoNegocio" widgetVar="novoNegocio" closeOnEscape="true" header="Agenda da Seguridade - Novo Negócio" modal="true"
                                  showEffect="drop" closable="false">
                            <div class="col-md-10" style="background-color: rgba(224, 224, 235, 0.5); border-radius: 25px; padding: 1em; margin-left: 2em; width: 1200px; margin-bottom: 1em;">
                                <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <h:outputText value="Nome Produto"/>
                                                <h:selectOneMenu value="#{ClienteProdutoController.codProduto}"
                                                                 required="true"
                                                                 requiredMessage="Selecione um Produto"
                                                                 styleClass="form-control">
                                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                                    <f:selectItems value="#{produtoSeguridadeController.produtos}"
                                                                   var="pd"
                                                                   itemValue="#{pd.codProduto}"
                                                                   itemLabel="#{pd.nomeProduto}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <h:outputText value="Num. Proposta: "/>
                                                <br/>
                                                <p:inputText value="#{ClienteProdutoController.numProposta}" maxlength="12"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h:outputText value="Data Inicio Vigencia: "/>
                                            <p:calendar id="dataContatas" mask="true" pattern="dd/MM/yyyy" style="width: 100%" value="#{ClienteProdutoController.dataInicioVigencia}"/>
                                        </div>
                                        <div class="col-md-2">
                                            <h:outputText value="Prêmio: "/>
                                            <p:inputText value="#{ClienteProdutoController.premio}">
                                                <f:convertNumber type="currency" maxFractionDigits="0"/>
                                            </p:inputText>
                                        </div>
                                    <div class="col-md-2">
                                        <p:commandLink styleClass="btn btn-success" value="Adicionar Novo Produto" actionListener="#{ClienteProdutoController.addInside(ClienteProdutoController.selected.mci, ClienteProdutoController.selected.prefixo)}" update=":frmNovo:produts"
                                                               onsuccess="" style="margin-right: 15px;"/>
                                    </div>
                            </div>
                                <p:dataTable var="produt" value="#{ClienteProdutoController.listaAdicionada}" id="produts" widgetVar="produts" emptyMessage="Sem Novos Produtos Adicionados">
<!--                                                        <p:column headerText="Codigo Produto" style="text-align: center;">
                                                            <h:outputText value="#{produt.codproduto}" />
                                                        </p:column>
                                                        <p:column headerText="MCI" style="text-align: center;">
                                                            <h:outputText value="#{produt.mci}" />
                                                        </p:column>-->
                                                        <p:column headerText="Nome do Produto:" style="text-align: center;">
                                                            <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(produt.codproduto)}" />
                                                        </p:column>
                                                        <p:column headerText="Inicio Vigencia" style="text-align: center;">
                                                            <h:outputText value="#{produt.dataInicioVigenciaFormatada}"/>
                                                        </p:column>
                                                        <p:column headerText="Proposta" style="text-align: center;">
                                                            <h:outputText value="#{produt.proposta}"/>
                                                        </p:column>
                                                        <p:column headerText="Prêmio" style="text-align: center;">
                                                            <h:outputText value="#{produt.premio}">
                                                                <f:convertNumber type="currency" maxFractionDigits="0"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Opções" style="text-align: center;">
                                                            <p:commandButton value="Excluir" immediate="true" update=":frmNovo:produts"
                                                                         onclick="deletar()">
                                                            <f:setPropertyActionListener value="#{produt}" target="#{ClienteProdutoController.selected}"/>
                                                        </p:commandButton>
                                                    </p:column>
                                                    </p:dataTable>
                                <div class="row" style="margin-bottom: 10px;">
                                    <p:commandLink styleClass="btn btn-success" value="Concluido" onsuccess="#{ClienteProdutoController.limpaLista()}" update="@form :frmData:wgdata :form: :formularioContato:dlgContato" oncomplete="PF('novoNegocio').hide(); PF('wgdata').hide(); PF('dlgContato').hide(); #{ClienteProdutoController.limpaLista()}" 
                                                       style="margin-left: 40%;"/>
                                    <p:commandLink styleClass="btn btn-success" value="Cancelar" style="margin-left: 1em; background-color: #F27474;" onsuccess="PF('novoNegocio').hide(); #{ClienteProdutoController.limpaLista()}" ajax="true"/>
                                    </div>
                            </div>
                        </p:dialog>
                                                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msg, dlg) {
                            var ok = #{ClienteProdutoController.opSucess};
                            if (ok) {
                                mostraSucesso("Sucesso", msg, 3000);
                                PF(dlg).hide();
                            } else {
                                mostraError("Ooops!", msg, 3000);
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarCP();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{ClienteProdutoController.opSucess};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O produto foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O produto foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            }
                        }
                    </script>
                </h:panelGroup>
                        <p:remoteCommand name="deletarCP" action="#{ClienteProdutoController.delete()}" oncomplete="mostraAlerta();"
                                 update=":frmNovo:produts"/>
                    </h:form>
        <script type="text/javascript">
            PrimeFaces.locales['tr'] = {
                closeText: 'Perto',
                prevText: 'Prev',
                nextText: 'Prox',
                currentText: 'Hoje',
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho',
                    'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Maio','Jun',
                    'Jul','Ago','Set','Out','Nov','Dez'],
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
                dayNamesMin: ['D','S','T','Q','Q','S','S'],
                weekHeader: 'Hf',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                allDayText : 'Dia Inteiro'
            };
            
        </script>
    </ui:define>
</ui:composition>
