<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    
    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <style>
            /* sobrescreve css */

            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;

                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }

            .ui-growl-item {
                margin-top: 80px;
            }
            .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
                margin-top: 0px !important;
            }
            
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Agenda da Seguridade
    </ui:define>

    <ui:define name="conteudo">
         <!--
        *******************************************************************************
                                                                BB
            Superintendencia do BB - Tocantins               BBBBBBBB               BBB
            Departamento de Tecnologia da Informacao       BBBBBBBBBBBB           BBBBB
            Desenvolvedor da ferramenta:                 BBBBBBBBBBBBBBBB       BBBBBBB
                Jhemeson Silva Mota                    BBBBBBBBB   BBBBBBBB   BBBBBBBBB
                                                     BBBBBBBBB       BBBBBBBB   BBBBBBB
                                                   BBBBBBBBB           BBBBBBBB   BB
                                                 BBBBBBBBB               BBBBBBBB
                                               BBBBBBBBB             BBB   BBBBBBBB
                                             BBBBBBBBBBBBBB        BBBBBBB   BBBBBBBB
                                           BBBBBBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                             BBBBBBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
                                               BBBBBBBBBBB   BBBBBBBBBBB   BBBBBBBB
        *******************************************************************************
        -->
        <h:form id="form">
            <p:growl id="growl" showDetail="true" life="55555"/>
            <div class="container-fluid" style="margin-top: 80px;">
                        <h:panelGroup id="menus">
                                <ul class="nav nav-pills" style="padding: 7px; float: right;">
                                    <li role="presentation" class="active menu_btn_active">
                                        <a href="seguridade">
                                            <i class="icon-plus"></i> Home do Desafio
                                        </a>
                                    </li>
                                    <li role="presentation" class="active menu_btn_active">
                                        <a href="seguridadeVencidos">
                                            <i class="icon-plus"></i> Vencidos e Cancelados
                                        </a>
                                    </li>
                                </ul>
                            </h:panelGroup>
                        <h2 style="color: rgb(230, 115, 0);">Agenda da Seguridade - Vincendos</h2>
                        <p:dataTable id="clientes2" var="cliente"  paginatorPosition="bottom" paginator="true" value="#{clienteController.listSeguridadeVinc}" 
                             widgetVar="tabelaClientes" selectionMode="single" selection="#{clienteController.selected}"
                             emptyMessage="Sem Clientes cadastrados." rows="20" rowKey="#{cliente.mci}" lazy="true">  
                                <p:ajax event="rowSelect" oncomplete="PF('blocos').show();" update=":frmBlocos:blocos" />
                                <f:facet name="header">
                                    <h3>Lista de Clientes</h3>
                                </f:facet>
                                <p:column headerText="NOME" sortBy="#{cliente.nomeCliente}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.nomeCliente}">
                                    <h:outputText value="#{cliente.nomeCliente}"/>
                                </p:column>
                                <p:column headerText="MCI" sortBy="#{cliente.mci}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.mci}">
                                    <h:outputText value="#{cliente.mci}"/>
                                </p:column>
                                <p:column headerText="Num. Carteira" sortBy="#{cliente.numCarteira}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.numCarteira}">
                                    <h:outputText value="#{cliente.numCarteira}"/>
                                </p:column>
                                <p:column headerText="Prefixo" sortBy="#{agenciasController.formataPrefixo(cliente.prefixo)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{agenciasController.formataPrefixo(cliente.prefixo)}">
                                    <h:outputText value="#{agenciasController.formataPrefixo(cliente.prefixo)}"/>
                                </p:column>
                                <p:column headerText="Telefone" sortBy="#{cliente.telefone}" style="text-align: center; font-size: 10pt; height: 100%;" width="120" filterOptions="contains" filterBy="#{cliente.telefone}">
                                    <h:outputText value="#{cliente.telefone}"/>
                                </p:column>
                                <p:column headerText="Possui Produtos Vincendos" sortBy="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="true" />
                                            <f:selectItem itemLabel="Não" itemValue="false" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiVincendos(cliente.mci) == 'true' ? 'Sim' : 'Não'}"/>
                                </p:column>
                                <p:column headerText="Produtos Não Contatados" sortBy="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não" itemValue="Não" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.getPossuiNaoContatados(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Vincendos neste Mês" sortBy="#{ClienteProdutoController.VincsMes(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.VincsMes(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="true" />
                                            <f:selectItem itemLabel="Não" itemValue="false" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.VincsMes(cliente.mci) == 'true' ? 'Sim' : 'Não'}"/>
                                </p:column>
                            </p:dataTable>
            </div>  
        </h:form>
        <h:form id="frmBlocos">
                         <p:dialog id="blocos" widgetVar="blocos" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                   showEffect="drop">
                        <div class="container" style="width: 570px;">
                            <div class="col-md-10">                   
                                <div class="row col-md-12" style="margin-bottom: 15px;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                        </div>
                                        <div class="col-md-8">
                                            <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                        </div>
                                        <div class="col-md-8">
                                            <p:outputLabel value="Prefixo: #{clienteController.selected.prefixo}"  style="display: block;"/>
                                        </div>
                                        <div class="col-md-12">
                                            <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" style="display: block;" />
                                        </div>
                                        <div class="col-md-8">
                                            <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="container" style="width: 470px;">
                                        <br/>
                                        <p:dataTable var="b" id="tabelaB" value="#{blocoController.blocos}" widgetVar="tabelaB" selectionMode="single" selection="#{blocoController.selected}" 
                                                     emptyMessage="Sem Blocos cadastrados." rows="10" rowKey="#{b.id}" lazy="true" 
                                                     rendered="#{blocoController.tbRender(clienteController.selected)}">
                                            <p:ajax event="rowSelect"  oncomplete="PF('produtos').show();" update=":frmProdutos:produtos " />
                                            <f:facet name="header">
                                                <h3>Produtos</h3>
                                            </f:facet>    
                                            <p:column headerText="ID" style="text-align: center" rendered="false">
                                                    <h:outputText value="#{b.id}" />
                                                </p:column>
                                                <p:column headerText="Nome do Bloco" rendered="#{blocoController.habilitado(blocoController.totalProdutos(clienteController.selected, b))}" style="text-align: center">
                                                    <h:outputText value="#{b.nome}" />
                                                </p:column>
                                                <p:column headerText="Qtd. Produtos" rendered="#{blocoController.habilitado(blocoController.totalProdutos(clienteController.selected, b))}" style="text-align: center">
                                                    <h:outputText value="#{blocoController.totalProdutos(clienteController.selected, b)}" />
                                                </p:column>
                                                <p:column headerText="Prêmio Total" rendered="#{blocoController.habilitado(blocoController.totalProdutos(clienteController.selected, b))}" style="text-align: center" id="total" sortBy="total">
                                                    <h:outputText value="#{blocoController.totalValores(clienteController.selected, b)}">
                                                        <f:convertNumber type="currency" minFractionDigits="2"/>
                                                    </h:outputText>
                                                </p:column>
                                        </p:dataTable>
                                        <h:outputLabel style="text-align: center;" rendered="#{blocoController.tbRender(clienteController.selected) == false}">NÃO HÁ CONTATOS A SEREM FEITOS PARA ESSE CLIENTE!</h:outputLabel>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:dialog> 
                </h:form>
                <h:form id="frmProdutos">
                         <p:dialog id="produtos" widgetVar="produtos" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                   showEffect="drop">
                            <div class="container" style="width: 770px;">
                            <div class="col-md-10">                   
                                <div class="row col-md-12" style="margin-bottom: 15px;">
                                    <div class="row">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <p:outputLabel value="Prefixo: #{clienteController.selected.prefixo}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                                                </div>
                                                <div class="col-md-6">
                                                    <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                                </div>
                                            </div>
                                    </div>
                                    <hr/>
                                    <div class="container" style="width: 700px;">
                                        <br/>
                                        <p:dataTable var="p" id="tabelaP" value="#{ClienteProdutoController.refinaLista(clienteController.selected.mci, blocoController.selected.nome)}" widgetVar="tabelaP" selection="#{ClienteProdutoController.selectedRows}" emptyMessage="Sem Blocos cadastrados." rows="5" rowKey="#{p.id}" paginatorPosition="bottom" paginator="true" lazy="true">
                                            <f:facet name="header">
                                                <h3>Produtos do Bloco <u>#{blocoController.selected.nome}</u></h3>
                                            </f:facet>
                                            <p:column selectionMode="multiple" style="width:46px;text-align:center" />
                                                <p:column headerText="Nome" style="text-align: center">
                                                    <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(p.codproduto)}" />
                                                </p:column>
                                                <p:column headerText="Quantidade Total" style="text-align: center">
                                                    <h:outputText value="#{ClienteProdutoController.getTotalItensByMciAndBloco(blocoController.selected, p)}" />
                                                </p:column>
                                                <p:column headerText="Não Contatados" style="text-align: center">
                                                    <h:outputText value="#{ClienteProdutoController.getQtItensByMciAndBloco(blocoController.selected, p)}" />
                                                </p:column>
                                                <p:column headerText="Prêmio Total" style="text-align: center">
                                                    <h:outputText value="#{ClienteProdutoController.getValorItensByMciAndBloco(blocoController.selected, p)}">
                                                        <f:convertNumber type="currency" minFractionDigits="2"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Data Fim" style="text-align: center">
                                                    <h:outputText value="#{ClienteProdutoController.pegaDataFim(p)}" />
                                                </p:column>
                                                <p:column headerText="Estado" style="text-align: center">
                                                    <h:outputText value="#{ClienteProdutoController.pegaEstado(p)}" />
                                                </p:column>
                                                <f:facet name="footer">
                                                        <p:commandButton process="tabelaP" update=":frmMultiSelect:MultiSelect" icon="ui-icon-search" value="Vizualizar" oncomplete="PF('MultiSelect').show()" />
                                                </f:facet>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:dialog> 
                </h:form>
                    <h:form id="frmMultiSelect">
                        <p:dialog id="MultiSelect" widgetVar="MultiSelect" closeOnEscape="true" header="Agenda da Seguridade" modal="true"
                                  showEffect="drop">
                            <div class="row" style="width: 570px;">
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Prefixo: #{clienteController.selected.prefixo}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-12">
                                                    <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                                                </div>
                                                <div class="col-md-8">
                                                    <p:outputLabel value="Bloco: #{blocoController.selected.nome}"  style="display: block;"/>
                                                </div>
                            </div>
                            <ui:repeat value="#{ClienteProdutoController.selectedRows}" var="cpc" size="1">
                                    
                                    <div class="col-md-10" style="background-color: rgba(224, 224, 235, 0.5); border-radius: 25px; padding: 2%; margin-left: 2%; width: 95%; margin-bottom: 2%;">
                                        <div class="row" style="margin-bottom: 15px;">
                                            <div class="col-md-4">
                                                <p:panel widgetVar="varContatado" style="width: 15em">
                                                    <p:outputLabel value="Contatado?" style="display: block;"/>
                                                    <p:selectOneButton id="statusCont" value="#{cpc.contatado}" styleClass="botoes">
                                                        <f:selectItem itemLabel="Sim" itemValue="true"/>
                                                        <f:selectItem itemLabel="Não" itemValue="false" />
                                                        <p:ajax update="@widgetVar(varSim)" event="change"/>
                                                        <p:ajax update="@widgetVar(varSim2)" event="change"/>
                                                    </p:selectOneButton>
                                                </p:panel>
                                            </div>
                                                <div class="col-md-4">
                                                    <p:panel widgetVar="varSim" style="width: 15em">
                                                        <p:outputLabel value="Data Contato:"/>
                                                        <p:calendar id="dataContata" mask="true" pattern="dd/MM/yyyy" value="#{cpc.datacontatado}" disabled="#{cpc.contatado == false}" style="width: 1em;"/>
                                                    </p:panel>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:panel widgetVar="varSim2" style="width: 15em; background-color: inherit; border-color: rgba(224, 224, 235, 0.5);">
                                                        <p:commandLink styleClass="btn" value="Gerou Novo Negocio?" style="background-color: #888; color: #FFF;" ajax="true" onsuccess="PF('novoNegocio').show();" disabled="#{cpc.contatado == false}"/>
                                                    </p:panel>
                                                </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="col-md-12">
                                                <p:outputLabel value="Data Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                <p:outputLabel value="#{cpc.datacancelamento}" rendered="#{cpc.cancelado}"/>
                                            </div>
                                            <div class="row" style="margin-bottom: 15px;">
                                                <div class="col-md-12">
                                                    <p:outputLabel value="Descrição do Cancelamento: " rendered="#{cpc.cancelado}"/>
                                                    <p:outputLabel value="#{cpc.descricaocancelamento}" rendered="#{cpc.cancelado}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px;">
                                            <p:panel widgetVar="varSalvar">
                                                    <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.editFromMultipleDialog2(ClienteProdutoController.selectedRows, cpc)}" update=":frmProdutos:tabelaP :frmBlocos:tabelaB :frmNovo:produt"
                                                               style="width: 70%; margin-left: 14%;" ajax="true" onsuccess="PF('MultiSelect').hide(); PF('produtos').hide(); PF('blocos').hide(); #{ClienteProdutoController.limpaLista()}"/>
<!--                                                    <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.editFromMultipleDialog2(ClienteProdutoController.selectedRows, cpc)}" update=":frmProdutos:tabelaP :frmBlocos:tabelaB :frmNovo:produt"
                                                                style="width: 70%; margin-left: 14%;" onsuccess="PF('novoNegocio').show(); #{ClienteProdutoController.limpaLista()}" rendered="#{ClienteProdutoController.renderizado == true}" ajax="true"/>-->
                                                 <p:commandLink styleClass="btn btn-success" value="Cancelar" style="width: 70%; margin-left: 14%; background-color: #F27474;" onsuccess="PF('MultiSelect').hide(); #{ClienteProdutoController.limpaLista()}" ajax="true"/>
                                            </p:panel>      
                                        </div>
                                    </div>
                            </ui:repeat>
                        </p:dialog>
                    </h:form>
                    <h:form id="frmNovo">
                        
                        <p:dialog id="novoNegocio" widgetVar="novoNegocio" closeOnEscape="true" header="Agenda da Seguridade - Novo Negócio" modal="true"
                                  showEffect="drop" closable="false">
                            <div class="col-md-10" style="background-color: rgba(224, 224, 235, 0.5); border-radius: 25px; padding: 1em; margin-left: 2em; width: 1200px; margin-bottom: 1em;">
                                <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <h:outputText value="Nome Produto"/>
                                                <h:selectOneMenu value="#{ClienteProdutoController.codProduto}"
                                                                 required="true"
                                                                 requiredMessage="Selecione um Produto"
                                                                 styleClass="form-control">
                                                    <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                                    <f:selectItems value="#{produtoSeguridadeController.produtos}"
                                                                   var="pd"
                                                                   itemValue="#{pd.codProduto}"
                                                                   itemLabel="#{pd.nomeProduto}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <h:outputText value="Num. Proposta: "/>
                                                <br/>
                                                <p:inputText value="#{ClienteProdutoController.numProposta}" maxlength="12"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h:outputText value="Data Inicio Vigencia: "/>
                                            <p:calendar id="dataContatas" mask="true" pattern="dd/MM/yyyy" style="width: 100%" value="#{ClienteProdutoController.dataInicioVigencia}"/>
                                        </div>
                                        <div class="col-md-2">
                                            <h:outputText value="Prêmio: "/>
                                            <p:inputText value="#{ClienteProdutoController.premio}">
                                                <f:convertNumber type="currency" minFractionDigits="2"/>
                                            </p:inputText>
                                        </div>
                                    <div class="col-md-2">
                                        <p:commandLink styleClass="btn btn-success" value="Adicionar Novo Produto" actionListener="#{ClienteProdutoController.addInside(clienteController.selected.mci, clienteController.selected.prefixo)}" update=":frmNovo:produt"
                                                               onsuccess="" style="margin-right: 15px;"/>
                                    </div>
                            </div>
                                
                                <p:dataTable var="produt" value="#{ClienteProdutoController.listaAdicionada}" id="produt" widgetVar="produt" emptyMessage="Sem Novos Produtos Adicionados" rendered="#{produt.mci == ClienteProdutoController.selected.mci}">
                                    <p:column headerText="Nome do Produto:" style="text-align: center;">
                                        <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(produt.codproduto)}" />
                                    </p:column>
                                    <p:column headerText="Inicio Vigencia" style="text-align: center;">
                                        <h:outputText value="#{produt.dataInicioVigenciaFormatada}"/>
                                    </p:column>
                                    <p:column headerText="Proposta" style="text-align: center;">
                                        <h:outputText value="#{produt.proposta}"/>
                                    </p:column>
                                    <p:column headerText="Prêmio" style="text-align: center;">
                                        <h:outputText value="#{produt.premio}">
                                            <f:convertNumber type="currency" minFractionDigits="2"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Opções" style="text-align: center;">
                                        <p:commandButton value="Excluir" immediate="true" update=":frmNovo:produt"
                                                         onclick="deletar()">
                                            <f:setPropertyActionListener value="#{produt}" target="#{ClienteProdutoController.selected}"/>
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <p:commandLink styleClass="btn btn-success" value="Concluido" onsuccess="" 
                                                       update=":frmProdutos:tabelaP :frmBlocos:tabelaB @form :frmNovo:produt" 
                                                       oncomplete="PF('novoNegocio').hide();" 
                                                       style="margin-left: 40%;"
                                                       id="btnConcluido"/>
                                        <p:commandLink styleClass="btn btn-success" value="Cancelar" style="margin-left: 1em; background-color: #F27474;" onsuccess="PF('novoNegocio').hide(); #{ClienteProdutoController.limpaLista()}" ajax="true"/>
                                    </div>
                            </div>
                        </p:dialog>
                        
                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msg, dlg) {
                            var ok = #{ClienteProdutoController.opSucess};
                            if (ok) {
                                mostraSucesso("Sucesso", msg, 3000);
                                PF(dlg).hide();
                            } else {
                                mostraError("Ooops!", msg, 3000);
                            }
                        }

                        function deletar() {
                            swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarCP();
                                    });
                        }

                        function mostraAlerta() {
                            var ok = #{ClienteProdutoController.opSucess};
                            if (ok) {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O produto foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            } else {
                                swal({
                                    title: "Bom Trabalho!",
                                    text: "O produto foi excluído com sucesso!",
                                    type: "success",
                                    timer: 2000
                                });
                            }
                        }
                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarCP" action="#{ClienteProdutoController.delete()}" oncomplete="mostraAlerta();"
                                 update=":frmNovo:produt"/>
                    </h:form>
    </ui:define>
</ui:composition>
