<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    
    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <style>
            /* sobrescreve css */

            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;

                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }

            .ui-growl-item {
                margin-top: 80px;
            }
            .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
                margin-top: 0px !important;
            }
            
            
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Administração - Recupera Seguridade
    </ui:define>

    <ui:define name="conteudo">
        
        <h:form id="form">
            <p:growl id="growl" showDetail="true" life="55555"/>
            
            <div class="container-fluid" style="margin-top: 80px;">
                
    <p:tabView>
        <p:tab title="Desafio">
            <h2>Lista de Clientes</h2>
                        <ul style="background-color: #0EB96A">
                            <li>É: tabela com todos os cliente que possuem algum produto ligado ao seu mci.</li>
                            <li>Ações:
                                <ul>
                                    <li>OnClick: abre Widget 'Blocos'</li>
                                </ul>
                            </li>
                        </ul>
                        
                        <h2>Widget Blocos</h2>
                        <ul>
                            <li style="background-color: #0EB96A">É: Widget informativo, com tabela que possui todos os blocos (colunas = Bloco, Quantidade de Produtos, Valor || onde as duas ultimas são colunas somatório de todos os produtos daquele cliente, onde a coluna contatado = false)</li>
                            <li>Ações:
                                <ul>
                                    <li>OnClick: abre Widget 'infoBlocos'</li>
                                </ul>
                            </li>
                        </ul>
                        
                        <h2>Widget infoBlocos</h2>
                        <ul>
                            <li>É: Widget informativo, que mostra tabela de produtos agrupados por data (tem q ter data de vencimento igual) e por título (tem que ter titulo igual), ou seja, uma linha desta tabela conterá:
                                <ul>
                                    <li>Produto</li>
                                    <li>Quantidade (somatório || contatado = false)</li>
                                    <li>Valor (somatório || contatado = false)</li>
                                    <li>Data de Vencimento</li>
                                    <li>Mais Informações</li>
                                </ul>
                            </li>
                            <li>Ações:
                                <ul>
                                    <li>OnClick: Mais Informações - mostrará uma tabela/lista com os itens daquele produto que irão vencer naquele dia
                                        <ul>
                                            <li>Produto</li>
                                            <li>N. Proposta</li>
                                            <li>Data Inicio</li>
                                            <li>Data Fim</li>
                                            <li>Valor</li>
                                        </ul>
                                    </li>
                                    <li>OnClick: Linha - Abre Widget 'Registro'</li>
                                </ul>
                            </li>
                        </ul>
                        
                        <h2>Widget Registro</h2>
                        <ul>
                            <li>É: Widget onde serão guardadas as informações do contato (Já implementado, porém sofrera mudanças)</li>
                            <li>Ações:
                                <ul>
                                    <li>Registra informações gerais</li>
                                    <li>Seleciona "Contatado?"
                                        <ul>
                                            <li>Sim: Habilita opção 'Gerou Novo Negócio??'</li>
                                            <li>Não: Não faz Nada</li>
                                        </ul>
                                    </li>
                                    <li>Gerou novo Contrato?
                                        <ul>
                                            <li>Sim: Abre Widget 'registroContrato'</li>
                                            <li>Não: Não faz Nada.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                        <h2>Widget Registro Contrato</h2>
                        <ul>
                            <li>É: Widget onde se pode Adicionar manualmente um ou mais relacionamentos de um CLIENTE com um PRODUTO (também haverá uma tabela/lista com os valores que estão sendo adicionados 'neste momento')! PS.: neste caso a coluna manual será setada para true.</li>
                            <li>Ações:
                                <ul>
                                    <li>Serão Dados os Campos:
                                        <ul>
                                            <li>Produto: combobox com valores do banco de dados</li>
                                            <li>Proposta: input box</li>
                                            <li>Valor: Currency InputBox</li>
                                            <li>Data Inicio: dateBox</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                        <h2>Título</h2>
                        <ul>
                            <li>É:</li>
                            <li>Ações:
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: rgb(230, 115, 0);">Recupera Seguridade - Desafio</h2>
                        <hr/>
                    </div>
                    <p:outputLabel for="inline" value="Calendário:" />
                    <p:calendar id="inline" mode="inline"/>
                </div>
            <h:panelGrid class="col-md-6" cellpadding="10" style="float: right; position: relative; top: -15em;"> 
                <div class="row" >
                    <p:tabView>
                        
                        <p:tab title="Desafio Por Agencia">
                                        <div id="PorAgencia" class="row col-lg-12" style="margin-top: 1.2em;">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" style="background-color: #333;">
                                                    <h1 class="text-center" >Agências na Semana </h1>  
                                                </div>
                                                <div class="panel-body ">
                                                    <div class="row text-center">                                                                                  
                                                        <h3>Ranking Geral</h3>
                                                    </div>
                                                    
                                                    <p:dataTable var="agencia" value="#{agenciasController.agencias}">
                                                        <p:column headerText="Prefixo">
                                                            <h:outputText value="#{agencia.prefixo}" />
                                                        </p:column>
                                                        <p:column headerText="Quantidade de Feitos:">
                                                            <h:outputText value="#{agencia.feitoseguridade}" />
                                                        </p:column>
                                                        <p:column headerText="Meta:">
                                                            <h:outputText value="#{agencia.metaseguridade}" />
                                                        </p:column>
                                                        <p:column headerText="Porcentagem">
                                                            <h:outputText value="#{agenciasController.calculaPct(agencia)}%" />
                                                        </p:column>
                                                        <p:column headerText="Classificação">
                                                            <p:rating value="#{agenciasController.calculaQualis(agencia)}" readonly="true" style="margin-left: 25%; margin-bottom: 4%;"/> 
                                                        </p:column>
                                                    </p:dataTable>
                                                    <hr/>
                                                </div>
                                            </div>
                                        </div>
                        </p:tab>
                        <p:tab title="Desafio Por Rede">
                                        <div id="PorRede" class="row col-lg-12" style="margin-top: 1.2em;">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" style="background-color: #333">
                                                    <h1 class="text-center" >Sua Rede na Semana </h1>  
                                                </div>
                                                <div class="panel-body ">
                                                    <div class="row text-center">                                    
                                                            <p:rating value="5" readonly="true" style="margin-left: 45%; margin-bottom: 4%;"/> 
                                                            <hr/>
                                                            
                                                            <h3>Ranking Geral</h3>
                                                    </div>
                                                    <p:dataTable var="agencias" value="#{agenciasController.agencias}">
                                                        <p:column headerText="Rede">
                                                            <h:outputText value="#{agencias.rede}" />
<!--                                                            Aqui, o que ocorrerá é: chamarei o método agenciasController.redes, Value de rede será redes.rede
                                                            Porcentagem será a soma/divisão das porcentagens das agencias.-->
                                                        </p:column>
                                                        
                                                        <p:column headerText="Porcentagem">
                                                            <h:outputText value="0%" />
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                        </p:tab>
                        <p:tab title="Desafio Por Nível de Agencias">
                                        <div id="PorNível" class="row col-lg-12" style="margin-top: 1.2em;">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" style="background-color: #333">
                                                    <h1 class="text-center" >Agencias do Seu Nível na Semana </h1>  
                                                </div>
                                                <div class="panel-body ">
                                                    <div class="row text-center">                                    
                                                            <p:rating value="5" readonly="true" style="margin-left: 45%; margin-bottom: 4%;"/> 
                                                            <hr/>
                                                            
                                                            <h3>Ranking Geral</h3>
                                                    </div>
                                                        <p:dataTable var="agencias" value="#{agenciasController.agencias}">
                                                            <p:column headerText="Rede">
                                                                <h:outputText value="#{agencias.pegaNomeAgencia(0)}" />
    <!--                                                            Aqui, o que ocorrerá é: chamarei o método agenciasController.niveis, Value de niveis será niveis.nivel
                                                                Porcentagem será a soma/divisão das porcentagens das agencias.-->
                                                            </p:column>

                                                            <p:column headerText="Porcentagem">
                                                                <h:outputText value="0%" />
                                                            </p:column>
                                                        </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                        </p:tab>
                    </p:tabView>
                </div>
            </h:panelGrid>
        </p:tab>
        
        
        
        <p:tab title="Vencidos e Cancelados">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: rgb(230, 115, 0);">Recupera Seguridade - Vencidos e Cancelados</h2>
                        <hr/>
                    </div>
                </div>
            <h:panelGrid columns="2" cellpadding="10">
                <p:dataTable id="clientes" var="cliente"  paginatorPosition="bottom" value="#{clienteController.listSeguridadeVencCanc}" 
                             widgetVar="tabelaClientes" selectionMode="single" selection="#{clienteController.selected}"
                             emptyMessage="Sem Clientes cadastrados." rows="20" rowKey="#{cliente.mci}">
                    <p:ajax event="rowSelect" oncomplete="PF('formulario').show();" update=":form:formulario :form:growl"/>
                            <f:facet name="header">
                                <h3>Lista de Clientes</h3>
                            </f:facet>

                                <p:column headerText="NOME" sortBy="#{cliente.nomeCliente}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.nomeCliente}">
                                    <h:outputText value="#{cliente.nomeCliente}"/>
                                </p:column>
                                <p:column headerText="MCI" sortBy="#{cliente.mci}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.mci}">
                                    <h:outputText value="#{cliente.mci}"/>
                                </p:column>
                                <p:column headerText="Num. Carteira" sortBy="#{cliente.numCarteira}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.numCarteira}">
                                    <h:outputText value="#{cliente.numCarteira}"/>
                                </p:column>
                                <p:column headerText="Prefixo" sortBy="#{cliente.prefixo}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.prefixo}">
                                    <h:outputText value="#{cliente.prefixo}"/>
                                </p:column>
                                <p:column headerText="Telefone" sortBy="#{cliente.telefone}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.telefone}">
                                    <h:outputText value="#{cliente.telefone}"/>
                                </p:column>
                                <p:column headerText="Possui Produtos Cancelados" sortBy="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não" itemValue="Não" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiCancelados(cliente.mci)}"/>
                                </p:column>
                                <p:column headerText="Possui Produtos Vencidos" sortBy="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('tabelaClientes').filter()" style="width: 80%">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sim" itemValue="Sim" />
                                            <f:selectItem itemLabel="Não" itemValue="Não" />
                                        </p:selectOneMenu>
                                    </f:facet> 
                                    <h:outputText value="#{ClienteProdutoController.isPossuiVencidos(cliente.mci)}"/>
                                </p:column>
                </p:dataTable>    
            </h:panelGrid>
        </p:tab>        
        
        <p:tab title="Vincendos">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: rgb(230, 115, 0);">Recupera Seguridade - Vincendos</h2>
                        <hr/>
                    </div>
                    <div class="col-md-12">
                        <p:schedule value="#{calendarioView.lazyEventModel}" rendered="false">
                            <p:ajax event="dateSelect" listener="#{calendarioView.onDateSelect}" oncomplete="PF('produtosDoDia').show();" />
                        </p:schedule>
                        <p:dataTable id="clientess" var="cliente"  paginatorPosition="bottom" value="#{clienteController.listSeguridadeVinc}" 
                             widgetVar="tabelaClientes" selectionMode="single" selection="#{clienteController.selected}"
                             emptyMessage="Sem Clientes cadastrados." rows="20" rowKey="#{cliente.mci}">
                            <p:ajax event="rowSelect" oncomplete="PF('formulario').show();" update=":form:formulario :form:growl" />
                                <f:facet name="header">
                                    <h3>Lista de Clientes</h3>
                                </f:facet>
                                    <p:column headerText="NOME" sortBy="#{cliente.nomeCliente}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.nomeCliente}">
                                        <h:outputText value="#{cliente.nomeCliente}" rendered="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}"/>
                                    </p:column>
                                    <p:column headerText="MCI" sortBy="#{cliente.mci}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.mci}">
                                        <h:outputText value="#{cliente.mci}" rendered="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}"/>
                                    </p:column>
                                    <p:column headerText="Num. Carteira" sortBy="#{cliente.numCarteira}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.numCarteira}">
                                        <h:outputText value="#{cliente.numCarteira}" rendered="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}"/>
                                    </p:column>
                                    <p:column headerText="Prefixo" sortBy="#{cliente.prefixo}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.prefixo}">
                                        <h:outputText value="#{cliente.prefixo}" rendered="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}"/>
                                    </p:column>
                                    <p:column headerText="Telefone" sortBy="#{cliente.telefone}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{cliente.telefone}">
                                        <h:outputText value="#{cliente.telefone}" rendered="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}"/>
                                    </p:column>
                                    <p:column headerText="Possui Vincendos" sortBy="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="##{ClienteProdutoController.isPossuiVincendos(cliente.mci)}">
                                        <h:outputText value="#{ClienteProdutoController.isPossuiVincendos(cliente.mci) == 'true' ? 'SIM' : 'NÃO'}" rendered="#{ClienteProdutoController.isPossuiVincendos(cliente.mci)}"/>
                                    </p:column>
                        </p:dataTable>
                                          
                    </div>
                </div>
            
        </p:tab>
    </p:tabView>
                <div class="row">
                      
                    <div class="col-md-12" style="margin-top: 20px;">        
                       <div style="display: none;">
                            <p:dataTable id="tabela" var="c" paginatorPosition="bottom" paginator="true" widgetVar="tabelaEscondida"
                                         value="#{clienteLob.clientes}" selectionMode="single" selection="#{clienteLob.selected}"
                                         emptyMessage="Sem Clientes cadastrados." rows="20" rowKey="#{c.mci}">
                            </p:dataTable>
                        </div>     
                    </div>
                          
                </div>
            </div>

            <p:dialog id="formulario" widgetVar="formulario" closeOnEscape="true" header="Recupera Seguridade " modal="true"
                      showEffect="drop">
                <div class="container" style="width: 880px;">
                    <p:outputPanel id="formLob" style="width: 850px;">
                        <div class="row">
                            <div class="col-md-8">
                                <p:outputLabel value="Nome: #{clienteController.selected.nomeCliente}"  style="display: block;"/>
                            </div>
                            <div class="col-md-8">
                                <p:outputLabel value="MCI: #{clienteController.selected.mci}"  style="display: block;"/>
                            </div>
                            <div class="col-md-8">
                                <p:outputLabel value="Prefixo: #{clienteController.selected.prefixo}"  style="display: block;"/>
                            </div>
                            <div class="col-md-8">
                                <p:outputLabel value="Telefone: #{clienteController.selected.telefone}" />
                            </div>
                            <div class="col-md-8">
                                <p:outputLabel value="Número Carteira: #{clienteController.selected.numCarteira}"  style="display: block;"/>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: 10px;">                          
                            
                            
                            <p:dataTable id="tabelaProdutos" var="c" paginatorPosition="bottom" paginator="true" widgetVar="tabelaProdutos"
                                         value="#{ClienteProdutoController.getItensFiltradosMci(clienteController.selected.mci)}" selectionMode="single" selection="#{ClienteProdutoController.selected}"
                                         emptyMessage="Sem Produtos cadastrados." rows="20" rowKey="#{c.id}">
                                    <p:ajax event="rowSelect" oncomplete="PF('infoProduto').show();" update=":form:infoProduto :form:growl"/>
                                    <f:facet name="header">
                                    <h3>Lista de Produtos</h3>
                                </f:facet>
                                <p:column headerText="Código" sortBy="#{c.codproduto}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.codproduto}">
                                    <h:outputText value="#{c.codproduto}"/>
                                </p:column>
                                <p:column headerText="Nome" sortBy="#{produtoSeguridadeController.getProdutosByCod(c.codproduto)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{produtoSeguridadeController.getProdutosByCod(c.codproduto)}">
                                    <h:outputText value="#{produtoSeguridadeController.getProdutosByCod(c.codproduto)}"/>
                                </p:column>
                                    <p:column headerText="Bloco" sortBy="#{produtoSeguridadeController.getBlocoProdutoByCod(c.codproduto)}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="##{produtoSeguridadeController.getBlocoProdutoByCod(c.codproduto)}">
                                    <h:outputText value="#{produtoSeguridadeController.getBlocoProdutoByCod(c.codproduto)}"/>
                                </p:column>
                                <p:column headerText="Contatado" sortBy="#{c.contatado}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.contatado}">
                                    <h:outputText value="#{c.contatado == 'true' ? 'SIM' : 'NÃO'}"/>
                                </p:column>
                                <p:column headerText="Contratado" sortBy="#{c.contratado}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.contratado}">
                                    <h:outputText value="#{c.contratado == 'true' ? 'SIM' : 'NÃO'}"/>
                                </p:column>
                                <p:column headerText="Cancelado" sortBy="#{c.cancelado}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.cancelado}">
                                    <h:outputText value="#{c.cancelado == 'true' ? 'SIM' : 'NÃO'}"/>
                                </p:column>
                                <p:column headerText="Prêmio" sortBy="#{c.premio}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.premio}">
                                    <h:outputText value="#{c.premio}"/>
                                </p:column>
                    
                            </p:dataTable>                            
                            
                            <hr/>
                            <footer style="text-align: center;">RECUPERA SEGURIDADE</footer>
                        </div>
                    </p:outputPanel>
                </div>
            </p:dialog>            

            <p:dialog id="infoProduto" widgetVar="infoProduto" closeOnEscape="true" header="Recupera Seguridade" modal="true"
                      showEffect="drop">
                <p:ajax event="close" update="growl" listener="#{ClienteProdutoController.fechou(ClienteProdutoController.selected)}"/>
                <div class="container" style="width: 670px;">
                    <div class="col-md-10">                   
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <p:outputLabel value="Visto Por Último: #{ClienteProdutoController.selected.vistoporultimo}" style="margin-left: 30%;" />
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="ID: #{ClienteProdutoController.selected.id}" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="MCI do Cliente: #{ClienteProdutoController.selected.mci}"/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Estado: #{ClienteProdutoController.selected.cancelado == 'true' ? 'CANCELADO' : 'VENCIDO' }" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Premio:  "/>
                                <h:outputText value="#{ClienteProdutoController.selected.premio}">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$ "
                                                         type="currency"/>
                                </h:outputText>
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Código do Produto: #{ClienteProdutoController.selected.codproduto}" />
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Prefixo: #{ClienteProdutoController.selected.prefixo}" />
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                            </div>
                            <hr/>
                        </div>
                        <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Data Inicio Vigencia:" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                                <p:outputLabel value="#{ClienteProdutoController.selected.setVistoporultimo(ClienteProdutoController.horaAtual)}"/>
                                <p:calendar id="dataVig" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.selected.datainiciovigencia}" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                            </div>
                            <div class="col-md-6">
                                <p:calendar id="dataAtual" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.horaAtual}" rendered="false"/>
                            </div>
                            <div class="col-md-6">
                                <p:outputLabel value="Data Vencimento:" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                                <p:calendar id="dataVenc" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.selected.datavencimento}" rendered="#{ClienteProdutoController.selected.cancelado == false}"/>
                            </div>
                            <hr/>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-5">
                                <p:outputLabel value="Contatado?" style="display: block;"/>
                                <p:selectBooleanButton id="cont" value="#{ClienteProdutoController.selected.contatado}" onLabel="SIM" offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close">
                                    <p:ajax update=":form:formulario :form:growl" event="change" />
                                </p:selectBooleanButton>
                            </div>
                            <div class="col-md-7">
                                <p:outputLabel value="Data Contato:"/>
                                <p:calendar id="dataContat" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.selected.datacontatado}"/>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-5">
                                <!--Adicionar coluna: 'manual' onde eu seto como true, se ele veio de um add, e não de um csv-->
                                <p:outputLabel value="Gerou Novo Negócio?" style="display: block;"/>
                                <p:selectBooleanButton id="contr" value="#{ClienteProdutoController.selected.contratado}" onLabel="SIM" offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close">
                                    <p:ajax update=":form:formulario :form:growl" event="change" />
                                </p:selectBooleanButton>
                            </div>
                        </div>
                         <div class="row col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6">
                                <p:outputLabel value="Data Cancelamento:" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                                <p:calendar id="dataCanc" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{ClienteProdutoController.selected.datacancelamento}" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                            </div>
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-12">
                                    <br/><br/>
                                    <p:outputLabel value="Descrição do Cancelamento:" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                                    <p:outputLabel value="#{ClienteProdutoController.selected.descricaocancelamento}" rendered="#{ClienteProdutoController.selected.cancelado}"/>
                                </div>
                            </div>
                            <hr/>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-12">
                                <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{ClienteProdutoController.edit()}" update=":form:tabela :form:growl :form:formulario"
                                               onsuccess="PF('infoProduto').hide();" style="margin-right: 15px;"/>

                                <p:commandLink styleClass="btn btn-warning" value="Cancelar" onsuccess="PF('infoProduto').hide();" />
                            </div>
                        </div>
                    </div>
                </div>
            </p:dialog>  
            
            
<!--            <p:dialog id="produtosDoDia" widgetVar="produtosDoDia" closeOnEscape="true" header="Recupera Seguridade " modal="true"
                      showEffect="drop">
                <div class="container" style="width: 870px;">
                    
                        <p:dataTable id="tabelaProdutosVincendos" var="c" paginatorPosition="bottom" paginator="true" widgetVar="tabelaProdutos"
                                         value="#{clienteLob.clientes}" selectionMode="single" selection="#{clienteLob.selected}"
                                     emptyMessage="Sem Produtos cadastrados." rows="20" rowKey="#{c.mci}">
                                <p:ajax event="rowSelect" oncomplete="PF('infoProduto').show();" update=":form:formulario :form:growl" />
                                <f:facet name="header">
                                    <h3>Lista de Produtos Vincendos Do Dia</h3>
                                </f:facet>
                                <p:column headerText="Nome Cliente" sortBy="#{c.nome}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.prefixo}">
                                    <h:outputText value="#{c.nome}"/>
                                </p:column>
                                
                            <p:column headerText="Nome Produto" sortBy="#{c.prefixo}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.prefixo}">
                                <h:outputText value="#{c.prefixo}"/>
                            </p:column>
                            
                            <p:column headerText="Código" sortBy="#{c.numeroCarteira}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.numeroCarteira}">
                                <h:outputText value="#{c.numeroCarteira}"/>
                            </p:column>
                            
                            <p:column headerText="Bloco" sortBy="#{c.mci}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.mci}"> 
                                <h:outputText value="#{c.mci}"/>
                            </p:column>
                                
                            <p:column headerText="CONTATADO" sortBy="#{c.contatado}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.contatado}">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tabelaProdutosVincendos').filter()" style="width: 80%">
                                        <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="SIM" itemValue="true" />
                                        <f:selectItem itemLabel="NÃO" itemValue="false" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{c.contatado == 'true' ? 'SIM' : 'NÃO'}"/>
                            </p:column>  
                                
                            <p:column headerText="Contratado" sortBy="#{c.mci}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.mci}"> 
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tabelaProdutos').filter()" style="width: 80%">
                                        <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="SIM" itemValue="true" />
                                        <f:selectItem itemLabel="NÃO" itemValue="false" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="SIM"/>
                            </p:column>
                                
                             <p:column headerText="Data de Vencimento" sortBy="#{c.mci}" style="text-align: center; font-size: 10pt;" width="120" filterOptions="contains" filterBy="#{c.mci}"> 
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tabelaProdutos').filter()" style="width: 80%">
                                        <f:selectItem itemLabel="Dia:" itemValue="#[c.dataDeVencimento]" noSelectionOption="true" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="dd/MM/yyyy"/>
                            </p:column>
                                
                        </p:dataTable>
                    
                </div>
            </p:dialog>  -->
            
            
            
        </h:form>
        
    </ui:define>
</ui:composition>
