<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:define name="header">
        <link rel="stylesheet"
              href="#{facesContext.externalContext.requestContextPath}/superto/calculator/style_calculadora.css"/>
        <script type="text/javascript"
              src="#{facesContext.externalContext.requestContextPath}/superto/calculator/prefixfree.js"/>
        <script type="text/javascript"
              src="#{facesContext.externalContext.requestContextPath}/superto/calculator/codigo.js"/>
           <h:outputScript library="js/jsBarraNav" name="barraNav.js"/>
    </ui:define>
<ui:define name="chamadaJquery" />
    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>

    <ui:define name="conteudo">
        <div id="calculator">

            <div class="top">
                <span class="clear">C</span>

                <div class="screen"></div>
            </div>

            <div class="keys">
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span class="operator">+</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span class="operator">-</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span class="operator">÷</span>
                <span>0</span>
                <span>.</span>
                <span class="eval">=</span>
                <span class="operator">x</span>
            </div>
        </div>
        <style>
            #footer {
                position: relative;
                bottom: 0;
            }
        </style>
    </ui:define>
    
</ui:composition>

