<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Intranet Administração - Atualizar Resolves
    </ui:define>
    <ui:define name="content">
        <fieldset>
            <legend><h2>Adicionar um Resolve</h2></legend>
            <h:form id="form" prependId="false">
                <p:growl id="growl" />
                <p:contextMenu for="resolvesTable">
                    <p:menuitem value="Visualizar este Resolve" icon="ui-icon-pencil" style="font-size: 11px;"
                                onclick="PF('mostrarResolves').show();"/>
                </p:contextMenu>                
                <h:panelGroup id="menus2" >
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation">
                            <p:commandLink value="Atualizar Base" onclick="PF('updatedlg').show();" />                            
                        </li>
                        <li role="presentation">
                            <a href="/admin/resolve/GraficoResolve.jsf">Gráficos</a>                          
                        </li>
                        <li>
                            <p:commandLink value="Visualizar Resolve" onclick="PF('mostrarResolves').show();"
                                           rendered="#{resolveController.selected != null}"/>
                        </li>
                    </ul>
                </h:panelGroup>
                
                <h:form id="formDelete">
                        <div class="col-md-6">
                            <p:panel style="width: 15em">
                                <p:outputLabel value="Ano"/>
                                <p:inputText value="#{resolveController.ano}" maxlength="4" placeholder="Ano que deseja excluir">
                                    <p:ajax update="@widgetVar(confirmacao)" event="change"/>
                                </p:inputText>
                            </p:panel>    
                        </div>
                        <div class="col-md-6">
                            <p:panel style="border-color: #fff;">
                                <br/>
                                <li role="presentation">
                                    <p:commandLink styleClass="btn" value="Excluir" onclick="PF('confirmacao').show();" style="padding: 1.2em; background-color: tomato; width: 6em; height: 4em; font-size: 20px; margin-left: -28em; margin-top: -1.6em;"/>                            
                                </li>
                            </p:panel> 
                        </div>
<!--                    <p:dialog id="WarnDialog" widgetVar="WarnDialog" showEffect="fade" width="550"
                              hideEffect="fade" modal="true" resizable="false" draggable="false" visible="#{resolveController.visivel}" style="background-color: tomato;" showHeader="false">
                        <div style="background-color: #fff; color: #000; text-align: center;">
                            <h1>ATENÇÃO!!!</h1>
                        </div>
                        <div style="text-align: center">
                            <h4>Sr.#{loginController.funcionario.nome} da equipe #{loginController.funcionario.prefixo}</h4>
                            <h4>Tem certeza que deseja apagar os dados referentes ao ano de #{resolveController.ano} ?</h4>
                            <h4>A informação não poderá ser recuperada!</h4>
                        </div>
                                    <h:panelGroup id="menus">
                                        <ul class="nav nav-pills" style="padding: 7px;">
                                            <li role="presentation" class="active menu_btn_active" style="width: 80%; height: 40px; margin-left: 10%; border-radius: 20px; color: #fff">
                                                <a href="#" onclick="PF('WarnDialog').hide()" style="text-align: center; background-color: #333;">
                                                    <i class="icon-plus"></i> OK
                                                </a>
                                            </li>
                                        </ul>
                                    </h:panelGroup>
                    </p:dialog>-->
                </h:form>
                
                <p:dataTable id="resolvesTable" var="resolve" value="#{resolveController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%; margin-top: 20px;"
                             selection="#{resolveController.selected}" selectionMode="single"
                             filteredValue="#{resolveController.resolvesFiltrados}" filterDelay="1000"
                             lazy="true" paginatorPosition="bottom"
                             rowKey="#{resolve.id}" paginator="true" rows="20"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"
                             resizableColumns="true">
                    <p:ajax event="rowSelect" update=":form:resolvesTable :mostrar :form:menus2 "/>

                    <p:column headerText="Gestor" filterStyle="width: 95%" filterBy="#{resolve.prefixo}" width="90"
                              filterMatchMode="contains" styleClass="text-center">
                        #{resolve.prefixo}
                    </p:column>
                    <p:column headerText="NR" filterStyle="width:95%" filterBy="#{resolve.numero}"  width="100"
                              filterMatchMode="contains" styleClass="text-center">
                        #{resolve.numero}
                    </p:column>
                    <p:column headerText="IN" filterStyle="width:95%" filterBy="#{resolve.numeroIN}" width="100"
                              filterMatchMode="contains" styleClass="text-center">
                        #{resolve.numeroIN}
                    </p:column>
                    <p:column headerText="Consulta" filterStyle="width:95%" filterBy="#{resolve.consulta}" 
                              filterMatchMode="contains">
                        #{resolve.consulta}
                    </p:column>
                    <p:column headerText="Descrição" filterStyle="width:95%" filterMatchMode="contains" 
                              filterBy="#{resolve.descricao}">
                        #{resolve.descricao}
                    </p:column>
                    <p:column headerText="Data" style="text-align: center;" width="110">
                        <h:outputText value="#{resolve.data}">
                            <f:convertDateTime pattern="dd/MM" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:form>

            <p:dialog id="mostrar" widgetVar="mostrarResolves" header="RESOLVE" modal="true"
                      resizable="false" showEffect="clip" hideEffect="clip" dynamic="true">
                <h:form id="formEdit" prependId="false" style="font-size: 11px;">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="NR:"/>
                        <p:inputText value="#{resolveController.selected.numero}" size="10"
                                     readonly="true" style="margin-bottom: 10px;"/>
                        <h:outputLabel value="Data:"/>
                        <p:inputText value="#{resolveController.selected.data}" size="10" style="margin-bottom: 10px;"
                                     readonly="true">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </p:inputText>
                        <h:outputLabel value="IN:"/>
                        <p:inputText value="#{resolveController.selected.numeroIN}" size="10" style="margin-bottom: 10px;"
                                     readonly="true"/>
                        <h:outputLabel value="Prefixo:"/>
                        <p:inputText value="#{resolveController.selected.prefixo}" size="10" style="margin-bottom: 10px;"
                                     readonly="true"/>
                        <h:outputLabel value="Consulta:"/>
                        <p:inputText value="#{resolveController.selected.consulta}" size="40" style="margin-bottom: 10px;"
                                     readonly="true"/>
                        <h:outputLabel value="Descrição:"/>
                        <p:inputTextarea value="#{resolveController.selected.descricao}" readonly="true"
                                         autoResize="false" cols="50" rows="10" style="margin-bottom: 10px;"/>
                        <h:outputLabel />
                        <p:commandLink styleClass="btn btn-info" value="Fechar" onclick="PF('mostrarResolves').hide()"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <p:dialog header="Atualizar Resolves (CSV ou TXT)" widgetVar="updatedlg" resizable="false"
                      modal="true" width="600">
                <h:form id="formUpload" prependId="false">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <p:fileUpload fileUploadListener="#{resolveController.fileUploadListener}"
                                      mode="advanced"
                                      update="tit :form:resolvesTable :form:growl"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(csv|txt)$/"
                                      />
                        <h:outputText value="Nome do arquivo selecionado : #{resolveController.fileName}" id="tit"/>
                    </h:panelGrid>
                    <br/>
                    <p:commandButton value="atualizar" actionListener="#{resolveController.updateResolves()}"                                     
                                     update=":form:resolvesTable" oncomplete="PF('Concluido').show();"
                                     /> 
                    <!--Quando a action UpdateResolves estiver concluída, eu abro meu Widget CONCLUIDO-->
                    <p:commandButton value="cancelar" type="button" onclick="PF('updatedlg').hide();"/>
                </h:form>
            </p:dialog> 
            
            <p:dialog header="Excluir Base" widgetVar="confirmacao" resizable="false"
                      modal="true" width="600">
                <h:form id="formConfirm" prependId="false">
                    <div style="text-align: center">
                            <h4>Sr.#{loginController.funcionario.nome} da equipe #{loginController.funcionario.prefixo}</h4>
                            <h4>Tem certeza que deseja apagar os dados referentes ao ano de #{resolveController.ano} ?</h4>
                            <h4>A informação não poderá ser recuperada!</h4>
                    <br/>
                    <p:commandButton value="CONFIRMAR" actionListener="#{resolveController.deletaResolvesPorAno()}"                                     
                                     update=":form:resolvesTable" oncomplete="PF('Concluido').show(); PF('confirmacao').hide();"
                                     />
                    </div>
                </h:form>
            </p:dialog> 
            
            <p:dialog widgetVar="Concluido" resizable="false"
                      modal="true" width="600" style="text-align: center;">
                <h:form prependId="false">
                    <h1>CONCLUÍDO</h1>
                    <br/>
                    <p:commandButton value="OK" type="button" onclick="PF('Concluido').hide(); PF('updatedlg').hide();" style="width: 568px; height: 60px;"/>
                </h:form>
                <!--Quando clickar no botão OK do Widget CONCLUIDO, eu fecho o Widget Concluido, e Updatelg-->
            </p:dialog>
        </fieldset>
    </ui:define>
</ui:composition>
