<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<body>

<ui:composition template="./../../resources/templates/template.xhtml">

    <ui:define name="msg-topo">
    </ui:define>
    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">

        <div class="row">
<!--            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#" class="last_bc"><span>Noticias</span></a>
                </div>

                <div class="page_heading"><h1>Noticias</h1></div>

            </div>-->
        </div>


        <div class="row">
            <!-- Wide Column -->
            <div class="twelve columns">
                <h:form id="newListForm" prependId="false">
                    <ui:repeat var="noticia" value="#{newsController.pagNoticia.pageDataModel}">
                        <div class="post_item">
                            <h:panelGroup layout="block" class="footer_pic" rendered="#{noticia.capa != null}">
                                <a href="#"><img
                                        src="#{servidorImagensController.restTumb}#{servidorImagensController.getFileTb(noticia.capa.archive.url)}"
                                        width="100" height="59"/></a>
                            </h:panelGroup>

                            <h3 class="post_title" style="font-size: 18px;"><a
                                    href="#{facesContext.externalContext.requestContextPath}/noticia/#{noticia.id}">#{noticia.title}</a>
                            </h3>

                            <p class="new_description" style="font-size: 14px;">
                                #{noticia.subtitle}
                            </p>

                            <p class="post_meta">
                                        <span class="calendar">
                                            <h:outputText value="#{noticia.datePublication}">
                                                <f:convertDateTime parent="dd MMMM yyyy"/>
                                            </h:outputText>
                                        </span>
                                <span class="author"><a
                                        href="#{facesContext.externalContext.requestContextPath}/funcionario/#{noticia.author.fmatricula}">Por #{noticia.author.nome}</a></span>
                                <span class="comments"><a
                                        href="#{facesContext.externalContext.requestContextPath}/noticia/#{noticia.id}#comentario">#{newComments.count(noticia.id)} comentarios</a></span>
                                <span class="tags"><a
                                        href="#{facesContext.externalContext.requestContextPath}/noticia/#{noticia.id}#comentario">#{noticia.category.type}</a></span>
                            </p>
                        </div>
                    </ui:repeat>
                    <center>
                        <div class="pagination clearfix">
                            <div class="links">
                                <p:commandLink value="Pagina Anterior" update=":newListForm"
                                               disabled="#{!newsController.pagNoticia.hasPreviousPage}"
                                               actionListener="#{newsController.pagNoticia.previousPage()}"/>
                                <b>#{newsController.pagNoticia.page + 1}</b>
                                <p:commandLink value="Proxima Pagina" update=":newListForm"
                                               disabled="#{!newsController.pagNoticia.hasNextPage}"
                                               actionListener="#{newsController.pagNoticia.nextPage()}"/>
                            </div>
                        </div>
                    </center>
                </h:form>
            </div>
            <!-- Wide Column::END -->

            <div class="four columns sidebar">
                <h:form prependId="false">
                    <h4 class="title"><span>Categorias</span></h4>
                    <ul class="side_bar_menu">
                        <li>
                            <p:commandLink update=":newListForm"
                                           action="#{newsController.newsFilter()}">
                                <span class="hover_span"></span><span class="link_span">Todas</span>
                                <f:setPropertyActionListener target="#{newsController.categoriaFilter}" value="TODAS"/>
                            </p:commandLink>


                        </li>
                        <li><p:commandLink update=":newListForm"
                                           action="#{newsController.newsFilter()}">
                            <span class="hover_span"></span><span class="link_span">ADM</span>
                            <f:setPropertyActionListener target="#{newsController.categoriaFilter}" value="ADM"/>
                        </p:commandLink></li>
                        <li><p:commandLink update=":newListForm"
                                           action="#{newsController.newsFilter()}">
                            <span class="hover_span"></span><span class="link_span">PJ</span>
                            <f:setPropertyActionListener target="#{newsController.categoriaFilter}" value="PJ"/>
                        </p:commandLink></li>
                        <li><p:commandLink update=":newListForm"
                                           action="#{newsController.newsFilter()}">
                            <span class="hover_span"></span><span class="link_span">PF</span>
                            <f:setPropertyActionListener target="#{newsController.categoriaFilter}" value="PF"/>
                        </p:commandLink></li>
                        <li><p:commandLink update=":newListForm"
                                           action="#{newsController.newsFilter()}">
                            <span class="hover_span"></span><span class="link_span">AGRO/DRS</span>
                            <f:setPropertyActionListener target="#{newsController.categoriaFilter}" value="AGRODRS"/>
                        </p:commandLink></li>
                    </ul>
                </h:form>
            </div>
            <!-- Side Column::END -->

        </div>
    </ui:define>

</ui:composition>

</body>
</html>
