<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"  
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>

    <ui:define name="conteudo">
        <f:event type="preRenderView" listener="#{newsController.addVisualizacao()}"/>
        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="jumbotron" style="height: 100%;max-height: 100%;overflow: auto;">
                    <div class="col-xs-12">
                        <img class="img-rounded" style="width: 100%"
                             src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(newsController.selected.capa.archive.url)}"
                             alt="Capa da Notícia"/>
                    </div>
                    <div class="col-xs-12" style="text-align: center;">
                        <h1>#{newsController.selected.title}</h1>
                    </div>
                    <br/>

                    <div class="col-xs-12">
                        <h:outputText value="#{newsController.selected.text}" escape="false" styleClass="texto"/>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js">
        </script>
        <style>
            .texto{
                text-align: justify;
                font-size: 12pt;
                line-height: 24px;
            }
        </style>
    </ui:define>

</ui:composition>