@font-face{
    font-family: Oswald;
    src: url("/resources/Fonts/oswald/Oswald-Regular.ttf");
}
@font-face{
    font-family: HelveticaNeue;
    src: url("/resources/Fonts/Helvetica/HelveticaNeue.ttf");
}
@font-face{
    font-family: HelveticaCd;
    src: url("/resources/Fonts/Helvetica/HelveticaCd.ttf");
}

@font-face {
    font-family: Segoe;
    font-weight: 200;
    src: local("Segoe UI Light");
}

@font-face {
    font-family: Lato, sans-serif;
    src: url("/resources/Fonts/lato/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("/resources/Fonts/open-sans/OpenSans-Regular.ttf");
}