<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>

    <ui:define name="conteudo">

        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <h1>Seja Bem-Vindo!</h1>

                        <p class="mercados">
                            Estamos em fase de desenvolvimento e retornaremos em breve.<br/>
                            <h4 class="">Superintendência Banco do Brasil</h4>
                        </p>

                        <a class="btn btn-primary btn-lg" href="/" role="button"><span
                                aria-hidden="true">&larr;</span> Voltar à Página Principal</a>
                    </div>
                </div>
            </div>
        </div>


        <style>
            #footer {
                position: absolute;
                bottom: 0;
            }
        </style>
    </ui:define>
</ui:composition>