<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="chamadaJquery"/>
    <ui:define name="header">
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/cotacao.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/slide_acesso_rapido/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/slide_acesso_rapido/modernizr.custom.63321.js" />
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/slide_acesso_rapido/style.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/slide_acesso_rapido/vendor/normalize.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/slide_acesso_rapido/gallery.prefixed.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/index_superto.css"/>
        <style>
            .tab-pane, .tab-pane .carousel{
                height: 100%;
            }
            .AcessoRapidoSlider{
                border-color: gray; 
                border-radius: 100%; 
                background-color: gray; 
                color: white; 
                height: 10px; 
                width: 10px;
            }
            .AcessoRapidoSlider:hover{
                border-color: gray; 
                border-radius: 100%; 
                background-color: gray;
                opacity: 0.5;
                color: white; 
                height: 10px; 
                width: 10px;
            }
            .AcessoRapidoSlider:active{
                border-color: gray; 
                border-radius: 100%; 
                background-color: black;
                color: white; 
                height: 13px; 
                width: 13px;
            }
        </style>
    </ui:define>

    <ui:define name="conteudo">
        <div class="panel panel-primary" >
        <div class="row" id="acesso-rapido">
            <ul class="nav nav-tabs bg-cinza" role="tablist">
                <div class="panel-heading" style="height:59px; color:white;">
                    <h1 class="text-center" style="font-size: 22px;">Acesso Rápido</h1>                            
                </div>
            </ul>
            <div class="panel-body" id="body_acesso_rapido">
            <div class="gallery autoplay items-3" style="height: 112%;">
            <div id="item-1" class="control-operator"></div>
            <div id="item-2" class="control-operator"></div>
            <div id="item-3" class="control-operator"></div>
            <figure class="item" style="background: #FFF; height: 80px;">
              <div class="row text-center">
                    <div class="col-md-2 col-sm-2 col-xs-6 col-md-offset-1 col-xs-offset-0">
                        <a href="http://dinop.bb.com.br/prcCredito/exiba?cmdo=prcCredito.index" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/dinop.svg" alt="img01"
                            style="width: 33px; height: 33px;"/>
                            <h4>DINOP</h4>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <a href="https://disap.bb.com.br/relatorios/dash/rentabiliza" target="_blank" class="itemAcesso"> 
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/rentabiliza.svg" alt="img02" 
                                style="width: 33px; height: 33px;"/>
                            <h4>Rentabiliza</h4>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <a href="http://dicoi.bb.com.br/controles/servlet/rnc?cmdo=index" target="_blank" class="itemAcesso">
                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/RNC.svg" alt="img03" 
                                    style="width: 33px; height: 33px;"/>
                                <h4>RNC</h4>
                        </a>
                    </div>

                  <div class="col-md-2 col-sm-2 col-xs-6">
                        <a href="https://disap.bb.com.br/relatorios/dash/painel+de+prevencao+de+reclamacoes" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/reclamacoes.svg" alt="img04"
                                style="width: 33px; height: 33px;"/>
                            <h4>Atendimento</h4>
                        </a>
                    </div>
                    
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <a href="http://dipes01.bb.com.br/CapacitacaoExtrato2017/#/principal" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/capacitacao.svg" alt="img05" 
                                style="width: 33px; height: 33px;"/>
                            <h4>Capacitação</h4>
                        </a>
                    </div>
                </div>
            </figure>
            <figure class="item" style="background: #FFF; height: 100%;">
              <div class="row text-center">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-sm-offset-1 col-md-offset-1 col-xs-offset-0">
                            <a href="http://dinop.bb.com.br/enquetes/exiba?cmdo=enquetes.index&amp;eqt=60" target="_blank" class="itemAcesso">
                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/rural.svg" alt="img06"
                                    style="width: 33px; height: 33px;"/>
                                <h4>Rural</h4>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 ">
                            <a href="http://dinop.bb.com.br/uso/servlet/ControladorRede?comando=DirecionaConteudo&amp;codConteudo=769" target="_blank" class="itemAcesso">
                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/cadastros.svg" alt="img07"
                                    style="width: 33px; height: 33px;"/>
                                <h4>Cadastros</h4>
                            </a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 ">
                            <a href="http://dinop.bb.com.br/uso/servlet/ControladorRede?comando=DirecionaConteudo&amp;codConteudo=546" target="_blank" class="itemAcesso">
                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/capag.svg" alt="img08"
                                    style="width: 33px; height: 33px;"/>
                                <h4>Capag</h4>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 ">
                            <a href="http://dired.bb.com.br/portal/pf/pagina-67" target="_blank" class="itemAcesso">
                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/imobiliario.svg" alt="img09"
                                    style="width: 33px; height: 33px;"/>
                                <h4>Imobiliário</h4>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <a href="http://dinop.bb.com.br/uso/servlet/ControladorRede?comando=DirecionaConteudo&amp;codConteudo=770" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/operacoesPJ.svg" alt="img10"
                                style="width: 33px; height: 33px;"/>
                            <h4>Operações PJ</h4>
                        </a>
                    </div>
                </div>
            </figure>

            <figure class="item" style="background: #FFF; height: 100%;">
                <div class="row text-center">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-sm-offset-1 col-md-offset-1 col-xs-offset-0">
                        <a href="http://cassi.com.br/index.php" target="_blank" class="itemAcesso"> 
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/logo-cassi.png" alt="img05"
                            style="height: 40px; width: 50px;"/>
                            <h4>CASSI</h4>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <a href="http://previ.com.br" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/logo-previ.png" alt="img06"
                                style="height: 40px; width: 60px;"/>
                            <h4>PREVI</h4>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <a href="https://www.unibb.com.br/Login.aspx?ReturnUrl=%2f" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/icon-unibb.png" alt="img07"
                                style="height: 40px; width: 50px;"/>
                            <h4>UNIBB</h4>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <a href="http://radares.intranet.bb.com.br/radargestor/home.jsf" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/radar_do_gestor.png" alt="img08"
                                style="height: 40px; width: 120px;"/>

                            <h4>Radar Gestor</h4>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <a href="/ecoa" target="_blank" class="itemAcesso">
                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/ecoa/ecoaLogo.png" alt="img09"
                                style="height: 40px; width: 50px;"/>
                            <h4>Espaço Ecoa</h4>
                        </a>
                    </div>
                </div>
            </figure>
            <div class="controls"> 
              <a href="#item-1" class="control-button AcessoRapidoSlider">.</a>
              <a href="#item-2" class="control-button AcessoRapidoSlider">.</a>
              <a href="#item-3" class="control-button AcessoRapidoSlider">.</a>
            </div>
          </div>
          </div>
        </div>
        </div>        
        <div class="container-fluid">    
            <div id="div_row1" class="row" style="height: 600px;">
                <div id="div_direita_painel" class="col-lg-6" style="margin-bottom: 20px;"> 
                    <div id="div_destaques" class="row">
                        <div role="tabpanel" style="height: 100%;">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs bg-cinza" role="tablist">                                
                                <li role="presentation" class="active" title="Destaques">
                                    <a href="#destaques" aria-controls="destaques" role="tab" data-toggle="tab">
                                        <span class="numDestaques">#{destaqueBBController.sizeListaDestaques}</span>
                                        <i id="tab-estrela" class="tab-icons">
                                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/star5.svg"/>
                                        </i>
                                    </a>
                                </li>
                                <li role="presentation" title="Notícias">
                                    <a href="#news" aria-controls="news" role="tab" data-toggle="tab">
                                        <span class="numDestaques">#{newsController.sizeListaNoticias}</span>
                                        <i id="tab-news" class="tab-icons">
                                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/newspaper.svg"/>
                                        </i>
                                    </a>
                                </li>
                                <li role="presentation" title="Curiosidades">
                                    <a href="#curiosidades" aria-controls="curiosidades" role="tab" data-toggle="tab">
                                        <span class="numDestaques">!</span>
                                        <i id="tab-news" class="tab-icons" style="width: 100%;">
                                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/quest5.svg"/>
                                        </i>
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">  <!-- onclick="someNotificacao();" -->
                                <div role="tabpanel" class="tab-pane active" id="destaques" >
                                    <div id="carousel-destaques" class="carousel slide">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <ui:repeat var="des" value="#{destaqueBBController.listaDestaquesBB}" varStatus="aux">
                                                <div class="item #{aux.index eq '0'? 'active':''}" style="max-height: 410px;">
                                                    <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(des.fotoDestaque.url)}"/>
                                                    <div class="carousel-caption">
                                                        <div class="caixaDestaque" >
                                                            <h1 class="tituloDestaque">#{des.titulo}</h1>
                                                            <h3 class="subTituloDestaque">#{des.texto}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ui:repeat>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-destaques" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-destaques" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Próximo</span>
                                        </a>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="news">
                                    <div id="carousel-noticias" class="carousel slide">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <ui:repeat var="des" value="#{newsController.getListaNoticias(utilController.mercadoSuper)}" varStatus="aux">
                                                <li data-target="#carousel-noticias" data-slide-to="#{aux.index}" class="#{aux.index eq '0'? 'active':''}"
                                                    style="background-color: gray; border-color: gray"></li>
                                            </ui:repeat>
                                        </ol>
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner"  role="listbox">
                                            <ui:repeat var="new" value="#{newsController.getListaNoticias(utilController.mercadoSuper)}" varStatus="aux">
                                                <div class="item #{aux.index eq '0'? 'active':''}" style="height: 100%">
                                                    <div class="row" style="height: 100%;">
                                                        <div class="col-xs-4" style="height: 100%;padding-top: 10%;">
                                                            <img class="img-rounded" height="180px" width="100%" src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(new.capa.archive.url)}" alt="Capa da Notícia"/>
                                                        </div>
                                                        <div class="col-xs-7 text-center">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <h2>#{new.title}</h2>
                                                                    <br/>
                                                                    <p>
                                                                       <h:outputText value="#{new.subtitle}" escape="false"/>
                                                                    </p>
                                                                    <br/>
                                                                    <a href="/noticia/#{new.id}" class="btn btn-info" style="position: relative;margin-top: 10%;">Saiba Mais</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ui:repeat>
                                        </div>
                                    </div>
                               </div>
                                <div role="tabpanel" class="tab-pane" id="curiosidades">
                                    <div id="carousel-curiosidades" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <ui:repeat var="cur" value="#{curiosidadesController.ativos}" varStatus="aux">
                                                <li data-target="#carousel-curiosidades" data-slide-to="#{aux.index}" class="#{aux.index eq '0'? 'active':''}"
                                                    style="background-color: gray; border-color: gray"></li>
                                            </ui:repeat>
                                        </ol>
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner"  role="listbox">
                                            <ui:repeat var="cur" value="#{curiosidadesController.ativos}" varStatus="aux">
                                                <div class="item #{aux.index eq '0'? 'active':''}" style="height: 100%">
                                                    <div class="row" style="height: 100%;">
                                                        <div class="col-xs-4" style="height: 100%;padding-top: 1%;width: 96%; margin-left: 2%;">
                                                            <img class="img-rounded" height="100%" width="100%" src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(cur.capa.archive.url)}" alt="Capa da Curiosidade"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ui:repeat>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div_direita_painel" class="col-lg-6">
                    <div id="div_destaques" class="row" style="float: left">
                        <div role="tabpanel" style="height: 85%; width: 100%;">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs bg-cinza" role="tablist">
                                <div class="panel-heading" style="height:59px; color:white;">
                                    <h1 class="text-center" style="font-size: 22px;">Aniversariantes do Dia</h1>
                                </div>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content" style="height: 490px;">
                                <div role="tabpanel" class="tab-pane active" id="aniversariantes" onmouseover="someNotificacao();">
                                    <div id="carousel-aniversario" class="carousel slide">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <h:panelGroup rendered="#{funcController.sizeAniversariantes == 0}">
                                                <div class="item active"  style="height: 100%; width: 100%; ">
                                                    <div class="row bg-niver niver-amarelo">
                                                        <h3 class="text-center" style="font-family: 'Lato', sans-serif; font-weight: bold; width: 60%; margin: 20% auto; font-size: 3em;">
                                                            Não há colegas aniversariantes na data de hoje!
                                                        </h3>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{funcController.sizeAniversariantes > 0}">
                                                <ui:repeat var="func" value="#{funcController.aniversariantesDoMes}" varStatus="aux">
                                                    <div class="item #{aux.index eq '0'? 'active':''}" style="height: 460px">
                                                        <div class="row bg-niver 
                                                             #{(aux.index+1) % 2 != 0  ? 'niver-amarelo':''} 
                                                             #{(aux.index+1) % 2 == 0 ? 'niver-azul':''}">
                                                            <h1 class="text-center" style="font-family: 'Lato', sans-serif; font-weight: bold; width: 60%; margin: 0 auto; margin-top: 5%;"><span style="font-weight: normal;">Colega</span> <br />#{func.nome},</h1>
                                                            <h1 class="text-center" style="font-family: 'Lato', sans-serif; font-weight: bold; font-size: 22px; width: 60%; margin: 0 auto; margin-top: 5%;">#{funcController.getAgencia(func.prefixo)}</h1>     
<!--                                                         A linha acima, chama o metodo que pega o nome da agência, e recebe como parâmetro o prefixo do funcionario, A mensagem apresentada na tela
                                                             vem toda do retorno do método, pois em casos em que o prefixo da agência do funcionario não existe no BD, não se mostrará a mensagem-->
                                                            <div id="mensagemNiver" style="font-family: 'Lato',sans-serif; width: 60%;margin: 0 auto; text-align: center; padding-top: 5px;">
                                                                <h2 style="text-wrap: normal;">
                                                                    A SUPER TO lhe parabeniza pelo seu aniversário e 
                                                                    lhe deseja felicidades e muito sucesso!
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ui:repeat>
                                            </h:panelGroup>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-aniversario" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-aniversario" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Próximo</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row painel-row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="text-center">Painel Online - #{loginController.funcionario.prefixo}</h1>
                        </div>
                        <div class="panel-body" style="margin-top: 30px">
                            <div class="col-md-1"></div>
                               <ul id="OnlinePanel" style="list-style-type: none;">
                                <li>
                                    <div class="col-md-2 text-center">
                                    <a href="https://disap.bb.com.br/paineis/online/creditopf/index.html" target="_blank">
                                        <div class="box-info" style="padding: 0px;">
                                            <h3 style="margin-bottom: 40px; margin-top: 35px">CRÉDITO PF<br/></h3>
                                        </div>
                                    </a>
                                    </div>
                                </li>
                                <li>
                                <div class="col-md-2 text-center">
                                    <a href="https://disap.bb.com.br/paineis/online/creditopj/index.html" target="_blank">
                                        <div class="box-info" style="padding: 0px;">
                                            <h3 style="margin-bottom: 40px; margin-top: 35px">CRÉDITO PJ<br/></h3>
                                        </div>
                                    </a>
                                </div>
                                </li>
                                <li>
                                <div class="col-md-2 text-center">
                                    <a href="https://disap.bb.com.br/paineis/online/creditoagro/index.html" target="_blank">
                                        <div class="box-info" style="padding: 0px;">
                                            <h3 style="margin-bottom: 40px; margin-top: 35px">CRÉDITO AGRO</h3>
                                        </div>
                                    </a>
                                </div>
                                </li>
                                <li>
                                <div class="col-md-2 text-center">
                                    <a href="https://disap.bb.com.br/paineis/online/seguridade/index.html" target="_blank">             
                                        <div class="box-info" style="margin-right: 10px; padding: 0px;">
                                            <h3 style="margin-bottom: 40px; margin-top: 35px">SEGURIDADE<br/></h3>
                                        </div>
                                    </a>
                                </div>
                                </li>
                                <li>
                                <div class="col-md-2 text-center">
                                    <a href="https://disap.bb.com.br/paineis/online/captacao/index.html" target="_blank">
                                        <div class="box-info" style="padding: 0px;" >
                                            <h3 style="margin-bottom: 40px; margin-top: 35px">CAPTAÇÃO<br/></h3>
                                        </div>
                                    </a>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container-fluid">
            <div id="div_row2" class="row">
                <div id="dica-do-dia" class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 style="width: 100%;" class="text-center">
                                Dicas Do Dia
                            </h1>
                        </div>
                        <div class="panel-body">
                            <div id="carousel-dicas-do-dia" class="carousel slide" style="height: 350px ;">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox" style="height: 350px">
                                    <ui:repeat var="dica" value="#{dicaDoDiaController.dicasDoDia}" varStatus="aux">
                                        <div class="item #{aux.index eq '0'? 'active':''}" style="height: 350px;">
                                            <a href="#{dica.url}" target="_blank">
                                                <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(dica.imagem.url)}" 
                                                     style="padding-left: 2%;width: 100%;"/>
                                            </a>
                                        </div>
                                    </ui:repeat>
                                </div>
                                <a class="left carousel-control" href="#carousel-dicas-do-dia" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-dicas-do-dia" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Próximo</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                    <div id="utilidades" class="row col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="text-center" >Utilidades</h1>
                            </div>
                            <div class="panel-body ">
                                <div class="row text-center">
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="/resolve">
                                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/lightbulb-o.svg"
                                                        style="width: 120px; height: 120px;"/>                                            
                                            <h1>Resolve (Ocorrências Solucionadas)</h1>
                                        </a>
                                    </div>
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="/superto/retencaoLob/retencaoLob" target="_blank">
                                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/dollar-symbol.svg" 
                                                 style="width: 120px; height: 120px;"/>
                                            <h1>Retençao LOB</h1>
                                        </a>
                                    </div>
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="/simuladorFundos" target="_blank" >
                                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/png/fundos.png"
                                                 style="width: 120px; height: 120px;"/>
                                            <h1>Tarifa de Fundos</h1>
                                        </a>
                                    </div>
                                </div>
                                <div class="row text-center">   
                                    <div class="col-md-4 utilidades-icon">
                                        <h:form>
                                            <p:outputPanel id="fvc">
                                                <span>                                                  
                                                    <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="120px;" height="120px;"/>
                                                    <h1>FVC</h1>
                                                </span>
                                            </p:outputPanel>
                                            <p:overlayPanel id="ovFVC" for="fvc" hideEffect="fade" widgetVar="FVC"
                                                            style="width: 682px;"
                                                            dismissable="true" showCloseIcon="true">
                                                <div class="row" style="font-size: 0.8em;">
                                                    <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1248 - CADASTRO PESSOA FISICA.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1248-Cadastro PF</h1>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1249 - CADASTRO PRODUTOR RURAL PJ.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1249-Cadastro Produtor Rural PJ</h1>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1250 -CADASTRO PRODUTOR RURAL PF.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1250-Cadastro Produtor Rural PF</h1>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1251 - CADASTRO ENTE DE DIREITO PUBLICO.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1251-Cadastro Ente de Direito Público</h1>
                                                        </a>
                                                    </div>
                                                     <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1252 CADASTRO PESSOA JURIDICA.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1252-Cadastro PJ</h1>
                                                        </a>
                                                    </div>
                                                     <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1255 - CONTA CORRENTE PESSOA JURIDICA.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1255-Conta Corrente PJ</h1>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1256 - CONTA CORRENTE PESSOA FISICA.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1256-Conta Corrente PF</h1>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a href="../resources/arquivos/FVC/FVC 1257 - CONTA CORENTE SETOR PUBLICO.odt">
                                                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                                                            <h1>FVC 1257-Conta Corrente Setor Público</h1>
                                                        </a>
                                                    </div>
                                                </div>
                                            </p:overlayPanel>
                                        </h:form>
                                    </div>
                                    <div class="col-md-4 utilidades-icon">
                                        <h:form>
                                            <p:outputPanel id="simulador">
                                                <span>
                                                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/simuladores.svg"
                                                         style="width: 120px; height: 120px;"/>
                                                    <h1>Simuladores</h1>
                                                </span>
                                            </p:outputPanel>
                                            <p:overlayPanel id="ovSimulador" for="simulador" hideEffect="fade" widgetVar="simulador"
                                                            style="width: 502px;"
                                                            dismissable="true" showCloseIcon="true">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <a href="/simuladorFundos" target="_blank">
                                                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/simuladores.svg"/>
                                                            <h1>Simulador de Tarifa de Fundos</h1>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="http://dired.bb.com.br/distribuicao/simulador-recorrencia/" target="_blank">
                                                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/simuladores.svg"/>
                                                            <h1>Simulador de Recorrências de Seguridade</h1>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="http://dired.bb.com.br/extrato-mobilizadores-estrategicos/" target="_blank">
                                                            <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/simuladores.svg"/>
                                                            <h1>Extrato Pontuação Mobilizadores Estratégicos</h1>
                                                        </a>
                                                    </div>
                                                </div>
                                            </p:overlayPanel>
                                        </h:form>
                                    </div>
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="#{facesContext.externalContext.requestContextPath}/resources/contatos/contatos_uteis.pdf" target="_blank" >
                                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/telefone-super.svg"
                                                 style="width: 120px; height: 120px;"/>
                                            <h1>Contatos</h1>
                                        </a>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="div_row2" class="row">            
                <div id="ferramentas" class="col-lg-12">
                    <div id="ferramentas-do-dia" class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="text-center">Ferramentas Diárias</h1>
                            </div>
                            <div class="panel-body">
                                <div class="row text-center">
                                    <div class="col-md-4 utilidades-icon">  
                                        <a href="/portalAverbacao">
                                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/icon-portal-averbacao.svg"
                                                 style="width: 50px; height: 50px;"/>
                                            <h1>Portal Averbação</h1>
                                        </a>
                                    </div>
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="http://dired.bb.com.br/distribuicao/portal-flexibilizacao/">
                                            <span class="row">
                                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/icon-flexbilizacao.svg"
                                                     style="width: 50px; height: 50px;"/>
                                            </span>
                                            <span class="row">
                                                <h1>Flexibilização / Reconsideração</h1>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="/portalAdimplencia">
                                            <span class="row">
                                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/icon-portal-inadimplencia.svg"
                                                     style="width: 50px; height: 50px;"/>
                                            </span>
                                            <span class="row">
                                                <h1>Portal Adimplência</h1>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <p:separator/>
                                <div class="row text-center">
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="http://uaj-gepra.intranet.bb.com.br/sim/" target="_blank">
                                            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/peace.svg"
                                                 style="width: 50px; height: 50px;"/>
                                            <h1>Sim, Eu Quero Ajudar</h1>
                                        </a>
                                    </div>

                                    <div class="col-md-4 utilidades-icon">
                                        <a href="https://disap.bb.com.br/relatorios/dash/painel+gestao+de+pendencias" target="_blank">
                                            <span class="row">
                                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/checkmark.svg"
                                                     style="width: 50px; height: 50px;"/>
                                            </span>
                                            <span class="row">
                                                <h1>Painel Gestão de Pendências</h1>
                                            </span>
                                        </a>
                                    </div>

                                    <div class="col-md-4 utilidades-icon">
                                        <a href="https://juridico.intranet.bb.com.br/paj/juridico" target="_blank">
                                            <span class="row">
                                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/justice.svg"
                                                     style="width: 50px; height: 50px;"/>
                                            </span>
                                            <span class="row">
                                                <h1>Portal Jurídico</h1>
                                            </span>
                                        </a>
                                    </div>                                   
                                </div>
                                <p:separator/>
                                <div class="row text-center">
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="http://dicoi.bb.com.br/controles/servlet/vco?cmdo=index" target="_blank">
                                            <span class="row">
                                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/icon-vco.svg"
                                                     style="width: 50px; height: 50px;"/>
                                            </span>
                                            <span class="row">
                                                <h1>VCO</h1>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 utilidades-icon">
                                        <a href="https://disap.bb.com.br/disap/atendimento/bbatende/" target="_blank">
                                            <span class="row">
                                                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/operator4.svg"
                                                     style="width: 50px; height: 50px;"/>
                                            </span>
                                            <span class="row">
                                                <h1>BB Atende</h1>
                                            </span>
                                        </a>
                                    </div>
                                    <h:panelGroup>
                                        <div class="col-md-4 utilidades-icon">
                                            <a href="/margemDisponivel" target="_blank">
                                                <span class="row">
                                                    <img src="../resources/images/icones/templateSuperto/icon_grafemaBB.svg" style="width: 50px; height: 50px;"/>
                                                </span>
                                                <span class="row">
                                                    <h1>CONSIG GOV TO</h1>
                                                </span>
                                            </a>
                                        </div>
                                    </h:panelGroup>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cotacao_financeira" class="row text-center">
            <div id="div_dolar" class="col-sm-3 col-md-3 col-lg-3">
                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/png/flag-eua.png"/>
                <div id="cotacao_dolar"></div>
            </div>
            <div id="div_bovespa" class="col-sm-3 col-md-3 col-lg-3">
                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/png/flag-brasil.png"/>
                <div id="cotacao_bovespa"></div>
            </div>
            <div id="div_euro" class="col-sm-3 col-md-3 col-lg-3">
                <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/png/flag-europa.png"/>
                <div id="cotacao_euro"></div>
            </div>
            <div id="Acessos" class="col-sm-3 col-md-3 col-lg-3">
                <img height="40px" src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/indexSuperto/flag_tocantins.png"/>
                <div>
                    <p:outputLabel id="qtdAcessos" value="Total de acessos: #{userhistory.totaldeAcessos}"/><br/>
                    <p:outputLabel id="qtdAcessosMes" value="Acessos no mês: #{userhistory.acessosMes}"/><br/>
                    <p:outputLabel id="qtdAcessosDia" value="Acessos do dia: #{userhistory.acessosDia}"/>
                </div>
            </div>
            <p:clock pattern="HH:mm:ss" mode="server"/>
        </div>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/slide_acesso_rapido/jquery.catslider.js"></script>
        <script>
                                    $(document).ready(function () {
                                        $('#mi-slider').catslider();
                                        $("#carousel-destaques, #carousel-noticias, #carousel-curiosidades").carousel({
                                            pause: '',
                                            interval: 6000
                                        });
                                        $("#carousel-aniversario").carousel({
                                            pause: '',
                                            interval: 8000
                                        });
                                        $("#carousel-dicas-do-dia").carousel({
                                            pause: '',
                                            interval: 5000
                                        });
                                        $("#carousel-topo").carousel({
                                            pause: '',
                                            interval: 6000
                                        });
                                        $('img#logobb_menu').css('display', 'none');
                                    });

                                    var menu = new cbpTooltipMenu(document.getElementById('cbp-tm-menu'));

                                    $(window).scroll(function () {
                                        if (window.scrollY > 10) {
                                            $('#div_logo_bb').fadeOut(500);
                                            $('img#logobb_menu').fadeIn(500);
                                        } else {
                                            $('#div_logo_bb').fadeIn(500);
                                            $('img#logobb_menu').fadeOut(500);
                                        }
                                    });

                                    function someNotificacao() {
                                        $("ul.nav.nav-tabs li.active a span").hide(1000);
                                    }
        </script>
    </ui:define>
</ui:composition>
