<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
        >
<head>
    <title>Organograma"</title>
</head>
<body>

<ui:composition template="./../resources/templates/template.xhtml">

    <ui:define name="header">
        <link rel="stylesheet" type="text/css" media="screen, print"
              href="#{facesContext.externalContext.requestContextPath}/resources/css/slickmap.css"/>
    </ui:define>
    <ui:define name="msg-topo">
    </ui:define>
    <ui:define name="slider"/>
    <ui:define name="mercados"/>

    <ui:define name="conteudo">

        <div class="row">
            <div class="sixteen columns">
                <div class="breadcrumb">
                    <a href="#{facesContext.externalContext.requestContextPath}/"
                       class="first_bc"><span>Pagina Inicial</span></a>
                    <a href="#{facesContext.externalContext.requestContextPath}/noticias"><span>Noticias</span></a>
                    <a href="#" class="last_bc"><span>#{newsController.selected.title}</span></a>
                </div>

                <div class="page_heading"><h1>Humanograma</h1></div>
            </div>
        </div>


        <div class="row">
            <!-- Wide Column -->
            <div class="twelve columns" align="center">

            </div>
        </div>
        <br/>
        <br/>
        <h:panelGroup layout="block" class="sitemap" binding="#{testeController.panel}"/>
    </ui:define>

</ui:composition>

</body>
</html>
