<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        >


    <!-- Side Column -->
    <div class="four columns sidebar">


        <h4 class="title"><span>Dados do Resolve</span></h4>

        <div class="latest_post_sidebar clearfix">

            
<!--            <p:pieChart id="custom" value="#{resolveGrafico.tortaGráfica}" legendPosition="w" fill="true"
                        showDataLabels="true"
                        title="Quantidade de Resolves por Prefixo" style=" font-family: arial black; height: 240px;"
                        widgetVar="chart" sliceMargin="10" diameter="120">

            </p:pieChart>-->


            <p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image">
                <p:outputPanel id="output" layout="block" style="width:500px;height:300px"/>
            </p:dialog>

        </div>

        <script type="text/javascript">
            function exportChart() {
                //export image  
                $('#output').empty().append(PF('chart').exportAsImage());

                //show the dialog  
                PF('dlg').show();
            }
            jQuery(document).ready(function () {
                jQuery('#testimonials_carousel').jcarousel({
                    auto: 4,
                    scroll: 1,
                    wrap: 'last',
                    easing: 'easeInOutExpo',
                    animation: 600
                });
            });
        </script>
        <!-- Testimonials::END -->
    </div>
    <!-- Side Column::END -->
</ui:fragment>