<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions-6.0.0.jar">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/cotacao.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/slide_acesso_rapido/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/slide_acesso_rapido/modernizr.custom.63321.js" />
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/slide_acesso_rapido/style.css"/>
        <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/index_superto.css"/>
        <style>
            .tab-pane, .tab-pane .carousel{
                height: 100%;
            }
            .ui-selectmanycheckbox label, .ui-selectoneradio label {
                margin: 0px 10px 0 4px !important;

            }
        </style>
    </ui:define>

    <ui:define name="conteudo">
        <div id="corpo" class="container" style="margin-top: 80px;">
            <h:form id="frm1" prependId="false">
                <div class="row">
                    <h2>Portal da Averbação</h2>
                    <f:event type="preRenderView"
                             listener="#{dividaController.value.setPrefixo(loginController.funcionario.prefixo)}"/>
                    <f:event type="preRenderView"
                             listener="#{dividaController.value.setMatricula(loginController.funcionario.fmatricula)}"/>
                    <p:separator style="margin-bottom:10px"/>
                </div>
                <p:messages id="messages" closable="true" style="text-align: center;"/>

                <div class="row">
                    <h:panelGroup id="form">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <h:outputLabel value="Escolha o convênio"/>
                                        <h:selectOneMenu value="#{dividaController.convenio}"
                                                         styleClass="form-control" converter="convenioConverter"
                                                         required="true" requiredMessage="Selecione um Convenio">
                                            <p:ajax listener="#{dividaController.onConvenioChange}" update="sidebar :frm1:caixaCodigo"/>
                                            <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                            <f:selectItems value="#{convenioController.listConvenio}"
                                                           var="convenio" itemLabel="#{convenio.label}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <h:outputLabel value="Linha de Crédito" styleClass="title"/>
                                        <h:selectOneMenu value="#{dividaController.value.linhaCredito}"
                                                         required="true"
                                                         requiredMessage="Selecione uma Linha de Crédito"
                                                         styleClass="form-control">
                                            <f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
                                            <f:selectItems value="#{linhaDeCreditoController.listLinhaDeCredito}"
                                                           var="credito"
                                                           itemValue="#{credito.label}"
                                                           itemLabel="#{credito.label}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <h:outputLabel value="MCI do Cliente" for="entradaMCI"/>
                                        <p:inputText id="entradaMCI" maxlength="9"
                                                     value="#{dividaController.value.mciCliente}"
                                                     styleClass="form-control" placeholder="MCI do Cliente">
                                            <p:keyFilter regEx="/[\d\-\.]/"/>
                                        </p:inputText>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <h:outputLabel value="Nº Operação" for="numOperacao"/>
                                        <p:inputText id="numOperacao" maxlength="9"
                                                     value="#{dividaController.value.numOperacao}"
                                                     styleClass="form-control" placeholder="Nº Operação">
                                            <p:keyFilter regEx="/[\d\-\.]/"/>
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-xs-6">
                                    <h:outputLabel value="Valor Total"/>
                                    <p:inputNumber id="valorTotal" value="#{dividaController.value.valorTotal}"
                                                    style="width: 100%;height: 34px;"
                                                    symbol="R$"
                                                    decimalSeparator="," thousandSeparator="."/>
                                </div>
                                <div class="col-xs-6">
                                    <h:outputLabel value="Troco"/><br/>
                                    <p:inputNumber id="troco" value="#{dividaController.value.troco}"
                                                    style="width: 100%;height: 34px;"
                                                    symbol="R$" decimalSeparator="," thousandSeparator="."/>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>

                    <div class="col-md-6">
                        <div id="listaAnexo" class="container-fluid text-center"
                             style="background-color: rgb(245, 245, 245);height: 208px;border-radius: 10px;">
                            <h4>Lista de Anexos</h4>
                            <p:separator/>
                            <h:panelGroup id="listAnexos">
                                <div id="contentAnexos" style="overflow: auto;max-height: 125px;">
                                    <ui:repeat value="#{dividaController.listUploadForm}" var="arquivo">
                                        <div class="row"
                                             style="margin-top: 5px;">
                                            <div class="col-xs-2">
                                                <h4 class="#{arquivo[2]}" style="font-weight: bold;"></h4>
                                            </div>
                                            <div class="col-xs-8">
                                                <h5>#{arquivo[0]}</h5>
                                            </div>
                                            <div class="col-xs-2" style="margin-top: 17px;">
                                                <h:outputText styleClass="#{arquivo[1]}"
                                                              style="font-weight: bold;color: green;"
                                                              rendered="#{arquivo[1] eq 'glyphicon glyphicon-ok'}"/>
                                                <h:outputText styleClass="#{arquivo[1]}"
                                                              style="font-weight: bold;color: red;"
                                                              rendered="#{arquivo[1] eq 'glyphicon glyphicon-remove'}"/>
                                            </div>
                                        </div>
                                    </ui:repeat>
                                </div>
                            </h:panelGroup>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <p:outputPanel id="caixaCodigo">
                        <div class="row">
                            <div class="col-md-12">
                                <h:panelGrid columns="2" rendered="#{dividaController.value99 == true}">
                                <h:outputText value="A Operação foi averbada? " />
                                <p:selectOneRadio id="console" value="#{dividaController.verificaCodigo}" style="margin-left: 15px;">
                                    <f:selectItem itemLabel="SIM" itemValue="true" />
                                    <f:selectItem itemLabel="NAO" itemValue="false" />
                                    <p:ajax event="change" update="caixaCodigo numeroSolicitacao" />
                                </p:selectOneRadio>
                                </h:panelGrid>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <h:panelGrid columns="2" id="numeroSolicitacao" rendered="#{dividaController.verificaCodigo != true}">
                                <h:outputText value="Informe o Código de Autorização e anexe o Documento: " style="margin-top: 15px; margin-right: 3px;"/>
                                <p:inputText value="#{dividaController.value.codigoSoliticatacao}" size="11"/>
                                </h:panelGrid>
                            </div>
                        </div>
                        </p:outputPanel>
                    </div>

                    <div class="col-md-6">
                        <ul class="menu-sidebar">
                            <h4 style="text-align: center;">Roteiro para Averbação</h4>
                        </ul>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <h:panelGrid id="sidebar" style="">
                                <a href="#{dividaController.urlConvenio}" target="_blank"> 
                                    <img src="#{dividaController.urlImg}" style="max-width: 100px; max-height: 100px"/>
                                </a>
                            </h:panelGrid>
                        </div>
                    </div>
                </div>
                <div id="tabelas" style="clear: both;">
                    <div class="col-md-6">
                        <h3>Anexos</h3>
                        <p> Limite: 1.5 MB </p>
                        <p:fileUpload fileUploadListener="#{dividaController.fileUploadListenerForm}"
                                      allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/"
                                      id="anexone" mode="advanced" sizeLimit="1600000" label="Arquivo" multiple="true"
                                      required="true" requiredMessage="Favor Fazer o Upload do Arquivo"/>
                        <br/>
                        <p:commandButton value="Solicitar Liberação" actionListener="#{dividaController.add()}"
                                         update="messages form tabListAverbacaoDevolvidas tabListAverbacao :formAlert:scriptAlert listAnexos ob"
                                         oncomplete="verificaOperacao('Pedido de Averbação feita com Sucesso!','Pedido de Averbação não realizado');">
                            <p:confirm header="Termo de Contrato"
                                       message="Declaro que as operações contratadas fora dos canais de autoatendimento, incluindo operações contratas pelo Correspondente Bancário, estão devidamente assinadas e serão arquivadas no dossiê do cliente."
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400" height="150">
                            <p:commandButton value="Confirmar" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="ui-icon-check"/>
                            <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no"
                                             icon="ui-icon-close"/>
                        </p:confirmDialog>
                        <br/><br/>
                    </div>
                    <div class="col-md-6">
                        <p:outputLabel value="Observação:" />
                        <p:inputTextarea id="ob" value="#{dividaController.value.observacaoLiberacao}" style="height: 100px; max-height: 100px; width: 100%;" />
                    </div>

                    <div class="col-md-12">
                        <h:panelGroup id="tabListAverbacaoDevolvidas">
                            <h2 align="center"> Solicitação de Liberação Devolvida</h2>

                            <p:dataTable id="averbacoesDevolvidas"
                                         var="devolvido"
                                         emptyMessage="Nenhum pedido averbado para esse prefixo"
                                         rows="5"
                                         value="#{dividaController.dividasDevolvidas}"
                                         rowKey="#{devolvido.id}"
                                         paginator="true"
                                         filterDelay="1000"
                                         selectionMode="single"
                                         selection="#{dividaController.selected}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                        {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="5, 10,20,30,40,50"
                                         paginatorPosition="bottom">
                                <f:facet name="header">
                                    Lista de Operações
                                </f:facet>
                                <p:ajax event="rowSelect" oncomplete="PF('dialog1').show();" update=":frm2:painelDialogo" listener="#{dividaController.limpaObs()}"/>
                                <p:tooltip/>
                                <p:column headerText="MCI Cliente" filterBy="#{devolvido.mciCliente}"
                                          style="text-align: center;">
                                    <h:outputText value="#{devolvido.mciCliente}" style="color: red;"/>
                                </p:column>
                                <p:column headerText="N da Operação" filterBy="#{devolvido.numOperacao}"
                                          style="text-align: center;">
                                    <h:outputText value="#{devolvido.numOperacao}" style="color: red;"/>
                                </p:column>
                                <p:column headerText="Data/Hora" style="text-align: center;">
                                    <h:outputText value="#{devolvido.operacaoCriacao.dataOperacao}" style="color: red;" >
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-3"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Valor Total" filterBy="#{devolvido.mciCliente}"
                                          style="text-align: center;">
                                    <h:outputText value="#{devolvido.valorTotal}" style="color: red;">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                         type="currency"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Valor do Troco" filterBy="#{devolvido.troco}"
                                          style="text-align: center;">
                                    <h:outputText value="#{devolvido.troco}" style="color: red;">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$"
                                                         type="currency"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Status" filterBy="#{devolvido.statusAverbacao}"
                                          filterMatchMode="contains"
                                          style="text-align: center;background-color: #{dividaController.verificarBackGroundColor(devolvido.statusAverbacao)};">
                                    <h:outputText value="#{devolvido.statusAverbacao}" style="color: #{dividaController.verificarTextColor(devolvido.statusAverbacao)};"/>
                                </p:column>

                                <p:column headerText="Mais Informações" exportable="false" style="text-align: center;">
                                    <p:commandButton value="Acessar" icon="ui-icon-search"
                                                     update=":frm2:painelDialogo"
                                                     onclick="PF('dialog1').show();"
                                                     immediate="true">
                                        <f:setPropertyActionListener value="#{devolvido}"
                                                                     target="#{dividaController.selected}"/>
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div class="col-md-12">
                        <h:panelGroup id="tabListAverbacao">
                            <h2 align="center">Solicitações de Liberação Averbadas</h2>
                            <p:dataTable id="averbacoesPrefixo"
                                         var="dividaPrefixo"
                                         emptyMessage="Nenhuma pendencia para esse prefixo"
                                         rows="10"
                                         value="#{dividaController.dividasPrefixo}"
                                         rowKey="#{dividaPrefixo.id}"
                                         paginator="true"
                                         filterDelay="1000"
                                         selectionMode="single"
                                         selection="#{dividaController.selected}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                        {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="5, 10,20,30,40,50"
                                         paginatorPosition="bottom">
                                <f:facet name="header">
                                    Lista de Operações
                                </f:facet>
                                <p:ajax event="rowSelect" oncomplete="PF('dialog2').show();" update=":frm3:painelMaisInfo"/>
                                <p:tooltip/>
                                <p:column headerText="MCI Cliente" filterBy="#{dividaPrefixo.mciCliente}"
                                          style="text-align: center;">
                                    <h:outputText value="#{dividaPrefixo.mciCliente}"/>
                                </p:column>
                                <p:column headerText="N. Operação" filterBy="#{dividaPrefixo.numOperacao}"
                                          style="text-align: center;">
                                    <h:outputText value="#{dividaPrefixo.numOperacao}"/>
                                </p:column>
                                <p:column headerText="Data/Hora" style="text-align: center;">
                                    <h:outputText value="#{dividaPrefixo.operacaoCriacao.dataOperacao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-3"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="V. Total" filterBy="#{dividaPrefixo.mciCliente}"
                                          style="text-align: center;">
                                    <h:outputText value="#{dividaPrefixo.valorTotal}">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$ "
                                                         type="currency"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="V. do Troco" filterBy="#{dividaPrefixo.troco}"
                                          style="text-align: center;">
                                    <h:outputText value="#{dividaPrefixo.troco}">
                                        <f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="R$ "
                                                         type="currency"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Status" filterBy="#{dividaPrefixo.statusAverbacao}"
                                          filterMatchMode="contains"
                                          style="text-align: center;background-color: #{dividaController.verificarBackGroundColor(dividaPrefixo.statusAverbacao)};">
                                    <h:outputText value="#{dividaPrefixo.statusAverbacao}" style="color: #{dividaController.verificarTextColor(dividaPrefixo.statusAverbacao)};"/>
                                </p:column>
                                <p:column style="text-align: center" headerText="Mais Informações">
                                    <p:commandButton value="Acessar" icon="ui-icon-search"
                                                     update=":frm3:painelMaisInfo"
                                                     onclick="PF('dialog2').show();"
                                                     immediate="true">
                                        <f:setPropertyActionListener value="#{dividaPrefixo}"
                                                                     target="#{dividaController.selected}"/>
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                </div>
                <p:dialog widgetVar="confirmDlg">
                    <h:outputText value="Declaro que as operações contratadas fora dos canais de autoatendimento, incluindo operações contratas
                                  pelo Correspondente Bancário, estão devidamente assinadas e serão arquivadas no dossiê do cliente."/>
                </p:dialog>
            </h:form>

            <h:form id="frm2">
                <p:dialog widgetVar="dialog1" resizable="false" width="950" header="Atualizar Pedido de Averbação"
                          height="600" modal="true" draggable="false">
                    <h:panelGroup id="painelDialogo">
                        <p:tabView>
                            <p:tab title="Atualizar Averbação">
                                <div class="row" style="margin-top: 10px;">
                                    <h:panelGroup id="form">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <h:outputLabel value="Escolha o convenio"/>
                                                        <h:selectOneMenu value="#{dividaController.selected.idConvenio}"
                                                                         styleClass="form-control"
                                                                         required="true" converter="convenioConverter"
                                                                         requiredMessage="Selecione um Convenio">
                                                            <f:selectItem itemLabel="Selecione"
                                                                          noSelectionOption="true"/>
                                                            <f:selectItems value="#{convenioController.listConvenio}"
                                                                           var="convenio"
                                                                           itemLabel="#{convenio.label}"/>
                                                        </h:selectOneMenu>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <h:outputLabel value="Linha de Crédito" styleClass="title"/>
                                                        <h:selectOneMenu
                                                            value="#{dividaController.selected.linhaCredito}"                                                            
                                                            required="true"
                                                            requiredMessage="Selecione uma Linha de Crédito"
                                                            styleClass="form-control">
                                                            <f:selectItem itemLabel="Selecione"
                                                                          noSelectionOption="true"/>
                                                            <f:selectItems
                                                                value="#{linhaDeCreditoController.listLinhaDeCredito}"
                                                                var="credito"
                                                                itemValue="#{credito.label}"
                                                                itemLabel="#{credito.label}"/>
                                                        </h:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <h:outputLabel value="MCI do Cliente" for="entradaMCI"/>
                                                        <p:inputText id="entradaMCI" maxlength="9"
                                                                     value="#{dividaController.selected.mciCliente}"
                                                                     styleClass="form-control"
                                                                     placeholder="MCI do Cliente">
                                                            <p:keyFilter regEx="/[\d\-\.]/"/>
                                                        </p:inputText>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <h:outputLabel value="Nº Operação" for="numOperacao2"/>
                                                        <p:inputText id="numOperacao2" maxlength="9"
                                                                     value="#{dividaController.selected.numOperacao}"
                                                                     styleClass="form-control"
                                                                     placeholder="Nº Operação">
                                                            <p:keyFilter regEx="/[\d\-\.]/"/>
                                                        </p:inputText>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-xs-6">
                                                    <h:outputLabel value="Valor Total"/>
                                                    <p:inputNumber id="valorTotal"
                                                                    value="#{dividaController.selected.valorTotal}"
                                                                    style="width: 100%;height: 34px;"
                                                                    symbol="R$"
                                                                    decimalSeparator="," thousandSeparator="."/>
                                                </div>
                                                <div class="col-xs-6">
                                                    <h:outputLabel value="Troco"/>
                                                    <p:inputNumber id="troco"
                                                                    value="#{dividaController.selected.troco}"
                                                                    style="width: 100%;height: 34px;"
                                                                    symbol="R$" decimalSeparator=","
                                                                    thousandSeparator="."/>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>

                                    <div class="col-md-6">
                                        <div id="listAnexo" class="container-fluid text-center"
                                             style="background-color: rgb(245, 245, 245);height: 208px;border-radius: 10px;">
                                            <h4>Lista de Anexos</h4>
                                            <p:separator/>
                                            <h:panelGroup id="listAnexos">
                                                <div id="contentAnexos" style="overflow: auto;max-height: 125px;">
                                                    <ui:repeat value="#{dividaController.listUploadDlg}" var="arquivo">
                                                        <div class="row"
                                                             style="margin-top: 5px;">
                                                            <div class="col-xs-2">
                                                                <h4 class="#{arquivo[2]}"
                                                                    style="font-weight: bold;"></h4>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <h5>#{arquivo[0]}</h5>
                                                            </div>
                                                            <div class="col-xs-2" style="margin-top: 17px;">
                                                                <h:outputText styleClass="#{arquivo[1]}"
                                                                              style="font-weight: bold;color: green;"
                                                                              rendered="#{arquivo[1] eq 'glyphicon glyphicon-ok'}"/>
                                                                <h:outputText styleClass="#{arquivo[1]}"
                                                                              style="font-weight: bold;color: red;"
                                                                              rendered="#{arquivo[1] eq 'glyphicon glyphicon-remove'}"/>
                                                            </div>
                                                        </div>
                                                    </ui:repeat>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                    </div>
                                </div>
                                <div id="anexo" class="row" style="margin-top: 2em;">
                                    <div class="col-md-6">
                                        <p:fileUpload fileUploadListener="#{dividaController.fileUploadListenerDialog}"
                                                      id="anexoneUp" mode="advanced" required="true"
                                                      requiredMessage="Favor fazer upload do arquivo" update="listAnexos"
                                                      sizeLimit="1600000" label="Selecionar" multiple="true"
                                                      allowTypes="/(\.|\/)(pdf|jpg|jpeg|png|gif|bmp)$/"/>
                                        <br/>
                                        <p:commandButton value="Solicitar Liberação"
                                                         action="#{dividaController.edit}"
                                                         update=":frm1 :formAlert:scriptAlert"
                                                         onclick="PF('dialog1').hide()"
                                                         oncomplete="verificaOperacao('Pedido de Averbação Atualizada com Sucesso!','Pedido de Averbação não Atualizado!');">
                                            <p:confirm header="Termo de Contrato"
                                                       message="Declaro que as operações contratadas fora dos canais de autoatendimento, incluindo operações contratas pelo Correspondente Bancário, estão devidamente assinadas e serão arquivadas no dossiê do cliente."
                                                       icon="ui-icon-alert"/>
                                        </p:commandButton>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400"
                                                         height="150">
                                            <p:commandButton value="Confirmar" type="button"
                                                             styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                            <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no"
                                                             icon="ui-icon-close"/>
                                        </p:confirmDialog>
                                    </div>
                                    <div class="col-md-6">
                                        <p:outputLabel value="Observação:" />
                                        <p:inputTextarea value="#{dividaController.selected.observacoes}" 
                                                         style="height: 100px; max-height: 100px; width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 60%; margin-left: 20%; height: 100px; border-width: 10px; border">
                                    <hr/>
                                    <h2>MOTIVOS DE DEVOLUÇÃO</h2>
                                    <h:outputText value="#{dividaController.selected.observacoes}"
                                              style="font-weight: bolder;color: red"/>
                                    <hr/>
                                </div>
                            </p:tab>
                            <p:tab title="Arquivos">
                                <p:dataTable value="#{dividaController.selected.anexos}"
                                             var="anexo"
                                             paginator="true"
                                             rows="3"
                                             filterDelay="1000"
                                             rowKey="#{anexo.id}"
                                             emptyMessage="Nenhum anexo encontrado"
                                             paginatorPosition="bottom">
                                    <f:facet name="header">
                                        <h:outputText value="Arquivos Anexados"/>
                                    </f:facet>
                                    <p:column headerText="Nome do Arquivo" style="text-align: center">
                                        <h:outputText value="#{anexo.name}" style="text-align: center"/>
                                    </p:column>
                                    <p:column headerText="Tipo" style="text-align: center">
                                        <h:outputText value="#{anexo.mimeType}"/>
                                    </p:column>
                                    <p:column headerText="Hora" style="text-align: center">
                                        <h:outputText value="#{anexo.uploadHour}"/>
                                    </p:column>
                                    <p:column headerText="Data" style="text-align: center">
                                        <h:outputText value="#{anexo.uploadDate}">
                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column style="width:10%;text-align: center">
                                        <p:commandButton icon="ui-icon-disk" title="Download" ajax="false">
                                            <p:fileDownload value="#{averbacaoController.realizarDownload(anexo)}"/>
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </p:tabView>
                    </h:panelGroup>
                </p:dialog>
            </h:form>

            <h:form id="formAlert" prependId="false">
                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                        function verificaOperacao(msgSucess, msgError) {
                            var ok = #{dividaController.opSucess};
                            if (ok) {
                                mostraSucesso("Sucesso", msgSucess, 5000);
                            } else {
                                mostraError("Ooops!", msgError, 5000);
                            }
                        }
                    </script>
                </h:panelGroup>
            </h:form>

            <h:form id="frm3">
                <p:dialog id="dialog2" widgetVar="dialog2" width="600px" height="250px" header="Arquivos Anexados"
                          modal="true" resizable="false" draggable="false">
                    <h:panelGroup id="painelMaisInfo">
                        <p:dataTable value="#{dividaController.selected.anexos}"
                                     var="anexo"
                                     paginator="true"
                                     rows="3"
                                     rowKey="#{anexo.id}"
                                     emptyMessage="Nenhum anexo encontrado"
                                     paginatorPosition="bottom">
                            <f:facet name="header">
                                <h:outputText value="Arquivos Anexados"/>
                            </f:facet>
                            <p:column headerText="Nome do Arquivo" style="text-align: center">
                                <h:outputText value="#{anexo.name}" style="text-align: center"/>
                            </p:column>
                            <p:column headerText="Tipo" style="text-align: center">
                                <h:outputText value="#{anexo.mimeType}"/>
                            </p:column>
                            <p:column headerText="Hora" style="text-align: center">
                                <h:outputText value="#{anexo.uploadHour}"/>
                            </p:column>
                            <p:column headerText="Data" style="text-align: center">
                                <h:outputText value="#{anexo.uploadDate}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column style="width:10%;text-align: center">
                                <p:commandButton icon="ui-icon-disk" title="Download" ajax="false">
                                    <p:fileDownload value="#{averbacaoController.realizarDownload(anexo)}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </p:dialog>

            </h:form>

        </div>
        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>

        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/slide_acesso_rapido/jquery.catslider.js"></script>
        <script>
                        $(document).ready(function () {
                            $('#mi-slider').catslider();
                            $("#carousel-destaques, #carousel-aniversario, #carousel-noticias").carousel({
                                pause: '',
                                interval: 4500
                            });

                            $("#carousel-topo").carousel({
                                pause: '',
                                interval: 6000
                            });
                            $('img#logobb_menu').css('display', 'none');
                        });

                        var menu = new cbpTooltipMenu(document.getElementById('cbp-tm-menu'));

                        $(window).scroll(function () {
                            if (window.scrollY > 10) {
                                $('#div_logo_bb').fadeOut(500);
                                $('img#logobb_menu').fadeIn(500);
                            } else {
                                $('#div_logo_bb').fadeIn(500);
                                $('img#logobb_menu').fadeOut(500);
                            }
                        });

                        function someNotificacao() {
                            $("ul.nav.nav-tabs li.active a span").hide(1000);
                        }
        </script>
    </ui:define>
</ui:composition>
