<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração PDA - Gerenciar Demandas
    </ui:define>

    <ui:define name="content">
        <p:growl autoUpdate="true" life="20000"/>
        <br/>
        <fieldset>
            <legend><h2>Gerenciar demandas</h2></legend>
            <h:form id="form" prependId="false">

                <p:dataTable id="pdaTable" var="agencia" value="#{pdaController.selected.dependencias}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 900px; "
                             selection="#{pdaController.agPdaSelected}" selectionMode="single"
                             rowKey="#{agencia.id}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             resizableColumns="true">

                    <p:ajax event="rowSelect" listener="#{pdaController.redirect}"/>

                    <p:column headerText="Protocolo" filterBy="#{agencia.id}" style="width: 15%; font-size: 12px;">
                        <center>
                            #{agencia.id}
                        </center>
                    </p:column>

                    <p:column headerText="Prefixo" filterBy="#{agencia.dependecia.prefixo}"
                              style="width: 15%; font-size: 12px;">
                        #{agencia.dependecia.prefixo}
                    </p:column>

                    <p:column headerText="Agência" filterBy="#{agencia.dependecia.agenciaNome}"
                              style="width: 20%; font-size: 12px;">
                        #{agencia.dependecia.nomeAgencia}
                    </p:column>
                    <p:column headerText="status" filterBy="#{agencia.status.value}"
                              style="width: 20%; font-size: 12px;">
                        #{agencia.status.value}
                    </p:column>
                    <p:column headerText="Data conclusão" filterBy="#{agencia.dataConclusao}"
                              style="width: 15%; font-size: 12px;">

                        <center><h:outputText value="#{agencia.dataConclusao}">
                            <f:convertDateTime parent="dd MMMM yyyy"/>
                        </h:outputText></center>
                    </p:column>
                    <p:column headerText="Responsavel conclusão" filterBy="#{agencia.gerenteResponsavel.nome}"
                              style="width: 20%; font-size: 12px;">
                        #{agencia.gerenteResponsavel.nome}
                    </p:column>
                </p:dataTable>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>
