<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração PDA - Gerenciar Demandas
    </ui:define>

    <ui:define name="content">
        <p:growl autoUpdate="true" life="20000"/>
        <br/>
        <fieldset>
            <legend><h2>Adicionar demanda</h2></legend>
            <h:form id="newNoticia" style="font-size:11px;" prependId="false">
                <p:menubar style="height: 30px; font-size: 15px;box-sizing: content-box;">
                    <p:menuitem value="Salvar demanda" icon="ui-icon-disk" url="#" onclick="save()"/>
                    <p:menuitem value="Voltar" url="/admin/gerenciar/pda"/>
                </p:menubar>
                <br/>
                <!--<div style="float: left;">-->

                <p:messages id="msg"/>
                <h:panelGrid columns="6" style="font-size:12px">
                    <h:outputLabel value="Categoria"/>
                    <p:spacer width="5"/>
                    <h:outputLabel value="Agências"/>
                    <p:spacer width="5"/>
                    <h:outputLabel value="Prazo"/>
                    <p:spacer width="5"/>
                    <p:selectOneMenu value="#{pdaController.selected.categoria}">
                        <f:selectItems value="#{utilController.demandaCategoriaValues}" var="g"
                                       itemValue="#{g}" itemLabel="#{g.asString()}"/>

                    </p:selectOneMenu>

                    <p:spacer width="5"/>
                    <p:selectCheckboxMenu label="Agências" value="#{pdaController.agenciasSelecionadas}"
                                          converter="baseEntityConverter" filter="true" filterMatchMode="startsWith"
                                          panelStyle="font-size: 12px; width:290px" style="width: 200px;">
                        <f:selectItems var="ag" itemLabel="#{ag.nomeAgencia}" itemValue="#{ag}"
                                       value="#{pdaController.agencias}"/>
                    </p:selectCheckboxMenu>

                    <p:spacer width="5"/>
                    <p:calendar value="#{pdaController.selected.dataPrazo}"/>
                </h:panelGrid>


                <h:panelGrid columns="1" style="font-size: 12px;">
                    <h:outputLabel value="Título"/>
                    <p:inputText value="#{pdaController.selected.titulo}" size="40"/>
                    <p:remoteCommand name="salvarPda" actionListener="#{pdaController.createFromPda()}"
                                     update=":newNoticia" oncomplete="depois();"/>
                </h:panelGrid>
                <!-- </div> -->
                <h:inputHidden id="inputHiddenValue" value="#{pdaController.selected.demandaDescricao}"/>

            </h:form>
            <!-- <div style="float: left; margin-left: 50px; font-size:12px"> -->
            <h:outputLabel value="Texto"/>

            <textarea id="editorTextArea" cols="80" style="height: 300px; width: 700px;"></textarea>
            <!--</div>-->

            <br/>
            <h:panelGrid columns="2" style="font-size:11px;">

                <p:column>
                    <p:commandButton value="Anexar arquivos" type="button" onclick="PF('anexarDlg').show()"
                                     style="font-size: 11px;"/>
                    <p:commandButton value="Anexar arquivos ja existentes" type="button"
                                     onclick="PF('selecionarDlg').show()" style="font-size: 11px;"/>
                    <br/>

                    <div style="width: 300px;">
                        <h:form id="formAnexos" prependId="false">
                            <p:dataList value="#{pdaController.anexosList}" var="anexo" id="anexos"
                                        paginator="true" rows="5"
                                        paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="5,10,15" type="none" paginatorPosition="top">

                                <f:facet name="header">
                                    Novos anexos
                                </f:facet>

                                <p:commandButton icon="ui-icon-close" title="View Detail"
                                                 actionListener="#{pdaController.removerAnexo(anexo)}"
                                                 update=":formAnexos:anexos"/>

                                <h:outputText value="#{anexo.name}" style="margin-left:10px"/>
                                <br/>
                            </p:dataList>
                        </h:form>
                    </div>
                </p:column>
            </h:panelGrid>

            <p:dialog header="Anexar arquivos" widgetVar="anexarDlg" resizable="false" position="top" modal="true"
                      width="600">
                <h:form id="formUpload" prependId="false">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <p:fileUpload fileUploadListener="#{pdaController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update=":formAnexos:anexos"
                                      label="Selecionar"
                                      multiple="true"
                                      allowTypes="/(\.|\/)(txt|pdf|xls|doc|docx|ppt|pptx|csv)$/"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <p:dialog header="Selecionar arquivos" widgetVar="selecionarDlg" resizable="false" position="top"
                      modal="true" width="600">
                <h:form id="formSelect" prependId="false">
                    <p:dataTable id="arquivos" var="arquivo" value="#{archiveController.lazyData}"
                                 emptyMessage="Não foi encontrado nenhum resultado" style="width: 500px;"
                                 rowKey="#{arquivo.id}" paginator="true" rows="5"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" lazy="true">
                        <p:column headerText="Opção" style="font-size: 12px;">
                            <p:commandButton value="Selecionar" actionListener="#{pdaController.addArchive(arquivo)}"
                                             update=":formAnexos:anexos"/>
                        </p:column>
                        <p:column headerText="Arquivo" style="font-size: 12px;">
                            #{arquivo.name}
                        </p:column>
                        <p:column headerText="Tipo" style="font-size: 12px;">
                            #{arquivo.mimeType}
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:dialog>

            <h:form prependId="false" id="nform">
                <p:dialog widgetVar="imgDialog" header="Selecionar Imagem" dynamic="true" position="topo">
                    <p:dataTable id="images" var="image" value="#{imageController.lazyData}"
                                 emptyMessage="Não foi encontrado nenhum resultado" style="width: 500px;"
                                 rowKey="#{image.id}" paginator="true" rows="5"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" lazy="true">
                        <p:column headerText="Opção" style="font-size: 12px;">
                            <p:commandButton value="Selecionar" type="button"
                                             onclick="addImage('#{image.archive.url}');"/>
                        </p:column>
                        <p:column headerText="Título" filterBy="#{image.title}" filterMatchMode="contains"
                                  style="font-size: 12px;">
                            #{image.title}
                        </p:column>
                        <p:column headerText="Imagem" style="font-size: 12px;">
                            <h:graphicImage value="/#{image.archive.url}" width="50" height="40"/>
                        </p:column>
                    </p:dataTable>
                </p:dialog>
            </h:form>

            <script type="text/javascript">
                var editor;

                bkLib.onDomLoaded(function () {
                    editor = new nicEditor({
                        fullPanel: true,
                        maxHeight: 500,
                        iconsPath: '#{facesContext.externalContext.requestContextPath}/resources/js/nice/nicEditorIcons.gif'
                    }).panelInstance('editorTextArea');
                    $("#inputHiddenValue").val('#{pdaController.selected.demandaDescricao}');


                    editor.nicInstances[0].setContent(document.getElementById('inputHiddenValue').value);
                });

                function depois() {
                    console.log(editor);
                }

                function addImage(url) {
                    url = url.substring(1);
                    var editor = nicEditors.findEditor("editorTextArea");
                    setImage(editor.nicInstances[0], url);
                }
                function save() {
                    var editor = nicEditors.findEditor("editorTextArea");
                    //document.getElementById('inputHiddenValue').value = editor.nicInstances[0].getContent();
                    //console.log(editor.nicInstances[0].getContent());
                    //console.log(editor.nicInstances[0].getContent());
                    $("#inputHiddenValue").val(editor.nicInstances[0].getContent());

                    $("#inputHiddenValue").val($("#inputHiddenValue").val().replace(/'Open Sans'/gi, "Open Sans"));
                    //$("#inputHiddenValue").val($("#inputHiddenValue").val().replace(/'/gi, "\'"));
                    console.log($("#inputHiddenValue").val());
                    salvarPda();
                }
            </script>
        </fieldset>
    </ui:define>
</ui:composition>
