<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração PDA - Gerenciar Demandas
    </ui:define>

    <ui:define name="menu_lateral">
        <ui:include src="pdaMenuOpcoes.xhtml"/>
    </ui:define>

    <ui:define name="content">
        <p:growl autoUpdate="true" life="20000"/>
        <fieldset>
            <legend><h2>Gerenciar demandas</h2></legend>
            <h:form id="form" prependId="false">
                <p:remoteCommand name="teste" update=":form:confirmDialog"/>
                <p:menubar id="menus" style="height: 30px; border-radius: 0px; box-sizing: content-box;">
                    <p:menuitem value="Adicionar demanda" icon="ui-icon-document" ajax="false" action="pretty:addpda"/>
                    <p:menuitem value="Criar pda a partir deste demanda" icon="ui-icon-document"
                                rendered="#{pdaController.selected != null}" ajax="false" action="pretty:createpda">
                        <f:setPropertyActionListener target="#{pdaController.id}" value="#{pdaController.selected}"/>
                    </p:menuitem>
                    <p:menuitem value="Editar demanda" icon="ui-icon-pencil" style="font-size: 11px;"
                                action="pretty:editpda" rendered="#{pdaController.selected != null}">
                        <f:setPropertyActionListener target="#{pdaController.id}" value="#{pdaController.selected}"/>
                    </p:menuitem>
                    <p:menuitem value="Deletar demanda" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="PF('confirmation').show();" rendered="#{pdaController.selected != null}"/>
                </p:menubar>
                <p:contextMenu for="pdaTable" id="menuContext" beforeShow="teste()" style="width: 200px;">
                    <p:menuitem value="Editar demanda" ajax="false" icon="ui-icon-pencil" style="font-size: 11px;"
                                action="pretty:editpda">
                        <f:setPropertyActionListener target="#{pdaController.id}" value="#{pdaController.selected}"/>
                    </p:menuitem>
                    <p:menuitem value="Deletar demanda" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="PF('confirmation').show();"/>
                    <p:menuitem value="Criar pda a partir deste demanda" icon="ui-icon-document"
                                style="font-size: 11px;" action="pretty:createpda" ajax="false">
                        f:setPropertyActionListener target="#{pdaController.id}" value="#{pdaController.selected}" />
                    </p:menuitem>

                </p:contextMenu>
                <br/>
                <p:dataTable id="pdaTable" var="pda" value="#{pdaController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 900px; "
                             selection="#{pdaController.selected}" selectionMode="single"
                             rowKey="#{pda.id}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             resizableColumns="true" lazy="true">

                    <p:ajax event="rowSelect" update=":form:menus :form:confirmDialog "/>

                    <p:column headerText="Protocolo" filterBy="#{pda.id}" style="width: 20%; font-size: 12px;">
                        <center>
                            #{pda.id}
                        </center>
                    </p:column>

                    <ui:remove>
                        <p:column headerText="Agências" style="width: 20%; font-size: 12px;">
                            <ui:repeat var="agencia" value="#{pda.dependencias}" varStatus="status">
                                #{agencia.dependecia.nomeAgencia}
                                <h:outputText value="," rendered="#{!status.last}"/>
                            </ui:repeat>
                        </p:column>
                    </ui:remove>
                    <p:column headerText="Demanda" filterBy="#{pda.titulo}" style="width: 30%; font-size: 12px;">
                        #{pda.titulo}
                    </p:column>
                    <p:column headerText="Responsável" sortBy="#{pda.responsavel.nome}"
                              style="width: 20%; font-size: 12px;">
                        #{pda.responsavel.nome}
                    </p:column>
                    <p:column headerText="Data de inclusão" filterBy="#{pda.dataInclusao}"
                              style="width: 20%; font-size: 12px;">
                        <center>
                            <h:outputText value="#{pda.dataInclusao}">
                                <f:convertDateTime parent="dd MMMM yyyy"/>
                            </h:outputText></center>
                    </p:column>
                    <p:column headerText="Prazo" filterBy="#{pda.dataPrazo}" style="width: 20%; font-size: 12px;">
                        <center><h:outputText value="#{pda.dataPrazo}">
                            <f:convertDateTime parent="dd MMMM yyyy"/>
                        </h:outputText></center>

                    </p:column>
                    <p:column headerText="Opções" style="width: 20%; font-size: 12px;">
                        <p:commandButton value="visualizar status" ajax="false" action="pretty:agenciaspda">
                            <f:setPropertyActionListener target="#{pdaController.id}" value="#{pda}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:confirmDialog id="confirmDialog"
                                 message="Deseja realmente demanda de protocolo : #{pdaController.selected.id} ?"
                                 header="Comfirmar exclusão" severity="alert" widgetVar="confirmation"
                                 closeOnEscape="true">

                    <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                     actionListener="#{pdaController.delete()}" update=":form:pdaTable :form:menus"/>
                    <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                </p:confirmDialog>
            </h:form>
        </fieldset>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#link-gerenciarpda').addClass('active');
            });
        </script>
    </ui:define>
</ui:composition>
