<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        >

    <li>
        <a id="link-back" href="/admin/"><i class=""></i> Voltar</a>
    </li>
    <li>
        <a id="link-addpda" href="/admin/adicionar/pda"><i class=""></i> Adcionar PDA</a>
    </li>
    <li>
        <a id="link-gerenciarpda" href="/admin/gerenciar/pda"><i class=""></i> Gerenciar PDA</a>
    </li>
</ui:fragment>