<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <style>
            /* sobrescreve css */

            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;

                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }

            .ui-growl-item {
                margin-top: 80px;
            }
            .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
                margin-top: 0px !important;
            }
            
            
        </style>
    </ui:define>

    <ui:define name="title">
        Corrida Maluca
    </ui:define>

    <ui:define name="conteudo">
        <h:form id="form">
            <p:growl id="growl" showDetail="true" life="55555"/>
            <div class="container-fluid" style="margin-top: 80px;">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Corrida Maluca </h2>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-12" style="margin-top: 20px;">
                        <p:dataTable id="tabela" var="c" paginatorPosition="bottom" paginator="true" widgetVar="tabela"
                                     value="#{clienteLob.clientes}" selectionMode="single" selection="#{clienteLob.selected}"
                                     emptyMessage="Sem Clientes cadastrados." rows="20" rowKey="#{c.mci}" rendered="false">

                            <p:ajax event="rowSelect" oncomplete="PF('formulario').show();" update=":form:formulario :form:growl"/>
                        </p:dataTable>
                    </div>
                </div>
                
                
                 <div class="row">
                     <p:dataTable var="corrida" value="#{corridaMalucaController.listCorrida}" rendered="#{clienteLob.func.prefixo == 8517}">
                                                        <p:column headerText="Nome">
                                                            <h:outputText value="#{corrida.nome}" />
                                                        </p:column>
                                                        
                                                        <p:column headerText="Porcentagem">
                                                            <h:outputText value="#{corrida.pct}%" />
                                                        </p:column>
                                                        <p:column headerText="Posição">
                                                            <h:outputText value="#{corrida.posix}px" />
                                                        </p:column>
                                                        <p:column headerText="IMG">
                                                            <img src="../../resources/images/imagens/corridaMaluca/#{corrida.id}.png" alt="" style="width: 50px; display: block; margin-left: 50px;"/>
                                                        </p:column>
                                                    </p:dataTable>
                 </div>
                <div style="background-image: url('../../resources/images/imagens/corridaMaluca/pista.jpg'); width: 70%; margin-left: 20%;">
                <ui:repeat var="corrida" value="#{corridaMalucaController.listCorrida}">
<!--                        <img src="../../resources/images/imagens/corridaMaluca/pista.jpg" alt="" style="width: 1000px; height: 150px;"/>-->
                        <img src="../../resources/images/imagens/corridaMaluca/linha.jpg" alt="" style="width: 50px; height: 200px; margin-left: 1300px;"/>
                        <img src="../../resources/images/imagens/corridaMaluca/#{corrida.id}.png" alt="" style="width: #{corrida.width}px; display: block; margin-top:-120px; margin-left: #{corrida.posix}px;"/>                    
                </ui:repeat>
                </div>
            </div>

            <p:dialog id="formulario" widgetVar="formulario" closeOnEscape="true" header="Retenção LOB" modal="true"
                      showEffect="drop">
                <div class="container" style="width: 450px;">
                    <p:outputPanel id="formLob">
                        <div class="row">
                            <div class="col-md-8">
                                <p:outputLabel value="Nome:" style="display: block;"/>
                                <p:outputLabel value="#{clienteLob.selected.nome}" />
                            </div>
                            <div class="col-md-4">
                                <p:outputLabel value="Telefone:" style="display: block;"/>
                                <p:outputLabel value="#{clienteLob.selected.telefone}" />
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-5">
                                <p:outputLabel value="Contatado?" style="display: block;"/>
                                <p:selectBooleanButton id="cont" value="#{clienteLob.selected.contatado}" onLabel="SIM" offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close">
                                    <p:ajax update=":form:formLob :form:growl" event="change" />
                                </p:selectBooleanButton>
                            </div>
                            <div class="col-md-7">
                                <p:outputLabel value="Data Contato:" />
                                <p:calendar id="dataCont" mask="true" pattern="dd/MM/yyyy hh:mm" style="width: 100%" value="#{clienteLob.selected.dataContatado}"/>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-5">
                                <p:outputLabel value="LOB Aceita?" style="display: block;"/>
                                <p:selectBooleanButton id="lobAceita" value="#{clienteLob.selected.lobAceita}" onLabel="SIM" disabled="#{clienteLob.selected.contatado == false}"
                                                       offLabel="NÃO" >
                                    <p:ajax update=":form:inpMotivo :form:growl" event="change" />
                                </p:selectBooleanButton>
                            </div>
                            <div class="col-md-7">

                                <p:outputLabel value="Motivo:" for="inpMotivo" />
                                <p:inputTextarea value="#{clienteLob.selected.lobMotivo}" style="max-height: 80px; min-height: 80px; width: 100%"
                                                 disabled="#{clienteLob.selected.lobAceita == false}" id="inpMotivo"/>

                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-8" style="line-height: 28px;">
                                <p:outputLabel value="Cliente vai Protocolar?" />
                            </div>
                            <div class="col-md-4">
                                <p:selectBooleanButton id="prot" value="#{clienteLob.selected.protocolou}" onLabel="SIM" style="float: right;"
                                                       offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close"
                                                       disabled="#{clienteLob.selected.contatado == false}"/>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-8" style="line-height: 28px;">
                                <p:outputLabel value="Cliente comparecerá à agência?"/>
                            </div>
                            <div class="col-md-4">
                                <p:selectBooleanButton id="ag" value="#{clienteLob.selected.compareceu}" onLabel="SIM" style="float: right;"
                                                       offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close" 
                                                       disabled="#{clienteLob.selected.contatado == false}"/>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-8" style="line-height: 28px;">
                                <p:outputLabel value="Termo protocolado?"/>
                            </div>
                            <div class="col-md-4">
                                <p:selectBooleanButton id="pro" value="#{clienteLob.selected.protocolou}" onLabel="SIM" style="float: right;"
                                                       offLabel="NÃO" onIcon="ui-icon-check" offIcon="ui-icon-close" 
                                                       disabled="#{clienteLob.selected.contatado == false}"/>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-8" style="line-height: 28px;">
                                <p:outputLabel value="Termo de Transferência de salário:"/>
                            </div>
                            <div class="col-md-4">
                                    <a href="#{facesContext.externalContext.requestContextPath}/resources/arquivos/Termo de transferência de salário LOB TJ TO.pdf" target="_blank" Class="btn btn-info">
                                            <div>DOCUMENTO</div>
                                    </a>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-12">
                                <p:outputLabel value="OBS:" />
                                <p:inputTextarea value="#{clienteLob.selected.obs}" style="width: 100%; max-height: 75px; height: 75px;"/>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-12">
                                <p:commandLink styleClass="btn btn-success" value="Salvar" actionListener="#{clienteLob.edit()}" update=":form:tabela :form:growl :form:formulario"
                                               onsuccess="PF('formulario').hide();" style="margin-right: 15px;"/>

                                <p:commandLink styleClass="btn btn-warning" value="Cancelar" onsuccess="PF('formulario').hide();" />
                                <p:commandLink styleClass="btn btn-info" value="HISTÓRICO" onsuccess="PF('historico').show();" update=":form:tabelaHistoricos" style="float: right;"/>

                            </div>
                        </div>
                    </p:outputPanel>
                </div>
            </p:dialog>            


            <p:dialog header="Atualizar Base de Dados (CSV ou TXT)" widgetVar="updatedlg" resizable="false"
                      modal="true" width="600" closeOnEscape="true">
                <h:outputLabel value="Formato Arquivo:"/>
                <h:outputLabel value="Prefixo;NumeroCarteira;MCI;Nome;Telefone;LOB" style="margin-left: 8px; padding: 4px 3px;background-color: #0596F3; border-radius: 2px;"/>
                <p:fileUpload fileUploadListener="#{clienteLob.lerArq}"
                              id="anexone"
                              mode="advanced"
                              update=":form:growl :form:tabela"
                              label="Selecionar"
                              oncomplete="PF('updatedlg').hide();"
                              allowTypes="/(\.|\/)(csv)$/"
                              style="width: 100%"/>
            </p:dialog>


            <p:dialog header="Histórico de Retenção LOB" widgetVar="historico" id="historico" modal="true" closeOnEscape="true" width="90%" position="top" style="margin-top: 100px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p:dataTable id="tabelaHistoricos" widgetVar="tabelaHistoricos"
                                         value="#{clienteLob.selected.operacaoModificacao}" var="operacao"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         paginator="true" rows="5">

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).prefixo}" headerText="PREFIXO" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).prefixo}"/>
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).numeroCarteira}" headerText="N° CARTEIRA" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).numeroCarteira}" />
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).mci}" headerText="MCI" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).mci}" />
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).nome}" headerText="NOME">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).nome}"/>
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).lob}" headerText="LOB" filterOptions="contains" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).lob == 'true' ? 'SIM' : 'NÃO' }"/>
                                </p:column>

                                <p:column filterBy="#{operacao.autor.fmatricula}" headerText="MATRÍCULA" style="text-align: center;">
                                    <h:outputText value="#{operacao.autor.fmatricula}"/>
                                </p:column>

                                <p:column filterBy="#{operacao.dataOperacao}" sortBy="#{operacao.dataOperacao}"
                                          headerText="DATA/HORA" style="text-align: center;">
                                    <h:outputText value="#{operacao.dataOperacao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-3"/>
                                    </h:outputText>
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).contatado}" headerText="CONTATADO" filterOptions="contains" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).contatado == 'true' ? 'SIM' : 'NÃO' }"/>
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).dataContatado}" headerText="DATA CONTATADO" filterOptions="contains"
                                          style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).dataContatado}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-3"/>
                                    </h:outputText>
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).lobAceita}" headerText="LOB ACEITA" filterOptions="contains" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).lobAceita == 'true' ? 'SIM' : 'NÃO' }"/>
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).compareceu}" headerText="COMPARECEU" filterOptions="contains" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).compareceu == 'true' ? 'SIM' : 'NÃO' }"/>
                                </p:column>

                                <p:column filterBy="#{clienteLob.clienteFromJson(operacao).protocolou}" headerText="Vai Protocolar" filterOptions="contains" style="text-align: center;">
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).protocolou == 'true' ? 'SIM' : 'NÃO' }"/>
                                </p:column>

                                <p:column style="width:35px">
                                    <p:rowToggler/>
                                </p:column>
                                <p:rowExpansion>
                                    <h:outputText value="OBSERVAÇÃO:" style="font-weight: bold;"/><br /><br />
                                    <h:outputText value="#{clienteLob.clienteFromJson(operacao).obs}" />
                                </p:rowExpansion>                        

                            </p:dataTable>
                            <p:blockUI block="tabelaHistoricos" trigger="tabelaHistoricos">
                                <p:graphicImage value="#{resource['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                            </p:blockUI>
                        </div>
                    </div>
                </div>
            </p:dialog>

        </h:form>
    </ui:define>
</ui:composition>