        
@import url("../font-face/fonts.css");

body {
}

h4 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}
h2 {
    margin: 0 0 20px 0;
    color: #262626;
    padding: 8px 10px 5px 10px;
    font-family: 'Oswald', sans-serif;
    border-left: 2px solid #262626;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.noPading {
    padding: 0;
}
.noPadingLeft {
    padding-left: 0;
}
.noPadingRight{
    padding-right: 0;
}
.noMargin {
    padding-left: 0 !important;
}

.rowMarginBottom {
    margin-bottom: 25px;
}
/************ caixa noticias *****/
.holder .description {
    background-color: #f3f3f3;
    padding: 15px 10px 15px;
    height: 125px;
    max-height: 125px;
}

.post-mercado {
    color: #999;
    font-family: "Oswald",sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 10px;
}

.post-titulo h3 {
    margin-top: 10px;
    font-size: 14pt;
    font-family: 'Oswald', sans-serif;
}
.post-titulo a {
    text-decoration: none;
}
.post-titulo a:hover h3 {
    text-decoration: none;
    color: #666;
}
.post-titulo h3.pj {
    color: #AAA;
}
.post-titulo h3.adm {
    color: #004a93;
}
.post-titulo h3.agro {
    color: #2b542c;
}
.post-titulo h3.ds {
    color: green;
}
.post-titulo h3.pf {
    color: #47a3da;
}
.post-titulo h3.gov {
    color: #47a3da;
}

/*** categorias **/
#sidebar {
    width: 100%;

}
ul.menu-sidebar {
    list-style: outside none none;
    padding: 0;
}

.menu-sidebar > li {
    font-size: 12px;
    width: 100%;
    position: relative;
    padding: 14px 18px;
    background: #f5f5ff;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.menu-sidebar > li > a {
    text-decoration: none;
}

.menu-sidebar li a {
    color: #666;
}

.menu-sidebar li:hover {
}

.menu-sidebar li a:hover {
    color: #045491;
    padding-left: 8px;
}
