<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui">

    <style>
        a.tooltip {
            outline: none;
            text-decoration: none;

        }

        a.tooltip strong {
            line-height: 30px;
        }

        a.tooltip > span {
            width: 200px;
            padding: 10px 20px;
            margin-top: 20px;
            margin-left: -85px;
            opacity: 0;
            visibility: hidden;
            z-index: 10;
            position: absolute;
            font-family: Arial;
            font-size: 12px;
            font-style: normal;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 2px 2px 2px #999;
            -moz-box-shadow: 2px 2px 2px #999;
            box-shadow: 2px 2px 2px #999;
            -webkit-transition-property: opacity, margin-top, visibility, margin-left;
            -webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
            -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
            -moz-transition-property: opacity, margin-top, visibility, margin-left;
            -moz-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
            -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
            -o-transition-property: opacity, margin-top, visibility, margin-left;
            -o-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
            -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
            transition-property: opacity, margin-top, visibility, margin-left;
            transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
        }

        /*a.tooltip > span:hover,*/
        a.tooltip:hover > span {
            opacity: 1;
            text-decoration: none;
            visibility: visible;
            overflow: visible;
            margin-top: 4%;
            display: inline;
            margin-left: -20%;
        }

        a.tooltip span b {
            width: 15px;
            height: 15px;
            margin-left: 20px;
            margin-top: -19px;
            display: block;
            position: absolute;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-box-shadow: inset -1px 1px 0 #fff;
            -moz-box-shadow: inset 0 1px 0 #fff;
            -o-box-shadow: inset 0 1px 0 #fff;
            box-shadow: inset 0 1px 0 #fff;
            display: none;
            display: none;
        }

        a.tooltip > span {
            color: #000000;
            background: #FBF5E6;
            background: -moz-linear-gradient(top, #FBF5E6 0%, #FFFFFF 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBF5E6), color-stop(100%, #FFFFFF));
            filter: progid:DXImageTransform.Microsoft.gradient(
                    startColorstr='#FBF5E6', endColorstr='#FFFFFF', GradientType=0);
            border: 2px solid #CFB57C;
        }

        a.tooltip span b {
            background: #FBF5E6;
            border-top: 2px solid #CFB57C;
            border-right: 2px solid #CFB57C;
        }
    </style>

    <h:form prependId="false" style="font-size: 11px;">
        <p:dataTable id="arquivos" var="arquivo" value="#{reportController.relatoriosHibernate}"
                     emptyMessage="Não foi encontrado nenhum resultado" style=" width: 100%;"
                     selectionMode="single" selection="#{reportController.selected}"
                     filteredValue="#{reportController.relatoriosFiltrados}"
                     filterDelay="10"
                     rowKey="#{arquivo.id}" paginator="true" rows="10"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     resizableColumns="true" cellSeparator="0">
            <p:column headerText="Titulo" filterStyle="width:95%;" filterBy="#{arquivo.title}" width="80"
                      filterMatchMode="contains" style="font-size: 12px; text-align: center;">
                <a class="tooltip"> #{arquivo.title} <span style="width: auto"> #{arquivo.title} <b></b> </span></a>
            </p:column>

            <p:column headerText="Categoria" filterStyle="95%" filterBy="#{arquivo.subCategoria.asString()}" width="80"
                      filterMatchMode="contains" style="font-size: 12px; text-align: center;">
                <a class="tooltip"> #{arquivo.subCategoria.asString()} <span> #{arquivo.subCategoria.asString()} <b></b> </span></a>
            </p:column>

            <p:column headerText="Descrição" filterStyle="width:95%;" filterBy="#{arquivo.description}" width="200"
                      filterMatchMode="contains" style="font-size: 12px; text-align: center;">
                <a class="tooltip"> #{arquivo.description} <span> #{arquivo.description} <b></b> </span></a>
            </p:column>

            <p:column headerText="Data" filterStyle="width:90%;" width="60" filterBy="#{arquivo.report.uploadDate}"
                      filterMatchMode="contains" style="font-size: 12px; text-align: center;">
                <a class="tooltip">#{arquivo.report.uploadDate} </a>
            </p:column>

            <p:column width="60" headerText="Download" style="text-align: center;">
                <p:commandButton id="downloadLink" icon="ui-icon-disk" title="Download" ajax="false"
                                 onclick="PrimeFaces.monitorDownload(start, stop)">
                    <p:fileDownload value="#{reportController.download(arquivo.report)}"/>
                </p:commandButton>
            </p:column>
        </p:dataTable>


    </h:form>
    <script>

    </script>
</ui:fragment>
