<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Intranet Administração - Destaques
    </ui:define>

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
    </ui:define>

    <ui:define name="content">
        <fieldset>
            <legend><h2>Destaques</h2></legend>

            <p:growl autoUpdate="true"/>
            <h:form id="formDados" prependId="false">
                <h:panelGroup id="menus">
                    <ul class="nav nav-pills" style="background-color: #F5F5F5;padding: 7px;border-radius: 5px;">
                        <li role="presentation">
                            <a href="#" onclick="PF('adicionar').show()">
                                <i class="icon-plus"></i>
                                Adicionar
                            </a>
                        </li>

                        <li role="presentation" class="#{destaqueController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":formDlg"
                                           oncomplete="#{destaqueController.selected != null ? 'PF(\'editar\').show();': 'mostraAtencao(\'Oops!\',\'Você não selecionou um destaque!\',2000)'}">
                                <i class="icon-edit2"></i>
                                Editar
                            </p:commandLink>
                        </li>

                        <li role="presentation" class="#{destaqueController.selected != null ? '':'disabled'}">
                            <p:commandLink update=":formDados:scriptAlert"
                                           onclick="#{destaqueController.selected != null ? 'deletar()':'mostraAtencao(\'Oops!\',\'Você não selecionou um destaque!\',2000)'}">
                                <i class="icon-trash"></i>
                                Excluir
                            </p:commandLink>
                        </li>
                    </ul>
                </h:panelGroup>


                <div id="table" style="margin-top: 20px;">
                    <p:dataTable id="destaquesTable" var="destaque" value="#{destaqueController.lazyData}"
                                 emptyMessage="Não foi encontrado nenhum resultado"
                                 selectionMode="single" selection="#{destaqueController.selected}" 
                                 rowKey="#{destaque.id}" paginator="true" rows="10"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 lazy="true" resizableColumns="true" editable="true" style="width: 100%;"
                                 paginatorPosition="bottom">

                        <f:facet name="header">
                            <h:outputText value="Destaques"/>
                        </f:facet>

                        <p:ajax event="rowSelect" update=":formDados:menus :editarDestaque"/>
                        <p:ajax event="rowUnselect" update=":formDados:menus :editarDestaque"/>

                        <p:column headerText="Id" filterBy="#{destaque.id}" filterMatchMode="contains"
                                  filterMaxLength="4" filterStyle="width: 40px;"
                                  style="font-size: 12px;text-align: center;">
                            #{destaque.id}
                        </p:column>

                        <p:column headerText="Título" filterBy="#{destaque.titulo}" filterMatchMode="contains"
                                  filterStyle="width: 150px;" style="font-size: 12px;text-align: center;">
                            #{destaque.titulo}
                        </p:column>

                        <p:column headerText="Data publicação" style="font-size: 12px;text-align: center;" >
                            <h:outputText value="#{destaque.operacaoCriacao.dataOperacao}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Visivel" filterBy="#{destaque.descricao}" filterMatchMode="contains"
                                  filterStyle="width: 80px;" style="font-size: 12px;text-align: center;">
                            <h:outputText value="Sim" rendered="#{destaque.visivel}"/>
                            <h:outputText value="Não" rendered="#{!destaque.visivel}"/>
                        </p:column>

                        <p:column headerText="Mercado" style="text-align: center; font-size: 12px;" sortBy="#{destaque.mercado}" >
                            <h:outputText value="#{destaque.mercado}" />
                        </p:column>

                    </p:dataTable>
                </div>

                <h:panelGroup id="scriptAlert">
                    <script type="text/javascript">
                                function swetAlert() {
                                    var ok = #{destaqueController.opSucesso};
                                    if (ok) {
                                        swal("Bom Trabalho!", "Formulário salvo com sucesso!", "success");
                                    } else {
                                        swal("Ooops!", "Erro na validação do formulário favor refazer a operação!", "error");
                                    }
                                }

                                function deletar() {
                                    swal({
                                        title: "Você tem Certeza?",
                                        text: "Isto não poderá ser desfeito!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Sim, delete isto!",
                                        closeOnConfirm: false
                                    },
                                    function () {
                                        deletarDestaque();
                                    });
                                }

                                function mostraAlerta() {
                                    var ok = #{destaqueController.opSucesso};
                                    if (ok) {
                                        swal({
                                            title: "Bom Trabalho!",
                                            text: "O destaque foi excluído com sucesso!",
                                            type: "success",
                                            timer: 2000
                                        });
                                    } else {
                                        swal("Ooops!", "Ocorreu um erro ao fazer a operação! Tente Novamente", "error");
                                    }
                                }

                    </script>
                </h:panelGroup>
                <p:remoteCommand name="deletarDestaque" action="#{destaqueController.delete()}"
                                 oncomplete="mostraAlerta()" update=":formDados:scriptAlert :formDados:destaquesTable"/>
            </h:form>
        </fieldset>

        <h:form enctype="multipart/form-data" id="newImagem" prependId="false">
            <p:dialog header="Upload de imagens" modal="true" widgetVar="upImages">
                <h:panelGrid columns="1" style="font-size: 12px;">
                    <h:outputLabel value="Imagem"/>
                    <p:fileUpload fileUploadListener="#{imageController.fileUploadListener}"
                                  mode="advanced"
                                  sizeLimit="100000000"
                                  update="tit"
                                  label="Selecionar"
                                  allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"
                                  invalidFileMessage="Formato não suportado"
                                  invalidSizeMessage="Imagem muito pesada, diminua o tamanho"/>
                    <h:outputLabel value="Título"/>
                    <p:inputText id="tit" value="#{imageController.value.title}" size="40"/>
                    <h:outputLabel value="Descrição"/>
                    <p:inputTextarea value="#{imageController.value.description}" autoResize="false"
                                     style="font-size: 12px; width: 300px; height: 60px;"/>
                    <h:outputText value="Visível"/>
                    <p:selectBooleanCheckbox value="#{imageController.value.visible}"/>
                    <br/>
                </h:panelGrid>
                <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                <p:commandButton value="Salvar" actionListener="#{destaqueController.uploadImagem()}" update=":addDestaque:imgAdd :editarDestaque:imgEdit"
                                 style="font-size: 12px;" onclick="PF('upImages').hide();"/>
                <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                 onclick="PF('upImages').hide();"/>
            </p:dialog>
        </h:form>

        <h:form id="formDlg">
            <p:dialog widgetVar="imgDialog2" header="Selecionar Imagem">
                <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                               mode="native">
                    <h:panelGroup layout="block" id="imagens2" style="width: 450px; ">
                        <ul>
                            <li style="list-style: none outside none;">
                                <h2>Imagens</h2>
                            </li>
                            <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                <li id="item_img" style="display: list-item;
                                    text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                    #DDD;
                                    padding-left: 15px;
                                    overflow: auto;
                                    ">
                                    <div id="image_switch" style="
                                         float: left;
                                         width: 300px;
                                         font-size: 1.15em;">

                                        <div id="img_thumb" style="
                                             float: left;
                                             position: relative;
                                             margin-right: 15px;">
                                            <h:graphicImage
                                                value="#{servidorImagensController.restTumb}#{servidorImagensController.getFileTb(imagem.archive.url)}"
                                                width="120" height="100"/>
                                        </div>
                                        <div id="img_titulo" style="width: 30.900em;">
                                            <p> Titulo: Teste<br/>
                                                Descrição:<br/>
                                            </p>
                                            <p:commandButton value="Selecionar"
                                                             actionListener="#{destaqueController.adicionarImagem(imagem)}"
                                                             onclick="PF('imgDialog2').hide()"
                                                             style="font-size: 11px;"/>
                                        </div>
                                    </div>
                                </li>
                            </ui:repeat>

                            <div style="width: 440px;
                                 overflow: hidden;
                                 margin: 0 auto;
                                 text-align: center;">
                                <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                <p:commandButton value="Anterior"
                                                 disabled="#{!imageController.pagImages.hasPreviousPage}" ajax="true"
                                                 actionListener="#{imageController.pagImages.previousPage()}"
                                                 update="imagens2"/>
                                <h:outputText value="#{imagemController.pagFotos.page}" id="page2"/>
                                <p:commandButton value="Próxima" disabled="#{!imageController.pagImages.hasNextPage}"
                                                 ajax="true" actionListener="#{imageController.pagImages.nextPage()}"
                                                 update="imagens2"/>
                            </div>
                        </ul>
                    </h:panelGroup>
                </p:scrollPanel>
            </p:dialog>
        </h:form>

        <p:dialog widgetVar="adicionar" header="Adicionar Destaque" modal="true" resizable="false" draggable="false" 
                  >
            <h:form id="addDestaque" prependId="false">
                <p:messages id="addMsg"/>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h:outputLabel value="Título:" style="display: block;"/>
                            <p:inputText value="#{destaqueController.value.titulo}" style="width: 100%; margin-bottom: 10px;"/>

                            <h:outputLabel value="Informação:" style="display: block;"/>
                            <p:inputTextarea value="#{destaqueController.value.descricao}"
                                             style="width: 100%; margin-bottom: 10px;"/>

                            <h:outputLabel value="Mercado:" style="display: block;"/>
                            <p:selectOneMenu value="#{destaqueController.value.mercado}" filter="true" style="width: 100%; margin-bottom: 10px;"
                                             converter="mercadoConverter" converterMessage="Erro no Converter">
                                <f:selectItems value="#{utilController.listCategorias}" var="mercado"
                                               itemLabel="#{mercado}" itemValue="#{mercado}"/>
                            </p:selectOneMenu>

                            <div style="width: 100%; margin-bottom: 15px;">
                                <h:outputLabel value="Insrir Link Externo? " />
                                <p:selectBooleanButton value="#{destaqueController.externo}" onLabel="Sim" offLabel="Não" style="font-size: 10px;margin-left: 10px;">
                                    <p:ajax event="change" update=":addDestaque:p :addDestaque:url" />
                                </p:selectBooleanButton>
                            </div>

                            <h:outputLabel value="Notícia a ser linkada:" style="display: block;"/>
                            <p:selectOneMenu value="#{destaqueController.value.noticia}" filter="true" var="p" style="width: 100%; margin-bottom: 10px;"
                                             converter="baseEntityConverter" id="p" disabled="#{destaqueController.externo}">
                                <f:selectItem itemLabel="Selecione uma notícia" itemValue=""/>
                                <f:selectItems value="#{newsController.allNews}" var="new"
                                               itemLabel="#{new.title}..." itemValue="#{new}"/>
                                <p:column style="font-size: 11px;">
                                    #{p.title}...
                                </p:column>
                            </p:selectOneMenu>

                            <h:outputLabel value="Editar Link Externo: " style="display: block;"/>
                            <p:inputText value="#{destaqueController.value.url}" id="url" 
                                         placeholder="http://www.superto.bb.com.br"
                                         disabled="#{!destaqueController.externo}" style="width: 100%; margin-bottom: 10px;"/>

                            <div style="width: 100%; margin-bottom: 45px;">
                                <h:outputLabel value="Torna-lo visivel?" />
                                <p:selectBooleanButton value="#{destaqueController.value.visivel}" onLabel="Sim" offLabel="Não"
                                                       style="font-size: 10px;margin-left: 10px;"/>
                            </div>

                            <p:commandLink value="Adicionar" action="#{destaqueController.add()}" style="font-size: 11px;"
                                           oncomplete="PF('adicionar').hide();swetAlert();" styleClass="btn btn-success"
                                           update=":formDados:destaquesTable :formDados:scriptAlert :addDestaque"/>
                            <p:commandLink value="Cancelar" type="button" onclick="PF('adicionar').hide()" styleClass="btn btn-warning"
                                           style="font-size: 11px;margin-left: 10px;"/>



                        </div>
                        <div class="col-md-6">
                            <p:outputPanel id="imgAdd" style="margin: 20px 0;">

                                <p:graphicImage rendered="#{destaqueController.image != null}" 
                                                value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(destaqueController.image.archive.url)}" style="width: 100%;"/>
                                <p:graphicImage rendered="#{destaqueController.image == null}" style="width: 100%;" 
                                                value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/png/tamimage.png"/>
                            </p:outputPanel>
                            <h:outputLabel value="Adicionar Imagem:" style="text-align: right;"/>
                            <h:panelGroup>
                                <p:commandButton value="Upload" type="button" onclick="PF('upImages').show()"
                                                 style="margin-left: 10px;font-size: 11px;"/>
                                <p:commandButton onclick="PF('imgDialog2').show()" value="Escolher uma imagem" type="button"
                                                 style="margin-left: 10px;margin-bottom: 15px;font-size: 11px;"/>
                            </h:panelGroup>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <h:form id="editarDestaque" prependId="false">
            <p:dialog widgetVar="editar" modal="true"
                      resizable="false" draggable="false">
                <f:facet name="header">
                    Editar Destaque #{destaqueController.selected.titulo}
                </f:facet>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h:outputLabel value="Título:" style="display: block;"/>
                            <p:inputText value="#{destaqueController.selected.titulo}" style="width: 100%; margin-bottom: 10px;"/>

                            <h:outputLabel value="Informação:" style="display: block;"/>
                            <p:inputTextarea value="#{destaqueController.selected.descricao}"
                                             style="width: 100%; margin-bottom: 10px;"/>

                            <h:outputLabel value="Mercado:" style="display: block;"/>
                            <p:selectOneMenu value="#{destaqueController.selected.mercado}" filter="true" style="width: 100%; margin-bottom: 10px;"
                                             converter="mercadoConverter" converterMessage="Erro no Converter">
                                <f:selectItems value="#{utilController.listCategorias}" var="mercado"
                                               itemLabel="#{mercado}" itemValue="#{mercado}"/>
                            </p:selectOneMenu>

                            <h:outputLabel value="Notícia a ser linkada:" style="display: block;"/>
                            <p:selectOneMenu value="#{destaqueController.selected.noticia}" filter="true" var="p" style="width: 100%; margin-bottom: 10px;"
                                             converter="baseEntityConverter" id="p2" disabled="#{destaqueController.selected.noticia == null}">
                                <f:selectItem itemLabel="Selecione uma notícia" itemValue=""/>
                                <f:selectItems value="#{newsController.allNews}" var="new"
                                               itemLabel="#{new.title}..." itemValue="#{new}"/>
                                <p:column style="font-size: 11px;">
                                    #{p.title}...
                                </p:column>
                            </p:selectOneMenu>

                            <h:outputLabel value="Editar Link Externo: " style="display: block;"/>
                            <p:inputText value="#{destaqueController.selected.url}" id="url2" 
                                         placeholder="http://www.superto.bb.com.br"
                                         disabled="#{destaqueController.selected.noticia != null}" style="width: 100%; margin-bottom: 10px;"/>

                            <div style="width: 100%; margin-bottom: 45px;">
                                <h:outputLabel value="Torna-lo visivel?" />
                                <p:selectBooleanButton value="#{destaqueController.selected.visivel}" onLabel="Sim" offLabel="Não"
                                                       style="font-size: 10px;margin-left: 10px;"/>
                            </div>

                            <p:commandLink value="Editar" action="#{destaqueController.edit}" style="font-size: 11px;"
                                           oncomplete="PF('editar').hide();swetAlert();" styleClass="btn btn-success"
                                           update=":formDados:destaquesTable :formDados:scriptAlert"/>
                            <p:commandLink value="Cancelar" type="button" onclick="PF('editar').hide()" styleClass="btn btn-warning"
                                           style="font-size: 11px;margin-left: 10px;"/>



                        </div>
                        <div class="col-md-6">
                            <p:outputPanel id="imgEdit" style="margin: 20px 0;">

                                <p:graphicImage rendered="#{destaqueController.selected.imagem != null}" 
                                                value="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(destaqueController.selected.imagem.archive.url)}" style="width: 100%;"/>
                                <p:graphicImage rendered="#{destaqueController.selected.imagem == null}" style="width: 100%;" 
                                                value="#{facesContext.externalContext.requestContextPath}/resources/images/imagens/png/tamimage.png"/>
                            </p:outputPanel>
                            <h:outputLabel value="Mudar imagem:" style="text-align: right;"/>
                            <h:panelGroup>
                                <p:commandButton value="Upload" type="button" onclick="PF('upImages').show()"
                                                 style="margin-left: 10px;font-size: 11px;"/>
                                <p:commandButton onclick="PF('imgDialog2').show()" value="Escolher uma imagem" type="button"
                                                 style="margin-left: 10px;margin-bottom: 15px;font-size: 11px;"/>
                            </h:panelGroup>
                        </div>
                    </div>
                </div>
            </p:dialog>
        </h:form>
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
    </ui:define>
</ui:composition>

