<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="title">
        Intranet Administração - Adicionar Relatórios
    </ui:define>

    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Adicionar Eventos</h2></legend>
            <h:form enctype="multipart/form-data" id="newImagem" prependId="false">
                <p:dialog header="Upload de imagens" modal="true" widgetVar="upImages" showEffect="fade">
                    <h:panelGrid columns="1" style="font-size: 12px;">
                        <h:outputLabel value="Imagem"/>
                        <p:fileUpload fileUploadListener="#{imageController.fileUploadListener}"
                                      mode="advanced"
                                      sizeLimit="100000000"
                                      update="tit"
                                      label="Selecionar"
                                      allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
                        <h:outputLabel value="Título"/>
                        <p:inputText id="tit" value="#{imageController.value.title}" size="20"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea value="#{imageController.value.description}" autoResize="false"
                                         style="font-size: 12px;"/>
                        <h:outputText value="Visível"/>
                        <p:selectBooleanCheckbox value="#{imageController.value.visible}"/>

                        <h:outputText value="Setor"/>
                        <p:selectOneMenu value="#{imageController.value.category}">
                            <f:selectItems value="#{utilController.categoryValues}" var="g"
                                           itemValue="#{g}" itemLabel="#{g.asString()}"/>
                        </p:selectOneMenu>
                        <br/>
                    </h:panelGrid>
                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                    <p:commandButton value="Salvar" actionListener="#{eventoController.uploadImagem()}"
                                     update="newImagem" style="font-size: 12px;"/>
                    <p:commandButton value="Cancelar" style="font-size: 12px;" type="button"
                                     onclick="PF('upImages').hide();"/>
                </p:dialog>
            </h:form>
            <h:form prependId="false" id="nform2">
                <p:dialog widgetVar="imgDialog2" header="Selecionar Imagem" dynamic="true">
                    <p:scrollPanel style="width:500px;height:200px; border: none; font-size: 11px; margin-left:  -20px;"
                                   mode="native">
                        <h:panelGroup layout="block" id="imagens2" style="width: 450px; ">
                            <ul>
                                <li style="list-style: none outside none;">
                                    <h2>Imagens</h2>
                                </li>
                                <ui:repeat var="imagem" value="#{imageController.pagImages.pageDataModel}">
                                    <li id="item_img" style="display: list-item;
                                        text-align: -webkit-match-parent; list-style: none; border-top: 1px dotted
                                        #DDD;
                                        padding-left: 15px;
                                        overflow: auto;
                                        ">
                                        <div id="image_switch" style="
                                             float: left;
                                             width: 300px;
                                             font-size: 1.15em;">

                                            <div id="img_thumb" style="
                                                 float: left;
                                                 position: relative;
                                                 margin-right: 15px;">
                                                <h:graphicImage value="#{imagem.archive.url}" width="120" height="100"/>
                                            </div>
                                            <div id="img_titulo" style="width: 30.900em;">
                                                <p> Titulo: Teste<br/>
                                                    Descrição:<br/>
                                                </p>
                                                <p:commandButton value="Selecionar"
                                                                 actionListener="#{eventoController.adicionarImagem(imagem)}"
                                                                 style="font-size: 11px;"
                                                                 update=":addDestaque:titulo :editarDestaque:titulo2"/>
                                            </div>
                                        </div>
                                    </li>
                                </ui:repeat>

                                <div style="width: 440px;
                                     overflow: hidden;
                                     margin: 0 auto;
                                     text-align: center;"
                                        >
                                    <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221); "/>
                                    <p:commandButton value="Anterior"
                                                     disabled="#{!imageController.pagImages.hasPreviousPage}"
                                                     ajax="true"
                                                     actionListener="#{imageController.pagImages.previousPage()}"/>
                                    <h:outputText value="#{imagemController.pagFotos.page}" id="page2"/>
                                    <p:commandButton value="Próxima"
                                                     disabled="#{!imageController.pagImages.hasNextPage}" ajax="true"
                                                     actionListener="#{imageController.pagImages.nextPage()}"/>
                                </div>
                            </ul>
                        </h:panelGroup>
                    </p:scrollPanel>
                </p:dialog>
            </h:form>

            <p:growl autoUpdate="true"/>

            <p:dialog widgetVar="adicionar" header="Adicionar Evento" width="250" showEffect="clip" hideEffect="clip">
                <h:form id="addDestaque" prependId="false">
                    <h:panelGrid columns="1">
                        <p:messages id="addMsg"/>
                        <h:outputLabel value="Título"/>
                        <p:inputText value="#{eventoController.value.titulo}"/>
                        <h:outputLabel value="Descrição"/>
                        <p:inputTextarea value="#{eventoController.value.descricao}"
                                         style="width: 205px; height: 60px;"/>
                        <h:outputLabel value="Imagem Selecionada"/>
                        <p:column>
                            <h:panelGroup id="titulo">
                                <h:outputText value="#{eventoController.image.title}"
                                              rendered="#{eventoController.image != null}"
                                              style="color: #00F; font-size: 11px;"/>
                            </h:panelGroup>
                        </p:column>
                        <p:column>
                            <p:commandButton value="Upload" type="button" onclick="PF('upImages').show()"
                                             style="font-size: 11px;"/> ou <p:commandButton
                                onclick="PF('imgDialog2').show()" value="Escolher uma imagem" type="button"
                                style="font-size: 11px;"/>
                        </p:column>
                        <br/>
                        <p:column>
                            <p:commandButton value="Adicionar" actionListener="#{eventoController.add()}"
                                             style="font-size: 11px;" update=":formDados:eventos"/>
                            <p:spacer width="20"/>
                            <p:commandButton value="Cancelar" type="button" onclick="PF('adicionar').hide()"
                                             style="font-size: 11px;"/>
                        </p:column>
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <p:dialog widgetVar="editar" header="Editar Evento" width="250" showEffect="clip" hideEffect="clip"
                      dynamic="true">
                <h:form id="editarDestaque" prependId="false">
                    <h:panelGrid columns="1">
                        <p:messages id="addMsg2"/>
                        <h:outputLabel value="Título"/>
                        <p:inputText value="#{eventoController.selected.titulo}"/>
                        <h:outputLabel value="Informação"/>
                        <p:inputTextarea value="#{eventoController.selected.descricao}"
                                         style="width: 205px; height: 60px;"/>
                        <h:outputLabel value="Imagem Selecionada"/>
                        <h:outputText id="titulo2" value="#{eventoController.image.title}"
                                      rendered="#{eventoController.image != null}"
                                      style="color: #00F; font-size: 11px;"/>
                        <p:column>
                            <p:commandButton value="Upload" type="button" onclick="PF('upImages').show()"
                                             style="font-size: 11px;"/> ou <p:commandButton
                                onclick="PF('imgDialog2').show()" value="Escolher uma imagem" type="button"
                                style="font-size: 11px;"/>
                        </p:column>
                        <br/>
                        <p:column>
                            <p:commandButton value="Editar" actionListener="#{eventoController.edit()}"
                                             style="font-size: 11px;" oncomplete="PF('editar').hide()"
                                             update=":formDados"/>
                            <p:spacer width="20"/>
                            <p:commandButton value="Cancelar" type="button" onclick="PF('editar').hide()"
                                             style="font-size: 11px;"/>
                        </p:column>
                    </h:panelGrid>
                </h:form>
            </p:dialog>


            <h:form id="formDados">

                <p:menubar id="menus" style="height: 30px; width: 490px;box-sizing: content-box;">
                    <p:menuitem value="Adicionar" icon="ui-icon-disk" style="font-size: 11px;"
                                onclick="PF('adicionar').show();"/>
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                rendered="#{eventoController.menu}" onclick="PF('confirmation').show();"/>
                    <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                rendered="#{eventoController.menu}" onclick="PF('editar').show()"/>
                </p:menubar>
                <p:dataTable id="eventos" var="evento" value="#{eventoController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 500px;"
                             selection="#{eventoController.selected}" selectionMode="single"
                             rowKey="#{evento.id}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             lazy="true" resizableColumns="true" editable="true">
                    <p:ajax event="rowSelect" update=":editarDestaque :formDados:menus :formDados:confirmDialog"
                            listener="#{eventoController.onSelect()}"/>
                    <p:column headerText="Id" style="width: 10%; font-size: 12px;">
                        #{evento.id}
                    </p:column>

                    <p:column headerText="Titulo" style="width: 20%; font-size: 12px;">
                        #{evento.titulo}
                    </p:column>

                    <p:column headerText="Descrição" style="width: 20%; font-size: 12px;">
                        #{evento.descricao}
                    </p:column>
                </p:dataTable>

                <!-- Deletar noticia -->
                <p:confirmDialog id="confirmDialog"
                                 message="Deseja realmente apagar o evento: #{eventoController.selected.titulo} ?"
                                 header="Comfirmar exclusão" severity="alert" widgetVar="confirmation">

                    <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                     actionListener="#{eventoController.delete()}" update=":formDados:eventos"/>
                    <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                </p:confirmDialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>

