<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Intranet Administração - Adicionar Relatórios
    </ui:define>
    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Mensagens</h2></legend>

            <p:dialog widgetVar="enviarMensagem" header="Enviar Mensagem" width="450" showEffect="clip"
                      hideEffect="clip" dynamic="true">
                <h:form id="msgForm" prependId="false">
                    <p:growl id="growl"/>
                    <h:panelGrid columns="1">
                        <h:outputText value="Entre com o(s) nome(s)" style="color: #555; font-size: 12px;"/>

                        <p:autoComplete id="advanced" value="#{mensagensController.funcionariosSelecionados}"
                                        completeMethod="#{mensagensController.complete}"
                                        var="p" itemLabel="#{p.nome}" itemValue="#{p}" converter="baseEntityConverter"
                                        multiple="true" style="font-size: 12px;">


                            #{p.nome}

                        </p:autoComplete>

                        <h:outputLabel value="Mesagem"/>
                        <p:inputTextarea value="#{mensagensController.value.mensagem}"
                                         style="width: 410px; height: 80px;"/>

                        <h:outputLabel value="Tipo"/>
                        <p:selectOneMenu value="#{mensagensController.value.tipo}">
                            <f:selectItems value="#{utilController.tiposDeMensagem}" var="g"
                                           itemValue="#{g}" itemLabel="#{g.label}"/>
                        </p:selectOneMenu>

                        <p:column>
                            <p:commandButton value="Enviar" actionListener="#{mensagensController.add()}"
                                             style="font-size: 11px;" oncomplete="PF('enviarMensagem').hide()"
                                             update=":formDados"/>
                            <p:spacer width="20"/>
                            <p:commandButton value="Cancelar" type="button" onclick="PF('enviarMensagem').hide()"
                                             style="font-size: 11px;"/>
                        </p:column>
                    </h:panelGrid>
                </h:form>
            </p:dialog>


            <p:growl autoUpdate="true"/>
            <h:form id="formDados">

                <p:menubar id="menus" style="height: 30px; width: 650px;box-sizing: content-box;">
                    <p:menuitem value="Enviar Mensagem" icon="ui-icon-disk" style="font-size: 11px;"
                                onclick="PF('enviarMensagem').show();"/>
                </p:menubar>

                <br/>

                <p:dataTable id="mensagemTable" var="mensagem" value="#{mensagensController.lazyData}"
                             emptyMessage="Não foi encontrado nenhum resultado"
                             selectionMode="single" selection="#{mensagensController.selected}"
                             rowKey="#{mensagem.id}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             lazy="true" resizableColumns="true" editable="true">

                    <p:ajax event="rowSelect" update=":formDados:menus :formDados:confirmDialog"/>

                    <p:column headerText="Id" filterBy="#{mensagem.id}" filterMatchMode="contains" width="40"
                              filterMaxLength="4" filterStyle="width: 30px;" style="font-size: 12px;">
                        #{mensagem.id}
                    </p:column>

                    <p:column headerText="Mensagem" filterBy="#{mensagem.mensagem}" filterMatchMode="contains"
                              width="200" filterStyle="width: 150px;" style="font-size: 12px;">
                        #{mensagem.mensagem}
                    </p:column>

                    <p:column headerText="Destinatario" filterBy="#{mensagem.destinatario.nome}"
                              filterMatchMode="contains" width="200" filterStyle="width: 150px;"
                              style="font-size: 12px;">
                        #{mensagem.destinatario.nome}
                    </p:column>

                    <p:column headerText="Data de envio" filterBy="#{mensagem.dataDeEnvio}" width="90"
                              style="font-size: 12px;">

                        <h:outputText value="#{mensagem.dataDeEnvio}">
                            <f:convertDateTime parent="dd MMMM yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Visivel" filterBy="#{mensagem.visualizada}" filterMatchMode="contains"
                              width="90" filterStyle="width: 80px;" style="font-size: 12px;">
                        <h:outputText value="Sim" rendered="#{mensagem.visualizada}"/>
                        <h:outputText value="Não" rendered="#{!mensagem.visualizada}"/>
                    </p:column>

                </p:dataTable>
                <p:confirmDialog id="confirmDialog"
                                 message="Deseja realmente apagar este destaque: #{mensagensController.selected.id} ?"
                                 header="Comfirmar exclusão" severity="alert" widgetVar="confirmation">

                    <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                     actionListener="#{mensagensController.delete()}" update=":formDados"/>
                    <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                </p:confirmDialog>
            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>

