<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../resources/templates/admTemplate_bootStrap.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
        >

    <ui:define name="title">
        Intranet Administração - Relatos
    </ui:define>

    <ui:define name="content">
        <br/>
        <fieldset>
            <legend><h2>Relato</h2></legend>

            <p:dialog id="editar" widgetVar="dlg" header="Editar Relato"
                      resizable="false" showEffect="clip" hideEffect="clip" dynamic="true">
                <h:form id="formEdit" prependId="false" style="font-size: 11px;">
                    <h:panelGrid columns="1">
                        <h:outputLabel value="Funcionário"/>
                        <p:inputText value="#{relatoController.selected.funcionario.nomeGuerra}" size="50"/>
                        <h:outputLabel value="Relato"/>
                        <p:inputTextarea value="#{relatoController.selected.relato}" maxlength="200" autoResize="false"
                                         style="font-size: 12px;" cols="5" rows="10"/>
                        <h:outputText value="Aprovado"/>
                        <p:selectBooleanCheckbox value="#{relatoController.selected.aprovado}"/>
                        <br/>
                        <hr style="border: none; border-bottom: 1px solid rgb(221, 221, 221);"/>
                        <p:commandButton value="Salvar" actionListener="#{relatoController.edit()}"
                                         oncomplete="PF('dlg').hide()" update=":listRelatos:relatos :editar"/>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
            <p:dialog id="aprovar" widgetVar="aprovarREL" header="Aprovar Relato" resizable="false" showEffect="clip"
                      dynamic="true">
                <h:form id="formAprove" prependId="false" style="font-size: 11px;">
                    <h:panelGrid columns="1">

                        <p:commandButton value="Aprovar" actionListener="#{relatoController.aprovar()}"
                                         update=":listRelatos:relatos :aprovar"/>
                    </h:panelGrid>
                </h:form>

            </p:dialog>

            <h:form id="listRelatos">
                <p:menubar id="menus" style="height: 30px; width: 600px;box-sizing: content-box;">
                    <p:menuitem value="Aprovar" icon="ui-icon-disk" style="font-size: 11px;"
                                onclick="PF('aprovarREL').show()" rendered="#{relatoController.menu}"/>
                    <p:menuitem value="Excluir" icon="ui-icon-close" style="font-size: 11px;"
                                onclick="PF('confirmation').show();" rendered="#{relatoController.menu}"/>
                    <p:menuitem value="Editar" icon="ui-icon-pencil" style="font-size: 11px;"
                                rendered="#{relatoController.menu}" onclick="PF('dlg').show();"/>
                </p:menubar>

                <br/>
                <p:dataTable id="relatos" var="relato" value="#{relatoController.relatosADM}"
                             emptyMessage="Não foi encontrado nenhum resultado"
                             selectionMode="single" selection="#{relatoController.selected}"
                             rowKey="#{relato.id}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5, 10, 30" lazy="true" resizableColumns="true">
                    <p:ajax event="rowSelect" update=":listRelatos:menus :aprovar :editar"/>
                    <p:column headerText="Id" filterBy="#{relato.id}" filterMatchMode="contains" width="40"
                              filterMaxLength="4" filterStyle="width: 30px;" style="font-size: 12px;">
                        #{relato.id}
                    </p:column>

                    <p:column headerText="Relato" filterBy="#{relato.relato}" filterMatchMode="contains" width="200"
                              filterStyle="width: 150px;" style="font-size: 12px;">
                        #{relato.relato}
                    </p:column>
                    <p:column headerText="Status" style="font-size: 12px; width: 13%;">
                        <h:outputText value="aprovado" rendered="#{relato.aprovado}"/>
                        <h:outputText value="em analise" rendered="#{!relato.aprovado}"/>
                    </p:column>

                    <p:column headerText="Data de Envio" filterBy="#{relato.dataEnvio}" filterMatchMode="contains"
                              width="200" filterStyle="width: 150px;" style="font-size: 12px;">
                        #{relato.dataEnvio}
                    </p:column>

                    <p:column headerText="Funcionario" filterBy="#{relato.funcionario.nomeGuerra}"
                              filterMatchMode="contains" width="200" filterStyle="width: 150px;"
                              style="font-size: 12px;">
                        #{relato.funcionario.nomeGuerra}
                    </p:column>
                    <p:confirmDialog id="confirmDialog" message="Realmente deseja excluir o Relato?"
                                     header="Comfirmar exclusão" severity="alert" widgetVar="confirmation">

                        <p:commandButton id="confirm" value="Sim" oncomplete="PF('confirmation').hide()"
                                         actionListener="#{relatoController.delete()}" update="relatos :confirmDialog"/>
                        <p:commandButton id="decline" value="Não" onclick="PF('confirmation').hide()" type="button"/>

                    </p:confirmDialog>
                </p:dataTable>

            </h:form>
        </fieldset>
    </ui:define>
</ui:composition>

