<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="conteudo">

        <h:form id="form">
            <div class="container" style="margin-top: 80px; min-height: 100%;">
                <div class="col-md-9">
                    <h2>Notícias [DS]</h2>
                    <div class="row rowMarginBottom">
                        <div class="col-md-6 noPading">
                            <ui:insert name="slider">
                                <div id="carousel-topo" class="galeria carousel slide" style="margin-top: 0px">
                                    <ol class="carousel-indicators">
                                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoDS)}" varStatus="cont">
                                            <li data-target="#carousel-topo" data-slide-to="#{cont.index}" class="#{cont.index eq '0'? 'active':''}"></li>
                                        </ui:repeat>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <ui:repeat var="des" value="#{destaqueController.getDestaqueByMercado(utilController.mercadoDS)}" varStatus="aux">
                                            <div class="item #{aux.index eq '0'? 'active':''}">
                                                <a href="#{destaqueController.enderecoUrl(des)}" target="_blank"
                                                   title="Clique aqui para saber mais.">
                                                    <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(des.imagem.archive.url)}" style="max-height: 225px;"/>
                                                </a>
                                            </div>
                                        </ui:repeat>
                                    </div>
                                    <a class="left carousel-control" href="#carousel-topo" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-topo" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </ui:insert>
                        </div>

                        <!-- inicio miniaturas noticias -->
                        <ui:repeat value="#{noticiasMercadoController.getNoticiasMercado(utilController.mercadoDS)}" var="noticia">
                            <div class="col-md-3 noPadingRight" id="#{noticiasMercadoController.getNoticiasMercado(utilController.mercadoDS) eq noticia ? 'first-1' : 'nada'}">
                                <div class="holder">
                                    <div class="capa">
                                        <img src="#{servidorImagensController.restUrl}#{servidorImagensController.getFileName(noticia.capa.archive.url)}" alt="" height="100px" width="100%"/>
                                    </div>
                                    <div class="description">
                                        <div class="text">
                                            <div class="post-mercado">#{noticia.mercado}</div>
                                            <div class="post-titulo">
                                                <a href="/noticia/#{noticia.id}"><h3 class="#{noticia.mercado.label.toLowerCase()}">
                                                        #{noticia.title}
                                                    </h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h:outputText escape="false" value='&lt;/div&gt;&lt;div class="row rowMarginBottom"&gt;' rendered="#{noticiasMercadoController.ultimasNoticias.get(1) eq noticia}" />                            
                        </ui:repeat>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 noPading">
                            <div id="categorias" class="categorias">
                                <div id="sidebar">
                                    <h5 style="margin-bottom: 23px;">Notícias por Mercado</h5>
                                    <ul class="menu-sidebar">
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/adm/newsADM">ADM</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/agro/newsAGRO">AGRO</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/gov/newsGOV">GOV</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/pf/newsPF">PF</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/mercado/pj/newsPJ">PJ</a></li>
                                        <li><a href="#{facesContext.externalContext.requestContextPath}/superto/noticias-mercados">NOTÍCIAS</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"/>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav>
                            <ul class="pagination">
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </h:form>
        <link href="#{facesContext.externalContext.requestContextPath}/resources/css/mercados/noticias-mercado/noticias-mercados.css" rel="stylesheet" type="text/css"/>
    </ui:define>
    <ui:define name="chamadaJquery" />

</ui:composition>