<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <style>
            /* sobrescreve css */

            h2 {
                margin: 0;
                color: #262626;
                padding: 8px 10px 5px 10px;
                font-family: 'Oswald', sans-serif;
                border-left: 2px solid #262626;
                text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
            }

            .ui-growl-item {
                margin-top: 80px;
            }
            .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
                margin-top: 0px !important;
            }
            
            .fc-event, .fc-event-inner{
                background-color: #f9dd16;
                border-color: #004a93;
                color: #000;
                font-size: 14px;
                height: 29px;
            }
            .fc-header, .fc-header-inner{
                background-color: #ffeeaa;
                border-color: #004a93;
                color: #fff;
                font-size: 14px;
                height: 18px;
            }
            .fc-button-next, .fc-button-prev
            {
                width: 20%;
                height: 60%;
                margin-top: 9%;
                opacity: 0.5;
            }
            .fc-button-today
            {
                color: #000;
                width: 20%;
                margin-left: -10em;
                margin-top: 4em;
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Intranet Macros
    </ui:define>
    
    <ui:define name="conteudo">
        <div class="container-fluid" style="margin-top: 80px;">
        <p:tabView id="tabView">
            <p:tab title="Tabela de Macros">
                <div>
                    <h2 class="col-xs-10">Lista de Macros</h2>
                </div>
                
                <h:form id="formDividas" prependId="false">
                    <div class="row">
                        <p:dataTable id="tblmacros" widgetVar="tblmacros" var="macro"
                                     value="#{macroController.macros}" lazy="true"
                                     selectionMode="single" selection="#{macroController.selected}"
                                     emptyMessage="Nenhuma Macro Existente!" rowKey="#{macro.id}" filterDelay="1000"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} 
                                     {RowsPerPageDropdown} {Exporters}"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     style="margin-bottom:20px" paginator="true" rows="10" paginatorPosition="bottom">
                            <p:ajax event="rowSelect" oncomplete="PF('dlgModificar').show();" update=":formEditar:dlgModificar" listener="#{averbacaoController.limpaObs}"/>
                            <p:ajax event="rowUnselect" update=":formEditar:dlgModificar :tabView:formDividas:tblmacros"/>

                            <f:facet name="{Exporters}">
                                <h:commandLink styleClass="icon-file-excel"
                                               style="position: absolute; right: 50px;font-size: 20.8px;margin-top: 5px;">
                                    <p:dataExporter type="csv" target="tblmacros" fileName="macros" encoding="utf-8"
                                                    pageOnly="false"/>
                                </h:commandLink>
                            </f:facet>

                            <f:facet name="header">
                            </f:facet>

                            <p:column  headerText="ID" filterMatchMode="contains"
                                       style="text-align: center;">
                                <h:outputText value="#{macro.id}" />
                            </p:column>
                            
                            <p:column filterBy="#{macro.nome}" headerText="Nome" filterMatchMode="contains"
                                      style="text-align: center;">
                                <h:outputText value="#{macro.nome}" />
                            </p:column>

                            <p:column filterBy="#{macro.relatorio}" headerText="Relatório" filterMatchMode="contains"
                                      style="text-align: center; ">
                                <h:outputText value="#{macro.relatorio}" />
                            </p:column>

                            <p:column filterBy="#{macro.motivo}" headerText="Motivo" filterMatchMode="contains"
                                      style="text-align: center; ">
                                <h:outputText value="#{macro.motivo}" />
                            </p:column>
                            
                            <p:column filterBy="#{macro.chaveSolicitante}" headerText="Solicitante" filterMatchMode="contains"
                                      style="text-align: center; ">
                                <h:outputText value="#{macro.chaveSolicitante}" />                                     
                            </p:column>
                       
                            <p:column style="text-align: center; ">
                                <f:facet name="header">
                                    <h:outputText value="Data"/>
                                </f:facet>
                                <h:outputText value="#{macro.dataCadastro}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <p:blockUI block="tblmacros" trigger="tblmacros">
                            <p:graphicImage value="#{resource['images/imagens/gif/ajaxLoadingBar.gif']}"/>
                        </p:blockUI>
                    </div>
                </h:form>
            </p:tab>
            
            <p:tab title="Adicionar Macro">
                <h:form id="frm3" prependId="false">
                        <p:tab title="Gerar Nova Macro">
                            <p:growl id="growl" showDetail="true" sticky="false"/>
                            <h:panelGroup id="painelGroup">
                                <h2>Adicionar Nova Macro</h2>
                                    
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Nome Macro: "/>
                                                <p:inputText value="#{macroController.nome}"
                                                             styleClass="form-control">
                                                </p:inputText>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Número Relatório: "/>
                                                <p:inputText value="#{macroController.relatorio}"
                                                             styleClass="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Responsável: "/>
                                                <p:inputText value="#{loginController.funcionario.fmatricula}" disabled="true"
                                                             styleClass="form-control"/>  
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="URL: (substitua o prefixo por XXX)"/>
                                                <p:inputText value="#{macroController.url}"
                                                             styleClass="form-control">
                                                </p:inputText>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <h:outputText value="Motivo: "/>
                                                <p:inputText value="#{macroController.motivo}"
                                                             styleClass="form-control">
                                                </p:inputText>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-4">
                                            <br/>
                                            <div style="margin-left: 40%;">
                                                <p:commandButton id="comandConfirm" value="Gerar Macro" action="#{macroController.add()}"
                                                         update=":tabView :script:scriptAlert"
                                                         onclick="PF('dlgModificar').hide();">
                                                </p:commandButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:tab>
                </h:form>
            </p:tab>

            
        </p:tabView>

        <h:form id="script">
            <h:panelGroup id="scriptAlert">
                <script type="text/javascript">
                    function verificaOperacao(msgSucess, msgError) {
                        var ok = #{averbacaoController.opSucess};
                        if (ok) {
                            mostraSucesso("Sucesso", msgSucess, 5000);
                        } else {
                            mostraError("Ooops!", msgError, 5000);
                        }
                    }
                </script>
            </h:panelGroup>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog id="dlgModificar" widgetVar="dlgModificar" width="75%" closeOnEscape="true" position="center"
                      modal="true" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <div class="logo-header">
                        <ui:include src="/resources/images/imagens/svg/logoheader.svg"/>
                        <h3 class="title-header">Macro Relatório #{macroController.selected.relatorio}</h3>
                    </div>
                </f:facet>
                <p:tabView>
                    <p:tab title="Informações">
                        <h3>#{macroController.selected.nome}</h3>
                        <h5>Url: #{macroController.selected.URL}</h5>
                        <h5>Solicitante: #{macroController.selected.chaveSolicitante}</h5>
                        <h5>Cadastrado em: #{macroController.selected.dataCadastro}</h5>
                        <h5>Motivo: #{macroController.selected.motivo}</h5>
                        <h5>Relatório: #{macroController.selected.relatorio}</h5>
                        
<!--                        <a href="../resources/arquivos/macros/macro#{macroController.selected.relatorio}.iim">
                            <img src="../resources/images/icones/png/FVC.png" alt="FVC" width="43px;"/>
                            <h1>BAIXAR MACRO</h1>
                        </a>-->
                        
                        <a href="./opt/glassfish4.1/glassfish4/glassfish/macro#{macroController.selected.relatorio}.iim" download="macro#{macroController.selected.relatorio}.iim">Download</a>
                    </p:tab>
                </p:tabView>
            </p:dialog>
        </h:form>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
        src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/adapters/jquery.js"
        type=""></script>
        <script>
                                        function criarCKEditor() {
                                            var conteudo = $('#inputhidden').val();
                                            $("#editorTextArea").ckeditor();
                                            CKEDITOR.instances.editorTextArea.setData(conteudo);
                                        }
        </script>
        <style>
            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
            } 
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(2), .ui-widget-header .botoes .ui-state-active:nth-child(2) {
                background-color: #0596F3;
            }
            .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(4), .ui-widget-header .botoes .ui-state-active:nth-child(4) {
                background-color: #F2776E;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(3), .ui-widget-header .botoes .ui-state-active:nth-child(3) {
                background-color: #0EB96A;
            }       .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(5), .ui-widget-header .botoes .ui-state-active:nth-child(5) {
                background-color: #A7A023;
            }           .ui-state-active, .ui-widget-content .botoes .ui-state-active:nth-child(6), .ui-widget-header .botoes .ui-state-active:nth-child(6) {
                background-color: #CF2222;
                color: #000;
            } 
        </style>
         </div>
    </ui:define>
</ui:composition>