<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="#{facesContext.externalContext.requestContextPath}/resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery" />
    <ui:define name="conteudo">
        <div class="container" style="margin-top: 80px;">
            <h:form enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <p:growl id="messages" showDetail="true"/>
                        <p:fileUpload fileUploadListener="#{testeCropper.handleFileUpload}" mode="simple"
                                      auto="true" dragDropSupport="false" fileLimit="1"
                                      multiple="false" update="imagem" sizeLimit="100000" 
                                      allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                    </div>
                    <div class="col-md-3">
                        <p:graphicImage id="imagem" />
                    </div>
                </div>
            </h:form>
        </div>

        <style>
            #footer {
                position: absolute;
                bottom: 0;
            }
        </style>
    </ui:define>
</ui:composition>