<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>SUPER TO - ERRO 404!</title>
    <h:outputStylesheet library="css/font-face" name="fonts.css"/>
    <h:outputStylesheet library="bootstrap3/css" name="bootstrap.min.css"/>
    <h:outputStylesheet library="css/errorPage" name="page404.css"/>
</h:head>
<h:body>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-offset-2 col-md-3">
                <h:graphicImage library="images/icones/svg" name="logo_superGrey.svg"/>
            </div>
            <div class="col-lg-4 col-md-7">
                <h1>404</h1>

                <h3>Página não encontrada!</h3>

                <h2>ERRO!</h2>
                <a href="/" class="btn">Página Principal</a>
            </div>
        </div>
    </div>
</h:body>
</html>

