<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <style>
        html {
            height: 100%;
            padding: 0;
        }

        body {
            background: url('/mid-bg.png') repeat;
            padding: 0;
            margin: 0;
            height: 100%;
            position: relative;
        }

        #main {
            height: 100%;
            min-height: 100%;
            background-color: #24201F;
            background-size: 100% auto;
            background-image: url('./resources/images/imagens/png/Logo-Banco-do-Brasil.png');
            width: 100%;
            background-position: center bottom;
            background-repeat: no-repeat;
        }

        .texto {
            margin: 0px;
            width: 1500px;
        }

        .texto p {
            padding: 20px;
            margin: 0;
            font-family: sans-serif;
            line-height: 30px;
        }
    </style>
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Intranet Super TO</title>
        <style>
            .login-form {
                width: 450px;
                margin-left: 35%;
                margin-top: 2%;
                position: absolute;
                text-align: center;
                border: 1px solid transparent;
                border-radius: 5px;
                height: 250px;
               
            }

           

            .login-form .header {
                padding: 10px 0px 5px 30px;
            }

            .login-form .header h1 {
                line-height: 34px;
                color: #414848;
                margin-bottom: 10px;
                font-weight: bold;
                font-family: Serif;
                font-size: 30px;
                text-shadow: 0px 0px 2px #808080;
            }

            .login-form .header span {
                color: #414848;
                line-height: 16px;
                font-weight: bold;
                font-family: serif;
                font-size: 15px;
                text-shadow: 0px 0px 1px #808080;
            }

           
            .login-form .content {
                padding: 10px 100px 25px;
            }

            
            .login-form .content .input {
                height: 15px;
                padding: 15px 25px;
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #9D9E9E;
                text-shadow: 1px 1px 0px #FFF;
                background: none repeat scroll 0% 0% #FFF;
                border: 1px solid #FFF;
                border-radius: 5px;
                -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
                -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
                width: 150px;
            }

           

            .login-form .content .input:hover {
                background: #dfe9ec;
                color: #414848;
            }

            .login-form .content .input:focus {
                background: #dfe9ec;
                color: #414848;

                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            }

            .user-icon, .pass-icon {
                width: 46px;
                height: 47px;
                display: block;
                position: absolute;
                left: 0px;
                padding-right: 2px;
                z-index: -1;

                -moz-border-radius-topleft: 5px;
                -moz-border-radius-bottomleft: 5px;
                -webkit-border-top-left-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;
            }

            .user-icon {
                top: 153px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
                background: rgba(65, 72, 72, 0.75);
            }

            .pass-icon {
                top: 201px;
                background: rgba(65, 72, 72, 0.75);
            }

            .content input:focus + div {
                left: -46px;
            }

            /* Animation */
            .input, .user-icon, .pass-icon, .button, .register {
                transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
            }

            .btn_logar {
                background-image: url('./resources/images/icones/svg/botaologin.svg');
                background-size: 100%;
                border-color: #FFF;
                box-shadow: 0px 0px 5px 2px #FFF;
            }

            .btn_logar {
                background-image: url('./resources/images/icones/svg/botaologin.svg');
                background-size: 100%;
                border-color: #FFF;
                box-shadow: 0px 0px 5px 2px #FFF;
            }

            .ui-state-hover {
                color: inherit;
                background: url('./resources/images/icones/svg/botaologin.svg');
                background-size: 100%;
                outline: none;
            }

            .btn_logar:hover {
                box-shadow: 0px 0px 1px 2px gray;
            }
        </style>
        <link rel="shortcut icon" href="/resources/images/icones/ico/favicon.ico"/>
    </h:head>
    <h:body>
        <div id="main">
            <p:growl id="growl" life="2000"/>
            <h:form styleClass="login-form">
                <div class="content">
                    <p:inputText id="keyname" value="#{loginController.name}" styleClass="input username" maxlength="8"/>
                    <p:watermark for="keyname" value="Chave"/>

                    <div class="user-icon" style="background-image: url('./resources/images/userpainel2.png')"></div>
                    <p:password id="pass" value="#{loginController.password}" styleClass="input password" maxlength="8"/>
                    <p:watermark for="pass" value="Senha"/>

                    <div class="pass-icon"></div>
                </div>

                <div id="div_btn_logar" style="margin-left: 210px;margin-top: -111px;">
                    <p:commandButton style="border-radius: 50%;width: 80px;height: 80px;" styleClass="btn_logar" value=""
                                     ajax="true" action="#{loginController.login()}" update=":growl" />
<!--                    <p:commandButton style="border-radius: 50%;width: 80px;height: 80px;" styleClass="btn_logar" value=""
                                     ajax="true" onclick="fazerLogin()" update=":growl" />-->
<!--                    ainda ta bugado... conferir assim mesmo se ele ta pegando a url certa la no java, e imprimir (pra conferir)
                    caso esteja certo, procurar como resolve esse problema-->
                </div>
            </h:form>
        </div>

    </h:body>
</html>

