<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:saot="http://shiro.apache.org/tags">
    <f:view contentType="text/html" >
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/resources/images/shortcut.png" type="image/x-icon" />
            <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/css/default.css"/>
            <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/css/component.css"/>
            <script src="/resources/js/jquery/jquery.min.js"/>
            <h:outputStylesheet library="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/css" name="component.css" />
            <title>
                <ui:insert name="title" />
            </title>
            <ui:insert name="header" />

            <script type="text/javascript">
                $(document).ready(function () {
                    $('.navbar-header .nav-toggle').click(function () {
                        $('ul#cbp-tm-menu').slideToggle();
                    });
                });

                $(window).resize(function () {
                    if ($(window).width() > 700) {
                        $('#cbp-tm-menu').css('display', 'block');
                    }
                });
            </script>
        </h:head>
        <h:body>
            <ui:insert name="menu-topo">
                <h:form>
                    <div class="navbar-header">
                        <a href="#{facesContext.externalContext.requestContextPath}/">
                            <img id="logobb_menu" src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/svg/logo_superGrey.svg" style="height: 80%"/>
                        </a>
                        <div class="nav-toggle" id="nav-header-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </div>
                    <ul id="cbp-tm-menu" class="cbp-tm-menu">
                        <li>
                            <a href="/">
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/home3.svg"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://correioweb.bb.com.br/" target="_blank">                         
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/mail.svg" />
                            </a>
                        </li>
                        <li>
                            <a href="http://intranet.bb.com.br" target="_blank">                           
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/intranet.svg" /> 
                            </a>
                        </li>
                        <li>
                            <a href="https://intranet1.bb.com.br/inc/home.ctr" target="_blank" id="in"> 
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/in.svg"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://plataforma.atendimento.bb.com.br:49286/gaw/APPS/index.bb" target="_blank"  id="plataforma">                           
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/plataforma2.svg"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www2.bancobrasil.com.br/aapf/login.jsp" target="_blank">                           
                                <ui:include src="#{facesContext.externalContext.requestContextPath}/resources/images/icones/templateSuperto/dollar.svg" />
                            </a>
                        </li>
                        <li id="user">
                            <a href="#">#{loginController.funcionario.nome}</a>
                            <ul class="cbp-tm-submenu">                           
                                <li>           
                                    <h:commandLink action="#{loginController.logout()}" class="cbp-tm-icon-contract">
                                        <h:outputText value="Logout" id="logout"/>
                                    </h:commandLink>
                                </li>
                                <saot:hasRole name="administrador">
                                    <li><a href="/admin" class="cbp-tm-icon-cog">Administração</a></li>
                                </saot:hasRole>
                            </ul>
                        </li>
                    </ul>
                </h:form>

                <!--                <div class="filler-below"></div>-->
                <script src="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/js/cbpTooltipMenu.min.js" />
                <script src="#{facesContext.externalContext.requestContextPath}/resources/css/menu-topo/js/modernizr.custom.js" />
                <script>
                var menu = new cbpTooltipMenu(document.getElementById('cbp-tm-menu'));
                </script>

            </ui:insert>
        </h:body>
    </f:view>
</html>