<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="header">
        <!--Css do SweetAlert-->
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <style>
            #footer {
                bottom: 0;
            }
        </style>
    </ui:define>

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="conteudo">
        <div id="corpo" class="container" style="margin-top: 80px;">
            <div class="row">
                <!--<h2>Resolve</h2>-->
                <p:separator/>
            </div>

            <div class="row">
                <h:form id="form" prependId="false">
                    <p:dataTable id="resolvesTable" var="resolve" value="#{resolveController.lazyData}"
                                 emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%; "
                                 selection="#{resolveController.selected}" selectionMode="single"
                                 filteredValue="#{resolveController.resolvesFiltrados}" filterDelay="1000"
                                 lazy="true" paginatorPosition="bottom" 
                                 rowKey="#{resolve.id}" paginator="true" rows="20"
                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"
                                 resizableColumns="true"
                                 rowsPerPageTemplate="20, 30, 50"
                                 scrollable="true"
                                 scrollHeight="100%"
                                 >
                        <f:facet name="header">
                            <h3>Resolves</h3>
                            <p:commandButton id="toggler" type="button" value="Colunas" style="float:right; margin-top: -5%;" icon="ui-icon-calculator" />
                            <p:columnToggler datasource="resolvesTable" trigger="toggler" />
                        </f:facet>
                        
                        <p:ajax event="rowSelect" update=":formEdit:mostrar"
                                oncomplete="PF('mostrarResolves').show();"/>

                        <p:column headerText="Gestor" filterStyle="width: 95%" filterBy="#{resolve.prefixo}" width="6%" 
                                  filterMatchMode="contains" styleClass="text-center">
                            #{resolve.prefixo}
                        </p:column>
                        <p:column headerText="NR" filterStyle="width:95%" filterBy="#{resolve.numero}" width="7%"
                                  filterMatchMode="contains" styleClass="text-center">
                            #{resolve.numero}
                        </p:column>
                        <p:column headerText="IN" filterStyle="width:95%" filterBy="#{resolve.numeroIN}" width="8%"
                                  filterMatchMode="contains" styleClass="text-center">
                            #{resolve.numeroIN}
                        </p:column>
                        <p:column headerText="Consulta" filterStyle="width:95%" filterBy="#{resolve.consulta}" width="25%"
                                  filterMatchMode="contains"  >
                            #{resolve.consulta}
                        </p:column>
                        <p:column headerText="Descrição" filterStyle="width:95%" filterMatchMode="contains" width="50%"
                                  filterBy="#{resolve.descricao}">
                            #{resolve.descricao}
                        </p:column>
                        <p:column headerText="Data" style="text-align: center;" width="10%">
                            <h:outputText value="#{resolve.data}">
                                <f:convertDateTime pattern="MM/yyyy" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>

            <h:form id="formEdit" prependId="false">
                <p:dialog id="mostrar" widgetVar="mostrarResolves" header="RESOLVE"
                          resizable="false" draggable="true" modal="true" showEffect="fade" hideEffect="fade"
                          dynamic="true" width="80%" height="400px">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <h3>Gestor</h3>
                            </div>
                            <div class="col-xs-4">
                                <h3>NR</h3>
                            </div>
                            <div class="col-xs-4">
                                <h3>IN</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.prefixo}"
                                             disabled="true"/>
                            </div>
                            <div class="col-xs-4">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.numero}"
                                             disabled="true"/>
                            </div>
                            <div class="col-xs-4">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.numeroIN}"
                                             disabled="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>Consulta</h3>
                            </div>
                            <div class="col-xs-6">
                                <h3>Data</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.consulta}" disabled="true"/>
                            </div>
                            <div class="col-xs-6">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.data}"
                                             disabled="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>
                                    Descrição
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="well">
                                    <h:outputText value="#{resolveController.selected.descricao}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <f:facet name="footer">
                        <div style="text-align: right">
                            <p:commandLink styleClass="btn btn-info" value="Fechar" onclick="PF('mostrarResolves').hide()"/>
                        </div>
                    </f:facet>
                </p:dialog>
            </h:form>
        </div>
            
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>

        <!--SweetAlert-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>

        <!--Internacionalização das mensagens do SweetAlert-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
    </ui:define>
</ui:composition>
