<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="header">
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
    </ui:define>

    <ui:define name="conteudo">
        <div id="corpo" class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="sixteen columns">
                    <div class="breadcrumb">
                        <a href="#{facesContext.externalContext.requestContextPath}/"
                           class="first_bc"><span>Página Inicial</span></a>
                        <a href="#" class="last_bc"><span>Contatos diários</span></a>
                    </div>
                </div>
            </div>

            <h4 class="title"><span>CONTATOS DIÁRIOS</span></h4>

            <!--     <div class="twelve columns" align="right"> -->
            <script>
                function limpar() {
                    platCad.entradaMCI.value = "";

                }
            </script>

            <h:form id="platCad" style="font-size:11px;" prependId="false" onsubmit="">
                #{carteiraController.modificarCarteira(loginController.funcionario.prefixo)}
                #{contatoController.selecionarFuncionario(loginController.funcionario)}
                <h:outputLabel value="#{loginController.funcionario.prefixo}"/>
                <br/>

                <p:growl id="growl" showDetail="true"/>

                <h:outputLabel value="Selecione a carteira"/>


                <p:selectOneMenu value="#{contatoController.value.carteira}" converter="baseEntityConverter"
                                 style="width: 160px">
                    <f:selectItems value="#{carteiraController.todosOsResolves}" var="carteira"
                                   itemValue="#{carteira}" itemLabel="#{carteira.nrCarteira}"/>
                    <p:ajax event="change" listener="#{contatoController.calcContatos()}"
                            onsuccess="PF('exibeContatos').show()"/>
                </p:selectOneMenu>
                <br/>
                <br/>

                <h:outputLabel value="MCI do Cliente"/>
                <p:inputText id="entradaMCI" value="#{contatoController.value.mci}" size="20" maxlength="9"/>

                <p:selectCheckboxMenu value="#{contatoController.value.produtos}" label="Escolha os produtos"
                                      filter="true" filterMatchMode="startsWith" panelStyle="width:220px">
                    <f:selectItems value="#{contatoController.produtos}"/>
                </p:selectCheckboxMenu>

                <p:separator style="margin-bottom:10px"/>
                <h:outputLabel value="Registro referente a data de:"/>
                <p:selectOneListbox id="basic" value="#{contatoController.numData}">
                    <f:selectItem itemLabel="Hoje" itemValue="1"/>
                    <f:selectItem itemLabel="Dia útil anterior" itemValue="2"/>
                </p:selectOneListbox>

                <br/>
                <p:dialog header="Selecione os produtos" modal="true" showEffect="fade" hideEffect="fade"
                          widgetVar="dlg" resizable="false">
                    <p:dataList id="display" value="#{contatoController.produtosSelecionados}" var="movie">
                        #{movie}
                    </p:dataList>
                </p:dialog>
                <h:outputLabel value="Status do contato"/>
                <p:selectOneMenu value="#{contatoController.value.status}" style="width: 160px">
                    <f:selectItems value="#{contatoController.status}" var="status"
                                   itemValue="#{status}" itemLabel="#{status}"/>

                </p:selectOneMenu>

                <br/>
                <br/>
                <p:dialog id="exibirCont" widgetVar="exibeContatos" header="CONTATOS DE HOJE"
                          resizable="false" showEffect="clip" hideEffect="clip" dynamic="true"
                          rendered="#{contatoController.selected != null}" onShow="#{contatoController.calcContatos()}">
                    <h:form id="formEdit" prependId="false" style="font-size: 11px;">
                        <h:panelGrid columns="2">

                            <ui:param name="valor" value="#{contatoController.numContatos()}"/>

                            <div style="text-align: center">
                                <h:outputLabel
                                        value="Número de registros realizados hoje: #{valor} contatos de #{contatoController.meta}!"
                                        style="font-family: calibri; font-size: 14px;"/>
                                <br/>

                                <p:commandButton update=":platCad:exibirCont" style="alignment-adjust: central"
                                                 value="Fechar" oncomplete="PF('exibeContatos').hide()"/>
                            </div>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>
                <h:outputLabel value="Texto" rendered="false"/>

                <p:commandButton value="Registrar Contato" actionListener="#{contatoController.update()}"
                                 onclick="pbAjax.start();" update=":platCad:resolvesTable :platCad:growl"/>
                <br/>
                <br/>
                <p:dataTable id="resolvesTable" var="contato" value="#{contatoController.contatos}"
                             emptyMessage="Não foi encontrado nenhum resultado" style="width: 100%; "
                             selection="#{contatoController.selected}" selectionMode="single"
                             filteredValue="#{contatoController.contatosFiltrados}" filterDelay="1000"
                             rowKey="#{contato.ID}" paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             resizableColumns="true">

                    <!-- <p:ajax event="rowDblselect"  oncomplete="mostrarResolves.show()" update=":form:resolvesTable :mostrar :form:menus " /> -->

                    <p:column headerText="Prefixo" filterStyle="width: 95%" filterBy="#{contato.prefixo}" width="50"
                              filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.prefixo}
                    </p:column>

                    <p:column headerText="NR da Carteira" filterStyle="width:95%"
                              filterBy="#{contato.carteira.nrCarteira}" width="50" filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.carteira.nrCarteira}
                    </p:column>

                    <p:column headerText="Funcionário" filterStyle="width:95%" filterBy="#{contato.fmatricula}"
                              width="60" filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.fmatricula}
                    </p:column>
                    <p:column headerText="MCI" filterStyle="width:95%" filterBy="#{contato.mci}" width="60"
                              filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.mci}
                    </p:column>
                    <p:column headerText="Produtos" filterStyle="width:95%" width="120"
                              filterBy="#{contato.todosOsProdutos}" filterMatchMode="contains"
                              style="font-family: courier new; font-size: 12px;">
                        #{contato.todosOsProdutos}
                    </p:column>

                    <p:column headerText="Data" filterStyle="width:95%" filterMatchMode="contains" width="60"
                              style="font-family: courier new; font-size: 12px;">
                        #{contato.dataContato}
                    </p:column>

                    <p:column headerText="Status" filterBy="#{contato.status}" width="100" filterMatchMode="contains"
                              filterStyle="width:95%"
                              style="font-family: courier new; font-size: 12px; text-align: center">
                        #{contato.status}
                    </p:column>

                </p:dataTable>

                <p:blockUI block="resolvesTable" trigger="resolvesTable">
                    <p:graphicImage value="#{resource['images/loading.gif']}"/>
                </p:blockUI>

            </h:form>
        </div>

        <!--############ Importação JavaScript ############-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/ckeditor/ckeditor.js"></script>

    </ui:define>
</ui:composition>