<ui:composition template="./../../resources/templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="header">
        <!--Css do SweetAlert-->
        <link rel="stylesheet" type="text/css"
              href="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.css"/>
        <style>
            #footer {
                bottom: 0;
            }
        </style>
    </ui:define>

    <ui:define name="slider"/>
    <ui:define name="mercados"/>
    <ui:define name="broadcast"/>
    <ui:define name="chamadaJquery"/>

    <ui:define name="conteudo">
        <div id="corpo" class="container" style="margin-top: 80px;">
            <div class="row" style="text-align: center;">
                <h2>Simulador de Tarifas de Fundos de Investimentos</h2>
                <p:separator/>
            </div>
            
                <h:form id="formPesq">
                    <div class="row col-md-6" style="text-align: center;">
                        <div class="col-md-8">
                            <p:panel style="width: 15em;">
                                <p:outputLabel value="Segmento *"/>
                                    <h:selectOneMenu value="#{fundosController.segmento}"
                                            styleClass="form-control" style="width: 12em; height: 2em;">
                                        <f:selectItem itemLabel="Todos" itemValue="Todos" noSelectionOption="true"/>
                                        <f:selectItem itemLabel="Pessoa Fisica" itemValue="Pessoa Fisica" noSelectionOption="false"/>
                                        <f:selectItem itemLabel="Pessoa Juridica" itemValue="Pessoa Juridica" noSelectionOption="false"/>
                                    </h:selectOneMenu>
                            </p:panel>    
                        </div>
                        <div class="col-md-8">
                            <p:panel style="width: 15em; margin-top: 2px;" widgetVar="valor">
                                <p:outputLabel value="Valor (R$) *"/>
                                <p:inputText value="#{fundosController.valor}" maxlength="16" placeholder="Valor Desejado" style="width: 12em; height: 2em;">
                                    <p:ajax update="@widgetVar(info)" event="change"/>
                                    <p:ajax update="@widgetVar(valor)" event="change"/>
                                    <f:convertNumber type="number" maxFractionDigits="2" minFractionDigits="2"/>
                                </p:inputText>
                            </p:panel>  
                        </div>
                        <div class="col-md-4">
                            <p:panel style="border-color: #fff;">
                                <br/>
                                <p:commandLink styleClass="btn btn-success" value="Simular" actionListener="#{fundosController.GeraLista()}" update="@form :form:Table"
                                    onsuccess="" style="margin-left: -200px; margin-top: -105px; padding-top: 3em; background-color: #0EB96A; width: 87%; height: 400%; position: absolute; font-size: 20px;"/>
                            </p:panel> 
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <p style="float: left;"><b>*</b> = campo obrigatório para simulação.</p>
                        </div>
                        </div>
                    
                    <div class="col-md-6">
                        <p:panel style="height: 20%; width: 110%;">
                            <div class="col-md-12" style="text-align: center; margin-top: -1em;">
                                <h4>Consultar Tarifas</h4>
                            </div>
                            
                            <div class="col-md-2">
                                <p:panel style="width: 6em; border-color: #fff; margin-left: 1em;" widgetVar="codSelecionado">
                                    <p:outputLabel value="Código"/>
                                    <p:inputText value="#{fundosController.codigo}" maxlength="12" placeholder="Código Desejado" style="width: 4.1em; height: 2em;">
                                        <p:ajax update="@widgetVar(fundoSelecionado)" event="change"/>
                                        <p:ajax update="@widgetVar(info)" event="change"/>
                                    </p:inputText>
                                    <ul class="nav nav-pills" style="margin-top: -2.2em; height: 2em; margin-left: 4.5em; background-color: #0EB96A;">
                                        <li role="presentation" class="active">
                                            <a href="#">
                                                <i class="icon-plus"></i> OK
                                            </a>
                                        </li>
                                    </ul>
                                </p:panel>  
                            </div>
                            <div class="col-md-8">
                                <p:panel style="width: 23em; border-color: #fff; margin-left: 7em;" widgetVar="fundoSelecionado">
                                    <p:outputLabel value="Fundo"/>
                                        <h:selectOneMenu value="#{fundosController.escolhido}"
                                                         styleClass="form-control" style="height: 2em;">
                                            <f:selectItem itemLabel="Selecione" itemValue="#{null}" noSelectionOption="true"/>
                                            <f:selectItems value="#{fundosController.todos}"
                                                var="fundo"
                                                itemValue="#{fundo}"
                                                itemLabel="#{fundo}"/>
                                            <p:ajax update="@widgetVar(codSelecionado)" event="change"/>
                                            <p:ajax update="@widgetVar(info)" event="change"/>
                                        </h:selectOneMenu>
                                </p:panel>    
                            </div>
                            <p:panel style="border-color: #fff" widgetVar="info">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <p:outputLabel value="Tarifa" rendered="#{fundosController.selected!=null}" style="font-size: 16px;"/>
                                        <br/>
                                        <p:outputLabel value="#{fundosController.tarifa}" rendered="#{fundosController.selected!=null}" style="font-size: 16px; margin-top: 6px; text-align: center;">
                                            <f:convertNumber type="currency" maxFractionDigits="2"/>
                                        </p:outputLabel>
                                        <p:outputLabel value="Taxa:" class="col-md-8" rendered="#{fundosController.selected!=null}" style="font-size: 12px; margin-top: 6px; margin-left: -15px;"/>
                                        <h:outputText value="#{fundosController.selected.taxaadm/100}" class="col-md-4" rendered="#{fundosController.selected!=null}" style="font-size: 12px; margin-top: 6px; margin-left: -15px; font-weight: bold;">
                                            <f:convertNumber type="percent" maxFractionDigits="2" minFractionDigits="2"/>
                                        </h:outputText>
                                    </div>
                                </div>
                                <div class="col-md-8" style="font-size: 12px; width: 25em; margin-left: 20px;">
                                    <p:outputLabel value="Família: #{fundosController.selected.familia}" class="col-md-12" rendered="#{fundosController.selected!=null}"/>
                                    <p:outputLabel value="Segmento: #{fundosController.selected.segmento}" class="col-md-12" rendered="#{fundosController.selected!=null}"/>
                                    <p:outputLabel value="Aplicação Posterior: " class="col-md-8" rendered="#{fundosController.selected!=null}"/>
                                    <p:outputLabel value="#{fundosController.selected.aplicacaosubs}" class="col-md-4" rendered="#{fundosController.selected!=null}">
                                        <f:convertNumber type="currency" maxFractionDigits="2"/>
                                    </p:outputLabel>
                                </div>
                            </p:panel>
                        </p:panel>
                        </div>
                </h:form>
            <div class="row col-md-12">
                <h:form id="form" prependId="false">
                    <p:dataTable id="Table" widgetVar="TableFundos" var="fundo" value="#{fundosController.lista}"
                             emptyMessage="Realize uma nova simulação para obter resultados" style="margin-top: 20px; width: 140%; margin-left: -200px;"
                             selection="#{fundosController.selected}" selectionMode="single"
                             filteredValue="#{fundosController.listaDeFundosFilter}" filterDelay="1000"
                             paginatorPosition="bottom"
                             rowKey="#{fundo.id}" paginator="true" rows="20"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport} {Exporters}"
                             resizableColumns="true" rendered="#{true}">
                        <p:ajax event="rowSelect" update=":form:Table "/>
                        <f:facet name="header">
                            <h4 style="margin-left: 55em; width: 230px; position: absolute;">Automático</h4>
                            <h4 style="margin-left: 29em; width: 310px; position: absolute;">Aplicação</h4>
                            <p:commandButton id="toggler" type="button" value="Personalizar Colunas" style="height: 4%; margin-left: -85em;" icon="ui-icon-calculator" />
                            <p:columnToggler datasource="Table" trigger="toggler" />
                        </f:facet>
                        <f:facet name="{Exporters}">   
                            <h:commandLink value="PDF" styleClass="btn btn-success" style="float: right; margin-left: 0.2em; background-color: #0596F3; border-color: #0596F3;"> 
                                <p:dataExporter type="pdf" target="Table" fileName="Fundos" encoding="UTF-8"/>
                            </h:commandLink>
                            <h:commandLink value="CSV" styleClass="btn btn-success" style="float: right; background-color: #FFAA00; border-color: #0596F3;">
                                <p:dataExporter type="csv" target="Table" fileName="Fundos" encoding='UTF-8'/>
                            </h:commandLink>
                        </f:facet>
                        <p:column headerText="Cód" filterBy="#{fundo.id}"
                                  filterMatchMode="contains" styleClass="text-center" style="width: 60px; font-size: 12px; margin-top: -5em;" filterStyle="width: 42px">
                            <h:outputText value="#{fundo.id}"/>
                        </p:column>
                        <p:column headerText="Fundo" filterBy="#{fundo.nomefundo}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{fundo.nomefundo}"/>
                        </p:column>
                        <p:column headerText="Família" filterBy="#{fundo.familia}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{fundo.familia}"/>
                        </p:column>
                        <p:column headerText="Segmento" filterBy="#{fundo.segmento}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{fundo.segmento}"/>
                        </p:column>
                        <p:column headerText="Inicial" filterBy="#{fundo.aplicacaoinicial}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{fundo.aplicacaoinicial}">
                                <f:convertNumber type="currency" maxFractionDigits="2"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Posterior" filterBy="#{fundo.aplicacaosubs}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{fundo.aplicacaosubs}">
                                <f:convertNumber type="currency" maxFractionDigits="2"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Créd. Resgate D + " filterBy="#{fundo.creditoResgate}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{fundo.creditoResgate}"/>
                        </p:column>
                        <p:column headerText="Aplicação" styleClass="text-center" filterBy="#{fundo.movautoaplicavao}" filterMatchMode="contains"
                                  style="width: 120px; font-size: 12px;" filterStyle="width: 92px;">
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('TableFundos').filter()" style="width: 80%">
                                    <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                    <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                </p:selectOneMenu>
                            </f:facet> 
                            <h:outputText value="#{fundo.movautoaplicavao == 'true'? 'Sim' : 'Não'}"/>
                        </p:column>
                        <p:column headerText="Resgate" styleClass="text-center" sortBy="#{fundo.movautoresgate}" 
                                  filterBy="#{fundo.movautoresgate}" filterMatchMode="contains" style="width: 120px; font-size: 12px;" filterStyle="width: 92px">
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('TableFundos').filter()" style="width: 80%">
                                    <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Sim" itemValue="#{true}" />
                                    <f:selectItem itemLabel="Não" itemValue="#{false}" />
                                </p:selectOneMenu>
                            </f:facet> 
                            <h:outputText value="#{fundo.movautoresgate == 'true'? 'Sim' : 'Não'}"/>
                        </p:column>
                        <p:column headerText="Taxa Administração" filterBy="#{fundo.taxaadm/100}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{fundo.taxaadm/100}">
                                <f:convertNumber type="percent" maxFractionDigits="2" minFractionDigits="2"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Tarifa" filterBy="#{((fundo.taxaadm * fundosController.valor)/100) / 12}" filterMatchMode="contains" styleClass="text-center" style="font-size: 12px;">
                            <h:outputText value="#{((fundo.taxaadm * fundosController.valor)/100) / 12}" style="font-weight: bold; font-size: 14px;">
                                <f:convertNumber type="currency" maxFractionDigits="2"/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>

            <h:form id="formEdit" prependId="false">
                <p:dialog id="mostrar" widgetVar="mostrarResolves" header="RESOLVE"
                          resizable="false" draggable="true" modal="true" showEffect="fade" hideEffect="fade"
                          dynamic="true" width="80%" height="400px">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <h3>Gestor</h3>
                            </div>
                            <div class="col-xs-4">
                                <h3>NR</h3>
                            </div>
                            <div class="col-xs-4">
                                <h3>IN</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.prefixo}"
                                             disabled="true"/>
                            </div>
                            <div class="col-xs-4">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.numero}"
                                             disabled="true"/>
                            </div>
                            <div class="col-xs-4">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.numeroIN}"
                                             disabled="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>Consulta</h3>
                            </div>
                            <div class="col-xs-6">
                                <h3>Data</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.consulta}" disabled="true"/>
                            </div>
                            <div class="col-xs-6">
                                <p:inputText styleClass="form-control" value="#{resolveController.selected.data}"
                                             disabled="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>
                                    Descrição
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="well">
                                    <h:outputText value="#{resolveController.selected.descricao}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <f:facet name="footer">
                        <div style="text-align: right">
                            <p:commandLink styleClass="btn btn-info" value="Fechar" onclick="PF('mostrarResolves').hide()"/>
                        </div>
                    </f:facet>
                </p:dialog>
            </h:form>
        </div>
            
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/jsBarraNav/barraNav.js"></script>

        <!--SweetAlert-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/sweetAlert/lib/sweet-alert.min.js"></script>

        <!--Internacionalização das mensagens do SweetAlert-->
        <script type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/customSweetAlert/mensagensSweetAlert.js"></script>
    </ui:define>
</ui:composition>
